[2022-11-02 15:19] blankse commented on #13500
[Issue-13500.webm](https://user-images.githubusercontent.com/998558/199528810-3fbd7eb7-be33-46bb-86de-3e6c3f3dae6a.webm)

[2022-11-02 15:59] brusch commented on #2499
| Editor    | Link                    |   License  | Suitable | Inline-Mode | Comment                                                                             |
|-----------|-------------------------|:----------:|:--------:|:-----------:|-------------------------------------------------------------------------------------|
| Quill     | https://quilljs.com/    |    BSD-3   |     👎    |      ❓

[2022-11-03 08:56] robertSt7 commented on #13358
closed with #13383

[2022-11-03 08:56] #13358 closed, assigned to nobody

[2022-11-03 10:06] robertSt7 commented on #13463
@dvesh3 It looks like that there is a problem with the symlinks from the assets. The following command should fix it: `php bin/console assets:install public --symlink --relative`

[2022-11-03 10:46] dkarlovi opened #13507 "[Bug]: backend search update fails in high concurrency situations"
### Expected behavior

Search backend updates work.

### Actual behavior

We're seeing hundreds of deadlock messages and our workers constantly crashing.

### Steps to reproduce

Have a high rate of update (say, import 30k objects) and multiple workers (we use 4). The rate of deadlocks is very high which ends up crashing our workers (which rely on DBAL based messenger).

Looking at the code which

[2022-11-03 13:27] dvelguru opened #13510 "[Bug]: ParamConverter returns an empty object"
### Expected behavior

[code]

<img width="384" alt="Bildschirm­foto 2022-11-03 um 13 49 52" src="https://user-images.githubusercontent.com/3622712/199724837-6f3d41f7-049e-4e21-bafc-fae9681d9b94.png">

### Actual behavior

<img width="371" alt="Bildschirm­foto 2022-11-03 um 13 50 36" src="https://user-images.githubusercontent.com/3622712/199724964-975e1667-0725-4233-9859-33358958fad6.png">

### St

[2022-11-03 14:28] robertSt7 commented on #13510
@dvelguru Thanks for reporting this bug with a fix. Could you please create a PR with your fix?

[2022-11-03 14:38] blankse commented on #13510
@dvelguru Why did you not name the static route param "family". This would work right? I think we should not hard code the route param name. It should be possible to have multiple.

[2022-11-03 14:47] mcop1 opened #13512 "[Task]: Implement method to get the version dependent system column name for data objects"
### Improvement description

We want to remove the "o_" prefix for system properties in pimcore 11. But those properties (or the corresponding db columns) are often used in direct (sql-) statement. For bundles we want to have the possibility to support Pimcore 10.x and 11.x, therefore this method is needed. You can call the method to get the proper name for the property/column in the used version.

[2022-11-03 15:11] dvelguru commented on #13510
@blankse  It's really based on preference. But it will be used in the `getById()` method and not the `getByFamily()` method for example.

[2022-11-03 15:49] dvesh3 commented on #13463
I still can't reproduce the problem, so for me public files are not loaded for disabled bundles:
![image](https://user-images.githubusercontent.com/5137917/199768681-7f4a467e-29de-47e6-9a24-068264e9fee5.png)

![image](https://user-images.githubusercontent.com/5137917/199762841-250c8a7c-0368-4976-b820-99d377efb98f.png)

[2022-11-03 17:21] theofidry commented on #13412
@brusch I've tagged a new beta for v2. On my side everything is ready for tagging a stable release, but maybe you want to have a little check see if there is anything you're not happy with that would need to be fixed before that.

[2022-11-04 09:18] brusch opened #13517 "Concrete::getById() must return only Concrete objects"
### Improvement description

v11 follow-up to #13508

[2022-11-04 09:23] brusch commented on #13510
Agree with @blankse - name of placeholder on route and variable name in action have to match 🤗

[2022-11-04 09:23] #13510 closed, assigned to robertSt7

[2022-11-04 09:31] brusch commented on #13412
@theofidry thank you very much for your info, we bumped already to the v2-beta a couple of days ago 😊
See: https://github.com/pimcore/pimcore/pull/13480

We'll update `composer.json` again as soon as you have tagged the final release 😊

[2022-11-04 09:54] Cruiser13 commented on #2499
@brusch we recently used https://tiptap.dev on some of our projects and had a great developer experience. License is MIT.
We moved away from quill because of maintenance issues.

[2022-11-04 11:41] mcop1 commented on #13439
Hello @jacobsyentl,
I tried to reproduce the problem, but it seems fine for me:
![grafik](https://user-images.githubusercontent.com/89011527/199964263-cdf7c27a-b72c-4a55-9c94-6216a754cf9c.png)

Could you please export your class definition and attach as zip file in your comment?

[2022-11-04 11:43] mcop1 commented on #13489
Thanks, we will follow the issue through #13439

[2022-11-04 11:43] #13489 closed, assigned to mcop1

[2022-11-04 12:46] ChrisB9 commented on #2499
We, too, used [tiptap.dev](https://github.com/ueberdosis/tiptap) for a project and had a wonderful time integrating it, worked like a charm with the TYPO3 project
But this would be less of a replacement for CKEditor but more of a new page editing experience, replacing/extending areabricks

[2022-11-04 13:02] jeremygnoonan commented on #11779
Note on replication, the window size needs to be narrower than 1080p.

[2022-11-04 13:06] aryaantony92 commented on #13332
@valentin- Thanks for the reply. I have tested the translation issue in case of DataObjects (source also gets translated) and was unable to reproduce the issue. And regarding the error " __clone method called on non-object" in case of data objects, I have tested it with the data objects with block data type. But I didn't get the error. But, it can throw error if we try to clone null value. Since $

[2022-11-04 13:22] robertSt7 commented on #13463
see https://github.com/pimcore/demo-enterprise/pull/66/files#r1014010629

[2022-11-04 13:22] #13463 closed, assigned to dvesh3

[2022-11-04 14:23] simonkey commented on #13332
@aryaantony92

I've tested the issue in your live demo (https://demo.pimcore.com/admin/?perspective=default) and it's quite easy to reproduce with a simple dataobject as described bevore. Here the class definition.
[class_TranslationTest_export.zip](https://github.com/pimcore/pimcore/files/9939071/class_TranslationTest_export.zip).

Fill in some data (only in EN!)
![image](https://user-images.gith

[2022-11-04 14:47] aryaantony92 commented on #13332
Thank you for the update, I will check then

[2022-11-05 15:29] bigiagipa commented on #798
I was thinking to use the migration. But changing the field will update the class definition file, and will be detected as git change.
This will be very important for project development.

[2022-11-07 07:54] kjkooistra-youwe commented on #13439
@mcop1 You can find class definition files in this similar issue: https://github.com/pimcore/pimcore/issues/13489

[2022-11-07 08:30] mcop1 commented on #13439
@kjkooistra-youwe sorry, I must have missed them. I can reproduce the error with your class definitions, we will have a look into it, thanks!

[2022-11-07 09:44] #13424 closed, assigned to Corepex

[2022-11-07 11:04] dvesh3 commented on #13501
Duplicate of #7219

[2022-11-07 11:04] #13501 closed, assigned to nobody

[2022-11-07 12:33] jremmurd opened #13525 "[Bug]: Dont output avif if disabled in thumbnail settings"
### Expected behavior

Dont output avif if disabled

### Actual behavior

Avif is included in picture tags for thumbnails, even if they are disabled.

### Steps to reproduce

1. Enable avif via config:
[code]

2. Generate thumbnails for any image with format "auto"

3. Disable avif via config:
[code]

4. Generate output for picture tag, avif format will be included in the html output, even if disa

[2022-11-07 13:29] brusch commented on #13525
For me this works like a charm, incl. webp:

![image](https://user-images.githubusercontent.com/142037/200322358-ac8901fe-a64d-436f-afbc-49614e24a90e.png)

... don't forget to run `bin/console cache:clear`

[2022-11-07 14:01] evanjamesjackson commented on #12060
Note that a workaround for this issue is to simply type the name of the column (e.g. in the case above typing `test1_id__id` would have worked)

[2022-11-07 14:08] evanjamesjackson commented on #12359
Given the way Pimcore generates bricks, I'm not sure this is even possible to remedy - would the definition file for the brick not need to be automatically updated?

[2022-11-07 16:10] robertSt7 commented on #13181
The issue is closed due to inactivity.
Please feel free to reopen the issue at any time if you need further help.

[2022-11-07 16:10] #13181 closed, assigned to robertSt7

[2022-11-07 16:18] robertSt7 commented on #13128
The issue is closed due to inactivity.
Please feel free to reopen the issue at any time if you need further help.

[2022-11-07 16:18] #13128 closed, assigned to robertSt7

[2022-11-07 16:25] robertSt7 commented on #12239
@swina Could you please provide an example and the code of your Operator-Class for PHP Code?

[2022-11-07 21:44] kanevbg commented on #13372
@dvesh3
Hey, I have to let you know that this change did not fixed the problem and that is because
`$this->addSql('DROP VIEW IF EXISTS documents_editables;');`
is not executing the SQL but only queues it for latter execution, which happens in method
`\Doctrine\Migrations\Version\DbalExecutor::executeMigration`
Can you think of other solution as I am not experienced with the symfony framework as mu

[2022-11-08 07:57] aryaantony92 commented on #13440
Fixed by #13506

[2022-11-08 07:57] #13440 closed, assigned to dvesh3

[2022-11-08 08:09] brusch commented on #13372
@kanevbg Thanks for the feedback, I can confirm this.

[2022-11-08 08:12] dvesh3 commented on #13372
@kanevbg thanks for reporting. Could you please confirm if https://github.com/pimcore/pimcore/pull/13526 fixes the issue?

[2022-11-08 09:12] brusch opened #13527 "[Improvement]: Asset previews: add adapter for Gotenberg"
### Improvement description

Related to https://github.com/pimcore/pimcore/issues/12607

[2022-11-08 09:29] mcop1 commented on #13439
@kjkooistra-youwe I found a problem with calculatedValues, could you please have a look at the linked pr, does this solve your problem?

[2022-11-08 09:46] kjkooistra-youwe commented on #13439
@mcop1 That does indeed solve the problem. Thanks.

[2022-11-08 10:24] Johanna-Maria opened #13531 "[Bug]: Advanced Many To Many Relationship table does not work when table includes a calculated value"
## Expected Behavior
When I write a value into an additional field in an advanced many to many relation, I would like to see this value after saving

## Actual Behavior
When a calculated value is included into the table, the value vanishes after saving. It is also partially not visible during editing (described below)

## Steps to reproduce this bug

https://11.x-dev.pimcore.fun/admin
Create an Ad

[2022-11-08 12:11] hallekamp commented on #13431
Steps to use the fix prior to being merged:

- copy `vendor/pimcore/pimcore/bundles/AdminBundle/Resources/public/js/pimcore/document/editables/area_abstract.js` to `public/`
- add the missing line
- override `\Pimcore\Bundle\CoreBundle\EventListener\Frontend\EditmodeListener` and replace `/bundles/pimcoreadmin/js/pimcore/document/editables/area_abstract.js` with the path to your modified version (

[2022-11-08 13:01] aryaantony92 commented on #13431
@hallekamp Thank you, will check it

[2022-11-08 13:07] aryaantony92 commented on #13472
Fixed by #13511

[2022-11-08 13:07] #13472 closed, assigned to kingjia90

[2022-11-08 14:27] prunepal333 commented on #13401
I have a working solution for this, Why do I think, it's important is,
because the amount of time we are spending re-creating the same stuff over
multiple servers(dev, staging, uat, production) which brings
inconsistencies and intimidating to repeat for large collections. I would
like to contribute and create a pull request if pimcore thinks it's nice to
have feature.

On Mon, 7 Nov 2022, 13:26 gi

[2022-11-08 14:31] mcop1 commented on #13401
Hello @prunepal333 ,
no problem, you can create a pr based on the 11.x branch (since it is a new feature). Every pr is highly appreciated.

[2022-11-08 14:34] mcop1 commented on #13531
Hello @Johanna-Maria,
thank you for reporting the problem, but there are already similar issues, e.g.
https://github.com/pimcore/pimcore/issues/13439
or
https://github.com/pimcore/pimcore/issues/13489

We already provided a pull request for this, so things are looking good that it will be included in the release tomorrow.

[2022-11-08 14:34] #13531 closed, assigned to nobody

[2022-11-08 14:34] aryaantony92 commented on #13431
Fixed by #13533

[2022-11-08 14:34] #13431 closed, assigned to aryaantony92

[2022-11-08 16:02] #13321 closed, assigned to mcop1

[2022-11-08 18:57] #13471 closed, assigned to robertSt7

[2022-11-08 21:23] CountZero1981 commented on #10468
the main slowdown occurs during DOM construction. I use this workaround: https://gist.github.com/CountZero1981/34426cbc02f1f99538e7236a318cac04. I inherited Pimcore select class, replace options before object creation and recreate them asynchronously after dashboard is rendered.

[2022-11-08 21:56] dpfahlbusch commented on #13494
I will try to provide a pr :)

[2022-11-09 08:55] robertSt7 commented on #13495
@mattamon There is no specific reason for showing the option "allowToCreateNewObject" only in classes. Could you please provide a PR for moving this option to the outside scope? Thank you

[2022-11-09 10:10] dvesh3 commented on #13500
Fixed by #13504

[2022-11-09 10:10] #13500 closed, assigned to aashan10

[2022-11-09 10:15] kingjia90 opened #13540 "[Bug]: DateTime ISO8601 issues"
### Expected behavior

Replace `DateTime` to `DateTimeInterface::ISO8601` in a bugfix release and switch and migrate to `DateTimeInterface::ATOM` in major

### Actual behavior

![image](https://user-images.githubusercontent.com/6014195/200801259-8f83e764-2294-471d-b6d8-cdf69e8ec227.png)

These places may have same issues, if this format constant is removed

https://github.com/pimcore/pimcore/blob/

[2022-11-09 15:05] #13439 closed, assigned to mcop1

[2022-11-09 15:05] #13451 closed, assigned to robertSt7

[2022-11-09 15:22] jheimbach opened #13545 "[Bug]: Site Requests with `install` url prefix cannot generate links correctly"
### Expected behavior

Document Page with pretty-url /installateursuche should not be classified as backend request

### Actual behavior

Document Page with pretty-url /installateursuche is always classified  as backend request, because the request url starts with /install ( source of bug: https://github.com/pimcore/pimcore/blob/11.x/lib/Http/RequestHelper.php#L127-L145)

### Steps to reproduce

1

[2022-11-09 15:23] jheimbach commented on #13545
Not sure if the checks for install and plugin prefixes in `detectFrontendrequest` are still relevant, so I am not sure what the solution should be.

[2022-11-09 19:22] kanevbg commented on #13372
I will provide feedback tomorrow

[2022-11-10 08:15] brusch commented on #13545
@JHeimbach no this is just a leftover and can be removed, can you create a PR for us? Thanks in advance.

[2022-11-10 08:18] LeaveAirykson commented on #11419
Sadly this did not fix the issue. It is still present and even in the pimcore demo site https://demo.pimcore.com/ which runs on v10.5.10

[2022-11-10 08:50] niederberger-qw opened #13550 "[Bug]: After Objectbrick delete the database is not updated (Maybe add it to the classes-rebuild?)"
### Expected behavior

I delete an object brick and deploy it on the server and after classes-rebuild -d the tables for that objectbrick are gone.

### Actual behavior

I did delete an objectbrick local and deployed everything with git. The problem is, that the database is not updated if only the files are gone.

### Steps to reproduce

Add an objectbrick. Delete only the files and do a classes-re

[2022-11-10 08:54] niederberger-qw commented on #13550
I use Pimcore 10

[2022-11-10 09:18] passioneight commented on #11242
@brusch alright, thanks, I'll have a look soon :-)

[2022-11-10 13:26] robertSt7 opened #13554 "[Bug]: Read only style for Quantity Value"
### Expected behavior

Quantity Value should have the same not-editable-style (grey label) as Input

### Actual behavior

![image](https://user-images.githubusercontent.com/104770750/201083134-ad683a03-e77d-4731-a696-56d444d43a1d.png)

### Steps to reproduce

Create a class with Quantity Value and Input and set both to Not editable

[2022-11-10 13:29] robertSt7 opened #13555 "[Bug]: Not editable for components doesn't work"
### Expected behavior

It works again as before

### Actual behavior

Nothing happens

### Steps to reproduce

Check the Not editable checkbox in any component and open a Data Object with this component

[2022-11-10 15:33] #13242 closed, assigned to dvesh3

[2022-11-10 15:33] #11751 closed, assigned to dvesh3

[2022-11-10 16:18] dkarlovi opened #13556 "[Bug]: Exceptions swallowed in \Pimcore\Model\DataObject\ClassDefinition\Dao"
### Expected behavior

Only catch relevant exceptions.

### Actual behavior

Any exception is [swallowed](https://en.wikipedia.org/wiki/Error_hiding):

https://github.com/pimcore/pimcore/blob/3689551f0e0a8b9aa44024117324906f20335c4e/models/DataObject/ClassDefinition/Dao.php#L76

### Steps to reproduce

1. call `\Pimcore\Model\DataObject\ClassDefinition\Dao::getIdByName` with any error (locking iss

[2022-11-11 07:06] #5881 closed

[2022-11-11 08:02] simonkey opened #13557 "[Bug]: XLIFF Import - document target language not checked"
### Expected behavior

When importing a xliff file with documents in it there should be a check if the target language of the document is the same of the current document. If the language doesn't match the entry should either be skipped totally, or the corresponding translation of the document should be resolved, or if the no translation exists at all a new document should be created .

The behavi

[2022-11-11 08:08] simonkey commented on #13332
@aryaantony92
I've an update about the target-language export/import issue. The issue can be found here https://github.com/pimcore/pimcore/issues/13557.

[2022-11-14 07:32] fashxp opened #13568 "[Task] Remove FC layer for tests support classes"
### Improvement description

followup to #13564

[2022-11-14 09:17] mcop1 commented on #13388
Closed due to inactivity. Feel free to open this issue again, if you have any further information.

[2022-11-14 09:17] #13388 closed, assigned to mcop1

[2022-11-14 09:19] mcop1 commented on #13387
Closed due to inactivity. Feel free to open this issue again, if you have any further information.

[2022-11-14 09:19] #13387 closed, assigned to mcop1

[2022-11-14 09:38] #12847 closed, assigned to nobody

[2022-11-14 11:05] dvesh3 commented on #13372
Fixed by #13526

[2022-11-14 11:05] #13372 closed, assigned to nobody

[2022-11-14 12:30] NiklasBr commented on #13359
This would be nice in e.g. `documents_editables.data`

[2022-11-14 14:25] dvesh3 commented on #13436
Fixed by #13538

[2022-11-14 14:25] #13436 closed, assigned to mcop1

[2022-11-14 14:43] jakesde commented on #13555
Confirmed, also the same for "Invisible" checkbox.

[2022-11-14 15:21] storbahn opened #13574 "[Feature]: Inheritance for Fieldcollections"
### Feature description

For Fieldcollections (with simple fields like text input) it is possible to use inheritance by changing the return value of supportsInheritance() (in \Pimcore\Model\DataObject\ClassDefinition\Data\Fieldcollections) to true.

[code]

Is it possible to set it to true as default or do we have any limitations (e.g. more complex field types)?

[2022-11-14 15:25] Corepex opened #13575 "[Bug]: Serverside relation limit validation not working"
Belongs to: #13551

### Expected behavior

You get a popup showing an error and the dataObject will NOT be saved

![image](https://user-images.githubusercontent.com/16717695/201692199-2eb076a8-ea06-4d74-a486-58cd9f039914.png)

### Actual behavior

You can save the data object and the corresponding relation field. You will get an error popup, but the fields are saved anyway

Affected Relations:

-

[2022-11-14 16:04] fashxp commented on #13574
there are some more aspects to be considered:
- how to consider inherited values in queries of listings: for all inherited values, you can query in query tables, for field collections there are no query tables
- how to overwrite single field collection values - or just implement a all or nothing approach?

for now we didn't find an approach that follows same principles as for the other data types.

[2022-11-14 17:41] mcop1 opened #13577 "[Task]: Add more php doc annotations"
### Improvement description

Add/change common php doc annotations, see comment https://github.com/pimcore/pimcore/pull/13474#discussion_r1011343631

[2022-11-14 18:01] solverat commented on #12399
Just for the record: The SEO Bundle works with Pimcore 10.5 and will also support upcoming PIMCORE Versions like 11.0.

[2022-11-14 19:02] kanevbg commented on #13458
Does the pimcore system automatically starts to read the classes from config/pimcore/classes or I have to do something? I moved classes from var/classes to config/pimcore/classes but they are were not used.

[2022-11-15 07:40] storbahn commented on #13574
Hi @fashxp,

thanks for the feedback. unfortunately then it is not as simple as I assumed

[2022-11-15 08:05] fashxp commented on #13574
sadly not 😀

[2022-11-15 08:27] brusch commented on #13458
@kanevbg this should work automatically ... 🤔

[2022-11-15 08:30] #13517 closed, assigned to nobody

[2022-11-15 09:00] kingjia90 opened #13579 "[Task]: Bump `knplabs/knp-paginator-bundle` to v6.0"
### Improvement description

Followup https://github.com/pimcore/pimcore/issues/13034

Remove all previously deprecated code
Remove support for Bootstrap <4
Drop support for php 7 and Symfony 4/5

source: https://github.com/KnpLabs/KnpPaginatorBundle/releases/tag/v6.0.0

[2022-11-15 09:21] kingjia90 opened #13580 "[Task]: Bump `symfony/contracts` to v3"
### Improvement description

Followup https://github.com/pimcore/pimcore/issues/13034

Haven't found official upgrade notes but seems there are no big changes beside the native param/return type and some depreaction removed
https://github.com/symfony/contracts/compare/v2.5.2...v3.0.0

[2022-11-15 12:59] kingjia90 commented on #13476
Fixed by https://github.com/pimcore/pimcore/pull/13482

[2022-11-15 12:59] #13476 closed, assigned to kingjia90

[2022-11-15 14:11] doncatnip opened #13582 "[Bug]: Cannot set NULL value programmatically for Boolean Select"
### Expected behavior

$value->set("BooleanSelectProperty", null);
$value->save();

results in empty selection.

### Actual behavior

Actual result is an unresolved state in the UI. The field is greyed out while the label for True is shown.

![Screenshot 2022-11-15 at 15 05 27](https://user-images.githubusercontent.com/692660/201939340-a42261dc-82f0-477d-af7e-1e48f90c61e4.png)

The Database is inc

[2022-11-15 14:23] fashxp opened #13583 "[Docs] Update Links to code samples"
### Improvement description

see https://pimcore.com/docs/pimcore/current/Development_Documentation/Extending_Pimcore/Bundle_Developers_Guide/Adding_Object_Datatypes.html

[2022-11-15 15:09] brusch commented on #2499
@Cruiser13 @ChrisB9 but tiptap doesn't offer "inline" - editing (floating toolbar) as CKEditor and TinyMCE do, right?
At least I was not able to find an example for this. Thanks for your feedback!

[2022-11-15 15:59] #13435 closed, assigned to aashan10

[2022-11-15 16:05] Cruiser13 commented on #2499
@brusch that's called floating menu for tiptap and is an official extension. You can find it here: https://tiptap.dev/api/extensions/floating-menu
I think that you could style it similary to ckeditor bar since tiptap is very open to any styling. You can consider it a framework, not a plugin solution.

[2022-11-15 16:42] dkarlovi opened #13587 "[Bug]: Pimcore dynamic routing (and other routing-related listeners) invoked even for system routes"
### Expected behavior

System routes should be resolved ASAP, without invoking `Pimcore\Routing\DynamicRouteProvider::getRouteCollectionForRequest`, `\Pimcore\Model\Document\Service::getNearestDocumentByPath`, etc.

### Actual behavior

System routes like `/_fragment` used for [Symfony's ESI implementation](https://symfony.com/doc/current/http_cache/esi.html) still triggers Pimcore's routing even

[2022-11-16 00:16] thomas-udalrik opened #13589 "[Improvement]: Let users select and copy text of operator results / uneditable fields in grid withour error popup"
### Improvement description

I spent some time configuring a grid view with operators which supports me to manually create products from Pimcore in another system by copy & paste.

The grid operators are working fine, but as soon as I try to select a field with the result of the operator in the grid a popup displays "This element cannot be edited".

Still I didn't want to edit it, but be able to c

[2022-11-16 07:51] NiklasBr opened #13590 "[Bug]: enterprise.repo.pimcore.com does not contain valid JSON"
### Expected behavior

Working Composer JSON

### Actual behavior

[code]

### Steps to reproduce

Attempt to update with Composer

[2022-11-16 11:26] fashxp commented on #13590
This is a bug tracker for the open source core of Pimcore.
For generic enterprise support topics please contact [enterprise-support@pimcore.com](mailto:enterprise-support@pimcore.com).

That said, it seems that the service had some authentication issues in the morning and should be up and running again.

[2022-11-16 11:26] #13590 closed, assigned to nobody

[2022-11-16 11:57] ychanan opened #13595 "[Bug]: Thumbnail class is final, implements no interface"
### Expected behavior

`Pimcore\Model\Asset\Image\Thumbnail` class should either be non-final, or it should implement an interface.

### Actual behavior

In our project, we're implementing proxies for various classes, one of which would be the `Pimcore\Model\Asset\Image\Thumbnail` class. The issue we have is that we cannot extend it to build a proxy around it since it is final, and we can't implem

[2022-11-16 12:03] dkarlovi commented on #13595
Some theory about the problem: https://ocramius.github.io/blog/when-to-declare-classes-final/

In short, classes should be final if they implement an interface which is then used by the rest of the codebase for types, allowing the class to be replaced / decorated.

[2022-11-17 06:32] manasaR507 opened #13600 "Need a feature for Pimcore Data Importer Mapping of Field collections Data Type."
### Feature description

Hi,

In Pimcore 10, With using Pimcore Data importer UI,  User can able to do a Data import with using difeerent types of files Like csv. Here We have configurations for particular class fields mappings. Currently, In this feature, Not able to see all the data types supported. In our admin panel, Every class has a Field collection. So, How can we do the mapping for field c

[2022-11-17 10:49] julkue commented on #12858
The WYSIWYG integration of Pimcore really needs to be refactored a lot. It's a pain in the ass, sorry.

I totally agree, that's the point of defining a custom config. If you define a custom config with `toolbarGroups` then those will not be forwarded to CKEditor, because Pimcore overrides it with their default. Even when setting `toolbarGroups` to `false` in Twig like you suggested @dvesh3, then t

[2022-11-17 11:24] julkue commented on #12858
[Those lines](https://github.com/pimcore/pimcore/blob/11.x/bundles/AdminBundle/public/js/pimcore/document/editables/wysiwyg.js#L78-L92) would need to be extended with this `else`, then `toolbarGroups: false` would no longer be passed as CKEditor config value and the `toolbarGroups` of the customConfig file would work. Otherwise, this `false` value always overrides the config in the customConfig fi

[2022-11-17 12:05] robertSt7 opened #13608 "[Feature]: Add prettier to format js and md-files"
### Feature description

see https://github.com/pimcore/pimcore/pull/13227#issuecomment-1318416153

[2022-11-17 13:33] #13600 closed, assigned to nobody

[2022-11-17 19:25] kingjia90 commented on #13392
Just wanted to add a note that if https://github.com/pimcore/pimcore/pull/13613 gets merged, whenever we replace `insertOrUpdate` with `upsert` (which at the current state, it is without the quotation of the column identifiers) then it would require quoting too.

[2022-11-18 07:30] solverat opened #13614 "[Bug] [Tests]: Pimcore Helper"
### Expected behavior

Clean Test-Setup

### Actual behavior

Error-prone Test modules.

### Steps to reproduce

In https://github.com/pimcore/pimcore/pull/11756, you've ripped out the symfony module.

But you kept several references, which are invalid now:

- `getContainer`
- `getKernel`
- Whole Kernel initialization (Happens now in `_bootstrap`)

https://github.com/pimcore/pimcore/blob/10.5/test

[2022-11-18 08:57] #13266 closed, assigned to robertSt7

[2022-11-18 08:59] kingjia90 commented on #13015
A report after initial  scanning through https://github.com/doctrine/dbal/releases/tag/4.0.0-beta1

- [x] [`Table::changeColumn()` renamed to `Table::modifyColumn()` ](https://github.com/doctrine/dbal/pull/5747)
https://github.com/pimcore/pimcore/blob/c97929ab2e8976e646c8b10f4121053e51de71d1/bundles/CoreBundle/src/Migrations/Version20211018104331.php#L133
- [x] [replace `hasPrimaryKey` with `getPr

[2022-11-18 09:47] dpfaffenbauer commented on #13507
Similar issue with UrlSlugs when running multiple workers handling the messages:

[code]

[2022-11-18 09:48] mcmaroon opened #13616 "[Improvement]: Dangerous feature on user class"
### Improvement description

The scenario is simple:
1. High traffic on the site
2. Log into the admin panel
3. We delete any user
4. The server goes down due to high load
https://github.com/pimcore/pimcore/blob/v6.9.6/models/User/AbstractUser.php#L248

[2022-11-18 10:00] #11651 closed, assigned to nobody

[2022-11-18 10:30] robertSt7 opened #13620 "[Improvement]: Object Grid: Improve filter for Multi(Select) field with OptionProvider (dynamicOptions = true)"
### Improvement description

see https://github.com/pimcore/pimcore/pull/13599

[2022-11-18 10:40] robertSt7 commented on #13366
Closed due to inactivity. Feel free to open this issue again, if you have any further information.

[2022-11-18 10:40] #13366 closed, assigned to robertSt7

[2022-11-18 10:42] robertSt7 commented on #13495
solved by #13544

[2022-11-18 10:42] #13495 closed, assigned to robertSt7

[2022-11-18 10:46] Corepex commented on #13582
@doncatnip, can you provide me some more information according to this bug?

I tried to reproduce the bug in pimcore version `10.5` and there everything works fine!

I tested these options to set the value (both work as expected):
 - `$object->setBooleanSelect(null)`
 - `$object->set('booleanSelect', null)`

[2022-11-18 11:32] jdreesen opened #13621 "[Bug]: Disallow Add/Remove/Reordering for Field-Collections doesn't work"
### Expected behavior

It's not possible to add/remove or reorder field collections if it's disabled in the class definitions.

### Actual behavior

The buttons are still displayed and working.

### Steps to reproduce

- Login to the official demo: https://demo.pimcore.fun/admin/?perspective=default
- Look at the `paymentInfo` field definition of the `OnlineShopOrder` class.
  The options are chec

[2022-11-18 11:43] kjkooistra-youwe commented on #13582
This looks like an inherited valued.

[2022-11-18 12:10] Corepex commented on #13554
we use `Ext.form.FieldContainer` for the quantityValue fields, which have no `readOnly` property. To achieve a "disabled" state we have to use `disabled`.

https://docs.sencha.com/extjs/6.0.2/classic/Ext.form.FieldContainer.html#cfg-disabled

[2022-11-18 13:27] solverat commented on #12918
Just for the record: All our acceptance tests are broken since months (I guess even since 10.1) because of this.

@Fahl-Design: Have you been able to find out anything in the meantime?

[2022-11-18 14:29] kjkooistra-youwe opened #13625 "[Improvement]: generate field name constants in classes"
### Improvement description

While implementing logic it often depends on certain settings in specific data object fields. A status, for example, of even a combination of properties. In a lot of cases the name of a field is required, for example, to retrieve the field definition (`getFieldDefinition('fieldName')`).

To keep track of the use of these fields within the code it's useful to define con

[2022-11-18 14:35] Fahl-Design commented on #12918
@solverat well kind of... I added a `framework.session` config to the test env. The pimcore test session configuration looks broken

file: `config/packages/tests/framework.yaml`

[code]

[2022-11-18 15:42] doncatnip commented on #13582
Indeed! There was a vital piece of information missing about data inheritance on my side. I am very sorry and thanks!

[2022-11-18 15:42] #13582 closed, assigned to Corepex

[2022-11-18 16:47] fashxp opened #13627 "[Improvement] Revalidate phpdoc types"
### Improvement description

Double check and compoare with 11.x branch phpdoc types for following files (approx line in (xx) for every entry) :

- [x] bundles/AdminBundle/src/Controller/Admin/DataObject/DataObjectController.php:getTreeNodeConfig() (234)
- [x] bundles/AdminBundle/src/Controller/Admin/DataObject/DataObjectController.php:getTreeNodeConfig() (234)
- [x] bundles/EcommerceFrameworkBund

[2022-11-18 17:25] solverat commented on #12918
@Fahl-Design Thanks for your feedback.

I found the issue. And i also found out, that i already reported it...

https://github.com/pimcore/pimcore/issues/11042#issuecomment-1006614692

However, changing the storage_id did the trick:

[code]

So the test configuration is - like you described - broken.
Maybe pimcore should add some more functional tests...

https://github.com/pimcore/pimcore/blob/b2

[2022-11-18 20:51] solverat commented on #11927
@dvesh3, @brusch: Now this leads to issues in our test cases. Basically, every functional test will fail, as long the targeting feature is enabled.

![image](https://user-images.githubusercontent.com/700119/202797590-b8823537-3760-4bab-a16a-7d20d3d1a93f.png)

The reason for that is this line:
https://github.com/pimcore/pimcore/blob/52429018731f731544b176954f9545f4c2e16ff1/bundles/AdminBundle/Sessi

[2022-11-21 05:17] dvelguru opened #13629 "[Bug]: Cannot enable Not Editable on URL Slug anymore"
### Expected behavior

URL Slug input field should be disabled and uneditable when Not Editable is checked.
<img width="612" alt="Bildschirm­foto 2022-11-21 um 06 10 28" src="https://user-images.githubusercontent.com/3622712/202970361-4682d068-6d4e-492f-9783-b534d5c55394.png">

### Actual behavior

Input field is editable and I am able to change the value.
<img width="734" alt="Bildschirm­foto 202

[2022-11-21 07:26] SamyMP commented on #13629
Possible duplicate of #13555

The "not editable" and "invisible" config were both not working since 10.5.10 I think

[2022-11-21 07:53] dvelguru commented on #13629
It is in fact the same problem.

[2022-11-21 08:31] robertSt7 commented on #13629
duplicate of https://github.com/pimcore/pimcore/issues/13555

[2022-11-21 08:31] #13629 closed, assigned to nobody

[2022-11-21 08:51] brusch commented on #2499
@Cruiser13 Thanks!
Yeah, I've read that it's more a framework than a plugin, but to be honest I'd like to keep the integration effort on our end as low as possible, so probably the plugin approach is the right one for us ...

[2022-11-21 09:30] #13377 closed, assigned to robertSt7

[2022-11-21 09:31] #13555 closed, assigned to robertSt7

[2022-11-21 09:36] brusch commented on #11927
@solverat thanks for your feedback!
What if we only allow it to fail silently when `'cli' === PHP_SAPI` ?

@dvesh3 wdyt?

[2022-11-21 10:09] dvesh3 commented on #13545
Fixed by #13549

[2022-11-21 10:09] #13545 closed, assigned to aashan10

[2022-11-21 10:18] limenet opened #13632 "[Bug]: Saving an unpublished snippet results in HTTP 500"
### Expected behavior

Version is saved and no error message is shown.

### Actual behavior

Version is saved and error message is shown:

[code]

Most likely this is caused by https://github.com/pimcore/pimcore/commit/8dba6abc63751670db50f97df1b5bb7801837c6f#diff-080c43a34b67f92b75610e8130534562d0f994cd0f8771cff9b167a9ab42aa1e since `$version` is now null in `\Pimcore\Bundle\AdminBundle\Controlle

[2022-11-21 10:38] dvesh3 commented on #13540
Fixed by #13578

[2022-11-21 10:38] #13540 closed, assigned to kingjia90

[2022-11-21 10:43] kingjia90 opened #13633 "[Task]: Replace `DateTimeInterface::ISO8601` with `DateTimeInterface::ATOM`"
### Improvement description

Follow up of https://github.com/pimcore/pimcore/issues/13540

Potential BC Break is due the time format change
ATOM = "`Y-m-d\\TH:i:sP`"
ISO8601 = "`Y-m-d\\TH:i:sO`"

[2022-11-21 10:46] Corepex commented on #13575
It turns out that only `AdvancedManyToManyRelation` and `AdvancedManyToManyObjectRelation` are affected by the mentioned problem

Note: its only reproducible through the API ...

Use something like this:
[code]

[2022-11-21 11:11] solverat commented on #11927
@brusch the longer I look at the method `shouldWriteAndClose` the more I dislike it. :)

However, I've just tested it with your proposed `cli` check, and it works too:

[code]

[2022-11-21 11:29] brusch commented on #11927
@solverat thanks for your feedback!
So if there are no more better ideas I'd go for this for now. @dvesh3

[2022-11-21 11:53] kingjia90 opened #13636 "Undefined key width on asset download"
### Discussed in https://github.com/pimcore/pimcore/discussions/13631

<div type='discussions-op-text'>

<sup>Originally posted by **abrar123alhaq** November 21, 2022</sup>
Hello,

I am facing an issue when downloading image asset with from experience portal.
![image](https://user-images.githubusercontent.com/832552/203023578-bf46cb33-cb34-464a-90ee-3acb9aad550c.png)

Steps to reproduce error:
1.

[2022-11-21 12:41] dvesh3 commented on #11927
I would not go for skip in cli mode as you could have tests with dummy requests and session (like `buildSession()` here https://github.com/pimcore/pimcore/blob/c1f88e07434e56a1c04310cf6ec0588e8bce3687/tests/_support/Test/ModelTestCase.php#L64

Please see suggested fix https://github.com/pimcore/pimcore/pull/13637

[2022-11-21 12:50] kingjia90 commented on #13015
Keeping this task on hold for the moment, as Symfony is [ not supporting yet](https://github.com/symfony/symfony/issues/47962#issuecomment-1288156758) for v4 (eg. [Doctrine Messenger](https://github.com/symfony/doctrine-messenger/blob/049d69b76aa3f8d8336d6209b4422435115eaf20/composer.json#L20)) making it difficult to test it

[2022-11-21 13:29] brusch commented on #13507
once https://github.com/pimcore/pimcore/pull/13613 is done, we should make a task list or individual tickets for changing this in all relevant places.

[2022-11-21 14:30] Corepex opened #13639 "[Task]: Update documentation links"
### Improvement description

followup #13635

[2022-11-21 15:40] #12240 closed, assigned to mcop1

[2022-11-21 17:29] Cruiser13 opened #13644 "[Bug]: documents_editables is not updated in Pimcore 6 to X update"
### Expected behavior

Updating Pimcore 6 to X should run migrations that'll ensure content on documents does still exist.

### Actual behavior

Our Pimcore 6 instance editables are not updated during Pimcore X upgrade. All content ist lost.

Example for a pimcore areablock named "firstarea" with an image inside.

documents_editables looks like this:
**name: imagefirstarea7**
type: image
data: a:9

[2022-11-22 07:31] #13583 closed, assigned to Corepex

[2022-11-22 08:26] luka-jukic opened #13646 "[Bug]: QuantityValue Field returns '0' instead of 'NULL' after saving an empty Value"
### Expected behavior

If a Quantity Value Field is saved with an empty value, this value should also be empty again when the DataObject is reloaded.

### Actual behavior

If a Quantity Value Field is saved with an empty value, the value will be '0' after reloading.

### Steps to reproduce

To reproduce the error, you can simply create a new TestClass and enrich it with a QuantityValue Field.

If

[2022-11-22 08:38] #13644 closed, assigned to nobody

[2022-11-22 08:48] jdreesen commented on #13392
This doesn't seem to be completed yet.

[2022-11-22 08:49] aryaantony92 commented on #13392
@jdreesen Thanks! I think it closed automatically when I merged the PR. I have reopened it.

[2022-11-22 08:57] jdreesen commented on #13392
It's those `Partially resolves #...` messages, where GitHub only sees `resolves #...` and closes the issue xD

[2022-11-22 08:58] Corepex commented on #13621
@jdreesen, thanks for reporting this bug. The bug seems to have already been fixed and will be released with the 10.5.11 bugfix release tomorrow. I'll recheck it tomorrow after the release and reopen the issue if necessary.

[2022-11-22 08:58] #13621 closed, assigned to Corepex

[2022-11-22 09:46] #13556 closed, assigned to Corepex

[2022-11-22 14:18] kamilawiercinska opened #13655 "[Bug]: Master (Admin Mode) set by default"
### Expected behavior

user is not able to edit non-editable attributes, because Master mode is set by deafult.

This behavior existed within the past versions of pimcore, but when I test it on 10.5.10, the scenario works differently (described below)

### Actual behavior

user is able to edit non-editable attributes because Master(admin mode) is set by default
![image](https://user-images.githubu

[2022-11-22 14:40] #13639 closed, assigned to Corepex

[2022-11-22 14:51] mcop1 opened #13656 "[Task]: Fix possible errors after applying php native types"
### Improvement description

Follow up to #12240

[2022-11-22 18:41] RaederDev opened #13660 "[Bug]: pimcore_block inside pimcore_areablock area produces broken html in editmode"
### Expected behavior

I have a custom area inside an areablock, inside that area I have a pimcore_block:

[code]

("reload": true) or ("reload": false) does not change the behavior.

When I click to add a new entry to the list the first entry is created correctly in the editor:
[code]

After I click to add a second block invalid html is created and the input is invisible:
[code]

Note the duplica

[2022-11-23 07:36] SamyMP commented on #13655
Duplicate of #13555

[2022-11-23 07:39] #13655 closed, assigned to nobody

[2022-11-23 08:20] pfilipkowskilemon opened #13662 "[Bug]: Sql condition is skipped when exporting to csv in grid"
### Expected behavior

When applying sql condition only data objects that match sql conditions are exported when export to csv or xlsx is called.

### Actual behavior

When applying sql condition all data objects are exporting when export to csv or xlsc is called skipping sql condition.

### Steps to reproduce

1. Create some sql condition that will limit data objects, for example "length(color) <

[2022-11-23 08:25] pfilipkowskilemon commented on #13662
#13663

[2022-11-23 08:52] Ralfefernandes opened #13664 "Service "limiter._login_local_pimcore_admin": Parent definition "limiter" does not exist."
I just upgrade our enterprise Pimcore6.9 to pimcore10.0
Now I'm facing this problem `Service "limiter._login_local_pimcore_admin":
Parent definition "limiter" does not exist.`  by running any of this command: `php bin/console c:c`, `php bin/console pimcore:bundle:list`

What I did until now to resolve this issues:
I checked twice the `security.yaml` inside of  `config/packages/security.yaml` and i

[2022-11-23 10:46] #13575 closed, assigned to Corepex

[2022-11-23 12:19] aryaantony92 commented on #13332
@simonkey @valentin Thanks! Closing the issue as https://github.com/pimcore/pimcore/pull/13659 fixes the XLIFF import with the dataobjects and will create a different PR to fix the issue (https://github.com/pimcore/pimcore/issues/13557) with the documents

[2022-11-23 12:19] #13332 closed, assigned to aryaantony92

[2022-11-23 12:25] #13554 closed, assigned to Corepex

[2022-11-23 12:50] kingjia90 commented on #11927
Closing again, fixed by https://github.com/pimcore/pimcore/pull/13637

[2022-11-23 12:50] #11927 closed, assigned to dvesh3

[2022-11-23 14:24] Ralfefernandes commented on #13664
Solved by using Symfony documentation: https://symfony.com/blog/new-in-symfony-5-2-login-throttling

[2022-11-23 15:15] Corepex opened #13668 "[Task]: update Documentation links"
### Improvement description

replace all `10.x` and `10.5` links with `11.x`

followup: #13639

[2022-11-23 15:56] Corepex opened #13669 "[Improvement]: Avoide version reload if saving failed"
### Improvement description

followup: #13609

If you save a data object that got deleted, you get two error popups.
Maybe we can avoid the version reload if saving returns `status: false`.

![image](https://user-images.githubusercontent.com/16717695/203588535-30c0cac6-2f5c-4238-bb55-f906e42b3052.png)

[2022-11-23 16:02] Corepex commented on #13669
see https://github.com/pimcore/pimcore/blob/10.5/bundles/AdminBundle/Resources/public/js/pimcore/object/object.js#L824

maybe check for `rdata.success` before triggering the version reload

[2022-11-24 08:21] #13664 closed, assigned to nobody

[2022-11-24 10:08] sevarozh opened #13673 "[Bug]: Grid csv-export with localized brick fields causes error 'undefined array key "language"'"
### Expected behavior

If the Brick's localized fields are selected in Grid-Config, they must also be exported to CSV.

### Actual behavior

The following error message appears 'undefined array key "language"' and export is broken.

![Bildschirmfoto 2022-11-24 um 09 27 49](https://user-images.githubusercontent.com/5694627/203731485-70358eb6-005a-47d4-a285-7cfa5365db7b.png)

### Steps to reproduce

[2022-11-24 10:16] sevarozh opened #13674 "[Bug]: Grid csv-export causes Error: ‘The requested URL's length exceeds the capacity limit for this server'"
### Expected behavior

csv-export with any number of fields must work

### Actual behavior

csv-export causes Error: ‘The requested URL's length exceeds the capacity limit for this server'

### Steps to reproduce

if many columns are configured in grid-option, then the error ‘The requested URL's length exceeds the capacity limit for this server' comes, because Pimcore sends a GET request to  'admi

[2022-11-24 14:55] dpfaffenbauer opened #13678 "[Bug]: Deadlock on relations Table (again)"
### Expected behavior

When running multiple workers to process async imports, the relations table should not lock. Reason for the lock is the `key`: `forward_lookup`.

### Actual behavior

it does lock.

### Steps to reproduce

Run multiple workers with imports. (create or update object)

[code]

[2022-11-24 15:23] dpfaffenbauer commented on #13678
I don't think there is an easy solution for this. The index `forward_lookup` is needed. Problem is that this is not a rare case, it happens for every 4th or 5th message in the queue.

[2022-11-24 20:07] solverat commented on #13678
Been there. We had huge issues with multiple queue processes. We stopped all those approaches, and we're now doing batched pulls/pushes only. Maybe something you also want to consider. :)

[2022-11-25 06:36] dpfaffenbauer commented on #13678
Problem is that the data comes from an external system into a azure service bus, we process that with symfony messenger. but we have about 2 million messages to process. if we can process only about 1500 per hour, it still takes 55 days to import. there has to be a better way to scale that.

[2022-11-25 16:11] #13244 closed, assigned to kingjia90

[2022-11-26 15:54] MarcProe commented on #6911
Ran into the same error, ```-dNOSAFER``` worked for me. Thanks a lot!

[2022-11-28 10:00] NiklasBr opened #13685 "[Bug]: Comapring objects throws "not supported""
### Expected behavior

It should be possible to compare two DataObjects, and any error message should be clear to the user what is wrong.

### Actual behavior

![image](https://user-images.githubusercontent.com/279826/204248533-30bf130e-5e6e-4379-b42a-0c81892ac758.png)

[code]

### Steps to reproduce

1. Open the dialogue
![image](https://user-images.githubusercontent.com/279826/204248621-762fc3ec

[2022-11-28 10:39] roland4432 opened #13687 "[Bug]: User changes to the frontend user when saving documents and throws errors while publishing."
### Expected behavior

Admin user session is persistently pointing to the backend user when saving documents.

### Actual behavior

The user changes to the frontend user when storing documents and throws errors while publishing.

### Steps to reproduce

- Create a user object with username, password (just suitable to serve as a user object)
- Define a firewall rule to have the user cover all front

[2022-11-28 13:04] mcop1 opened #13688 "[Task]: Check for phpstan Release (>=1.9.3)"
### Improvement description

Adapt composer.json accordingly

Remove at least the then unnecessary line `// @phpstan-ignore-next-line - phpstan expects bool, but actually doc says int` in
`lib/Image/Adapter/Imagick.php` on line 328, above `getColor` method:
`$color = $pixel->getColor(1); // get the real alpha not just 1/0`

[2022-11-28 13:06] blankse commented on #13688
Should also be fixed in 10.5

[2022-11-28 14:05] BlackbitDevs opened #13689 "RFC: Enhance backend search"
### Improvement description

Currently the Pimcore backend search is not very user friendly as for example prefixes are not found: searching for "Pim" will not find an element with "Pimcore". We tried to change this in #13573 but perhaps this approach was not well designed. For this reason here is a concept of refactoring the search functionality to achieve the following goals:

-   UX of search s

[2022-11-28 14:15] fashxp commented on #13689
Thx for the thread, looking forward to the discussion.

Just to clarify one thing:

There wasn't a refusing answer, in the discussion we tried to come to a better solution which also does not change existing behavior and potentially cause confusion. And we were of the impression, that we archived that and came to a good solution?

[2022-11-28 15:13] robertSt7 opened #13692 "[Bug]: Limit for Classificationstore doesn't work with inheritance"
### Expected behavior

Limit can't be exceeded

follow up: https://github.com/pimcore/pimcore/pull/13690

### Actual behavior

Limit can be exceeded

### Steps to reproduce

- Create an class with a CS
- Create an object with this class
- Create a child of this object
- Create a child of the child
- Try do delete and add (inhertited) CS-Groups

Possible problem:
getUsedActiveGroups https://github.

[2022-11-28 15:40] robertSt7 opened #13693 "[Bug]: Classificationstore inherited key to watch doens't work"
### Expected behavior

Keys are watched

### Actual behavior

https://github.com/pimcore/pimcore/blob/631a52073541777720403653f987bd62f1ac881f/bundles/AdminBundle/public/js/pimcore/object/tags/classificationstore.js#L74
is never true

### Steps to reproduce

- Create an class with a CS
- Create an object with this class
- Create a child of this object

[2022-11-28 15:49] robertSt7 commented on #12239
Closed due to inactivity. Feel free to open this issue again, if you have any further information.

[2022-11-28 15:49] #12239 closed, assigned to robertSt7

[2022-11-28 15:55] turbo-ele opened #13694 "[Bug]: Deleting a classificationstore group doesn't delete assigned data from an object"
### Expected behavior

Deleting a group
1. should also lead to the deletion of all assigned classification values of keys in that group, or -
2. if this isn't done by intent, at least prevent he affected objects to throw an exception when `$object->getClassification()->getGroups()` is called.

### Actual behavior

After deleting the group, the relation still exists in the `object_classificationsto

[2022-11-28 17:21] roland4432 opened #13695 "[Bug]: Editable loads static translated messages in wrong language"
### Expected behavior

Add a brick (which has needsReload: false) to a document will load all of its translated messages in the correct language set in the current document.

### Actual behavior

The brick does not reflect the document language right after a brick is newly added to the document.

### Steps to reproduce

Set at least 2 languages in the system settings.
Add a new document where bric

[2022-11-29 07:41] passioneight commented on #11242
Seems like I won't find any time soon. Anyone else has some time to spare?

[2022-11-29 10:49] roland4432 commented on #13687
Possibly caused by code in our project. If the above lines of code don't change the user, please close this issue.
Thank you

[2022-11-29 10:51] aryaantony92 commented on #13687
Thanks for the update. Will check it 👍

[2022-11-29 10:55] passioneight opened #13700 "[Improvement]: don't render documents when saving"
### Improvement description

Rendering documents when saving shouldn't be necessary.

I guess it was used because it is easier to load the available data (based on what's available in the template), but it seems we should apply separation of concerns here. Would most likely improve performance when saving.

Related https://github.com/pimcore/pimcore/issues/8992

[2022-11-29 10:58] kanevbg commented on #13170
+1 that is truly a must for enterprise-grade systems. I had developed project for customization of products and I used Pimcore 4.x back then. I was very frustrated that there was no way to ensure objects are non concurrently saved with outdated data and I had developed custom framework and integrated in the business logic based on a lock implementation which allowed me to wait (up until given time

[2022-11-29 11:14] fashxp commented on #13700
consider: checking required editables ...

[2022-11-29 11:59] passioneight commented on #13700
Well, personally, I don't need this feature, but I can see why some would want it.

Either way, the separation of concerns makes sense, because when saving documents in the CLI, the check will output the HTML even if no verbosity level is set. Some hosters will see the output of commands as errors and kill the command - no matter if it's just a dump or not. They usually also do not allow to disabl

[2022-11-29 16:02] kanevbg opened #13702 "[Feature]: JSON field for data objects"
### Feature description

Propose to support JSON field type for data objects which to create JSON column in the database.
https://dev.mysql.com/doc/refman/8.0/en/json.html

The field will likely have to accept only valid JSON data.

For this will be needed UI for the field in the admin panel, that can be eventually used: [josdejong/jsoneditor](https://github.com/josdejong/jsoneditor) or [josdejong

[2022-11-29 16:15] frithjof opened #13704 "[Bug]: newly created asset becomes null if assigned to hotspotimage"
### Expected behavior

the hotspotimage contains the asset image

### Actual behavior

 object(Pimcore\Model\DataObject\Data\Hotspotimage)#2259 (7) {
    ["image":protected]=>
    NULL
    ["hotspots":protected]=>
    array(0) {
    }
    ["marker":protected]=>
    array(0) {
    }
    ["crop":protected]=>
    array(0) {
    }
    ["_owner":protected]=>
    NULL
    ["_fieldname":protected]=>

[2022-11-29 19:30] sh1n2k18 opened #13706 "[Bug]: "Image Gallery" moving images does not work properly"
### Expected behavior

Normal movement images on the gallery

### Actual behavior

Images in the image gallery can't move properly

### Steps to reproduce

Try to move images on a image gallery field on a data object.
Link to movie show the issue: https://we.tl/t-Pv7UXmwKSj

[2022-11-30 08:29] BlackbitDevs commented on #13689
@brusch @dvesh3 WDYT? Could you imagine to accept such a big change? I want to ask before because I have invested too many hours into PRs which in the end got simply declined.

[2022-11-30 08:53] brusch commented on #13702
@kanevbg that sounds like a perfect match for a bundle 😉

[2022-11-30 09:05] dkarlovi commented on #13507
I can confirm the approach done in #13613 fixes the issue for us, we're no longer seeing worker crashes caused by deadlocks.

[2022-11-30 09:08] dpfaffenbauer commented on #13507
@brusch The updateOrInsert is not used in the case for relations... so not sure what a good solution there is

[2022-11-30 09:19] kanevbg commented on #13702
@brusch Did you mean as part of the Pimcore or to be developed independently of Pimcore?

[2022-11-30 09:31] brusch commented on #13702
@kanevbg independently 😊 Should be quite easy by adapting the existing textfield data-type.

[2022-11-30 10:40] fashxp opened #13711 "[Bug] [Pimcore 11] Activate Maintenance mode destroys instance"
### Expected behavior

maintenance message is shown

### Actual behavior

![image](https://user-images.githubusercontent.com/8792145/204774872-f8f42222-5009-4623-ae16-61602ba0df0d.png)

also it is not possible to deactivate maintenance mode in backend anymore

### Steps to reproduce

activate maintenance mode in backend

[2022-11-30 11:09] fashxp opened #13712 "[Bug] Document Types | Predefined Properties translate doesn't work"
### Expected behavior

![image](https://user-images.githubusercontent.com/8792145/204780908-581dc6bb-ad2f-4c69-b3ee-0e70c4306535.png)

translate button has function

### Actual behavior

translate button has no function and throws JS error

### Steps to reproduce

klick  button

[2022-11-30 11:10] fashxp commented on #13712
Same also is for predefined properties

[2022-11-30 13:54] fashxp commented on #13700
any suggestions and contributions are welcome

[2022-11-30 14:33] BlackbitDevs commented on #13689
Interesting alternative: https://github.com/manticoresoftware/manticoresearch/ (suggested by https://github.com/pimcore/pimcore/discussions/13429)