[2021-11-24 08:28] dvesh3 commented on #10699
Fixed b #10709

[2021-11-24 08:28] #10699 closed, assigned to nobody

[2021-11-24 08:40] CountZero1981 opened #10889 "[Bug]: Unable to serialize objects with Localizedfields"
### Expected behavior

My controller inherits FrontendController. When I use the method `$this->json` of FrontendController, I should be able to get serialized representation of object.

### Actual behavior

When I use the method `$this->json` of FrontendController, I'm getting the error `A circular reference has been detected when serializing the object of class "Pimcore\Model\DataObject\Bags" (c

[2021-11-24 10:23] blankse commented on #10661
@NiklasBr Can you retry it with https://github.com/pimcore/pimcore/pull/10878?

[2021-11-24 10:35] dvesh3 commented on #10779
Fixed by #10890

[2021-11-24 10:35] #10779 closed, assigned to nobody

[2021-11-24 10:50] dvesh3 commented on #10747
Could not reproduce on latest version 10.2.5.

please feel free to come back if you still facing the issue. thanks!

[2021-11-24 10:50] #10747 closed, assigned to nobody

[2021-11-24 11:07] rjankiew commented on #10747
Thank you @dvesh3. I cannot see any linked pull requests, could you shed any light on what changes resolved this?

[2021-11-24 11:12] dvesh3 commented on #10747
Honestly, I'm not sure what fixed it. I just tried to reproduce the issue with mentioned steps on latest version and couldn't anymore.

[2021-11-24 13:48] brusch commented on #10889
Entities implementing `ElementInterface` are just not JSON serializeable at the moment. There is an existing issue for that, but I can't fint it right now. 😉

[2021-11-24 13:48] #10889 closed, assigned to nobody

[2021-11-24 14:16] CountZero1981 commented on #10889
for those who are interested how to serialize it: use circular references handler as it is described in Symfony documentation, and don't use the default controller->json method. though, still, then it tries to serialize the embedded DBAL object.

[2021-11-24 14:32] CountZero1981 opened #10893 "[Bug]: Tabpanel allows to set tabPosition to null, but throws an exception when code is trying to get it"
### Expected behavior

Pimcore UI allows to set Tabpanel's tabPosition to null. Also, this is the default value in old product definitions. setTabPosition allows to use null values, getTabPosition should also allow it. Or it should return `top` by default (as Sencha actually doesn't allow null as a value). The same with Localizedfields.

### Actual behavior

Getter throws an exception `The method

[2021-11-24 15:19] zangab opened #10896 "[Improvement]: Data Object PHP Classes Names"
### Improvement description

I stumbled on some interesting stuff tbh.
I created different data object classes and wanted to change the "name" property of the class to be more descriptive to the user bc usually just the class ID is used. However if I change the `name` the class also gets renamed and I was rly like "wtf".

Why is this linked to the classname? Why can't the PHP class be based on the

[2021-11-24 16:34] blankse commented on #10809
Fixed by https://github.com/pimcore/pimcore/pull/10888

[2021-11-25 06:03] NikitchenkoSergey commented on #10692
I have same issue. I reproduce it on https://demo.pimcore.fun/admin/?_dc=1637819821&perspective=.
I create new class Brand and create many-to-one relation on Car.
![Screenshot_20211125_090301](https://user-images.githubusercontent.com/7048202/143388250-238c5991-37ab-42c2-865d-38b472e5690a.png)
![Screenshot_20211125_090243](https://user-images.githubusercontent.com/7048202/143388251-be10c66a-4a05-4

[2021-11-25 08:03] brusch commented on #10692
On `demo.pimcore.fun` it's intentional that it doesn't work, since the queue isn't processed there 😉

[2021-11-25 08:55] #10896 closed, assigned to nobody

[2021-11-25 09:00] #10809 closed, assigned to nobody

[2021-11-25 10:02] dvesh3 commented on #10468
@matthiashamacher I tried to reproduce the issue with 15000 calls to trans function and there 3 select types with option providers populating 5k options. I don't really see any difference in loading the object with or without changes from #10241.

Could you please debug it further? have you tried returning true from `hasStaticOptions()`?

some other changes in 10.1.3 related to select datatype htt

[2021-11-25 12:30] dvesh3 commented on #10345
We are not using namespaces for session storage items in the core, so I would suggest we simply replace the `NamespacedAttributeBag` usages with `AttributeBag` instead of re-implementing it in the core.

[2021-11-25 12:39] matthiashamacher commented on #10468
@dvesh3 Unfortunately setting the `hasStaticOptions()` to true does not work either. The loading time is the same.

Regarding the other changes, I figured out that the issue is because of #10241 because I was on version 10.1.2 and manually implemented the patches of each PR and tested again. Only with #10241 the loading time is increased, so I cannot reproduce the issue with #10250. Therefore I cu

[2021-11-25 14:51] RuudvdvNB commented on #9727
@brusch for us this is not the only query that is causing performance issues in Pimcore. I started a discussion here on Github, might be able to look into that as well?

https://github.com/pimcore/pimcore/discussions/10907

[2021-11-25 15:14] dkarlovi commented on #10344
Ideally, Pimcore should **not** provide its own custom runtime to solve architectural problems, even though I'd expect it will be the first direction here.

The reason is: you'll want to do that to **actually swap out runtimes for the intended purpose**, for example using [Bref](https://github.com/php-runtime/bref) to deploy Pimcore as AWS Lambda maybe? Having a Pimcore runtime + and then needing

[2021-11-26 07:31] BlackbitNeueMedien opened #10910 "[Ecommerce Framework] Migration which enables generateTypeDeclarations"
### Improvement description

In #8040 the interfaces for the data model classes of the Ecommerce Framework bundle were extended so that the getter methods require return type declarations, e.g.:
https://github.com/pimcore/pimcore/blob/5661134f4bb8841dba8f6aa458277df89e50622c/bundles/EcommerceFrameworkBundle/Model/AbstractFilterDefinition.php#L33

Sadly there never was a migration for this. Consequ

[2021-11-26 08:15] dvesh3 commented on #10910
@BlackbitNeueMedien In the upgrade notes, it is mentioned that you to activate the `generateTypeDeclarations` check for all Ecommerce class for migrations. https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/Upgrade_Notes/index.html#page_Changes

And there are migrations already exists which regenerates the class definitions on upgrade to Pimcore X(https://g

[2021-11-26 11:05] NiklasBr commented on #10661
@blankse I know it was a reason _I_ voted for you for Pimconaut ;) your fix in #10878 appears to work great for viewing objects again in the admin UI when combined with a `class_alias` file loaded using [Composer's Files autoloading functionality](https://getcomposer.org/doc/04-schema.md#files) like this:
[code]

However, versions created prior to Pimcore X still cannot be restored/published again

[2021-11-26 11:45] BlackbitNeueMedien commented on #10910
@dvesh3 - it is always nice when things are documented, but isn't it even nicer when it just works? What speaks against a migration which enables `generateTypeDeclarations` for the Ecommerce classes? I would even create a PR, only wanted to check first if this had a chance to get accepted.

[2021-11-26 16:58] jdreesen opened #10912 "[Bug]: Areabrick autoloading is not compatible with the directory structure as described in Symfony's best practices for bundles"
### Expected behavior

Symfony proposes a directory structure as follows in its [Best Practices for Reusable Bundles](https://symfony.com/doc/current/bundles/best_practices.html#directory-structure):

[code]

When creating a bundle with this structure, Pimcore should be able to autoload areabricks from this bundle (which would be located in `src/Document/Areabrick/...` with their templates in `tem

[2021-11-27 11:56] GaneshKandu opened #10913 "[Bug]: Installer should use the PHP binary that was used to run the installer"
### Expected behavior

pimcore-install should use php binary that was used for its exicution but after run pimcore-install uses default php binary.

### Actual behavior

I am using server with multiphp, i am trying to run ```./vendor/bin/pimcore-install``` with php 8.0 that is ```ea-php80 ./vendor/bin/pimcore-install```

but after starting command ```./vendor/bin/pimcore-install``` uses default ph

[2021-11-29 08:28] dvesh3 opened #10915 "[ExtensionManager] Reconsider return type InstallerInterface::getOutput()"
### Improvement description

We should stick to `BufferedOutput` return type for `InstallerInterface::getOutput()` as other output implementations doesn't implement fetch method.

Discussion https://github.com/pimcore/pimcore/pull/10908#issuecomment-979886375

[2021-11-29 08:36] brusch commented on #10661
I think wrapping `$clone->$name` with `try/catch` should be fine here ... so
[code]

But I'm still wondering how this could happen ... a property starting with `\0` - maybe you can share some more insights on that.

Regarding EE: there's currently no additional documentation for `pimcore/pimcore`  but you have access to support, LTS, SLA, ...

[2021-11-29 08:39] brusch commented on #10910
@BlackbitNeueMedien hmm, I'm just wondering ... can we really create a migration that adds type declarations without breaking existing code? So if some fixes the issue already manually I mean 🤔

[2021-11-29 08:43] brusch commented on #10913
@GaneshKandu can you please check if Symfony's `PhpExecutableFinder` is resolving the right binary? We could then switch to that. If so can you please create a PR for that?
Thanks in advance!

[2021-11-29 08:56] BlackbitNeueMedien commented on #10910
@brusch I cannot follow you. How can someone have fixed this problem already manually if not by enabling `generateTypeDeclarations`?

[2021-11-29 09:41] jdreesen commented on #10661
A case how this could happen is e.g. if you do something like this:

[code]

Which will result in `Fatal error: Uncaught Error: Cannot access property starting with "\0"`

This is the case, because casting an object to an array will result in the array containing *all* the object's properties, while protected ones start with `*` and private with `\0ClassName\0`:

[code]

[code]

Here's an example:

[2021-11-29 09:46] mcop1 commented on #10841
Hello,

since the thumbnail conversion is now handled by the symfony messenger queue, the AssetDocumentConversionTask isn´t needed anymore. The new AssetUpdateTasksMessage gets added to the messenger queue and the maintenance task consumes the queue.
If you are interested, you can find some more informations in the upgrade notes [here](https://pimcore.com/docs/pimcore/current/Development_Documenta

[2021-11-29 10:07] brusch commented on #10661
@jdreesen aaaah 💡 Thanks for clarifying.

[2021-11-29 10:28] NiklasBr commented on #10841
Neither `AssetDocumentConversionTask` nor `AssetDocumentConversionTask` is not mentioned in the upgrade log. Which code is responsible for generating the Asset Documents thumbnails today @mcop1?

We have loads and loads of error messages like these in the log: https://github.com/pimcore/pimcore/issues/10714#issuecomment-953709325 when running this command: `bin/console maintenance --excludedJobs=l

[2021-11-29 11:05] michaelclaesson commented on #10661
The issue with non-existing keys during preview had to do with a faulty Twig filter expression. Created a pull request that fixes this. See above.

Edit: Created the patch from the wrong branch for the bug fix initially, thus the closed first PR. Sorry! 🙈

[2021-11-29 11:10] davordragic opened #10921 "[Improvement]: Nginx config fastcgi.conf"
### Improvement description

When using Pimcore with nginx server there is a docs with configuration.
source: https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/System_Setup_and_Hosting/Nginx_Configuration.html

but if using debian os, fastcgi.conf is not included by default (nor in docker nginx image based on debian).
![image](https://user-images.githubuse

[2021-11-29 12:14] jdreesen commented on #10921
The `nginx.conf` is in already the `skeleton` repo: https://github.com/pimcore/skeleton/blob/10.x/.docker/nginx.conf

It even has `include fastcgi_params;`

[2021-11-29 18:58] michaelclaesson commented on #10661
I can confirm that `Fatal error: Uncaught Error: Cannot access property starting with "\0"` is an issue when trying to restore document versions as well. Added @jdreesen's fix to the serialize tool but still had an issue with `models/Element/Service.php`, more specifically the `cloneMe` method, line 1243.

Changed from this:
[code]
To this:
[code]

to get it to work. No idea whether it's the right

[2021-11-30 06:38] BlackbitDevs opened #10924 "Custom Layouts for object bricks + field collections"
### Feature description

With custom layouts you can limit the field which a certain user / role can see / edit. But this currently only exists for classes, not for object bricks or field collections. It would be nice if we could extend this functionality also to those.

[2021-11-30 08:49] VLynnik opened #10925 "[Bug]: field with a date type"
### Expected behavior

The field with the Date type will be saved and will not throw an exception.

### Actual behavior

field with a date type: the function expects \Carbon\Carbon, and a \DateTime is passed.

### Steps to reproduce

Create a field with the "date" type in the Object. This field needs to be edited through the form from the symfony.

[2021-11-30 08:56] VLynnik commented on #10524
why do you need it?

[2021-11-30 09:11] lisaPolena opened #10926 "[Bug]: Error when saving after deleting a fieldcollection in an object"
### Expected behavior

- Delete Fieldcollection in object
- Save and publish object

### Actual behavior

If you delete a fieldcollection (not the one at the bottom) and then try to click "Save and Publish", an error message comes up.

![image](https://user-images.githubusercontent.com/88780000/144016086-3c1eb603-e3af-4123-be00-e0ca0a4afe29.png)
![image](https://user-images.githubusercontent.com/8

[2021-11-30 10:40] dvesh3 commented on #10637
Fixed by #10891

[2021-11-30 10:40] #10637 closed, assigned to nobody

[2021-11-30 10:51] mcop1 commented on #10841
@NiklasBR

The code responsible for generating the (document) thumbnails can be found here

https://github.com/pimcore/pimcore/blob/777984e9d301bc1df1dbbe2cdbda04d27e74b750/models/Asset/Document.php#L89

and here

https://github.com/pimcore/pimcore/blob/96dfb78d70ff6a3868e863246a913fd26d2145bb/lib/Messenger/Handler/AssetUpdateTasksHandler.php#L33

The upgrade notes mention the maintenance task and

[2021-11-30 14:19] NiklasBr commented on #10841
Is that supposed to generate the thumbnails? I cannot make that command create any thumbnails from Asset Documents on 10.2.5

[2021-12-01 08:45] NiklasBr commented on #10841
But then it says:

@mcop1 can you provide some documentation about the *intended* usage here?

[2021-12-01 09:01] mcop1 commented on #10841
@NiklasBr

This command consumes 10 messages from the pimcore_core and pimcore_maintenance queue. But not only AssetUpdateTasksMessage are queued there. It is a way to check if the queues get consumed in general.

For Pimcore 10 the --async argument is still supported. But it will be dropped with Pimcore 11, the job will always be async then.

The recommended/intended use:

* Run maintenance job i

[2021-12-01 10:03] dvesh3 commented on #10910
@BlackbitNeueMedien we are ok with a migration that enables `generateTypeDeclarations` property for Ecommerce classes but remember it needs to re-generate these classes afterwards (and there are already migrations for Pimcore X that is doing the job).

[2021-12-01 10:34] fashxp commented on #10841
maybe also related: #10928

[2021-12-01 10:58] NiklasBr commented on #10841
This part is unclear. So to consume the queue in Pimcore 11 we have to run a second command in addition to `pimcore:maintenance`?

Also take a look at issue #10714 which causes issues with the queue.

Running your suggested command `messenger:consume pimcore_core pimcore_maintenance -vv` as well as `maintenance --excludedJobs=logmaintenance,cleanuplogfiles,imageoptimize` does not appear to create

[2021-12-01 11:26] breakone opened #10930 "[Bug]: Cannot create "icons" folder in assets"
### Expected behavior

Create a folder named "icons", upload some assets and use them.

### Actual behavior

Assets within a folder named "icons" cannot be used. A 404 occurs.

### Steps to reproduce

- Create folder named "icons"
- Upload assets
- Call the public url of an asset

Reproduced the bevahior on https://demo.pimcore.fun

![image](https://user-images.githubusercontent.com/4848121/144226

[2021-12-02 07:21] shaselboeck opened #10935 "[Bug]: Areablock Editable - drag + drop not working in manual mode"
### Expected behavior

Moving elements should be possible via drag + drop.

### Actual behavior

The drop zone is available in the HTML code, but the drop zone is not highlighted with a border and the element cannot be dropped anywhere. Elements can be moved using the arrows (up / down).

### Steps to reproduce

Use this code from the docs:
https://pimcore.com/docs/pimcore/current/Development_Docu

[2021-12-02 07:58] vaishaliPimcore opened #10936 "[Bug]: Need to understand in our secure url , why it is coming http on LOGIN as this user in the different browser"
### Expected behavior

It is should come in https://website

### Actual behavior

is it coming in http://website

### Steps to reproduce

[](url
![our-project](https://user-images.githubusercontent.com/59276447/144380958-f4c287b6-c953-4486-8131-94de6b2bfaba.png)
![demoPimcore](https://user-images.githubusercontent.com/59276447/144380967-4a40f36b-f59c-4e5e-aab3-3cf5c402dac9.png)
)

Please let me kn

[2021-12-02 08:05] mcop1 commented on #10841
Exactly. The plan for Pimcore 11 is to run a second command.
In Pimcore X you only have to run the second command if you are using async argument.

There is no dedicated command for creating thumbnails, since they are stored in the same queue as other messages.
As I said, the command

`messenger:consume pimcore_core pimcore_maintenance -vv`

consumes the queue, but there are all kinds of different

[2021-12-02 08:28] NiklasBr commented on #10841
Then why are you deprecating when there is no replacement available. That is incompatible with the Symfony way.

Why?

It never gets consumed when the command is completed even following your instructions to the tee.

Once again, see #10714

The command completes (takes about 7 hours to run through with millions of lines in the log, see #10714), but the queue remains in the table.

It does not.

[2021-12-02 09:50] fashxp opened #10939 "[Bug][DataObject][Reverse Object Relation] Results in error when not defining owner class / owner field"
### Expected behavior

do not allow saving incomplete class definition or no error when creating/saving data objects

### Actual behavior

when creating data objects, error message:

![image](https://user-images.githubusercontent.com/8792145/144398546-36b4d46f-bb1f-4b9f-b148-34bf31043daf.png)

### Steps to reproduce

Create class definition with reverse object relation field, and do not define own

[2021-12-02 10:15] #10936 closed, assigned to nobody

[2021-12-02 19:16] CountZero1981 opened #10949 "[Bug]: Objectbrick::getLocalizedTableName() returns wrong value"
### Expected behavior

Objectbrick::getLocalizedTableName() should return something like `object_brick_Basedata_localized_24`

### Actual behavior

it returns `object_collection_Basedata_localized_24`

### Steps to reproduce

create an Objectbrick and call the function.
Objectbrick\Dao (models/DataObject/Objectbrick/Definition/Dao.php) is inherited from Fieldcollection\Dao, but overrides all paren

[2021-12-03 00:15] alexanderkroneis opened #10951 "[Improvement]: Stable Builds"
### Improvement description

Hi,

first of all I need to say that I really appreciate Pimcore and the progress it made in the last few months and years. I think developing such a great product is difficult and issues gonna pop up and mistakes are part of the progress. I am also a huge fan of positive criticism and I mean the following lines in the most positive way possible:

Pimcore is used for e

[2021-12-03 01:22] alexanderkroneis opened #10952 "[Bug]: TranslatorInterface created by Container is not supported anymore"
### Expected behavior

Show a list of documents on the left side of the navigation.

### Actual behavior

Modal opens with following error message

[code]

### Steps to reproduce

- Access your local installation on Pimcore v10.1.5
- Login with valid credentials
- See the error message

[2021-12-03 01:23] alexanderkroneis commented on #10952
Meanwhile I figured out it's coming from this line:

[code]

[2021-12-03 10:12] #10951 closed, assigned to nobody

[2021-12-03 10:30] dvesh3 commented on #10952
@alexgaal sorry, it works for me:

![image](https://user-images.githubusercontent.com/5137917/144587748-a4b6813c-5206-412b-a0b6-3ab57e4d5db2.png)

[2021-12-03 11:22] dvesh3 commented on #10661
Fixed by #10920

[2021-12-03 11:22] #10661 closed, assigned to brusch

[2021-12-03 13:59] LosHawlos opened #10957 "[Bug]: Empty groups in areablock menu"
### Expected behavior

The Areablock allows the areas to be grouped. The Menu should show only those groups that contain areas.

### Actual behavior

The menu of the Areablock will show all groups. Even empty ones that make no sense to the user.
This can happen when areas are globally disabled in the Bundles&Bricks Settings.

### Steps to reproduce

Take the example from the documentation
[code]

[2021-12-03 14:49] speggi opened #10960 "[Bug]: There is no active transaction when delete asset without user permissons on file system"
### Expected behavior

An exception throws with right message: "Have no permissions on asset file".

### Actual behavior

Throws an Dao exception in try section in Asset delete fucnction cause www-data have no permissions on asset file, but catch section crashes cause there is no transaction to rollback. The truly exception message lost.

`Status: 500 | Internal Server Error
URL: /admin/asset/dele

[2021-12-03 15:01] speggi opened #10961 "[Bug]: Classification store collections, filter by name "Undefined property stdclass""
### Expected behavior

Filter works normally

### Actual behavior

When i try first time (first click on filters) to set a filter by name on my classification store collection it throws "Undefined property stdclass" in `bundles\AdminBundle\Controller\Admin\DataObject\ClassificationstoreController.php` at 284 line.

Guess it happens case onClick event triggers a "Collection" classification store co

[2021-12-05 09:41] hcarsten opened #10966 "[DataObject]: enrichLayoutDefinition fails if no layout defined"
### Expected behavior

/vendor/pimcore/pimcore/models/DataObject/Service.php
public static function enrichLayoutDefinition(&$layout, $object = null, $context = [])
fails if no layout are (yet) defined for a DataObjec class

should be catched or just return if $layout is null

### Actual behavior

method_exists will fail with a fatal error

### Steps to reproduce

create a class just with only the

[2021-12-05 17:26] langert commented on #524
$this->pimcoreNavigation() is not available in pimcore x. How can I extend the navigation with a custom page in pimcore x? Thanx for any hints

[2021-12-06 11:43] dvesh3 commented on #7671
Fixed by #10962

[2021-12-06 11:43] #7671 closed

[2021-12-06 12:20] dvesh3 commented on #10966
Fixed by https://github.com/pimcore/pimcore/commit/6d96962027db8388ef5e737a69657ba3bb6d9b4a

[2021-12-06 12:20] #10966 closed, assigned to nobody

[2021-12-06 12:24] dvesh3 commented on #10952
Closing as there's no response. Please feel free to come back with reproducible case.

[2021-12-06 12:24] #10952 closed, assigned to nobody

[2021-12-06 13:42] dvesh3 commented on #10930
Seems to be some issue with Demo setup. Works on local instance.

[2021-12-06 16:05] dvesh3 commented on #9743
Hi @valentin- you can still use `admin_languages` under `pimcore_admin` node in config.yaml:
![image](https://user-images.githubusercontent.com/5137917/144880055-d3647574-ec9c-4382-a750-bc1be875f688.png)

[2021-12-06 16:05] #9743 closed, assigned to nobody

[2021-12-06 17:03] BentBr opened #10969 "[Bug]: HttpNotFound for redirects? With exception tracking tool (sentry)"
### Expected behavior

Redirects are being processed and resolved without symfony throwing the HttpNotFoundException.

### Actual behavior

When using redirects (path)  [/source] -> [/target] the user is being redirected to the correct page (pimcore document).
In frontend the proper http 301 is being returned.
This is working as expected for users / crawlers.

Backend-wise our tracking tool is rep

[2021-12-07 08:16] valentin- commented on #9743
@dvesh3 that's true but saving the system settings in the backend removes the defined `admin_languages`. I guess this isn't intended and should be improved.

[2021-12-07 08:53] dvesh3 commented on #9743
The behavior was changed with Pimcore X as most of the config moved from System settings to `config.yaml` https://github.com/pimcore/pimcore/issues/8754

[2021-12-07 09:25] valentin- commented on #9743
Ah yes i was focused on the `system.yml` file, defining the `admin_languages` in the `config.yaml` works fine. Thanks for clarification.

[2021-12-07 10:51] dvesh3 commented on #10961
Fixed by #10968

[2021-12-07 10:51] #10961 closed, assigned to nobody

[2021-12-07 12:23] podarcis commented on #10930
@breakone I guess it's the default Apache `/icons` alias which handles this URL. You might want to disable this alias in your Apache config.

[2021-12-07 14:34] MyZik opened #10975 "[Bug] [Backend UI]: Object/Tab reload -> console error"
### Expected behavior

The object must be reloaded correctly.

### Actual behavior

The object is reloaded, but with an error in the browser console.

### Steps to reproduce

1. Create the simple plugin, that reloads an Product object, after object was updated:

[code]

2. Save the object.
3. Reload works, but we'll get an error in browser console:

<img width="831" alt="Bildschirmfoto 2021-12-07

[2021-12-07 15:31] dpfaffenbauer commented on #10930
we use the pimcore/pimcore docker setup, is the `/icons` alias enabled there by default too?

[2021-12-08 09:58] solverat opened #10980 "[Bug|Tests]: Session has not been set"
### Expected behavior

Exception "Session has not been set" should not occur in tests.

### Actual behavior

After several hours of debugging, I'm still not sure why this is happening.

A redirect test from one of our bundles is failing since symfony 5.4. It states:

[code]

I know, this is a stupid one, I simplified it a bit so that there are no external bundles involved. In fact, this could be a

[2021-12-08 12:50] SamyMP commented on #10975
As a workaround solution, I found out that putting the reload in a setTimeout of 1 sec seems to prevent this message in the console :

[code]

But I think the issue should be adressed properly in the source code

[2021-12-08 13:43] Timonwatteny opened #10982 "[Bug]: Moving a large amount of objects (15+) to another folder results in multiple errors."
### Expected behavior

Selecting multiple dataobjects (+15) and dragging them to another folder results in moving those objects to the new folder.

### Actual behavior

The objects are placed in the new folder but an error message shows per object:
![Screenshot 2021-12-08 at 14 39 49](https://user-images.githubusercontent.com/31765954/145218415-c3d7db29-81f0-492b-82a4-b8f4be78e689.png)
![Screensho

[2021-12-09 07:23] mcop1 commented on #10841
Good morning,

sorry for the late repsonse, but since I can´t reproduce the problem and @brusch did the PR, I assigned him to this issue.

Best regards

[2021-12-09 08:58] dpfaffenbauer opened #10986 "[sabre\dav] sabre dav BC break"
### Expected behavior

sabre\dav introduced a BC break in 4.2.2: https://github.com/sabre-io/dav/pull/1365

Two possibilities for a fix:
 1. conflict 4.2.2 and stay on older versions
 2. add new param to Pimcore and use 4.2.2 as min-requirement

Which one do you guys prefer?

### Actual behavior

-

### Steps to reproduce

-

[2021-12-09 09:47] dvesh3 commented on #10986
As there is no decision yet on this change, let's add conflict for `4.2.2` at the moment. We can properly fix it, once they decide if they want to keep this change or revert it.

[2021-12-09 10:10] dpfaffenbauer commented on #10986
they just reverted and will release 4.2.3: https://github.com/sabre-io/dav/pull/1365, so a conflict is more than enough then

[2021-12-09 10:11] jdreesen commented on #10986
It was reverted in https://github.com/sabre-io/dav/pull/1375 and will be released in [v4.2.3](https://github.com/sabre-io/dav/pull/1376)

[2021-12-09 10:19] #10986 closed, assigned to nobody

[2021-12-09 10:21] phil-davis commented on #10986
Apologies guys for breaking it. Thanks for reporting promptly!

[2021-12-09 10:26] dvesh3 commented on #10986
@phil-davis No worries. Thanks for the quick action 👍

[2021-12-09 10:41] roland4432 opened #10990 "[Bug]: cachekey generation will result in empty string"
### Expected behavior

Getting children of hardlinks or documents should get its appropriate children.

### Actual behavior

Throws exception:
An exception has been thrown during the rendering of a template ("Warning: Undefined array key """).

Caused by:
/models/Document/Hardlink/Wrapper:161
[code]

The corresponding $cacheKey is generated via:
/models/Document:1376
[code]
This will create an emp

[2021-12-09 10:47] dvesh3 commented on #10949
Fixed by #10950

[2021-12-09 10:47] #10949 closed, assigned to nobody

[2021-12-09 11:59] #10893 closed, assigned to nobody

[2021-12-09 12:16] #10957 closed, assigned to nobody

[2021-12-09 12:32] NiklasBr commented on #10841
@brusch looking deeper into the logs I wonder if these messages are related:

[code]

[2021-12-09 16:10] valentin- opened #10994 "[Bug]: Multiple database cache calls"
### Expected behavior

Im trying to load a list of products in a Controller (Route), prefilter them using php and finally render them.

[code]

Loading a bigger list on production fails, because of an database memory limit error.

The Symfony profiler showed, that there a many database queries selecting the same cache items - in this case 303 (with this id) of 1242 items total.

![image](https://u

[2021-12-10 08:40] fashxp commented on #10994
isn't the first param the item_time? please check the second param.

and besides that, please don't use DB as cache backend in production environments, use redis instead.

[2021-12-10 08:40] #10994 closed, assigned to nobody

[2021-12-10 09:08] MyZik commented on #10975
Thank you @SamyMP, the workaround works :)

[2021-12-10 09:41] solverat commented on #10980
maybe related: https://github.com/symfony/symfony/issues/44546

[2021-12-10 10:17] LosHawlos opened #11002 "[Feature]: Object DataType RGBA Color: option to hide the alpha channel"
### Feature description

We often use the [RGBA Color data type](https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Data_Types/Others.html#page_RGBA-Color) in objects but in almost all cases we don't need the alpha channel.

Feature Request: Add an option to disable and hide the input and selection of the alpha channel.

[2021-12-10 13:18] CountZero1981 opened #11004 "[Bug]: Pimcore Translator Closes Transaction"
### Expected behavior

I create a product or do anything else using a transaction. Inside the transaction I use Pimcore translator. This shouldn't have any effect on my transaction.

### Actual behavior

If a translation entity with a translation key doesn't exists, using translator commits transaction prematurely.

### Steps to reproduce

Open a transaction. Try to translate a key which doesn't e

[2021-12-12 13:50] ismetsener opened #11005 "[Bug]: Brick 'xxxx' not found"
### Expected behavior

/opt/pimcore/bin/console pimcore:maintenance

I expected no error

### Actual behavior

Hi,

after the command:
/opt/pimcore/bin/console pimcore:maintenance
I got the next error:

00:14:53 ERROR     [app] Brick 'LuxuryPaperBag2' not found. Please check table object_brick_store_LuxuryPaperBag2_PRDCTS
00:14:53 ERROR     [app] Brick 'LuxuryPaperBag2' not found. Please check tab

[2021-12-13 10:22] CountZero1981 commented on #11005
`bin/console pimcore:deployment:classes-rebuild`?
https://pimcore.com/docs/pimcore/current/Development_Documentation/Deployment/Deployment_Tools.html#page_Pimcore-Class-Definitions

[2021-12-13 10:24] CountZero1981 commented on #11004
another possible solution is to save non-translated entries to memory and dump them to db somewhere in onTerminate.
@dveshp3 what do you think? if any of these solutions is fine, I can implement it.

[2021-12-13 12:45] ismetsener commented on #11005
I did before, but I get still same message:
13:40:29 ERROR     [app] Brick 'LuxuryPaperBag2' not found. Please check table object_brick_store_LuxuryPaperBag2_PRDCTS
13:40:29 ERROR     [app] Brick 'LuxuryPaperBag2' not found. Please check table object_brick_query_LuxuryPaperBag2_PRDCTS

[2021-12-13 19:57] fashxp opened #11010 "[Improvement] add option go generate avif thumbnails with pimcore:thumbnail:image command"
### Improvement description

right now, this is not possible
followup from #6766

[2021-12-14 09:34] dvesh3 opened #11011 "Improve docs for Configuration Storage locations"
### Improvement description

Add more clarity regarding different storage location scenarios.

For example, when you deploy `symfony-config` configurations from `dev` to `prod` and would like revalidate the existing configs on production.

[2021-12-14 10:25] #10345 closed, assigned to dvesh3

[2021-12-14 10:31] dvesh3 opened #11012 "[Ecommerce] Pricing Manager - Replace SessionInterface injection"
### Improvement description

Please see https://github.com/pimcore/pimcore/pull/10909/files#diff-9a89925675cb58ed54af98157193e012e7badaea0de66c9beae61d5cfdf9f162R51-R54

[2021-12-14 11:50] jremmurd opened #11014 "[Improvement]: consistently use .yaml not .yml"
### Improvement description

As Symfony uses `.yaml` rather than `.yml` it would be good to stick to this format and remove all `.yml` config files.

See i.e.
- https://github.com/pimcore/pimcore/blob/10.x/lib/Kernel.php#L165
- https://github.com/pimcore/pimcore/blob/10.x/bundles/CoreBundle/Resources/config/routing_dev.yml

Comments and documentation should be considered as well.

[2021-12-14 13:28] roland4432 opened #11015 "[Bug]: getChildren() - method of Document fetches unpublished children"
### Expected behavior

[code]

should only get published children.

### Actual behavior

This call gets unpublished children. What you need to call (and which is pretty unintuitive) is to do this:
[code]

Why? Because
[code]

So this brings up 2 questions:
1. Why is `private static $hideUnpublished = false;` in the class models/Document the default? As far as I checked, the default is always to *n

[2021-12-14 13:59] jdreesen commented on #11015
`$hideUnpublished` should be `true` for the frontend context and `false` for the backend context by default.

Are you in frontend or backend context?

If you are in frontend context, are you sure there's no `Document::setHideUnpublished(false)` (that doesn't reset it to `true` afterwards) anywhere in your code?

[2021-12-14 14:11] roland4432 commented on #11015
Found the issue within a twig extension gathering some documents for navigation stuff. So yepp, it came up in the frontend and as far as I checked my code, there is no call for the setter to switch it to `false`.

[2021-12-15 08:53] NiklasBr commented on #9123
Can we revisit this issue (maybe for Pimcore 11)? Because it has been no single commit to the Vrana repository for seven months now:
https://sourceforge.net/p/adminer/git/ci/1f173e18bdf0be29182e0d67989df56eadea4754/log/?path=

[2021-12-15 10:08] #10321 closed, assigned to dvesh3

[2021-12-15 10:48] dvesh3 opened #11024 "[Ecommerce]: Pricing Rules - Do not allow negative discounts"
### Expected behavior

Not possible to set negative discounts

### Actual behavior

It is possible to set negative discounts for Cart & Product discount actions, then adds it to to total amount.

### Steps to reproduce

1. Login to the application https://demo.pimcore.fun/admin
2. Navigate to Online shop -> Pricing Rules -> Voucher Discount -> Actions``
3. Enter Negative amount in Cart Discount an

[2021-12-15 10:56] simonkey opened #11025 "[Bug]: Classification store - inherited value not shown when value is cleared/empty after save"
### Expected behavior

When using inheritance the value of the parent should be shown if a previous override is cleared of a quantity value in the classification store. This means the value should also be removed in the database.

### Actual behavior

The value of the quantity value is set to NULL in the database, but not deleted. Therefore the field is not inactive and doesn't show the inherited

[2021-12-15 13:34] asysrieke opened #11028 "[Bug]: Pricing Rules - Saving pricing rule with date range condition leads to "setTime() on bool" error"
### Expected behavior

Saving pricing rules with date range condition should be possible.

### Actual behavior

On saving Pimcore shows an error dialogue with the following message:
![image](https://user-images.githubusercontent.com/15608701/146195465-269b5119-a812-409a-a09f-3d3e57cc14d9.png)
No further stacktrace is given.

Error is triggered in fromJSON() function in Pimcore\Bundle\EcommerceFram

[2021-12-15 13:41] dkarlovi opened #11029 "[Feature]: Nested set for the trees"
### Feature description

Currently, Pimcore is using so called "adjacency list" tree model (basically, storing a "parent ID") reference. This is pretty simple, works well with databases (FK constraints) etc. But, it doesn't work well with reading, it can be hard to read an entire tree (or a subset of a tree) easily and efficiently.

My proposal is to introduce an **additional** [nested set model](

[2021-12-15 15:15] sevarozh opened #11030 "[Bug]: OptionsProviderResolver::resolveProvider is always called with MODE_SELECT, both for Select and for Multiselect field. Then MultiSelectOptionsProviderInterface does not work because it needs MODE_MULTISELECT."
### Expected behavior

Provider implemented MultiSelectOptionsProviderInterface must be resolved for MultiSelect field in OptionsProviderResolver.

### Actual behavior

for MultiSelect field is SelectOptionsProviderInterface resolved

### Steps to reproduce

- assign a data provider with MultiSelectOptionsProviderInterface for MultiSelect Field
- open object
- Provider is not called and the option

[2021-12-16 08:24] matthiashamacher opened #11036 "[Bug]: Filter with > 3000 Options does not open"
### Expected behavior

When adding a field with many options through an option provider, it is expected that you could filter that field in the grid.

### Actual behavior

Filtering is not possible as loading of the filters takes too long and lets the browser think that the page crashed.

We have the following loading times:
2000 -> ~ 2s
3500 -> ~ 13s
15000 -> ~ 2m 30s

In the last case, both Chro

[2021-12-16 08:39] dpfahlbusch commented on #11036
Maybe this issue is related: https://github.com/pimcore/pimcore/issues/10468

[2021-12-16 09:20] solverat commented on #10980
https://github.com/symfony/symfony/pull/44618 fixes that! Let's hope it's going to be merged!

[2021-12-16 10:21] GALCF opened #11038 "[Bug]: SQL exception on obscure URL with encoded entities"
### Expected behavior

Opening an obscure URL should not result in an SQL exception

### Actual behavior

The URL causes an SQL exception:

![An exception occurred while executing 'SELECT id FROM documents WHERE path = ? AND `key` = ?' with params ["\/", "\xaa"]: SQLSTATE[HY000]: General error: 1267 Illegal mix of collations (utf8_bin,IMPLICIT) and (utf8mb4_general_ci,COERCIBLE) for operation '=']

[2021-12-16 10:27] mcop1 commented on #10771
@brusch

AssetUpdateTasksHandler already handles videos, images and office documents, it works fine:
https://github.com/pimcore/pimcore/blob/10.x/lib/Messenger/Handler/AssetUpdateTasksHandler.php#L37

Isn´t that what you meant?

[2021-12-16 12:08] dvesh3 opened #11042 "[Symfony] Do not use deprecated Session service injections"
### Improvement description

Please see https://github.com/pimcore/pimcore/pull/11041

https://symfony.com/blog/new-in-symfony-5-3-session-service-deprecation

[2021-12-16 16:02] matthiashamacher commented on #10468
@dvesh3
I could locally fix my issue with the classification store but the loading time is still not better in the current version.

But I had now the time to create some files with whom you can test and reproduce the whole issue. You can find them here: https://gist.github.com/matthiashamacher/cbb8e3cd8dfaa2bf89d80d142ec73315
Those files represent the OptionsProvider Setup we use in the project w

[2021-12-16 16:05] matthiashamacher commented on #11036
@dpfahlbusch
Unfortunately not. I did some further testing regarding the #10468 issue and it seems to be better in the newer versions, as you can see in my [Test Results](https://gist.github.com/matthiashamacher/cbb8e3cd8dfaa2bf89d80d142ec73315#results-1).

The issue can be reproduced with the code examples provided in the [Gist](https://gist.github.com/matthiashamacher/cbb8e3cd8dfaa2bf89d80d142ec

[2021-12-16 16:50] BabovicT opened #11047 "[Bug]: Saving object without permissions with keybindings"
### Expected behavior

You are not able to save object if user has no permission to save an object. This is also the case when object has applied workflow that should disable the saving(save or modify = false).

### Actual behavior

User is able to save the object even if he has no permission using keybinding for save.

### Steps to reproduce

Make user that has access to objects(list, view) but h

[2021-12-17 07:42] #10770 closed, assigned to nobody

[2021-12-17 09:57] TheCodyKnight opened #11052 "[Bug]: Zoom in Image Standard Preview after using 360° Viewer"
### Expected behavior

When viewing an Image Asset in the admin backend preview, selecting the "360° Viewer" option, then toggling back to "Standard Preview", the original preview should be restored.

### Actual behavior

When viewing an Image Asset in the admin backend, selecting the "360° Viewer" option, then toggling back to "Standard Preview" leads to an unintended zoom if the image width/heig

[2021-12-17 10:05] TheCodyKnight opened #11053 "[Improvement]: option to cancel asset download / upload"
### Improvement description

In Pimcore Admin Backend, in the Asset area, once a (bulk) asset download or upload has been started, there is no way to abort it, except for reloading the website. This mainly is an issue when uploading/downloading a bigger bulk of images.

<img width="522" alt="Bildschirmfoto 2021-12-17 um 10 34 50" src="https://user-images.githubusercontent.com/19357290/146526922-de

[2021-12-17 10:42] dvesh3 commented on #10468
Thanks @matthiashamacher for detailing this out so well 👍 . I'll definitely have a look at it once we are done with 10.3 release.

[2021-12-20 09:50] jremmurd opened #11059 "[Bug]: PCX Update tables in DataObject migration"
### Expected behavior

Tables in DataObjects get migrated to new format during Pimcore Update Migrations.

Previously the array got serialized:
I.e. empty table was `s:0:"";` --> now it's a null value

### Actual behavior

After the update an error is shown:

`Pimcore\Model\DataObject\MyObject::setMyTable(): Argument #1 ($myValue) must be of type ?array, string given, called in /var/www/html/vendo

[2021-12-20 11:10] stschatzl opened #11060 "[Bug]: Lacking docker (compose) documentation"
### Expected behavior

Having docker support for current Pimcore version (10), also for docker-compose.

Also, there is no description of the provided tags and no versions on dockerhub.
At least, provide description, some "latest" tag for the greatest and latest and then for every version tags.

### Actual behavior

just a link on https://hub.docker.com/r/pimcore/pimcore to the outdated github rep

[2021-12-20 14:58] jremmurd opened #11063 "[Bug]: Type mismatch in EcommerceBundle installed classes"
### Expected behavior

Installed classes of EcommerceBundle match the provided abstract classes.

See i.e. https://github.com/pimcore/pimcore/blob/10.x/bundles/EcommerceFrameworkBundle/Resources/install/class_sources/class_OnlineShopOrderItem_export.json#L289

vs.

https://github.com/pimcore/pimcore/blob/10.x/bundles/EcommerceFrameworkBundle/Model/AbstractOrderItem.php#L72

### Actual behavior

An

[2021-12-20 16:53] #11010 closed, assigned to mcop1

[2021-12-21 08:15] #7049 closed

[2021-12-21 09:32] dvesh3 commented on #11028
Fixed by #11050

[2021-12-21 09:32] #11028 closed, assigned to mcop1

[2021-12-21 09:34] dvesh3 commented on #11059
Fixed by #11061

[2021-12-21 09:34] #11059 closed, assigned to dvesh3

[2021-12-21 09:45] dvesh3 opened #11065 "[Translations] Add UI widget with context information"
### Improvement description

- Add UI widget in the Admin UI for frontend and backend locales editing so that user doesn't have to open translations window every time.

- Also add context information to edit exclusives

[2021-12-21 12:21] leuchtdiode opened #11071 "[Bug]: Pimcore\Model\DataObject PHPdoc getList() wrong"
### Expected behavior

The getList()-Method of Pimcore\Model\DataObject\Concrete accepts an array as config as the first parameter.
The PHPdoc for this method in generated DataObject classes (Pimcore\Model\DataObject\*) states that getList() does not accept any parameter. This leads to code completion errors in the IDE.

PHPdoc should be

@method static \Pimcore\Model\DataObject\*\Listing getList(

[2021-12-21 13:02] dvesh3 commented on #11030
Already fixed in 10.2 version https://github.com/pimcore/pimcore/pull/10167/files#diff-93f22a71bb9681a676a589766af1415bf62c9578960abaf9298f0845552b8ed3R685-R702

[2021-12-21 13:02] #11030 closed, assigned to nobody

[2021-12-22 08:57] fashxp opened #11074 "[Bug][Dashboards] Buttons of Portlets are not clearly visible"
### Feature description

![image](https://user-images.githubusercontent.com/8792145/147065158-bb711a00-4ea5-4aa7-9bbd-4c9ca363e2c9.png)

[2021-12-22 08:59] fashxp opened #11075 "[Improvement][DAM] Video: No versioning preview possible"
### Improvement description

-Add custom Metadata to a video file
-open Versioning View

![image](https://user-images.githubusercontent.com/8792145/147065512-da5699b4-cfd1-45e1-b4b4-434eddcb40eb.png)

[2021-12-22 09:58] valentin- opened #11076 "[Bug]: Select search broken in data objects"
### Expected behavior

Show suggestions when typing

![image](https://user-images.githubusercontent.com/90033/147073858-1df6b74b-12f3-4e9c-a47e-4f748ae1d7b8.png)

### Actual behavior

There are no suggestions for selects/multiselects.

### Steps to reproduce

It's reproducible in the demo:

https://demo.pimcore.com/admin/login/deeplink?object_1018_object

[2021-12-22 10:49] ghost opened #11077 "[Bug]: Custom Editor Configuration of WYSIWYG field type in class definition breaks Admin-UI"
### Expected behavior

A custom editor configuration (CKEditor) is required for a WYSIWYG field type in a class definition.

### Actual behavior

The mentioned custom editor configuration in the [documentation](https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Data_Types/Text_Types.html) of a WYSIWYG text field type breaks the Admin UI.

Class Definition exa

[2021-12-22 11:32] fashxp opened #11078 "[Bug][Documents] Compare Versions results in error"
### Feature description

![image](https://user-images.githubusercontent.com/8792145/147086464-aa4f87b6-f98b-4843-89c6-38b44b25c7de.png)

[2021-12-22 11:33] fashxp commented on #11078
related to https://github.com/pimcore/pimcore/pull/10934?

[2021-12-22 11:35] dvesh3 commented on #11078
How? it is not merged yet 🤔

Note: it works with wkhtmltoimage library

[2021-12-22 11:41] dvesh3 commented on #11078
wkhtmltoimage.log from demo.pimcore.fun:
[code]

[2021-12-22 13:18] NiklasBr commented on #11077
I think the docs use are incomplete, the JSON need to validate and I can get the following configuration to work:
[code]
and this:
[code]

[2021-12-22 13:30] ghost commented on #11077
Thanks, this works.

So not a bug, just the snippet in the documentation is not valid.
It's rather an improvement, as Pimcore 6.9 tolerated invalid JSON with single quotes.

[2021-12-22 13:45] CountZero1981 commented on #11004
@brusch what do you think about it? let's discuss. I'm ready to implement a solution, just not sure which one would fit.

[2021-12-22 14:05] katharina-kopf opened #11081 "[Bug]: Content page scrolls up by itself"
### Expected behavior

You can scroll down the content page

### Actual behavior

When you scroll down, the content page scrolls back up by itself

### Steps to reproduce

Copy the master tree and paste it with "Paste (inheritance) > Paste language (recursive), updating references" and start overwriting the content. When you have to scroll down to continue your work, the content page will scroll u

[2021-12-22 14:28] #11077 closed, assigned to nobody

[2021-12-22 15:35] rjankiew opened #11082 "[Bug]: Timeout when using shared translations "import & merge""
### Expected behavior

Large files are processed without error.

### Actual behavior

When using  "import & merge" with csv files that have a lot of records, en error occurs:
![obraz](https://user-images.githubusercontent.com/89988908/147116608-cbcb3cf7-671f-41d5-9450-6c6904b98230.png)

Details:
[code]

The import is continued in the background (on a cron container as I understand), and the file i

[2021-12-23 08:13] leuchtdiode commented on #11071
I wanted to submit a pull request, but I'm getting "Permission denied" when pushing. Sorry, but this is my first pull request ;)

Do I need any permission?

[2021-12-23 08:26] leuchtdiode commented on #11071
#11084

[2021-12-23 08:41] #10649 closed, assigned to dvesh3

[2021-12-23 15:07] #6568 closed

[2021-12-23 15:49] Silverado2791 commented on #5007
@brusch

Videopreview ran as expected on identical pimcore 10.1.5 installations running on the same server - one with local asset storage, the other one with s3 asset storage.

Now after upgrade to 10.2.7

**Videopreview runs as expected on pimcore 10.2.7 installation with local storage**

1. upload example.mov to assetfolder
2. manually run bin/console pimcore:maintenance --async
3. manually run

[2021-12-24 11:35] GaneshKandu commented on #10913
I am not able to do that because i don't have knowledge about Symfony.

[2021-12-27 07:42] NikitchenkoSergey commented on #10692
In my case search not working bacause i updated thousands data objects and queue processed its slowly.
Can i disable update search index in console command on mass update elements like SearchSevice::disable, when updating  non-search fieilds?
In source code i didnt find it.

Or do not update search element, if search fields not changed?

[2021-12-27 10:27] brusch commented on #10930
Yes, this comes from the default Apache alias, just delete it and it will work as expected.
Regarding Pimcore Docker images: there is no more Apache image, so this is obsolete.
Regarding demo.pimcore.org: this will be soon migrated to Nginx, so will be fixed by then 😉

[2021-12-27 10:27] #10930 closed, assigned to nobody

[2021-12-27 10:50] brusch commented on #10969
Don't know how to reproduce that or how we can avoid that, would be nice if you could check that and provide a PR - as you have a working case for that. We're not gonna work on that anytime soon, so I'm closing this. looking forward for your PR!

[2021-12-27 10:50] #10969 closed, assigned to nobody

[2021-12-27 10:59] brusch commented on #10980
[#44618](https://github.com/symfony/symfony/pull/44618) was merged, so I guess we can close this issue then.

[2021-12-27 10:59] #10980 closed, assigned to nobody

[2021-12-27 11:15] brusch commented on #11004
@CountZero1981 yes, collecting the non-translated entries in a service and dump them on terminate sounds like a good solution to me also in terms of performance. Looking forward to your PR. Thanks!

[2021-12-27 11:16] #11005 closed, assigned to nobody

[2021-12-27 12:42] brusch opened #11091 "[Improvement]: Add page preview generation to queue in Page::save()"
### Improvement description

Follow-up to: #11023
It's not necessary to call another endpoint for adding the page to the queue. Moving this to Page::save() also has the benefit that previews are updated even when updating the page via SDK.

[2021-12-27 12:50] fashxp opened #11092 "[Bug][DAM] [View] - Trying to set Focal Point results in blue image"
### Feature description

HOW TO REPRODUCE

-Open image (jpg/png, etc.)
-Click on "Set Focal Point" --> Red dot appears withing the image
-move it to a random spot
-image is blue (marked)

![image](https://user-images.githubusercontent.com/8792145/147473361-8612dbb7-6f1b-4286-9de2-cfd75eb4a4f3.png)

[2021-12-27 12:58] fashxp opened #11093 "[Bug][DAM] [View] Focal point cannot be set after switching between "Standard Preview" and "360 Viewer""
### Feature description

HOW TO REPRODUCE

-Open Image
-Set Focal point
-Change to "360 Viewer"
-Change back to "Standard Preview"
-Set Focal point does not work anymore

[2021-12-27 13:00] brusch commented on #11036
Hmm, probably this is just too much options for ExtJS and the browser. Not really sure if we can do anything about it ... probably it's better to think about the data-model and use a relation field instead.

Anyway, we're not going to work on this anytime soon,  however we'd of course accept a PR for that. Therefore I'm closing this issue.

[2021-12-27 13:00] #11036 closed, assigned to nobody

[2021-12-27 13:03] brusch commented on #11038
@GALCF your proposed solution makes sense to me, can you please create a PR for that? (`10.2` branch).
Thanks a lot!

[2021-12-27 13:12] brusch commented on #10771
@mcop1 ah sorry, I guess this is about preview images for die Admin UI, similar what we do for images here: https://github.com/pimcore/pimcore/blob/10.x/lib/Messenger/Handler/AssetUpdateTasksHandler.php#L121

Renamed the issue accordingly 😊

[2021-12-27 13:18] brusch commented on #10468
To be honest, I don't think it's good to have 13000 options in one field ... I'm not even sure if this would work with a standard `<select>` in HTML?

[2021-12-27 13:36] brusch commented on #11060
There's a link pointing to the docs:
https://github.com/pimcore/docker#pimcore-php-fpm-docker-image
Also for starting new projects: https://github.com/pimcore/skeleton#docker

[2021-12-27 13:36] #11060 closed, assigned to nobody

[2021-12-27 14:09] fashxp opened #11094 "[Bug][Assets] Open version preview is blocking other requests"
### Expected behavior

requests are not blocking each other

### Actual behavior

requests of version preview block each other which results in bad responding backend UI

might also be the case for other requests that calculate thumbnails.

### Steps to reproduce

- Upload big image as asset and save multiple times
- open preview of different versions (and don't wait for them to finish loading)
-

[2021-12-27 14:15] brusch commented on #10913
@GaneshKandu just run the following code in your project directory:
https://symfony.com/doc/current/components/process.html#finding-the-executable-php-binary
Should be easy without Symfony knowledge - thanks in advance.

[2021-12-28 15:00] rjankiew opened #11097 "[Bug]: Clearing siblings cache when moving object in tree causes timeout"
### Expected behavior

When moving an object to a folder already containing a lot of objects, moved object should appear in the new folder without errors.

### Actual behavior

An error occurs:
![obraz](https://user-images.githubusercontent.com/89988908/147578897-70259e62-68d8-4b35-981a-9efa5ce281fc.png)
if in `updateIndexesOfObjectSiblings` method the foreach clearing siblings cache operates for

[2021-12-28 20:49] rpayanm opened #11099 "[Bug]: No route found for "GET http://example.com/image.png""
### Expected behavior

Show the image.

### Actual behavior

It gives a 404 error.

### Steps to reproduce

Version: `Pimcore Platform (v10.2.7|82dae6902d9a78c48e8de9e4fdbd2ecf0cec7816)`

1. Go to assets.
2. Right-click on Home -> Add Asset(s) -> Upload Files, upload an image.
3. Click on the newly added image, click on the info icon and select and copy the public URL.
4. Paste the URL on a new ta

[2021-12-29 04:18] GaneshKandu commented on #10913
@brusch yes, its working
i am getting correct binary path

[2021-12-29 07:00] pitzio725 commented on #4533
Hi there.

Hope you are all well.

I also had the below errors:

 * innodb_large_prefix = ON  is required.
 * innodb_file_format = Barracuda is required.
 * WITH RECURSIVE is required.

I solved the first 2 of them by commenting:

Patch ./vendor/pimcore/pimcore/lib/Tool/Requirements.php, and comment:

/*
        $largePrefix = $db->fetchRow("SHOW GLOBAL VARIABLES LIKE 'innodb\_large\_prefix';");

[2021-12-29 08:05] brusch commented on #11099
Seems to be an issue with your setup, works on our public demo:
https://github.com/pimcore/pimcore#demo-community-edition

[2021-12-29 08:05] #11099 closed, assigned to nobody

[2021-12-29 08:14] pitzio725 commented on #4533
I fixed the above error by commenting out:
//        $checks[] = new Check([
//            'name' => 'WITH RECURSIVE',
//            'state' => $queryCheck ? Check::STATE_OK : Check::STATE_ERROR,
//        ]);

Installation runs until step 6/11 and then gives the below NEW error:

======================================================
[ERROR] The following errors were encountered during installati

[2021-12-29 08:33] brusch commented on #4533
@pitzio725 it seems your MariaDB instance is not using Barracuda and `innodb_large_prefix`. Please check that directly on your MySQL console, by using:
[code]

[2021-12-29 08:36] pitzio725 commented on #4533
MariaDB [(none)]> SHOW GLOBAL VARIABLES LIKE 'innodb\_large\_prefix';
+---------------------+-------+
| Variable_name       | Value |
+---------------------+-------+
| innodb_large_prefix | OFF   |
+---------------------+-------+
1 row in set (0.01 sec)

MariaDB [(none)]> SHOW GLOBAL VARIABLES LIKE 'innodb\_file\_format';
+--------------------+----------+
| Variable_name      | Value    |
+-------

[2021-12-29 08:48] brusch commented on #4533
@pitzio725 you need to change the MariaDB configs accordingly, see: https://mariadb.com/kb/en/configuring-mariadb-with-option-files/

[2021-12-29 12:17] dkarlovi opened #11102 "[Feature]: make vrana/adminer an optional, suggested dependency"
### Feature description

Currently, Pimcore is requesting **a lot of dependencies**, some of which are more important than others.

[One example is `vrana/adminer`](https://github.com/pimcore/pimcore/blob/404fae9c61ac05e48e4432d31a456a358984428f/composer.json#L148), which is integrated in the admin. From my current experience using Pimcore, I have yet to use it, but it's still getting installed an

[2021-12-29 14:28] brusch commented on #11094
See also: https://github.com/Imagick/imagick/issues/524

[2021-12-30 10:00] rjankiew opened #11104 "[Bug]: getChildren() method of AbstractObject results in doctrine SyntaxErrorException error when object has null id"
### Expected behavior

when calling `->getChildren()` on newly created object (before the first save), empty array should be returned.

### Actual behavior

In version 10.2.7 (not sure in which version exactly this change happened) newly created objects have `id=null` before the first save. As a result, Doctrine\DBAL\Exception\SyntaxErrorException exception is thrown.

### Steps to reproduce

Crea

[2021-12-30 11:21] dkarlovi opened #11105 "[Improvement]: review the current dependencies"
### Improvement description

Examining a new Pimcore X app (while examining #11102), I've noticed there's quite a few issue in general with dependencies requested:

1. there's a lot of dependencies (currently my Skeleton based project has 179!)
2. some of those dependencies are **both optional and huge** (this can create issues for deployments to more modern, advanced environments such as AWS Lamb

[2021-12-30 15:42] HaaseIT opened #11109 "[Bug]: ON DUPLICATE KEY UPDATE will set row id to 0 if 2 processes try to insert the same value at the same time"
### Expected behavior

Does not set ID to 0

### Actual behavior

Sets ID to 0

### Steps to reproduce

Let me explain where this comes from and why this might be an edge-case for the most users:

I have a project, where the customer uploads Images that contain keywords in the metadata.

When the images are added, I will look for Tags that have the same name as each of these keywords. If there is

[2021-12-30 15:47] HaaseIT opened #11110 "[Feature]: Improvement of Search and Move"
### Feature description

In the Search and Move modal you currently have to double-click each asset/document you want to move, it would be nice to have checkboxes and the possibility to select all found assets/documents at once.

![grafik](https://user-images.githubusercontent.com/7584444/147766808-25cd778a-40f2-484e-8bfa-514ba75c2a0f.png)

This can be really frustrating, if you filter for a Tag a

[2022-01-03 04:00] Dau-Duc-Hai opened #11113 "[Bug]: Could not delete item"
### Expected behavior

Cannot delete assets. Find out that, thumbnails (in var/tmp/ folder) are not apache (www-data) owner

### Actual behavior

System alert cannot delete then delete folder instead

### Steps to reproduce

Try to delete assets

[2022-01-03 08:37] HaaseIT opened #11114 "[Improvement]: Tag Tree collapses whenever changes are made to Tags"
### Improvement description

Whenever you do changes on the tag tree, the whole tree will be collapsed. This is quite annoying.

Is it possible to keep the tree open, just as it was when the edit was started?

[2022-01-03 08:39] brusch commented on #11113
Fix your permissions ...

[2022-01-03 08:39] #11113 closed, assigned to nobody

[2022-01-03 08:56] Dau-Duc-Hai commented on #11113
Can you show me? the website / apache run under www-data and I thinks www-data should the account to generate thumbnails? Please help

[2022-01-03 10:27] brusch commented on #11071
Fixed by #11087

[2022-01-03 10:27] #11071 closed, assigned to nobody

[2022-01-03 14:22] brusch commented on #10913
Unfortunately I don't think we can change that without possibly breaking existing installations, so I'm afraid we need to change that for Pimcore XI.

[2022-01-03 14:36] brusch commented on #10841
@NiklasBr yes, this seems to be related, because the message cannot be processed. But I'm wondering how this could happen... because there's no such code in Pimcore that would trigger the error `Handling "Pimcore\Messenger\AssetUpdateTasksMessage" failed: Typed static property Pimcore\Model\Asset\Image\Thumbnail\Config::$previewThumbnail must not be accessed before initialization`  is it maybe som

[2022-01-03 23:31] solverat commented on #11102
+1 +1

[2022-01-04 08:48] brusch commented on #11102
I'm ok with separating Adminer out into a bundle. Contributions are welcome.

[2022-01-04 08:48] #11102 closed, assigned to nobody

[2022-01-04 08:48] brusch commented on #11102
Closed in favor of #11105 as it is about the same topic.

[2022-01-04 08:53] fashxp opened #11124 "[Improvement][Assets][Version Preview] Add loading indicator"
### Improvement description

as loading an asset preview might take a while, we should provide user feedback when it still is loading.

![image](https://user-images.githubusercontent.com/8792145/148033483-9731975a-6fa6-4241-81a7-60b327a8b6fa.png)

right now, user cannot see, if show image is the clicked version, or the previous one.

[2022-01-05 09:46] #11038 closed, assigned to nobody

[2022-01-05 09:47] brusch commented on #10714
See  #11121

[2022-01-05 09:47] #10714 closed, assigned to nobody

[2022-01-05 10:14] NiklasBr commented on #10841
We have no code adding to or consuming messages from the queue.

[2022-01-05 10:25] brusch commented on #10841
Probably not directly to the queue, maybe in an event handler or so?
Like I said, there is no such code in `pimcore/pimcore` that accesses `Pimcore\Model\Asset\Image\Thumbnail\Config::$previewThumbnail` and it's not reproducible on our end.

I'll close this here for now, if there are any new findings, please come back on this issue.

[2022-01-05 10:25] #10841 closed, assigned to brusch, mcop1

[2022-01-05 10:26] #11078 closed, assigned to brusch

[2022-01-05 10:41] paulverdu commented on #11076
I'm having the same issue. However, when changing a multiselect field setting to 'render type' 'tag' the autocomplete search does work..

[2022-01-05 11:44] blankse commented on #11104
Fixed by https://github.com/pimcore/pimcore/pull/11111

[2022-01-05 13:45] LosHawlos opened #11136 "[Bug]: Unable to edit/save a document when it contains an empty property of type document"
### Expected behavior

I want to be able to edit and save a document.

### Actual behavior

Editing triggers an error:

(reproduced on demo.pimcore.com and locally in Pimcore 10.2.7)

It is caused by the ajax call to `/admin/page/save-to-session` or `/admin/page/save?task=autoSave` that posts the document properties, and sometimes for an empty property of type "document" the value is null (which t

[2022-01-05 20:13] Yivan opened #11138 "[Bug]: POEditor links for translation in README.doc works no more."
### Expected behavior

The links given in README.doc should work:
- https://poeditor.com/join/project/VWmZyvFVMH
- https://poeditor.com/join/project/XliCYYgILb

### Actual behavior

On the POEdit page, it returns `There are no languages available to translate in this project.`

### Steps to reproduce

Just go on the links ; )

Thanks!

[2022-01-05 20:45] fashxp opened #11139 "[Bug] Admin/Shared Translations not working"
### Expected behavior

can edit translations

### Actual behavior

cannot edit translations

### Steps to reproduce

open admin translations and try to edit a translation after filtered ...

![image](https://user-images.githubusercontent.com/8792145/148286779-ea11526f-0ad9-46c8-95d4-e0981951b7ab.png)

[2022-01-06 09:55] solverat commented on #11042
Heavy task since the session management in pimcore is… difficult. Things like `$this->csrfToken = Session::getReadOnly()->get('csrfToken')` needs to be considered also.

We currently have a lot of issues regarding session management (mostly a Symfony 5.4 thing. Since then, weird session issues pop up everywhere in the symfony community).

For example, since 5.4 we're no longer able to log in into

[2022-01-06 14:02] solverat commented on #11042
Ok, and again, I spent too much time on this. In my case, the issue gets triggered by PIMCOREs `test.yaml` where it's using the `session.storage.mock_file` in `storage_id` which is deprecated.

I changed that in my test case to `session.storage.native` for now.

***

Just for reference,  `session.storage.mock_file` should get replaced by this (i guess) by this (after the session service has been r

[2022-01-06 16:58] foxgreek opened #11140 "[Bug][Email]: impossible to send emails"
### Expected behavior

After adding the email configuration as explained in the [docs](https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/Email_Framework/index.html), pimcore should be albe to send emails.

### Actual behavior

After adding email configuration to config/config.yml nothing happens (the notification "It seems that the mail settings are i

[2022-01-07 09:49] awroblewski opened #11144 "[Bug]: Caching - ClassificationStore KeyConfig - Pimcore 10.2.5"
### Expected behavior

Hello,

This is about creating/modifiying Classification store Keys programatically. There is no backend involvement here.

Step1 - create key
I create a classification store key using constructor \Pimcore\Model\DataObject\Classificationstore\KeyConfig, setting neccessary fields subsequently saving the KeyConfig using the ->save() method.

Step2 - modify key
Retrieving the f

[2022-01-10 07:52] matthiashamacher commented on #10468
I cannot tell you if it works in standard HTML, but it definitely works in Pimcore prior to version 10.1.3. As you can see from my linked gist we currently have a load time which is totally ok in version 10.1.2.

[2022-01-10 08:24] fashxp opened #11153 "planning"

[2022-01-10 08:48] #2773 closed

[2022-01-10 10:17] brusch commented on #11138
Fixed ... they archived our projects, no clue why, but reopened them now 😊

[2022-01-10 10:17] #11138 closed, assigned to brusch

[2022-01-10 12:42] BlackbitNeueMedien commented on #978
@Yivan Do you have created such a plugin or found another way to ensure that certain fields can only be edited when the user is allowed to in his custom layout?

[2022-01-10 13:35] rjankiew opened #11155 "[Bug]: "false" sortOrder concated into sql statement in DataObjectController"
### Expected behavior

When reordering tree elements sorted by index, no error should appear, and elements in tree should be reordered.

### Actual behavior

In `reindexBasedOnSortOrder` method of `Pimcore\Bundle\AdminBundle\Controller\Admin\DataObject/DataObjectController` class, `$currentSortOrder` can in some cases have `"false"` value, leading to error:
![obraz](https://user-images.githubuserc

[2022-01-10 14:42] BlackbitDevs commented on #978
Just for completeness: Since #9730 a user can only see the fields from his allowed custom layouts in the grid. Or in other words: Since then it is possible to restrict the fields which certain users / groups can see / edit.

[2022-01-11 09:37] brusch commented on #11140
For me this works like a charm - unreproducible (basically it's just the Symfony Mailer - see config).
On "demo.pimcore.fun" emails are disabled (for spam reasons), so this is ok that it doesn't work.

Maybe check the logs and if TLS verification works.

[2022-01-11 09:37] #11140 closed, assigned to nobody

[2022-01-11 09:42] brusch commented on #11109
For me this is not reproducible, so we'd need more details on it how to reproduce it, or even better, if you could provide a PR with the fix. It also sounds a bit weird to me, because the PK if the table `tags` is `AUTO_INCREMENT`:

https://github.com/pimcore/pimcore/blob/3f0281828d513b210f389193d66f2d67b5ed6903/bundles/InstallBundle/Resources/install.sql#L475

[2022-01-11 09:57] brusch commented on #11155
Not really sure how this could happen, but validating the input is anyway not a bad idea 😉
Fixes by #11156

[2022-01-11 10:00] brusch commented on #11144
It is possible to turn off the cache by calling `KeyConfig::setCacheEnabled(false)`, so maybe this is the right approach in your case. But you're right, it probably also makes sense to invalidate the runtime cache by calling `unset(self::$cache[$id])` .
Could you please provide a PR for that?

[2022-01-11 10:05] HaaseIT commented on #11109
Good Morning.
This occurs when one process inserts the row with insertOrUpdate() and another process also uses the insertOrUpdate() for a row with equal content.

So, the first process will do the insert while the second also tries to insert it. Since the query uses ON DUPLICATE KEY UPDATE, it will try to insert but a row with the same composite key is already there. Since both processes think, th

[2022-01-11 10:07] brusch commented on #11109
Thanks - PR should be based on  `10.2` - looking forward to your PR! Thanks again!

[2022-01-11 10:09] #11155 closed, assigned to brusch

[2022-01-11 10:12] brusch commented on #11136
Fixed by #11143

[2022-01-11 10:12] #11136 closed, assigned to nobody

[2022-01-11 10:12] #11104 closed, assigned to nobody

[2022-01-11 10:19] brusch commented on #11094
Unable to reproduce anymore ... closing for now.

[2022-01-11 10:19] #11094 closed, assigned to brusch, cipribucur

[2022-01-11 10:22] brusch commented on #11015
@roland4432 thanks for the feedback - so obsolete, right?

[2022-01-11 10:22] #11015 closed, assigned to nobody

[2022-01-11 10:23] brusch commented on #11004
@CountZero1981 just a gentle reminder for the PR 😉 Thanks!

[2022-01-11 10:56] foxgreek commented on #11140
@brusch apologies - I've forgotten to add a debug email... embarrassing mistake

[2022-01-11 11:05] brusch commented on #11139
This particular issue I wasn't able to reproduce (I really tried hard 😉), but I've stumbled upon other issues:
The row-editor seems to not properly update (width and fields) when changing the amount of columns.

[2022-01-11 11:06] brusch commented on #11139
Also using the context menu with "Edit as HTML" doesn't seem to work properly.

[2022-01-11 13:19] HaaseIT commented on #11109
This will be resolved by: https://github.com/pimcore/pimcore/pull/11159

[2022-01-11 15:27] awroblewski commented on #11144
Hallo,

thanks for your reply.

I do disabled the Runtime Cache using KeyConfig::setCacheEnabled(false). I think this has more todo with the redis caching invalidation. Currently I do the invalidation using $cacheKey

`$cacheKey = 'cs_keyconfig_' . $this->getStoreId(). '_' . md5($this->getName());`

in  my bundle implementation and it works fine, however, I think it is better to have the cachekey

[2022-01-12 15:15] emanmagni opened #11167 "Users and Roles permissions on Custom Reports aren't displayed"
### Expected behavior

When a user fills the "Visible To Users" and "Visible To Roles" boxes in a Custom Report setting, the information that was entered should be displayed even after reloading.

### Actual behavior

Users and Roles' names aren't loaded when you close and re-open the Custom Report setting, even though user permissions are working properly and, analyzing the GET request which load

[2022-01-13 05:41] mrpdean commented on #7219
Just ran into this issue myself.  Is there any workaround for it?
Thanks

[2022-01-13 07:40] roland4432 commented on #7219
As far as I remember the document with the newly set pretty url will be saved and routing works fine.
Maybe I can come up with a PR next week. Seems to be a rather uncommon usecase, that people use multisites. since there was not much feedback regarding this issue.

[2022-01-13 07:57] mrpdean commented on #7219
No, the document with the newly set pretty url won't save.  Instead you get this error: [URL path already exists](https://github.com/pimcore/pimcore/blob/21d29134ef366835ed5acaf4cb472c4efa518624/bundles/AdminBundle/Controller/Admin/Document/PageController.php#L358)

However, I was able to restructure things so that I don't need the pretty urls anymore so it's no longer a problem for me at least. T

[2022-01-13 07:58] roland4432 commented on #7219
IMHO still a problem, that needs to be fixed.

[2022-01-13 11:52] rjankiew opened #11181 "[Bug]: Inconsistent getter behaviour when getting values from object brick in preSave listener"
### Expected behavior

No matter what fields user edits on the UI, the backend getters of object should behave in consistent manner.

### Actual behavior

There are differences in getter behaviour, depending on whether an autosave was triggered during editing.

### Steps to reproduce

Create an object with a object brick, that has a ManyToManyObjectRelation field (object→object brick→relation fiel

[2022-01-13 13:19] woellundwoell opened #11182 "[Bug]: No frontend_prefixes in Thumbnail when original file is used"
### Expected behavior

Prefix src-attributes in picture / image tags rendered by thumbnail config "ORIGINAL" when set in config

`pimcore:
     assets:
        frontend_prefixes:
            source: https://[domain]/asset`

plus Flysystem config to SFTP-Adapter in our case

### Actual behavior

No prefix is set for picture / image tags rendered by thumbnail config "ORIGINAL"

### Steps to reproduc

[2022-01-14 09:25] passioneight opened #11186 "[Bug]: copy & pasting object with URL slug fails"
### Expected behavior

When copy & pasting an object containing an `URL Slug` field, which has a value set, the slug itself is not copy & pasted to avoid URL conflicts.

### Actual behavior

The slug is copy & pasted, resulting in an error as shown in the image.

![image](https://user-images.githubusercontent.com/57256630/149491287-0969a332-d602-4167-82d4-b6a721f7954d.png)

### Steps to reproduce

[2022-01-14 10:15] weisswurstkanone commented on #11186
The Slug itself has to be unique. What we maybe could do is to leave the field empty.

[2022-01-14 10:21] ghost opened #11188 "[Bug]: Layout Element "Text" fails to load in object class configuration (settingsconfiguration)"
### Expected behavior

Load configuration/input fields for layout element of type  "Text" in multiple opened classes.

### Actual behavior

Whenever more than one class that contains a layout element of type  "Text" is opened, the configuration gets not loaded and the JS Console shows the following error as seen in the screenshot below:

**Ext.ComponentManager.register(): Duplicate component id "s

[2022-01-14 10:56] #11109 closed, assigned to nobody

[2022-01-14 13:23] drilonmaloku opened #11192 "[Bug]: Change order of areabrick settings"
### Expected behavior

I want to change the settings order based on the current settings based on other settings of the brick.

### Actual behavior

The order does not change

### Steps to reproduce

Try to change the items order if any select has some value.

[2022-01-14 14:47] antonio-masotti opened #11193 "[Bug]: Expected variable in catch block in initializeContainer()"
### Expected behavior

in `pimcore/lib/Kernel.php` at line 260 the catch block is missing the variable for the exception and this throws an error:
The exception should be handled, logged or ignored.

I think it could just be enough to give the exception a variable name like this:

[code]

I'll try to submit a PR if this can help.

### Actual behavior

Current code:

[code]

once in the catch block

[2022-01-14 17:31] jdreesen commented on #11193
There's nothing wrong with it, it's [supported in PHP 8](https://wiki.php.net/rfc/non-capturing_catches). Are you sure you're using the right PHP version?

[2022-01-14 17:42] antonio-masotti commented on #11193
Interesting... I didn't know (thanks for the docs) but yes  I'm sure:

![image](https://user-images.githubusercontent.com/91308510/149560564-62a32633-f2eb-4618-94a8-e1de7287e33c.png)

Still I get that error.

[2022-01-14 17:55] passioneight commented on #11186
Yes, that's what I suggested.

[2022-01-14 21:16] Hubbitus opened #11196 "[Bug]: Block elements does not shown in grid columns"
### Expected behavior

After configuring the column from the elements contained in the block, there should be provided thair representation.
"Grid option" menu allows easy configure such columns.

### Actual behavior

The column appeared, but empty: ![image](https://user-images.githubusercontent.com/720349/149587041-c6bbd690-f396-452a-9197-1041afc57c16.png)

### Steps to reproduce

1. Go to https:

[2022-01-16 10:02] antonio-masotti commented on #11193
I've closed the PR.

I still had composer associated with PHP 7.4 instead of 8.0.
jdreesen was of course right.

[2022-01-16 10:02] #11193 closed, assigned to nobody

[2022-01-16 11:02] blankse commented on #11186
@passioneight I created an PR: https://github.com/pimcore/pimcore/pull/11197

Can you test it?

[2022-01-17 06:49] passioneight commented on #11186
@blankse thanks, I'll give it a try shortly.

##### Update
Unfortunately, it doesn't work - still the same behaviour. If I find some time, I'll further investigate. For now, I'll just not copy-paste the objects.

[2022-01-17 07:37] blankse commented on #11186
@passioneight I tested it with an AccessoryPart object in the demo and it works for me.

[2022-01-17 08:40] GunnarGillert opened #11198 "[Bug]:Webinterface Feature New Folder Chrome and Edge"
### Expected behavior

In the web interface /admin right click on an existing folder. Now the menu appears. Selection of new folders. Enter the new folder name. The new folder appears.
With the browsers:
Firefox => works
Chrome => works
Edge => works

### Actual behavior

In the web interface /admin right click on an existing folder. Now the menu appears. Selection of new folders. Enter the new fo

[2022-01-17 09:16] brusch commented on #11198
Unable to reproduce, just tested on https://demo.pimcore.fun/admin/ (`admin` / `demo` ) - works as expected.

[2022-01-17 09:16] #11198 closed, assigned to nobody

[2022-01-17 09:43] brusch commented on #11196
Actually the block elements including the children shouldn't be available for selection here.

[2022-01-17 09:46] brusch commented on #11192
Can you please make it a bit more clear what your intention is, including an example.
Thanks.

I'm closing the issue for the time being, we'll reopen it as soon as the topic was clarified. Thanks.

[2022-01-17 09:46] #11192 closed, assigned to nobody

[2022-01-17 09:47] Hubbitus commented on #11196
At least that is a bug. But why not? That will be much more convenient to allow showing such elements there and allow filtering by them.
Is there a possibility to override something and implement such behavior?

[2022-01-17 09:49] brusch commented on #11186
Yes, I agree, the value of the slug shouldn't be copied. @blankse thanks for your PR 😉

[2022-01-17 09:56] brusch commented on #11182
@woellundwoell agree, this should fix the issue. A PR would be nice, please don't forget to base it on the `10.3` branch, as it is a bug fix. Looking forward to the PR 😊

[2022-01-17 09:56] #11186 closed, assigned to nobody

[2022-01-17 10:09] brusch commented on #11196
Yes, that's a bug.
Displaying and filtering values within a block is quite tricky, so I'd just not allow the selection 😉

[2022-01-17 10:37] ghost opened #11201 "[Bug]: Invisible elements inside of fieldcollections getting mixed up when the fieldcollection is sorted"
### Expected behavior

When sorting fieldcollections with the arrow buttons in the backend, every child element of the collection should keep it's parent-child relation.

### Actual behavior

When sorting fieldcollections with the arrow buttons in the backend, invisible elements inside of the collection are keeping their positions and therefore are getting mixed up and becoming children of a diffe

[2022-01-17 22:47] Hubbitus commented on #11196
@brusch, could you please recommend an alternative to the Block element to implement "array-like" elements in the record (with the possibility to see in the grid and filtering)?

[2022-01-18 12:31] passioneight commented on #11186
FYI, just updated to the latest version and the error still persists. Did you try with localized slugs too?

[2022-01-18 12:52] passioneight opened #11212 "[Improvement]: getters should only return values"
### Improvement description

When calling `$document->getFullPath()` on a document, I'd expect to get the full path, no matter which context (Pimcore Backend, Frontend, ...) is given - as per [documentation](https://pimcore.com/docs/pimcore/current/Development_Documentation/MVC/Routing_and_URLs/Working_with_Sites.html):

However, the _getter_ actually has a lot of logic in it, which prevents one t

[2022-01-18 12:53] blankse commented on #11186
@passioneight No the url slug in the demo AccessoryPart class is not localized. The copy process checks no localized fields for unique. This should be extended.

[2022-01-18 12:59] #11139 closed, assigned to brusch

[2022-01-18 13:17] blankse commented on #11186
@passioneight I create an PR for that. Can you test https://github.com/pimcore/pimcore/pull/11214 ?

[2022-01-18 13:42] #10323 closed, assigned to mcop1

[2022-01-18 14:38] fashxp commented on #8843
related to https://github.com/pimcore/pimcore/issues/6906

[2022-01-18 14:40] fashxp commented on #8489
also consider https://github.com/pimcore/asset-metadata-class-definitions/

[2022-01-18 15:19] fashxp opened #11216 "[Bug][QuickSearch] Request size"
### Improvement description

search e.g. for 'rims' in quicksearch --> request is about 400k in size ... and can become bigger depending on data object data.
any ways to improve that (and therefore make requests faster)...

![image](https://user-images.githubusercontent.com/8792145/149965380-895681fb-f094-435b-866e-35371eac9df4.png)

[2022-01-19 09:58] mcop1 commented on #11074
I would suggest to change the color of the buttons, e.g. upload dialog in data importer
![image](https://user-images.githubusercontent.com/89011527/150107714-969d6fd3-92bd-4757-aebd-33263bc374a6.png)

[2022-01-19 10:37] dpfaffenbauer commented on #11212
There should be a service that handles the path for different context informations. like sites. and then a twig extension to create paths accordingly.

[2022-01-19 12:31] passioneight commented on #11186
@blankse thanks, I've added suggested changes based on my test - see https://github.com/pimcore/pimcore/pull/11214#pullrequestreview-856725869

[2022-01-19 12:54] LosHawlos opened #11224 "[Bug]: Document Types list breaks when showing creation or modification date"
### Expected behavior

In the Document Types List all available columns can be shown properly

### Actual behavior

As soon as either the creation date or the modification date columns are selected to be shown, the new date columns are empty, and additionally the buttons in the delete and translate columns disappear.

There is also a JavaScript error in the console:
ext-all.js?_dc=a23ccb2bfaf92b17

[2022-01-19 16:26] kevinulrich commented on #10952
This happens to me as soon as I convert anything directly under root to a site. Same line as OP has pointed out. Ridiculous, I'm not sure why we're still getting our container from a singleton with `->get()` instead of just using DI for this. Even if this Bug wasn't relevant that's just bad practise.

For anyone looking for a solution, it's a temporary fix to simply alias the Interface to Pimcore

[2022-01-19 16:39] GALCF commented on #8295
@brusch I found some more instances where the use of locale-aware php functions throw errors in turkish locale settings

`lcfirst` seems to be a problem, too:
- Create a DataObject with an attribute
- The attribute name has to have an i in it (e.g. 'isDefault' checkbox data type)
-  A call to `getByIsDefault(/* [...] */)` in turkish locale context throws an error `Class: DataObject\Concrete => cal

[2022-01-19 16:53] GALCF commented on #8295
According to [this RFC](https://wiki.php.net/rfc/strtolower-ascii) the following functions are affected:

[2022-01-19 20:19] jeroendesloovere commented on #6010
We also experience issues with "paste recursive, update references". Seems to not be working like we think it should :-/.
Any updates on this one?

[2022-01-20 08:51] brusch commented on #8295
@GALCF could you please implement the same approach for the remaining affected places (in a PR)? I think it would make sense to put the logic into a shared function 😊

[2022-01-20 09:24] brusch opened #11229 "[Feature]: Possibility to change the storage path of configs via env var"
### Feature description

E.g. https://github.com/pimcore/pimcore/blob/03877bf9a6608ff161b0ca65ed5d2f40fc90f438/models/Asset/Image/Thumbnail/Config/Dao.php#L38

It would be nice if you could change the storage path to a different location, so that you can for instance put the storage path to `/config/image-thumbnails` in the `dev` environment to write `YAML` files to the `config/` directory.

[2022-01-20 10:05] #11167 closed, assigned to weisswurstkanone

[2022-01-20 10:11] DzemalBecirevic opened #11231 "[Bug]: ECF: L is not defined in order view"
### Expected behavior

List of OnlineShopOrderItems is presented.

### Actual behavior

Only see one folder icon per line.

![image](https://user-images.githubusercontent.com/1179974/150318230-612a7efa-8497-4592-9887-3188a33c9063.png)

### Steps to reproduce

1. Place an order
2. Open the order object in Pimcore admin
3. Go to the "Edit view"

I get the following error in the javascript console:

[2022-01-20 10:24] FredoVelcro opened #11232 "[Bug]: PathFormatter class result not taken/visible on Reverse Object Relation field if not editable"
### Expected behavior

On the backend ExtJS datagrid of a Reverse Object Relation field, the custom formatted result processed by a custom Formater Service class is not shown (still have the default 'fullpath' of the related reverse object)

### Actual behavior

Show the default "fullpath" of the reverse related object

### Steps to reproduce

Create a class (eg. Contact) that will be the linked r

[2022-01-20 11:59] ultramegatom opened #11234 "[Ecommerce] [Index] Unpublished Shop Categories are getting indexed"
### Improvement description

Currently unpublished Shop Categories are getting indexed by default.
This is because of this line here: https://github.com/pimcore/pimcore/blob/10.x/bundles/EcommerceFrameworkBundle/IndexService/Worker/DefaultMysql.php#L100

You can of course override this in multiple ways and set/change the unpublished flag any way you want it but in my opinion the current way should

[2022-01-20 15:30] alexanderkroneis opened #11237 "[Bug]: The autoloader expected class "Symfony\Component\Messenger\Transport\AmqpExt\AmqpReceivedStamp""
### Expected behavior

Send a mail.

### Actual behavior

Pimcore crashes and shows a RunTimeException with HTTP 500 and displays following error message:

The autoloader expected class "Symfony\Component\Messenger\Transport\AmqpExt\AmqpReceivedStamp" to be defined in file "/var/www/vendor/composer/../symfony/symfony/src/Symfony/Component/Messenger/Transport/AmqpExt/AmqpReceivedStamp.php". The fil

[2022-01-20 15:31] alexanderkroneis commented on #11237
I investigated on that and it seems like Pimcore is using a deprecated class of a Symfony package.

[code]

[2022-01-20 15:33] alexanderkroneis commented on #11237
I just checked with another project, we are using the same setup there and mailing is working. It seems to be a misconfiguration, I'll let you know as soon as I find something.

[2022-01-20 15:50] dvesh3 commented on #9788
Fixed by https://github.com/pimcore/pimcore/pull/11211

[2022-01-20 15:50] #9788 closed, assigned to cipribucur, kingjia90

[2022-01-21 09:31] passioneight opened #11242 "[Bug]: data object preview generator with url slugs with sites"
### Expected behavior

When implementing a [PreviewGenerator](https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Class_Settings/Preview_Generator.html) for an object that contains `UrlSlug`s - while using `Site`s - the preview is displayed.

### Actual behavior

When implementing a [PreviewGenerator](https://pimcore.com/docs/pimcore/current/Development_Docume

[2022-01-21 09:53] passioneight opened #11245 "[Improvement]: default value for preview config"
### Improvement description

Currently, the preview config in the [documentation](https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Class_Settings/Preview_Generator.html#page_Sample-PreviewProvider-Implementation) looks like this:

[code]

It would be great to also be able to define a `defaultValue`, like so (pseudo-code):

[code]

This feature is especially

[2022-01-21 10:31] passioneight commented on #8837
For me, this is obsolete. Probably resolved when switching to react anyways. Thus, closing.

[2022-01-21 10:31] #8837 closed

[2022-01-21 13:04] LeonNoBears commented on #10232
I have the same problem, also the `PIMCORE_TEST_DB_DSN` variable is ignore in the command
`PIMCORE_TEST_DB_DSN="mysql://username:password@localhost/pimcore" vendor/bin/codecept run -c tests/codeception.dist.yml  ` and in the .env / .env.test / .env.local.test it even seems to me that `config/packages/test/config.yaml` is ignored because if I set a var_dump in `vendor/pimcore/pimcore/tests/_support

[2022-01-21 13:47] LeonNoBears opened #11247 "[Bug]: Set test database"
### Expected behavior

the given test database is used

### Actual behavior

the develop database is used

### Steps to reproduce

`COMPOSER_MEMORY_LIMIT=-1 composer create-project pimcore/skeleton ./projectname`
Open composer.json and add
[code]
remove `vendor/pimcore` folder
`composer update pimcore/pimcore`
( _see_ https://github.com/pimcore/pimcore/issues/10226 )
`composer require codeception/

[2022-01-24 09:22] fashxp commented on #11074
related ... https://github.com/pimcore/advanced-object-search/issues/132

[2022-01-24 11:59] Navino16 opened #11259 "[Bug]: Grid view multi-select render issue"
### Expected behavior

When using grid view and editing a multi-select value configured with an Option Provider Class and an Option Provider Data, we should see all availlable values for this field.

![image](https://user-images.githubusercontent.com/22234867/150778859-9c11aa90-23fb-475a-9efa-05808b572cf7.png)

### Actual behavior

When using grid view and editing a multi-select value configured w

[2022-01-24 15:22] #10654 closed, assigned to dvesh3

[2022-01-25 07:01] passioneight opened #11264 "[Feature]: add PRE_COPY event"
### Feature description

I'd love to see a `PRE_COPY` event, similar to these lines:

https://github.com/pimcore/pimcore/blob/b03e38dcd0be38b3e2b048c98910b82fd500b998/models/DataObject/Service.php#L180-L183

[2022-01-25 08:51] mcop1 opened #11266 "[Improvement]: Refresh functionality in tree and edit page"
### Improvement description

When you select "Refresh" from the tree context menu it just refreshes the tree, but not the object itself.

![image](https://user-images.githubusercontent.com/89011527/150942742-7f50d129-aa36-40ba-ab40-b1710404835b.png)

When you click on the Refresh button in the edit page it  refreshes the object itself.

![image](https://user-images.githubusercontent.com/89011527/1

[2022-01-25 13:25] CountZero1981 commented on #11004
I've had health problems, will do it soon

[2022-01-25 16:04] fashxp opened #11272 "[Bug] Migration fails due to foreign key contraint"
### Feature description

[code]

[2022-01-25 16:44] brusch commented on #11272
We probably need to disable FK checks for certain migrations ...

[2022-01-25 16:46] dvesh3 commented on #11272
yes, like we did here https://github.com/pimcore/pimcore/blob/409d26c1d03c95be6ddd9cc40a640983be83f107/bundles/CoreBundle/Migrations/Version20220120121803.php#L33

I'll change for all migrations dealing with foreign keys.

[2022-01-25 18:28] jdreesen commented on #10613
Meanwhile, `doctrine/migrations` is now compatible with DBAL v3 and DBAL v2 will get out of maintenance in April (plus an additional year of security fixes).

See: [Sunsetting Doctrine DBAL 2](https://www.doctrine-project.org/2022/01/22/sunsetting-dbal-2.html)

[2022-01-26 10:27] MarcW09 commented on #11076
Same issue here on Pimcore Version 10.2.8. Also working for mutliselect fields with 'render type' 'tag'.

[2022-01-26 15:16] #11091 closed, assigned to dvesh3

[2022-01-26 16:41] laurenz-glueck opened #11280 "[Bug]: Invalid input regex crashes admin view"
### Expected behavior

If there is an invalid regex for a DataObject input the Ext JS UI should not crash.

### Actual behavior

If you have an invalid regex in one of your DataObject input fields, you can not open this Object in the admin UI anymore.

### Steps to reproduce

1. Add invalid regex to DataObject input field.
2. Save DataObject class definition
3. Try to open instance of this object

[2022-01-26 16:42] #11245 closed, assigned to nobody

[2022-01-26 17:16] vollborn opened #11281 "[Bug]: Exception thrown in "Search Assets" window"
### Expected behavior

If no search is provided initially and the table is sorted, all assets should be displayed in correct order.

![grafik](https://user-images.githubusercontent.com/67763683/151210668-6234c724-55d7-4b1e-8944-06367944ac63.png)

### Actual behavior

If no search is provided initially and the table is sorted, an exception is thrown.

![grafik](https://user-images.githubusercontent

[2022-01-27 04:03] martinmoravec opened #11282 "[Feature]: Possibility to put a directory or page on error code 410"
### Feature description

Hi peps,

I do need the possibility to send for
- certain pages
- certain paths of my page via regex'es
the status code 410 (for SEO issues).

Is there any SEO out there who already has a workaround or a developer who would like to implement the feature. I guess it can be made via various ways, i.e. with an asset or within the siteconfig

Thanks for your help!

[2022-01-27 06:43] clangegger opened #11283 "[Bug]: "Predefined Document Type"-Select not working correctly in Document Settings"
### Expected behavior

When creating a blank Page it should be possible to change the Document Type according to the created predefined Document Types in the SEO & Settings Section of the Document.

![image](https://user-images.githubusercontent.com/96467523/151305084-43968891-04c2-460e-bbac-db121a7d6811.png)

![image](https://user-images.githubusercontent.com/96467523/151304698-a0009ca3-d0a8-494a

[2022-01-27 08:12] AlekMosingiewicz opened #11284 "[Bug]: Error when removing classification group which has key relationships"
### Expected behavior

The group which has key relationships is removed.

### Actual behavior

Removing group which has key relationships gives the following error
![2022-01-24 155548](https://user-images.githubusercontent.com/3677352/151317974-b7b5a707-d430-41c4-9686-f1ca0177ed05.png)
:

### Steps to reproduce

Create several classification keys. Create a classification group. Add created keys to

[2022-01-27 09:32] BabovicT commented on #11281
This is ExtJS core bug. Because headers use plugin 'gridfilters' there is no way to fix that in js directly. It also affects every search where there is table like that. It works after you search for anything(results not needed).
There are 2 potential solutions tho.
1. Add logic to controller to check are every parameters send. Missing in this situation(query, type, subtype, context).
2. Add to js

[2022-01-27 10:00] eliasfellner opened #11285 "[Bug]: Nested Area Toolbar missing"
### Expected behavior

If I have a Block Editable in a Document which contains an Areablock
I expect to be able to add a new Block Item and immediately add an Area in the Areablock, without the Area Toolbar missing

### Actual behavior

When adding a new Block Item which contains an Areablock, and immediately adding an Area
The Area is rendered but not the Toolbar.
You have to reload the Document

[2022-01-27 11:03] brusch commented on #10679
For further tests we need to wait until https://github.com/php/php-src/pull/7981 was released with PHP 8.1.3

[2022-01-27 12:12] dvesh3 commented on #11188
Fixed by #11258

[2022-01-27 12:12] #11188 closed, assigned to dvesh3

[2022-01-27 13:13] markvomark opened #11287 "[Bug]: Constant refreshing/regenerating of preview of uploaded video asset"
### Expected behavior

A preview of an uploaded video asset should be generated and shown.

### Actual behavior

A preview of an uploaded video asset is being generated and after approx. 5  seconds the asset is refreshed and the generation starts again.

### Steps to reproduce

Login to pimcore demo https://demo.pimcore.fun/admin/ (admin / demo), upload a test mp4 file (https://test-videos.co.uk/b

[2022-01-27 14:52] rjankiew commented on #11097
Additional info: this occurs when using drag&drop, but strangely when using copy/paste there is no issue

[2022-01-27 15:10] kingjia90 commented on #10939
I cannot reproduce it, it works fine on my end.
There's a mention about a fallback for legacy data on the line that throws the error though

https://github.com/pimcore/pimcore/blob/714e8767898d0e89f05c985e5bb13becf74e98d6/models/DataObject/ClassDefinition/Data/ReverseObjectRelation.php#L91

[2022-01-27 15:12] schmidt-travixmedia opened #11289 "[Bug]: Pimcore 6.9: Debug Email Addresses(CSV) does not work with more than 1 email address"
### Expected behavior

If 2 Debug Email Addresses are defined, an email should be sent to both of them.

### Actual behavior

No E-Mail is sent.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/52414055/151382776-802c6717-c561-43a6-8169-547058b34a31.png)

After saving these settings, the system.yml looks as follows:

[code]
This way, no email is sent.
When I change syste

[2022-01-27 15:20] kingjia90 commented on #10939
I've also tried to change it as an empty string in the definition, but on save it turn it back to NULL
![image](https://user-images.githubusercontent.com/6014195/151387766-2ade840e-d552-4db3-abf1-07600347f893.png)

[2022-01-27 16:52] fashxp commented on #11289
Pimcore 6 is EOL.

[2022-01-27 16:52] #11289 closed, assigned to nobody

[2022-01-28 06:42] brusch commented on #11289
@schmidt-travixmedia it also says "CSV", you are using `;`, so maybe thats the issue? 🤔

[2022-01-28 08:20] passioneight opened #11297 "[Bug]: data object link type escapes text"
### Expected behavior

When rendering a `Link` set in an object, the text is rendered as provided in the backend (or programmatically).

### Actual behavior

When rendering a `Link` set in an object, the text is escaped, preventing HTML to be rendered.

https://github.com/pimcore/pimcore/blob/fdfe5d1ca3e67ca16c707bab04c1ca6aa10af80d/models/DataObject/Data/Link.php#L557

### Steps to reproduce

1.

[2022-01-28 08:23] blankse commented on #11297
How do you render the link? In twig you must use the raw filter. https://twig.symfony.com/doc/2.x/filters/raw.html

[2022-01-28 08:36] passioneight commented on #11297
`|raw` is in use, but it doesn't matter because of the `htmlspecialchars` in the `getHtml` method.

[2022-01-28 08:41] blankse commented on #11297
Ah, you mean HTML in the text value of the link.

[2022-01-28 08:47] passioneight commented on #11297
Yes, sorry if that wasn't clear. I'll update the description shortly.

### Edit
Description was updated.

[2022-01-28 09:54] simonkey commented on #11025
**Update:**
Tested it with Version 10.2.9 and when changing the Quantity value (e.g. mm) to (empty) the entry is removed after saving the Dataobject. The change or inheritance from the parent is visible after a reload.

[2022-01-29 16:51] schaetzle opened #11301 "[Bug]: Unable to combine Pimcore X with HWIOauthBundle for OAuth login"
### Expected behavior

We use the HWIOauthBundle for connecting to Keycloak in one of our Pimcore 6 projects.

Behavior during login is as follows: You click on login, you are redirected to Keycloak, there you log into your account, you come back to our app and you are authenticated as a frontend user. Also you are not logged out from Pimcore admin.

This is also the expected Behavior for our fres

[2022-01-29 21:51] Hubbitus commented on #11196
@brusch, would you like to review PR with trying to show such fields as a string value (said joined by a comma if several)?

[2022-01-30 10:45] blankse commented on #11283
@clangegger I create a PR for this: https://github.com/pimcore/pimcore/pull/11302

[2022-01-30 10:51] blankse commented on #11281
I created a PR for this: https://github.com/pimcore/pimcore/pull/11303

[2022-01-30 12:51] leitge opened #11304 "[Bug]: db.inc.php:89 - Warning: Cannot modify header information - headers already sent by"
### Expected behavior

Trouble-free connection with database

### Actual behavior

In every installation of Pimcore, the following error occurs in the UI under "Database Administration":

Warning: Cannot modify header information - headers already sent by (output started at /opt/bitnami/pimcore/vendor/vrana/adminer/adminer/db.inc.php:89)

The problem exists both in the pimcore/pimcore version and

[2022-01-30 12:52] leitge commented on #11304
![Bildschirmfoto 2022-01-30 um 01 00 32](https://user-images.githubusercontent.com/98694299/151700444-6d94c979-4a39-4bbf-8004-b60fdc9f9545.png)

[2022-01-30 16:31] laurenz-glueck commented on #11280
With Pimcore 10.2.7 the `u` flag was added to the Input regex validation: https://github.com/pimcore/pimcore/pull/11056

This has made my previously working regex invalid.

My suggestion would be to add some try / catch logic around this line: https://github.com/r-vanstraaten/pimcore/blob/6039855ec04c3d64f291d24d8cd0be3089de5105/bundles/AdminBundle/Resources/public/js/pimcore/object/tags/input.js#

[2022-01-30 16:44] John5 opened #11305 "[Bug]: Undocumented attribute loading="lazy" added to all images"
### Expected behavior

When using the HTML output for a thumbnail I expect no additional attributes to be added. Any attributes that are added should be documented and allowed to be disabled.

When embedding an thumbnail image in a template like this:

[code]

The first two images should not have a loading="lazy" as an attribute. For the first one because the documentation does not mention this an

[2022-01-31 08:32] #11216 closed, assigned to nobody

[2022-01-31 08:36] jremmurd commented on #11063
The Issue only occurs if the settings for the number field in the OnlineShopOrder Class are changed. If there are max. decimals defined the type changes from float to string and the definitions are compatible.

[2022-01-31 09:23] #11301 closed, assigned to nobody

[2022-01-31 09:25] fashxp commented on #11287
should only happen until the preview of the image is generated. please make sure, the symfony messenging queue is processed (which takes care of preview generation).
at demo.pimcore.fun the queue is currently not activated thus the video previews are not generated. ad demo.pimcore.com it should work fine.

[2022-01-31 09:25] #11287 closed, assigned to nobody

[2022-01-31 09:32] fashxp commented on #11237
I'll close this for now, please feel free to share your findings - and create a ticket (or PR ;-) ) with more details if there is something to fix in Pimcore.

[2022-01-31 09:32] #11237 closed, assigned to nobody

[2022-01-31 09:35] fashxp commented on #11234
Hmm, but then we would need to update all products if the published state of one category changes (every time), otherwise the index is not consistent and products might be not listed in a category (which just got published).
Thus, I would leave it as it is.

[2022-01-31 09:35] #11234 closed, assigned to nobody

[2022-01-31 09:36] markvomark commented on #11287
Thanks for clarifying, Christian! In deed everything's fine, once pimcore:maintenance takes over the job. 👍🏻

[2022-01-31 09:37] fashxp commented on #11224
fixed via #11226

[2022-01-31 09:37] #11224 closed, assigned to nobody

[2022-01-31 09:38] fashxp commented on #11201
fixed via #11250

[2022-01-31 09:38] #11201 closed, assigned to mcop1

[2022-01-31 10:24] rjankiew commented on #11287
@fashxp I have a similar issue, but with running messenger queues consumption. A row with message gets added to and deleted from messenger_messages table when I trigger generating the preview, but it's endless "(...) currently in progress. Please wait…". Could you recommend any steps to debug this further? E.g. where to look to confirm if the preview is generated, and what class is responsible? Th

[2022-01-31 10:41] MarcW09 commented on #11076
I found out, that the bug came with this change: [678c6f41d473672bccdd828ca8a3394e6210fe68](https://github.com/pimcore/pimcore/pull/10871/commits/8a1d71ae4b604d168e5ab2668cd50e9b3585d1e2)

The change removed the code line "displayField: 'key',". When adding the code line again, the select field search works fine. I will make a PR for that.

[2022-01-31 11:18] mrpdean opened #11310 "[Improvement]: Ability to pass additional classes to block wrapper divs in edit mode, via blockConstruct"
### Improvement description

When trying to match the front-end templates as closely as possible in edit mode, there are some circumstances where the wrapper divs which get added are preventing this from being possible.

These circumstances could be prevent if it was possible to pass additional css classes to those wrapper divs.

It might be a simple as being able to pass additional css classes to

[2022-01-31 12:51] chrisjung-dev opened #11314 "[Bug][DataObjects]: Autosave throws Error if only publish permission (and not save) given"
### Expected behavior

When an User have explicit publish rights (and no explicit save rights) to an object, one of these should be correct behaviour:

1. Disabling all Fields, making just Publish and Unpublish working, but no other edits
2. Not showing an error popup.

### Actual behavior

An Error popup shows.

![grafik](https://user-images.githubusercontent.com/209926/151796076-7efe81fd-93a1-42

[2022-01-31 13:26] fashxp commented on #11074
fixed via #11271

[2022-01-31 13:26] #11074 closed, assigned to mcop1

[2022-01-31 13:30] ThisIsJustARandomGuy commented on #11063
Can we reopen this? I didn't change any of the values from the default and they were still empty. So I got the same error after trying to upgrade (in addition to #10910). The site was originally running on 6.8 but has been on 6.9 for a while now.

[2022-01-31 14:23] brusch commented on #10960
Fixed by #11291

[2022-01-31 14:23] #10960 closed, assigned to dvesh3

[2022-01-31 14:26] brusch commented on #11196
@Hubbitus sure, but I think it would make sense so share your concept first here in the issue, before you start implementing, so maybe just a sketch or so, where we see how you'd like to solve the challenge 😉 Thanks

[2022-01-31 14:30] brusch commented on #11304
I can't reproduce this on `demo.pimcore.org` - can you please provide more information on that?
Thanks - closing for now ...

[2022-01-31 14:32] brusch commented on #11280
Can you please share an example that get's broken by #11056 ? Thanks in advance!

[2022-01-31 14:35] laurenz-glueck commented on #11280
Sure - I had a kind of complex email regex I used for an input field which was working before / without the `u` flag:

[code]

If you add this one to an input field regex and then try to open an instance of this object, you will see the Ext JS ui break...

[2022-01-31 15:03] leitge commented on #11304
you can simply install the Bitnami Standard image in the latest version in an AWS environment.
Without any further configuration.

If needed, I can provide access to an example instance.

[2022-01-31 15:24] mcop1 opened #11315 "[Improvement]: Improve dialog to overwrite existing assets"
### Improvement description

Since we have an "Overwrite all" option (see #1020), the only thing missing is a similiar option for "keep both".

Maybe take a look at the screenshot mentioned here:
[#6893 (comment)](https://github.com/pimcore/pimcore/issues/6893#issuecomment-668529774)

I think it would be a good idea to remove the "overwrite all" button and add the "apply to all" checkbox to the as

[2022-01-31 15:26] #6893 closed

[2022-01-31 16:00] #11272 closed, assigned to dvesh3

[2022-01-31 16:25] John5 opened #11316 "[Bug]: Thumbnail <img> fallback does not have srcset attribute"
### Expected behavior

In Pimcore 6.x thumbnail images generate an img element with srcset attribute with multiple versions. Only if media queries are defined are picture/source used.

I would expect the img element to have a srcset attribute like it did before.
Also I expect to have control over which HTML elements are used.

Maybe adding an option like this for use cases when the picture/source

[2022-02-01 07:17] markvomark commented on #11304
Hi Bernhard, I can reproduce the error/warning with a fresh pimcore project (10.2.8 and 10.2.9). The error is only displayed in the dev environment (on the bottom of the adminer view) , I guess demo.pimcore.com runs in prod.

[2022-02-01 08:18] solverat opened #11320 "[Improvement]: Maintenance | Messenger"
### Improvement description

Follow-Up: https://github.com/pimcore/pimcore/pull/10329
***

## Maintenance Command
I guess there are some conceptional issues here. There is a `async` option which is deprecated (why? We always need a sync option) but not stored as default. So in documentation, the default maintenance call needs to be defined as `bin/console pimcore:maintenance -a`

But using this op

[2022-02-01 08:20] #11011 closed, assigned to dvesh3

[2022-02-01 09:13] passioneight opened #11321 "[Bug]: Video Editable not rendering correctly"
### Expected behavior

The `EditableDialogBoxConfiguration` renders the `Video` editable, including any necessary buttons, like so:

![image](https://user-images.githubusercontent.com/57256630/151940066-85ab243d-cbc4-4dfc-acbe-380fbe9999ce.png)

### Actual behavior

Similar to https://github.com/pimcore/pimcore/issues/10417 (but not quite the same), the `EditableDialogBoxConfiguration` does not re

[2022-02-01 09:20] passioneight commented on #6154
So, the `getVersion` method is now available in the `PackageVersionTrait`, which is great. Though, I wonder why the `getComposerPackageName` method wasn't added as well?

@brusch, any chance you could elaborate on the use cases that lead to the decision?

[2022-02-01 09:25] brusch commented on #11229
I'd make the naming schema of the env variable similar to the one we use for the write target, so maybe:
`PIMCORE_CONFIG_STORAGE_DIR_IMAGE_THUMBNAILS`

[2022-02-01 09:58] dpfaffenbauer commented on #11320
# Maintenance Command

the async option is deprecated cause it will be removed with 11 and async will be the default then.

I don't really understand the need for Sync and Async Messenges. Everything with messenger is basically async. The CronJob is needed to trigger time sensitive background tasks. Whereas others are triggered by actions taken directly in Pimcore (eg: deleting thumbnails on image

[2022-02-01 10:57] brusch commented on #11314
I'd expect that `publish` includes `save`, right?

[2022-02-01 11:15] brusch commented on #11316
Since the `<img>` tag is just a fallback, I'd not include the `srcset` to keep it simple...

[2022-02-01 11:15] #11316 closed, assigned to nobody

[2022-02-01 11:24] woellundwoell opened #11322 "[Bug]: Pagination with ES index display always 10 items on first page"
### Expected behavior

Get the items limited to the given pageLimit from paginationAdapter in Pimcore\Model\Paginator\EventSubscriber\PaginateListingSubscriber:
https://github.com/pimcore/pimcore/blob/ece35aa05d1ac1d067b928d6452b2688fe687203/lib/Model/Paginator/EventSubscriber/PaginateListingSubscriber.php#L28-L33
reference to
https://github.com/pimcore/pimcore/blob/ece35aa05d1ac1d067b928d6452b268

[2022-02-01 11:30] #10982 closed, assigned to dvesh3

[2022-02-01 11:36] awroblewski opened #11323 "[Bug]: create method for classification store classes KeyGroupRelation and CollectionGroupRelation yield PDOException"
### Expected behavior

When issuing either

[code]
$colRel is a new object of type CollectionGroupRelation
$groupRel is a new object of type KeyGroupRelation

### Actual behavior

When issuing either

[code]
a PDOException is thrown.

`PDOException: SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'keyId' cannot be null`

### Steps to reproduce

This happens as the create method instat

[2022-02-01 11:48] awroblewski commented on #11323
New PR Raised

https://github.com/pimcore/pimcore/pull/11326

[2022-02-01 12:10] solverat commented on #11320
That is not entirely true. There are two important arguments for `sync`:
1. If you're using a query bus for example, which even should return something immediately (CQRS pattern)
2. Running a maintenance task or command for debug purposes or/and to allow them to run differently. The fact that I otherwise have to restart the consumer with every change is argument enough.

The `pimcore:maintenance`

[2022-02-01 12:21] dpfaffenbauer commented on #11320
Running a maintenance task or command for debug purposes or/and to allow them to run differently. The fact that I otherwise have to restart the consumer with every change is argument enough.

Use a separate BUS for that and run YOUR custom commands in sync. What I meant is that Pimcore does not need to run its task sync.

[code]

Pimcore should not be responsible in providing you helpers to create

[2022-02-01 12:57] solverat commented on #11320
Just calm down. You asked "_I don't really understand the need for Sync and Async Messages_" and I answered that. It is just an example, the second argument is pimcore related BTW.

No one is talking about running my custom commands - no worries, my own implementations are working just fine.
But when it comes to debugging my own maintenance tasks (`pimcore.maintenance.task`) for example, then pimc

[2022-02-01 13:52] mcop1 commented on #11076
fixed by #11312

[2022-02-01 13:52] #11076 closed, assigned to mcop1

[2022-02-01 13:57] woellundwoell opened #11327 "[Bug]: Display error in admin backend at URLslug attribute with multiple sites"
### Expected behavior

Display the URLslug in the right way when using multiple sites:
![Bildschirmfoto 2022-02-01 um 14 43 18](https://user-images.githubusercontent.com/16014748/151979578-8ed7cf5e-7e9c-42f5-85ae-28f6bf31e1e4.png)

### Actual behavior

If the slug of a page is in alphabetical order before the standard site the GUI display works not as expected:
![Bildschirmfoto 2022-02-01 um 14 47

[2022-02-01 14:29] chrisjung-dev commented on #11314
But https://github.com/pimcore/pimcore/blob/6dcd2a1ee3af8fd43c3fc0d844e316417b08d59b/bundles/AdminBundle/Controller/Admin/DataObject/DataObjectController.php#L1358 ff. just checks save right, not publish.

[2022-02-01 14:57] dpfaffenbauer commented on #11320
I think you are more upset than me am about that :D

But when it comes to debugging my own maintenance tasks (pimcore.maintenance.task) for example, then pimcore should do a proper job (which also increases core DX). Now I have to execute bin/console pimcore:maintenance -j my_job -vv which runs messenger:consume as a sub-command and that's not correct. For that, I suggested those two transports, w

[2022-02-01 15:28] brusch commented on #11314
Yep, both needs to be checked here.

[2022-02-01 16:23] abcpremium commented on #4533
Is there any update here for the "WITH RECURSIVE" error? I ran into exactly the same issue.

[2022-02-01 17:39] John5 commented on #11316
Like I mentioned in the bug report there are clients like GNU Wget 1.21.2  that do support srcset but not the source/picture elements and it is causing real compatibility issues.

I understand if this has no priority for you but I think I can make a fix and submit a PR and I hope you will consider merging it.

[2022-02-01 18:46] #11281 closed, assigned to nobody

[2022-02-01 21:09] #10939 closed, assigned to kingjia90

[2022-02-02 07:05] brusch commented on #5416
Reopened since we had to revert #10719 because of challenge described in follow-up PR #10931

[2022-02-02 08:46] brusch commented on #11316
@John5 thanks for your feedback - I'd be ok with a PR 😻

[2022-02-02 09:09] brusch commented on #10975
Fixed by #11318

[2022-02-02 09:48] brusch commented on #10710
@danielczestki yes, of course that works

[2022-02-02 09:48] #10710 closed, assigned to nobody

[2022-02-02 09:49] brusch commented on #10710
Resolved by #10712

[2022-02-02 10:54] brusch commented on #9754
Fixed by #3797

[2022-02-02 10:54] #9754 closed, assigned to nobody

[2022-02-02 11:00] brusch opened #11339 "[Improvement]: Use `RuntimeCacheTrait` whenever possible instead of dealing with `Cache\Runtime` directly"
### Improvement description

`RuntimeCacheTrait` was introduced by #11254

There are multiple places in the code where `Pimcore\Cache\Runtime` is used directly in models, this should be changed to the new trait.

[2022-02-02 11:05] brusch opened #11340 "[Feature]: Possibility to store version data in database table"
### Feature description

It should be possible to configure a database connection for storing the versioning information.
This could be also a completely different to the main connection. I'd suggest to just configure a Doctrine connection.
It should be also possible to configure a threshold for the max. size, so if a version exceeds this size it get's still dumped on the file system.

[2022-02-02 11:25] awroblewski opened #11341 "[Improvement]: add method Relations to ClassificationStore class CollectionConfig"
### Improvement description

Hi,

The classificationStore class GroupConfig implements a method called "Relations" giving a list of all keys belonging to a group. However, the CollectionConfig class did not have such a method giving a  list of all groups belonging to a collection.
To stay consistent across the implementation of the classificationstore classes GroupConfig and CollectionConfig we sh

[2022-02-02 12:18] C-R-W commented on #7086
Hi there, any news on this?

[2022-02-02 13:08] fszenborn commented on #7086
Please check https://github.com/pimcore/pimcore/pull/10022

[2022-02-02 13:21] #11110 closed, assigned to mcop1

[2022-02-02 14:14] schmidt-travixmedia opened #11344 "[Bug]: Misleading error message in checkPermission() function"
### Expected behavior

Display/log a non misleading error message (like 'Admin user object could not be retrieved.')

### Actual behavior

Error message creation creates an error ;-)
As a consequence, a misleading error message is generated and so the real problem gets lost.

In my case, this was shown:
`The "Symfony\Contracts\Translation\TranslatorInterface" service or alias has been removed or i

[2022-02-02 14:29] schmidt-travixmedia commented on #11289
Hi, no, neither comma nor semicolon worked; I also tried other delimiters.

[2022-02-02 14:41] mmodmmod opened #11345 "[Improvement]: Possible Duplication of lines / Called the same function twice after each other"
### Improvement description

In the reverseObjectRelation.js the function this.specificPanel.removeAll() is called twice, once in line 56 as well as 58.
Is this intentional or actually a mistake?

For clarification: we are talking about:
/vendor/pimcore/pimcore/bundles/AdminBundle/Resources/public/js/pimcore/object/classes/data/reverseObjectRelation.js
or
https://github.com/pimcore/pimcore/blob/10

[2022-02-02 15:43] brusch commented on #7086
I think this can be closed then, right 😉

[2022-02-02 15:43] #7086 closed

[2022-02-02 15:59] #11229 closed, assigned to mcop1

[2022-02-02 16:03] brusch commented on #11327
Fixed by #11336

[2022-02-02 16:03] #11327 closed, assigned to nobody

[2022-02-02 16:04] kanevbg commented on #7086
#10022 implemented one-to-one relation filtering, here is proposed much more:
- sorting of one-to-one relation
- one-to-many relation - filter & sort
- one-to-many relation with metadata - filter & sort

What is better to do - separated issues with suggested functionality details or one well formatted description here for reopen of that issue?

[2022-02-02 17:52] ramundomario opened #11350 "[Feature]: Possibility to show and assign (even batch) tags from Assets/DataObjects grid"
### Feature description

It would be usefult show and assign (even batch) tags from the Assets/DataObjects grid.
Currently if you want to see associated tags to Assets/DataObjects in grid you have to open all the items and repeat for all elements involved.

[2022-02-03 09:11] cutec-chris opened #11354 "[Feature]: Graphql mutation for classification store"
### Feature description

We would love to have the opportunity to access (write) classification store contents with the graphql interface.
It seems that this is not possible today.

[2022-02-03 09:29] Hubbitus commented on #11196
Because brick may have an arbitrary amount of fields, I would like to suggest just a simple form to provide in grid text of such fields, joined said by a comma. E.g.: "term1, term2"

[2022-02-03 09:35] matthiashamacher opened #11355 "[Bug]: Invalid option(s) "queue_name" passed to the Redis Messenger transport."
### Expected behavior

Switch the transports (Redis, In Memory, etc) for the messenger component

### Actual behavior

The problem is, that with 10.3 there was a messenger configuration "queue_name" introduced that is only available if you use Doctrine as transport. In case you use other transports, Redis in my example, everything fails because the option is not available in the Redis configuratio

[2022-02-03 10:12] fashxp commented on #11355
responsible PR was https://github.com/pimcore/pimcore/pull/10928 ...
and no, it is not intentional, but the transports were configured for doctrine before, so some custom configuration is needed for sure to support different transports, isn't it?

[2022-02-03 10:20] chrisjung-dev commented on #11314
@brusch so this bug can be closed, since https://github.com/pimcore/pimcore/commit/877c7303b82348550eecd2f97a48eca2e43d8e5c is beeing shipped?

[2022-02-03 10:32] brusch opened #11357 "[Improvement]: Storage for Tool\Email\Log should also use Flysystem"
### Improvement description

This is still using local path:
https://github.com/pimcore/pimcore/blob/66c89bf84736c0128b982cbfad42cabff2bfe779/models/Tool/Email/Log.php#L394

It should get it's own Flysystem storage here:
https://github.com/pimcore/pimcore/blob/417b50202ceba7721311eb73f92c308f84236546/bundles/CoreBundle/Resources/config/pimcore/flysystem.yaml#L12

And implemented similar to all the

[2022-02-03 11:16] brusch commented on #11314
@campino2k ah, yes, thanks 😊

[2022-02-03 11:16] #11314 closed, assigned to nobody

[2022-02-03 14:45] mcop1 commented on #11097
@rjankiew During copy(cut) & paste the index doesn´t get updated, therefore `updateIndexesOfObjectSiblings ` never gets called. We will take a closer look into this issue, but it may take some time.

[2022-02-03 15:26] solverat opened #11362 "[Improvement]: Remove `forbiddenNames` from Class Definition"
### Improvement description

As far I can see, there is no need to store `forbiddenNames` in almost every data field in a given data class.

![image](https://user-images.githubusercontent.com/700119/152372878-6351820f-a0ca-4a34-93b9-cd6a13404a20.png)

[2022-02-03 15:38] dvesh3 commented on #11025
@simonkey yes, you have to clear both value & unit fields to remove the entry from DB, so that it starts inheriting the value from parent again.

The reason for this behavior is that if we start inheriting value from parent with unit defined in the child then it could lead to unwanted situation.

[2022-02-03 15:40] matthiashamacher commented on #11355
Yes. But previously I only needed to change the DSN which was only this code:
[code]

Now, as I cannot use these transports any more I need to configure my own transports an override the default routing config.

[code]

This works, but it is not clear, that it needs to be done. That's because I wrote that maybe just information in the Release Notes already helps.

[2022-02-03 17:23] dvesh3 commented on #11355
maybe defining it like below in the core helps:
[code]
@matthiashamacher could you please give it a try? and provide a PR, if it works. thanks!

[2022-02-03 22:31] nandorholozsnyak commented on #8256
I'm curious if there is any news on it? Will it be available once ?

[2022-02-04 06:44] dpfaffenbauer commented on #8256
@nandorholozsnyak since nobody commented on this since I created it almost a year ago, you can be pretty sure nothing changed in these regards.

It still is difficult to deploy Pimcore to things like Kubernetes. It got a lot better with Pimcore X, especially 10.2. But there is still a lot of room for improvement here.

[2022-02-04 07:25] matthiashamacher commented on #11355
@dvesh3 Thanks, that works.

[2022-02-04 07:31] simonkey commented on #11025
Ok, I understand. I'll close the issue.

[2022-02-04 07:31] #11025 closed, assigned to dvesh3

[2022-02-04 07:55] passioneight commented on #11285
I can confirm this. Additionally to the missing toolbar, if you don't need the toolbar while adding content, the content is lost on save.

Only after a reload you are able to save the content as expected.

[2022-02-04 08:16] nandorholozsnyak commented on #8256
Thanks.

We are having a lot of problems with our deployments when class/field collection/object brick changes are happening. We are doing it by hand on the UI, in the Class editor, we are uploading JSON files, but one bad click and the data is gone.
We saw there are multiple ways to handle these changes, like the JSON exports and the definition_xy.php classes, but I'm curious why the Doctrine Mig

[2022-02-04 08:22] passioneight opened #11371 "[Improvement]: Poster image for videos should be available independent of selected type"
### Improvement description

When using `Video` editables or types, only the `asset` type has the field _Poster Image_ available:

![image](https://user-images.githubusercontent.com/57256630/152495002-91126437-58a8-4816-9091-c42cf6bb3514.png)

![image](https://user-images.githubusercontent.com/57256630/152495051-2d77835c-75ec-45da-8ec2-1894bdcd5410.png)

Chances are that the client wants a specifi

[2022-02-04 08:23] dpfaffenbauer commented on #8256
That was never supported... The way to handle this currently is:

 - GIT Versioning the files `var/classes/*_definition.php` but do not version the `var/classes/DataObject` files
 - On Deployment run `bin/console pimcore:deployment:classes-rebuild`

[2022-02-04 08:24] passioneight opened #11372 "[Improvement]: Add additional buttons to poster image relation input"
### Improvement description

Similar to the _Path_ field, the _Poster-Image_ field should have the search/open buttons:

![image](https://user-images.githubusercontent.com/57256630/152495820-5a4de87b-567c-46c7-808d-801b6980aecf.png)

[2022-02-04 10:07] nandorholozsnyak commented on #8256
I think it was: https://pimcore.com/docs/pimcore/6.8/Development_Documentation/Development_Tools_and_Details/Migrations.html#page_Non-DB-Changes
We were experimenting with this.
We have experienced a lot of deployment failures with the mentioned `classes-rebuild` method, any good advice on it?
We are running Pimcore in a docker container, with multiple instances. Is there any locking mechanism tha

[2022-02-04 10:36] dpfaffenbauer commented on #8256
No, it never was really supported. In theory you should be able to change the class-definition and either Pimcore generates a migration for all tables or you can do with a command. Similar to how doctrine handles changes.

I never have problems with classes-rebuild. I am currently experimenting with Kubernetes, and there I run a migrate Job to handle that for me. As well as in entrypoint I run it

[2022-02-04 11:39] dpfaffenbauer commented on #8256
@nandorholozsnyak this should be a good starter: https://github.com/pimcore/pimcore/pull/11373

[2022-02-04 11:40] nandorholozsnyak commented on #8256
"In theory you should be able to change the class-definition and either Pimcore generates a migration for all tables or you can do with a command" - is there any command in the 6.8 build that would let us generate these migrations files that have all the code to build those classes and database schemas? We were searching but were not able to find.

And on the other hand the biggest problems we are

[2022-02-04 11:41] dpfaffenbauer commented on #8256
I said in theory, that means it does not exist ;)

[2022-02-04 11:50] nandorholozsnyak commented on #8256
Thank you. I saw you reopened the PR, hope it gets more attention now. Could be interesting for us as well, but I would be on the side of create incremental migration files to evolve the database.

[2022-02-04 12:26] passioneight commented on #11242
As a workaround, we return a url in this format instead: `/preview/{originalUrl}` (with the requirements set to `requirements={"originalUrl"=".*"}`).

The action that is called then redirects to the url in `$originalUrl`.

[2022-02-04 12:33] kingjia90 commented on #11305
I've took a look, it seems that the option "[loading](https://pimcore.com/docs/pimcore/current/Development_Documentation/Assets/Working_with_Thumbnails/Image_Thumbnails.html#page_Generating-HTML-for-Thumbnails)" isn't available in the method and wouldn't be considered ([unlike alt and title](https://github.com/pimcore/pimcore/blob/10df71ba81014d999d330d2bf28c2f946a1dde54/models/Asset/Image/Thumbna

[2022-02-04 12:36] danielerne opened #11375 "[Improvement]: Object ManyToMany Relation Grid Controls"
### Improvement description

The Object ManyToMany Relation Grid has two UX problems:

The "Delete" or "Clear" Button clears all data without asking a second time. And it can not be undone easily, because it saves the object already. This is very annoying if someone accidentally clicks this button with a lot of related objects.

The green "Add" button makes no sense too. How should someone use thi

[2022-02-04 13:13] jeykodev commented on #10307
It's been a few months now. @fashxp are the pimcore devs aware of this problem? Let us know if further information are needed. I really would like to make a PR or something but for the ExtJS part of pimcore my knowledge is not sufficient.

[2022-02-07 08:44] #11322 closed, assigned to nobody

[2022-02-07 08:45] #11283 closed, assigned to nobody

[2022-02-07 08:49] fashxp commented on #11297
be careful about potential XSS

[2022-02-07 08:54] #11323 closed, assigned to nobody

[2022-02-07 09:03] msteyrer opened #11377 "[Bug]: Image Face detection fails, 'the process has been signalled with signal 6'"
### Expected behavior

do not pass the filetype-not-supported.svg or other unsupported filetypes to the facedetect binary.

### Actual behavior

In the detectFaces method of Pimcore\Model\Asset\Image the filetype-not-supported.svg is passed to the facedetectBin. Whenever this happens, it results in an uncaught error and the image can not be saved.

### Steps to reproduce

pimcore 6.9.6
It can not

[2022-02-07 09:09] abcpremium opened #11379 "[Bug]: Updating from Pimcore 10.2.7 to 10.3 through Composer results in Migration Exception"
### Expected behavior

Hello all,

I updated Pimcore from version 10.2.7 to 10.3 by following the guide at [https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/Updating_Pimcore/index.html](https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/Updating_Pimcore/index.html), executing `COMPOSER_MEMORY_LIMIT=-1 composer upda

[2022-02-07 10:12] dvesh3 commented on #11379
Seems like regression of https://github.com/pimcore/pimcore/pull/10760. I'm not sure if `NULL` default value for type column is a valid case though https://github.com/pimcore/pimcore/pull/10760#discussion_r751294935

[2022-02-07 10:15] alexanderkroneis opened #11381 "[Feature]: Date Fields instead of Text Fields"
### Feature description

Hi,

a customer of ours asked whether we can change the date format. We investigated on that and recognized that this is not possible within Pimcore backend and we also detected that the input fields for date fields are `type="text"` instead of `type="date time-local"`. Why is this? Please change it to HTML5 date field.

[2022-02-07 10:33] NiklasBr commented on #11304
We can also reproduce this issue in 10.2.10

[2022-02-07 10:37] brusch commented on #11379
@dvesh3 yep, you're right, it's a regression of #10760
I've requested to change the default value to `NULL` as `object` felt wrong to me.
As a fix we could either use one of `asset` `document` or `object` again as the default, or we introduce another enum value, like `default` which is then used as the default value. wdyt?

[2022-02-07 10:51] fashxp opened #11382 "[Improvement] Application Logger File Objects should be stored via flysystem storage"
### Improvement description

right now, it is saved directly on filesystem via File:put

[2022-02-07 10:56] dvesh3 commented on #11379
@brusch what i'm not sure of that do we really need a default value? isn't it type should always be passed?

 e.g. https://github.com/pimcore/pimcore/blob/acb371a1bff695d56084c9f372d7eab41361f305/models/DataObject/ClassDefinition/Data/ManyToOneRelation.php#L230
 or https://github.com/pimcore/pimcore/blob/acb371a1bff695d56084c9f372d7eab41361f305/models/DataObject/ClassDefinition/Data/ManyToManyRela

[2022-02-07 11:12] brusch commented on #11379
Yes, the type should be always there.
Just checked:
https://dev.mysql.com/doc/refman/8.0/en/data-type-defaults.html#:~:text=If%20a%20data%20type%20specification,with%20no%20explicit%20DEFAULT%20clause.

It seems that we should be fine by not defining a default value.

[2022-02-07 12:11] abcpremium commented on #11379
So, is there a hotfix for me to get it working again?

[2022-02-07 12:42] brusch opened #11384 "[Improvement]: Documentation for config storage path - follow up #11332"
### Improvement description

Docs were missing in the initial PR #11332

[2022-02-07 12:47] fashxp commented on #11097
probably connected to manual index sorting mode in object tree

[2022-02-07 12:53] fashxp commented on #11181
probably it is because getting published version of element vs. getting latest version of element.

need to check, if event contains the latest version of an element or the published version.

[2022-02-07 13:05] dvesh3 commented on #11379
@abcpremium please check this PR https://github.com/pimcore/pimcore/pull/11383

[2022-02-07 13:55] podarcis commented on #11304
Can confirm this behavior with Pimcore 10.3.0 (migrated from 10.0.3) with `dev` environment within Pimcore Docker env and `vrana/adminer:v4.8.1`. However, first output happening in different file, but that might not matter.

[code]

[2022-02-07 14:53] brusch commented on #11379
Fixed by #11383

[2022-02-07 14:53] #11379 closed, assigned to dvesh3

[2022-02-07 14:54] brusch commented on #11379
@abcpremium btw. which MySQL/MariaDB are you using?

[2022-02-07 14:55] abcpremium commented on #11379
It's MariaDB 10.3

[2022-02-07 15:35] brusch commented on #11304
Guys, can you please confirm #11388 fixes the issue for you? Thanks!

[2022-02-07 15:42] podarcis commented on #11304
@brusch Thanks for investigating! The error is gone. However, history of Adminer queries are not recorded (so it seems there is still a problem with the session).

[2022-02-07 18:19] #10990 closed, assigned to dvesh3

[2022-02-07 18:35] #11305 closed, assigned to kingjia90

[2022-02-08 06:02] syncrasy-git opened #11391 "[Feature]: Predefined Properties with type Object and Content Type object should appear in document and PrintPage"
### Feature description

Hello, I have a query. I have created Predefined Properties with type Object and Content Type object, but it does not reflect/appear in document type PrintPage Properties

[2022-02-08 08:02] #11391 closed, assigned to nobody

[2022-02-08 08:13] brusch commented on #11304
@podarcis Thanks for your feedback! At least it makes it already better 😉 Maybe someone else could investigate why the history doesn't work. Thanks 😊

[2022-02-08 08:16] fashxp opened #11393 "[Bug][Assets] Uploading invalid zip just hangs without error message"
### Expected behavior

show error message that zip file is not valid

### Actual behavior

import just hangs

![image](https://user-images.githubusercontent.com/8792145/152945869-4c7d29b9-ba90-4b20-8e1b-3c8b083fe0a2.png)

### Steps to reproduce

select some other file than a zip file within zip upload

[2022-02-08 08:55] dvesh3 commented on #11355
Fixed by #11369

[2022-02-08 08:55] #11355 closed, assigned to nobody

[2022-02-08 09:12] brusch commented on #11092
Fixed by #11394

[2022-02-08 09:12] #11092 closed, assigned to brusch

[2022-02-08 09:12] brusch commented on #11377
Fixed by #11395

[2022-02-08 09:12] #11377 closed, assigned to brusch

[2022-02-08 09:58] SamyMP commented on #11350
Hi,

I would add that it could also be very useful to be able to filter on those tags on the DataObject grid, when listing all DataObjects from clicking on a folder on the tree for example. I don't know if this is directly related to this isssue or if it needs to its own issue for this feature.

[2022-02-08 11:57] podarcis commented on #11304
Seems to be a session related change (HttpFoundation/ HttpKernel) in Symfony as it first appears with 5.4.0-BETA1.

[2022-02-08 12:57] podarcis commented on #11304
I just realized that - despite no error message - Adminer doesn't record my query history even in Pimcore 10.0.3 (and Symfony 5.3.0) in my local dev env (earlier Pimcore Docker image w/ Apache). However, on the production machine (even with an environment inheriting dev) it works fine. So maybe it's an issue with my env.

@NiklasBr @markvomark Can you confirm similar behavior? Does your history (e

[2022-02-08 12:59] brusch commented on #11304
Mine didn't work - also auth failed after wiping cookies, that's the reason for #11398

[2022-02-08 13:54] Humb3l opened #11403 "[Bug]: Cant login to Pimcore in Test Environment"
### Expected behavior

I set up a Test Environment with a Test Database and I still can login to the Pimcore Admin interface

### Actual behavior

If I try to login to Pimcore I get a 403 Error "Detected CSRF Attack! Do not do evil things with pimcore ... ;-)". I copied the dev database and I would expect that I still can login to Pimcore after using the copied dev Database as a test db (I also tr

[2022-02-08 14:16] markvomark commented on #11304
@podarcis: yeah, same behaviour here after the fix. The query history is gone after page reload.  I did some debugging but couldn't find the spot where in adminer the "queries" part of the session got wiped.

Just a guess: the "symfony/http-kernel" had some rather "interesting" changes going from 5.3 to 5.4, regarding the session handling, and there were a couple of fixes with v5.4.2 & .3. I just

[2022-02-08 14:17] brusch commented on #11403
`test` environment is only for running local test, not to run the UI

[2022-02-08 14:17] #11403 closed, assigned to nobody

[2022-02-09 09:22] brusch commented on #11384
Fixed by #11405

[2022-02-09 09:22] #11384 closed, assigned to mcop1

[2022-02-09 09:22] brusch commented on #11382
Assigned @BlackbitNeueMedien

[2022-02-09 10:37] #11357 closed, assigned to nobody

[2022-02-09 11:19] dkarlovi opened #11411 "[Bug]: \Pimcore\Bootstrap::prepareEnvVariables forces using DotEnv"
### Expected behavior

When running in modern environments like Lambda or containers (local dev and prod), the env vars are not distributed via files but are **real environment variables**. In which case the DotEnv component creates some issues and noise, so it's generally a best practice to not use it there at all. This is known even to Symfony so [they support checking for it being installed or

[2022-02-09 11:32] jdreesen opened #11412 "[Bug]: `BlockElement` inside an `Objectbrick` gets incorrectly serialized into cache"
### Expected behavior

When there's a `DataObject` with an `Objectbrick` that contains a field of type `block`, its serialized cache entry should not expand exponentially by the amount of `BlockElement`s it contains.

### Actual behavior

Each `BlockElement` has an `_owner` field that contains the `Objectbrick` instance it belongs to. This field in turn contains the `Objectbrick`s data instance (`

[2022-02-09 11:34] jdreesen commented on #11412
When I add a filter that sets the `_owner` field to `null` to the DeepCopy instance in [`marshalForCache()`](https://github.com/pimcore/pimcore/blob/4cd9301b1f40b9e67ac73c3e49fcaeaab9f33fb7/models/DataObject/Data/BlockElement.php#L220-L249) (like `$copier->addFilter(new SetNullFilter(), new PropertyNameMatcher('_owner'));`) the cache entry doesn't expand anymore.

But I don't know how to re-create

[2022-02-09 12:03] dpfaffenbauer commented on #11411
Solution is: make `dotenv` optional and check if installed in `prepareEnvVariables`?

[2022-02-09 12:14] jdreesen commented on #11412
Maybe #6789 is related?

[2022-02-09 12:56] dkarlovi commented on #11411
@dpfaffenbauer I think so, yes. AFAIK, it's only ever used there and the behaviour is optional anyway: if your `.env` file is empty, it does nothing. This would make the whole component optional (can be suggested in `composer.json`) and, if there, it loads the `.env` file.

[2022-02-09 13:48] akno77 opened #11413 "[Improvement]: Highlight localized fields in data object edit mode"
### Improvement description

If you have some localized fields in your data object followed by some none localized fields it is hard to recognize which fields belong to the localization tab and which not. Would it be possible to highlight somehow the localized fields tab area?

The current situation can lead to accidentally entering localized data into non-localized fields.

Here you don't see, wh

[2022-02-09 14:00] MarcW09 commented on #10975
This related PR leads to "Object.reload" not working anymore for me. When removing the PR Commit it works again, but with the maskEl error.
![Screenshot_09_02_22__14_58](https://user-images.githubusercontent.com/91049331/153215843-79b71c58-c389-4e9e-ba20-ab68af5ef3e4.png)

[2022-02-09 14:47] MarcW09 commented on #10975
Can this maybe be fixed in the unmask function? just set maskEl to null, when data is null. Then the changes in the Commit of the PR #11318 is not necessary.

![Screenshot_09_02_22__15_46](https://user-images.githubusercontent.com/91049331/153225264-22d62c77-3671-478c-b251-65870dfefe92.png)

[2022-02-09 15:03] kingjia90 commented on #10975
i cannot reproduce it, @MarcW09 could you please open an new issue (by referencing this one) with more details on how to reproduce it?
It could be related but not the same topic, as it mentions about toolbar register(), not the tabbar.

[2022-02-09 15:03] #10975 closed, assigned to kingjia90

[2022-02-10 10:08] LeaveAirykson opened #11419 "[Bug]: Thumbnails using manually set 'specific area' are broken after clearing temporary files"
### Expected behavior

When an pimcore_image is overwritten manually by selecting a 'specific area' to use for the thumbnail and the temporary files are cleared, the new thumbnail should be recreated when frontend is opened.

### Actual behavior

After a 'specific area' is set the new thumbnail shows in frontend. But as soon as the temporary files are cleared, these thumbnails break. This is repli

[2022-02-10 11:23] fashxp opened #11421 "[Bug]: Restore document from recycle bin fails"
### Expected behavior

can restore pimcore documents

### Actual behavior

fails due to database error ....

Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`pimcore`.`documents_editables`, CONSTRAINT `fk_documents_editables_documents` FOREIGN KEY (`documentId`) REFERENCES `documents` (`id`) ON DELETE CASCADE) in /var/www/pimcore/vendor/doctri

[2022-02-10 11:44] fashxp opened #11422 "[Improvement]: Create tmp files during asset create on local tmp directory (not in flysystem)"
### Improvement description

when using S3 (with versioning activated) as storage, the creation of tmp files results in double the space needed.

see also https://github.com/pimcore/pimcore/blob/e714878c981d5373b59e3a12c32b3ee488dd04f5/models/Asset.php#L739

[2022-02-10 14:28] ckemptner opened #11424 "[Feature]: Batch restore versions of data objects"
### Feature description

It would be nice if we could select multiple data objects and then say "restore all versions as they were at date MM/DD at HH:MM" This would allow for example to undo the action of a certain import that runs daily for multiple objects in bulk.

[2022-02-10 17:50] ctippler opened #11427 "[Bug]: Nice Paths for Reverse object relations are not working"
### Expected behavior

If you define a path formatter in a reverse object relation the returned values are not applied.
The url /admin/element/get-nice-path is called but the returned values are not applied

### Actual behavior

...

### Steps to reproduce

..

[2022-02-10 18:22] fashxp opened #11428 "[Improvement] Route ImageOptimization messages to separate transport"
### Improvement description

to be able to process compute intensive task with other priority compared to other pimcore_core messages

[2022-02-10 18:51] laurenz-glueck opened #11429 "[Bug]: Translations - filtered CSV export not possible"
### Expected behavior

If I filter down translations and click "CSV export".
A dialog appears and I have the option to download only the filtered values.
If I click "yes" - I expect the CSV file to only contain the filtered translations.

### Actual behavior

Clicking on "CSV export" in a filtered state opens the "Do you want to export only the filtered values?" dialog but immediately downloads a

[2022-02-10 19:00] laurenz-glueck opened #11430 "[Improvement]: Translations UI improvements"
### Improvement description

Before Pimcore v10.3.0 it was possible to right-click on a translation value and select "Edit as plain text" and "Edit as HTML":

<img width="301" alt="Screenshot 2022-02-10 at 19 53 49@2x" src="https://user-images.githubusercontent.com/2734232/153476945-39a770be-6a55-4f04-b4f0-eba10926f73d.png">

Now you don't have the right click option anymore. It would be nice to b

[2022-02-11 08:34] dvesh3 commented on #11421
Fixed by #11425

[2022-02-11 08:34] #11421 closed, assigned to dvesh3

[2022-02-11 15:13] #11422 closed, assigned to kingjia90

[2022-02-11 15:48] fashxp opened #11440 "[Bug] Don't call clearThumbnails when creating new asset"
### Expected behavior

clearThumbnails is not called when creating assets

this call is not necessary and thus harms asset creation performance

### Actual behavior

clearThumbnails is called

### Steps to reproduce

create a new asset and check, if clearThumbnails is called

[2022-02-14 07:23] DzemalBecirevic commented on #11231
After looking at this again, it turned out that I just did not have any columns selected for the "items" relation in the class editor. Isn't it supposed to show some default columns in that case? TLDR; This can be closed.

[2022-02-14 07:23] #11231 closed, assigned to nobody

[2022-02-14 08:56] brusch opened #11446 "[Improvement]: [Asset] optimize tree requests regarding thumbnails"
### Improvement description

When using remote storages this call to `exists()` can slow down the tree-requests significantly:
https://github.com/pimcore/pimcore/blob/d34b60574994ea91db51758603c056b3033a3e52/bundles/AdminBundle/Controller/Admin/Asset/AssetController.php#L755

Possible improvements:
- remove `exists()` check
- extend delay to show thumbnails
- check existence of file in thumbnail d

[2022-02-14 09:51] dvesh3 commented on #11429
Fixed by #11439

[2022-02-14 09:51] #11429 closed, assigned to nobody

[2022-02-14 10:59] dvesh3 commented on #11345
Fixed by #11443

[2022-02-14 10:59] #11345 closed, assigned to nobody

[2022-02-14 11:40] kingjia90 commented on #11344
@schmidt-travixmedia could you please share more details on the configuration problems you mentioned? just wanted to reproduce the error before merging the neat solution from @matthiashamacher

[2022-02-14 16:22] dvesh3 commented on #11362
Fixed by #11442

[2022-02-14 16:22] #11362 closed, assigned to mcop1

[2022-02-14 19:44] kaurov opened #11451 "[Bug]: https://demo.pimcore.fun/admin/ 503 Service Unavailable"
### Expected behavior

User types https://demo.pimcore.fun/admin/  in browser URL and sees Pimcore admin panel or login page.

### Actual behavior

https://demo.pimcore.fun/admin/ returns:

Request URL: https://demo.pimcore.fun/admin/
Request Method: GET
Status Code: 503 Service Unavailable
Remote Address: 157.90.2.106:443
Referrer Policy: strict-origin-when-cross-origin
Connection: close
Content-

[2022-02-14 19:55] kaurov opened #11452 "[Bug]: The Calculated Field cloning skips Type and Expression."
### Expected behavior

When the 'Calculated value' field is cloned, then:
-  'Calculator type' is copied and is the same as of source field, not empty
- 'Calculator expression' is the same as of source field, not empty

### Actual behavior

When Calculate field is cloned, then:
-  'Calculator type' property is empty but should be the same as of source field
- 'Calculator expression' property is em

[2022-02-15 08:16] #11451 closed, assigned to nobody

[2022-02-15 10:25] passioneight commented on #11242
Seems related: https://github.com/pimcore/pimcore/issues/7657

[2022-02-15 10:34] passioneight commented on #7657
@NiklasBr maybe a bit late, but this workaround should help: https://github.com/pimcore/pimcore/issues/11242#issuecomment-1029941788
Works for us for sites and multi-languages, provided that the locales are available using the preview generators config, like so:

<img width="385" alt="image" src="https://user-images.githubusercontent.com/57256630/154044308-dc7b738d-1e0f-4e1b-86bf-a4c195b43b39.png"

[2022-02-15 10:42] passioneight commented on #10604
Seems like this bug is back as of v10.3.0 -  for localized fields. Reproducible on Pimcore Demo:

<img width="581" alt="image" src="https://user-images.githubusercontent.com/57256630/154045648-4560170c-c5fc-4076-af81-09135e74129f.png">

[2022-02-15 12:51] fashxp opened #11454 "[Bug]: Reloading dirty data object fails"
### Expected behavior

can reload any data object

### Actual behavior

reloading fails with JS error

![image](https://user-images.githubusercontent.com/8792145/154065548-c218a7cd-cde8-4ae8-a078-478d2f8262b9.png)

### Steps to reproduce

- Open data object
- change some data
- press reload button

[2022-02-15 13:59] passioneight commented on #11285
@dvesh3 any updates on this?

[2022-02-15 14:23] jremmurd opened #11456 "[Bug]: Localized fields in blocks"
### Expected behavior

Localized fields in blocks do not throw exceptions, as described in the docs.

See
* https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Data_Types/Blocks.html
* Get Values of Localized Block Entries:

### Actual behavior

Getting data from localized fields in blocks throw exceptions

![image](https://user-images.githubusercontent.com/90

[2022-02-15 15:20] SQRR opened #11457 "[Bug]: extJs deleteElementFromServer"
### Expected behavior

Should delete the DataObject

### Actual behavior

Some Objects can not be deleted because nodelEl is null.
This throws an exception which ends up cancelling the DELETE request.

### Steps to reproduce

Unfortunately I was not able to find out why this erros sometimes occures.
It might depend on the DataObject Folder tree.

Quick'n'Dirty Fix:
https://github.com/pimcore/pimco

[2022-02-15 15:40] dvesh3 commented on #11321
Sorry, not able to reproduce the issue:
![image](https://user-images.githubusercontent.com/5137917/154095956-6e8db497-2c57-4980-804f-6e85193afab5.png)

Please feel free to come back with reproducible scenario. thanks!

[2022-02-15 15:40] #11321 closed, assigned to dvesh3

[2022-02-15 16:04] dvesh3 commented on #10604
Could you please try to reproduce on [demo.pimcore.fun](https://demo.pimcore.fun/)?

[2022-02-15 16:05] passioneight commented on #11321
@dvesh3 can you add the code you used to render the editables as well?

[2022-02-15 16:09] passioneight commented on #10604
@dvesh3 the screenshot is from the pimcore demo.

[2022-02-15 16:11] dvesh3 commented on #10604
I was not able to reproduce it on pimcore.fun

[2022-02-15 16:15] dvesh3 commented on #11321
@passioneight sure, here it is:

[code]

[code]

[code]

[2022-02-15 16:18] dvesh3 commented on #11285
@passioneight sorry, not the priority for us at the moment. It would be great to receive a PR for the fix 😉

[2022-02-15 16:37] #11052 closed, assigned to mcop1

[2022-02-15 17:28] NiklasBr commented on #10604
I can get it to disappear if there is one slug outside the localized fields and one inside

![image](https://user-images.githubusercontent.com/279826/154116200-996ac5f6-1144-4213-b01f-0759318773dc.png)

![image](https://user-images.githubusercontent.com/279826/154116263-3366e31a-82c3-4b1c-8ae9-653834c72b00.png)

[2022-02-16 07:35] passioneight commented on #11321
@dvesh3 thanks - it seems there was a misunderstanding. In your template, try using `{{ pimcore_video('myDialogVideo').frontend|raw }}` instead, so that the _same_ video is rendered, not a different one. This should help you reproduce the issue.

Current Pimcore version is v10.3.0.

[2022-02-16 08:05] ascheider opened #11460 "Quicksearch exception if brick found"
### Expected behavior

I should be able to use quick search without error.

### Actual behavior

Currently if you have bricks with localized fields and use quick search, you get exception: Variable "languages" does not exist in pimcore/bundles/AdminBundle/Resources/views/SearchAdmin/Search/Quicksearch/object.html.twig
![quicksearch](https://user-images.githubusercontent.com/6016485/154220345-d87ef

[2022-02-16 08:37] dvesh3 commented on #10604
Still works for me (Also tried with clearing cache):
![image](https://user-images.githubusercontent.com/5137917/154226488-fb7dfa70-2093-40cb-b55e-f7b98f7db8c8.png)

[2022-02-16 08:41] dvesh3 commented on #11321
Then it is duplicate of https://github.com/pimcore/pimcore/issues/10417. please see https://github.com/pimcore/pimcore/issues/10417#issuecomment-927876225

[2022-02-16 09:48] NiklasBr commented on #10604
@dvesh3 see [my comment again](https://github.com/pimcore/pimcore/issues/10604#issuecomment-945632132), the **site** selector drop-down is missing in these screen shots.

[2022-02-16 10:10] kingjia90 commented on #11344
update: just merged to have it in today's release

[2022-02-16 10:10] #11344 closed, assigned to nobody

[2022-02-16 10:26] passioneight commented on #11297
@fashxp fair point. Any suggestion on how to solve this without having to render the markup manually?

[2022-02-16 10:37] jremmurd commented on #11456
@dvesh3 Thx for your research. The issue can be closed, this was a user failure. I put a none existing field into the `->getLocalizedValue($field, $lang)` call - maybe we could improve the error message though.

[2022-02-16 10:41] dvesh3 commented on #11456
I would still change the `getLocalizedValue` method to throw  meaningful exception when a non-exisiting attribute is requested from localizedfields. PR on the way 😉

[2022-02-16 10:42] jremmurd opened #11463 "[Improvement]: public access for items in LocalizedField"
### Improvement description

It would be useful to be able to get the list of `$items`, which are currently protected, in `LocalizedFields` (pimcore/pimcore/models/DataObject/Localizedfield.php). Espcially in block elements.

Related to #11456

[2022-02-16 11:36] brusch commented on #11440
Fixed by #11450

[2022-02-16 11:36] #11440 closed, assigned to brusch

[2022-02-16 12:11] passioneight commented on #10604
It does not seem to be related to multiple slugs in one object though. Here's the relevant part of our class definition:

<img width="251" alt="image" src="https://user-images.githubusercontent.com/57256630/154261133-7e20b0b5-598d-466a-93b6-a37b288f0d71.png">

The "SEO"-Panel is within a `Tabpanel` and that's about all there is to it. Here's how it looks when opening an object of this type:

<img

[2022-02-16 13:27] fashxp commented on #11297
nope

[2022-02-16 13:40] brusch commented on #11456
Fixed by #11464

[2022-02-16 13:40] #11456 closed, assigned to dvesh3

[2022-02-16 13:40] brusch commented on #11004
Fixed by #11426

[2022-02-16 13:40] #11004 closed, assigned to nobody

[2022-02-16 14:40] MyZik opened #11468 "[Bug] [DataObjects]: Incorrect index sorting"
### Expected behavior

 If folder/object has option "Sort children by -> Index (Manual)", the objects should be automatically sorted and reindexed by CRUD-actions. Actually reindex only works if we change the place manually.

### Actual behavior

I have created a folder with option "Sort children by -> Index (Manual)". Then I have added data objects, but they getting per default index 0. Example h

[2022-02-17 07:07] passioneight commented on #11297
I see. Well, probably the fastest way to just manually render the link then.

Though, I'd like to throw in the idea of using templates instead having the HTML code for editables within the PHP files. I haven't thought about the details of the implementation yet, but maybe it can kickstart some brainstorming. Thoughts?

[2022-02-17 07:27] Stefan-JustMe69-SQ opened #11471 "[Bug]: Update form 10.3.0 to 10.3.1 - Invalid configuration for path "framework.mailer": "dsn" and "transports" cannot be used together."
### Expected behavior

Normal update process without problems

### Actual behavior

After udate process, clear cache throws exception. Backend ist not useable
no login is possible. Even downgrade to 10.3.0 is showing this error. Pimcore is not useable anymore.

### Steps to reproduce

Update from 10.3.0 to 10.3.1 - and same on downgrade from 10.3.1 to 10.3.0

Having a SMTP-Account as mailer define

[2022-02-17 08:05] fashxp opened #11474 "[Improvement][Discussion] Should PRE/POST update events be fired when autosave takes place"
### Improvement description

might cause to unwanted behavior, like https://github.com/pimcore/advanced-object-search/issues/143 and the likes.

question is, can auto-save versions be interesting to some extensions?

[2022-02-17 08:22] fashxp opened #11475 "[Bug] Searchbackend messages are dispatched when autosaving elements"
### Expected behavior

do not dispatch searchbackend messages when autosave since they are useless (because handler loads published version of element anyway).

also related to https://github.com/pimcore/pimcore/issues/11474

### Actual behavior

searchbackend messages are dispatched on every autosave

### Steps to reproduce

open data object and change data -> autosave is triggered -> searchbacke

[2022-02-17 08:32] dvesh3 commented on #11471
@JustMe69 Nothing changed in 10.3.1 regarding mailer configuration. We are just using `mailer.transports` configuration https://github.com/pimcore/pimcore/blob/3d67d33e251e0a2726a8937969e48122ee040a67/bundles/CoreBundle/Resources/config/pimcore/default.yaml#L28-L30

please re-check your configs.

[2022-02-17 08:49] thijs-windels opened #11476 "[Bug]: Tooltips overriding error popups"
### Expected behavior

In the admin interface, field description tooltips should be hidden when you stop hovering over them.

### Actual behavior

Tooltips with the description of a field in the admin interface sometimes just don't disappear. If then an error popup opens, the interface gets stuck and I'm unable to continue. I always need to refresh the page.
![image](https://user-images.githubuser

[2022-02-17 08:52] brusch commented on #11471
Actually it's in the `framework` root, so this config belongs to https://github.com/symfony/framework-bundle and not to Pimcore.

[2022-02-17 08:52] #11471 closed, assigned to nobody

[2022-02-17 08:56] Stefan-JustMe69-SQ commented on #11471
see autogenerated file under config/packages/mailer.yaml

There is the wrong configuration

[2022-02-17 08:58] Stefan-JustMe69-SQ commented on #11471
After fixing this one - there's the next error:
[code]

[2022-02-17 09:22] NiklasBr commented on #11474
I agree on the usefulness of not triggering events on autosave, but rather than not trigger them at all I would propose that these events also supply a context information similar to how `ElementAdminStyleEvent` does it:

https://github.com/pimcore/pimcore/blob/41ea483e2dc0cd0dd6017797c2a2252b32a28f78/lib/Event/Admin/ElementAdminStyleEvent.php#L24-L39

So... Update `ElementEventInterface` or `Data

[2022-02-17 09:34] fashxp commented on #11474
we have already the information in arguments of the event ... so that is not the problem.

[2022-02-17 10:08] dvesh3 commented on #10604
@passioneight I see your changes on demo.pimcore.com and it works for me. could you please check for console errors?
![image](https://user-images.githubusercontent.com/5137917/154453316-9acd7502-4d93-4598-837d-2fc9b3132f94.png)

[2022-02-17 10:24] NiklasBr commented on #11474
Oh, I did not know that! Looked in the documentation and found nothing.

[2022-02-17 10:31] NiklasBr commented on #10604
No site for me, no relevant console errors or warnings
![image](https://user-images.githubusercontent.com/279826/154457577-9a255e57-a482-4f90-8e37-c5362efe3195.png)

[2022-02-17 10:34] dvesh3 commented on #10604
yes, because you utilized all the sites available so you don't see the dropdown anymore. when you remove testsite.local then you'll see it.

[2022-02-17 10:45] kaurov opened #11478 "[Bug]: DataObject Class renaming glitches and should be disabled"
### Expected behavior

Data Object class is either impossible (field 'Name' not editable)
or is correctly renamed with all database and file dependencies.

### Actual behavior

The class name is renamed but we got much error reporting because because:
- class files are not renamed if only upper/lower case is changed on Win and Mac. (e.g. try to rename Oldproduct to 'OldProduct')
- in the database,

[2022-02-17 10:56] NiklasBr commented on #10604
Sites are still missing:
![image](https://user-images.githubusercontent.com/279826/154464172-a56f6cdc-1c9f-4a7f-b3fe-eba6426e3d8d.png)

Neither the site called *blank* nor the site called *PimcoreHome* are available.

[2022-02-17 11:01] ITspirit commented on #4535
Should also be supported within ClassifcationStore Quantity Values.

[2022-02-17 11:41] passioneight commented on #10604
@dvesh3 no errors in the console. However, I now see the site dropdown and can add the sites listed as options. Though, I couldn't verify if other sites are working or not, as I couldn't create a new site. Maybe @NiklasBr can try once more?

[2022-02-17 13:33] NiklasBr commented on #10604
This is the easiest way to reproduce my issue at the moment I can think of.

1. No localized field and not limited to any specific Site in class definition. The Site drop-down works here:
![image](https://user-images.githubusercontent.com/279826/154491601-fabed998-276a-4d5b-be86-6c3bc2f5c5ac.png)
![image](https://user-images.githubusercontent.com/279826/154491554-5aa37f89-2825-4f57-bc80-16ddcb072d

[2022-02-18 07:18] rberneder commented on #8295
@GALCF @brusch Is there any update to this issue?
Wouldn't it be meaningful to reopen this issue, since it is not solved yet?

[2022-02-18 07:18] neha04 commented on #11304
just updated  instance from 10.2 to 10.3 and getting this error

[2022-02-18 08:41] ctippler opened #11486 "[Bug]: Processing of messenger_messages becomes very slow"
### Expected behavior

I had the issue that the entries in messenger_messages were not processed fast enough. This lead to the problem, that processing gets slower and slower, because a index is missing on a column and the table gets bigger and bigger.

I had 700000 entries in the table:

The following query is executed when a entry is selected:
SELECT m.* FROM messenger_messages m WHERE (m.delive

[2022-02-18 08:59] dpfaffenbauer commented on #11486
The table is actually created by Symfony and Symfony should take care about creating the index.

[2022-02-18 09:00] brusch commented on #8295
@rberneder this issue was about editables, which is solved 😉For the other things we're waiting for PRs.

[2022-02-18 09:01] dvesh3 commented on #10604
you have to select the sites in dropdown then only they appear in the list:
![image](https://user-images.githubusercontent.com/5137917/154651006-bf1992ec-a4db-4c04-8c18-0dc22a8405df.png)

There was a bug that selection no displayed in admin, which is now fixed with https://github.com/pimcore/pimcore/pull/11487

[2022-02-18 09:01] brusch commented on #11486
Yep, @ckogler-elements please open a ticket at Symfony, or even better a PR, makes definitely sense! Thanks!

[2022-02-18 09:01] #11486 closed, assigned to nobody

[2022-02-18 09:14] NiklasBr commented on #10604
This is very inconsistent now, in other places such as asset relations no selection = all selections, so _of course_ it should be the same here, for example no selection in Relation fields allows us to do this:

![image](https://user-images.githubusercontent.com/279826/154653053-eed4c60c-dba8-4414-883b-ee90b9f3a24f.png)

Why is this different and why is it not clearly documented and why is it not

[2022-02-18 09:26] passioneight commented on #10604
I agree with @NiklasBr. The sites in our project were never selected before, yet all of them were displayed until recently. That would also be the behaviour I'd expect due to the reason @NiklasBr stated.

[2022-02-18 10:38] GaneshKandu opened #11488 "[Bug]:"
### Expected behavior

I have installed Pimcore10.3.1 but i am not able to edit pages
highlight editable is alsp not working

![screenshot-webuzo web-2022 02 18-16_04_22](https://user-images.githubusercontent.com/12833130/154666450-bbc8df3c-cd92-46c1-aa56-e1d38b9dfe13.png)

### Actual behavior

i should able to edit default page and see highlight editable

### Steps to reproduce

I followed step 1

[2022-02-18 10:40] #11488 closed, assigned to nobody

[2022-02-18 11:01] fashxp commented on #11486
also check that out:
https://github.com/symfony/doctrine-messenger/blob/5.4/Transport/Connection.php#L416

seems they are not creating these indices on purpose

[2022-02-18 21:00] ctippler commented on #11486
Thx for your hints.

As fash mentioned it turned out to be because of deadlocks which occure when multiple "messenger:consume" processes were running. Although if you are just using one process it would be much faster...

There seems to be a lot of disussion (and allready a pull request for creating the index):
https://github.com/symfony/symfony/pull/45007
https://github.com/symfony/symfony/pull/4

[2022-02-21 09:53] FranzRest opened #11493 "[Bug]: colums missing in CSV Export from GRID with multiple operators of the same type"
### Expected behavior

When exporting a CSV from the grid I would expect to get a file with all the columns that are shown in Pimcore.
This should also be the case, when I use the same operator/formatter multiple times.

No columns should be missing.

### Actual behavior

Currently when you use the same operator/formatter multiple times, the csv export removes all of them except the first one.
Thi

[2022-02-21 09:56] brusch commented on #11457
@SQRR Unfortunately we can't reproduce that on our end. Please share a reproducible scenario (best on demo.pimcore.org) or even better a PR that fixes the issue. Thanks a lot (we'll of course reopen this issue if necessary).

[2022-02-21 10:02] brusch commented on #11182
@woellundwoell 🏓😉 Thanks

[2022-02-21 10:28] dvesh3 commented on #11493
If possible, I would pick the name of the attribute used in the formatter, since each formatter works with single attribute and then export data is meaningful with correct attribute headers.

[2022-02-21 10:40] akno77 opened #11496 "[Bug]: Document inheritance not working with pimcore_area brick settings"
### Expected behavior

If a brick is directly included via `pimcore_area` the brick settings dialog is inherited, too.

### Actual behavior

The brick settings dialog is not inherited. Changes in the master brick settings have no affect on the inherited document. This breaks the whole inheritance process!

### Steps to reproduce

1. Include a `pimcore_area` in your template and use a brick with se

[2022-02-21 12:05] studio1gmbh opened #11499 "[Bug]: Encoding error, caused by HTML in pimcore_area brick settings"
### Expected behavior

Using HTML Markup in a `defaultValue` of an AreaBrick Editable Configuration should be possible without errors.

### Actual behavior

When using HTML markup as a `defaultValue` inside a Area Brick configuration, the edit window wont open.

For example, the following config will not work:

[code]

Pimcore will `json_encode` the brick configuration and puts it inside a `<templ

[2022-02-22 09:08] woellundwoell opened #11502 "[Bug]: PimcoreUrl cannot resolve a data object's site-specific URL slug"
### Steps to reproduce

We have a shop with categories. These categories are data objects and have a URL slug property. We also have two different sites set up. Now add a fallback URL slug to one category. Now add a slug for one specific site to the same category. (If you refresh the data object in the backend gui now the slugs will disappear but this a different matter and will receive a separate

[2022-02-22 10:31] dvesh3 commented on #11454
Fixed already by https://github.com/pimcore/pimcore/pull/11417

[2022-02-22 10:31] #11454 closed, assigned to dvesh3

[2022-02-22 12:14] FranzRest commented on #11493
consistency wise I would suggest that the user can set a custom label as well.
For most of the other operators this can be done and would solve the problem, as the user is respsonible for non-duplicate labels.
Maybe the user can optionally set a custom label, the default ist your suggestions.

Picking the attribute name would work for most cases as well. But there could be edge cases that don't wo

[2022-02-22 12:49] Maksonis opened #11504 "[Bug]: Closing object folder requires double click"
### Expected behavior

When click on "x" close object folder.

### Actual behavior

- first click results gray background:
![image](https://user-images.githubusercontent.com/17277953/155135469-db8f7e6a-7dce-41eb-a957-865fc42ef7a0.png)

- second click: closed

### Steps to reproduce

- In objects sections click on Home
- Select class, e.g. Car
- Click on "X" sign

[2022-02-22 13:07] #11264 closed, assigned to nobody

[2022-02-22 14:11] dkarlovi opened #11505 "[Bug]: scripts used for admin minimized on demand (even in prod env) instead of at built-time"
### Expected behavior

The admin UI is a build-time requirement, it should be satisfied as such.

Currently, scripts listed in `vendor/pimcore/pimcore/bundles/AdminBundle/Resources/views/Admin/Index/index.html.twig` get processed and minified into `var/admin/minified_javascript_core_bf4669852c609bea6be38a41c0f8485e.js` on demand (meaning, in runtime), this file then gets served by `\Pimcore\Bundle

[2022-02-22 14:15] dkarlovi commented on #11505
Note: I know this is using Flysystem `admin` filesystem, but it's important to note this is not "data", it part of the application itself. The filesystem here is not really applicable.

[2022-02-22 17:57] dpfaffenbauer commented on #11505
👍

[2022-02-23 08:29] brusch commented on #11505
@dkarlovi Would be fine for me, we can even build the stuff using a GitHub Action and just add it statically to the repo ...
However this is currently not on our top priority list, so PRs are welcome 😊

[2022-02-23 09:20] valentin- opened #11507 "[Bug]: Create document translation -> inherit controller"
### Expected behavior

When creating a document translation with inheritance the controller is set to defaultAction.

I've created a listener to inherit the controller, but imho this should be the default behaviour as the document type for main page and translation should match.

### Actual behavior

Document EN:
![image](https://user-images.githubusercontent.com/90033/155289335-73614a2b-0d77-4d0d

[2022-02-23 09:33] dvesh3 opened #11508 "[ImageThumbnails] Respect quality configuration for auto formats in pimcore:thumbnails:image command"
### Expected behavior

please see https://github.com/pimcore/pimcore/commit/77bcc93b019ef83412f829948ca6fd279bc0dd59#commitcomment-67228922

### Actual behavior

please see https://github.com/pimcore/pimcore/commit/77bcc93b019ef83412f829948ca6fd279bc0dd59#commitcomment-67228922

### Steps to reproduce

1. Set quality of image thumbnail auto format as mentioned here https://pimcore.com/docs/pimcore

[2022-02-23 11:02] mysliwietzflorian opened #11514 "[Improvement]: Unify and clarify `oldest supported maintenance branch` for new PRs"
### Improvement description

Currently, the `supported maintenance branch` is inconsistent or unclear across the repository.

- In [README.md](https://github.com/pimcore/pimcore/blob/10.x/README.md) there is no mention of the maintenance branch or version
![image](https://user-images.githubusercontent.com/23225429/155305259-7046a01a-f4fa-491a-95e6-ea843de11e75.png)
![image](https://user-images.git

[2022-02-23 11:09] dkarlovi commented on #11505
@brusch sure, understandable, I see none of my issues as "FIX THIS NOW!" :beers: It's more me going through a process and documenting things which seem out of place (to me), for (hopefully) a betterment to all.

I'm quite interested to get Pimcore in a place where it serves as a development platform better and my company and I will be doing work to do just that. Adding features and fixes which imp

[2022-02-23 11:48] danielschmieder commented on #8150
Is there a plan to fix this issue? Would be great to have this feature again. :)

[2022-02-23 12:59] brusch commented on #11505
@dkarlovi Yeah, definitely got your intention, just wanted to share that this topic makes sense to us and if anyone is interested in contributing this, we're willing to review and merge the PR 😉

[2022-02-23 13:01] brusch commented on #8150
@danielschmieder @alexbaat can anyone provide a PR that fixes the issue? That would be great and speed things up - thanks in advance!

[2022-02-23 14:00] lchhieu opened #11517 "[Bug]: syntax error, unexpected ')', expecting '|' or variable (T_VARIABLE)"
### Expected behavior

   .

### Actual behavior

syntax error, unexpected ')', expecting '|' or variable (T_VARIABLE)

### Steps to reproduce

I used php 8.1.16
+ run ./vendor/bin/pimcore-install
+ point virtual host to public folder
+ open in the browser and got the issue "syntax error, unexpected ')', expecting '|' or variable (T_VARIABLE)"
_(Dont update anything in the code)_

[2022-02-23 14:09] jdreesen commented on #11517
In which file/line does the error occur?

[2022-02-23 14:11] lchhieu commented on #11517
@jdreesen just shows generic errors, doesn't find any specific view file. I will send you the error image tomorrow

[2022-02-23 14:13] dpfaffenbauer commented on #11517
seems you used a different PHP Version to run composer install than you use on your webserver

[2022-02-23 14:51] #11428 closed, assigned to dvesh3

[2022-02-23 14:54] brusch commented on #11517
Try `composer diagnose` and check the PHP version.

[2022-02-23 14:54] #11517 closed, assigned to nobody

[2022-02-23 15:26] danielschmieder commented on #8150
@brusch I could provide my piece of code helping me temporarily fixing it (for me). The easiest way could be just adjusting the execute-function in LogMailMaintenanceTask. Maybe someone can help out providing a PR?

[code]

and because arrays are not allowed any more:

`$mail->addTo(implode(',', $receivers));`

Hope it helps a bit.

[2022-02-23 15:47] pimcoreneusta opened #11519 "[Bug]: ExtJS layout crashes for relations in Region with Panels center and east"
### Expected behavior

The layout does not crash.

### Actual behavior

The layout crashes. GUI shows unwanted lines and the relation field is not visible anymore.

After reload the relation ist visible, but the input field not, see screens in steps to reproduce.

### Steps to reproduce

Go to Pimcore Demo, and edit the Class Definition of Car:
- add `Region` with
 - `Panel` with Region: center

[2022-02-23 18:25] blankse commented on #11460
@ascheider I created a PR. Can you test it?

[2022-02-24 06:25] aweichler opened #11522 "[Improvement]: Delete temp files from image optimisation on error"
### Improvement description

We found a problem with the image optimisation algorithm.
I one project we had 330G images in the folder "var/tmp" witch are from the image optimisation.
The problem is that there was an huge tiff file. For that file there was a thumbnail with ~10M.
The optimizer "pngout" run very long for that image an run into a timeout (witch is 60s default from the symfony process

[2022-02-24 06:55] blankse commented on #11452
@kaurov I created a PR. Can you test it?

[2022-02-24 08:33] dvesh3 commented on #11452
verified it.

[2022-02-24 08:33] #11452 closed, assigned to nobody

[2022-02-24 08:37] dvesh3 commented on #11460
verified it.

[2022-02-24 08:37] #11460 closed, assigned to nobody

[2022-02-24 09:59] cipribucur opened #11525 "[Feature]: database export"
### Feature description

- command line entry pimcore:database:export where you can, based on the existing db config, export the pimcore database. some cleaning parameters will also be nice to have.
- a pair pimcore:database:export/pimcore:database:import will also increase the developer experience

[2022-02-24 10:03] mcop1 opened #11526 "[Bug]: Calling certain methods in EventListener can cause an infinite recursion"
### Expected behavior

No infinite recursion

### Actual behavior

Calling certain methods, like `$asset->getThumbnail($name)`, in postUpdate Eventlistener can cause an infinite recursion.
If the thumbnail is not already existing, the method will call `$asset->save()` and therefore the EventListener will be fired again. Thus getThumbnail() gets called again, asset will be saved again and so on.

P

[2022-02-24 10:04] akno77 commented on #11496
Is this a bug or a feature?

It currently prevents us from implementing our concept for multilingualism, since we have a "stage" brick with settings that is firmly implemented in the template via pimcore_area. Unfortunately, we are currently unable to create language pages because inheritance is not working correctly.

[2022-02-24 10:30] alexanderkroneis commented on #9078
Hi, I feel free to open this one again since I am facing the same issue. I implemented a `DefaultValueGenerator` and dumped it's return value and it seems that my field collection is not even calling the Default Value Generator.

Default Value Generator: `App\DefaultValueGenerator\DefaultPhoneNumberGenerator`

[code]

[2022-02-24 11:04] #11446 closed, assigned to brusch

[2022-02-24 11:58] kingjia90 opened #11528 "[Bug]: "black bars" in images of asset folder preview"
### Expected behavior

the tile size in the asset folder preview is 130x130, if an image is bigger than it, it should just shrink to fit and to not affect the tile look (#9029) by adding any black bars.

### Actual behavior

Any image that have less than 800px (either width or height) have black bars around it when generated as a tile in the folder preview.

![image](https://user-images.githubuser

[2022-02-24 12:04] brusch opened #11529 "[DISCUSSION]: ReverseObjectRelation should not support inheritance"
### Expected behavior

Actually I don't think it makes sense that this data-type supports inheritance - for what reason, any use-cases?

### Actual behavior

Actually the `ReverseObjectRelation` does support inheritance.

### Steps to reproduce

...

[2022-02-24 14:18] Hcarmi opened #11531 "[Bug]: DOMException xhr can't load/send json file in iframe Only on chrome and through iframe"
### Expected behavior

Created an iframe that calls an url (which is an angular web app).
Expecting the url to load and display the angular app within my angular app.

No problem if firefox used.

### Actual behavior

The iframe displays nothing but a white screen

The issues is related to an XMLHttpRequest that failed to load (GET) a json file. The XHR.onload is supposed to define a var that is a

[2022-02-24 14:49] Ricardocanul7 opened #11532 "[Bug]: PDF thumbnail generation is not working"
### Expected behavior

upload PDF assets should generate thumbnails

### Actual behavior

When creating a thumbnail for a PDF document it doesn't create the file, so when trying to fetch the asset stream back, it throws an error

I notice in Demo this is not working as well, I uploaded 2 pdf and there's no thumbnail.
![image](https://user-images.githubusercontent.com/18083362/155545620-3daa4a92-8b

[2022-02-24 14:51] zoidbergx commented on #8122
If someone still having this issue, we're heading into the same and created a workaround.
Maybe someone help this out.

As my understanding the problem has two parts:

- The whole document is saved in the session
- Existing deleteable are not correctly cleared by Pimcore

During the update routine pimcore deletes all editables in the "documents_elements" table but the delete is in the lifetime whe

[2022-02-24 15:12] dvesh3 commented on #11532
@Ricardocanul7 Asset Document (PDF in your case) thumbnail generation is done asynchronously as part of the maintenance job or through a Symfony messenger worker. On demo, no worker is setup so thumbnails are not generated. please see https://github.com/pimcore/pimcore/issues/7665

[2022-02-24 15:12] #11532 closed, assigned to nobody

[2022-02-24 15:27] Ricardocanul7 commented on #11532
Ohh you're right I notice workers are not working in the demo now, but in my local I have maintenance worker running and I have the same issue, the thing is that it generates thumbnail for images but only pdf doesn't work.

[2022-02-24 15:44] dvesh3 commented on #11532
please check if your maintenance worker is setup correctly. see upgrade notes https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/Upgrade_Notes/index.html#page_10-2-0

[2022-02-24 16:39] dvesh3 commented on #11047
Concerning the main reported issue. It is not reproducible anymore(ctrl+s when user no save & publish/unpublish permissions):
![image](https://user-images.githubusercontent.com/5137917/155564668-5e67ed45-98c0-4040-b7d3-423044822a74.png)

For points 1 & 2, when a user has publish/unpublish permission, it is not necessary to have save permission to perform these actions. As save permission is mainly

[2022-02-25 07:55] fashxp commented on #11529
possible use case:
- products have relation to category, category has corresponding reverse object relation to its products.
- products have inheritance activated, variants are implemented via child objects and inherit category relation from their master product
- on category reverse object relation, you might wanna see also variants that are assigned to that category

[2022-02-25 08:03] #11531 closed, assigned to nobody

[2022-02-25 08:15] brusch commented on #11529
The described use-cases are about the inheritance on the originating objects, I was thinking about the actual reverse relation field, so e.g. if the reverse relation field on category object can't find reverse relations, should it try to get reverse relations from the parent category....

All of the 3 described use-cases are anyhow not possible at the moment, as the inherited data is not gettings

[2022-02-25 10:19] passioneight opened #11535 "[Bug]: calling getConditionVariables resets condition variables"
### Expected behavior

On any `AbstractListing`, calling `setConditionVariables` will have the DAO use the set condition variables. So the implementation should be the same as for `getConditionVariableTypes`:

https://github.com/pimcore/pimcore/blob/b26d41f4f7dfd7a6b606b30495bab56ffc305d7c/lib/Model/Listing/AbstractListing.php#L96-L103

### Actual behavior

When calling `setConditionVariables`, th

[2022-02-25 10:19] passioneight commented on #11535
Somewhat related to https://github.com/pimcore/pimcore/issues/11212

[2022-02-25 10:49] brusch commented on #11528
Fixed by #11534

[2022-02-25 11:09] #11528 closed, assigned to brusch

[2022-02-25 12:03] aclDeveloper opened #11538 "[Bug]: ObjectBrick does not properly inherit data from parent object when validating fields"
### Expected behavior

Saving a child element containing an Objectbrick with inherited mandatory values takes parent's values into consideration when validating, as hinted correctly in UI.

### Actual behavior

This applies to all objects' children (Variants, Children) where inheritance is enabled and object bricks are present. After creating a new child element, the values of the parent object's

[2022-02-25 12:10] #11047 closed, assigned to dvesh3

[2022-02-25 12:11] dvesh3 commented on #11047
Please feel free to come back, if you have any further questions regarding the issue. thanks!

[2022-02-25 13:07] kingjia90 opened #11540 "[Bug]: Nested children permission not properly considered, when a file/path with longer name is present"
### Expected behavior

if a subfolder has a children that you are allowed to list, it should have `+` icon and be clickable to open it.
If you are allowed to list a nested children, it should show the `+` icon on any folder/element in between root and the nested children folder.

### Actual behavior

if there's a file with a longer named file or path (cpath), the folder fails to display the `+` ic

[2022-02-26 14:59] blankse commented on #11024
Was fixed by #11206

[2022-02-26 20:27] #11024 closed, assigned to nobody

[2022-02-28 09:07] HeicoSindelItShapes opened #11546 "[Bug]: Exception during Pimcore-Update: " Call to a member function getTable() on null""
### Expected behavior

Successfull update after "COMPOSER_MEMORY_LIMIT=-1 composer update"

### Actual behavior

[OK] All assets were successfully installed.
[OK] Pimcore data cache cleared successfully
[error] Migration Pimcore\Bundle\CoreBundle\Migrations\Version20211018104331 failed during Execution. Error: "Call to a member function getTable() on null"

### Steps to reproduce

Install Pimcore

[2022-02-28 09:09] #11372 closed, assigned to nobody

[2022-02-28 09:12] HeicoSindelItShapes commented on #11546
It always occurs with the same version for migration (file about 5 versions behind). Even the command "/bin/console pimcore:deployment:classes-rebuild" does not change the result.

[2022-02-28 10:01] dvesh3 commented on #11546
@HeicoSindelItShapes Could please share error line number? as $schema should not be null

[2022-02-28 10:53] HeicoSindelItShapes commented on #11546
Exit code: 255

  [notice] Migrating up to Pimcore\Bundle\CoreBundle\Migrations\Version20220201132131

  [error] Migration Pimcore\Bundle\CoreBundle\Migrations\Version20211018104331
  failed during Execution. Error: "Call to a member function getTable() on
  null"

  In EvaluatingGeneratorStrategy.php(54) : eval()'d code line 49:

    Call to a member function getTable() on null

[2022-02-28 10:58] dvesh3 commented on #11546
Sorry, not able to reproduce it. could you please try on latest version 10.3.1? thanks!

[2022-02-28 11:11] HeicoSindelItShapes commented on #11546
this is what i try to do - i come from 10.2.8 and want do update to 10.3.1

[2022-02-28 11:15] HeicoSindelItShapes commented on #11546
and pimcore is now on 10.3.1 - although there was an error in the post-update step. What i also can see is, that DataHub seems to work correctly - but at data-importer i only see the import-files but without a icon and i can not open it... maybe it is located somewhere in this area?! could you describe what the update-script do in this step? where it get the schema from - maybe i have i  kind of m

[2022-02-28 11:18] passioneight opened #11547 "[Bug]: addListingFilter method does not add table name"
### Expected behavior

When calling any `filterBy...` method, the columns are prefixed with the listings table name to avoid _ambigious_ columns when joining.

E.g., like so:
[code]

### Actual behavior

The table name is not considered, resulting in the following exception:

[code]

see also:
https://github.com/pimcore/pimcore/blob/3970da70bae4606d6d7b3944e389393a9813c3d3/models/DataObject/ClassD

[2022-02-28 11:57] HeicoSindelItShapes commented on #11546
i have other idea - i can see in the database these tables exist twice:

object_brick_query_OAuth1Token_12
object_brick_query_OAuth2Token_12
object_brick_store_OAuth1Token_12
object_brick_store_OAuth2Token_12

also as lowercase
object_brick_query_oauth1token_12
object_brick_query_oauth2token_12
object_brick_store_oauth1token_12
object_brick_store_oauth2token_12

as pimcore always create the table

[2022-02-28 12:27] #11475 closed, assigned to dvesh3

[2022-02-28 13:15] #11393 closed, assigned to mcop1

[2022-02-28 13:25] brusch opened #11548 "[Improvement]: Add Psalm Action"
### Improvement description

There's already an existing branch:
https://github.com/pimcore/pimcore/runs/5318927181?check_suite_focus=true#step:4:658

[2022-02-28 13:27] HeicoSindelItShapes commented on #11546
Last update: i have downgraded to 10.2.8 and then step by step forward - on 10.2.8 and 10.2.9 everything works fine - >= 10.3.0 lead to the error above...

[2022-02-28 13:38] FrederikHulleman opened #11549 "[Bug]: getById issue in Pimcore\Model\DataObject\Classificationstore\KeyGroupRelation\Dao"
### Expected behavior

The method getById in Pimcore\Model\DataObject\Classificationstore\KeyGroupRelation\Dao should return the correct record from both the classificationstore_relations & classificationstore_keys tables.

### Actual behavior

The query below returns the correct record from classificationstore_relations, but it will use the first record from classificationstore_keys

`$data = $th

[2022-02-28 14:45] dvesh3 commented on #11504
Fixed by #11542

[2022-02-28 14:45] #11504 closed, assigned to kingjia90

[2022-02-28 15:54] kingjia90 commented on #11502
i have took a look and it seems that multisite is kind of "not supported" here
https://github.com/pimcore/pimcore/blob/131ec1750f20b35142afeb4d1a0addeb1edfd38c/models/DataObject/Data/UrlSlug.php#L333
as far as i can tell, the /exampleSlug must always be something related to siteId=0 to work, because `resolveSlug` doesn't have the second parameter related to the siteId here in `getRouteByName`
http

[2022-02-28 15:58] dvesh3 commented on #11535
Fixed by #11536

[2022-02-28 15:58] #11535 closed, assigned to nobody

[2022-03-01 07:51] jensschaerer opened #11553 "[Bug]: Model overwrite causes issue on deployment"
### Expected behavior

Deployment via Gitlab / Building a Docker container should result in a working image

### Actual behavior

Inheritance of Models fails because model classes are not generated while cache clear is already called

### Steps to reproduce

There is an old ticket relating this issue from Pimcore 5 (see https://github.com/pimcore/pimcore/issues/2543). When using Git and ignoring f

[2022-03-01 08:38] dpfaffenbauer commented on #11553
I do deployments to Kubernetes and building the image inside gitlab. It works fine for me, something you do might be wrong. How do you extend the classes? Do you use the classmap thing?

[2022-03-01 08:47] jensschaerer commented on #11553
@dpfaffenbauer I just use the way described at https://pimcore.com/docs/pimcore/current/Development_Documentation/Extending_Pimcore/Overriding_Models.html for extending models, nothing special here. Deployment is basically building a standard docker container:

[code]

[2022-03-01 09:33] dpfaffenbauer commented on #11553
Don't use `class_overrides`. I am saying that for years now. That is magic and can cause unknown side-effects. You now experiencing them. Better to use parent-class in DataObject Classes instead.

[2022-03-01 11:12] passioneight commented on #11502
FYI, there is already an issue for the missing input fields: https://github.com/pimcore/pimcore/issues/10604. Also, the described behaviour is somewhat related to https://github.com/pimcore/pimcore/issues/11242.

[2022-03-01 11:34] kingjia90 commented on #11502
@passioneight thank you, that's very helpful and they are indeed related.
I am close to getting a solution, i will test it over #11242 as well

[2022-03-01 15:59] dvesh3 commented on #11412
@jdreesen could you please give it a try? https://github.com/pimcore/pimcore/pull/11561 thanks! 😉

[2022-03-02 05:51] ctippler opened #11562 "[Bug]: Inheritance layout - can't differ between editable and not editable fields"
### Expected behavior

It would be nice if the enduser can differ between editable and not editable fields when inheritance is enabled.

### Actual behavior

If inheritance is enabled on a class the enduser cannot differ between editable and not editable fields.

Lets assume this example
![image](https://user-images.githubusercontent.com/8791970/156302721-6c905c8f-d8a3-45ed-8296-07bbbaad87b1.png)

[2022-03-02 08:44] #11546 closed, assigned to nobody

[2022-03-02 08:59] brusch commented on #11508
Fixed by #11530

[2022-03-02 08:59] #11508 closed, assigned to dvesh3

[2022-03-02 09:05] brusch commented on #11412
Fixed by #11561

[2022-03-02 09:05] #11412 closed, assigned to dvesh3

[2022-03-02 09:38] GALCF commented on #11522
I would describe this as a bug, because it fills our tmp folder in production as well, to the point where the server crashes when no more space is available

[2022-03-02 09:40] brusch commented on #11522
@GALCF yep - can you maybe provide a PR fixing the issue? Today would be the release of `10.3.2` so if you're quick, we can include the fix 😉

[2022-03-02 09:41] GALCF commented on #11522
I'll try to reproduce it right now

[2022-03-02 10:03] GALCF commented on #11522
@brusch Fast enough?

[2022-03-02 10:04] brusch commented on #11522
Yep, that was really quick 👍😁

[2022-03-02 10:38] aweichler commented on #11522
What do you think about increasing the timeout value for Symfony Process in `Pimcore\Image\Optimizer\AbstractCommandOptimizer`? Maybe configurable? That is also a point, because big images maybe take longer than 60s so there are no optimisations.

[2022-03-02 10:44] brusch commented on #11529
Added
https://github.com/pimcore/pimcore/blob/b26d41f4f7dfd7a6b606b30495bab56ffc305d7c/models/DataObject/ClassDefinition/Data/ReverseObjectRelation.php#L248
in #10242 as it's currently anyway not working 😉

Closing this for now.

[2022-03-02 10:44] #11529 closed, assigned to brusch, fashxp

[2022-03-02 13:03] brusch commented on #9381
Closed that in favor of the generic collaboration tools.

[2022-03-02 13:03] #9381 closed, assigned to nobody

[2022-03-02 13:20] jdreesen commented on #9381
Which generic collaboration tools?

[2022-03-02 13:28] brusch commented on #9381
It's on our product roadmap 😉
https://pimcore.com/en/developers/roadmap

[2022-03-02 13:32] jdreesen commented on #11412
@dvesh3 A bit late, but as far as I can see this fixes the issue. Many thx for this! :heart:

[2022-03-02 13:55] fashxp opened #11568 "[Improvement] setup php stan for Symfony 6"
### Improvement description

to see what needs to be done / changed.

[2022-03-02 15:01] brusch commented on #11341
Fixed by #11342

[2022-03-02 15:01] #11341 closed, assigned to nobody

[2022-03-02 15:14] brusch commented on #11522
Fixed by #11566

[2022-03-02 15:14] #11522 closed, assigned to brusch

[2022-03-02 15:14] brusch commented on #11522
@aweichler since optimization is only done for thumbnails I'd assume that the images shouldn't be too big, right?

[2022-03-02 15:16] brusch commented on #11562
Lock icon (monochrome similar and same size to `i` icon) would be fine for me.

[2022-03-02 16:58] ctippler commented on #11562
Hi,
pull request is created.
It looks like this:
![image](https://user-images.githubusercontent.com/8791970/156410191-c118bdfe-0d3f-42bb-b4e3-6704aa10fe2a.png)

[2022-03-02 20:16] ctippler commented on #6381
Hi,

i currently encountered the same problem and it turned out that it works with the inputQuantityValue datatype but not with the quantityValue data type.

This is because the inputQuantityValue  sets the default values in the initialize() method and the quantityValue doesn't do that.

I fixed this with
![image](https://user-images.githubusercontent.com/8791970/156441237-ab2b419a-e54b-4578-9e4d-

[2022-03-03 07:53] shaselboeck opened #11577 "[Bug]: Update Pimcore 10.2.8 to 10.3.2"
### Expected behavior

No errors

### Actual behavior

I performed an update from Pimcore 10.2.8 to 10.3.2. In the Composer Report the following warnings/errors appears:

![composer-report](https://user-images.githubusercontent.com/1867700/156520582-c9e3eb50-edba-4051-9404-bdfe78da1b0b.png)

### Steps to reproduce

Not possible. 10.3.2 is up and running. Not sure, if this warning is really a probl

[2022-03-03 08:19] jremmurd opened #11578 "[Bug]: Cannot configure VoucherSeries with VoucherTokenTypePattern"
### Expected behavior

Configuration of VoucherTokenTypePattern does not result in JS error

### Actual behavior

JS Error when adding FieldCollection VoucherTokenTypePatter to any VoucherSeries object.

### Steps to reproduce

1.
![image](https://user-images.githubusercontent.com/9052094/156524703-2504c5e0-b142-4184-9d48-8a92748fe656.png)

2.
![image](https://user-images.githubusercontent.com/905