[2022-07-29 18:33] alexantom commented on #8510
Do we have opensource bundle to implement this feature?
Looks like the bundle  with pimcore is restricted for enterprise version
https://pimcore.com/docs/openid-connect/current/Installation.html

@aarongerig  were you able to find a solution ?

[2022-08-01 07:39] faiyazalam commented on #10692
I had same problem. It was working fine in my local but not on remote.
I had to use the [official maintenance cron jobs](https://pimcore.com/docs/pimcore/10.4/Development_Documentation/Getting_Started/Installation.html#page_5-Maintenance-Cron-Job) to fix on the remote.

[2022-08-01 08:00] brusch commented on #12796
I'd classify this as a bug, as it was there before, so it should be fixed in `10.5`.

[2022-08-01 08:09] schmidt-max commented on #12796
Perfect - thank you.

[2022-08-01 09:36] dvesh3 commented on #12737
Fixed by #12741

[2022-08-01 09:36] #12737 closed, assigned to aashan10

[2022-08-01 09:39] dvesh3 commented on #12750
Fixed by #12746

[2022-08-01 09:39] #12750 closed, assigned to dvesh3

[2022-08-01 11:14] kingjia90 commented on #12666
Closing for the moment as it's not reproducible. Please reopen with further details, if it's still occuring.

[2022-08-01 11:14] #12666 closed, assigned to kingjia90

[2022-08-01 12:44] #12768 closed, assigned to mcop1

[2022-08-01 13:25] #12791 closed, assigned to mcop1

[2022-08-01 15:13] dvesh3 opened #12805 "[DataObjects] Bug - cannot add grouped object bricks on objects"
### Expected behavior

I should be able to add grouped object bricks on dataobjects.

### Actual behavior

Group object bricks are not shown in the add list on data object.

### Steps to reproduce

1. Open `admin` interface in demo app.
2. Go to `Settings` -> `Classes` -> `Ecommerce` -> `OnlineShopOrder` and Change `paymentProvider` attribute property `Not editable` to false.
3. Add new OnlineShop

[2022-08-01 15:17] dvesh3 commented on #12805
Already fixed here https://github.com/pimcore/pimcore/issues/12786

[2022-08-01 15:17] #12805 closed, assigned to nobody

[2022-08-02 08:40] #12796 closed, assigned to robertSt7

[2022-08-02 09:46] kingjia90 commented on #12751
Just leaving some further notes here:

- The sub-seconds accuracy is currently up to 6 decimal point from video player seek.
- could potentailly fix this by:
  - changing all `int` to `float` OR
  -  keep as `int` but multiply by 1000 and consider the values/parameters unit format as `ms` instead of `s` OR
  -  check if it's possible to pass the specific frame.
 - This issue is not strictly a bug

[2022-08-02 10:20] pradeep-pimcore opened #12808 "[Bug]: Asset "Preview" tab pagination breaks for the folder which has audio files and other files (jpg,mp4 etc)"
### Expected behavior

Items equal to the total value in pagination should be listed in preview tab.  System can display a fixed thumbnail for audio files.
So that the pagination total matches with the items count.

### Actual behavior

Asset preview tab does not list the audio files, but it does list the other files.
Because of this, the total value in pagination toolbar does not match with the c

[2022-08-02 11:47] aryaantony92 commented on #12777
Fixed by #12802

[2022-08-02 11:47] #12777 closed, assigned to dvesh3

[2022-08-02 12:51] SamyMP opened #12809 "[Improvement]: Being able to filter on "null" values in the dataobject folder grids"
### Improvement description

It is currently not possible to filter on null values in the data object folder grids using the column header.

For exemple, here (on the demo), I want to filter the cars on the "empty description" condition
![image](https://user-images.githubusercontent.com/35225430/182378364-1bf9c101-ccc2-49c1-b003-33081d79d54c.png)

What would I need to type to return the "null" des

[2022-08-02 14:52] aryaantony92 commented on #12722
Fixed by #12756

[2022-08-02 14:52] #12722 closed, assigned to dvesh3

[2022-08-02 14:55] aryaantony92 commented on #12586
Fixed by #12760

[2022-08-02 14:55] #12586 closed, assigned to nobody

[2022-08-02 15:58] chm0815 opened #12814 "[Bug]: An entry for object_brick_store is always written for newly created child objects."
### Expected behavior

Data should only be written to object_brick_query table.

### Actual behavior

There is always an entry in **object_brick_store**. This means when deleting the brick in the root article, brick data still remains in child objects.

### Steps to reproduce

Imagine a class ObjWithBrick having one Input1-field and a **brick field Brick**1 with a brick of type Brick1.

The follow

[2022-08-02 16:13] dvesh3 commented on #12739
@HaaseIT please share the exact code to reproduce the issue with properties used like thumbnails or so on.

On [demo](http://demo.pimcore.fun/), we use this tag on lot of pages and the images are rendered without any problem.

[2022-08-03 04:00] aashan10 commented on #12790
@fashxp

There are multiple cases where the `Psr\Container\ContainerInterface` resolves to `Symfony\Component\DependencyInjection\Argument\ServiceLocator` which does not implement the `Symfony\Coponent\DependencyInjection\ContainerInterface` but relies on the `Psr\Container\ContainerInterface`.

What should be done for such service locators?

[2022-08-03 06:16] #12749 closed, assigned to mcop1

[2022-08-03 09:41] mcop1 commented on #12863
The allowedClasses property is an empty array for custom views and `null` for data objects.
Check where the empty array is coming from (most likely somewhere in the save function).
Easy solution would be to check for the length of the array too.

[2022-08-03 10:27] kingjia90 commented on #12775
Fixed by #12811

[2022-08-03 10:27] #12775 closed, assigned to dvesh3

[2022-08-03 13:09] msoroka opened #12818 "[Bug]: Saved sql condition in grid doesn't work on grid recall"
### Expected behavior

When applying previously saved grid with sql condition only data objects that match sql conditions are exported when export to csv or xlsx is called.

### Actual behavior

When applying previously saved grid with sql condition all data objects are exporting when export to csv or xlsc is called skipping sql condition.

In my opinion there is an issue with _getGridParams_ meth

[2022-08-03 14:53] crimcol commented on #3936
I don't think every developer should think about sanitizing.
The problem apear on any input field or data display control.
There is no any issues with an Angular application. It will simply display the script string but do not evaluate it.

[2022-08-03 19:16] elements-team opened #12819 "[Bug]: explode_and_trim() returns empty array"
### Expected behavior

The function ``explode_and_trim('/', '/my/test/path/)``should return a non empty array.

The expected result is:
[code]
.

### Actual behavior

In Pimcore 10.5 and above the function is returning:
[code]

This is because the ``limit``parameter is defaulted to zero and passed to the ``explode`` function as a third parameter within the helper method in helper-functions.php.

h

[2022-08-04 06:22] mattamon commented on #11553
@dpfaffenbauer could you provide an example of the parent-class? How do I get custom logic in my pimcore dataobject without overriding it?

[2022-08-04 08:44] mattamon commented on #12763
@mysliwietzflorian a documentation would be awesome. I know ext is not relevant for pimcore 11 but it would have helped me a lot in pimcore  > 6  to X to implement new backend features.

[2022-08-04 09:27] cadeyrn opened #12822 "[Bug]: pimcore_head_title() of document gets overriden by pimcore_inc()"
### Expected behavior

The title of the document gets not overriden if pimcore_inc() is used in the template.

### Actual behavior

The title of the document has the content of the page that is included via pimcore_inc().

### Steps to reproduce

In the layout template I have code to set the title of the document:

`{% do pimcore_head_title().set(metaTitle) %}`

Now let's say metaTitle of the docu

[2022-08-04 10:49] dpfaffenbauer commented on #11553
@mattamon
![Screenshot 2022-08-04 at 12 48 42](https://user-images.githubusercontent.com/5981845/182829221-a347f87b-c431-4904-9076-f430290d64a3.png)

[2022-08-04 10:54] mattamon commented on #11553
@dpfaffenbauer Ahhhh! Okay thanks! Gonna try that.

[2022-08-04 11:01] dvesh3 commented on #12763
we already maintain the versions in this doc https://github.com/pimcore/pimcore/blob/11.x/bundles/AdminBundle/Resources/public/js/lib/PIMCORE_MODIFICATIONS.md

[2022-08-04 11:39] mysliwietzflorian commented on #12763
@dvesh3 Thanks for the response. That is exactly what I was looking for!

I created a pull request to maybe cross-reference this in `3rd-party-licenses.md`. I expected that information somewhere there.

Edit: we can either close this issue or wait until PR is merged. Your call.

[2022-08-04 13:04] #11804 closed, assigned to aryaantony92

[2022-08-04 13:32] #12763 closed, assigned to nobody

[2022-08-04 14:35] dvesh3 commented on #12819
Fixed by #12820

[2022-08-04 14:35] #12819 closed, assigned to nobody

[2022-08-05 06:33] GaneshKandu opened #12827 "public/.htaccess is missing in pimcore 10.5.2"
### Expected behavior

Not an internal server error.

### Actual behavior

I am getting this error in apache log while accessing /admin of pimcore 10.5.2 install

[Fri Aug 05 02:21:06 2022] [error] [client 192.168.1.111] Request exceeded the limit of 10 internal redirects due to probable configuration error. Use 'LimitInternalRecursion' to increase the limit if necessary. Use 'LogLevel debug' to g

[2022-08-05 06:49] GaneshKandu commented on #12827
I am using Apache
admin link is /admin there is no admin folder in public folder of pimcore
am getting 404 error for admin
only / is working.
Laravel web debug toolbar's ajax calls are also 404 error.

[2022-08-05 07:01] passioneight commented on #12777
I can confirm, that the dialog can now be opened. However, when using assets, the path is lost, instead the ID is set.

Reproduce like this:

1. Add Asset relation in marker/hotspot
2. Drag & Drop Asset onto relation field
![image](https://user-images.githubusercontent.com/57256630/183019498-cbe40d41-0a33-41ac-8804-b2642364d3e1.png)
3. Save everything an reload the document
4. Reopen the marker/ho

[2022-08-05 07:17] kingjia90 commented on #12827
It's not a bug, `.htaccess` is not shipped anymore out of the box in the latests releases, please see:
https://github.com/pimcore/skeleton/pull/101
https://github.com/pimcore/demo/pull/326
now it's documented here https://github.com/pimcore/pimcore/pull/12619

It's now up to the developer and depending on the webserver

[2022-08-05 07:17] #12827 closed, assigned to nobody

[2022-08-05 07:47] dvesh3 commented on #12777
@passioneight could you please create a separate issue for this bug? thanks!

[2022-08-05 08:51] kumar2112 opened #12829 "[Bug]: GraphQL Query For Multilingual Classification Store Field Is Not Working !"
### Expected behavior

Query should return specified language data.As we are writing query
{
  getTestClass(id: 10439) {
    Name
    key
    Dictionaries(language: "ja_JP") {
      id
      name
      description
      features {
        __typename
        ... on csFeatureInput {
          type
          id
          name
          description
          text
        }
        ... on csFeatureSele

[2022-08-05 08:55] deepakkumarhm7 commented on #12829
@dvesh3 Can u please look on this, we are also facing same issue?

[2022-08-05 10:56] brusch commented on #12790
@aashan10 it's about fixing deprecations, right? What does Symfony suggests here?

[2022-08-05 13:09] vignesh-happiestminds opened #12832 "[Bug]: Asset video open link"
### Expected behavior

Created new video attribute for class. On creating data object for the video attributes,

When i click on the video edit icon, Video panel pop up should come.

### Actual behavior

On the video attributes, When i click on the video edit icon, The Video editor panel not opened.
"Uncaught TypeError: Cannot read properties of undefined (reading 'includes')  at pimcore.helpers.e

[2022-08-05 13:17] vignesh-happiestminds opened #12833 "[Bug]: Unable to open the Preview video"
### Expected behavior

Upload any videos (MP4) under assets.
On click of uploaded video should able to play on the video.

### Actual behavior

All the extension are enabled related on view.
FFMPEG,imagick,ImageMagick LCMS delegate,WebP

### Steps to reproduce

1.Login as admin
2.Open the assets
3.Upload the videos into assets
4.Click on the video file to preview video

[2022-08-05 16:23] aryaantony92 commented on #12765
@ThisIsJustARandomGuy Thank you. I have adapted your solution and also added unit test for the same.

[2022-08-05 18:19] kingjia90 commented on #12833
Closing as it seems the same as #12740.
Please let us know and reopen, if it is not the same and/or not fixed by #12697 and happening in Pimcore > 10.4.6

[2022-08-08 07:17] passioneight opened #12835 "[Bug]: Markers/Hotspots lose relation data"
### Expected behavior

Data stays.

### Actual behavior

Data is lost.

### Steps to reproduce

I can confirm, that the dialog can now be opened. However, when using assets, the path is lost, instead the ID is set.

Reproduce like this:

1. Add Asset relation in marker/hotspot
2. Drag & Drop Asset onto relation field
![image](https://user-images.githubusercontent.com/57256630/183019498-cbe40d41-0a

[2022-08-08 08:03] hethehe opened #12838 "[Bug]: .m4a files are not handled as audio files"
### Expected behavior

Handle as audio file
- show audio player in preview
- don't break the worker (messenger) process

### Actual behavior

It looks like it is trying to handle the file as a video file:
`Pimcore\Model\Asset\Video\ImageThumbnail::__toString(): Return value must be of type string, null returned`

It also create an infinite loop in the worker process:
`[pimcore] Image thumbnail not

[2022-08-08 09:26] dvesh3 commented on #12631
Fixed by #12735 & #12770

[2022-08-08 09:26] #12631 closed, assigned to aashan10

[2022-08-08 09:26] dvesh3 commented on #12739
Closed due to inactivity. Feel free to come back with reproducible case.

[2022-08-08 09:26] #12739 closed, assigned to dvesh3

[2022-08-08 09:28] HaaseIT commented on #12739
Hi Divesh, sorry, I am on vacation right now, I will try to make a reproducible case asapl

[2022-08-08 09:52] Gerhard-Kanzler opened #12840 "[Bug]: Static Pages with json request to a non document route saves wrong content"
### Expected behavior

We want to use the Static Page Generation.
When i open the Document "/en" this page is saved as .html file.

On this page is a JS fetch request to "/en/cart" this route is only existing as Annotation.
No Document only the route and the action with a json Response.

This virtual Route is not saved as Static file ... this is correct

So on every request to "/en" i get the stat

[2022-08-08 12:08] kingjia90 commented on #12838
Which version of Pimcore are you using?
The error looks like the same as https://github.com/pimcore/pimcore/issues/12740 fixed in `10.4.6`, but i would check if there's any problems with audio files as well.

[2022-08-08 13:06] blankse commented on #12838
I created a PR, which shows the right icon and show the audio player with .m4a files. The part with the worker process can't I reproduce.

[2022-08-08 13:11] dvesh3 commented on #12739
@HaaseIT No worries. Enjoy your vacation 🍹 we'll take care of it when your are back 😉

[2022-08-08 13:16] kingjia90 commented on #12838
Thank you very much @blankse !

[2022-08-08 13:52] cami0092 opened #12843 "[Bug]: Thumbnails are not shown"
### Expected behavior

If I click on the Select where I can choose between my thumbnails configuration, I expect to see my configured thumbnails.

### Actual behavior

If I click on the Select where I can choose between my thumbnails configuration, nothing happens. For a very short time "loading" is shown and then nothing happens.

### Steps to reproduce

Click on any asset. Go to "View" and click

[2022-08-08 13:56] blankse commented on #12843
@cami0092 Have you activated the advanced setting on your thumbnail configurations?
![image](https://user-images.githubusercontent.com/998558/183435040-03e95dad-df90-4ca7-8179-491a7fdd3def.png)

[2022-08-08 14:05] cami0092 commented on #12843
Thank you for your response. Where do I find this checkbox? I tried it on the demo version and it doesn't work for any of the preset thumbnail configurations.

[2022-08-08 14:09] blankse commented on #12843
@cami0092 Settings -> Thumbnails -> Image Thumbnails
![image](https://user-images.githubusercontent.com/998558/183437139-ac31a896-0cb1-4507-9bd6-67b4c752bfc8.png)

Select one config in the tree, open the "Advanced" section, activate the checkbox and save. Than you can see this thumbnail in this select.
![image](https://user-images.githubusercontent.com/998558/183437487-32336634-2fe0-4ef6-92a9-f41d

[2022-08-08 14:15] cami0092 commented on #12843
@blankse Thank you so much! That worked! (I really didn't notice that advanced field 🤦🏼‍♀️)

[2022-08-08 14:15] #12843 closed, assigned to nobody

[2022-08-08 15:53] robertSt7 opened #12845 "[Improvement]: Remove dead code - nodeMoved"
### Improvement description

remove nodeMoved function

https://github.com/pimcore/pimcore/blob/11.x/bundles/AdminBundle/Resources/public/js/pimcore/elementservice.js#L694

[2022-08-08 17:20] HaaseIT commented on #12739
@dvesh3 You can keep this closed, it appears to work properly again in 10.5.2

[2022-08-09 02:07] Andreas-Koepke opened #12847 "[Improvement]: Detect focal point when detecting faces"
### Improvement description

When using the Detect Image Features feature on an image asset, would it make sense to set the focal point at the same time?

At the moment, AssetController only calls detectFaces() in the detectImageFeaturesAction() method. Adding in a call to detectFocalPoint() here would automatically set the focal point based on the detected faces.

[2022-08-09 05:35] hethehe commented on #12838
Great! Thank you @blankse
Because of the part with worker process, it was a 10.4.4 Project, so the bug should already be fixed.

[2022-08-09 07:03] kingjia90 commented on #12838
Fixed by #12697 and #12841

[2022-08-09 07:03] #12838 closed, assigned to kingjia90

[2022-08-09 07:48] birgerstoeckelmann commented on #12833
This is still an issue in 10.5.2. See above for steps to reproduce.
![Bildschirmfoto 2022-08-09 um 09 46 23](https://user-images.githubusercontent.com/10415259/183594423-805d9a59-a5fb-4f90-b751-23de51c68f82.png)

[2022-08-09 08:18] blankse commented on #12833
@birgerstoeckelmann I created a PR https://github.com/pimcore/pimcore/pull/12849
Can you test it with this changes?

[2022-08-09 10:12] birgerstoeckelmann commented on #12833
Thank you @blankse for your quick response - I installed Pimcore from your repo/branch and the exception is gone. But there is another issue coming as response to the thumbnail request /admin/asset/get-video-thumbnail?id=65007&width=265&aspectratio=true&_dc=1660038809153

![Bildschirmfoto 2022-08-09 um 11 54 48](https://user-images.githubusercontent.com/10415259/183621156-655c34b4-18a2-4811-89d4-3

[2022-08-09 10:41] blankse commented on #12833
@birgerstoeckelmann I added a commit which should catch this error. Pimcore should only generate an preview image for the video poster attribute, for the preview in the tree. I don't know why you have this temp files. Do you see something in the log files? (/var/log)

[2022-08-09 11:07] birgerstoeckelmann commented on #12833
@blankse - the exception is gone too, thanks! We use S3 buckets to store the assets. There seems to be an issue with S3 integration (and video previews) here: https://github.com/pimcore/pimcore/issues/5007

When using the default config for pimcore.asset.storage and not S3 the temp files (mp4 and jpg) are all gone after processing the video thumbnail. So I guess it's a problem with Pimcore and S3.

[2022-08-09 13:52] youwe-petervanderwal commented on #3393
This issue old and no longer can be reproduced (tested Pimcore 10.5.2), I think it can be closed

[2022-08-09 13:56] mcop1 commented on #12814
@chm0815 sorry, I can´t reproduce the problem. I created a new class "ObjWithBrick" with "Bodywork" brick (the one contained in the demo). After that I slightly adapted your code and used it to create the 2 objects:

[code]
Checked the object_brickt_store after that, but I can see only entry in the table:
![image](https://user-images.githubusercontent.com/89011527/183666274-ab6af9c1-1517-4a34-beb9

[2022-08-09 14:51] valentin- commented on #12043
This also happens in one of my installations.

- Saving the object the first time is fine
- Saving the object a second time adds the duplicate entries
- Saving a third time (without reloading) throws the error

There is no additional data for this field in the request when saving the object.

Restoring the original object and repeat changing the object shows the same behaviour.

I've implemented a

[2022-08-09 14:54] chm0815 commented on #12814
Thanks for the fast answer. My current pimcore version is 10.3.x-dev. I will double-check the issue on my side.

[2022-08-10 07:41] dvesh3 commented on #3393
@youwe-petervanderwal thanks for confirming.

[2022-08-10 07:41] #3393 closed

[2022-08-10 08:01] patric-eberle opened #12858 "[Bug]: CKEditor customConfig only applied for non existing attributes"
### Expected behavior

Using a CKEditor [`customConfig`](https://pimcore.com/docs/pimcore/current/Development_Documentation/Documents/Editables/WYSIWYG.html#page_Custom-configuration-for-CKEditor) for a `pimcore_wysiwyg()` instance, I'm able to forward a custom configuration, which overwrites ALL attributes of the editor configuration with the ones from the custom config file.

Additionally I can

[2022-08-10 08:37] mcop1 opened #12859 "[Task]: Generate a migration for rebuilding data object classes"
### Improvement description

Generate a migration for rebuilding data object classes for Pimcore 11 to make sure that the changes (like return types for setters) take effect

We need to rebuild classes, object-bricks, etc .. see pimcore:build:classes command

[2022-08-10 08:50] mcop1 opened #12860 "[Improvement]: Add return types for CalculatedValue getter"
### Improvement description

https://github.com/pimcore/pimcore/blob/8b4288c99a09b60e121bbb5016e4cbd01064bdd2/models/DataObject/ClassDefinition/Data/CalculatedValue.php#L335

[2022-08-10 09:45] mcop1 opened #12861 "[Task]: Substitute "ClassSavedTrait" with interface"
### Improvement description

Follow up to #9439 and #9571

Remove ClassSavedTrait and add a corresponding interface.
Then remove "method_exists" call and check for the interface instead, e.g.
https://github.com/pimcore/pimcore/blob/fcd078eccbb0600922db3857be6c01bd2d32be65/models/DataObject/ClassDefinition/Data/Fieldcollections.php#L681

[2022-08-10 12:23] SamyMP opened #12865 "[Improvement]: Filter by relation - include children"
### Improvement description

Currently, when you want to filter by relation, you have to drag and drop the *exact* relation you want to fitler on, and it works.

But let's consider this relations :

[code]

Let's say I want to filter on objects included in sub relation `relationA`, with the current implementation, I can't. Is there a possibility to include children of the relation in the result, m

[2022-08-10 12:44] NikitaKharkov commented on #5673
Guys, is really this problem resolved? I don't see the option to setup default options for multiple select. Only for **SelectOptionsProviderInterface** I see **getDefaultValue**, and there is no for **MultiSelectOptionsProviderInterface**.

My case is I have 20 categories and most of the values should contain all of them, and only some of them 2-3. I do need to setup all of them to be pre-selected

[2022-08-10 13:04] dvesh3 opened #12866 "[Ecommerce] Pricing Manager - Remove Token condition"
### Feature description

Follow up to https://github.com/pimcore/pimcore/pull/12294/files#diff-9b8cc03e549f3dfc10262b50715c44800ac96aca0d75ea518a50943c0bae3e1d

consider also https://github.com/pimcore/pimcore/pull/12294/files#diff-1db6ed94371e3fd8636c7769a4f20ff8a5b45c524dfa7c43c422bbfa249afcf2

[2022-08-10 13:18] dkarlovi commented on #12185
@fashxp restricting return types is not a BC break, widening them is.
https://en.wikipedia.org/wiki/Covariant_return_type

[2022-08-11 06:10] manasaR507 opened #12870 "Pimcore backend search not working for newly created Objects"
### Expected behavior

When user filter the particular class data from search panel. It should return all data.

### Actual behavior

If user search the data from search objects panel. Data is not getting properly. It's showing only old data. Not for new one.  Have a look below attached screenshots.

![Screenshot (213)](https://user-images.githubusercontent.com/64125570/184072811-1b354c75-9a63-42b

[2022-08-11 07:05] kingjia90 commented on #12870
Could it be related and fixed by this
https://github.com/pimcore/pimcore/pull/10641?

How does the `search_backend_data` table look like after running the command? Are you able find the element in this table?

[2022-08-11 07:35] #10819 closed, assigned to nobody

[2022-08-11 07:51] brusch commented on #12870
Do you have the `messenger:consume` command running?

[2022-08-11 07:57] brusch opened #12871 "Maintenance: Remove `--async` option and make it the default behavior"
### Improvement description

See #10329

Also remove the BC layer that runs `messenger:consume` right after running the tasks.
See https://github.com/pimcore/pimcore/blob/a516358762ee30d7c1e44b6c912c18423a84fc94/bundles/CoreBundle/Command/MaintenanceCommand.php#L101

We should also check whether we still need the `--force` option incl. the locking or not - that's probably obsolete by using a queue

[2022-08-11 08:14] #12628 closed, assigned to robertSt7

[2022-08-11 12:29] tom2796 opened #12878 "[Bug]: Target Groups not selected"
### Expected behavior

If I add a Target Group to a document it is marked as selected. Like here:
![image](https://user-images.githubusercontent.com/105366530/184132446-788998df-e4f0-4511-9cc3-ed1f7cb0e7a9.png)

### Actual behavior

After assigning a Target Group and the document is reopend, the Target Group is not selcted anymore.
The entries are in the Database so I think this should be only a s

[2022-08-11 13:58] dvesh3 commented on #12822
@cadeyrn thanks for reporting the issue. I don't think it is a valid case using same layout for parent & child document as then you would be creating wrong HTML with multiple head tags. If you use different layout, then you should take care of the output in the included doc as not to print head tags under content and should still have the possibility to prepend or append text to the main title.

I

[2022-08-11 15:15] #12782 closed, assigned to aashan10

[2022-08-11 22:48] ghost commented on #10593
FYI: I've also wanted to do this. I could get the Owner field to show up in the list by marking the actual field (kwantum.products) as "Visible in search". This will make it show in that "Owner field" dropdown as "kwantum~products". Problem is, it doesn't seem to actually work. I thought it did, but I just realized it doesn't. Works fine with fields that belong to the Owner class, but technically

[2022-08-12 08:02] Daniel-Ateles commented on #4056
This bug seems to have resurfaced in later versions, eg 10.4.1.

[2022-08-12 08:33] dvesh3 commented on #4056
@Daniel-Ateles can you please try on latest version 10.5.2?

[2022-08-12 12:13] Daniel-Ateles commented on #4056
@dvesh3 now I'm on 10.5.2 and this problem still exists. Doesn't matter if I use paranthesis with AND/OR etc. All products in the cart get the discount, even products not in the rules.

[2022-08-12 12:13] bkirchmeier opened #12883 "[Bug]: Null value displayed from field in object brick (object grid view)"
### Expected behavior

Display the object brick value in defined language via "Operator Local Switcher" in object grid view.

### Actual behavior

No value (NULL) is displayed.

### Steps to reproduce

Current version: Pimcore v6.6.11

Configuration Field "Farbe" in object brick "ERPAttributesLang"

![2022-08-12 13_44_52](https://user-images.githubusercontent.com/81562774/184350017-61a5d2b5-fb81-4

[2022-08-12 13:39] Daniel-Ateles commented on #4056
@dvesh3 To me it looks like ProductQuantity->check ignores the product it's about to check and only iterates over all the cart products and check if any of the cart products is valid for any of the rules?

[2022-08-13 03:25] jhonbaudin opened #12886 "[Bug]: Missing pimcore context resolver. Is the listener properly configured?"
### Expected behavior

i was hoping to see the main page

### Actual behavior

i made an skeleton pimcore installation, and i receive this message

![image](https://user-images.githubusercontent.com/47991218/184466358-fb1069f3-ab7b-479b-99c4-6c0347a93825.png)

### Steps to reproduce

just a new pimcore 10.5 installation on docs
https://pimcore.com/docs/pimcore/current/Development_Documentation/Get

[2022-08-13 19:17] Daniel-Ateles commented on #4056
I found an opportunity to optimize ProductQuantity->check.
It is being called from PricingManager->applyCartRules where the product is set to null and only categories are set in the "environment"-object (probably to take care of rules operating on categories?). This should give us the opportunity to quit early in ProductQuantity->check if the product is set to null and skip it alltogether.

[2022-08-15 07:00] bigiagipa opened #12893 "[Bug]: Error `Cannot autowire argument $bruteforceProtectionHandler` on Forgot Password Page"
### Expected behavior

The login page offers a reset password feature adter clicking the "Forgot your password?" button.

### Actual behavior

The forgot/lost password page opens with error like below :

`Cannot autowire argument $bruteforceProtectionHandler of "Pimcore\Bundle\AdminBundle\Controller\Admin\LoginController::lostpasswordAction()": it references class "Pimcore\Bundle\AdminBundle\Secur

[2022-08-15 09:35] dkarlovi opened #12887 "[Bug]: app cache still being read while the Symfony cache warmer is running"
### Expected behavior

See https://github.com/pimcore/pimcore/pull/12571

### Actual behavior

See https://github.com/pimcore/pimcore/pull/12577

### Steps to reproduce

Enable Redis cache and try to build Pimcore into a Docker image.

It will try to trigger a cache connection from `\Pimcore\Tool::getSupportedLocales()`.

IMO the original PR still seems like the most correct solution. /cc @brusch

[2022-08-16 07:47] yamenalahlas commented on #12870
I have the same Problem,
[code]

[2022-08-16 08:36] #12822 closed, assigned to dvesh3

[2022-08-16 09:56] eciosk opened #12889 "[Bug]: Problem in versions after removing related asset from Pimcore"
### Expected behavior

After removing (assigned to object) asset from Pimcore the version shows correct fullPath of asset that has been removed.

### Actual behavior

After removing (assigned to object) asset from Pimcore the version shows error 500 (tested on Pimcore demo). On my local project, I see "Call to a member function getRealFullPath() on null" - tested on v10.4.3.

### Steps to reproduc

[2022-08-16 10:30] vignesh-happiestminds commented on #12832
@kingjia90  Any update on this issues.

[2022-08-16 10:43] dvesh3 opened #12891 "[Documents] PageSnippet - Add validate param to setContentMasterDocumentId"
### Feature description

please see https://github.com/pimcore/pimcore/pull/12834/files#diff-af590f2e28178b47df6034df5b2fa8d9a2fdd93e2bd1ada546bdfc6598323269R419

[2022-08-16 10:45] dvesh3 commented on #12765
Fixed by #12834

[2022-08-16 10:45] #12765 closed, assigned to aryaantony92

[2022-08-16 10:52] kingjia90 commented on #12832
@vignesh-happiestminds PR https://github.com/pimcore/pimcore/pull/12846 is under review will be likely released tomorrow (10.5.3). In the meantime, you can also have a try with the changes in the PR, to confirm it is fixing the problem.

[2022-08-16 11:36] passioneight commented on #11242
🏓

[2022-08-16 12:01] kingjia90 commented on #12886
@jhonbaudin i gave it a try but it works fine on my end, can you please retry and let us know if it's happening again and further details to reproduce it?

[2022-08-16 12:04] brusch commented on #12887
@dkarlovi I see, depends probably on the used data-types in the class definition ... can you re-create a PR for https://github.com/pimcore/pimcore/pull/12571?

Thanks!

[2022-08-16 12:25] passioneight commented on #9738
So, our latest approach is this:

- Execute `bin/console translation:extract` (see https://symfony.com/doc/current/translation.html#extracting-translation-contents-and-updating-catalogs-automatically)
- Actually translate where applicable
- Create migration for custom translation domains if necessary
- Commit & Push & Deploy
- Clean translation keys for all domains via UI to avoid Pimcore not load

[2022-08-16 12:52] mcop1 opened #12892 "[Bug]: Fallback for parentId not working anymore"
### Expected behavior

If no parentId is set it should fallback to parentId = 1

### Actual behavior

Fallback isn´t working anymore, because id and parentId are null. And therefore the same.
Check for dataObjects, assets and documents.

### Steps to reproduce

Create new DataObject without parentId

[code]
results in

![image](https://user-images.githubusercontent.com/89011527/184884034-8ae3725c-

[2022-08-16 13:40] dvesh3 commented on #4056
@Daniel-Ateles sorry not able to reproduce it on latest version. when using OR condition the product discount is applied on the products that are defined in the condition
![image](https://user-images.githubusercontent.com/5137917/184893541-89d378b1-6228-4cad-ab29-bba0ff253bdc.png)

what is your rule look like? If you are using Cart discount action then discount is applied on overall cart not to sp

[2022-08-16 14:27] dvesh3 opened #12896 "[Security] Make New Authenticator default and remove guard authentication"
### Feature description

- [x] Remove Password encoders
- [x] Remove BruteforceProtectionHandler
- [x] Remove Guard Authentication
- [x] Remove deprecated Authentication classes

[2022-08-17 07:21] dvesh3 commented on #12893
Fixed by #12894

[2022-08-17 07:21] #12893 closed, assigned to kingjia90

[2022-08-17 08:55] mcop1 opened #12902 "[Improvement]: Add exception if no parent id was set"
### Improvement description

- [x] Add a new exception if no parent id was set for dataObjects, assets and documents.
- [x] Improve existing exception message for identical parent id and id
- [x] Add corresponding tests

See #12897

[2022-08-17 09:24] #12818 closed, assigned to robertSt7

[2022-08-17 09:29] kamilawiercinska opened #12903 "[Bug]: Translated keys are not working in the search mechanism"
### Expected behavior

A key from Classification Store named "extra features" in English shows up on the screen and you can add it to grid.

### Actual behavior

No results from search. You have to type "Cechy dodatkowe" (which is a key for this feature and appears in shared translations) to be able to see the search results.
Right now, foreigners cannot work with the app.

![image](https://user-i

[2022-08-17 10:01] aryaantony92 commented on #12835
Fixed by #12851

[2022-08-17 10:01] #12835 closed, assigned to dvesh3

[2022-08-17 10:28] kingjia90 commented on #12808
Fixed by #12880

[2022-08-17 10:28] #12808 closed, assigned to kingjia90

[2022-08-17 13:03] robertSt7 commented on #12960
@ThisIsJustARandomGuy Thank you for reporting this bug. I am sorry but I could not reproduce it. Could you please provide an example with working code. Thanks

[2022-08-17 13:16] dvesh3 commented on #12858
@patric-eberle you need to pass `toolbarGroups: false` when changing the style of `toolbarGroups` in custom config. please see https://pimcore.com/docs/pimcore/current/Development_Documentation/Documents/Editables/WYSIWYG.html#page_Custom-configuration-for-CKEditor

[2022-08-17 13:46] kingjia90 commented on #12833
Fixed by #12849

[2022-08-17 13:46] #12833 closed, assigned to aashan10

[2022-08-17 13:46] kingjia90 commented on #12892
Fixed by #12897

[2022-08-17 13:46] #12892 closed, assigned to mcop1

[2022-08-17 14:09] Daniel-Ateles commented on #4056
Yes that works fine. Unfortunately products not in the conditions also gets the discount.

It's a Product Discount, not a cart discount. When I add the following code it works as expected:

[code]

[2022-08-17 15:14] kingjia90 commented on #12832
Fixed by #12846

[2022-08-18 09:13] vignesh-happiestminds commented on #12832
@kingjia90 still this issues is not resolved on latest version pimcore 10.5.3. Also in the latest version new issue is created. We are unable to create a new Video attribute.

The video preview also is not working, showing below message

"**The preview for this video is currently in progress. Please wait**"

[2022-08-18 09:15] Fahl-Design opened #12910 "[Bug]: CLI Command no longer able to import translations from file with \Pimcore\Model\Translation::importTranslationsFromFile"
### Expected behavior

I can use `\Pimcore\Model\Translation::importTranslationsFromFile` to import a CSV file with a custom command like

[code]

### Actual behavior

getting an error and import skipped:
`11:08:16 WARNING   [pimcore] User system not allowed to edit 0.000000e+0 translation` from
`project/vendor/pimcore/pimcore/models/Translation/Dao.php:96`
and by the way the in the `sprintf` call

[2022-08-18 09:16] #9571 closed, assigned to mcop1

[2022-08-18 11:32] #12654 closed, assigned to mcop1

[2022-08-18 13:55] FrederikHulleman commented on #11729
@brusch both https://github.com/pimcore/pimcore/issues/11795 and https://github.com/pimcore/pimcore/issues/11729 are closed. Is there another issue where this is addressed?

[2022-08-18 14:23] dvesh3 commented on #11729
@FrederikHulleman #11795 was closed in favor of #11729, which is the current open issue.

[2022-08-18 14:28] ChrisB9 opened #12913 "[Bug]: WebDav authentication fails on both"
### Expected behavior

It's possible to login into webdav.

### Actual behavior

When accessing the webdav user interface, after login, the following exception occurs.

![image](https://user-images.githubusercontent.com/7099583/185407670-50766b45-50eb-49c8-96b9-8c1a27d70b8b.png)

An error also occurs on the [demo.pimcore.com](http://demo.pimcore.com/admin/asset/webdav) and https://demo.pimcore.fun

[2022-08-18 16:14] #12475 closed, assigned to aashan10

[2022-08-18 22:16] yamenalahlas commented on #12870
I think in my case the problem ist that  the supervisor program cannot access to  env varriables from the Container.
I must to export the .env File in the supervisord Programm to get this variables
[code]
it works so.

[2022-08-19 06:18] #12590 closed, assigned to robertSt7

[2022-08-19 07:59] Fabian-Hofer-Mastertent opened #12915 "[Bug]: ContentMasterDocument breaks when the Master Document gets deleted"
I got this error after updating to 10.5.3, i had 10.4.2 before where the error was not appearing.

### Expected behavior

After deleting a page (A) that is the Content Master Document of another page (B), the other page (B) should open anyway or - event better - the "Content Master Document" of (A) should be removed from the field in page (B).

### Actual behavior

After deleting a page that is th

[2022-08-19 08:43] podarcis opened #12916 "[Improvement]: Safety measure preventing user from deleting parent instead of elements selected in grid"
### Improvement description

Ever since there have been several reported cases from different customers/users where the user selected elements in the grid view and intended to delete them (right-click context menu on grid & "Delete"). However, the user accidentally uses the delete/recycle bin icon in the toolbar and also "blindly" confirms the warning dialog for the deletion (expecting a regular "

[2022-08-19 09:24] dvesh3 commented on #4056
@Daniel-Ateles Not for me. please see the screenshot [above](https://github.com/pimcore/pimcore/issues/4056#issuecomment-1216654746), the last product was not in the condition and no discount was applied on it.

[2022-08-19 09:43] Daniel-Ateles commented on #4056
Aha, sorry for not checking out your screenshot. You only have one Product Quantity rule?
We have two with one product discount.
![image](https://user-images.githubusercontent.com/58037739/185592120-b603d150-a54a-4309-b87c-a95ebf566696.png)

[2022-08-19 09:45] Daniel-Ateles commented on #4056
The reason both contains the same two products is the way the code applies the discounts.

[2022-08-19 09:46] Daniel-Ateles commented on #4056
In clear text the discount reads "Only apply the discount to the two products if the two products have a quantity >= 10"

[2022-08-19 09:55] Fahl-Design opened #12918 "[Bug]: v10.5.X "test" ENV Login fails with CSRF error"
### Expected behavior

Login works as expected

- tested with `enable_authenticator_manager: true` and `enable_authenticator_manager: false`

### Actual behavior

[code]

### Steps to reproduce

- set ENV to "test"
- try to login

[2022-08-19 10:01] dvesh3 commented on #4056
@Daniel-Ateles I think you are looking at a custom implementation of the Pricing Rule as we don't have "Product Quantity" implemented in the core.
![image](https://user-images.githubusercontent.com/5137917/185595231-4d930b66-6752-46eb-a380-b8877ac5c8d6.png)

[2022-08-19 10:04] Daniel-Ateles commented on #4056
Ugh. How embarrassing. You are correct. I'm very sorry for wasting your time. I will investigate how I could make this mistake and learn from it so it doesn't happen again.

[2022-08-19 12:25] blankse commented on #12915
@Fabian-Hofer-Mastertent I created a PR: https://github.com/pimcore/pimcore/pull/12921
Can you test it?

[2022-08-19 12:30] patric-eberle commented on #12858
Using `false` on `toolbarGroups` did not work either. Only if `toolbarGroups` is not set at all (e.g. adding `delete specificConfig.toolbarGroups;` if `this.config['toolbarGroups'] === false` in wysiwyg.js), it will take the `toolbarGroups` from the `customConfig` file. And even then ONLY if we also don't define a general configuration for the editor.

[2022-08-19 12:34] patric-eberle commented on #12858
I personally would have expected. that only the `customConfig` is applied, IF defined. But that is probably not the desired behaviour for everyone and would be a quiet different behaviour from what is happening right now.

[2022-08-19 12:45] patric-eberle commented on #12858
Additionally `object/tags/wysiwyg.js` uses a different merge logic for the configuration on Object Tags, which ALWAYS sets the `toolbarGroups` and thus never allows to define them with `customConfig`.

[2022-08-19 13:38] patric-eberle commented on #12858
I eventually got this to work with a small "hack". The above mentioned Problem still exists but it is possible to use a default/fallback AND a custom config by using `toolbarGroups` and `toolbars` at the same time. This solution works for editables and object tags.

- Use `toolbarGroups` in the global configuration on `pimcore.document.editables.wysiwyg.defaultEditorConfig` and `pimcore.object.tag

[2022-08-19 19:42] Shalice1218 commented on #1468
May I know where I can find these settings, please, is it theme restricted? I am using OceanWP. I tried to use SVG for my product image, it works well in a single product page, but if I archive them in Gutenberg with a product filter, the image is far too small, I tried to add additional CSS in the Gutenberg, but still, it doesn't work.

[2022-08-22 05:29] vignesh-happiestminds commented on #12832
@dvesh3 When can i expect the pimcore 10.5.4 release.

[2022-08-22 06:29] mcop1 commented on #12870
I tried to reproduce the problem, but everything seems to be working fine in my environment.

@manasaR507 maybe @yamenalahlas´s solution works for you too?

[2022-08-22 06:31] #12468 closed, assigned to robertSt7

[2022-08-22 06:54] yamenalahlas commented on #12870
I fixed the problem, the problem was that supervisord doesn't see the env from the container. I had to export the env variables from the container to shell from the supervisor then it worked.
[code]
it is **important** to be sure that www-data have permissions for the "/var/www/html/var" before supervisor started
I hope it helps @manasaR507

[2022-08-22 07:33] dvesh3 commented on #12832
@vignesh-happiestminds you can check planned dates here https://github.com/pimcore/pimcore/milestones

[2022-08-22 07:49] dvesh3 commented on #12778
Please remove comment as obsolete due to https://github.com/pimcore/pimcore/pull/12811

[2022-08-22 08:17] #12863 closed, assigned to mcop1

[2022-08-22 08:23] fsamareanu commented on #12915
I hit the same issue when upgrading from 10.5.2 to 10.5.3 and can confirm the issue is resolved after manually patching PageSnippet.php

[2022-08-22 08:39] Fabian-Hofer-Mastertent commented on #12915
@blankse thank you very much for the quick fix. I can confirm that the patch resolved the issue.

[2022-08-22 08:39] #12915 closed, assigned to nobody

[2022-08-22 08:59] #4056 closed

[2022-08-22 09:03] #12845 closed, assigned to robertSt7

[2022-08-22 09:38] dvesh3 commented on #12470
Fixed by #12844

[2022-08-22 09:38] #12470 closed, assigned to aashan10

[2022-08-22 11:00] #12783 closed, assigned to robertSt7

[2022-08-22 11:33] dvesh3 opened #12923 "Remove getTotalCount from AbstractObject/Asset/Document"
### Feature description

https://github.com/pimcore/pimcore/blob/a0ca76adc00891a8aeb50d93b6123730090928ef/models/DataObject/AbstractObject.php#L496

[2022-08-22 11:45] dvesh3 opened #12924 "[Mail] Remove deprecated methods"
### Feature description

- https://github.com/pimcore/pimcore/blob/27b0b2201e44e6da9f69f80ecf87bcee7840ab26/lib/Mail.php#L879
- https://github.com/pimcore/pimcore/blob/27b0b2201e44e6da9f69f80ecf87bcee7840ab26/lib/Mail.php#L866
- https://github.com/pimcore/pimcore/blob/27b0b2201e44e6da9f69f80ecf87bcee7840ab26/lib/Mail.php#L912
- https://github.com/pimcore/pimcore/blob/dedb59336dabf4ce5288b514dcffeb

[2022-08-22 12:53] dvesh3 opened #12926 "Remove Document::$types deprecated property"
### Feature description

https://github.com/pimcore/pimcore/pull/9816/files#diff-48235de7b392a4ff9ed273062d750e2732a5b1f8355cd76109abf4c5538a6c45R46

[2022-08-22 12:56] #12514 closed, assigned to aashan10

[2022-08-22 12:58] dvesh3 opened #12927 "Remove pimcoreglossary tag"
### Feature description

Follow up to https://github.com/pimcore/pimcore/pull/9663

[2022-08-22 13:02] dvesh3 opened #12928 "Remove Kernel::getRootDir"
### Feature description

https://github.com/pimcore/pimcore/blob/d924f8e6f6cc163409d9ef959a83cedf8e0104b7/lib/Kernel.php#L78

[2022-08-22 13:04] dvesh3 opened #12930 "Remove ReverseManyToManyObjectRelation alias"
### Feature description

please see https://github.com/pimcore/pimcore/pull/9711

[2022-08-22 13:17] dvesh3 opened #12931 "Remove RequestHelper::getMasterRequest"
### Feature description

https://github.com/pimcore/pimcore/blob/c1f88e07434e56a1c04310cf6ec0588e8bce3687/lib/Http/RequestHelper.php#L107

[2022-08-22 13:56] #4535 closed

[2022-08-22 14:48] robertSt7 commented on #11259
We are closing the ticket due to inactivity. But you can always reply and we will take a look at it again.

[2022-08-22 14:48] #11259 closed, assigned to robertSt7

[2022-08-22 14:52] ThisIsJustARandomGuy commented on #12960
@robertSt7 I'd be happy to. You need the following setup

# Steps to reproduce

Create at least one document with at least one child:
<img width="155" alt="image" src="https://user-images.githubusercontent.com/21229739/185949521-d846dfdd-16c7-48d9-a6f7-b06237437ced.png">

Enable versions for documents and have at least two versions for each of the pages (i.e. just click save and publish a couple o

[2022-08-22 14:59] SamyMP commented on #10651
Any update on this ? Could be interresting, 65% faster is still better than no improvement at all, have you tried to submit a PR for that @roland4432 ?

[2022-08-23 07:03] #12883 closed, assigned to robertSt7

[2022-08-23 07:30] dvesh3 opened #12936 "Deprecate ClassLayoutDefinitionManager"
### Improvement description

Removed in Pimcore 11 https://github.com/pimcore/pimcore/pull/12779/files#diff-31f153a903190c5d4438b4ad5fabfb1c842dc5da9f827a68167df354046e1046L193

[2022-08-23 07:55] dvesh3 commented on #12886
🏓 @jhonbaudin

[2022-08-23 08:55] #12866 closed, assigned to dvesh3

[2022-08-23 08:55] #11012 closed, assigned to nobody

[2022-08-23 08:59] NadineKaul opened #12938 "[Bug]: Pimcore Bricks are not working"
### Expected behavior

Default Pimcore Bricks are working with demo tutorial.

### Actual behavior

Pimcore Bricks can not be found and used in Backend and Frontend since some of the latest updates.

### Steps to reproduce

### Use demo tutorial from Pimcore Academy.
Using **xampp** with php >= 8

- Tools -> Bundles and Bricks  are not visible in list.
- Documents -> edit -> shows an error:
  Area

[2022-08-23 09:08] robertSt7 opened #12939 "[Bug]: Class.create with undefined parameter crashes js"
### Expected behavior

Show console error and continue other scripts

### Actual behavior

crashes js

### Steps to reproduce

Checkout 11.x branch

[2022-08-23 10:51] #12939 closed, assigned to robertSt7

[2022-08-23 13:15] dvesh3 commented on #12832
@vignesh-happiestminds please confirm if #12947 fixes the video open issue and for video preview issue, please refer to discussions https://github.com/pimcore/pimcore/discussions?discussions_q=video+preview

[2022-08-23 13:38] QWpreischl opened #12948 "[Bug]: Missing return for non-admin users when renaming objects"
### Expected behavior

- Non-Admin user renames object in backend
- Object gets renamed

### Actual behavior

- Non-Admin user renames object in backend
- Error message pops up "There was an error while renaming the item."
- After closing the error message you can see that the renaming on the object worked

### Steps to reproduce

- Login as Non-Admin user
- Rename any object

What fixed the probl

[2022-08-23 14:26] CodeBrauer commented on #10593
Just ran into the same problem. Had to create the field in the Data Object itself now, which means extra work. Unfortunately, not quite as simple.

[2022-08-23 14:59] blankse commented on #12948
@QWpreischl I created a PR: https://github.com/pimcore/pimcore/pull/12949

[2022-08-23 15:26] dvesh3 commented on #12948
Fixed by #12949

[2022-08-23 15:26] #12948 closed, assigned to nobody

[2022-08-24 05:08] vignesh-happiestminds commented on #12832
@dvesh3 Thanks for the response . Now the it's not throwing any error on page.But still the video preview  is not working.

Whenever we upload the video into assets and open the video , on the console generating URL - 404
**http://abc.com/admin/asset/get-video-thumbnail?id=1208&width=265&aspectratio=true&_dc=1661316947221**

When i opened the URL below issues has came.

Error  : "**Unable to get v

[2022-08-24 05:26] manasaR507 commented on #12870
@brusch I had run the command. It's working, But, throwing errors like unable to load image. Attached screenshot below. Please check.

![Screenshot (226)](https://user-images.githubusercontent.com/64125570/186335959-9b9bc9bc-d3fd-40b5-81f4-4cbea0a44336.png)

[2022-08-24 06:25] manasaR507 commented on #12870
Yes data is present in the search_backend_data table. It's having only old data. Not updated with the new records. New records not present in this table.

[2022-08-24 06:27] manasaR507 commented on #12870
Folder permissions are fine. No issue with that. Can you please tell me the path of above program:messenger-consume configurations. Needs to check in my end.

[2022-08-24 07:28] dvesh3 commented on #12832
@vignesh-happiestminds It works for me when uploading video in assets. please make sure you run `messenger:consume` command properly.

[2022-08-24 07:44] dvesh3 opened #12957 "Remove Preview Url(Deprecated) from DataObjects"
### Feature description

https://github.com/pimcore/pimcore/blob/cd6e0ffae5c9013cf461e06a251fb47842b5cf16/doc/Development_Documentation/05_Objects/01_Object_Classes/05_Class_Settings/55_Preview.md#object-preview

[2022-08-24 07:50] vignesh-happiestminds commented on #12832
@dvesh3  i have executed the command and still same issues. Please find the below steps to reproduce this issue. Also all the image extensions are enabled.

bin/console messenger:consume then i selected options "**pimcore_image_optimize**" , Then i cleared a cache and re-uploaded Video
second  time -
bin/console messenger:consume then i selected options "**pimcore_core**" , Then i cleared a cache

[2022-08-24 07:53] dvesh3 commented on #12832
Please refer to discussions for further support on video previews, as this issue is about video data type in DataObjects. thanks!

[2022-08-24 08:38] brusch commented on #12870
Seems to be an Imagick problem of your setup, just see the error messages 😉

![image](https://user-images.githubusercontent.com/142037/186371797-0e08958c-5dc0-4f06-87d5-2d00bc68b3d1.png)

[2022-08-24 08:38] #12870 closed, assigned to mcop1

[2022-08-24 08:40] kamilawiercinska opened #12958 "[Bug]: 10.5.2 language selection does not work on grid"
### Expected behavior

After choosing language in grid options, user can see translated values on the grid

### Actual behavior

After choosing language in grid options, user cannot see translated values on the grid. User has to change application language in order to see translated values.

### Steps to reproduce

1. open grid options
2. choose english language
3. choose desired attribute

Additi

[2022-08-24 09:22] kamilawiercinska opened #12959 "[Bug]: Unable to export translated values from the grid"
### Expected behavior

Exported xlxs/csv file has translated values

### Actual behavior

Exported xlxs/csv file has values equal to the key, not translation.

![image](https://user-images.githubusercontent.com/49391646/186381037-9ca3cc61-01ad-4623-82b3-940613bf8ca8.png)
![image](https://user-images.githubusercontent.com/49391646/186381234-2588c5a2-2a03-4592-9fd2-840f8d44b968.png)
![image](https:/

[2022-08-24 10:07] dvesh3 commented on #12910
Regression of #12756

[2022-08-24 10:23] dvesh3 commented on #12903
@kamilawiercinska It seems you are using older version of Pimcore (by looking at your screenshot). Now `admin` & `shared` translations are merged into single UI with lot of fixes. could you please try to reproduce the issue on latest version 10.5.3? thanks!

[2022-08-24 10:57] kamilawiercinska commented on #12903
@dvesh3
Sure, I did it on 10.5.2

1. add translations
![image](https://user-images.githubusercontent.com/49391646/186401051-974a7bbd-b9b4-494a-a509-9a7fd19d7919.png)
![image](https://user-images.githubusercontent.com/49391646/186401407-0e27aac1-349a-4d70-8056-71dd564bd858.png)
2. go to grid
3. select language EN (this language is also my app language)
4. observe
![image](https://user-images.github

[2022-08-24 11:49] dvesh3 commented on #12903
Sorry, I was looking at the wrong place. The actual issue is on CS store key selection grid on Grid options.

[2022-08-24 11:56] chayakomar opened #12966 "assets"
### Feature description

While uploading an asset of a picture (jpg, png) there's options of downloading formats such as web, office, original.
can there be an option of downloading pdf?
thank you

[2022-08-24 12:01] #12966 closed, assigned to nobody

[2022-08-24 12:06] kamilawiercinska commented on #12959
just for the explanation, yes- screenshots are from the old version of the app, 6.9, however error occurs on 10.5.2 also

[2022-08-24 13:24] sndsabin opened #12968 "[Bug]: ClassDefinitionManager fails to create multiple classes if id of the multiple definition files are same"
### Expected behavior

In the case of two class definitions files with the same id for different classes. for example (Customer and Product):
- `definition_Customer.php`
[code]
- `definition_Product.php`
[code]
**Expected Behaviour**
`bin/console pimcore:deployment:classes-rebuild -c`  to create two Data Objects Class
- Customer
- Product

### Actual behavior

`bin/console pimcore:deployment:class

[2022-08-24 17:02] manasaR507 commented on #12870
@brusch  If imagick library is not configured properly. Then it will be impact on search backend table or data objects. Imagick library will have impact on assets only right? So, that's not the issue for the search backend data.

[2022-08-24 18:05] mturalenka opened #12970 "[Bug]: Uncaught Error: fstat(): supplied resource is not a valid stream resource"
### Expected behavior

When uses S3 as file storage for assets/thumbnails with public url pimcore should use Flysytem functionality to get file size as described in #9234

### Actual behavior

Exception is raised

### Steps to reproduce

1. configure S3 storage for assets and thumbnails
2. configure public url for thumbnails
3. render thumbnail

[2022-08-25 04:37] #12477 closed, assigned to mcop1

[2022-08-25 07:53] rberneder commented on #9738
I have a slightly different proposal – not sure whether it's adequate performance wise.
Goal is to maximize maintainability for developers *and* editors:

**The translations table in Pimcore backend has two sources that are merged together:**
- All TKs from translation files, maintained by developers.
- All TKs in DB set by editors, which overwrite TKs from translation files.

**Characteristics:**

[2022-08-25 11:25] mcop1 opened #12979 "[Bug][DataObjects]: Adding Media -> Video type is not working anymore"
### Expected behavior

Add video type without problems in the class editor for data objects

### Actual behavior

Doesn´t work, configuration page stays blank

### Steps to reproduce

Add Media -> Video type

[2022-08-25 12:39] dvesh3 opened #12981 "[DataObject] Owner Info is missing on denormalize for Geo DataTypes"
### Expected behavior

Owner info is retained.

### Actual behavior

Owner info is lost.

### Steps to reproduce

code to reproduce:

[code]

[2022-08-25 13:40] aweichler opened #12983 "[Bug]: class export messes up the json file"
### Expected behavior

The export file of class / objectbrick has each field only one time.

### Actual behavior

The export file of a class / objectbrick has the fields multiple times.
In the json Files there are the children under "childs" and "children".
I have attached 2 zip files. One created with Pimcore 6 and one with Pimcore 10.5.3.
The error seems to be only for Pimcore 10.5.x.

I have cr

[2022-08-25 13:50] mcop1 opened #12984 "[TASK]: Remove Pimcore\Config\Config follow up"
### Improvement description

Follow up to https://github.com/pimcore/pimcore/pull/12911

Remove Pimcore\Config\Config from even more locations:

- Perspectives Config
- ConfigWriter
- AbstractArea

[2022-08-25 14:31] #12902 closed, assigned to mcop1

[2022-08-25 16:10] dvesh3 commented on #12979
Duplicate of #12832

[2022-08-25 16:10] #12979 closed, assigned to nobody

[2022-08-26 06:32] mcop1 commented on #12983
@aweichler We renamed the "childs" property to "children", but left the "childs" property in the definition for now- as a bc layer so to say. It will be removed with Pimcore 11.

[2022-08-26 06:35] mcop1 opened #12986 "[TASK]: Remove "childs" bc layer"
### Improvement description

Please see https://github.com/pimcore/pimcore/pull/10824 and the corresponding deprecations.

[2022-08-26 07:24] dvesh3 opened #12988 "[Portal engine] Localized fields in block gives error"
### Discussed in https://github.com/pimcore/pimcore/discussions/12978

<div type='discussions-op-text'>

<sup>Originally posted by **Maksonis** August 25, 2022</sup>
I can't open portal product detail page if custom layout for portal contains Block field which contains localized fields.

Steps to reproduce:

Create block field with localized field:
![image](https://user-images.githubusercontent.co

[2022-08-26 08:38] dvesh3 commented on #12709
Fixed by #12830

[2022-08-26 08:38] #12709 closed, assigned to robertSt7

[2022-08-26 09:12] dvesh3 commented on #12832
Fixed by #12947

[2022-08-26 09:12] #12832 closed, assigned to dvesh3

[2022-08-26 09:16] #12984 closed, assigned to mcop1

[2022-08-26 09:17] aweichler commented on #12983
ok, then I can close this issue.
@mcop1 thank you for your fast answer.

[2022-08-26 09:17] #12983 closed, assigned to nobody

[2022-08-26 12:27] dvesh3 commented on #12840
Fixed by #12920

[2022-08-26 12:27] #12840 closed, assigned to dvesh3

[2022-08-26 14:06] aryaantony92 commented on #12913
Fixed by #12950

[2022-08-26 14:06] #12913 closed, assigned to dvesh3

[2022-08-27 04:23] psuhane commented on #6747
This is the critical issue, below are few scenerios from Pimcore Demo - https://demo.pimcore.com

- If user is logged-in as frontend webshop user and try logging-in as pimcore admin user then frontend user session is invalidated. This also happens vice-a-versa scenario.

- I doubt if below code works after the payment completion in Checkout controller, because session is already invalidated. This

[2022-08-29 06:29] mcop1 commented on #12814
@chm0815
Hello,
any new insights?

[2022-08-29 06:37] #12960 closed, assigned to robertSt7

[2022-08-29 07:22] brusch commented on #6747
This is on the roadmap for v11.

[2022-08-29 11:11] studio1gmbh commented on #2839
@brusch / @dvesh3 Since we have a lot of customers, that rely on this feature, could we kindly ask for a status update? Will this feature implemented in Pimcore X or do we have to wait for 11?

[2022-08-29 11:52] dvesh3 commented on #12878
Fixed by #12990

[2022-08-29 11:52] #12878 closed, assigned to aryaantony92

[2022-08-29 12:33] kingjia90 commented on #12936
resolved by #12944

[2022-08-29 12:33] #12936 closed, assigned to dvesh3

[2022-08-29 12:42] brusch commented on #12968
You need to omit the `id` properties when they should be auto-generated, if ID is specified, it needs to be unique.

[2022-08-29 12:42] #12968 closed, assigned to nobody

[2022-08-29 15:27] dvesh3 commented on #12970
Fixed by #12996

[2022-08-29 15:27] #12970 closed, assigned to brusch

[2022-08-30 05:25] eciosk commented on #12889
@mcop1
Any thoughts, ideas?

[2022-08-30 05:59] mcop1 commented on #12889
@eciosk It is a bug. Problem is, that only the id gets persistet in the version data. We can check if the asset is still existing, but if it is not, we can´t display the proper data right now. We will find a solution for that though, but it may take some time.

[2022-08-30 08:15] brusch commented on #10613
Should be now ready to work on as #12917 got merged

[2022-08-30 09:18] skygatewitt opened #12998 "[Bug]: Renaming Data Objects and their folders does no longer work after upgrade from v10.5.2 to v10.5.3"
### Expected behavior

Renaming an existing Data Object or (Data Objects-) folder should persist the changed name. (Both tree renaming and the rename button in an open element are affected)

### Actual behavior

The name changes in the tree view, but when opening the object, the tab shows the old name. Refreshing the tree also reverts the change.

### Steps to reproduce

- Update from 10.5.2 to 10

[2022-08-30 09:20] mcop1 commented on #12998
@skygatewitt should be fixed with tomorrow´s release, please see:
https://github.com/pimcore/pimcore/pull/12985

[2022-08-30 09:20] #12998 closed, assigned to nobody

[2022-08-30 09:26] skygatewitt commented on #12998
I only searched the issues, and not the pull requests. This is my first time opening any issue on Github. I apologize for the duplicate.

[2022-08-30 09:29] mcop1 commented on #12998
No need to apologize and you are right, normally there should be an issue with every pull request :)

[2022-08-30 10:56] ghost opened #13000 "[Bug]: Field Type Image Allowed PDF, txt etc... files"
### Expected behavior

There should be a validation message.

### Actual behavior

When we use image type we can upload only images, here we can not use other files on object but when we select PDF or any other extension file into the image type field and is uploaded into the assets.

### Steps to reproduce

1. Add an image type field **[Upload Path: /Rushit]** into the class.
2. Create the object

[2022-08-30 11:39] kingjia90 commented on #12886
@jhonbaudin I'm closing the issue for the moment, as it have been more than 2 weeks without further feedback.
Let us know if the problem is still occuring.

[2022-08-30 11:39] #12886 closed, assigned to kingjia90

[2022-08-30 12:14] limenet opened #13004 "[Bug]: Overriding "From" in newsletter for test mail does not work"
### Expected behavior

When sending a test email for a newsletter, there's an option to specify the `From` address in the "Send Test-Email" modal. The value in the modal should (or rather is expected to) take precedence over the value stored in the newsletter settings.

### Actual behavior

The value from the newsletter settings is used instead of the value in test email modal.

### Steps to repro

[2022-08-30 12:56] blankse commented on #12924
@dvesh3 Why is `setSubject()` not deprecated? I think it should be replaced by `subject()`.
I also think it should be triggert a deprecation message in 10.5.

[2022-08-30 13:23] #11232 closed, assigned to nobody

[2022-08-30 13:29] aryaantony92 commented on #12910
Fixed by #12964

[2022-08-30 13:29] #12910 closed, assigned to dvesh3

[2022-08-30 13:39] dvesh3 opened #13006 "Deprecate Mail::setSubject"
@dvesh3 Why is `setSubject()` not deprecated? I think it should be replaced by `subject()`.
I also think it should be triggert a deprecation message in 10.5.

_Originally posted by @blankse in https://github.com/pimcore/pimcore/issues/12924#issuecomment-1231629609_

[2022-08-30 13:41] dvesh3 commented on #12924
@blankse good catch! yes, it should be deprecated and trigger a deprecation. Issue #13006

[2022-08-30 16:37] gerhardnesvadba opened #13010 "[Bug]: The events "preSaveObject" is not working properly."
### Expected behavior

The Object is not saved when Cancel is clicked.

The result of the event is not awaited or the context is lost.
This means that it is always saved, even if a check is intended to prevent this.

### Actual behavior

The Object is always saved.

### Steps to reproduce

**File startup.js:**

[code]

**File vendor/pimcore/pimcore/bundles/AdminBundle/Resources/public/js/pimcore/o

[2022-08-30 20:26] #12761 closed, assigned to nobody

[2022-08-31 04:26] aashan10 commented on #12778
@dvesh3 the comment was already removed in https://github.com/pimcore/pimcore/pull/12811/files#diff-93033ddf3b21c7c9fbb07a9cdb664889b6d3181dc173cb56d82c638a34a5bf16

This issue can be closed as resolved!

[2022-08-31 05:22] #12889 closed, assigned to mcop1

[2022-08-31 07:32] #12778 closed, assigned to aashan10

[2022-08-31 08:14] dvesh3 commented on #13006
Fixed by #13007

[2022-08-31 08:14] #13006 closed, assigned to nobody

[2022-08-31 08:37] #10613 closed, assigned to aashan10

[2022-08-31 08:53] brusch opened #13015 "Prepare for Doctrine v4"
### Improvement description

Ensure we're not using any of the deprecated things and try to be compatible whenever possible (ideally `doctrine/dbal: ^3.4 || ^4.0`).

[2022-08-31 10:39] mcop1 opened #13019 "[Task]: Deprecate Workflow classes"
### Feature description

Deprecate Workflow, Workflow\Listing, Workflow\Dao and Workflow\Listing\Dao classes, since they are not used anymore.

[2022-08-31 10:51] mcop1 opened #13021 "[Task]: Remove Workflows classes"
### Improvement description

Please see https://github.com/pimcore/pimcore/issues/13019 for details

[2022-08-31 11:01] mcop1 commented on #12482
Will be continued after https://github.com/pimcore/pimcore/pull/13022 got merged

[2022-08-31 11:31] passioneight commented on #5383
@aarongerig maybe translation domains is what you are looking for? You could create a translation domain for each `Site`, then pass it to the `trans` filter like so:

[code]

[2022-08-31 11:50] #13019 closed, assigned to nobody

[2022-08-31 11:58] aarongerig commented on #5383
@passioneight That solution would work, yes. Unfortunately one cannot edit any other translation domains than "messages" and "admin" within the Pimcore UI. If that would be possible, this would be the perfect solution to this issue.

[2022-08-31 13:59] questionmark78 opened #13027 "[Bug]: Installer fails because of incorrect quotes"
### Expected behavior

The installer runs

### Actual behavior

<img width="692" alt="Screenshot 2022-08-31 at 15 54 36" src="https://user-images.githubusercontent.com/724963/187695788-80db52e8-52a8-4b3e-819c-b77ac8ba186b.png">

### Steps to reproduce

We use a Digital Ocean Managed database where an error is thrown because of the quotes used in https://github.com/pimcore/pimcore/blob/10.5/lib/Too

[2022-08-31 14:29] ingowalther opened #13028 "[Bug]: Missing context in grouped objectbricks"
### Expected behavior

The context should be available in grouped and ungrouped objectbricks.

### Actual behavior

The context is only available in ungrouped objectbricks.

### Steps to reproduce

Use a "SelectOptionsProviderInterface" and dump the contents of  `$context`.

[2022-08-31 14:33] ingowalther commented on #13028
There is no context given here for grouped objectbricks:
https://github.com/pimcore/pimcore/blob/11.x/bundles/AdminBundle/Controller/Admin/DataObject/ClassController.php#L1358

Here the context is given for ungrouped objectbricks:
https://github.com/pimcore/pimcore/blob/11.x/bundles/AdminBundle/Controller/Admin/DataObject/ClassController.php#L1393

[2022-08-31 14:45] #13010 closed, assigned to robertSt7

[2022-08-31 15:19] #12432 closed, assigned to dvesh3, kingjia90

[2022-08-31 19:45] passioneight commented on #5383
@aarongerig have a look at https://github.com/pimcore/pimcore/issues/9738#issuecomment-1145663353. It contains an example of how to create custom translation domains. The domains will be available in the UI afterwards - at least when using Pimcore X.

Here's a screenshot:
![image](https://user-images.githubusercontent.com/57256630/187835728-f597a44a-0f12-4c48-867a-8c3333f64a0d.png)

[2022-09-01 07:44] dvesh3 opened #13031 "Move ForceInheritance helper from Website\Tool to Pimcore\Tool"
please see https://github.com/pimcore/pimcore/discussions/13025#discussioncomment-3518099

[2022-09-01 08:00] dvesh3 commented on #5383
@aarongerig @passioneight you can even create a new domain with API:
[code]
once the table is created by API for new domain then this can be managed in the UI:
![image](https://user-images.githubusercontent.com/5137917/187863372-a9b1f18a-b643-43b4-94a9-acb5bfbf3c11.png)

[2022-09-01 08:40] #12185 closed, assigned to mcop1

[2022-09-01 08:48] dvesh3 commented on #13031
Closed in favor of https://github.com/pimcore/pimcore/issues/12242

[2022-09-01 08:48] #13031 closed, assigned to nobody

[2022-09-01 10:05] brusch opened #13034 "Check if there are any other outdated Composer packages"
### Improvement description

1. Check `composer outdated`  and see if we need to upgrade other packages as `symfony/*` as well.
2. Create extra tickets per package and add them to https://github.com/pimcore/product-management/issues/67

[2022-09-01 10:49] aarongerig commented on #5383
@dvesh3 @passioneight Ha, did not know that – but thank you for the hint! I'll close the issue then.

[2022-09-01 10:49] #5383 closed

[2022-09-01 13:08] danielerne opened #13038 "[Bug]: Endless message loop in pimcore_maintenance"
### Expected behavior

Maintenance task is running without errors

### Actual behavior

Maintenance task runs in endless queue with these errors:

15:04:39 INFO      [messenger] Received message Pimcore\Messenger\AssetUpdateTasksMessage ["class" => "Pimcore\Messenger\AssetUpdateTasksMessage"]
15:04:39 WARNING   [php] Warning: Undefined array key 1 ["exception" => ErrorException { …}]
15:04:39 WARN

[2022-09-01 13:20] #12321 closed, assigned to dvesh3

[2022-09-01 13:32] blankse commented on #13038
@danielerne I don't know how to get the full ErrorException. Maybe with -vvv param?

Which FFMPEG version do you have. What is the output when you try this:
`ffmpeg -i /path/to/one/video/file.mp4`

Maybe it is this array key 1:
https://github.com/pimcore/pimcore/blob/e53d45e0e69883ebc86cc273a2dcca2faa0cf4c6/lib/Video/Adapter/Ffmpeg.php#L307

[2022-09-01 14:15] robertSt7 opened #13040 "[Improvement]: JS Events cancelable"
### Improvement description

see #13010

make all pre-Events cancelable

[2022-09-01 14:49] plixus commented on #12832
Hi, I have just updated to 10.5.4 but the problem persists.
Clicking the Icon not opening Popup but throwing den reported Error.
_"Uncaught TypeError: Cannot read properties of undefined (reading 'includes') at pimcore.helpers.editmode.openVideoEditPanel"_

The only difference is that the video attribute is in a field collection.

[2022-09-01 14:51] dvesh3 commented on #12832
@plixus yes, it is not completely fixed on 10.5.4. please see follow up PR https://github.com/pimcore/pimcore/pull/13035

[2022-09-01 15:59] aKugler commented on #10427
Hi @jdreesen!

Sorry for my english.
In my opinion this belongs together. In the code it is searched for the brick tables. If the value is set, then the table is called e.g. object_brick_mybrick_1. Then iterate over the tables and operate out the name of the trick. In this case mybrick remains. Finally mybrick is searched in the cache. But if you have created the brick with the key MyBrick, then i

[2022-09-02 07:07] brusch commented on #13038
Try to run the maintenance job with `--async` and then run the queue manually with `bin/console messenger:consume ...` as described here:
https://pimcore.com/docs/pimcore/current/Development_Documentation/Getting_Started/Installation.html#page_5-Maintenance-Cron-Job

[2022-09-02 07:18] aryaantony92 opened #13051 "[Bug]: Unable to create Data Object class"
### Expected behavior

Should create a new Dataobject class.

### Actual behavior

Throws exception when trying to create a new dataobject class.

![image](https://user-images.githubusercontent.com/97134765/188080584-15ab69f8-4fc9-4dd2-9770-60f5fd4561e6.png)

### Steps to reproduce

Try creating a new class. (Dataobjects -> Classes)

[2022-09-02 07:52] brusch opened #13054 "Move configurations to AdminBundle which are UI only"
### Improvement description

At the moment we have quite a lot of configurations defined in the `CoreBundle` which actually are only relevant for the UI, so we should move them to the `AdminBundle`.

[2022-09-02 10:03] kamilawiercinska commented on #12903
Hello, any updates?

[2022-09-02 10:03] kamilawiercinska commented on #12959
Hello, any updates?

[2022-09-02 10:03] kamilawiercinska commented on #12958
Hello, any updates?

[2022-09-02 11:11] #13051 closed, assigned to mcop1

[2022-09-02 11:48] robertSt7 commented on #12959
@kamilawiercinska I was able to reproduce the bug and estimate the time it will take to fix. We will consider it next week in the planning.

[2022-09-02 11:48] robertSt7 commented on #12903
@kamilawiercinska I was able to reproduce the bug and estimate the time it will take to fix. We will consider it next week in the planning.

[2022-09-02 11:59] robertSt7 commented on #12958
@kamilawiercinska Sorry, but I couldn't reproduce the bug. Could you please try it on our demo: https://demo.pimcore.fun/admin

[2022-09-02 12:02] #13027 closed, assigned to mcop1

[2022-09-02 12:04] kamilawiercinska commented on #12958
@robertSt7  sure can you give me the username/pass?

[2022-09-02 12:07] robertSt7 commented on #12958
Yes demo/admin

[2022-09-02 12:16] kamilawiercinska commented on #12958
![image](https://user-images.githubusercontent.com/49391646/188140492-140a2f27-5d30-48c2-9645-166c29db4f39.png)

![image](https://user-images.githubusercontent.com/49391646/188140313-bba976de-0184-4b65-b32a-b888a5276485.png)

as you can see, displayed values are not in the language selected on the grid.

but then, I change my language
![image](https://user-images.githubusercontent.com/49391646/188

[2022-09-02 12:37] robertSt7 commented on #12958
@kamilawiercinska  Now I got it, thank you. We will consider it next week in the planning.

[2022-09-05 08:06] studio1gmbh commented on #2773
@alexpozzi why did you close this issue? Did you manage to implement such a feature? We are looking for InDesign support too.

[2022-09-05 08:10] NiklasBr commented on #2773
Might be a duplicate of #10245?

[2022-09-05 08:17] studio1gmbh commented on #2773
@NiklasBr I thought that too but this is relating to a complete different feature (predefined document feature for assets). :)

Here we are looking for a possibility to implement support for custom asset (file) types, that are yet unknown to pimcore (like .indd files). So users are for example able to use the thumbnail preview feature.

[2022-09-05 08:36] niederberger-qw opened #13062 "[Feature]: White Background for Pimcore SVG Thumbnails"
### Feature description

We have the problem, that our customer can not read his texts printed on the svgs.

![grafik](https://user-images.githubusercontent.com/85213755/188405757-cde54939-c2d5-4f4c-8b38-fffb7c9b4aee.png)

Maybe there is an option i don't know or we need an option to set a backgroundcolor for the transparent background within the pimcore backend thumbnail generation.

[2022-09-05 08:39] #13062 closed, assigned to nobody

[2022-09-05 09:02] passioneight commented on #11297
Closing this issue as manually rendering works around this. Any improvement related brainstorming should be part of a discussion first, then the discussion can be converted into an issue.

[2022-09-05 09:02] #11297 closed, assigned to nobody

[2022-09-05 10:08] #12481 closed, assigned to aryaantony92

[2022-09-06 08:24] NiklasBr opened #13072 "[Bug]: Preview with Link Generator forecefully reverts to admin language"
### Expected behavior

Switching a locale with a preview param service such as this below should keep the `_locale` all the way to the Controller.
[code]

### Actual behavior

The `previewAction` replaces the chosen `_locale` with the locale of the current user, therefore preventing preview of localizedFields.

https://github.com/pimcore/pimcore/blob/4d55d6145e412a0da03a07fc81b56457e4bf8949/bundle

[2022-09-06 08:44] #12930 closed, assigned to mcop1

[2022-09-06 08:52] NiklasBr commented on #13072
Maybe I was on the wrong track, if I update the controller with

[code]

It works, so maybe the error is elsewhere.

[2022-09-06 08:52] #13072 closed, assigned to nobody

[2022-09-06 09:09] dvesh3 commented on #13038
Fixed by #13039

[2022-09-06 09:09] #13038 closed, assigned to dvesh3

[2022-09-06 09:58] mlumia commented on #6747
Temporary solution until v11 is to add a logout listener and call `$event->stopPropagation();` if uri path contains admin.

[2022-09-06 10:28] #7660 closed

[2022-09-06 11:21] #12793 closed, assigned to mcop1

[2022-09-06 12:08] #12792 closed, assigned to mcop1

[2022-09-06 20:27] ctippler opened #13081 "[Improvement]: Add fullPath columns to objects/assets/documents tables"
### Improvement description

Sometimes we need to get all objects ids below a certain object, or from assets or documents...

Currently we achive this with a query like
`SELECT  o_id FROM objects WHERE o_classId="product" AND CONCAT(o_path,o_key) LIKE '/Produktdaten/Produktbaum/Filter/Motorölfilter/00101072%';
`
This works good as long as you don't have big datasets. If you have big datasets the q

[2022-09-07 06:26] MadeP commented on #5010
Strangely enough, this was not a problem in PIMCORE 6. In PIMCORE X it suddenly doesn't work anymore.

[2022-09-07 07:39] #12931 closed, assigned to kingjia90

[2022-09-07 08:35] podarcis commented on #5010
@MadeP Please elaborate on what's not working anymore. Previously commas were accepted but led to silent data loss. Now there's a sanity check as a workaround in place, which just prevents commas.

[2022-09-07 09:41] mcop1 opened #13089 "[Improvement][DataObjects]: Consistent way of storing null/empty textfields to the database"
### Improvement description

Empty textfields are stored as `NULL` in the database, when an object gets created. But after editing, saving and removing the value again it will be stored as `''`.

For example:
1.) Create a new "car"
2.) Use this code to get all cars without description

`$carList = DataObject\Car::getByDescription('', "de");`

This will result in the following sql:
[code]

3.) Chec

[2022-09-07 14:01] kraedler opened #13095 "[Bug]: Duplicates over Sites should be allowed in Pretty URL setting for Document"
### Expected behavior

For every site with a specific domain the pretty url should be unique, but duplicates should be allowed, if in diffrent site context.

### Actual behavior

Error Message "URL path already exists" is displayed, if two pretty urls with the same name are set within diffrent sites.

### Steps to reproduce

- Create two documents configured as sites
- Create one document per site

[2022-09-07 14:14] asioso opened #13096 "[Bug]: Can't filter classification store booleanSelect type in grid"
### Expected behavior

Be able to filter grid list on classification store field of type booleanSelect.

### Actual behavior

Filter grid list on classification store field of type booleanSelect gives error.

### Steps to reproduce

- add CS key for booleanSelect
![image](https://user-images.githubusercontent.com/48808653/188900307-16ccdd0e-9dbc-47bf-a628-78e248b36dc7.png)

- add CS store field in

[2022-09-07 17:02] kingjia90 commented on #13095
Thank you for reporting, i've took a look and can confirm the problem.
I've also found out that it was already reported on https://github.com/pimcore/pimcore/issues/7219, so i am closing here in foavor of the other one

[2022-09-07 17:02] #13095 closed, assigned to nobody

[2022-09-08 07:14] #12660 closed, assigned to dvesh3

[2022-09-08 07:15] #12924 closed, assigned to aryaantony92

[2022-09-08 07:20] jremmurd opened #13098 "[Bug]: empty values in $context in CalculatorClassInterface"
### Expected behavior

`$context` should have set according data in instances of CalculatorClassInterface

### Actual behavior

$context has empty values for index, position and groupId in CalculatorClassInterface within object bricks

maybe related to #13028 ?

![image](https://user-images.githubusercontent.com/9052094/189059576-b210c101-80ba-42d6-9c0c-010630466bd0.png)

### Steps to reproduce

C

[2022-09-08 07:46] jremmurd commented on #13089
Related to https://github.com/pimcore/pimcore/issues/4369

[2022-09-08 09:17] #12891 closed, assigned to aryaantony92

[2022-09-08 09:32] kamilawiercinska opened #13099 "[Bug]: CS translations on UI"
### Expected behavior

None of the values are tranlsated

### Actual behavior

Shouldn't at least one of these values be translated? e.g. description?

### Steps to reproduce

Not sure whether it's a bug, so please advise.
I translate key "color"
I choose english language for the app
![image](https://user-images.githubusercontent.com/49391646/189087749-cab688ca-1b07-4270-9f73-fb7389649352.png)

CS

[2022-09-08 09:41] NiklasBr opened #13101 "[Bug]: Classification Store groups cannot list everything if there are many items"
### Expected behavior

All items in a CS group should be visible and editable.

### Actual behavior

![image](https://user-images.githubusercontent.com/279826/189089508-25a5a6a4-74d1-42df-b9c7-782c82b099e5.png)

### Steps to reproduce

Image above shows how it looks with a group with 30 keys:
![image](https://user-images.githubusercontent.com/279826/189090003-ccb53540-aedc-4404-8e85-da37e1b9a3d5.p

[2022-09-08 09:59] dkarlovi opened #13102 "[Bug]: \Pimcore\Cache\Core\WriteLock generates a lot of cache misses, skewing cache hit rate metrics"
### Expected behavior

During regular operations, the write lock would cause no misses.

### Actual behavior

During regular operations, the write lock causes a lot of misses. For example, just refreshing the admin login screen (locally, no concurrent requests) it causes 8 misses. This means Pimcore has a baseline cache miss rate, making it more difficult to use standard metrics tools which use hi

[2022-09-09 09:29] Zodiarc commented on #7390
Same issue here interestingly it occurs in one project on one environment (pimcore version 10.3.1). I'm trying to reproduce it:

`Next Doctrine\DBAL\Exception\SyntaxErrorException: An exception occurred while executing 'SELECT cid, GROUP_CONCAT(id ORDER BY id DESC) AS versions FROM versions WHERE ctype = ? AND NOT public AND id NOT IN (,,,,,,,,) GROUP BY cid HAVING COUNT(*) > ? LIMIT 1000' with pa

[2022-09-09 09:49] #12871 closed, assigned to dvesh3

[2022-09-09 10:11] #12927 closed, assigned to kingjia90

[2022-09-09 10:28] Zodiarc commented on #7390
Also maybe important info. The error seems to occur on document version cleanup, but the project in question has no documents.

[2022-09-09 11:34] #12789 closed, assigned to aryaantony92

[2022-09-09 14:35] alexmf23 opened #13126 "[Bug]: Pimcore Maintenance job not starting using Docker"
### Expected behavior

Hello,
I can't get Pimcore Maintenance job run using Docker.

### Actual behavior

After using docker compose up the only thing that supervisor says is this:
<img width="947" alt="Screenshot 2022-09-09 at 16 33 46" src="https://user-images.githubusercontent.com/63473281/189374710-270f66eb-2c90-4d6d-88d8-dff6c78b0aa8.png">

Pimcore is working but the maintenance job not.

###

[2022-09-09 16:47] adriangronau opened #13120 "[Improvement]: Version storage migration from file system to database"
### Improvement description

First of all, thank you to the maintainers for adding the possibility to use a database to store version files instead of the file system!

While I've managed to setup the new storage adapters, I'm wondering if there is any (standard) way to transfer version files from the file system to the database. Did anyone already wrote a script for this purpose? I couldn't find

[2022-09-12 06:24] mcop1 commented on #13120
@tharkay I moved your question to the discussions as there is no migration from pimcore side. Maybe someone in the community can help you out.

[2022-09-12 06:24] #13120 closed, assigned to nobody

[2022-09-12 06:40] aashan10 commented on #12938
Could not reproduce this issue on latest release v10.5.5 @NadineKaul please re-verify that this issue exists!
And also please make sure that you are running the migrations after updating the pimcore version.

[2022-09-12 08:24] mcop1 commented on #12814
Closed for now, if you have any news on this issue, feel free to reopen.
Thank you for your efforts.

[2022-09-12 08:24] #12814 closed, assigned to mcop1

[2022-09-12 09:21] danielerne opened #13125 "[Improvement]: Many-To-Many Relation - Ask for deletion"
### Improvement description

When deleting a relation in a Many-to-Many Relation it should ask the user if he wants to delete the row.
Currently it is very easy to delete the row which can have a big impact.

<img width="1602" alt="Bildschirmfoto 2022-09-12 um 11 16 45" src="https://user-images.githubusercontent.com/546931/189618224-9ca50ee1-2fc5-4b46-8c8b-ddb144d8c456.png">

[2022-09-12 10:10] #13126 closed, assigned to nobody

[2022-09-12 11:15] praveenjha2112 opened #13128 "[Bug]: preCopy Event is not Working"
### Expected behavior

![image](https://user-images.githubusercontent.com/112381479/189639123-989f0e5f-e4db-475f-a633-7c50f8ca30d3.png)
When i create a copy/paste an object it  should display me the dump of event/object in  .

`class ObjectActionListener{
   /*
    * funcation to handle preCopy Event
    *
    */

    public function onPreCopy(\Pimcore\Event\Model\DataObjectEvent $event){

[2022-09-12 11:53] #9686 closed, assigned to mcop1

[2022-09-12 12:17] #13021 closed, assigned to mcop1

[2022-09-12 13:24] #13028 closed, assigned to mcop1

[2022-09-12 13:41] kingjia90 commented on #12887
Fixed by #13114

[2022-09-12 13:41] #12887 closed, assigned to kingjia90

[2022-09-12 15:10] dvesh3 commented on #13004
Fixed by #13070

[2022-09-12 15:10] #13004 closed, assigned to kingjia90

[2022-09-13 05:27] deepakdhanji commented on #12938
@aashan10 I can confirm that this issue happens with fresh installation of v10.5.5 done in accordance with the [Pimcore Installation Guide](https://pimcore.com/docs/pimcore/current/Development_Documentation/Getting_Started/Installation.html)

In order to get around the issue, I had to manually register all the Areabricks in services.yaml. Attaching my working services.yaml file for use by any othe

[2022-09-13 05:52] vignesh-happiestminds opened #13137 "[Bug]: Unable to open uploaded video on first time"
### Expected behavior

I have recently updated pimcore version 10.5.5.

When i upload the video into assets. On click of the video, video should play.

![Screenshot from 2022-09-13 11-15-43](https://user-images.githubusercontent.com/109342064/189819162-c57c7f9a-1992-4353-9008-c677da360f3d.png)

### Actual behavior

I have recently updated pimcore version 10.5.5. After update the latest version pim

[2022-09-13 07:07] #13137 closed, assigned to nobody

[2022-09-13 08:09] TobiSW opened #13139 "[Improvement]: Add new post update event for site changes"
### Improvement description

Add new SiteEvent to hook into post site updates. For example we would like to reindex our Elasticsearch after a Site is saved

- Add new SiteEvents class
- Add new SiteEvent event class
- Adjust Site Model to override save method
- Adjust Site Model to override delete method

[2022-09-13 08:36] SamyMP commented on #13128
The "PRE_COPY" event is fired when you paste the copied object. I feel like this event needs to be rename "PRE_PASTE" and "POST_PASTE" since the event is triggered chen you click on "Paste as a child"

[2022-09-13 12:06] kingjia90 commented on #7390
This #11794 in 10.3.4 might have indirectly fixed that, as `intval` converts everything (null,empty strings,etc..) to `0` resulting as `IN (0,0,0)` after the implosion, which at least doesn't crash as a SQL syntax problem.

It would be interesting to know how it is originated in the first place since `id` should be an autoincrement index, maybe there was a `RIGHT JOIN` in the past?
Can you double-

[2022-09-13 12:23] sara-luise opened #13141 "[Bug]: wrong translation of title and description xliff-Export"
### Expected behavior

When you want to have a translation from for example 'de' to 'en':
at the end of the exported .xliff file (in XLIFF Export/Import) the `settings~-~title` and `settings~-~description` should be german in the source and english in the target.

....
[code]
...

### Actual behavior

The source and target content of both are in the source language.

....
[code]
...

### Steps to

[2022-09-13 12:24] sara-luise commented on #13141
Solution:

In `Pimcore\Translation\ExportDataExtractorService\DataExtractor\DocumentDataExtractor\addSettings`:

...
[code]
...

-> change to
...
[code]
...

[2022-09-13 12:36] dvesh3 commented on #12981
Fixed by #13075

[2022-09-13 12:36] #12981 closed, assigned to mcop1

[2022-09-13 12:48] mcop1 opened #13142 "[Improvement]: Add variants to DataObjects getChildren(), listing, .."
### Improvement description

See Bernie´s comment here:
https://github.com/pimcore/pimcore/pull/13061#issuecomment-1236727423

[2022-09-13 13:04] dvesh3 commented on #13141
@sara-luise thanks for reporting the issue. maybe you could provide a PR since you already know the solution 😉 thanks!

[2022-09-13 14:07] #12928 closed, assigned to aryaantony92

[2022-09-13 14:56] #12647 closed, assigned to nobody

[2022-09-13 15:12] julkue commented on #7212
Where do I find the reason for the deprecation / removal?

[2022-09-13 19:59] ctippler opened #13146 "[Bug]: Classification store saves data to wrong object (when inheritance is enabled)"
### Expected behavior

Currently it can happen that the classification store saves the data to a wrong object because of an inheritance issue.
This should never happen.

### Actual behavior

When two objects are saved in the same process and both of them don't have classification data set, values from the first object are saved at the second one.

When we first set the values to the "red" object,

[2022-09-14 08:09] ctippler commented on #13146
Currently the only option i see to solve this would be to change the inheritance function:
![image](https://user-images.githubusercontent.com/8791970/190098189-602dcdef-150f-4efd-b12d-dc463300242c.png)

What do you think?
Regards,
Christian

[2022-09-14 08:24] #8237 closed

[2022-09-14 08:34] AndrewKMoses commented on #13089
We are having issues with this also in the case of using Unique on an attribute. We want to be able to have no value (null) for the attribute on some objects and in those cases we can not update the object after creating it if there are multiple objects with no value for the attribute (because null turns into '' on update).

We had to turn disable the unique check.

[2022-09-14 08:53] dvesh3 commented on #13141
Fixed by #13145

[2022-09-14 08:53] #13141 closed, assigned to nobody

[2022-09-14 09:43] kingjia90 opened #13149 "[Improvement]: Objectbrick and Fieldcollection Definition\Listing to not always `include` the files"
### Improvement description

The  ObjectBrick and Fieldcollection definition/listing::load loop through all the related php files and `include()` it, but sometimes only the filename is used and necessary and should avoid to include these files.

More details on this https://github.com/pimcore/pimcore/pull/13114#issuecomment-1243629782

[2022-09-14 10:58] ctippler commented on #13146
Well on the other hand we have the "relation" Datatype where we might want a reference? So maybe we have to check if it is a ClassificationStore?

[2022-09-14 11:09] kingjia90 commented on #13101
Fixed by https://github.com/pimcore/pimcore/pull/13103

[2022-09-14 11:09] #13101 closed, assigned to nobody

[2022-09-15 08:01] Cruiser13 opened #13161 "[Improvement]: Admin translation in Document to use current admin language"
### Improvement description

If you are currently using some admin translation in a twig template of your documents (as described in the docs [here](https://pimcore.com/docs/pimcore/current/Development_Documentation/Multi_Language_i18n/Admin_Translations.html#page_Example-Translate-Options-of-a-Select-Editable) ) this translation will use the language of the current document. I propose to use the

[2022-09-15 09:23] mcop1 opened #13162 "[Bug]: Fix failing float value comparison in codeception tests"
### Expected behavior

Float value comparison should return true if the values are the same.

### Actual behavior

Doesn´t return true, see failing tests, e.g.
https://github.com/pimcore/pimcore/actions/runs/3057680555/jobs/4933083365
![image](https://user-images.githubusercontent.com/89011527/190366662-fb8e28d0-3999-4e3d-b55f-6836531a2937.png)

Seems to be a problem with floating point precision,

[2022-09-15 09:23] brusch commented on #7212
The reason is that there are many other (and most probably better) products for that purpose 😉
But if you still need it it should be quite simple to extract the functionality into a bundle (maybe someone did that already?).

[2022-09-15 09:37] brusch commented on #9357
We should keep this open until #12094 is done, because certain packages are only needed because of functionalities which will be moved to a bundle.

Example:
`symfony/form` is only used by Targeting.

[2022-09-15 11:13] yamenalahlas opened #13166 "[Bug]: Processing update index queue via Symfony messenger workers [Portal engine]"
### Expected behavior

Processing update index queue via Symfony messenger workers can be successfully executed.

### Actual behavior

Processing update index queue via Symfony messenger workers cannot be successfully executed.

Error:
The receiver "pimcore_portal_engine" does not exist. Valid receivers are: pimcore_core, pimcore_maintenance, pimcore_image_optimize, pimcore_index_queues, pimcore_d

[2022-09-15 11:56] mcop1 commented on #13166
@yamenalahlas Do you get any error messages? What if you add "-vv" option to the messenger:consume command?

[2022-09-15 12:05] yamenalahlas commented on #13166
yes, it throws some exceptions,
11:45:25 INFO      [php] User Deprecated: Specifying types in urls has been deprecated
12:00:24 INFO      [php] Deprecated: strip_tags(): Passing null to parameter #1 ($string) of type string is deprecated
12:03:44 INFO      [php] Deprecated: Return type of
Pimcore\Bundle\PortalEngineBundle\Model\BasicJsonModel::jsonSerialize() should either be compatible with JsonS

[2022-09-15 12:14] hethehe opened #13167 "[Bug]: svg with transparent background becomes black background"
### Expected behavior

background remains transparent

### Actual behavior

background becomes black

### Steps to reproduce

Upload a .svg image with transparent background (or without background at all)
Show the preview in admin mode or in frontend (with defined thumbnail)

Didn't found out where exactly the bug is, but with an older (about 3 month ago / Image) pimcore/pimcore:PHP8.1 image it wo

[2022-09-15 12:16] Hcheikhis opened #13168 "[Bug]: Pimcore portal: public share link "in collections" is not working"
### Expected behavior

After generating public share link , should the result be available .

### Actual behavior

SyntaxError: Unexpected token '<', "<!DOCTYPE "... is not valid JSON

No Results

### Steps to reproduce

1. create new collection
2. add some assets
3. defining the public share configs (name, expire day , ...)
4. copy, past the generated link in new browser tap

[2022-09-15 12:32] Hcheikhis opened #13169 "public share link is not working [Bug]: #13168[Bug]:"
### Expected behavior

be able to generate public share link from an Asset data pool

### Actual behavior

Notification:
An error has occured.

### Steps to reproduce

in the target asset --> public share --> and then defining the content format and some additional settings like name, expiry date etc. --> create public share

[2022-09-15 13:16] dkarlovi opened #13170 "[Bug]: Pimcore allows save() from an object instance with stale data"
### Expected behavior

[code]

### Actual behavior

Both writes are allowed, losing data (or unexpectedly splitting it into separate version branches).

### Steps to reproduce

Described above.

[Doctrine describes entity "optimistic locking"](https://www.doctrine-project.org/projects/doctrine-orm/en/latest/reference/transactions-and-concurrency.html#locking-support) where it's possible to reject

[2022-09-15 13:55] mcop1 commented on #13168
Is the other issue you created a duplicate or a really a separate issue?
https://github.com/pimcore/portal-engine/issues/240

[2022-09-15 14:37] #13162 closed, assigned to mcop1

[2022-09-15 14:53] Hcheikhis commented on #13168
Is a separate issue

[2022-09-16 05:56] ghost opened #13174 "Pimcore login username should be case sensitive"
### Expected behavior

Pimcore login username should be case sensitive

### Actual behavior

Login is not implemented with case sensitive username like,
IF we have username: admin,  in that case, we can log in with **ADmiN** username also, I think the username should be case sensitive.

### Steps to reproduce

Go to Pimcore admin login page -> https://demo.pimcore.fun/admin

we have username: **ad

[2022-09-16 07:47] NiklasBr commented on #13174
OWASP suggests that usernames should be case insensitive.

https://cheatsheetseries.owasp.org/cheatsheets/Authentication_Cheat_Sheet.html

[2022-09-16 08:39] robertSt7 commented on #13174
Closed due to owasp recommendation

[2022-09-16 08:39] #13174 closed, assigned to nobody

[2022-09-16 09:27] kingjia90 commented on #13169
@Hcheikhis which version of Portal Engine are you using?

[2022-09-16 09:41] kingjia90 commented on #13169
To me, it works, even on https://portal-demo.pimcore.com/ , just the single download on public share had problems and got recently fixed and will be released in 2.4.2.
I've found out that before v2.1.6, if the public share link date is the same as the current date, it may not work properly.

[2022-09-16 09:53] Hcheikhis commented on #13169
i just looked, i have the 2.4.1 version.
but Am not sure if thats the problem, cause i have the same version like in demo !

[2022-09-16 10:11] SyedHassanAli43160 commented on #7298
worst cms ever pimcore

[2022-09-16 11:50] MyZik opened #13181 "[Bug]: Pimcore Backend UI: object.edit.getLayout() returns only first tab"
### Expected behavior

`object.edit.getLayout()` should return the layout data with all fields

### Actual behavior

`object.edit.getLayout()` returns the from the first tab

### Steps to reproduce

I have custom `Property` objects like: Color, Size, etc.
Then I have a `PropertyOption` object with relation to `Property` like: Red -> Color, Green -> Color, Blue -> Color, S -> Size, M -> Size, L ->

[2022-09-16 12:25] dvesh3 commented on #11628
Already done in https://github.com/pimcore/pimcore/pull/13097

[2022-09-16 12:25] #11628 closed, assigned to robertSt7

[2022-09-16 13:25] #12926 closed, assigned to aashan10

[2022-09-19 06:30] brusch commented on #12472
Reopened, see comments here: https://github.com/pimcore/pimcore/pull/12867#issuecomment-1250335063

[2022-09-19 07:52] dvesh3 commented on #12472
No follow up required. please see https://github.com/pimcore/pimcore/pull/12867#issuecomment-1250632438

[2022-09-19 07:52] #12472 closed, assigned to dvesh3

[2022-09-19 09:31] #7390 closed

[2022-09-19 10:33] Chris-Gett opened #13189 "[Bug]: Warning: "Attempt to read property "containerKey" on null" when i want to save a data object"
### Expected behavior

just safe the object without the warning...

### Actual behavior

The Warning: "Attempt to read property "containerKey" on null" appears when i want to save a data object.

The message does not appear with all, but only with a certain class of data objects. I have for me at the moment no approach where I can look for the error.

Also, I can't edit this data object in the tab

[2022-09-19 12:48] lukadschaak opened #13195 "[Improvement]: Prevent db errors on index updates on classes rebuild"
### Improvement description

When rebuilding classes via `bin/console pimcore:deploy:classes-rebuild`, the indexes of all class definitions are updated in this process. Pimcore uses the trait `\Pimcore\Model\DataObject\ClassDefinition\Helper\Dao` to do this.

The trait uses `ALTER TABLE ... ADD INDEX ...` and `ALTER TABLE ... DROP INDEX ...` for the actual operations. The SQL queries throws errors

[2022-09-19 13:03] brusch commented on #13195
I think it should be also possible to use Doctrine's schema manager for that, just as we do it e.g. in our migrations:
https://github.com/pimcore/pimcore/blob/2f18a0f26380c56b609d937b40d2050c8d1a3e1a/bundles/CoreBundle/Migrations/Version20210408153226.php#L39

[2022-09-19 13:10] dvesh3 commented on #13102
@dkarlovi could you please check https://github.com/pimcore/pimcore/pull/13196? thanks!

[2022-09-19 13:13] dkarlovi commented on #13102
@dvesh3 I'll have time to test it Wednesday, is that OK?

[2022-09-19 13:18] dvesh3 commented on #13102
@dkarlovi no rush. the release is scheduled for next week 😉

[2022-09-19 15:16] dvesh3 commented on #13167
seems related to https://github.com/pimcore/pimcore/pull/11807

[2022-09-19 19:56] kingjia90 commented on #13169
@Hcheikhis could you please provide more details about the error message?

I've found another potential problem when there are no language variant documents linked, it displays
`Undefined array key "en"`, might this be also in your case?

[2022-09-19 19:58] kingjia90 commented on #13168
@Hcheikhis could you please provide further details about the output `<!DOCTYPE `... ? It could be hinting a permission issue or some other bugs. If possible, a screenshot of the developer tools preview tab of the given XHR call.

[2022-09-19 21:11] myspulin commented on #12938
I have the same issue on fresh installation v10.5.6 on windows by https://pimcore.com/docs/pimcore/current/Development_Documentation/Getting_Started/Installation.html

Frontend show the error: Areabrick wysiwyg is not registered

[2022-09-20 07:39] #12790 closed, assigned to aashan10

[2022-09-20 08:31] #12938 closed, assigned to aashan10

[2022-09-20 08:47] lukadschaak commented on #13195
Nice mention!

With Doctrine as feature, but not so much experience, i tried some things and this is what i found out.

Create a schmema from inside the code is a heavy lifting for the database in term of number of requests. Following works, but it would be necessary to cache that schema over the whole classes rebuild process.

[code]

Another solution is to use the SchemaManager directly like thi

[2022-09-20 10:00] #12986 closed, assigned to mcop1

[2022-09-20 10:02] #12482 closed, assigned to mcop1

[2022-09-20 10:18] SamyMP commented on #12865
Maybe we could have the help of @fszenborn for this improvement ? If you have time of course 😊

[2022-09-20 10:24] dvesh3 commented on #13167
My findings are:

When taking pull of latest docker images and building the containers, the new version of imagemagick is installed which is version `7.1.0-48 Q16-HDRI x86_64 20449` and the svg transparent thumbnail issue is reproducible on latest version as shown below:

Image used:
![transparency-svgrepo-com (1)](https://user-images.githubusercontent.com/5137917/191730667-1df1c59e-7024-4120-947c

[2022-09-20 12:39] NiklasBr opened #13207 "[Improvement]: Implement `$args` parameter to `Concrete` & `AbstractObject::save()`"
### Improvement description

The `save()` method on these classes actually accept arguments, but since it is by means of `func_get_args()` rather than method parameters it is not clear from the code overview given by docblock or editor inspections, e.g.

![image](https://user-images.githubusercontent.com/279826/191258121-425f8a78-db22-4366-9c9d-78a6143764ee.png)

Nobody knows, unless reading every

[2022-09-20 13:37] hethehe opened #13208 "[Bug]: search_backend_data does not get updated when the folder changes"
### Expected behavior

Backend Search Index (table: search_backend_data) should also be updated if the folder changes (rename)

### Actual behavior

Backend Search Index (table: search_backend_data) is not updated if the folder changes (rename)

### Steps to reproduce

- create a folder in assets
- upload a file to this folder
- open database and search for the ID of this document in the table "se

[2022-09-21 07:53] Hcheikhis commented on #13169
@kingjia90 its right when am working in my dev environment i become exactly the same error "Undefined array key "en" but in the production environment  "An error has occured" . Unfortunately i cant get more details about this problem .
can you please tell me more about "language variant documents" i really tried everything to solve it ..
thanks you

[2022-09-21 08:00] kingjia90 commented on #13169
@Hcheikhis good, the PR will be reviewed and it will be fixed in 2.4.2, but in the meanwhile to hotfix it, change
Portal Engine Bundle `src/Controller/Rest/Api/PublicShareController.php` from
`$documentPathDocument = $languageVariants[$locale] ? Document::getById($languageVariants[$locale]) : $documentPathDocument;` to
`$documentPathDocument = $languageVariants && $languageVariants[$locale] ? Docu

[2022-09-21 08:03] #13125 closed, assigned to mcop1

[2022-09-21 09:33] #11679 closed, assigned to nobody

[2022-09-21 11:57] Hcheikhis commented on #13169
@kingjia90 it works, public share links generated after adding link existing document in my Dev environment, but unfortunately not in the production env. I’m getting the same error  message "An error has occured". really confusing !
I thought it would be the same problem .
thanx alot for your help

[2022-09-21 12:26] kingjia90 commented on #13169
Ah, then i will keep looking for any bugs.
Would you be able to extract the details of the error occuring in production?

[2022-09-21 12:28] Cruiser13 opened #13215 "[Feature]: Restrict dev environment to certain ip adresses"
### Feature description

I'd love to see this feature, it has been really useful for Pimcore 6 and is gone since Pimcore X.
It's problematic to set the whole instance to dev mode if you want to debug a live system and creating another instance for debugging each time can really slow down the work process.
Some IP specification option for the DEV environment would be awesome.

[2022-09-21 12:35] Hcheikhis commented on #13169
Ok Thanks anyway , unfortunately i can’t extract the details , for that i usually use the php debugger which it is only available in my dev env.
i will still looking for any helpful information.

[2022-09-21 12:42] NiklasBr commented on #13215
I suppose you could [use Symfony's access_control for this](https://symfony.com/doc/5.4/security/access_control.html) and have different [ENV variables per environment](https://symfony.com/doc/5.4/configuration.html#overriding-environment-values-via-env-local).

[2022-09-21 14:58] Hcheikhis commented on #13169
Hello again, i just found another detail after adding the debug mode to my prod .. now i become this :
An exception occurred while executing 'INSERT INTO portal_engine_public_share (collectionId, hash, name, userId, currentSiteId, expiryDate, showTermsText, termsText, configs, creationDate, modificationDate) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)' with params [null, "3e97a1c41b28c774f244bf2c9e13

[2022-09-21 14:59] dkarlovi commented on #13102
@dvesh3 I can confirm this indeed fixes the issue. \o/ I can't say if the fix introduces any unwanted side-effects, but the issue described is indeed fixed.

[2022-09-21 15:13] kingjia90 commented on #13169
The table structure of `portal_engine_public_share` seems allowing NULL on `collectionId`
![image](https://user-images.githubusercontent.com/6014195/191542211-6371be04-75b2-4b1c-b3bc-775a5e2af9a2.png)
So might be that you have to make that column nullable in prod

[2022-09-21 15:17] kingjia90 opened #13217 "[Task]: Bump `friendsofsymfony/jsrouting-bundle` to version 3"
Related https://github.com/pimcore/pimcore/issues/13034

[Allow Symfony 6, migrate to Typescript, drop support for SF<5.4 and PHP<8.0](https://github.com/FriendsOfSymfony/FOSJsRoutingBundle/releases/tag/3.0.0)

[2022-09-21 15:31] dvesh3 commented on #13102
@dkarlovi thanks for confirming 👍  we'll test it further to check side effects.

[2022-09-21 15:40] dvesh3 opened #13220 "[Bug] 2FA not trigger with new authenticator"
After installing the latest Demo Package Version (10.5) on PHP 8.1, i tried to setup 2FA but it simply does not work.

- Enabled the 2FA checkbox in the user profile
- After reloading the backend no change in login form - 2FA does not trigger
- Fresh browser instance with cleared caches does not work either

I cleared all caches and temporary files, doesn't help.

Setup:
- Apache / PHP 8.1 FPM
- R

[2022-09-21 16:03] elmarputz commented on #13220
@dvesh3 thanks

[2022-09-21 16:26] Cruiser13 commented on #13215
I'm not sure about this @NiklasBr because the access control is already loaded inside an environment. If Pimcore is loading in the prod environment, it's not possible to switch to the dev environment at a point where access control can check something. But I might have missed something here.

[2022-09-22 07:02] NiklasBr commented on #13215
Aha, yeah now I think I understand. My suggestion would not help with that unfortunately.

[2022-09-22 07:42] mcop1 commented on #13098
@jremmurd I think #13028 won´t fix your problems, because the values do not get passed here:

https://github.com/pimcore/pimcore/blob/e4d4d0fdf12d1d850b098f728f43fc4b09733d33/models/DataObject/ClassDefinition/Data/Objectbricks.php#L184

Which values would you expect here, since group and key normally refer to the classification store group & key values?

[2022-09-22 07:54] Cruiser13 commented on #13215
We found a general solution but some easier way/pimcore implementation would be great.

Will post here for others with the same issue anyway.
Use the generally wished environment in our .env file, e.g.
[code]
Modify the public/.htaccess with the following lines:
[code]
where 255.255.255.0 is your IP address which should have the debug mode enabled.

[2022-09-22 08:03] Hcheikhis commented on #13169
@kingjia90 yes it works  👍

[2022-09-22 08:05] kingjia90 commented on #13169
awesome! can you also verify if this https://github.com/pimcore/pimcore/issues/13168 is still reproducible? probably is the same problem

[2022-09-22 08:19] mcop1 commented on #13146
@ctippler
I just tested the behavior in the current 10.5 branch, but I couldn´t reproduce the problem. I used your test code and modified it a bit to reflect the groups / keys in my environment. Additonally I added the following at the end of your code:

[code]

In the output I can see that only the attributes for the blue object have an active group and item set.
![grafik](https://user-images.git

[2022-09-22 08:29] ctippler commented on #13146
Hi,
i have v10.2.9 .
Have you resetted the field before testing and called it in a "frontend"  - so that no group is assigned to any object (because it only appears then)?
https://example.com/de/developer/classification?reset=true

When you call $blue->getAttribtues() it goes into the $this->getValuesFromParent(), and returns the classification store from the parent - or?

Regards,
Christian

[2022-09-22 08:36] mcop1 commented on #13166
The deprecations aren´t 100% ideal, but they shouldn´t be a problem. I moved your issue to the discussions, maybe someone there had similiar problems and can help.

[2022-09-22 08:36] #13166 closed, assigned to mcop1

[2022-09-22 08:44] brusch opened #13224 "[Admin UI] Remove SQL filter functionality in data object grid"
### Improvement description

That's not state of the art ...

[2022-09-22 09:29] mcop1 commented on #13146
No, it doesn´t, but the code changed a bit there. Maybe your problem is related to this pr? https://github.com/pimcore/pimcore/pull/11270

[2022-09-22 11:19] robertSt7 commented on #12903
Since we are using an index search and we are only indexing the key, the search is limited to the key and indexing all languages of a key would make the index extremely large. As alternative you could use the filter for the translated values.

[2022-09-22 11:43] jremmurd commented on #13098
I would expect the values as they where previously. So i.e. `$context->getIndex()` in a calculated value field within a brick would return the name of the Brick.

So i.e. container field `tenantData` (ownerName) and brick name `MyTenantData` then, `getIndex()` should return "`MyTenantData`"

[2022-09-22 12:00] brusch commented on #13169
Moving this to the right repository.
@Hcheikhis if you don't have already access to it, please contact enterprise-support@pimcore.com

[2022-09-22 13:45] kamilawiercinska commented on #12903
Please advise then, does your last comment mean that you are not going to fix that behaviour?
And can you please explain more about the filter for the translated values?

[2022-09-22 13:46] brusch opened #13228 "Remove BC layer in class resolver"
### Improvement description

Follow up to: https://github.com/pimcore/pimcore/pull/13175

[2022-09-22 13:56] kingjia90 commented on #13168
Thank you again for reporting!
I am closing this issue, as it feels may be originated by the same problem that we found about the `collectionId` not being nullable in the db table of the prod env (which is now https://github.com/pimcore/portal-engine/issues/240)

@Hcheikhis If it's still occuring, please open a new ticket on the Portal Engine repository.
If you don't have already access to it, ple

[2022-09-22 13:56] #13168 closed, assigned to kingjia90

[2022-09-22 14:08] brusch commented on #13215
Thanks for sharing your ideas, however, my feeling is we should stay as close to Symfony here as possible and follow their best practices. Therefore I'm closing this issue for now, but please feel free to continue the discussion 😊

[2022-09-22 14:08] #13215 closed, assigned to nobody

[2022-09-22 14:11] brusch commented on #12959
Don't think this is a valid bug ... the CSV export should export the values of a field not the labels.
So imho everything is correctly here.

[2022-09-22 14:11] #12959 closed, assigned to robertSt7

[2022-09-22 14:16] kamilawiercinska commented on #12959
@brusch  but we are talking here about the values of the fields :) labels are not being exported and I am aware of that.
but the values are not being translated in the export, which makes an issue for me.

[2022-09-22 14:18] brusch commented on #12903
Yes, we not gonna work on that anytime soon.
The search uses the search index, which only includes the values and not the translated labels.

[2022-09-22 14:18] #12903 closed, assigned to robertSt7

[2022-09-22 14:18] blankse commented on #13228
@brusch Is already done, isn't it? https://github.com/pimcore/pimcore/pull/12742

[2022-09-22 14:20] brusch commented on #12959
@kamilawiercinska no you're talking about the translated labels of for instance an select field, the value is this:
![image](https://user-images.githubusercontent.com/142037/191772488-ae1a3d7f-465b-4912-a36e-b83c5d262f81.png)

[2022-09-22 14:29] kamilawiercinska commented on #12959
@brusch okay, so please review this scenario:
I am french. I am using pimcore in french. I am looking at the grid, I can see a translated value FRENCH LUXURY CAR:

![image](https://user-images.githubusercontent.com/49391646/191774165-23e60685-b974-47ca-ac43-9eb4d44dd8f4.png)

But I need to make a pivot table with my data, so I want to export data to xls/csv.

![image](https://user-images.githubuse

[2022-09-22 14:57] #12453 closed, assigned to aryaantony92

[2022-09-23 06:20] passioneight commented on #11242
🏓 ...

[2022-09-23 06:47] #13228 closed, assigned to nobody

[2022-09-23 06:48] brusch commented on #13228
Oh, thanks a lot for pointing out 😊

[2022-09-23 06:59] MadeP commented on #5010
Ok, the silent loss could not be determined in the way so far. Have checked and it is true. Then the workaround that no commas are allowed is probably best for now. Would still be good if commas work in the future though.

[2022-09-23 09:22] kingjia90 commented on #13220
Fixed by  #13225

[2022-09-23 09:22] #13220 closed, assigned to dvesh3

[2022-09-23 11:12] kingjia90 commented on #13034
At the current state these packages can be updated, just writing down a list here so each item can be then converted to issue on github,

### Symfony Bundles
Major `6` adds support to Symfony 6, while minor `1` bump minimum PHP to 8.1
- [ ] Bump symfony/asset to ^6.1
- [ ] Bump symfony/cache to ^6.1
- [ ] Bump symfony/console to ^6.1
- [ ] Bump symfony/debug-bundle to ^6.1
- [ ] Bump symfony/depen

[2022-09-23 11:15] kingjia90 commented on #13034
weird, don't we have this feature here? 🙈
![image](https://user-images.githubusercontent.com/6014195/191948995-142c505d-8b28-40a8-b78f-49f31b2d934d.png)

[2022-09-23 11:46] #12725 closed, assigned to aashan10

[2022-09-26 10:02] brusch commented on #13034
We should imho update all of them to the latest major version.

[2022-09-26 10:12] brusch opened #13242 "Bump Symfony packages to ^6.1"
### Improvement description

See also https://github.com/pimcore/pimcore/issues/13034

[2022-09-26 10:13] brusch opened #13243 "Bump mjaschen/phpgeo to ^4"
### Feature description

See also https://github.com/mjaschen/phpgeo/blob/master/CHANGELOG.md#400---2021-11-29

[2022-09-26 10:14] brusch opened #13244 "Bump monolog/monolog to ^3"
### Improvement description

https://github.com/Seldaek/monolog/releases/tag/3.0.0

Also check if this needs changes to the monolog-bundle.

[2022-09-26 10:15] brusch opened #13245 "Remove psr/simple-cache dependency"
### Improvement description

~https://github.com/php-fig/simple-cache/releases/tag/3.0.0 we are 2 major behind, but in one it adds return type and the other one param native types~

[2022-09-26 10:16] brusch opened #13246 "Bump league/flysystem-bundle to ^3.0"
### Improvement description

Also consider clean-up task https://github.com/pimcore/pimcore/blob/ece8fb4941784bc6c0aab3f499ced300b14e3dd6/lib/Maintenance/Tasks/LogArchiveTask.php#L138-L139 follow-up of https://github.com/pimcore/pimcore/pull/12704#issuecomment-1190120082

[2022-09-26 10:17] brusch opened #13247 "Bump matomo/device-detector to ^6"
### Improvement description

apparently just some improvements

[2022-09-26 10:17] brusch opened #13248 "Bump elasticsearch to ^8.0"
### Improvement description

Elastic Search to ^8 [BC](https://github.com/elastic/elasticsearch-php/blob/master/BREAKING_CHANGES.md#80)

[2022-09-26 10:18] brusch opened #13249 "Bump league/html-to-markdown to ^5"
### Improvement description

https://github.com/thephpleague/html-to-markdown/releases/tag/5.0.0

[2022-09-26 10:19] brusch commented on #13034
Created follow-up tickets:

- [x] https://github.com/pimcore/pimcore/issues/13242
- [x] https://github.com/pimcore/pimcore/issues/13243
- [x] https://github.com/pimcore/pimcore/issues/13244
- [x] https://github.com/pimcore/pimcore/issues/13245
- [x] https://github.com/pimcore/pimcore/issues/13246
- [x] https://github.com/pimcore/pimcore/issues/13247
- [ ] https://github.com/pimcore/pimcore/issues/

[2022-09-26 10:19] #13034 closed, assigned to kingjia90

[2022-09-27 07:56] gjorgic commented on #7290
Hi @brusch, please can you tell me what is the further intention behind this migration to native JS? Are you planning to change all current plugin logic including `Class.create`?

Can i simple make my own broker which will act as proxy between JS native events and my component?

[2022-09-27 09:48] ctippler commented on #13146
Hi,
yes, you are right - https://github.com/pimcore/pimcore/pull/11270 solves this. I tested it with the latest Pimcore version and it works fine.

Thanks for your support,
Regards,
Christian

[2022-09-27 09:48] #13146 closed, assigned to mcop1

[2022-09-27 09:51] kamilawiercinska commented on #12903
@robertSt7
You wrote "As alternative you could use the filter for the translated values." - the filter mechanism does not work with the translated labels either. Should it work?

[2022-09-27 11:36] dkarlovi opened #13254 "[Bug]: \Pimcore\Console\Application marked @internal, but meant for direct use by Pimcore apps' bin/console"
### Expected behavior

Public API is not marked internal.

### Actual behavior

Pimcore Console Application marked `@internal`.

### Steps to reproduce

1. create a project from pimcore/skeleton
2. analyze with Psalm
3. [usage of Application](https://github.com/pimcore/skeleton/blob/b408879dd362a441646d0d1f7eb20c208c629d06/bin/console#L48) marked as invalid

[2022-09-27 12:57] LeonNoBears opened #13255 "[Bug]: Wrongfully inheritance of object bricks"
### Version
10.5.5

### Expected behavior

Child / Variant overwrites parent object brick value(s) and no exception is thrown.

### Actual behavior

Child / Variant seems to overwrites parent object brick value(s) but an exception is thrown and DB records are not removed / deleted.

### Steps to reproduce

Create a class ( FooEntity )
- Create a field in the class to place an objectbrick in ( FooO

[2022-09-28 07:40] kamilawiercinska opened #13258 "[Bug]: Filter mechanism in CS does not work properly when language of UI is different than english"
### Expected behavior

As a non-english user I can search for a key type in my language, which is also previewed on UI.

### Actual behavior

Even though, the types of keys are shown in the correct language, search mechanism does not work in that language. There is an inconsisency within the data on UI and data in the filter mechanism which causes user's confusion.

### Steps to reproduce

1. Log

[2022-09-28 08:55] brusch commented on #7290
@gjorgic Sure: using native events makes it a lot easier to hook into the UI, because you actually don't need a bundle anymore or following a specific structure - you just do it the normal JS way - and of course the code is more readable and shorter 😉

Broker: yes, this is what we actually did here for `10.5`:
https://github.com/pimcore/pimcore/pull/12566/files#diff-068bb2dae95fa59414280126f267d3e

[2022-09-28 09:20] robertSt7 commented on #12903
@kamilawiercinska Yes, it should work. Could you please provide more details?

[2022-09-28 09:45] dkarlovi opened #13260 "[Bug]: AssetController uses fpassthru($asset->getStream()), but it can return null"
### Expected behavior

Handle null streams correctly

### Actual behavior

If asset stream is null, it produces an error

[code]

### Steps to reproduce

Have an asset where you cannot obtain its stream and try to download it.

See

https://github.com/pimcore/pimcore/blob/b2110bb3c416cbf4a7fce967fe98a0e031d642a0/bundles/AdminBundle/src/Controller/Admin/Asset/AssetController.php#L1299
https://githu

[2022-09-28 09:49] kamilawiercinska commented on #12903
@robertSt7
1. i am logged as a french user
2. opening car grid
3. choosing CS
4. filtering by french name

https://user-images.githubusercontent.com/49391646/192748169-8c5ec469-489c-4ef4-ace0-1dfc40e2c7e6.mp4

only english (key) name works in the filter mechanism, same as the search one. even though, the french name is visible on UI, which causes user's confusion.

[2022-09-28 12:03] brusch commented on #13102
Fixed by #13196

[2022-09-28 12:03] #13102 closed, assigned to dvesh3

[2022-09-28 12:32] brusch commented on #13260
@dkarlovi Thanks for reporting - can you maybe create a PR for that? 😊 Thanks in advance!

[2022-09-28 13:48] SamyMP commented on #11651
Any chance to have this feature in the next release or in Pimcore 11 ?

[2022-09-28 17:50] robertSt7 opened #13266 "[Improvement]: Replace childs with children in the operators"
### Improvement description

Replace childs with children in the operators of the grid config

Follow up: #10535

[2022-09-29 04:42] Krojan opened #13269 "[Bug]: Updating Number field to only unsigned throws ValidationException but shows negative value on refresh"
### Expected behavior

- Unsigned number field should not show negative value on refresh

### Actual behavior

-Unsigned number field shows negative value too but does not save that value in database

### Steps to reproduce
![Screenshot from 2022-09-29 10-30-17](https://user-images.githubusercontent.com/67037903/192940992-163d6404-552f-45e0-9986-d8e5ea6527f8.png)

![Screenshot from 2022-09-29 10-3

[2022-09-29 07:40] brusch commented on #11651
@SamyMP if you (or someone else) provides a PR for that, the chance is about 100% 😉

[2022-09-29 07:56] SamyMP commented on #11651
Currently trying to work on it as we speak, not sure if I'll be able to pull this off though 😅
I'll keep you updated

[2022-09-29 08:33] brusch commented on #13269
That probably happens when you change the setting of the field after you've set the value, right?
That's probably a behavior we can't change ... 🤔

[2022-09-29 08:46] dkarlovi opened #13271 "[Improvement]: access the admin API using a JWT instead of the session"
### Improvement description

Currently, the admin API uses the active session to authenticate the user. This works, but comes with quite some issues:

1. it's stateful, you need a session active for each request
2. since the requests are concurrent, this means session needs locking, it can block requests
3. you also need CSRF tokens to ensure the requests being done were actually meant to be done

[2022-09-29 09:25] kingjia90 opened #13272 "[Portal engine] Data from block in localized fields are not shown in portal"
### Discussed in https://github.com/pimcore/pimcore/discussions/13159

<div type='discussions-op-text'>

<sup>Originally posted by **Maksonis** September 15, 2022</sup>
Hi,

when you add block in localized fields data is not shown in portal detail page.

Steps:

- add it like this:
![image](https://user-images.githubusercontent.com/17277953/190330993-5aed7acf-1a6e-47a2-9582-acc83d0d6e64.png)

- ad

[2022-09-29 09:27] kingjia90 opened #13273 "[Portal Engine] Can't create Data object data pool document"
### Discussed in https://github.com/pimcore/pimcore/discussions/13262

<div type='discussions-op-text'>

<sup>Originally posted by **Maksonis** September 28, 2022</sup>
Hi,

when I try to create document of type:

![image](https://user-images.githubusercontent.com/17277953/192797255-65e80e48-f41d-43ff-a1ec-d2a39958f55a.png)

I get this error:

![image](https://user-images.githubusercontent.com/172

[2022-09-30 07:01] passioneight opened #13280 "[Bug]: GeoPoint JavaScript Exception"
### Expected behavior

No matter what the user types into the search field, no exception is thrown when searching.

### Actual behavior

If the user enters a search string that results in OSM responding with a `200` response and an empty body, a JS error is thrown:

![image](https://user-images.githubusercontent.com/57256630/193209276-46b70fb6-b6e0-499d-9525-c213367e297b.png)

This happens because

[2022-09-30 07:11] damianlinek commented on #13189
https://github.com/pimcore/pimcore/pull/12908/files
Upper PR is causing a problem. Im not sure why there is containerKey attribute, cause I have nothing like this at my objectbricks and json is always null in all of my tests.

### Steps to reproduce
1. Add Operator to grid
2. Add field from objectbrick as child to operator
3. save

Grid view:
![image](https://user-images.githubusercontent.com/8697

[2022-09-30 07:53] robertSt7 opened #13281 "[Improvement]: Align the config options of many-to-many and advanced-many-to-many-relation"
### Improvement description

![image](https://user-images.githubusercontent.com/104770750/193220203-b8f67577-5327-488c-a19d-25f18899bd35.png)

[2022-09-30 09:13] passioneight commented on #7818
This is reproducible on demo (10.5.7). @AlexanderWeckmer were you able to fix this? If so, any chance you can share the fix?

Update: _without_ disabling lazy load.

[2022-09-30 10:38] Navino16 opened #13283 "[Bug]: composer install with maintenance enabled"
### Expected behavior

When maintenance mode is enabled we should be able to run "composer install"

### Actual behavior

When maintenance mode is enabled, composer install stop when running "Pimcore\Composer::clearCache"

![image](https://user-images.githubusercontent.com/22234867/193252253-b466481d-fee3-47fa-8f37-cc44295f2b98.png)

### Steps to reproduce

* Install last pimcore version
* Enable

[2022-09-30 11:13] NiklasBr commented on #7657
@passioneight Managed to get back to this issue now and your workaround helped a lot, thanks!

[2022-09-30 16:22] Eviradnus opened #13287 "[Bug]: pimcore-install process is failing"
### Expected behavior

In a  `pimcore/pimcore:PHP8.1-fpm` docker image,
on a freshly composer-generated Pimcore skeleton,
given the appropriate configuration (either `PIMCORE_INSTALL_*` env variables or `--mysql-*` options),
I can install Pimcore using `pimcore-install`.

### Actual behavior

It fails:
[code]

Logs extract:
[code]

Note: when editing `pimcore/vendor/doctrine/dbal/lib/Doctrine/DBAL

[2022-10-03 06:46] mikbagautdinov opened #13292 "[Bug]: Cannot update or upload assets after deploying pimcore to PROD stand"
### Expected behavior

The Operator is able to upload, update and work with assets.

### Actual behavior

When trying to upload new file the message is shown:

_An exception occurred while executing 'SELECT IFNULL(binaryFileId, id) FROM versions WHERE binaryFileHash = ? AND cid = ? AND storageType = ? ORDER BY id ASC LIMIT 1' with params ["d5b38a8ce2e5bb509ac1b5864ef5d8aeff2f7f8dee876a2688e6d61dd1

[2022-10-03 07:00] mcop1 commented on #13292
@mikbagautdinov did you check if there is a column called `storageType` in the `versions` table? The column should be created during installation or migration, please see: https://github.com/pimcore/pimcore/pull/11458

[2022-10-03 09:15] mikbagautdinov commented on #13292
@mcop1 There is no column storageType in the versions table either on the stage stand (Pimcore Platform v10.1.3) or on PROD stand (Pimcore Platform v10.5.5) after database dump was deployed. I assume it is because of the versions difference. As there was no such problem with assets which I could add,upload version and so on before database dump was deployed.
How can I get the type of data I must u

[2022-10-03 10:54] mcop1 commented on #13292
It is ok if the column isn´t there in v10.1.3, it was introduced in 10.4.0 with a corresponding migration:
https://github.com/pimcore/pimcore/blob/b2110bb3c416cbf4a7fce967fe98a0e031d642a0/bundles/CoreBundle/src/Migrations/Version20220214110000.php#L36-L37

[2022-10-03 11:06] mikbagautdinov commented on #13292
Ok, thank you @mcop1
I got it fixed partly by adding column storageType to the versions table. The data type of the column and its length was found at the path \vendor\pimcore\pimcore\bundles\InstallBundle\Resources\install.sql
Now I have one problem -I can't get assets except images (jpg, png).
![getAsset4](https://user-images.githubusercontent.com/104482192/193565549-50be3acb-bc88-4a3f-bf81-8fe5

[2022-10-03 13:20] #13292 closed, assigned to nobody

[2022-10-03 19:17] kingjia90 opened #13298 "[Task]: Remove BC Layer Presta/Sitemap-bundle and change to support only ^3.3"
### Improvement description

Follow up of https://github.com/pimcore/pimcore/pull/12020

[2022-10-04 00:48] tmannherz opened #13299 "[Bug]: Statically generated page doesn't resolve with pretty URL"
### Expected behavior

Documents with pretty URLs configured should support server side-static rendering.

### Actual behavior

Static page generation doesn't consider the pretty URL when creating the static html file so the requested uri never matches the static file path. This causes nginx to miss rendering the page from a static file and voids the benefits of static generation.

### Steps to re

[2022-10-04 01:04] tmannherz opened #13300 "[Bug]: Statically-generated homepage content is replaced with contents from a different page"
### Expected behavior

The Pimcore homepage should support static page generation.

### Actual behavior

Any document page access _other_ than the homepage will overwrite the statically-generated contents of the homepage. This causes nginx to return incorrect contents when the homepage uri is requested.

### Steps to reproduce

_All of this is reproduced on a fresh copy of `pimcore/demo`_

1. Conf

[2022-10-04 01:04] tmannherz opened #13353 "[Bug]: Statically-generated homepage content is replaced with contents from a different page"
### Expected behavior

The Pimcore homepage should support static page generation.

### Actual behavior

Any document page access _other_ than the homepage will overwrite the statically-generated contents of the homepage. This causes nginx to return incorrect contents when the homepage uri is requested.

### Steps to reproduce

_All of this is reproduced on a fresh copy of `pimcore/demo`_

1. Conf

[2022-10-04 08:07] cami0092 opened #13301 "[Bug]: Can't create data object pool portal pages"
### Expected behavior

If I add a new portal page "Data Object pool" I expect to see a page where I can configure my data pool page.

### Actual behavior

If I add a new portal page "Data Object pool" I only get an error page without further explanation.

### Steps to reproduce

Click on "add Page", then on "Portal Engine" and then choose "Portal Engine - Data Object Data Pool", give the page a na

[2022-10-04 08:14] brusch commented on #13301
Moving to the right repository ...

[2022-10-04 09:50] blankse opened #13304 "[Bug]: RGBA Color doesn't work if user language is german"
### Expected behavior

You should select a alpha color if you have a user in german language.

### Actual behavior

The alpha channel is always FF. If a english user has created a color with alpha channel. The object can't be opend and there is a JS error:
![image](https://user-images.githubusercontent.com/998558/193788653-62203565-60d8-49f9-9c3d-152bb053a33a.png)

After debugging I see the Ext.ut

[2022-10-04 10:30] #10915 closed, assigned to aashan10

[2022-10-04 13:00] #13217 closed, assigned to aashan10

[2022-10-04 14:18] #13249 closed, assigned to kingjia90

[2022-10-04 15:50] aryaantony92 commented on #13260
Fixed by #13279

[2022-10-04 15:50] #13260 closed, assigned to nobody

[2022-10-05 09:52] NiklasBr opened #13313 "[Bug]: Editing multiple Document Type rows causes issues"
### Expected behavior

When editing Document Types they should all be updated with no error.

### Actual behavior

Sometimes ExtJs will send multiple edits simultaneously if the user makes many small edits after each other.

Because `bundles/AdminBundle/Controller/Admin/Document/DocumentController.php` expects only a single item rather than an array of items it breaks fatally in the method

https:

[2022-10-05 09:54] dvesh3 commented on #13300
The problem only occurs when visiting demo page `/en/Events`, which in turn is using the Vue app with apollo client that fires the Ajax request without `XMLHttpRequest` header and then updates the content of default static file.

This is already fixed on the core in PR https://github.com/pimcore/pimcore/pull/12920 so we need to update the demo to set the header for skip generating the content on A

[2022-10-05 09:54] dvesh3 commented on #13353
The problem only occurs when visiting demo page `/en/Events`, which in turn is using the Vue app with apollo client that fires the Ajax request without `XMLHttpRequest` header and then updates the content of default static file.

This is already fixed on the core in PR https://github.com/pimcore/pimcore/pull/12920 so we need to update the demo to set the header for skip generating the content on A

[2022-10-05 09:55] dvesh3 commented on #13353
Moved here for fixing the Events page JavaScript to fire the Ajax request with correct headers.

[2022-10-05 11:25] dvesh3 commented on #13283
Regression of https://github.com/pimcore/pimcore/pull/12364

[2022-10-05 13:40] robertSt7 opened #13316 "[Improvement]: Create a Migration to replace childs with children in all data object layouts"
### Improvement description

ref: #10535

[2022-10-05 14:39] #10663 closed, assigned to dvesh3

[2022-10-05 15:00] tmannherz commented on #13353
There's some other wonkiness going on when the homepage is set up for static page gen and you access a page that's not a document, eg. http://localhost/en/shop/Products/Cars/VW-Type-2~p235

After visiting the above URL, if you then visit the homepage, your browser is returned content that doesn't have a `text/html` content type so the browser just downloads it instead of navigating to a new page.

[2022-10-05 20:14] scrummer commented on #13287
Can confirm - exactly same behaviour. Also with using the interactive setup without setting the constants.

[2022-10-05 20:31] scrummer commented on #13287
Okay after some debugging: As most times - my bad!
The host was configured wrong and with setting the `PIMCORE_INSTALL_MYSQL_HOST_SOCKET` variable it all worked well.

[2022-10-06 07:16] #11749 closed, assigned to dvesh3

[2022-10-06 08:05] cami0092 opened #13320 "[Bug]: "Data Object Pool" portal pages not working"
### Expected behavior

When I click on "Add page" and "Portal Engine - Data Object Data Pool" I expect to see the configuration page for my data object pool.

### Actual behavior

When I click on "Add page" and "Portal Engine - Data Object Data Pool" I get an error page without further explanation.

### Steps to reproduce

Inside the portal documents right click on "en" then "Add page" and choose

[2022-10-06 08:21] fashxp commented on #13320
This issue is already discussed [here](https://github.com/pimcore/pimcore/discussions/13262) and in the portal-engine repository and will be fixed in 2.4.2 which will be released next wednesday.

@cami0092  if you don't have already access to the portal-engine repository, please contact [enterprise-support@pimcore.com](mailto:enterprise-support@pimcore.com)

[2022-10-06 08:21] #13320 closed, assigned to nobody

[2022-10-06 08:22] brusch commented on #12903
@kamilawiercinska thanks again for sharing the details.
Unfortunately that's quite a tricky thing, I guess it would be best to just remove the filters to avoid confusion.
Can you provide a PR for that?

Thanks in advance!

[2022-10-06 08:32] aashan10 commented on #13287
@Eviradnus Could you please check that the environment variables you are setting are correct? I was not able to reproduce this issue in the given environment with the mentioned steps.

[2022-10-06 08:59] MarcoGuiducci opened #13321 "[Feature Request]: Direct Asset Upload for Video"
### Feature description

In Pimcore we have the possibility to open up the direct asset upload dialog in the many-to-one relation component (if assets are allowed in the configuration of the component) and also we can do the same in all the media components regarding images like "Image", Image Advanced" and "Image Gallery".

On video components, once we select the "attest" video type, there's only

[2022-10-06 12:06] Chris-Gett commented on #13189
I have found the cause. It was an old file export that I had created at some point and that contained an outdated schema including the operator. So I can confirm the reproduction of @damianlinek

[2022-10-06 12:31] mcop1 commented on #7341
@fashxp Bc layer would be great, but I think it would need some discussion. Whereas for javascript it wouldn´t be too big of a problem, what about the database?

I had a look at the bundles and at least for them the database is the bigger problem, because in almost every bundle the properties are used in a direct sql statement or as condition for the listings, e.g.

https://github.com/pimcore/data

[2022-10-06 13:48] #13316 closed, assigned to robertSt7

[2022-10-07 08:16] mcop1 commented on #12860
Add return type mixed and fix php doc annotation

[2022-10-07 08:24] valentin- opened #13332 "[Bug]: XLIFF Import issues"
### Expected behavior

I noticed several bugs when importing the xliff files.

### Actual behavior

The xliff export has been created using source language DE and target language ES. The DE tree has been cloned using "Paste language recursive, updating references".

- When importing the documents, the source documents will also get replaced with the translated contents
- This happens also for data

[2022-10-07 08:51] jremmurd opened #13333 "[Bug]: FullPageCacheListener starts session before custom session bags are registered"
### Expected behavior

No error with enabled full page cache and disabled debug mode.

### Actual behavior

Following error occurs:
![image](https://user-images.githubusercontent.com/9052094/194512955-a1f8228c-8dce-4133-bd11-bdfd9b130690.png)

**Likely cause:**
FullPageCacheListener starts session before custom session bags are registered. See https://github.com/pimcore/pimcore/blob/11.x/bundles/C

[2022-10-07 09:42] #11375 closed, assigned to nobody

[2022-10-07 09:46] brusch commented on #13333
@jremmurd I think we just need to change the priority here
https://github.com/pimcore/pimcore/blob/d328bcd040ecd1f66e2536db92aa8e7b5369fcc0/bundles/EcommerceFrameworkBundle/EventListener/SessionBagListener.php#L41

to be executed before:
https://github.com/pimcore/pimcore/blob/07ec590718221bc65e460d1eed09953d19208cc5/bundles/CoreBundle/Resources/config/event_listeners.yaml#L131

Can you check that

[2022-10-07 11:15] jremmurd commented on #13333
Setting the prio, to a value higher than 610 (i.e. 620), results in another error `session has not been set`.

<details><summary>Click to see the stacktrace</summary>

![image](https://user-images.githubusercontent.com/9052094/194540700-23edd08e-d430-46b1-9308-772d342b4e53.png)

</details>

[2022-10-07 12:02] kingjia90 opened #13336 "[Bug][EcommerceFrameworkBundle]: Pricing Rule not working anymore in 11.x"
### Expected behavior

Not breaking when upgrading to 11.x, as it currently works on 10.5

### Actual behavior

![image](https://user-images.githubusercontent.com/6014195/194547383-0d706670-949c-4a5b-b1e1-9ca3a6fb76b1.png)
![image](https://user-images.githubusercontent.com/6014195/194547423-f5b52096-453e-4f27-81b6-90578b2a0dce.png)

It works only if we quote the `condition` field around here
https

[2022-10-07 14:03] vignesh-happiestminds opened #13337 "[Bug]: Video - Thumbnail is not generated"
### Expected behavior

When we upload the video into Asset and open the video . The video should show play and thumbnail should shown in right side

![Screenshot from 2022-10-07 19-20-55](https://user-images.githubusercontent.com/109342064/194569633-d8fc0039-d00e-433b-a41e-2ffa1ba3e7a2.png)

### Actual behavior

I am using  pimcore version 10.5.7.

When i upload the video into assets. When we open

[2022-10-10 06:45] #13283 closed, assigned to dvesh3

[2022-10-10 07:12] dvesh3 commented on #13287
Closing as the problem was fixed with host configuration.

[2022-10-10 07:12] #13287 closed, assigned to aashan10

[2022-10-10 07:50] #12923 closed, assigned to mcop1

[2022-10-10 07:59] brusch commented on #13254
Seems like a special case, because it's used in `bin/console`, but I'd keep it `@internal` because everything except `run()` shouldn't be used from outside.

[2022-10-10 07:59] #13254 closed, assigned to kingjia90

[2022-10-10 08:11] dkarlovi commented on #13254
@brusch there's an option to do exactly what you've said: remove `@internal` from the class, add it to all the methods except the constructor and `run()`.

[2022-10-10 08:23] brusch commented on #13337
@vignesh-happiestminds Can you confirm this happens also on demo.pimcore.org?
My guess is that you don't have the message queue processing running, see:  https://pimcore.com/docs/pimcore/current/Development_Documentation/Getting_Started/Installation.html#page_5-Maintenance-Cron-Job

[2022-10-10 08:36] #13246 closed, assigned to kingjia90

[2022-10-10 09:22] #13139 closed, assigned to nobody

[2022-10-10 09:30] vignesh-happiestminds commented on #13337
@brusch , i have running below command to verify the Thumbnail generation.

**bin/console messenger:consume pimcore_core pimcore_maintenance pimcore_image_optimize -vv --time-limit=300**

I attached log screenshot here.

![Screenshot from 2022-10-10 14-59-12](https://user-images.githubusercontent.com/109342064/194836282-1d939295-2b2b-4504-a293-235d26a36cce.png)

Also, In demo site "https://demo.pi

[2022-10-10 09:41] #13304 closed, assigned to mcop1

[2022-10-10 10:05] #13142 closed, assigned to mcop1

[2022-10-10 10:19] #7633 closed

[2022-10-10 11:01] #12112 closed, assigned to aashan10

[2022-10-10 11:31] brusch commented on #13337
ah, I'm sorry, on the demo.pimcore.fun the messenger:consume command is also not running 😉

[2022-10-10 11:41] kjkooistra-youwe opened #13341 "[Bug]: country not displayed in advanced many to many object relation column"
### Expected behavior

Display the country when a country select field is configured as visible field on an advanced many to many object relation.

### Actual behavior

The country is not displayed.

### Steps to reproduce

- Go to the [demo environment](https://demo.pimcore.com/admin/) and open the class editor.
- Add a Country class (identifier 'country') and import [class_country_export.json.zi

[2022-10-10 11:58] mcop1 commented on #13189
@Chris-Gett Sorry, couldn´t reproduce the problem, are you sure you are using a localized field with the locale switcher operator?

[2022-10-10 12:31] vignesh-happiestminds commented on #13337
@brusch  But in my local development environment "**messenger:consume**" is running . I have attached screen-shot as well on the above comments.

[2022-10-10 15:29] jdreesen opened #13344 "[Bug]: Why is `QueryBuilderHelperTrait` marked as `@internal`?"
### Expected behavior

The docs suggest using the trait here: https://pimcore.com/docs/pimcore/current/Development_Documentation/Extending_Pimcore/Custom_Persistent_Models.html#page_Listing-Dao

So I'd assume it isn't `@internal`.

### Actual behavior

The trait is marked as `@internal`.

### Steps to reproduce

Try to create a new listing DAO according to the docs.

[2022-10-11 06:09] robertSt7 commented on #13099
@kamilawiercinska  We are not translating it at the moment and we do not plan to, so we do not consider it a bug

[2022-10-11 06:09] #13099 closed, assigned to robertSt7

[2022-10-11 07:02] mcop1 commented on #13098
Hello @jremmurd ,
I had the chance to create a pull request for this issue today, maybe you want to take a look and check if it is working again:
https://github.com/pimcore/pimcore/pull/13346 - then we could even include it in tomorrow´s bugfix release.

[2022-10-11 07:23] dvesh3 commented on #13299
Fixed by #13310

[2022-10-11 07:23] #13299 closed, assigned to dvesh3

[2022-10-11 09:05] dvesh3 commented on #3396
Fixed by #13206

[2022-10-11 09:05] #3396 closed

[2022-10-11 11:25] dvesh3 commented on #13353
I have created a PR in the core to fix this issue https://github.com/pimcore/pimcore/pull/13349

[2022-10-11 11:26] aryaantony92 commented on #13313
Fixed by #13324

[2022-10-11 11:26] #13313 closed, assigned to aryaantony92

[2022-10-11 12:18] jremmurd commented on #13098
Hi @mcop1, I can confirm that the issue is resolved by your PR. Thx!

[2022-10-11 13:48] #11014 closed, assigned to robertSt7

[2022-10-11 16:07] #12787 closed, assigned to nobody

[2022-10-11 16:34] dvesh3 commented on #13333
@jremmurd SessionBagListener already considers if the session is started and doesn't register bag in that case. please see https://github.com/pimcore/pimcore/blob/d328bcd040ecd1f66e2536db92aa8e7b5369fcc0/bundles/EcommerceFrameworkBundle/EventListener/SessionBagListener.php#L70 Looking at your screenshot, it seems the issue is coming from `workfront-auth-bundle`. could you please try changing the p

[2022-10-11 17:51] mcg-pimcore commented on #6911
Hello,

I am having same issue, but on bin/console portal-engine:update:process-index-queue command.
GS version:-9.53
os: alma 9

This issue is not with every pdf,but for some selected pdf.

Error stack
11:53:30 ERROR     [pimcore] Symfony\Component\Process\Exception\ProcessFailedException: The command "/bin/nice -n 19 /bin/gs -dNODISPLAY -q --permit-file-read='/public/var/assets/form_fr.pdf' -c '

[2022-10-12 04:04] vignesh-happiestminds commented on #13337
@brusch  Any update on this issues. When can i expect issue fix.

[2022-10-12 06:02] blankse commented on #6911
@mcg-pimcore Seems like the file permissions of `/public/var/assets/form_fr.pdf` are wrong. Can you check it?

[2022-10-12 06:43] #12860 closed, assigned to mcop1

[2022-10-12 07:51] #13096 closed, assigned to robertSt7

[2022-10-12 09:16] kingjia90 opened #13354 "[Bug]: Icon inconsistency when creating a document named `home`"
### Expected behavior

The 🏠 icon on Root Home (id:1) and sites/portal, but not on the pages

### Actual behavior

![image](https://user-images.githubusercontent.com/6014195/195302158-ed70658a-d979-4dc5-9ac6-2c8e1d6919a6.png)

The page and icon are inconsistent, it somehow replaces the icon in the tree and it's never shown as :house: in the tab bar.

### Steps to reproduce

Just create a document/

[2022-10-12 09:18] MyZik opened #13355 "[Bug] [DataObject]: ImageGallery mandatory check"
### Expected behavior

Validation of ImageGallery should be successful if at least 1 image was uploaded.

### Actual behavior

Validation fails if the first Image is null and at least one of rest images is not null.

### Steps to reproduce

1. Add an imageGallery field in your class definition and set mandatory checkbox to `true`.
2. Update your image gallery: the first image should be null and th

[2022-10-12 09:56] mattamon commented on #13341
Hey @kjkooistra-youwe,

I found the problem and will provide a solution.
https://github.com/pimcore/pimcore/blob/11.x/bundles/AdminBundle/public/js/pimcore/object/tags/country.js#L27

If the config for the country is loaded in the Advanced Many-To-Many Object Relation, the value is a string and not an object. Therefore value.value returns undefined.

My fix simply adds another if condition to chec

[2022-10-12 11:53] robertSt7 commented on #13128
@praveenjha2112 Hello, thanks for reporting this bug. I'm not quite sure what you're trying to accomplish. But if you want to make changes to an object with setter, you have to save the object afterwards. dd doesn't work here, please try var_dump or p_r and look in the javascript console. I hope I could help you with this

[2022-10-12 11:57] robertSt7 opened #13358 "[Bug]: Data component time - reset button"
### Expected behavior

Reset all three values when you click the "Reset" button
![image](https://user-images.githubusercontent.com/104770750/195336451-3af979c3-3e89-433c-bbc9-66653cf656bb.png)

### Actual behavior

Nothing happens

### Steps to reproduce

Click on the "Reset" button in the time data component

[2022-10-12 12:16] dkarlovi opened #13359 "[Improvement]: use JSON data type where appropriate"
### Improvement description

With MySQL v8, [JSON data type](https://dev.mysql.com/doc/refman/8.0/en/json.html) is available. Pimcore stores JSON in some places into plain text fields (for example, classification store keys definition), while storing as actual JSON has benefits. Pimcore 11 could take advantage of it.

[2022-10-12 12:38] agendartobias commented on #6908
I have the same problem. Any idea how to do this?

[2022-10-12 13:13] #13280 closed, assigned to robertSt7

[2022-10-12 13:38] dvesh3 commented on #13353
Fixed by #13349

[2022-10-12 13:38] #13353 closed, assigned to dvesh3

[2022-10-12 14:09] mattamon commented on #13358
Hey @robertSt7,

I could reproduce the problem on pimcore version 10.5.7 and I can provide a fix.

The original values of the field are:
Increment Step: 15
min. Value: null
max. Value: null.

On reset I would restore these original values.

Is that what you would expect?

[2022-10-12 14:59] fashxp commented on #13248
This needs some more attention because of dependencies to https://github.com/ongr-io/ElasticsearchDSL
... there is no ES 8 support yet, and it seems it is quite inactive.

[2022-10-12 15:27] fashxp commented on #13248
- [x] https://github.com/pimcore/advanced-object-search/pull/176
- [x] https://github.com/pimcore/data-hub-simple-rest/pull/79
- [x] https://github.com/pimcore/portal-engine/pull/262
- [x] https://github.com/pimcore/statistics-explorer/pull/55
- [x] https://github.com/pimcore/pimcore/pull/13410
- [x] https://github.com/pimcore/pimcore/issues/13411

[2022-10-13 07:26] jremmurd commented on #13333
If I disable all bundles which register custom session bags, then it hangs where Berni already pointed out - in the EcommerceFramework.
See https://github.com/pimcore/pimcore/blob/d328bcd040ecd1f66e2536db92aa8e7b5369fcc0/bundles/EcommerceFrameworkBundle/EventListener/SessionBagListener.php#L81

[2022-10-13 07:47] damianlinek commented on #13189
@mcop1 Problem is not with LocaleSwitcher and localizedfields, that was just example. Problem is with Operators and using ObjectBricks fields.
Example of TranslatorOperator and objectbrick field. I supposed that this operator is not created only for localizedfields?

![image](https://user-images.githubusercontent.com/86970682/195533772-68d62acb-2822-41a4-bf85-e190ed095f35.png)

Error is occurring

[2022-10-13 07:48] mcg-pimcore commented on #6911
@blankse thanks for reply, but I have given recursive 777 permission to public/var folder. So doesn't look like permission problem.

[2022-10-13 07:53] #13098 closed, assigned to mcop1

[2022-10-13 08:39] aryaantony92 commented on #12471
We decided to keep the support for both the bundle structures (old and modern).

[2022-10-13 08:39] #12471 closed, assigned to aryaantony92

[2022-10-13 08:46] dkarlovi opened #13362 "[Improvement]: store a checksum for each asset"
### Improvement description

There's value in knowing a checksum of a file, for example you can later have a feature which shows duplicates and allows the user to deduplicate in some way.

It probably makes sense it's MD5 just like `versions.binaryFileHash`, but would work even without versions being enabled. MD5 is also offered by cloud storages (for example, Azure blob storage automatically keep

[2022-10-13 11:24] #10535 closed, assigned to robertSt7

[2022-10-13 11:55] kingjia90 commented on #12466
Closing, as this task was already covered by Blankse on https://github.com/pimcore/pimcore/pull/12917

[2022-10-13 11:55] #12466 closed, assigned to kingjia90

[2022-10-13 12:00] Hcheikhis opened #13366 "[Bug]: Errorpage not working"
### Expected behavior

if the page is not found,  the error page should be rendered.

### Actual behavior

the error page I had configured is not showing up!

### Steps to reproduce

pimcore admin interface -> settings -> system settings -> website -> error page default .
then calling a none existing page.

[2022-10-13 12:08] #13245 closed, assigned to kingjia90

[2022-10-13 12:46] mattamon commented on #13366
Which pimcore version are you using?

I tested it on Pimcore 10.5.7 locally and everything works fine.

Could you provide screenshots of your settings and the error page?

[2022-10-13 13:42] #13207 closed, assigned to aryaantony92

[2022-10-13 13:47] #12916 closed, assigned to robertSt7

[2022-10-13 14:23] robertSt7 commented on #13170
@dkarlovi Hi, thanks for reporting this bug. Unfortunately, I can't reproduce it with the following code, since both variables reference to the same object. Could you please provide a more detailed example? Thanks

[code]

[2022-10-13 14:49] brusch commented on #13337
I can't reproduce it locally, so doesn't seem to be an issue in general, but related to your local setup ...

[2022-10-13 14:49] #13337 closed, assigned to kingjia90

[2022-10-13 14:56] NiklasBr commented on #13366
This might be because of your environment type if all you are seeing is something like this:

![image](https://user-images.githubusercontent.com/279826/195631968-4c0a11a2-d21c-4aae-9e14-747d2f01fb39.png)

[Symfony docs on the subject](https://symfony.com/doc/5.4/controller/error_pages.html):

Try setting `APP_ENV=prod` in `.env` (might need to restart the environment).

[2022-10-13 15:28] dkarlovi commented on #13170
This is more a concurrency issue, not just about it being in the same process:

[code]

[code]

If you run

[code]

it should trigger the issue. Think how this would work if you have two HTTP processes which are modifying the object at almost the same time.

[2022-10-13 15:42] #13243 closed, assigned to aryaantony92

[2022-10-13 16:21] kanevbg opened #13372 "[Bug]: [error] Migration Pimcore\Bundle\CoreBundle\Migrations\Version20201008101817 failed during Execution. Error: "An exception occurred while executing 'DROP VIEW IF EXISTS documents_editables;'"
### Expected behavior

Update without issues

### Actual behavior

Update fails with SQL error:
[code]

### Steps to reproduce

Install Pimcore 10.5.7 and setup crontab as documented.
Run `COMPOSER_MEMORY_LIMIT=-1 composer update` to update (currently to 10.5.8).

[2022-10-14 03:10] praveenjha2112 opened #13374 "[Bug]: Preview Of Document File is Not Visible In PIM DAM UI"
### Expected behavior

![image](https://user-images.githubusercontent.com/112381479/195753285-7508eda8-a8cc-4588-85b2-427b25430265.png)

### Actual behavior

![image](https://user-images.githubusercontent.com/112381479/195753375-49f8f9e6-ce04-4695-b682-abc103f3d1e7.png)

### Steps to reproduce

1. Upload  attached file in asset
2. open it in ui.
[Sis_Thai_Test_Cases_Oct_6_2022_V1.5.xlsx](https://g

[2022-10-14 06:20] blankse commented on #6911
@mcg-pimcore When you try this command in the Pimcore root directory you got the error, right?
`/bin/gs -dNODISPLAY -q --permit-file-read='/public/var/assets/form_fr.pdf' -c '(/public/var/assets/form_fr.pdf) (r) file runpdfbegin pdfpagecount = quit'`

Can you test this command?
`/bin/gs -dNODISPLAY -dNOSAFER -q -c '(/public/var/assets/form_fr.pdf) (r) file runpdfbegin pdfpagecount = quit'`

[2022-10-14 06:51] dlhck opened #13375 "[Improvement]: Add unit select data type"
### Improvement description

Sometimes it is necessary to store units without a quantified value. Currently you could use plain inputs or custom select fields with a mapping for that.
I would like to have a select data type that shows all units that are stored. The getter should return the unit entity not just the abbreviation.

[2022-10-14 07:27] robertSt7 commented on #13358
@mattamon Hello, yes this is exactly what we need. That would be great if you create a PR for it. Thanks a lot

[2022-10-14 07:30] luan-bui opened #13377 "[Bug]: ReadOnly layout for Float number classification store key cause javascript exception "Layout run failed""
### Expected behavior

Class fields (classification store keys) should be shown.

### Actual behavior

Javascript error and fields are not shown

### Steps to reproduce

Using pimcore demo (PIM/MDM):
- Select "PIM" perspective
- Settings -> Data Objects -> Classification Store -> ProductAttributes -> change key definition 'height' from 'Input' to 'Number'. Edit its detail: decimal size: 2, decimal

[2022-10-14 08:21] Hcheikhis commented on #13366
@mattamon actually  am using the same version 10.5.7
@NiklasBr I already have a prod Env and everything was working fine in both environments dev and prod actually, but suddenly it just stop working !!

![Bildschirmfoto 2022-10-14 um 10 09 52](https://user-images.githubusercontent.com/53570249/195796553-74eb6461-d5e7-4608-8657-54161b87e048.png)

![Bildschirmfoto 2022-10-14 um 10 14 52](https://use

[2022-10-14 08:34] luan-bui commented on #13377
![error-layout-readonly](https://user-images.githubusercontent.com/115776819/195801403-f8ca4663-da55-43cd-9e8a-077be3a2fa03.png)
![layout-master](https://user-images.githubusercontent.com/115776819/195801414-a1ede0fd-27aa-418c-b506-bfbb5e3beb63.png)

[2022-10-14 09:25] brusch commented on #13366
Seems your error page is producing an error, check your `prod.log` and also try to access the error page directly and see what happens 😉

[2022-10-14 09:41] brusch commented on #13374
Seems your maintenance/messenger:consume is not running properly, or LibreOffice dependency is missing.

[2022-10-14 09:42] #13374 closed, assigned to nobody

[2022-10-14 10:15] mattamon commented on #13366
I totally agree with brusch. Something must be wrong with the errorPage itself.

[2022-10-14 10:49] mcop1 commented on #13189
@damianlinek I see, thanks, I got your point now

[2022-10-14 11:46] kingjia90 opened #13386 "[Improvement]: Video Editable droppable to set image poster and video, allowing document/link types"
### Improvement description

The idea is to make it possible to drag and drop an image/video to set/replace the video editable: if dragged element is an image, it updates the poster, if is a video it should do the automatically set `type: asset` and the path.
![image](https://user-images.githubusercontent.com/6014195/195838234-aee0c146-cd03-4aa9-baf7-871889c57f06.png)

Also what about allowing the

[2022-10-14 12:50] jakesde opened #13387 "[Bug]: AbstractListing::addConditionParam overriding previous condition "template""
### Expected behavior

Each `$listing->addConditionParam(...)` should result in the same number of conditions added, regardless of the `condition` argument value.

### Actual behavior

Internally, the condition added with `$listing->addConditionParam(...)` is stored in the `conditionParams` array **keyed by the condition value** therefore each `$listing->addConditionParam(X, ...)` overrides previo

[2022-10-14 13:01] EvaStudioEmma opened #13388 "[Bug]: Search & Move"
### Expected behavior

When trying to move attributes via the 'search & move' functionality, they should move to the correct folder they have been assigned to.

<img width="475" alt="image" src="https://user-images.githubusercontent.com/106537233/195850292-3183af18-29d6-40c0-a4fe-8b3a708214f5.png">

### Actual behavior

The attributes (AVS-SANY SAFE TANK 10L until AVS-SANY SAFE-XL 2G) move to a di

[2022-10-14 13:20] #12559 closed, assigned to dvesh3

[2022-10-14 13:39] CountZero1981 opened #13389 "[Bug]: Building selectbox options takes long time"
### Expected behavior

Increase in number of options DOESN'T affect UI.

### Actual behavior

Increase in number of options DOES affect UI, greatly increasing UI rendering time.

### Steps to reproduce

Create a DataObject with several lengthy (up to 100 items) selectboxes. Check product rendering time in Google Chrome Developer Tools console. An example on a production server is attached. As show

[2022-10-14 14:10] #13298 closed, assigned to kingjia90

[2022-10-14 14:37] kingjia90 opened #13392 "[Task]: Checkup column quoting"
### Improvement description

Related to #13373
Since the replacement of `Pimcore\Db\Connection`, it would be necessary to manually quote these columns.
`insertOrUpdate` is fine because it automatically quotes.

- [x]	range	|	bundle_number_sequence_generator_randomregister
https://github.com/pimcore/number-sequence-generator/issues/9
- [x]	key,index	|	documents https://github.com/pimcore/pimcore/bl

[2022-10-15 13:37] mattamon commented on #13387
Can you give an example of real situation where this is needed?
I don't grasp the idea behind it. For me this is a intended behaviour and more like a user handling error.

What do you expect to happen with these two statements? The value of "someTable.some_field" can not be 30 and 24 at the same time, if you use the AND connector.

On the other hand you can always use named parameters instead and

[2022-10-17 07:59] brusch commented on #13389
Duplicate, see #10468

[2022-10-17 07:59] #13389 closed, assigned to nobody

[2022-10-17 11:32] #13224 closed, assigned to mcop1

[2022-10-17 12:39] #12957 closed, assigned to mcop1

[2022-10-17 14:10] dvesh3 commented on #13344
Fixed by #13364

[2022-10-17 14:10] #13344 closed, assigned to dvesh3

[2022-10-17 16:03] Hanadbeazi commented on #224
johndoe@example.com

[2022-10-17 16:19] dvesh3 commented on #13333
@jremmurd could you please put a break point [here](https://github.com/pimcore/pimcore/blob/d328bcd040ecd1f66e2536db92aa8e7b5369fcc0/bundles/EcommerceFrameworkBundle/EventListener/SessionBagListener.php#L70)? as Ecommerce SessionBagListener should not register bags when the session already started. thanks!

[2022-10-18 06:10] prunepal333 opened #13401 "[Feature]: Import/Export QuantityValueUnitDefinition"
### Feature description

Since, quantity value unit definition is stored in the db table `quantityvalue_units`. I couldn't find a way around to transport the definition from one system to another (local server -- development server -- test server -- production
server) without sharing database table. It would be nice to integrate them as a command like in deployment tools

```./bin/console pimcore:

[2022-10-18 08:38] Mansoorali-Ali commented on #2487
Can we display the content of two target groups having same threshold value in one document ?

[2022-10-18 08:48] cipribucur commented on #13170
this is a case of Multi Version Concurrency Control.

[2022-10-18 13:28] robertSt7 commented on #13181
@MyZik Hello, thanks for reporting this problem. Since the other tabs are not rendered in the DOM, only the first tab is ever returned. Maybe you could try not to address the elements via the DOM, but via the ExtJS elements. Hope this helps, thank you.

[2022-10-18 14:24] fashxp opened #13411 "[Task]: Remove Elasticsearch 7 support"
### Improvement description

- [x] wait for #13410 to be merged
- [x] cleanup duplicate code in worker and product list
- [x] cleanup phpstan-baseline.neon

[2022-10-18 17:17] robertSt7 commented on #13170
We could make a global configuration entry in Pimcore11 that specifies the default behaviour if the version of the object should be compared with the DB before saving. If the version is lower or equal than the actual version in the DB, an exception could be thrown.

The behaviour of the save() function by the configuration entry should be changeable with a additional parameter.

Nothing is planned

[2022-10-18 18:26] robertSt7 commented on #13258
see https://github.com/pimcore/pimcore/pull/13361

[2022-10-18 22:40] theofidry opened #13412 "ConsoleParallelization update"
### Feature description

Hi there, just a heads up.

The ConsoleParallelization package was left a bit unattended mostly due to lack of time but especially because of maintainability issues. The code was very hard to work with in the sense that it was a nightmare to test and had close to no tests.

I've actively worked on the 2.x version on the past few weeks which addresses that and should make w

[2022-10-19 06:56] #13247 closed, assigned to aryaantony92

[2022-10-19 07:33] #13341 closed, assigned to mcop1

[2022-10-19 07:47] brusch commented on #13412
@theofidry thanks for the info! We'll then consider v2 for our v11 milestone 🤗

[2022-10-19 08:19] #13355 closed, assigned to mcop1

[2022-10-19 08:49] mcop1 opened #13414 "[Task]: Check PhpDoc annotations, parameter and return types again"
### Improvement description

Follow up to https://github.com/pimcore/pimcore/issues/12240

We have to check the types/docs again before release, since we still merge pull requests and bugfixes.

[2022-10-19 14:47] robertSt7 commented on #13366
@Hcheikhis Were you able to fix the problem?

[2022-10-19 20:49] yamenalahlas opened #13419 "[Bug]: Portal-engine elastic-search wornings after the last update for the portal-engine"
### Expected behavior

create Product objects with the API without Wornings

### Actual behavior

after the last portal-engine update, creating objects with the php-api becommes this wortning

[app] Update indexQueue in database-tableportal_engine_search_index_queue failed! Error: An exception occurred while executing 'INSERT INTO portal_engine_search_index_queue (elementId,elementType,elementInde

[2022-10-20 07:07] robertSt7 commented on #12239
@swina Thank you for reporting the bug. Unfortunately, I could not reproduce it. Could you please provide more information?

[2022-10-20 07:22] aashan10 commented on #13372
@kanevbg could not reproduce this issue on a fresh pimcore installation. I installed pimcore 10.5.7 using pimcore/demo and then updated pimcore/pimcore version 10 10.5.8. The upgrade completed without any errors.

[2022-10-20 07:50] fashxp commented on #13419
Confirmed bug, will be fixed in next release, latest next Wednesday.

Moved issue to correct repository.
@yamenalahlas if you don't have already access to the portal-engine repository, please contact [enterprise-support@pimcore.com](mailto:enterprise-support@pimcore.com)

[2022-10-20 09:21] dvesh3 commented on #12531
Also consider for extraction:
- `\Pimcore\Tool\Admin`
- `EditmodeListener`

[2022-10-20 10:35] dvesh3 opened #13423 "[Bug]: Not possible to create DataObject classes in 11.x branch"
### Expected behavior

A user should be able to create new DataObject classes in Admin interface.

### Actual behavior

On 11.x branch, Admin interface breaks when you create a new dataobject class with below error:
![image](https://user-images.githubusercontent.com/5137917/196925290-beec709e-3457-4bc6-9cd4-5cd4ad044916.png)

### Steps to reproduce

1. Login to Admin.
2. Go to Settings -> DataObje

[2022-10-20 10:52] kanevbg commented on #13372
@aashan10 It may be that you used the demo and the `MySQL view` was actually existing. I have done it with the skeleton, please check with that. You can check that if for any reason the view does not exists this exception will be thrown simple because that's how Percona MySQL responds to the command:
[code]
Do you agree that it's more stable to catch exceptions from execution of such statements fr

[2022-10-20 11:23] aashan10 commented on #13372
@kanevbg thanks for more info regarding this. I will test this with Percona and skeleton instances.

The try-catch statements however I'm not so sure of. If something goes wrong during installation you'd expect pimcore to show the error instead of silently supressing the errors and you finding out later that there was an issue during the installation itself and because of which you are finding a r

[2022-10-20 11:57] ctippler opened #13424 "[Bug]: Classfication Store - Tabpanel - Scrollbar"
### Expected behavior

If you put a classification store in a tabpanel a horizontal scrollbar appears

### Actual behavior

The horizontal scrollbar should not appear

### Steps to reproduce

Create a object and add some fields so the vertical scrollbar appears. Then also the horizontal scrollbar appears (but it shouldn't)
![image](https://user-images.githubusercontent.com/8791970/196941767-f8979a

[2022-10-20 12:57] #13423 closed, assigned to nobody

[2022-10-20 13:35] #12896 closed, assigned to dvesh3

[2022-10-20 13:36] #11662 closed, assigned to aashan10

[2022-10-20 13:39] kanevbg commented on #13372
This is specific to each concrete migration case, however when you do `drop view IF EXISTS` it means you are okay to continue if it was not existing. So if you prefer you can check the exception message and detect if it reports `[HY000][1347]` and only then ignore the exception.

[2022-10-21 06:53] aweichler opened #13431 "[Bug]: relations editable in editable dialog box for brick can not be overwritten with inheritance"
### Expected behavior

I have a simple test brick with one "relations" editable in editable dialog box.
I created a English page, add the brick and add an data object to the relations editable.
Then I copied the English page with inheritance to german language. When I add an other data object to the relation editable in the german version (click override at the brick), save an reload, there are 2

[2022-10-21 10:41] #13054 closed, assigned to kingjia90

[2022-10-21 13:57] kingjia90 opened #13435 "[Task]: Remove unused `index` column in `object_url_slugs` table"
### Improvement description

~I am suspecting that~ `index` column in table `object_url_slugs`  is not used at all and always `0`, and therefore could be removed.
The column which is used is called `position`, likely because `index` as int field couldn't store the country code or so.

![image](https://user-images.githubusercontent.com/6014195/197211279-23fe77fc-12d3-45e4-89a9-970d5d6bc1fe.png)

So

[2022-10-21 14:34] NiklasBr commented on #13435
All slugs use `index=0` here at least.

![image](https://user-images.githubusercontent.com/279826/197217380-49cc808e-b9ec-4612-b165-0e0b1c3dd9f8.png)
![image](https://user-images.githubusercontent.com/279826/197217433-1720d873-b05e-482d-b428-0a237254aa21.png)

[2022-10-21 16:38] BentBr commented on #11304
We are having this issue since quite a while now.
So I decided on investigating a bit.

I just installed a brand new (and empty) instance of pimcore skeleton and I do get this error as well.
The only changes I did to this particular installation:

- using docker-compose with mutagen (mutagen-compose)
- using a custom domain (instead of a local port) locally
- no changes to config or src folder

My

[2022-10-21 22:22] kanevbg opened #13436 "[Bug]: Objectbrick definition update fails when changing field of type text to type textarea"
### Expected behavior

Save of objectbrick field definition to succeed.

### Actual behavior

Save fails with MySQL error resulting in the following exception:
`An exception occurred while executing 'ALTER TABLE `object_brick_query_catalog_product_description_1` CHANGE COLUMN `fieldValue` `fieldValue` longtext NULL;':
SQLSTATE[42000]: Syntax error or access violation: 1170 BLOB/TEXT column 'fieldV

[2022-10-24 06:56] dvesh3 commented on #13333
Closed due to inactivity. Please feel free to discuss further. thanks!

[2022-10-24 06:56] #13333 closed, assigned to dvesh3

[2022-10-24 08:19] jremmurd commented on #13333
Due to changes in our environment we deactivated the full page cache at all, thus I did not have any time to look into the matter any further, but I think the issue still exists.

[2022-10-24 08:28] #13189 closed, assigned to mcop1

[2022-10-24 08:35] jacobsyentl opened #13439 "[Bug]: Visible fields on many-to-many object relations are not shown."
### Expected behavior

When enabling visible fields on a many-to-many object relation. The visible fields should be shown on the object:
<img width="506" alt="image" src="https://user-images.githubusercontent.com/9139261/197483175-dc0a4c30-de94-4f91-8bfe-34d68aa4b299.png">

### Actual behavior

**Only two of the selected visible fields are shown properly:**

<img width="1534" alt="image" src="http

[2022-10-24 08:36] jacobsyentl commented on #13439
This issue is possible related to: https://github.com/pimcore/pimcore/pull/8141

[2022-10-24 08:48] NiklasBr opened #13440 "[Bug]: UI message "Server threw exception" but server actually did not"
### Expected behavior

Error messages should be as correct as possible.

I suggest the error message is reformulated so that it only says that it is the server which threw an exception if the server actually threw an exception and not on something like a timeout or communication failure.

### Actual behavior

The message _"Server threw exception - could not perform action. Please reload the admin

[2022-10-24 09:15] dvesh3 commented on #13208
Fixed by #13417

[2022-10-24 09:15] #13208 closed, assigned to aashan10

[2022-10-24 09:38] dvesh3 commented on #12560
Duplicate of #13242

[2022-10-24 09:38] #12560 closed, assigned to nobody

[2022-10-24 09:53] podarcis commented on #11304
@BentBr Adminer will be moved to a bundle (see #12520) with Pimcore 11 and maybe is even replaced by another database explorer, as Adminer seems to be not maintained anymore, as @NiklasBr mentioned. So maybe it's not worth putting any more effort into the investigation and instead find a better replacement.

[2022-10-24 09:57] BentBr commented on #11304
@podarcis thx for the hint!
In that case I'd suggest to remove the **PR Welcome** tag and add a **Known Issue** one. Or **Won't be solved**.

Best,
Bent

[2022-10-24 10:22] dvesh3 commented on #13333
Already fixed by https://github.com/pimcore/pimcore/pull/13442. thanks!

[2022-10-24 11:59] dvesh3 commented on #13372
Fixed by #13438

[2022-10-24 18:55] mattamon commented on #13000
I implemented a validation exception.
Commit -> https://github.com/mattamon/pimcore/commit/7ec802b53f6c303e3245242bf9a459572bbfcf46
![validation](https://user-images.githubusercontent.com/38959016/197603249-937e102d-9648-4585-925a-34e3330b91ef.JPG)

The image tag does now contain an acceptType, which can be any mimetype string, separated by a comma.
https://github.com/mattamon/pimcore/blob/7ec802b

[2022-10-25 07:23] mcop1 commented on #13436
Hello @kanevbg ,
sorry I wasn´t able to reproduce the problem- which pimcore version are you using? Could you please try to reproduce the issue in our demo (https://demo.pimcore.fun)?

[2022-10-25 08:07] mcop1 commented on #13388
Hello @EvaStudioEmma
sorry, I am not able to reproduce the problem. Could you please try to reproduce the problem within our demo environment -> https://demo.pimcore.fun ? That would be appreciated.

[2022-10-25 08:07] brusch opened #13445 "[Improvement]: Store low quality image previews in database (customSettings)"
### Improvement description

Should be much faster when using remote storages ... but needs to be checked first (side-effects, ...)

[2022-10-25 08:30] andreas-gruenwald commented on #13445
this is our project-specific solution in which we utilize redis cache to avoid multiple S3 calls per page load.

[code]

As this part is only relevant if the storage system != local, a custom setting could be introduced, or alternatively, it could be verified, if ``pimcore.thumbnail.storage.adapter != "local"`` (cf. https://github.com/pimcore/pimcore/blob/022b52b886b9799d746814beb15f24b2e77e6623/m

[2022-10-25 08:35] kanevbg commented on #13436
@mcop1 in a hour or two I will postback info.

[2022-10-25 09:10] #11633 closed, assigned to aashan10

[2022-10-25 09:32] robin-ntriga commented on #6954
I managed to fix the case sensitivity issue in: vendor/pimcore/pimcore/bundles/AdminBundle/Helper/GridHelperService.php

By adding `lower()` around the column names & values:

[GridHelperService.php:331](https://github.com/pimcore/pimcore/blob/11.x/bundles/AdminBundle/src/Helper/GridHelperService.php#L332)
`	$conditionPartsFilters[] = 'concat(lower(o_path), lower(o_key)) ' . $operator . ' lower('

[2022-10-25 10:45] kanevbg commented on #13436
It's Pimcore Version: v10.5.8.
I understood that there were one more condition in order for the issue to occur in my environment. There should be at least one object with the class using the brick in order for the Pimcore to create the table which has problematic index. So in order to reproduce it is very important to create object with the brick while the brick is configured to have indexed text

[2022-10-25 11:50] niederberger-qw commented on #11729
Please consider this issue with priority. The function to paste data is for some customers an important one. Is there a hotfix or something? We need that for example to paste curve data into a form. X Y coordinates. Not working at the moment...

[2022-10-25 12:05] brusch commented on #11729
@niederberger-qw PRs are welcome 😉

[2022-10-25 12:15] mcop1 commented on #13436
@kanevbg Good catch, we execute the `alter table` statement first, after that we drop the indexes (and recreate them if necessary). Think we should drop the indexes first, change the column and recreate the indexes at last.

TextAreas can´t be indexed anyways, the according option is disabled.
![grafik](https://user-images.githubusercontent.com/89011527/197770318-0925d2d1-1057-4199-9cdb-b28891f27e

[2022-10-25 12:26] kanevbg commented on #13436
Yep

[2022-10-25 13:46] stormwind84 opened #13451 "[Bug]: Custom Layout "use as default layout" options not working as expected"
### Expected behavior

Creating a new custom layout and set is as default should open that layout when creating an object. (Pimcore 10.5.8 - live demo)

Possible solution & discussion [here.](https://github.com/pimcore/pimcore/discussions/13448)

### Actual behavior

The master layout is always the default.

### Steps to reproduce

CLASSES > CUSTOM LAYOUT DEFINITION

Create/edit a custom layout, s

[2022-10-25 15:31] #11664 closed, assigned to dvesh3, aryaantony92

[2022-10-25 16:10] mattamon commented on #13451
So I checked the code and it seems a little overcomplicated. The layout implementations could use a little refactoring.
The main problem is the master layout and the permissions.
The error is caused by this line `$currentLayoutId = $request->get('layoutId', 0)`

If you are an admin user, the master layout will always be a valid layout.
If you want the admin user to see the default layout you speci

[2022-10-26 08:42] kamilawiercinska commented on #11619
Hello, I am experiencing this issue also.
Is it possible that somebody will review it again?

[2022-10-26 09:29] alexej-d opened #13454 "[Bug]: Unable to unserialize snippets in areabricks created in Pimcore 6"
### Expected behavior

Successfully open a document in admin UI after updating from P6 to P10.

### Actual behavior

Opening some documents throws an error:
[code]

### Steps to reproduce

It looks like some snippet editables serialized the snippet IDs as strings to the version storage. Removing the `?int` from the $id prop on the `Pimcore\Model\Document\Editable\Snippet` class fixes the error.

[2022-10-26 14:35] stormwind84 commented on #13451
Hello Mattamon, in our case we just need to set as default a simplified layout of the master (the master is OK to be seen from regular users), but you're right, the solution should effectively cover all scenarios.

[2022-10-26 17:58] kanevbg opened #13458 "[Feature]: PHP API and UI for control of which classes, objectbricks and others file-defined structures to be gitignored"
### Feature description

Pimcore is unique, extremely powerful system. By default it's accepted that classes, objectbricks, fieldcollections (etc) are manually generated and thus they should enter git. However if one do generate objectbricks or class definitions dynamically , he has no API to instruct the system to gitignore specific definitions. Depending on the use case a custom workaround can b

[2022-10-27 07:13] mcop1 opened #13461 "[Task]: Deprecate event "pimcore.element.note.postAdd""
Add "pimcore.note.postAdd" as event and trigger both events for 10.6.

Remove deprecated event in Pimcore 11 later

[2022-10-27 08:54] robertSt7 opened #13463 "[Bug]: JS-files from disabled bundles are loaded"
### Expected behavior

Bundles are loaded in the order in which they are mentioned in bundles.php

### Actual behavior

JS-files are loaded in a different order

### Steps to reproduce

Install data-hub and data-hub-simple-rest

[2022-10-27 09:47] brusch commented on #13454
It's a known issue that version data is not always 100% compatible between major versions, that's why we need to think of a different and more flexible serializer in the future (JSON, ...).

See also: #8257

[2022-10-27 09:47] #13454 closed, assigned to nobody

[2022-10-27 09:56] brusch commented on #13458
To be honest, I don't like the idea of changing the `.gitignore` automatically for several reasons.
I'd suggest to use different directories for that, which is already possible now:

Class definitions added to VCS are stored in: `config/pimcore/classes`
while ignored definitions are saved in excluded `var/classes`.

This works out of the box.

[2022-10-27 09:56] #13458 closed, assigned to nobody

[2022-10-27 09:59] luan-bui commented on #13377
Hello,
  Any news on this issue?

[2022-10-27 10:25] brusch commented on #13377
@luan-bui PR's are welcome 😉

[2022-10-27 11:08] JTcweinrich opened #13466 "Perspective Editor is not working[Bug]:"
### Expected behavior

it should be possible to edit own perspectives and edit the Views via the editor and create new perspectives and views

### Actual behavior

old perspectives show in tree but are not editable, if a new views is created, this is not editable either
we tested on 2 own instances and on the pimcore demo system, i all three cases we found the same wrong behaviour

### Steps to re

[2022-10-27 11:51] kjkooistra-youwe opened #13467 "[Bug]: grid CSV export extremely slow"
### Expected behavior

CSV export in the grid should be done in a few seconds.

### Actual behavior

When exporting 100,000 items it can last up to an hour. Even when exporting very basic data.

### Steps to reproduce

Reproduced on the [demo environment](https://demo.pimcore.com/admin/).

- Create a basic test class containing a name field ([class_Test_export.json.zip](https://github.com/pimcore/

[2022-10-27 13:12] brusch opened #13468 "[Improvement]: Introduce service method for getting thumbnail by URI"
### Improvement description

Currently the documentation is referring to the `@internal` `Pimcore\Tool\Storage` class, see: #13437

We should keep the `Storage` class `@internal` to be more flexible in the future.
A more generic approach would be to extract most of the functionality from https://github.com/pimcore/pimcore/blob/11.x/bundles/CoreBundle/src/Controller/PublicServicesController.php#L45

[2022-10-27 13:19] dvesh3 opened #13469 "Fix Restricting_Public_Asset_Access Docs"
### Improvement description

## Issue
Pimcore\Tool\Storage is marked as Internal so [code sample](https://github.com/kaurov/pimcore/blob/6631184a72cdc93069cf3bf57afcb5b0d337fdb4/doc/Development_Documentation/04_Assets/07_Restricting_Public_Asset_Access.md?plain=1#L157) is outdated.

## Solution
Add a helper service (e.g. `Asset\Service::getThumbnailByUri()`) to get thumbnail storage stream and upd

[2022-10-27 13:20] dkarlovi opened #13470 "[Improvement]: cursor based pagination in listings"
### Improvement description

When you're paging through a large dataset (maybe the entire dataset), typical [`LIMIT/OFFSET` approach doesn't work](https://explainextended.com/2009/10/23/mysql-order-by-limit-performance-late-row-lookups/):

There's numerous references about the same topic, how to solve it, for example:
https://shopify.engineering/pagination-relative-cursors

The proposal here is to

[2022-10-27 13:22] brusch commented on #13469
Related to #13468

[2022-10-27 13:27] foxgreek opened #13471 "[Bug]: DataObject block-element with localizedfields and wysiwyg throws exception"
### Expected behavior

When I delete any item of a block element it should not throw an exception on save.

### Actual behavior

An exception is thrown during **save and publish**, after deleting any item (except of the last one) of a block element. This happens if the block contains a localizedfield with a wysiwyg e.g.

<img width="727" alt="image" src="https://user-images.githubusercontent.com/4

[2022-10-27 13:56] alexej-d commented on #13454
@brusch I am fine with old versions not working, but it is a pretty severe bug not being able to edit the current version of a document… Any idea what to do apart from editing the Snippet class?

[2022-10-27 14:36] kingjia90 opened #13472 "[Bug]: A string and int operation problem in Video Editable error return html code"
### Expected behavior

Using css [calc](https://developer.mozilla.org/en-US/docs/Web/CSS/calc) for `%` and `px` values and consistency between `width` and `height`.

### Actual behavior

https://github.com/pimcore/pimcore/blob/c07e8ab75a89c859e4ea1bbbb9a6174bd9cd6fc9/models/Document/Editable/Video.php#L557-L559

`($this->getHeight() - 1)` in this line
https://github.com/pimcore/pimcore/blob/c07e8a

[2022-10-27 19:11] jdreesen commented on #13470
Here is an article on the subject that I found interesting: https://aaronfrancis.com/2022/efficient-pagination-using-deferred-joins

[2022-10-28 06:57] dkarlovi commented on #13470
Yes, that's basically the hack mentioned above. Maybe it's worth a shot?

[2022-10-28 07:14] brusch commented on #13454
@alexej-d seems there's a newer not published version in your case, that's why the version is loaded (see `#1` in your stack trace). Probably it would be best to just kick all versions containing snippet data with a simple SQL query from the `versions` table.

[2022-10-28 07:50] mcop1 opened #13476 "[Task][EcommerceFrameworkBundle]: Add return and parameter types for custom data object implementation"
### Improvement description

E.g. ` Pimcore\Model\DataObject\FilterDefinition` class in `var/classes/DataObject` folder, for example `getConditions()` method.

[code]
Please make sure to check all classes and methods.

[2022-10-28 08:55] mcop1 commented on #13387
@jakesde Like mattamon said, could you please provide a use case? After that we can see what we can do. Thanks!

[2022-10-28 10:05] simonkey commented on #13332
Update about the problem:

The `__clone method called on non-object` error occurs for data objects which have the following setup:
* localizedfields -> Block -> Input Field
*
![image](https://user-images.githubusercontent.com/1583145/198561455-4208785e-bc81-48c2-891b-31b6e1e77a8d.png)

Here the export and a translated export: [xliff-files.zip](https://github.com/pimcore/pimcore/files/9887297/xliff

[2022-10-31 06:46] #9656 closed, assigned to nobody

[2022-10-31 06:54] #13336 closed, assigned to kingjia90

[2022-10-31 08:16] aryaantony92 commented on #13332
@valentin- I just tried to reproduce the issue where source document gets replaced with the translated contents.

As per the above mentioned steps, I tried the following in 10.5.7

-> Copied a folder tree (inside the 'de' folder) and pasted it as a new folder outside the 'de' folder using the option 'Paste language (recursive), updating references'.
-> Then, exported the copied document using Xlif

[2022-10-31 11:59] micru opened #13488 "[Bug]: Asset opertions not working without Admin Session when PortalEngine (Enterprise) is activated"
### Expected behavior

It should be possible to execute Asset operations (like create, move, delete) without relying on the existence of an admin session, when PortalEngine Bundle is installed.

Sidenode: please make sure to remove the access to services (SessionHandler in this case) via static getter. This is completely unnecessary. Its just making things dificult to patch, extend and test.

###

[2022-10-31 12:39] fashxp commented on #13488
Moved issue to correct repository.
@micru  if you don't have already access to the portal-engine repository, please contact [enterprise-support@pimcore.com](mailto:enterprise-support@pimcore.com)

[2022-10-31 13:38] kjkooistra-youwe opened #13489 "[Bug]: calculated field breaks many to many relation"
### Expected behavior

When using a calculated value as visible field in a(n advanced) many to many object relation it should display.

### Actual behavior

The grid is cut off at the calculated value column, also removing any columns in advanced many to many object relations and all row edit options.

### Steps to reproduce

Reproduced on the [demo environment](https://demo.pimcore.com/admin/) (1

[2022-10-31 14:02] mcop1 commented on #13489
@kjkooistra-youwe This may be a duplicate of https://github.com/pimcore/pimcore/issues/13439 ?

[2022-10-31 14:14] kjkooistra-youwe commented on #13489
@mcop1 Looks very similar indeed. I searched for calculated value, but if that issue report is correct it might even break other fields types.

[2022-10-31 14:43] dvesh3 commented on #13463
@robertSt7 Data hub simple-rest bundle registers dependent Datahub bundle with higher priority [here](https://github.com/pimcore/data-hub-simple-rest/blob/2bea3205e9acd9f5cbc9def34282cfc4f7613adc/src/PimcoreDataHubSimpleRestBundle.php#L55) so it will be always be loaded before.

I even tried to reproduce the problem with wrong order however it still works:
![image](https://user-images.githubuserco

[2022-11-01 14:01] thomas-udalrik opened #13494 "[Improvement]: [DataObject][ObjectBricks][Field-Collections] Error: table name object_brick_store_ would be too long. Max length is 64. Current length would be 65."
### Expected behavior

Pimcore would not let me create an object brick name which would lead to a table name which is too long.

### Actual behavior

Pimcore lets me create an object brick with a name which is to long for a table creation and i cannot change or fix/rename it in order to create to object brick. All prepared setting are lost, since saving is not possible!

### Steps to reproduce

1.

[2022-11-01 18:31] praveenjha2112 opened #13495 "[Bug]: Unable to remove shortcut add button from many to many object relation field"
### Expected behavior

![image](https://user-images.githubusercontent.com/112381479/199309959-bffcb7cf-1e01-4b37-9517-563bc7ad6416.png)
![image](https://user-images.githubusercontent.com/112381479/199310486-d64a4e1e-e0a5-4e12-96de-dfc1df305073.png)

If we add a many to many object relation field in class It should display  checkbox for  shortcut object create button

### Actual behavior

But its n

[2022-11-02 08:04] valentin- commented on #13332
@aryaantony92 thanks for you response. I checked the xliff file again. Turned out there are mixed IDs in the translation file, I think this causes the issue.

DE document IDs starting with 6
ES document IDs starting with 642

In the original translated file, the IDs seem to be mixed up:
![image](https://user-images.githubusercontent.com/90033/199432189-b3385961-678e-4706-b245-017dc7b07bb0.png)

Un

[2022-11-02 08:26] mattamon commented on #13495
@praveenjha2112 I am a little confused. The title of your issue, is not at all what I was expecting.

What exactly do you mean?

When creating a field collection and adding a Many-To-Many-Object Relation, the checkbox "Allow to create a new object in relation field" is not shown, when it should, correct?

[2022-11-02 08:27] praveenjha2112 commented on #13495
yes

[2022-11-02 08:37] mattamon commented on #13495
The checkbox will only be shown in a class and is checked by default for field collections.
https://github.com/pimcore/pimcore/blob/10.5/bundles/AdminBundle/Resources/public/js/pimcore/object/classes/data/manyToManyObjectRelation.js#L193

@fashxp is there a specific reason why the option "allowToCreateNewObject" is only shown in class or can we move this option to the outside scope?

[2022-11-02 08:53] mattamon commented on #13494
There is no max length restriction here.
 https://github.com/pimcore/pimcore/blob/10.5/bundles/AdminBundle/Resources/public/js/pimcore/object/objectbrick.js#L167
In order to work the max length must be <= 40

The only problem I see, there is not a good feedback, why it didn't work, because the alert only says it failed, but not why it failed.
https://github.com/pimcore/pimcore/blob/10.5/bundles/Ad

[2022-11-02 09:05] aarongerig commented on #13494
Also, bare in mind that when adding any `localizedfields` inside of an object brick Pimcore creates a table looking something like this: `object_brick_localized_query_{MY_OBJECT_BRICK}_{CLASS_NAME}_{LOCALE}`. So without adding any length to that table name, 29 characters are already used by Pimcore's prefix.

We recently had the issue on one of your projects where a new locale (Hong Kong Chinese =

[2022-11-02 09:14] mattamon commented on #13494
Maybe for Pimcore 11.x, because this would be a BC :)
But you are right, this would make sense.

[2022-11-02 09:21] brusch commented on #13494
That's actually the reason why you can specify a custom `ID` for class definitions, which is used for the table names 😊 There will be always a limit, no matter if we reduce the length of the default prefix or not. Imho we just need to do better error reporting and maybe also better describe the impact of the ID / name on the database.

[2022-11-02 09:25] dpfaffenbauer commented on #13494
maybe Pimcore should also allow a custom ID for Brick Definitions?

[2022-11-02 09:26] brusch commented on #13494
@dpfaffenbauer yep, agree 😊

[2022-11-02 11:01] robertSt7 commented on #13494
I think this is a good idea. We could also take the name as a fallback, if there is no ID then it wouldn't be a BC-Break.

We have the same problem at the moment with the Field-Collections.

A pull request would be very appreciated.

[2022-11-02 14:23] brusch commented on #12094
Strategy is as follows:

1. bundles which will be a community bundle in future, will be moved to their own repos / packages
2. functionality / bundles that are going to be replaced in future should also be in a separate repo (e.g. Classic Admin UI)
3. smaller commonly used functionalities will be extracted into bundles, but remain in the core repo. They are not provided as their own packages via C

[2022-11-02 14:50] brusch commented on #11242
@passioneight sorry for the late answer 😳
The best place for that would be probably here:

https://github.com/pimcore/pimcore/blob/c7f023cf2e349bba8794795f6365447b836c887a/bundles/CoreBundle/src/EventListener/Frontend/RoutingListener.php#L153

There we could add an `elseif` clause that checks if you're logged in and if the site-id param is set (should only work for logged in users of course).

[2022-11-02 14:59] brusch opened #13499 "[Improvement]: Create WYSIWYG editor abstraction layer"
### Improvement description

Goal: it should be possible to provide alternative WYSIWYG editors by bundles / events.

I think an event could be the best approach, something like:

[code]

This is necessary for https://github.com/pimcore/pimcore/issues/2499

[2022-11-02 15:16] blankse opened #13500 "[Bug]: "Publish" in document context menu published wrong version"
### Expected behavior

The saved version will be published

### Actual behavior

A old version will be published

### Steps to reproduce

- Go to pimcore demo
- Unpublish document (for example /en/Events)
- Change title
- Click "Save" button
- Close document tab
- "Publish" over the tree context menu
- Open document -> Wrong title

[2022-11-02 15:19] TobiSW opened #13501 "[Bug]: prettyUrl handling in multi sites"
### Expected behavior

Pretty Url should be only unique inside a site

### Actual behavior

Its not possible to set the same prettyUrl inside different sites. When you have already defined a pretty url you will get a warning that this URL already exist. In any case it will be saved.

### Steps to reproduce

Create the same prettyUrl inside different site documents