[2022-03-03 09:18] jremmurd opened #11579 "[Bug]: OnlineshopVoucherSeries displays empty alert in Voucher Details tab"
### Expected behavior

No alert is displayed, if no error occurs. If an alert is displayed, it must have a textual content.

### Actual behavior

Empty altert is shown for some seconds after opening "Voucher Details" Tab in OnlineshopVoucherSeries object.

![image](https://user-images.githubusercontent.com/9052094/156534436-9fd67f59-bd3f-43f8-94e5-06aa03541be5.png)

### Steps to reproduce

1. Crea

[2022-03-03 09:32] #11577 closed, assigned to nobody

[2022-03-03 10:11] BentBr opened #11581 "[Discussion/Bug]: Pimcore upgrade causes inabillity to login into /admin"
### Improvement description

Hey Folks,

We've got a rather strange bug / annoyance for which we don't find a solution.

**The issue**
We've upgraded to pimcore 10.3.2 (tried it with pimcore 10.3.1 as well two weeks ago) and everything seems to work.
Except it doesn't: We cannot login to the Pimcore admin (/admin) anymore.
Interestingly enough, entering wrong credentials is still validating correc

[2022-03-03 12:23] alexanderkroneis commented on #9078
@dvesh3 Hi, do you know when this bug will be fixed? Our client is waiting for this feature and we can't provide it at the moment. If not, I can try to fork your repository and fix it by myself and provide a PR.

[2022-03-03 12:27] dvesh3 commented on #9078
@alexgaal Hey! I have just reopened it coz i think it is a valid issue and this is not priority for us at the moment. It would be great if you can provide a PR 👍 thanks!

[2022-03-03 12:54] dvesh3 commented on #11578
Related to https://github.com/pimcore/pimcore/issues/11280

[2022-03-03 13:31] kingjia90 commented on #11538
Thank you for the very detailed info on the issue.

So far, i've found that we are skipping this "fallback" here
https://github.com/pimcore/pimcore/blob/aa0ed48fd97757fc0b30bd2985eef2a237b373c6/models/DataObject/Concrete.php#L135
related to #10529

because for object bricks, the `$fd->isEmpty($value)` returns `false` since the getter (`getMisc` in the example) returns an object.
The check in the p

[2022-03-03 13:33] passioneight opened #11584 "[Improvement]: Consent service shouldn't save object"
### Improvement description

Currently, when using the consent service provided by Pimcore, the passed object is automatically saved when giving or revoking a consent:

https://github.com/pimcore/pimcore/blob/aa0ed48fd97757fc0b30bd2985eef2a237b373c6/lib/DataObject/Consent/Service.php#L97

https://github.com/pimcore/pimcore/blob/aa0ed48fd97757fc0b30bd2985eef2a237b373c6/lib/DataObject/Consent/Servic

[2022-03-03 13:41] basecom-de opened #11585 "[Improvement]: Move error message in pimcore.error.ValidationException from "Details" to modal."
### Improvement description

When using pimcore.error.ValidationException , wouldn't it be better for the user to get the error message directly and not have to click on the "Details" button first?

![details](https://user-images.githubusercontent.com/29371208/156576318-df9b469d-1ebd-4acc-82e1-4ff982f328e8.png)

One could then also consider leaving out the prefix (in this case "Speichern fehlgesch

[2022-03-03 16:25] passioneight opened #11588 "[Improvement]: mail settings error message"
### Improvement description

The error message in the following line seems a bit outdated:

https://github.com/pimcore/pimcore/blob/aa0ed48fd97757fc0b30bd2985eef2a237b373c6/lib/Mail/Plugins/RedirectingPlugin.php#L80

Should be something like: `Please update your system settings for 'pimcore.email.debug.email_addresses'`.

[2022-03-03 16:40] passioneight opened #11589 "[Improvement]: throw DuplicateFullPathException instead of Exception"
### Improvement description

Ever so often, one needs to handle a duplicate full path situation gracefully. For example, when a user registers with the same email twice (with the email being used as the object's key).

Pimcore only triggers an `Exception`, which is just too generic:

https://github.com/pimcore/pimcore/blob/aa0ed48fd97757fc0b30bd2985eef2a237b373c6/models/DataObject/AbstractObject.p

[2022-03-03 16:41] passioneight commented on #11589
Also, the `DuplicateFullPathException` should be thrown for all types of elements (i.e., documents and assets as well as data objects).

[2022-03-04 05:55] brusch commented on #11589
👍agree, can you provide a PR for that?

[2022-03-04 08:27] dvesh3 opened #11590 "[Admin] Documents - not possible to open documents in localhost"
### Expected behavior

A document should be opened

### Actual behavior

When hostname is not set in system settings then exception is thrown on opening a Document:
![image](https://user-images.githubusercontent.com/5137917/156726540-6ea9c42d-684d-41a6-8f7f-001f03196513.png)

### Steps to reproduce

1. Setup Pimcore with Docker
2. Log into Admin interface
3. Open a Document

Regression of https://

[2022-03-04 08:50] dvesh3 commented on #11579
Fixed by #11582

[2022-03-04 08:50] #11579 closed, assigned to aryaantony92

[2022-03-04 10:00] passioneight commented on #11589
I'll see what I can do, but seems like I won't get to it any time soon.

[2022-03-04 10:47] ckemptner opened #11592 "[Improvement]: Create redirect if Pretty URL is changed"
### Improvement description

Currently, if there is an existing Pretty URL for a document and you change it to a new one, opening the previous Pretty URL will result in a 404.

It would be nice if a redirect would automatically be created in this case.

[2022-03-04 11:53] #11581 closed, assigned to nobody

[2022-03-04 11:56] BentBr commented on #11581
Puh, that was a bummer!
We found an EventSubriber to **AuthenticationEvents::AUTHENTICATION_SUCCESS** which was pulling current user and therefore setting a new guard token and as such disabling the user to see any content.

Solution: Narrowing down the scope to have all login events ignored which are not our FE events we explicitly want to track

[2022-03-04 15:30] fabfischer opened #11594 "[Bug]: missing setting for UUID identifier (when using Pimcore\Model\Tool\UUID)"
### Expected behavior

I can set an UUID identifier in the system settings.

### Actual behavior

the documentation states that "Pimcore provides a toolkit for UUID-support.": https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/UUID_Support.html

Unfortunately the referred setting does not exist in the settings anymore.

I can set a uuid instance identi

[2022-03-04 17:16] kingjia90 commented on #11502
@woellundwoell could you please try if the solution proposed here in #11557 fixes the problem?
If no, could you please provide some further details on how to reproduce the problem (to see if we missed something)?
Thank you in advance and wish you a nice weekend in the meanwhile

[2022-03-07 09:01] brusch commented on #11594
Thanks for reporting the issue, acutally the docs are outdated here, you need to set the identifier manually in your config.

[2022-03-07 09:42] brusch commented on #6808
A possible way could be to register all the needed non-shared services dynamically by a compiler pass.
We also need to consider class mappings here.
Then the ModelFactory could just obtain the initialized objects from the container.

Any other ideas?

[2022-03-07 11:58] manasaR507 opened #11603 "[Bug]: Pimcore assets/objects folders tree view not displaying for private admin users from side bar. If we are mapping with sub child folders."
### Expected behavior

If we gave the access for sub child folder in workspace. While logging with that private user. By default, access folder tree view should be display on the sidebar.

### Actual behavior

![Screenshot (71)](https://user-images.githubusercontent.com/64125570/157026798-940c8fb8-bfc9-4bcb-a129-33206acecab3.png)
![Screenshot (70)](https://user-images.githubusercontent.com/6412557

[2022-03-07 12:16] jhgeluk opened #11604 "[Bug]: (Empty) value not available in grid edit"
### Expected behavior

The expected behavior is that we have the possibility to select the (Empty) option/value in the grid edit view.

Example:

<img width="498" alt="Screenshot 2022-03-07 at 13 14 56" src="https://user-images.githubusercontent.com/10391518/157032655-36474aa1-6e0a-4816-96a4-92a03abd16bb.png">

### Actual behavior

All values of a select field are displayed except the (Empty) opti

[2022-03-07 13:24] dpfaffenbauer commented on #6808
what entities are meant here?

[2022-03-07 14:10] brusch commented on #6808
Mainly all `ElementInterface`, so e.g. `Pimcore\Model\Document\Page`

[2022-03-07 15:02] DzemalBecirevic opened #11609 "[Bug]: Users.docTypes column is being truncated"
### Expected behavior

A roles document types are all stored and listed when reloading the admin role editor.

### Actual behavior

Not all document types of the role is selected .

### Steps to reproduce

Have more than 7 document types.

1. Add all 7 document types to a single role.
2. Save the role
3. Close and open the role for editing in Pimcore admin.

[2022-03-07 15:04] fashxp opened #11610 "[Bug] Not all symfony messenger messages are acknowledged"
### Expected behavior

no errors/warnings when processing symfony messenger queue

### Actual behavior

following warnings appear in log and messages remain in messenger table

[code]

### Steps to reproduce

create multiple search backend messages with same element-id and consume messages

reason:
[HandlerHelperTrait](https://github.com/pimcore/pimcore/blob/168fc133553758f91fb78d57d9ca3da4d00e00a

[2022-03-07 15:04] DzemalBecirevic commented on #11609
I believe that this issue comes from that the Users.docTypes columns is a varchart(255) column and that worked fine since before Pimcore X the docTypes where stored as a commaseparated list of IDs. In Pimcore X the docTypes are stored as a commaseparated list of GUID/Hashes and therefore more than 6.5 documents can not be stored and the field is truncated.

6.5 because the last line is truncated.

[2022-03-07 15:22] dvesh3 commented on #8122
@passioneight Not valid anymore. This should cleanup all editables on save https://github.com/pimcore/pimcore/blob/10.x/models/Document/PageSnippet.php#L133

[2022-03-07 15:29] brusch commented on #11610
Fixed by #11611

[2022-03-07 15:29] #11610 closed, assigned to brusch

[2022-03-07 15:35] fashxp opened #11613 "[Improvement] Route AssetUpdateTasksMessage via dedicated transport (pimcore_asset_update)"
### Improvement description

so that more costly image/video processing can be prioritized accordingly

[2022-03-08 11:05] bramstroker opened #11618 "[Bug]: User unable to change sortMode to index or key"
### Expected behavior

When the current sort mode of an object is `index` the user should be able to change it to `key`, and vice versa.

### Actual behavior

When the current mode is `index` the user is only able to change it to `index` (which makes no sense as it is the current mode already). When you are an admin all the 3 possible sort modes are available.

I have looked in the code and the bu

[2022-03-08 11:21] theobscenezen commented on #7390
I've got the same behaviour. A string list of empty IDs like here:

Another possible solution would be to array_filter the $ignoredIds [here](https://github.com/pimcore/pimcore/blob/163f95e61ac97b8d5997932827ba93cc85755b0b/models/Version/Dao.php#L132) or before passing the parameter in the Maintenance-Task [here](https://github.com/pimcore/pimcore/blob/54021096da2b0f74df2d65b68b727791d6adf923/lib/

[2022-03-08 11:47] BigJabber opened #11619 "[Bug]: Object Grid - Selected rows showing as unselected after bulk change"
### Expected behavior

When the 'Enable grid locking' setting is disabled on the class everything behaves as expected. You can select your data, make your batch edit and the selected cells remain visibly selected.

This is visibly working as expected in the below example.
![unlocked-working](https://user-images.githubusercontent.com/32928920/157230916-7721f66b-3e3e-49ff-8790-0307d9bc0234.gif)

###

[2022-03-08 13:39] brusch commented on #699
Fixed by #10022 🥳

[2022-03-08 13:39] #699 closed

[2022-03-08 13:43] brusch commented on #709
Implemented by #7888 🎉

[2022-03-08 13:43] #709 closed

[2022-03-08 13:54] brusch commented on #2314
This is obsolete as this doesn't exist anymore.

[2022-03-08 13:54] #2314 closed

[2022-03-08 14:28] podarcis opened #11623 "[Bug]: Inconsistent behavior with Multiselect using OptionsProvider providing numeric values"
### Expected behavior

When the options provider returns an integer (e.g. Pimcore ID of an object) for `value`, for instance: ` ['key' => 'foobar', 'value' => 1]`:

- Persisted values of multiselect should be the selected options when opening the object.
- Consistent behavior regardless of render type "List" or "Tags".

### Actual behavior

- Multiselect (render type "List") has no selected option

[2022-03-08 14:33] passioneight commented on #7194
Seems like this is long overdue. @dvesh3 any updates?

Additionally, I would love to see methods in the object's class based on the brick fields. I.e., imaging the following class & brick:

1. `User` (class), which contains a field `apiInfo`, referencing the brick in Nr. 2
2. `ExternalApiXY` (object brick), containing a field `remoteId`

Based on this, the generated class should contain something

[2022-03-08 15:17] brusch commented on #3331
Fixed by a5425ac345b82d704924d7d2f33ff406a2937eae

[2022-03-08 15:17] #3331 closed

[2022-03-08 15:21] brusch commented on #3243
🏓

[2022-03-08 15:26] brusch commented on #3168
Done as an enterprise bundle.

[2022-03-08 15:26] #3168 closed

[2022-03-08 15:30] brusch commented on #3920
Resolved by #10242

[2022-03-08 15:30] #3920 closed

[2022-03-08 15:34] brusch commented on #3537
Closed in favor of https://github.com/pimcore/data-hub/issues/156

[2022-03-08 15:34] #3537 closed

[2022-03-08 15:59] brusch commented on #3437
That should be quite easy to implement, just move this part a bit further up and include the old path in the `$params` of the event.
https://github.com/pimcore/pimcore/blob/e714878c981d5373b59e3a12c32b3ee488dd04f5/models/DataObject/AbstractObject.php#L721

Anyone willing to create a PR for that? @solverat @dkarlovi

[2022-03-09 06:34] jremmurd opened #11628 "[Bug]: abandoned dependency inflector"
### Expected behavior

No abandoned dependencies get required.

### Actual behavior

`symfony/inflector` which is deprecated, is required

### Steps to reproduce

Install Pimcore via composer, you will see the warning above.

Also see https://symfony.com/blog/new-in-symfony-5-1-deprecated-the-inflector-component#:~:text=Symfony%20Inflector%20component%20converts%20words,addFoo()%20).

[2022-03-09 08:52] passioneight commented on #11588
@dvesh3 seems like we can close this, right?

[2022-03-09 08:54] dvesh3 commented on #11588
@passioneight done. thanks!

[2022-03-09 08:54] #11588 closed, assigned to aryaantony92

[2022-03-09 09:09] dkarlovi commented on #5881
This would be a nice candidate for #8537.

[2022-03-09 09:24] brusch commented on #4788
If inheritance is enabled, there's a visualization of null:
![image](https://user-images.githubusercontent.com/142037/157412007-7e4832b7-0df6-4a94-9829-7a4d7ab4fc8a.png)

If inheritance is disabled, there's no need to do so.

[2022-03-09 09:24] #4788 closed

[2022-03-09 09:30] brusch commented on #4535
@dkarlovi @aarongerig Anyone willing to contribute this data-type? Shouldn't be too much effort.
The GeoPoint data-type is quite similar, it also uses 2 columns for the store and query tables:
https://github.com/pimcore/pimcore/blob/e464b003b51a92ebd7abc989883a1d3da34bebeb/models/DataObject/ClassDefinition/Data/Geopoint.php#L50

[2022-03-09 09:32] brusch commented on #4512
Closed due to inactivity. Please feel free to continue the discussion or provide the missing information on this issue, we'll then reopen it if necessary. Thanks a lot!

[2022-03-09 09:37] cutec-chris opened #11631 "[Feature]: GraphQL Mutation for Advanced Many-to-Many Object relation"
### Feature description

Thers actual no way to save an Advanced Many-to-Many Object relation with the graphql api.

[2022-03-09 09:43] brusch commented on #5551
Obsolete see #7279

[2022-03-09 09:43] #5551 closed

[2022-03-09 09:44] brusch commented on #5446
Obsolete

[2022-03-09 09:44] #5446 closed

[2022-03-09 09:46] brusch opened #11633 "[Feature]: Remove Extension / Bundle/Brick Manager"
### Feature description

Bundles should be manually registered in `App\Kernel` or using Symfony Flex `bundle.php` no more Pimcore magic.

#12274

[2022-03-09 09:46] brusch commented on #5446
see also #11633

[2022-03-09 09:53] brusch commented on #5402
I guess there's no way for solving this in a generic way.
Please just do not call `getTemporaryFile()` (which is anyway `@internal` ) before the data was persisted.

[2022-03-09 09:53] #5402 closed

[2022-03-09 09:54] brusch commented on #5396
This has been fixed by #8562

[2022-03-09 09:54] #5396 closed

[2022-03-09 10:05] brusch commented on #6189
Obsolete see #7320

[2022-03-09 10:05] #6189 closed

[2022-03-09 10:08] brusch commented on #6789
Should be fixed by #7563 and #11561

[2022-03-09 10:08] #6789 closed

[2022-03-09 10:09] dvesh3 commented on #11590
Fixed by #11616

[2022-03-09 10:09] #11590 closed, assigned to dvesh3

[2022-03-09 10:25] brusch commented on #7423
Fixed by #7550

[2022-03-09 10:25] #7423 closed

[2022-03-09 10:26] brusch commented on #6930
That's probably related to #5088

[2022-03-09 10:28] brusch commented on #6879
Obsolete due to #11633

[2022-03-09 10:28] #6879 closed

[2022-03-09 10:30] marlonbasten opened #11634 "[Feature]: ARM compatible Pimcore-apache Docker container"
### Feature description

Hey there,

I am working on the new Apple processors since a few months and would really like to use the Pimcore provided docker setup.
But I can't use it since it's really slow because I have to emulate a x64 architecture.

Is there any way the docker container could be updated to support the M1 Macs or ARM in general?

All the best

[2022-03-09 10:31] brusch commented on #6820
This should be done by `\Pimcore\Messenger\Handler\AssetUpdateTasksHandler::processVideo()` and saved into the custom settings.

[2022-03-09 10:32] brusch commented on #11634
https://github.com/pimcore/docker/pull/76

[2022-03-09 10:32] #11634 closed, assigned to nobody

[2022-03-09 10:37] jdreesen commented on #11634
Note that there aren't any Apache containers anymore!

[2022-03-09 10:41] brusch commented on #7521
Probably best to use an object storage instead and configure it using Flysystem:
https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/System_Setup_and_Hosting/File_Storage_Setup.html

[2022-03-09 10:41] #7521 closed

[2022-03-09 10:44] brusch commented on #8077
Done by #10423

[2022-03-09 10:44] #8077 closed

[2022-03-09 10:51] brusch commented on #8682
Resolved by #9610

[2022-03-09 10:51] #8682 closed

[2022-03-09 10:53] brusch commented on #9757
Done by #10390

[2022-03-09 10:53] #9757 closed, assigned to nobody

[2022-03-09 10:55] brusch commented on #9608
Seems to be done already, no more occurrences in `/doc`

[2022-03-09 10:55] #9608 closed, assigned to nobody

[2022-03-09 11:11] marlonbasten commented on #11634
@brusch Thanks for the info. But as far as I can see there aren't any arm docker images on docker hub yet?

[2022-03-09 11:13] brusch commented on #11634
@marlonbasten see, the PR is still not merged ... subscribe to it and you will get notified once it's ready and available on the hub.

[2022-03-09 11:38] DzemalBecirevic commented on #10692
We have the same issue in a Pimcore V10.2.9 project. New objects that are added to Pimcore are not showing up in searches. Im running a full reindex of the backend search as we speak, but this should not be needed.

What is the status of this issue?

Edit: In my case it was a missed schedule for messenger:consumer.

[2022-03-09 11:51] mrpdean commented on #5688
This would indeed be a useful feature.

[2022-03-09 12:07] fashxp commented on #3510
won't fix for now

[2022-03-09 12:07] #3510 closed

[2022-03-09 12:09] fashxp commented on #3544
closed due to inactivity

[2022-03-09 12:09] #3544 closed

[2022-03-09 12:10] fashxp commented on #3192
won't fix for now

[2022-03-09 12:10] fashxp commented on #3285
won't fix for now

[2022-03-09 12:10] #3285 closed

[2022-03-09 12:11] fashxp commented on #2138
won't fix for now

[2022-03-09 12:11] #2138 closed

[2022-03-09 12:11] fashxp commented on #2137
won't fix for now

[2022-03-09 12:11] #2137 closed

[2022-03-09 12:12] fashxp commented on #1631
won't fix fow now

[2022-03-09 12:12] #1631 closed

[2022-03-09 12:13] fashxp commented on #4374
won't fix for now

[2022-03-09 12:13] #4374 closed

[2022-03-09 12:14] fashxp commented on #4770
won't fix for now

[2022-03-09 12:14] #4770 closed

[2022-03-09 12:27] fashxp commented on #11633
need to consider marketplace as well

[2022-03-09 12:54] NiklasBr commented on #3544
But the problem still persists

[2022-03-09 12:56] fashxp commented on #3544
issue was open since 2018 and it didn't seem to have too much impact. we are happy to merge any PRs.

[2022-03-09 12:57] NiklasBr commented on #3544
We had to write a huge work-around for this bug because it lacked feedback from you

[2022-03-09 15:12] fashxp commented on #3544
maybe it would have been easier to fix the root cause and create a PR (anlong with a unit test as suggested by me above).
anyway... still ready for reviewing and merging.

[2022-03-09 15:27] NiklasBr commented on #3544
We were unable to do that due to friction and lack of response from Pimcore and missing documentation.

[2022-03-10 10:28] brusch opened #11642 "[Improvement]: Use spatie/image-optimizer instead of custom"
### Improvement description

https://packagist.org/packages/spatie/image-optimizer

Should replace all the stuff in `lib/Image/Optimizer`.
Interfaces, classes etc should be deprecated and removed in Pimcore 11.

[2022-03-10 10:40] #11538 closed, assigned to kingjia90

[2022-03-10 10:50] matthiashamacher opened #11643 "[Bug]: Custom Editable js error"
### Expected behavior

When following the [documentation for adding custom editables](https://pimcore.com/docs/pimcore/current/Development_Documentation/Extending_Pimcore/Bundle_Developers_Guide/Adding_Document_Editables.html), the editable should work.

### Actual behavior

After adding all files I'm getting the following error:
[code]
The problem seems to be that [during this function call](http

[2022-03-10 12:05] denniskorbginski opened #11645 "[Bug]: Video thumbnail generation failes in distributed environments"
### Expected behavior

The message queue consumer should be able to create a video thumbnail regardless of the container/vm that created the message originally.

### Actual behavior

The video processor [creates a local temporary copy](https://github.com/pimcore/pimcore/blob/10.x/models/Asset/Video/Thumbnail/Processor.php#L130) of the video before passing the processing job to the message queue. I

[2022-03-10 12:06] passioneight commented on #11321
@dvesh3 either one of the issue should be open then, no? Seems like you just dismissed this, because it's not a priority on your side. But that doesn't mean the issue should be closed since it still persists, wouldn't you agree?

[2022-03-10 13:01] brusch commented on #11645
@denniskorbginski yep, makes sense, can you create a PR for that? Thanks a lot!

[2022-03-10 14:54] dvesh3 commented on #11321
@passioneight you are right..please see https://github.com/pimcore/pimcore/issues/10417

[2022-03-10 15:21] passioneight commented on #11321
@dvesh3 great, thanks!

[2022-03-11 08:48] aarongerig commented on #4535
@brusch Sure, I'll give it a try.

[2022-03-11 11:58] NiklasBr opened #11650 "[Bug]: Date & Time "use current date" cannot be checked"
### Expected behavior

Be able to check and use the _Use current date_ on Date & Time fields on Data Objects

### Actual behavior

The checkbox does not work.

### Steps to reproduce

Try clicking on the checkbox on the bottom right on demo.pimcore.fun.

![image](https://user-images.githubusercontent.com/279826/157862717-a95707b5-6156-426b-984c-207fa17278a1.png)

[2022-03-11 13:58] danielerne opened #11651 "[Improvement]: Filters should be saved for table options too"
### Improvement description

Currently we can save table options in dataobject folders.
But it should be possible to save the filters too. For example if someone wants to save a list of users which have newsletter enabled.

<img width="1306" alt="Bildschirmfoto 2022-03-11 um 14 42 57" src="https://user-images.githubusercontent.com/546931/157881609-6893dafd-a2fd-4995-ab1e-3a5dcd2e4fc2.png">

[2022-03-11 14:11] danielerne opened #11652 "[Feature]: XLSX Export in Custom Reports"
### Feature description

Enable XLSX Export function for custom reports.
On all other places like folder and customers there's an option for XLSX. In custom reports there's only the option for CSV.

XLSX has more benefits than CSV. Especially for encoding and correct layout in Excel.

[2022-03-11 22:29] andres-asm opened #11654 "[Bug]: sending newsletters slows down after ~250 emails"
### Expected behavior

All emails should be sent, be it that there are 20 subscribers or 20.000.
Throttling mechanisms should be provided.

### Actual behavior

Emails get sent, until ~250 have been sent, then it slows down to a crawl (1 email every 5 minutes was my estimation)

### Steps to reproduce

We have been slowly building up a newsletter and figuring out the platform.
We have configured s

[2022-03-11 22:43] andres-asm commented on #1332
@dominikschnieper I know it's been years, but did you write a plugin to track email opens?

[2022-03-14 08:51] DzemalBecirevic commented on #10692
I was incorrect, even after setting up the messenger:consumer job properly we still have problems with objects and documents not showing up in search results even when we see it in the object/document three.

[2022-03-14 09:12] dvesh3 commented on #11594
Fixed by #11653

[2022-03-14 09:12] #11594 closed, assigned to aryaantony92

[2022-03-14 10:23] akno77 opened #11660 "[Bug]: Twig "pimcore_url()" throws Exception for unpublished pages if used in included snippet"
### Expected behavior

"pimcore_url()" works if I have a snippet which is included in a template via a property.

### Actual behavior

Exception: `Pimcore\Routing\DynamicRouteProvider::getRouteByName(): Return value must be of type Symfony\Component\Routing\Route, null returned`

### Steps to reproduce

1. Snippet Template with Code like `{% set activePage =  pimcore_url() %}`
2. Add a snippet wit

[2022-03-14 10:25] dvesh3 opened #11661 "Update presta/sitemap-bundle to version 3"
### Improvement description

Version 3 Supports Symfony 4,5,6 so can be already supported on Pimcore X.

[2022-03-14 10:27] dvesh3 opened #11662 "Update scheb/2fa-bundle to version 6"
### Improvement description

Version 6 supports Symfony 5.4 & 6 so can be already on Pimcore X.

- [ ] Support both versions "^5.3 || ^6.0", as version 6 requires [authenticator based security](https://github.com/pimcore/pimcore/pull/10967), which is enabled by the user. By default, old authentication system is used.
- [ ] also consider `scheb/2fa-google-authenticator`

[2022-03-14 11:12] dvesh3 opened #11663 "Bump doctrine/doctrine-bundle to 2.5"
### Improvement description

Supports Symfony ^5.0|^6.0

[2022-03-14 11:14] dvesh3 opened #11664 "Update codeception/codeception to version 5"
### Improvement description

Version 5 Supports Symfony >=4.4.24 <7.0

[2022-03-14 12:52] MyZik opened #11665 "[Bug]: Reindex of children doesn't work"
### Expected behavior

If parent (Object or folder) has options "Sort children by" = Index and one of children was deleted, all other children should be resorted.

### Actual behavior

Reindex doesn't work.

I have a categories in my folder:
![Bildschirmfoto 2022-03-14 um 13 50 25](https://user-images.githubusercontent.com/12817320/158175510-53c2ab74-374e-4dc9-87f6-537f0ad0a4ce.png)

Database view

[2022-03-14 13:41] brusch opened #11667 "[Improvement]: Visualize DnD functionality on grids"
### Improvement description

See https://github.com/pimcore/pimcore/pull/11552#issuecomment-1061597710

[2022-03-14 18:45] NiklasBr commented on #10549
This is still relevant

[2022-03-14 18:46] NiklasBr commented on #10740
This is still relevant

[2022-03-14 18:47] NiklasBr commented on #8147
This is still relevant

[2022-03-14 18:47] NiklasBr commented on #10698
This is still relevant

[2022-03-14 18:48] NiklasBr commented on #7657
This is still relevant

[2022-03-14 19:24] NiklasBr commented on #8854
This is still relevant

[2022-03-14 19:27] NiklasBr commented on #9450
This is still relevant, WCAG level 2 accessibility is a legal requirement in many European countries, both on the private and the public sector.

[2022-03-15 05:15] aweichler commented on #11522
@brusch you are right. Thanks anyway for the quick fix.

[2022-03-15 07:33] brusch commented on #9450
It's not closed, just got the "PR Welcome" label 😉

[2022-03-15 07:46] #8879 closed

[2022-03-15 07:48] #3232 closed

[2022-03-15 08:11] #5067 closed

[2022-03-15 08:11] #8940 closed

[2022-03-15 08:11] #5068 closed

[2022-03-15 08:11] #4840 closed

[2022-03-15 08:11] #3595 closed

[2022-03-15 08:19] jremmurd commented on #7230
This is still relevant

[2022-03-15 08:21] alexej-d commented on #8241
Unfortunately I am not sure where to start or else I would help. Can someone give me a hint?

[2022-03-15 08:25] solverat commented on #2965
@fashxp is there any explanation for that decision?

We're (obviously we're the only one, it's in core almost a year) using the `anygetter operator` for our clients in almost every grid view. We can't just give them admin access just to display a grid properly (showing the name of a relation is a daily use case for example)

Maybe this should be restricted to the grid editor only?

[2022-03-15 08:55] NiklasBr commented on #3976
This is still relevant

[2022-03-15 08:56] NiklasBr commented on #6440
This is still relevant

[2022-03-15 08:56] NiklasBr commented on #4943
This is still relevant

[2022-03-15 08:56] NiklasBr commented on #7064
This is still relevant

[2022-03-15 08:57] NiklasBr commented on #4572
This is still relevant

[2022-03-15 08:58] NiklasBr commented on #4663
This is still relevant

[2022-03-15 08:58] NiklasBr commented on #8226
This is still relevant

[2022-03-15 09:03] NiklasBr commented on #7180
@Hbitvof This might help solve it for you https://github.com/pimcore/pimcore/pull/9919

[2022-03-15 09:08] jdreesen commented on #9450
Why is the label removed as soon as someone comments the issue?

[2022-03-15 09:13] NiklasBr commented on #9450
Because Stale Bot is not a good tool.

[2022-03-15 09:22] fashxp commented on #2965
reason for that was security, because with the any-getter you could traverse to any data - even data you must not access due to permissions or internal data.

what do you mean with that?

[2022-03-15 09:26] solverat commented on #2965
Maybe we could disallow the anygetter inside the grid configuration view. so non-admins cannot add or modify them but should be able to view / export data.

[2022-03-15 09:30] jdreesen commented on #9450
Yeah, it seems to be very noisy and stupid...

[2022-03-15 09:34] fashxp commented on #2965
We could yes, but I'm not sure if this is possible consistently.
And then admins still could configure something that other users must not see (and they might expect that the users don't see that).
Probably we can add an additional flag to the configuration which says `Allow non-admin users to see getter result`.

If you want to give it a try, go for it 👍

[2022-03-15 10:45] brusch commented on #11618
Fixed by #11670

[2022-03-15 10:45] #11618 closed, assigned to nobody

[2022-03-15 12:05] passioneight opened #11671 "[Improvement]: do not alter value in select"
### Improvement description

Would be nice to be able to use _any_ `Display Name` - i.e., plain text, HTML, ..., what have you. Currently, only specific HTML tags are allowed:

https://github.com/pimcore/pimcore/blob/848c8d1cf023dfe1a3fe95c6e5c3228c8934180f/bundles/AdminBundle/Resources/public/js/pimcore/object/classes/data/select.js#L129

Seems like this was added to support rendering in the grid

[2022-03-15 13:10] #11589 closed, assigned to nobody

[2022-03-15 13:20] NiklasBr commented on #10517
Wasn't this resolved by #10296?

[2022-03-15 13:21] brusch commented on #10517
@NiklasBr yep, thanks for the hint!

[2022-03-15 13:21] #10517 closed, assigned to nobody

[2022-03-15 13:30] dvesh3 commented on #8122
Fixed by #11612

[2022-03-15 14:35] dvesh3 commented on #11665
@MyZik this option is manual indexing, which means user is responsible for changing the indexes. Also it doesn't change when adding new objects.

Is this really an issue? as you will still the objects in specified order in tree.

[2022-03-15 15:01] matthiashamacher commented on #10924
Seems to be the same as https://github.com/pimcore/pimcore/issues/1002

[2022-03-15 15:02] #1002 closed

[2022-03-15 15:04] dvesh3 commented on #10924
thanks! I would keep this one open as it is clearly described and voted 😜

[2022-03-15 15:05] brusch opened #11673 "[Improvement]: Web2print Chrome Renderer: change library to chrome-php/chrome"
### Improvement description

Implementation for previews, see #10934

See also: https://github.com/pimcore/pimcore/pull/10934#issuecomment-1068085492

[2022-03-15 15:05] brusch commented on #10679
Maybe also related #11673

[2022-03-15 15:17] #11280 closed, assigned to dvesh3

[2022-03-15 15:22] NiklasBr commented on #11514
I think this is a good example of an issue where Stale Bot's *PR Welcome* is not correct. This seems like something that only Pimcore can clarify.

[2022-03-15 15:56] dvesh3 commented on #11578
Fixed by #11586

[2022-03-15 15:56] #11578 closed, assigned to dvesh3

[2022-03-15 16:07] NiklasBr commented on #7219
This is still relevant

[2022-03-16 07:46] fashxp commented on #11514
that's exactly why we introduced the stale bot ... to be able to have an overview and prioritize - and also communicate clearly on what we will working on.

[2022-03-16 08:29] dvesh3 commented on #11507
Fixed by #11641

[2022-03-16 08:29] #11507 closed, assigned to nobody

[2022-03-16 11:19] jremmurd opened #11678 "[Bug]: Translations tab update button not visible in second line"
### Expected behavior

Translation "update" functionality is always available in table editor.

### Actual behavior

"Update" button is gone (overlapped by headerbar) in second line in Translations tab with active filter.

### Steps to reproduce

In Pimcore Demo

1. Filter by "2-door b"
2. Try to update second result
3. No update button available, record can't be saved via mouse click just by Keyb

[2022-03-16 12:28] #11526 closed, assigned to kingjia90

[2022-03-16 12:40] mmodmmod opened #11679 "[Feature]: Make Creating New Objects in Reverse-Many-To-Many-Object-Relations optional"
### Feature description

Dear Pimcore Community,

As with "normal" Many-To-Many-relations. Would it not better to add an option to the Reverse Many-To-Many-Object-Relations that it would become optional whether there is this button to create a new Object.
Currently, we have a use case where users should be able to see the relation but not being able to actually create new Data Objects.

I have loo

[2022-03-16 12:48] #11604 closed, assigned to kingjia90

[2022-03-16 13:29] brusch commented on #11502
@woellundwoell 🏓

[2022-03-16 13:58] mcop1 opened #11685 "[Bug]: Name of control doesn´t reflect the order in the page"
### Expected behavior

Name of control should reflect the order

### Actual behavior

Name of control doesn´t reflect the order in the page

### Steps to reproduce

See https://github.com/pimcore/data-hub/issues/493 for details/example

It can be reproduced without headless documents too

1.) Add new content page
2.) Add blockquote
3.) Add more blockquotes by using the "+" button on the first adde

[2022-03-16 14:22] Ricardocanul7 opened #11687 "[Improvement]: PHP 8.1 deprecation messages"
### Improvement description

When running tests in a project with PHP8.1 I receive a lot of deprecation messages from Pimcore code

a few of the messages are:

`Deprecated: strlen(): Passing null to parameter #1 ($string) of type string is deprecated`
`Deprecated: trim(): Passing null to parameter #1 ($string) of type string is deprecated`
`Deprecated: strip_tags(): Passing null to parameter #1 ($

[2022-03-16 15:59] MyZik opened #11689 "[Bug]: Default value generator class doesn't work for Fieldcollections"
### Expected behavior

If we add a field collection to our object and one of FC-fields has a default value generator class, this generator should define the value in FC-field.

### Actual behavior

By adding/saving a fieldcollection in object, default value will not be set. My class:

[code]

### Steps to reproduce

1. Create a default value generator class
2. Create a field collection
3. Add some

[2022-03-17 08:44] dvesh3 commented on #11568
Failed test result:
[code]

[2022-03-17 09:45] #11665 closed, assigned to nobody

[2022-03-17 09:47] fashxp opened #11691 "[Improvement] Improve docs for thumbnail prefixes"
### Improvement description

make usage and requirements of `thumbnail_deferred` more clear

see https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/System_Setup_and_Hosting/File_Storage_Setup.html

[2022-03-17 10:14] fashxp opened #11692 "[Improvement] Provide public available getFrontendPath method for assets and (image) thumbnails"
### Improvement description

to have one method to be used when generating public frontend urls that consider eventually configured prefixes and consistently adds a domain to the path

[2022-03-17 10:34] NiklasBr opened #11693 "[Bug]: URL Slug fields disappeard since 10.3.2"
### Expected behavior

All URL Slug fields in a localizedfield should be visible and possible to edit.

### Actual behavior

In 10.3.2 and 10.3.3 the value field is gone. Only the fallback is visible where there should be two fields:
![image](https://user-images.githubusercontent.com/279826/158791629-a8d0b4d3-6704-4529-ae6f-72597e1f876e.png)
![image](https://user-images.githubusercontent.com/27982

[2022-03-17 10:35] NiklasBr commented on #11693
(cannot reproduce since demo.pimcore.fun is down)

[2022-03-17 10:36] NiklasBr commented on #11693
Possibly the same as #10604

[2022-03-17 12:12] dvesh3 commented on #11693
duplicate of #10604

[2022-03-17 12:12] #11693 closed, assigned to nobody

[2022-03-17 12:15] NiklasBr commented on #10604
@dvesh3 what is the timeline here? This issue got worse since https://github.com/pimcore/pimcore/pull/11487

[2022-03-17 12:16] dvesh3 commented on #10604
This is not priority for us at the moment. A PR would be nice to fix the issue 😉

[2022-03-17 12:17] NiklasBr commented on #10604
I would _gladly and promptly_ provide a PR if there was documentation how this was supposed to work.

[2022-03-17 12:20] dvesh3 commented on #10604
Like you said before, I would keep it consistent with other places in admin.

[2022-03-17 12:22] NiklasBr commented on #10604
Then it appears we are in agreement, why did you [explicitly make it inconsistent](https://github.com/pimcore/pimcore/issues/10604#issuecomment-1044176324)?

[2022-03-17 12:51] NiklasBr opened #11697 "[Bug]: URL Slug cannot store fallback for multiple languages"
### Expected behavior

Every language for a localized URL Slug inside a localizedfield should be able to have a fallback slug.

### Actual behavior

It is only possible to have one language have a fallback slug.

### Steps to reproduce

1. Add a URL Slug to a localized field
2. Fill in the "fallback" field in one language.
3. Save object.
4. Fill in the "fallback" field in another language.

Resul

[2022-03-17 13:23] dvesh3 commented on #10604
@NiklasBr please test #11698

[2022-03-17 13:48] NiklasBr commented on #10604
@dvesh3 that partially fixed the issue, the site-specific field appeared, but the fallback remains empty

[2022-03-17 15:08] mysliwietzflorian commented on #9843
One similar aspect we came across in a PCX update was that migrations, which are not implemented in an idempotent way, cause headaches when something fails in the middle of the execution. An example to see would be here:

https://github.com/pimcore/pimcore/blob/18d8b50455f3e4c2c2e1aef38a499fd406e8a865/bundles/CoreBundle/Migrations/Version20210430124911.php#L38

Every time that migrations is execut

[2022-03-17 15:16] mysliwietzflorian commented on #11514
@NiklasBr Agreed. But with some more information from the core team a pull request - in this case - is still feasible from anybody.   😉

[2022-03-17 15:42] mysliwietzflorian opened #11700 "[Bug]: Pricing Rules are not correctly migrated from 6.x to 10.x"
### Expected behavior

Serialized conditions in the table `ecommerceframework_pricing_rule` should be migrated in some way. E.g.: The namespace like `AppBundle` should be transformed to `App` along with the "size" encoding from the `serialize()` method.

Possibly via Migration or Export/Import process.

### Actual behavior

We could have overlooked or missed something but conditions in the table `

[2022-03-18 08:16] jerem-eng opened #11705 "[Bug]: multiple licence instance"
### Expected behavior

Hello, i want to create portal with the portal engine

### Actual behavior

in local environment i have one error cause my hostname doesn't exist -> i solve this when i fill the field in general settings -> website setting -> principal domain

i tried do to the same with production environment  but my licence crying cause there are multiple production instances.

i think thi

[2022-03-18 09:08] fashxp commented on #11705
please contact your contact directly at pimcore or reach out via email to enterprise-support[at]pimcore.com

[2022-03-18 09:08] #11705 closed, assigned to nobody

[2022-03-18 09:27] jerem-eng commented on #11705
thanks for the email

[2022-03-18 11:15] cutec-chris opened #11708 "[Bug]: bulk Moving Tree Entrys results in a lot of Errors"
### Expected behavior

no Errors when moving Tree Items

### Actual behavior

when moving at least 5 Tree Items Pimcore often this error occours:

An exception occurred while executing 'UPDATE objects o,
                    (
                        SELECT newIndex, o_id FROM (SELECT @n := IF(@n = ? - 1,@n + 2,@n + 1) AS newIndex, o_id
                        FROM objects,

[2022-03-20 18:46] kingjia90 commented on #6383
stumbled upon this when working on #11714, which may change that `subquery OR subquery`

After changing that subqueries, i have found out that this function `getUserPermissions` is quite intense on my local instance.

https://github.com/pimcore/pimcore/blob/18d8b50455f3e4c2c2e1aef38a499fd406e8a865/models/Element/AbstractElement.php#L198-L214
by returning true on top and skipping the rest, it went

[2022-03-21 09:25] dvesh3 commented on #11700
@mysliwietzflorian please share a case where it is possible to have `AppBundle` in the condition of a PricingRule. thanks!

[2022-03-21 09:28] dvesh3 commented on #10604
@NiklasBr please check your response data. In my case, the fallback value is there (`with site Id = 0`):
![image](https://user-images.githubusercontent.com/5137917/159234469-5f0c7d92-11f4-4ddb-89c1-21cdb67fb309.png)

[2022-03-21 09:56] NiklasBr commented on #10604
@dvesh3 Not working, not in demo site either:

![image](https://user-images.githubusercontent.com/279826/159238635-4fd0225a-b722-4ef3-a4ee-b9d80c5635aa.png)

![image](https://user-images.githubusercontent.com/279826/159238763-f4955f55-8dc2-4d82-b4ad-c252c2308f03.png)

[2022-03-21 10:09] mysliwietzflorian commented on #11700
@dvesh3 Actually good question:

I could only reproduce it in Pimcore 6.6.2 and on our instance of PCX. In the demo project the condition column in the table `ecommerceframework_pricing_rule` was not filled. Maybe a different Configuration Storage?

The gist is to use some config with object in the App namespace. I used the Voucher class.

![image](https://user-images.githubusercontent.com/2322542

[2022-03-21 10:54] andi-schlosser opened #11716 "[Improvement]: Allow change of sort method of data object children based on a user role"
### Improvement description

Since Pimcore 6.9 only admin users are allowed to change the sort method (key or index) of children of data objects.
Is there a specific reason why?
And would it be possible to change this behaviour so users with a specific role are able to change the sort method?

That's the old pull request which introduced the changes vor Pimcore 6.9: https://github.com/pimcore/pimc

[2022-03-21 12:25] vaishali-hm opened #11719 "[Bug]: Sorting is disabled in Advanced Many to many object Relation"
### Expected behavior

if the attribute is editable then sorting should be editable as in the previous version of pimcore

### Actual behavior

![Screenshot from 2022-03-21 17-51-44](https://user-images.githubusercontent.com/96772636/159260300-a938499e-904f-45fd-a16e-419b322e08d7.png)

### Steps to reproduce

1) Go to https://demo.pimcore.fun/admin/?perspective=default website
2) open ID 1018 in t

[2022-03-21 12:42] fashxp commented on #11685
is intended the way it is .... there is a key, which is part of the name, and there is the index which defines the order of the editables.

[2022-03-21 12:42] #11685 closed, assigned to nobody

[2022-03-21 12:50] #11568 closed, assigned to dvesh3

[2022-03-21 13:18] fashxp commented on #11687
also check why phpstan is not catching that.

[2022-03-21 13:22] fashxp commented on #11708
can you share some steps to reproduce this on our public demo?

[2022-03-21 13:29] fashxp commented on #11716
We would love to see a PR for that 👍

[2022-03-21 13:34] fashxp commented on #11679
We would like to merge a PR for that 👍

The problem you are showing, we cannot reproduce on our public demo. Can you?

[2022-03-21 13:36] stefanos87 opened #11720 "Custom order of DataObjects in Pimcore"
This feature is convenient because with drag and drop I can change the sorting manually, the problem is that when I have many objects, these are paginated, how can I move for example an object from the last page to the first?

![image](https://user-images.githubusercontent.com/21968830/159271117-67492fc4-6524-4275-a579-85b92a13e779.png)

Thank you

_Originally posted by @stefanos87 in https://gith

[2022-03-21 13:52] blankse commented on #11687
@fashxp Parameter types are checked by PhpStan in level 5. We are on level 4.
https://phpstan.org/user-guide/rule-levels

[2022-03-21 13:55] woellundwoell commented on #11502
@kingjia90 @brusch Sorry for the delay, we will try the proposed solution later this week. But it does look promising :)

[2022-03-21 14:16] vaishali-hm opened #11721 "[Bug]: Master Admin mode does not work for Field collection - Advanced Many to Many Object Relation attribute"
### Expected behavior

In Master admin mode, all the non-editable attribute for relation type should be editable as per the previous version of pimcore

### Actual behavior

Advanced many - to many object relation attribute still remain non-editable in Master Admin mode.

### Steps to reproduce

1) Go to website https://demo.pimcore.fun/admin/?perspective=default
2) create class "TestAdminMode" in

[2022-03-21 15:03] valentin- opened #11724 "[Bug]: XLIFF import issues"
### Expected behavior

I came across several issues using the xliff importer. I'm creating a PR for those bugs i fixed locally.

When translating object relations, the items are created in the default language. If possible they should get translated as well (use document for en, not de).

Pimcore 10.3.3

### Actual behavior

The import file only contains a single field.

[code]

This also updates

[2022-03-21 15:59] woellundwoell commented on #11502
@kingjia90 @brusch
Works like a charm!

[2022-03-21 16:10] #11502 closed, assigned to kingjia90

[2022-03-21 16:45] andi-schlosser commented on #11716
Perfect!
I will work on that end of this week or next week.

[2022-03-21 16:59] kingjia90 commented on #6383
@fabfischer i just wanted to ask if you could give a look and try to the changes i am making on PR #11714 to see if there's any real-life perfomance improvments.

Since you intially narrowed down the problem to the SUBQUERY OR SUBQUERY, in this PR i have changed the approach to avoid the second SUBQUERY (since it's shared by the same parent) on each row by calling it once with `isInheritingPermiss

[2022-03-21 17:24] kingjia90 commented on #11720
I think it cannot be done directly by drag and drop.
At the moment, one possible solution would be dragging the item temporary somewhere outside, then change the to page 1 and drag it back in the desired position.
The cut/paste function seems not considering the custom order, probably could be improved to paste in the current pagination index.

[2022-03-22 09:38] NiklasBr commented on #2839
@brusch Now that https://github.com/pimcore/pimcore/issues/6568 has been merged, how is translation of Tags supposed to work?

[2022-03-22 10:10] brusch commented on #2839
@NiklasBr I guess that's not yet covered ...

[2022-03-22 10:35] jdreesen commented on #2839
So maybe this issue should be reopened?

[2022-03-22 10:50] xonu opened #11729 "[Bug]: table datatype does not register change when data pasted from clipboard"
### Expected behavior

Paste data from the clipboard into the table, save object. Update object and find that the pasted data has been saved.

### Actual behavior

Pimcore does not register the change of object data when data has been pasted from the clipboard. Note that there is no asterisk after inserting the data, which shows that the change to the object has not been registered before saving.

[2022-03-22 14:51] passioneight opened #11737 "`getChildren` shouldn't load the listing"
[The line `$this->children[$cacheKey] = $list->load();`](https://github.com/pimcore/pimcore/blob/master/models/Document.php#L666) loads the complete list. Seems like this should be done only when needed, not when `getChildren` is called.

Returning the `Listing` instead would further allow for more flexibility; one could:
- alter the `Listing`s conditions or
- sort the result or
- limit the result

[2022-03-22 16:04] dominikschnieper commented on #1332
Hi @fr500 nothing to share easily unfortunately.

[2022-03-23 00:34] kingjia90 commented on #11678
This bug is classified as `EXTJS-19471` on ExtJS ticketing system and it was fixed in the [7.1.0](https://docs.sencha.com/extjs/7.1.0/guides/whats_new/release_notes.html#whats_new-_-release_notes_-_classic) (while Pimcore still uses `7.0.0.159` at the moment).
I've tried locally with `7.1.0.46` but does NOT work (as also mentioned and confirmed [here](https://forum.sencha.com/forum/showthread.php?

[2022-03-23 08:20] NiklasBr commented on #6381
This is still relevant

[2022-03-23 08:23] BlackbitDevs commented on #6381
@ckogler-elements could you create a PR with your suggested solution? I think then we will get a feedback...

[2022-03-23 09:22] cutec-chris commented on #11708
unfortunally not, ive tried with several data items in the demo but there those issue seems not to occour.
but i also have no clue what should be different on our setup.

i would like to show it to you per teams call or simelar would that be possible ?

[2022-03-23 09:30] jremmurd opened #11740 "[Feature]: cascading fallback languages"
### Feature description

**Suggestion**:

Fallback languages should work in a cascading manner.

So that if locale `nl `is configured as the fallback for `nl_BE` and `en` is configured as fallback for `nl`, that if there is no value in `nl_BE `it will look in `nl `and then also falling back to `en`.

Currently only the first defined level of fallback language applies.

[2022-03-23 12:26] passioneight opened #11743 "[Improvement]: trigger a different event for drafts"
### Improvement description

Currently, when interacting with an element _without saving it_ a draft is created. The draft then triggers the events like an actual save would - e.g.:

https://github.com/pimcore/pimcore/blob/8aeefe5bd0ed4aaf6545d3e56b5aa2d4eac70107/models/DataObject/Concrete.php#L257-L261

This means that every event subscriber listening to such an event will be triggered, which usu

[2022-03-23 14:46] #11181 closed, assigned to mcop1

[2022-03-23 14:48] dvesh3 opened #11745 "Remove $this->get() calls in Controllers"
### Feature description

Either use method/constructor injection or service injection through @required attribute

[2022-03-23 14:55] jakesde opened #11746 "[Bug]: key for Advanced Many-To-Many Object is allowed in any case but works only in lowercase"
### Expected behavior

Since magic `__call` for `Pimcore\Model\DataObject\Data\ElementMetadata` supports any case for `set*`/`get*` I would expect that also the column key is also handled as case insensitive. E.g. you set key as `myColumn`, then you create logic that updates that column like `$elData->setMyColumn(42)` and save the parent object with it. Afterwards, when you fetch the parent object

[2022-03-23 15:47] danielerne opened #11748 "[Bug]: Tag filter in search does not work"
### Expected behavior

Objects can be filtered by Tags

### Actual behavior

No items found

### Steps to reproduce

Open Pimcore Demo
Open a car and assign a tag like Country "Germany"
Go to a news object and click Search for selecting a Car
Open Tag filter and choose Germany
- No Items

<img width="1622" alt="Bildschirmfoto 2022-03-23 um 16 47 24" src="https://user-images.githubusercontent.com/5

[2022-03-23 15:55] kingjia90 commented on #10604
@NiklasBr the demo didn't have the changes of #11698 at that time, i've just reviewed and merged it.

The problem of fallback slug remaining empty happens when you set the slug set for siteIds that are not consecutive, eg. 0,3,4,5 which JS(?) guesses it is as an Object instead of Array (because indexes 1,2 are missing), see:

![image](https://user-images.githubusercontent.com/6014195/159733458-0f5

[2022-03-23 15:55] dvesh3 opened #11749 "Make webmozarts/console-parallelization optional"

[2022-03-23 15:58] dvesh3 opened #11750 "[Symfony] Fix some deprecations from version 5"
### Feature description

- [x] `PreAuthenticatedAdminSessionFactory` should not implement deprecated `Symfony\Bundle\SecurityBundle\DependencyInjection\Security\Factory\SecurityFactoryInterface`
- [x] ~`UserChecker` should not extend from deprecated class `Symfony\Component\Security\Core\User\UserChecker`, instead use `InMemoryUserChecker`~ already fixed and merged in [12193](https://github.com/pi

[2022-03-23 16:03] fashxp commented on #11748
works for me ... are you testing on demo.pimcore.com or on demo.pimcore.fun?

[2022-03-23 16:08] danielerne commented on #11748
On demo.pimcore.com
Assets are working but for objects it is not working

[2022-03-23 16:09] danielerne commented on #11748
<img width="884" alt="Bildschirmfoto 2022-03-23 um 17 09 26" src="https://user-images.githubusercontent.com/546931/159744683-4374019d-0e9f-43c9-bdc7-c287723962cd.png">

[2022-03-23 16:41] dvesh3 opened #11751 "Bump symfony-cmf/routing-bundle to ^3.0"
### Feature description

- Supports only Symfony 6

[2022-03-23 16:44] dvesh3 opened #11752 "Bump symfony/doctrine-messenger to ^6.0"
### Feature description

- Supports Symfony ^5.0 & ^6.0

[2022-03-24 07:29] niederberger-qw opened #11754 "[Bug]: In the Classification store view the X button deletes without warning"
### Expected behavior

We need a message "are you sure to delete the group with all values? After the next save the values from that group will be empty".

### Actual behavior

Deletes the whole data without a warning. (Missclick is a problem here)

### Steps to reproduce

Click on the X after you added a group and then save.

[2022-03-24 07:45] NiklasBr commented on #10604
@kingjia90 my comment https://github.com/pimcore/pimcore/issues/10604#issuecomment-1070946492 was specifically about https://github.com/pimcore/pimcore/pull/11698, I have tested it locally and the problem persisted.

[2022-03-24 08:55] kingjia90 commented on #10604
@NiklasBr Ok, in this case, there might be something related, because the #11698 fixed the reproducible problems to me, at least i was able to reproduce the missing dropdown, no selection = select all by default and empty slugs.

The `Unique constraint violated. Slug alreay used by object urlSlug, fieldname: urlSlug` (https://github.com/pimcore/pimcore/issues/10604#issuecomment-1073701197) happens

[2022-03-24 09:09] NiklasBr commented on #10604
Where is this documented? Also why do you believe it to be intended?

[2022-03-24 09:42] brusch commented on #10604
@NiklasBr in the code, we do not create docs for every single line of code 😉 (see also other frameworks ...).

[2022-03-24 10:26] NiklasBr commented on #10604
Really, @brusch?

You understand very well what I am asking for when I ask why something that *behaves like a bug and looks like a bug and feels like a bug* is claimed to be *working as intended*, you understand very well that I am _not_ asking for every line to be documented. You understand that I am asking for a design decision to be clarified to those who did not participate in its design and w

[2022-03-24 10:53] brusch commented on #10604
Well, I'm sorry if we can't fulfill your expectations, but it doesn't help if you ask for docs again and again😉
Others seem to be ok with working and improving Pimcore, and if there are any questions we are also always here to help or clarify things.

[2022-03-24 10:55] rubanooo opened #11757 "Saving objects is VERY slow when you have a lot of languages enabled"
### Improvement description

When saving objects with a lot of languages (50+) persisting the data to the database takes a very long time. Sometimes 20+ seconds per object.  After some debugging I traced the problem back to `Pimcore\Db\PimcoreExtensionsTrait::insertOrUpdate`

This method calls `Pimcore\Db\PimcoreExtensionsTrait::getPrimaryKeyColumns` for every table that needs to be updated, which

[2022-03-24 11:26] jdreesen commented on #11757
It was added in these PRs #11159, #11180, #11239 to resolve this issue #11109.

[2022-03-24 13:23] rubanooo commented on #11757
I see that a runtime cache was added for these queries but that doesn't help much. The first time an insert is ran on every request it still needs to fetch the primary keys for 50 tables. Do you think a `Pimcore\Cache` with a longer duration is suited here?

I also think running queries on the `information_schema` to find primary keys are not a good idea in the first place

[2022-03-24 13:44] jdreesen commented on #11757
Maybe @HaaseIT, @brusch or @blankse know more about this.

[2022-03-24 14:11] kingjia90 commented on #10604
For "paperwork" purposes, i am closing this issue, since the initial problem described here and even on #11693 (JSON urlSlug was returned as object instead of array) are both objectively reproduced, confirmed and successfully fixed by the changes on #11698.

I hope you agree with me to move this `Unique constraint violated. Slug alreay used by object urlSlug, fieldname: urlSlug` problem to #11697

[2022-03-24 14:11] #10604 closed, assigned to nobody

[2022-03-24 17:11] kaurov opened #11759 "[Bug]: Localized CalculatedValue field is not aware of its position in Field-Collection"
### Expected behavior

public function compute(Concrete $object, CalculatedValue $context): string

Localized fields will get current position in Fileds-Collection in $context->getIndex() as well es untranslated fields do.

### Actual behavior

The untranslated field can access current Fileds-Collection item by calling
[code]
but there is no such ability if the filed to locate the same field insid

[2022-03-25 05:54] passioneight commented on #11474
Related: https://github.com/pimcore/pimcore/issues/11743

[2022-03-25 13:11] jremmurd opened #11760 "[Feature]: Auto populate localized document relations"
### Feature description

It would be useful if there was an auto-populate functionality for document relations in localized fields. All language variants could be set by the defined translations of the document tree.

What do you think?

I.e.

![image](https://user-images.githubusercontent.com/9052094/160126791-df716ac4-90bb-4f21-88c3-796d2f35e5fb.png)

[2022-03-25 14:05] alexmf23 opened #11761 "[Bug]: CLI Tools & Applications installed but not viewed by pimcore system requirements."
### Expected behavior

I have installed ghostscript,libreoffice,pdftotext,timeout, but in System requirement check is not recognized.
<img width="731" alt="Screenshot 2022-03-25 at 12 43 42" src="https://user-images.githubusercontent.com/63473281/160115275-796af47e-9a3c-4145-8f7c-80d6b83fd659.png">

if i check with bin/console pimcore:system:requirements:check the system does see them
<img width="

[2022-03-25 15:06] weihan00ae commented on #4533
I resolve doing this but I don't know if there are going to be fundemental problems in he future because of it.

Go to vendor/pimcore/pimcore/lib/Tool/Requirements.php

and comment this last check:

`// With RECURSIVE
        // $queryCheck = true;

        // try {
        //     $db->query(
        //         'WITH RECURSIVE counter AS (
        //             SELECT 1 as n UNION ALL SELECT n +

[2022-03-25 15:22] adriaans commented on #11757
As @rubanooo is my colleague, I also investigated this problem. This is what happens:
1. In the `insertOrUpdate` function Pimcore needs to know the primary key field names to prevent updating these primary key fields with null values
2. The primary keys come from a Doctrine function `$this->getSchemaManager()->listTableDetails($table)->getPrimaryKeyColumns();`
3. This function creates a complicate

[2022-03-25 15:59] dvesh3 commented on #11761
@alexmf23 you might need to set `$PATH` env. variable or define individual paths for executables for Pimcore to identify these tools. please see https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/System_Setup_and_Hosting/Additional_Tools_Installation.html#page_Additional-Tools-Installation

[2022-03-25 19:44] xonu opened #11764 "[Bug]: Split view settings affect other user accounts"
### Expected behavior

Split view settings are saved for every **user** individually.

### Actual behavior

Split view settings are saved for every **browser** individually. Are cookies used without a connection to the current user session?

### Steps to reproduce

![split-view-settings](https://user-images.githubusercontent.com/5429616/160189223-90db2c7d-b008-4b59-bf9f-380ea369b9a7.png)

To repro

[2022-03-26 20:32] yamenalahlas opened #11766 "[Bug]: pimcore.bundle_pimcore_direct_edit_asset_token' doesn't exist"
### Expected behavior

**Direct-edit**
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'pimcore.bundle_pimcore_direct_edit_asset_token' doesn't exist

### Actual behavior

After installation and configuration for direct-edit and mercure.
When I click Open to edit locally I get the error
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'pimcore.bundle_pimcore_direct_edit_asset_to

[2022-03-27 10:37] tebulrich opened #11768 "[Bug]: DEV MODE enabled despite being disabled in .env file"
### Expected behavior

DEV MODE should be disabled and not show up under the notifications when

APP_ENV=prod
APP_DEBUG=0
PIMCORE_DEV_MODE=false

### Actual behavior

DEV MODE shows up under the notifications button

### Steps to reproduce

As seen above with version 10.3.3. All caches cleared multiple times + also manually removed files in var/cache. Its a fresh install with no other data than th

[2022-03-27 16:10] dpfaffenbauer commented on #11757
does pimcore really need to query for internal tables primaryKeys? Shouldn't the application itself not already know the primary keys?

[2022-03-28 07:02] dvesh3 commented on #11761
@alexmf23 Is it resolved? if so, then we can close the issue. thanks!

[2022-03-28 08:09] NiklasBr commented on #11760
I have always thought that perhaps localized fields should be able to inherit the same way classification store do.

[2022-03-28 08:10] brusch commented on #11757
@dpfaffenbauer Well, not so easy 🙃 Details can be found here #11159 But of course it could be refactored and made statically.

[2022-03-28 08:21] brusch commented on #11766
As this is about an enterprise bundle this is not the right place, please talk to your contact directly at pimcore or reach out via email to enterprise-support[at]pimcore.com

Thanks

[2022-03-28 08:21] #11766 closed, assigned to nobody

[2022-03-28 08:21] dpfaffenbauer commented on #11757
@brusch never said that it might be easy ;). But conceptually that should work right? Pimcore knows the primary keys anyway.

[2022-03-28 08:22] brusch commented on #11757
Yep ... 😉

[2022-03-28 08:26] brusch commented on #11768
Seems that the settings actually work, but it's wrongly reported in the UI 🙃

[2022-03-28 11:39] #11514 closed, assigned to brusch

[2022-03-28 12:29] brusch commented on #11768
The issue is that `false` is not yet considered, you'd have to use `0` instead.

[2022-03-28 13:31] brusch commented on #11708
Unfortunately we can't do a Teams session. Please try to create a reproducible scenario that can be shared here, or even better debug and try to implement a pull request fixing the issue.
I'll close this issue here for now, if there are any new findings I'm happy to re-open the issue.
Thanks!

[2022-03-28 13:31] #11708 closed, assigned to brusch

[2022-03-28 13:56] veenus93 opened #11779 "[Bug]: Pimcore 10 pagination issue on dashboard custom reports"
### Expected behavior

First page and previous page of the custom reports pagination should be visible when user open the dashboard after the load of the application
![expected](https://user-images.githubusercontent.com/34839656/160413245-64778511-14be-4eae-9762-c1f171f3b147.png)

### Actual behavior

When clicked on last page of the custom report pagination , First page and previous page at the b

[2022-03-28 14:09] dvesh3 commented on #11724
@valentin- Sorry, the description is not quite understandable to me. Could you please share steps to reproduce the issue? thanks!

[2022-03-28 14:22] dkarlovi commented on #11720
One possible solution would be to add some feature to the context menu which allows setting `o_index`, maybe directly or indirectly ("Move to Front", "Move to Back").

[2022-03-28 15:41] kaurov opened #11790 "[Bug]: Many-To-One Relation long label breaks layout"
### Expected behavior

DataObject field of type Many-To-One Relation would be limited to the width from its configuration

### Actual behavior

If user puts the long name in field of Many-To-One Relation type, then the input folm length is increased to fit the name length and design is broken

### Steps to reproduce

1. create a field of Many-To-One Relation type in any class.
2. set the field wit

[2022-03-28 17:05] alexmf23 commented on #11761
Solved, thanks. We can close the issue.

[2022-03-28 17:05] #11761 closed, assigned to nobody

[2022-03-29 06:30] podarcis commented on #11623
Feedback is appreciated.

[2022-03-29 07:59] fashxp commented on #11687
also related:
- https://github.com/pimcore/pimcore/pull/11792
- https://github.com/pimcore/pimcore/pull/11785
- https://github.com/pimcore/pimcore/pull/11786
- https://github.com/pimcore/pimcore/pull/11787
- https://github.com/pimcore/pimcore/pull/11788
- https://github.com/pimcore/pimcore/pull/11789

[2022-03-29 08:55] brusch commented on #11768
Fixed by #11776

[2022-03-29 08:55] #11768 closed, assigned to brusch

[2022-03-29 09:59] jremmurd opened #11795 "[Bug]: Paste into table of DataObjects"
### Expected behavior

Paste window imports data to table.

### Actual behavior

Paste window immediatly closes if you start typing. Pasted data is not applied after save.
![image](https://user-images.githubusercontent.com/9052094/160585875-b98c49d3-2323-48ba-9015-eefd9e6ca86e.png)

### Steps to reproduce

1. Create class with table
2. Try to paste any data via the paste button into the table
3. s

[2022-03-29 13:37] dkarlovi opened #11797 "[Bug]: Pimcore\Bundle\CoreBundle\EventListener\ResponseExceptionListener::determineErrorPath(): Return value must be of type string, null returned"
### Expected behavior

Correct type returned.

### Actual behavior

Null returned.

### Steps to reproduce

/vendor/pimcore/pimcore/bundles/CoreBundle/EventListener/ResponseExceptionListener.php in Pimcore\Bundle\CoreBundle\EventListener\ResponseExceptionListener::determineErrorPath at line 216

Looking at the code, `$defaultErrorDocumentPath` is expected to always be string, but it can be null.

[2022-03-29 17:12] dkarlovi opened #11799 "[Bug]: PHP 8.1 Deprecated: Implicit conversion from float 79.5 to int loses precision when cropping images"
### Expected behavior

Image dimensions passed as integers (since the image can't have .5 pixels)

### Actual behavior

Image dimensions passed as floats

### Steps to reproduce

Crop an image using the built in Pimcore features, with the image dimensions such that the `$x` passed here gets calculated to a decimal. The exact calculation depends on the original image size so can't provide exact det

[2022-03-29 17:16] dkarlovi opened #11800 "[Bug]: obsolete Presta / Sitemap bundle generates deprecation notices on PHP 8.1"
### Expected behavior

No deprecations regarding Presta Sitemap Bundle.

### Actual behavior

[code]

### Steps to reproduce

Run Pimcore 10.3.3 on PHP 8.1

This issue seems to have been fixed in SitemapBundle ^3, Pimcore requires ^2.1

[2022-03-29 21:22] jheimbach opened #11801 "[Bug]: cannot publish documents that where created with pimcore 6.9"
### Expected behavior

I want to publish a document which was created before the update to pimcore 10.x (currently on 10.2.5)

Only happens if the document was never published.

### Actual behavior

I get the error `cannot access property starting with \0`.

The error is thrown here: https://github.com/pimcore/pimcore/blob/10.x/models/Element/Service.php#L1227
called from `Pimcore\Model\Document\P

[2022-03-30 06:40] NiklasBr commented on #11801
Had the same error here: https://github.com/pimcore/pimcore/issues/10661#issuecomment-979886344= but it was never fixed, issue was closed when only one of the problems were fixed.

[2022-03-30 07:08] aryaantony92 opened #11804 "[Improvement]: Remove the implementaion of custom image Optimization since spatie image optimizer is introduced."
### Improvement description

A new optimizer called Spatie Image optimizer is introduced instead of custom. Hence, we have to remove the implementation of custom image optimizitation inPimcore 11.

[2022-03-30 07:14] dvesh3 commented on #11800
@dkarlovi please see https://github.com/pimcore/pimcore/issues/11661

[2022-03-30 07:21] dvesh3 commented on #11801
@JHeimbach As this was fixed in 10.2.6 version https://github.com/pimcore/pimcore/pull/10920. could you please give it a try with updating Pimcore? thanks!

[2022-03-30 07:48] NiklasBr commented on #11801
@dvesh3 that PR fixed
[code]
But not
[code]

[2022-03-30 07:53] dvesh3 commented on #11801
@NiklasBr please provide a PR to fix the issue, since I cannot reproduce it at my end. thanks!

[2022-03-30 07:54] NiklasBr commented on #11801
@dvesh3 Please see https://github.com/pimcore/pimcore/issues/10661#issuecomment-981922328= for more info

[2022-03-30 08:33] jheimbach commented on #11801
the suggested solution

[code]
works for me, will create a PR to fix it.

[2022-03-30 09:30] dvesh3 commented on #11801
Fixed by #11806

[2022-03-30 09:30] #11801 closed, assigned to nobody

[2022-03-30 12:50] brusch commented on #11799
Maybe a stupid question, but why should someone use decimals for pixels? 😵‍💫

[2022-03-30 12:51] brusch commented on #11800
Closed in favor of #11661

[2022-03-30 12:51] #11800 closed, assigned to nobody

[2022-03-30 13:08] NiklasBr commented on #11799
Let's say you have a vector image (e.g. EPS or SVG) and want to composite it onto a bitmap image, such as a PNG image. [This might help explain it a bit](https://krita-foundation.tumblr.com/post/150234710828/how-come-the-brushes-can-be-resized-with-decimal) why it can be useful.

But in this case I would think that converting to `int` here would suffice: https://github.com/pimcore/pimcore/blob/1dc

[2022-03-30 13:12] dkarlovi commented on #11799
Nice example @NiklasBr! I could see subpixel precision might be valuable, but in that case the API is wrong if this is allowed here.

I guess casting to int is correct since that happens anyway implicitly, the purpose of this deprecation is to warn the developer about it happening so they might fix it in some way explicitly.

The intent of the bug report here is the misalignment of the type reques

[2022-03-30 13:29] danielerne commented on #11748
@fashxp Any news on this?

[2022-03-30 14:09] fashxp commented on #11748
verified, doesn't work as soon as a data object class is selected in search dialog

[2022-03-31 07:28] #8228 closed

[2022-03-31 09:58] mcop1 commented on #11650
Resolved by #11744

[2022-03-31 09:58] #11650 closed, assigned to mcop1

[2022-03-31 13:35] fashxp commented on #6771
@ckogler-elements do you still know what your exact problem was? because I cannot really follow you :-)

thx.

[2022-03-31 14:54] mcop1 opened #11818 "[Bug]: ReverseObjectRelation data is inherited"
### Expected behavior

ReverseObjectRelation data is inherited should not be inherited as it was discussed here:
https://github.com/pimcore/pimcore/issues/11529

### Actual behavior

Data is inherited. As a starting point see these lines of code
https://github.com/pimcore/pimcore/blob/f415841de9a3b09308a2be99580261a31e4fec40/bundles/AdminBundle/Controller/Admin/DataObject/DataObjectController.php#

[2022-03-31 18:02] pimcore-galilee opened #11819 "[Bug]: $storage->deleteDirectory does not seem to be working on S3"
### Expected behavior

Hello all.
I have set up my pimcore to work on S3 for the storage.
I am of course expecting to be able to delete assets and folders.

### Actual behavior

What I can see is :
When trying to delete an image, pimcore deletes the image (here this is ok) but next tries to delete thumbnails. To do so,  the following function fails : $storage->deleteDirectory($item->path());
This

[2022-03-31 18:03] pimcore-galilee commented on #11819
[trace.log](https://github.com/pimcore/pimcore/files/8392007/trace.log)

[2022-04-01 06:00] passioneight commented on #11651
I'd love to see this too. Also, would be great to be able to create deeplinks to these folders to pre-select the settings (both filter and options).

A `Custom Report` can be created as a workaround.

[2022-04-01 06:23] passioneight opened #11821 "[Improvement]: sort rows in table data type"
### Improvement description

Currently, the only way to sort entries in a [`Table` within a data object](https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Data_Types/Table.html) is by:

1. Clicking the copy button
2. Changing the order of the rows in text form
3. Clicking "Copy" to actually copy the modified data to the clipboard
4. Clicking the paste button

[2022-04-01 06:58] rberneder commented on #11821
I agree with @passioneight and would even extend this idea to the whole user interface:

As the backend UI will be re-implemented, we should use the chance to harmonize the look and the capabilities of all editable UI components. One can feel that along the growth of Pimcore some UI components like the editables evolved differently than others.

[2022-04-01 07:41] brusch commented on #11819
Thanks for reporting the issue. However, we're using Flysystem without any modifications,  so probably better to report your issue there:

https://github.com/thephpleague/flysystem-aws-s3-v3

[2022-04-01 07:41] #11819 closed, assigned to nobody

[2022-04-01 10:26] pimcore-galilee commented on #11819
Just for information you are right. I updated both League and aws sdk and everything is ok now. For some reasons my packages were not at the right level.

[2022-04-01 13:25] fashxp opened #11822 "[Bug] Search doesn't show results under certain cirumstances"
### Expected behavior

search finds all matching elements

### Actual behavior

search doesn't find all elements, see also https://github.com/pimcore/pimcore/issues/6771#issuecomment-674850816

### Steps to reproduce

- create dataset with many (> limit size of find action, default = 25) similar elements, e.g. all elements containing some string `manyelement`
- add additional element with specific

[2022-04-01 13:26] fashxp commented on #6771
first problem cannot be reproduced anymore, second problem is now a separate issue #11822

[2022-04-01 13:26] #6771 closed

[2022-04-01 13:29] fashxp commented on #11822
corresponding tests see https://github.com/pimcore/pimcore/blob/e6c2c445cb56ec93e24e03f1c079efb4b7a699b2/tests/Model/Permissions/ModelPermissionsTest.php#L609

[2022-04-01 13:52] timwiechers opened #11823 "[Improvement]: JavaScript: Conflict between "onPostUpdate" event and closing of an object."
### Expected behavior

When I use the "postSaveObject" event to reload an object after saving it (because for example data was changed server-side after saving, see "Steps to reproduce"), I have the information if the object should be closed after saving, so I can decide if the reload is necessary.

### Actual behavior

I don't see a way to determine if the object will be closed and therefore cann

[2022-04-02 08:58] blankse commented on #11609
@DzemalBecirevic I created a PR https://github.com/pimcore/pimcore/pull/11824
Can you test it?

[2022-04-02 15:39] blankse commented on #11549
@FrederikHulleman I created a PR https://github.com/pimcore/pimcore/pull/11825
Can you test it?

[2022-04-02 15:53] blankse commented on #11182
Fixed by https://github.com/pimcore/pimcore/pull/11769

[2022-04-03 21:40] blankse commented on #10698
@NiklasBr I created a PR https://github.com/pimcore/pimcore/pull/11833
Can you test it?

[2022-04-04 06:54] NiklasBr commented on #10549
This is still relevant

[2022-04-04 06:54] NiklasBr commented on #8147
This is still relevant

[2022-04-04 06:55] NiklasBr commented on #10740
This is still relevant.

[2022-04-04 06:55] NiklasBr commented on #8854
This is still relevant.

[2022-04-04 06:58] NiklasBr commented on #10698
Nice, I'll test it this week @blankse

[2022-04-04 06:59] fashxp commented on #8854
then we would love to see a PR

[2022-04-04 07:00] fashxp commented on #10740
then we would love to see a PR

[2022-04-04 07:00] fashxp commented on #8147
then we would love to see a PR

[2022-04-04 07:01] fashxp commented on #10549
then we would love to see a PR

[2022-04-04 07:11] fashxp opened #11834 "[Improvement] Introduce phpstan for arguments and return types"
### Improvement description

implement level 5 ... at least generate baseline and force for new changes.

[2022-04-04 07:13] fashxp commented on #11834
In progress:

- [x] https://github.com/pimcore/pimcore/pull/11826
- [x] https://github.com/pimcore/pimcore/pull/11828

[2022-04-04 08:32] dkarlovi commented on #11754
Maybe having a dedicated UX label for this? There's other things in admin exactly like this, adding a dedicated label would make it easier to find them and fix in bulk.

[2022-04-04 08:32] dkarlovi commented on #11754
Maybe having a dedicated UX label for this? There's other things in admin exactly like this, adding a dedicated label would make it easier to find them and fix in bulk.

[2022-04-04 08:41] #11182 closed, assigned to nobody

[2022-04-04 09:25] NiklasBr opened #11837 "[Bug]: Advanced Many-to-Many Relation loses configuration on context switch"
### Expected behavior

When adding columns to a Advanced Many-to-Many Relation it should not be lost.

### Actual behavior

After adding a column, and switching to another data input and back again the content of the column configuration is lost.

### Steps to reproduce

On demo.pimcore.fun:

1. Add an Advanced Many-to-Many Relation
2. Configure a column like this:
![image](https://user-images.git

[2022-04-04 09:29] NiklasBr commented on #3976
This is still relevant

[2022-04-04 09:30] NiklasBr commented on #4943
This is still relevant, it requires design consideration first

[2022-04-04 09:31] NiklasBr commented on #6440
This is still relevant

[2022-04-04 09:32] NiklasBr commented on #7064
This is still relevant

[2022-04-04 09:32] NiklasBr commented on #4663
This is still relevant, apparently a designer has to be involved here ;)

[2022-04-04 11:45] #8489 closed

[2022-04-04 12:17] brusch commented on #8195
Moved to Pimcore XI because the new auth system is just optional in Pimcore X, so we can't rely on it.

[2022-04-04 14:18] brusch commented on #11759
Fixed by #11816

[2022-04-04 14:18] #11759 closed, assigned to mcop1

[2022-04-04 18:10] kingjia90 commented on #11697
@NiklasBr i was unable to reproduce the same exact error, could you please provide more info to reproduce the error?

Is this the same circumstances as [`Unique constraint violated. Slug alreay used by object urlSlug, fieldname: urlSlug` ](https://github.com/pimcore/pimcore/issues/10604#issuecomment-1073701197) where the same slug is used in multiple places?

[2022-04-04 19:13] NiklasBr commented on #7219
This is still important

[2022-04-05 05:25] BlackbitDevs commented on #10740
@fashxp The problem is not the PR in general but to find out what causes the problem ;-)
The CSRF token gets invalid although the user is still logged in. Redirecting to the logout page would prevent the error message but would be annoying to the user. Imho it would be better if the CSRF token would stay valid until the session times out or the user really logs out. I suspect the periodical reques

[2022-04-05 08:38] #11754 closed, assigned to mcop1

[2022-04-05 09:26] brusch commented on #11609
Fixed by #11824

[2022-04-05 09:26] #11609 closed, assigned to nobody

[2022-04-05 09:30] DzemalBecirevic commented on #11609
Sorry, i've been very busy for the last few days and did not get around to responding or testing.

But, see that @brusch  has closed the issue so good work!

[2022-04-05 09:34] brusch commented on #11549
Fixed by #11825

[2022-04-05 09:34] #11549 closed, assigned to nobody

[2022-04-05 10:03] #11642 closed, assigned to aryaantony92

[2022-04-05 11:54] alexej-d commented on #10740
A client of mine reports similar behaviour from time to time. I can see errors like this, when he tries to upload assets:

[code]

Any way to keep the token valid?

[2022-04-05 12:16] BlackbitDevs commented on #10740
@alexej-d This is exactly the problem. Currently have added a logging statement to https://github.com/pimcore/pimcore/blob/265d95f285689b5df5c4f5b22c5e72c281bffb24/bundles/AdminBundle/Security/CsrfProtectionHandler.php#L91 which logs the url and stack trace to find the cause.

[2022-04-05 13:09] mcop1 commented on #11818
Needs to be implemented in 10.x (10.4), because the method is not available in 10.3, see
https://github.com/pimcore/pimcore/issues/11529#issuecomment-1056779990

[2022-04-05 13:33] NiklasBr commented on #10698
@blankse looks great, only one issue as far as I can see:
- Assets in lists ✔️
- DataObject lists ✔️
- Versions ✔️
- Website Settings ✔️
- Email errors: ⚠️ selection not visible
- HTTP Errors ✔️
- Notes & events ✔️
- Bundles & Bricks ✔️
- Recycle bin ✔️

[2022-04-05 16:32] NiklasBr commented on #4572
Just want to say that this still happens on 10.3

[2022-04-05 18:59] blankse commented on #10698
@NiklasBr I fixed also the email error grid now. Thanks for review.

[2022-04-06 09:16] PGBrandi opened #11852 "[Bug]: Users with permissions for specific files don't see them"
### Expected behavior

When given the permission to a certain object within a folder the user is able to see the object.

### Actual behavior

The user is not able to see the object on the initial loading, if the object is within a folder. However, it is possible to show it by reloading the folder.

### Steps to reproduce

https://user-images.githubusercontent.com/24474378/161941102-3ad0f916-8341-

[2022-04-06 09:20] blankse commented on #11852
@PGBrandi The user must also have the permission to the folder to see it in the tree. But that you can see it with reload is a bug I think.

[2022-04-06 09:35] dlhck opened #11854 "[Improvement]: Search & Move should support object variants"
### Improvement description

Currently only objects and folders can be moved with "Search & Move", but it would be also very handy with variants.

[2022-04-06 09:59] PGBrandi commented on #11852
In our case we want users to have access to specific files only, not the entire folder. So that would not be a solution for us. However, I expected that when I am able to assign a specific asset/document/object to a user that this would work. Otherwise this possibility to do so would be very confusing.

[2022-04-06 10:15] blankse commented on #11852
I think we need a option to the workspaces: "sub tree" or "node only"
So we can set permission to this folder only, without its content.
But show this folder without permission is not correct I think.
This should also be in object/document trees and there can be sensitive data inside.

[2022-04-06 11:43] dvesh3 commented on #11724
@valentin- 🏓

[2022-04-06 12:05] valentin- commented on #11724
@dvesh3 sorry I forgot to reply.

- Create a document tree (DE)
- Create a data object with settings and apply it as property to the document root
- Clone tree for document translation (EN)
- Create xliff export of the new tree
- Import xliff file into the new tree

Only the headline will get imported in the desired language (inside the settings data object), object relations are applied using the

[2022-04-06 12:56] fashxp commented on #11852
related? https://github.com/pimcore/pimcore/pull/11714

[2022-04-06 14:05] #10679 closed, assigned to dvesh3

[2022-04-07 00:47] kingjia90 commented on #11822
coming from #11714, the search uses a completely different approach than what you see in the `treeGetChildsById`, it doesn't use the same sql condition for the listing permission, but uses this [getForbiddenCondition](
https://github.com/pimcore/pimcore/blob/da43b3f5fb18b59bdadfa49a77b43eb69d7ebf5e/bundles/AdminBundle/Controller/Searchadmin/SearchController.php#L350). They sometimes match because

[2022-04-07 07:11] dvesh3 commented on #11852
duplicate of https://github.com/pimcore/pimcore/issues/11603

[2022-04-07 07:11] #11852 closed, assigned to nobody

[2022-04-07 07:54] mysliwietzflorian opened #11861 "[Bug]: Index Field Selection with "Multi Select from Remote" not working in Blocks"
### Expected behavior

Data in blocks should be persisted in the database.

### Actual behavior

 Index Field Selection with "Multi-Select from Remote" is not persisted into a serialized PHP object, indifferent to inheritance settings.

### Steps to reproduce

Reproducible in the Pimcore Demo. A minimal class definition is provided in the attachment.
Fill the block data, save, and reload. I will a

[2022-04-07 09:32] brusch commented on #9727
See https://github.com/pimcore/pimcore/pull/11856 which fixes at least one part of the problem.

[2022-04-07 09:38] alexmf23 opened #11863 "[Bug]: Video Preview not generating."
### Expected behavior

I want to be able to preview uploaded videos.

### Actual behavior

After I upload videos, image preview is generated, but if i want to preview the video it gets stuck on " The preview for this video is currently in progress. Please wait ... ".
<img width="816" alt="Screenshot 2022-04-07 at 11 33 22" src="https://user-images.githubusercontent.com/63473281/162186925-95865c25-

[2022-04-07 09:45] jdreesen commented on #9727
So, no more PR's welcome, stale bot?

[2022-04-07 09:47] jdreesen commented on #11863
Are you using a remote storage for your assets? Then it's maybe fixed by #11862

[2022-04-07 09:59] alexmf23 commented on #11863
No, I am not using remote storage.

[2022-04-07 10:00] alexmf23 commented on #11863
No, I am not.

[2022-04-07 11:04] alyna commented on #11282
Hi @fashxp ,

Would it be a good solution to extend the functionality of the Redirects table and also add the 410 status in the Status column?

Thanks

[2022-04-07 13:49] kjkooistra-youwe opened #11864 "[Bug]: integer number field error entering e"
### Expected behavior

When entering an 'e' in an integer number field it should be filtered out.

### Actual behavior

An error popup is displayed with a PHP error.
![Pimcore_number_field_e](https://user-images.githubusercontent.com/24292941/162214370-0f9b1b5e-c26d-43b9-8f9a-139d232d6287.png)

### Steps to reproduce

- Modify or create a new class, add a number field and check the integer checkbo

[2022-04-08 07:16] brusch commented on #11242
It might be necessary here to pass the site ID as a parameter, because actually we can't use the site's hostname, because of sessions ...

[2022-04-08 07:21] brusch commented on #11863
@alexmf23 can you please check if #11862 fixes your issue? Thanks!

[2022-04-08 07:22] brusch commented on #11863
Please also ensure you have the maintenance script running:
https://pimcore.com/docs/pimcore/current/Development_Documentation/Getting_Started/Installation.html#page_5-Maintenance-Cron-Job

Most of the time, people forget to set this up properly 🙃

[2022-04-08 07:43] dvesh3 commented on #11282
@alyna How about implementing something which allows to override and set new status codes. At the moment, these are hardcoded in the Redirect Class https://github.com/pimcore/pimcore/blob/10.x/models/Redirect.php#L134 so we can move it Symfony config and then you can add/modify the status codes.

[2022-04-08 07:48] mcop1 commented on #10698
@blankse I noticed that the problem occurs in the "search & move" dialog too, e.g.:
![image](https://user-images.githubusercontent.com/89011527/162389960-5a1e5caf-dff8-4c98-be70-06846b91bf9e.png)

Do you mind having a look, please?

[2022-04-08 07:51] NiklasBr commented on #11864
It's not just a question about removing letters and other non-numbers from the input. E.g. `3.2E+11` is [a valid integer though](https://en.wikipedia.org/wiki/Scientific_notation#E_notation). But the error message is bad and should be fixed so that it is human-readable.

[2022-04-08 09:05] dvesh3 commented on #11797
@dkarlovi we have a PR for increasing the static analysis level. please see https://github.com/pimcore/pimcore/pull/11826

[2022-04-08 09:48] alexmf23 commented on #11863
This didn't fixed the problem.

Maintenance-Cron-Job

<img width="2300" alt="Screenshot 2022-04-08 at 11 43 12" src="https://user-images.githubusercontent.com/63473281/162411487-a67e209c-8fc8-4aea-ba01-df850ab1feaa.png">

Cron jobs are running good.

[2022-04-08 09:54] jremmurd commented on #11861
This is especially fatal during Pimcore X Update. Before the update data gets saved as expected, afterwards all data is lost when saving any of the objects.

[2022-04-08 10:00] brusch commented on #11863
What about the system requirements, is FFMPEG installed?
Maybe try to run `messenger:consume` with `-vv` to see if there are any issues.

[2022-04-08 10:27] dkarlovi opened #11870 "[Bug]: Pimcore X by default displays deprecations directly in output (even in prod mode), breaking JSON etc"
### Expected behavior

Logs and error handling managed in a streamlined way, through Symfony's features (ErrorHandler, Monolog integration, etc).

### Actual behavior

Logs managed in all sorts of different ways, including PHP's legacy error log.

### Steps to reproduce

Run Pimcore X on PHP 8.1, you'll get all sorts of deprecations. This is OK in principle because [deprecations are not errors](ht

[2022-04-08 10:34] alexmf23 commented on #11863
FFMPEG is installed.
<img width="728" alt="Screenshot 2022-04-08 at 12 30 42" src="https://user-images.githubusercontent.com/63473281/162418974-ff7f5b1d-edc9-4756-b5b5-d4ba3ab8a5da.png">

And messenger:cosumed runned with -vv doesnt throw any errors.

[2022-04-08 12:02] micheljansen opened #11871 "[Bug]: Retrieving thumbnail URLs via GraphQL API triggers thumbnail generation"
### Expected behavior

Calling `fullpath` with a `thumbnail` parameter on an `asset` type via GraphQL should only return the URL for that thumbnail, without generating that thumbnail if it does not yet exist. Thumbnail generation should be deferred (see also https://pimcore.com/docs/pimcore/current/Development_Documentation/Assets/Working_with_Thumbnails/Image_Thumbnails.html#page_Deferred-Renderi

[2022-04-08 12:30] dkarlovi commented on #11797
@dvesh3 looks great, thanks for linking!

[2022-04-08 13:05] Ricardocanul7 commented on #11532
This problem has been solved

#11537

[2022-04-09 14:15] blankse commented on #10698
@mcop1 "search & move" dialog looks good at me. Do you clear the browser cache?
![image](https://user-images.githubusercontent.com/998558/162578039-1180f9a0-deca-4498-a353-2a9b30a86c1d.png)

[2022-04-11 05:49] mcop1 commented on #10698
Sorry, my bad, it is working, thank you 👍

[2022-04-11 05:50] #10698 closed, assigned to nobody

[2022-04-11 08:14] brusch commented on #11870
We can probably change that also without breaking anything:
- CLI should be safe to change imho
- We can check whether `PIMCORE_PHP_ERROR_LOG` is customized, if not, nothing will be set
WDYT?

[2022-04-11 08:36] brusch commented on #11863
@alexmf23 can you see that `messenger::consume` receives the message and starts processing?

[2022-04-11 08:36] #11863 closed, assigned to nobody

[2022-04-11 08:39] brusch commented on #11795
Duplicates #11795

[2022-04-11 08:40] #11795 closed, assigned to nobody

[2022-04-11 08:46] dkarlovi commented on #11870
@brusch that might make sense, this issue should probably be 3-4 separate issues because there's several different issues listed here.

If we're talking just about `PIMCORE_PHP_ERROR_LOG`, allowing setting it to `null` or similar to disable writing `var/log/php.log` and enabling display errors might work, yes. In 11.x it could be opt-in instead of opt-out, but maybe not even needed since you can h

[2022-04-11 08:47] NiklasBr commented on #11697
The above description works on demo.pimcore.fun, so I am not sure what else to provide. You can *also* confirm the error by simply running these two SQL statements.

First for e.g. `en`:
[code]
and then for another language in the localized field e.g. `nb`:
[code]

It gives the very same error as doing it in the frontend UI.

[2022-04-11 08:58] passioneight commented on #11795
@brusch seems like you linked the wrong issue.

[2022-04-11 09:02] brusch commented on #11795
@passioneight Ooops, you're right, sorry, this is the correct one: #11729

[2022-04-11 09:02] dkarlovi opened #11877 "[Feature]: migrate all logs to Monolog"
### Feature description

As written in #8531, Pimcore should try to work without writing to the filesystem at all. This seemed like quite a far fetched goal, but in the meantime it made leaps and currently it's very close to this being possible.

One exception I still see is logs. Currently in Pimcore 10.3, `var/log/php.log` is mandatory (reported in #11870), but there's others, like:
[code]

Also

[2022-04-11 09:11] dkarlovi opened #11878 "[Feature]: fully integrate Symfony's ErrorHandler"
### Feature description

Currently, Pimcore doesn't correctly handle deprecations (reported in #11870).

This can be fixed with carefully navigating between errors, deprecations, tweaking own error handlers, etc.

Since Pimcore wants to align itself more with Symfony (as seen in #10344), it should embrace the ErrorHandler fully, by removing Pimcore's own error handling code and delegating all thos

[2022-04-11 09:13] dkarlovi commented on #11870
@brusch created #11877, #11878 for the other two issues, this one can then deal with the over-zealous error reporting.

[2022-04-11 09:35] kingjia90 commented on #11697
Thank you for providing more details.
By looking at the queries, we would be in the same case of `unique constraint violated`.

But this makes me wonder, why would anyone be using the same fallback slug for different localized fields?
let's say it is now allowed to have same slugs for different languages, save and type `demo.pimcore.fun/fallback`, what language would it be expected (`en` or `nb`)

[2022-04-11 09:41] brusch commented on #11870
@dkarlovi 👍 assigned already the `11` milestone.

[2022-04-11 09:44] dkarlovi commented on #11870
@brusch I think this should be treated as a bug because it does break stuff as is in prod. I had Pimcore respond with

[code]

I'm currently manually disabling `display_error` in front controllers.

[2022-04-11 09:51] NiklasBr commented on #11697
So that the UK site can have the same URL fallback as the Swedish site.

[2022-04-11 10:40] blankse opened #11879 "[Bug]: CKEditor: Tables in new created areabricks have no border"
### Expected behavior

If you create a new areabrick with WYSIWYG editable and create a table (with border: 0). You should see the border in the editor because of the cke_show_borders and cke_show_border CSS classes.

### Actual behavior

The cke_show_borders css class is missing. After reloading the edit window you can see the border.

### Steps to reproduce

1. Open a document in demo https://de

[2022-04-11 10:47] kingjia90 commented on #11697
maybe i got it

![image](https://user-images.githubusercontent.com/6014195/162721791-79a6a614-1f35-4db0-8e3f-9d48595bf060.png)
the term `fallback` is misleading here.
The fallback actually only happens "vertically": when one slug in the site(siteId > 0) doesn't exists, it takes the slug for siteId=0 as valid, when set.
There is no "horizontal" fallback between languages, like it would happens, for

[2022-04-11 10:56] kingjia90 commented on #11697
in other words, when dataobject slug (priority 4) is not found, the `fallback` is the [priority 5](https://pimcore.com/docs/pimcore/current/Development_Documentation/MVC/Routing_and_URLs/index.html#page_5-Static-Routes-Custom-Routes) rule.
This is not managed here inside the slug data type and there are no any other priorities rules in between.

[2022-04-11 11:06] NiklasBr commented on #11697
I'm not sure I understand your explanation, but considering that:

1. There is only one site/domain available per language in the localizedfield:
   ![image](https://user-images.githubusercontent.com/279826/162727271-15c7de45-b9ba-413a-8077-5b019ec35a33.png)
3. URL Slugs are tied to languages

What should "fallback" be called? How should it be used according to you? Why is it not possible to have

[2022-04-11 11:20] dpfaffenbauer opened #11880 "PublicServicesController deletes folder of thumbnails"
### Expected behavior

Once a thumbnail is created and not changed, Pimcore should not delete it or re-generate it.

### Actual behavior

Pimcore deletes the Thumbnail Folder and therefore needs to re-create all images again.

### Steps to reproduce

Use remote storage and create a png thumbnail, then a webp. The png is now deleted. This goes on and on for different types. (https://github.com/pimc

[2022-04-11 11:23] NiklasBr opened #11881 "[Bug]: Advanced Many-to-many relations saves extModel ID"
### Expected behavior

Only save the necessary parts to the Model.

### Actual behavior

`extModel` DOM `id` is included in the model, see line 2318 and 2622 here:

![image](https://user-images.githubusercontent.com/279826/162729554-ab5ecc52-07fc-4639-b6d5-e3040d69dd7f.png)

### Steps to reproduce

1. Add an Advanced Many-to-many relations
2. Add a multiselect column
3. Save the model
4. Inspect t

[2022-04-11 12:13] dvesh3 commented on #11689
duplicate of #9078

[2022-04-11 12:35] NiklasBr opened #11883 "[Bug]: Advanced Many-to-many relations causes error on save"
### Expected behavior

Saving metadata on Many-to-many relations should work

### Actual behavior

Leaving a multiselect with none checked results in 500 server error:

![image](https://user-images.githubusercontent.com/279826/162739917-cf7f12cd-e787-4029-a9d7-be4055293a94.png)

[code]

### Steps to reproduce

1. Create the Advanced Many-to-many relation with and additional mutiselect field in you

[2022-04-11 13:03] jhgeluk opened #11885 "[Bug]: Custom data type not properly saved and/or returned."
### Expected behavior

Return the current set value of the custom data type

### Actual behavior

Does not return the current set value of the custom data type (For example when using: `$obj->getObjectVars()`). But the value does show up in the versions tab and is shown when using: `$cat->getVersions()[count($cat->getVersions()) - 1]->getData()`.

**The value does get passed through the `checkVali

[2022-04-11 13:10] jhgeluk commented on #11885
Not a 100% sure if this is a bug, but since I've tried every possible change/fix without any positive outcome, my guess is it is.

[2022-04-11 13:21] asysrieke opened #11888 "[Bug]: Quicksearch delivers invalid results with workspace conditions"
### Expected behavior

The quicksearch should list all matches in documents/assets/objects according to the searchterm and considering current allowed user workspaces.

### Actual behavior

If the current user or role has workspace definitions without the list permission, the quicksearch results are invalid because the corresponding SQL condition to consider the user workspaces is incorrect.

This

[2022-04-11 13:33] #11880 closed, assigned to brusch

[2022-04-11 13:51] kingjia90 commented on #11697
`Fallback` should be called `Default` and only makes sense when there are more than 1 subsite.
It is the value taken when the Site specific slug is not defined.

Let's say we have `pimcore.com` which has subsites `academy.pimcore.com` and `demo.pimcore.com`.

If you only have Default slug `/fallback` and the other subsites' slug are empty, then `demo.pimcore.com/fallback` works because of the defa

[2022-04-11 13:53] jhgeluk commented on #11885
On further investigation it shows that the data "testtest123" **is** in the `object_query` table, **but isn't** in the `object_store` table

[2022-04-11 14:03] dvesh3 commented on #11700
@mysliwietzflorian seems like you are using class override for VoucherToken. I would suggest to create a class alias like explained here https://github.com/pimcore/pimcore/issues/10661#issuecomment-979886344

[2022-04-11 14:03] #11700 closed, assigned to dvesh3

[2022-04-11 14:05] NiklasBr commented on #11697
It reads to me like the design of URLSlugs is inherently incompatible with localizedfields, is that it? Shouldn't slugs then be prevented from being added to localizedfields?

Why is this idiosyncrasy not explained to the end user who clicks save on the object and then wonders why it does not work as expected? They do expect `site1.com/fallback` and `site2.se/fallback` to both work.

[2022-04-11 14:18] jhgeluk commented on #11885
Nevermind, I implemented the QueryResourcePersistenceAwareInterface instead of ResourcePersistenceAwareInterface.

[2022-04-11 14:18] #11885 closed, assigned to nobody

[2022-04-11 14:20] kingjia90 commented on #11697
Why incompatible with localizefields? `/en/fallback` and `/se/fallback` can both work under the same dataobject in their respective language/flag tab. Just not the same exact slug, due its nature of being unique across the same domain.

For example you could have another dataobject, with empty default and site `academy.pimcore.com` have again `/en/fallback` and `/se/fallback` specified, it doesn't

[2022-04-11 14:24] dvesh3 commented on #11764
Fixed by #11853

[2022-04-11 14:24] #11764 closed, assigned to mcop1

[2022-04-11 14:28] NiklasBr commented on #2839
This is still relevant. I don't think it can move forward without a design/architecture decision from Pimcore.

[2022-04-11 14:31] NiklasBr commented on #11697
But they don't work today, for multiple reasons: 1. they cause an error, 2. they do not fill, 3. they do not redirect on the fronted, and from my understanding of your description it is not intended, but maybe I am misunderstanding something?

[2022-04-11 14:31] #11818 closed, assigned to mcop1

[2022-04-11 14:58] dvesh3 commented on #11724
@valentin- XLIFF import does not handle relation data types. only the localized text types are supported. In your case, you need to manually update the relations in data objects.

[2022-04-11 15:07] kingjia90 commented on #11697
mhhh 🤔 , then i will double-check that and open an issue/PR if i find something, but if you don't mind, i will close this issue for the moment: we made sure why having duplicate slugs is not possibile and that the `fallback` here is just the default value for all sub-sites.
I kindly invite you to do the same if you also find any helpful clues or have more details about what's not working.

FYI: If

[2022-04-11 15:12] #11697 closed, assigned to kingjia90

[2022-04-11 15:26] NiklasBr commented on #11697
I disagree that this should be closed.

[2022-04-11 15:59] valentin- commented on #11724
I understand but in my case there are relations created, even though there is only the headline present in the xliff file. Could you please double check the behaviour?

[2022-04-11 19:02] brusch commented on #11724
Is inheritance enabled in your class definition? Can you share the definition? We need a reproducible case in order to check ...

[2022-04-12 07:50] dvesh3 commented on #11797
Fixed by #11868

[2022-04-12 07:50] #11797 closed, assigned to dvesh3

[2022-04-12 07:52] dvesh3 commented on #11678
Fixed by #11841

[2022-04-12 07:52] #11678 closed, assigned to kingjia90

[2022-04-12 08:45] #11540 closed, assigned to dvesh3

[2022-04-12 08:46] #11603 closed, assigned to kingjia90

[2022-04-12 09:05] mysliwietzflorian commented on #11700
@dvesh3 actually a good quick idea. We could fix it ourselves with the command listed above but this could be relevant for future devs. 😉

But still, as VoucherTokens are quite frequently overwritten there should be some kind of migration (or at least a hint for serialized objects in the DB) in place.

[2022-04-12 10:35] mysliwietzflorian commented on #11861
Will be fixed with #11895. `ClassDefinition\IndexFieldSelection` has not implemented the `NormalizerInterface` which is needed to store the data inside blocks in the DB.

As @jremmurd mentioned, this has already worked before (at least Pimcore 6.4). In the meantime, any saving action meant a loss of the block data in the Pimcore objects. The PR should fix that.

A retrospective question would be:

[2022-04-12 11:53] fashxp commented on #11861
there are already tests for that, still they are not complete yet and cover all cases ... seems blocks is one of these cases.

[2022-04-12 12:30] NiklasBr opened #11896 "[Bug]: Unable to load pimcore_enterprise_subscription_tools on Composer installation"
### Expected behavior

If `composer.json` contains:
[code]
And `config/config.yaml` contains:
[code]
And the token has been added to composer global auth, and env file, then `composer update pimcore/pimcore` should work

### Actual behavior

[code]

### Steps to reproduce

Follow the instructions sent when purchasing Enterprise Subscription.

[2022-04-12 12:50] passioneight commented on #11242
@brusch what exactly do you mean?

[2022-04-12 12:53] fashxp commented on #11896
instructions say:

- Add token authentication to composer
- Add repository to composer.json
- Install enterprise extensions as described in their documentation (composer and additional installation steps as described in the extension documentation)
- **After** installation, add the token to a configuration file ...

and this will work...

[2022-04-12 12:53] #11896 closed, assigned to nobody

[2022-04-12 12:55] brusch commented on #11242
The thing is that sites are identified using the host name, but for previews you're on the main domain (or whatever hostname you use for the admin). So if you generate a slug the router can't determine which site is used, because actually the hostname doesn'T match with the site and the path/slug is not enought. You know what I mean?

[2022-04-13 05:55] passioneight commented on #11242
<s>Ah yes, that makes sense.

I think a select would be a great solution, as the user can decide which domain they want to look at. As default value, the current domain's site should be selected (with a fallback to the first site that's available).

However, one would also have to be able to restrict the options in the select, as not every user might have access to every site.

Additionally, the s

[2022-04-13 07:43] mcop1 commented on #11689
Closed in favor of #9078

[2022-04-13 07:43] #11689 closed, assigned to mcop1

[2022-04-13 09:01] valentin- commented on #11724
@brusch inheritance is not enabled.
@dvesh3 attached you find a full example (object definition, export file, import file) - [files.zip](https://github.com/pimcore/pimcore/files/8479859/files.zip)

Before importing there was only one doucment selected. Also the subheader and text for DE are overwritten with values from EN.

![image](https://user-images.githubusercontent.com/90033/163140213-8367b4b

[2022-04-13 10:10] #11864 closed, assigned to mcop1

[2022-04-13 10:43] Brainshaker95 opened #11904 "[Bug]: Documentation info regarding render method of editables is wrong"
### Expected behavior

The correct information is displayed

### Actual behavior

The wrong information is displayed

### Steps to reproduce

[The documentation states](https://pimcore.com/docs/pimcore/current/Development_Documentation/Documents/Editables/index.html):

This is wrong since the returned string value will not be rendered raw. Instead the escaped version of the HTML string is displaye

[2022-04-13 11:29] dvesh3 commented on #11724
@valentin- could you please confirm if https://github.com/pimcore/pimcore/pull/11905 fixes the issues?

[2022-04-13 13:10] matthiashamacher commented on #11904
Noticed the same thing in the "[Create a First Project](https://pimcore.com/docs/pimcore/current/Development_Documentation/Getting_Started/Create_a_First_Project.html#page_Showing-the-Image-in-the-View)" Documentation and added the `|raw` filter as part of my PR #11680

See: https://github.com/pimcore/pimcore/pull/11680/files#diff-dfe66d9ff5bdd0ac142b097584577c6b666bf048487d36bfedfafd8f9f8df117R37

[2022-04-13 13:15] valentin- commented on #11724
@dvesh3 looks good to me. I've cleaned the data and reran the import.

DE:
![image](https://user-images.githubusercontent.com/90033/163188308-2b3c6360-487a-4463-b35c-0a95461faa14.png)

EN:
![image](https://user-images.githubusercontent.com/90033/163188354-10db24e5-1fa8-4f9b-8317-1d1702dca2dd.png)

[2022-04-13 13:17] dvesh3 commented on #11724
Fixed by #11905

[2022-04-13 13:17] #11724 closed, assigned to dvesh3

[2022-04-13 13:31] dvesh3 commented on #11879
Fixed by #11886

[2022-04-13 13:31] #11879 closed, assigned to nobody

[2022-04-13 14:19] Brainshaker95 commented on #11904
@matthiashamacher As far as I am concerned, go for it 🙂

[2022-04-14 07:54] aryaantony92 commented on #11687
@Ricardocanul7  Could you please provide the logs regarding the deprecated error messages in PHP 8.1 ?

[2022-04-14 08:13] dpfaffenbauer opened #11909 "[Bug]: Maintenance generateLowQualityPreview issue stream_get_meta_data(): Argument #1 ($stream) must be of type resource, null given"
### Expected behavior

Should generate low Quality Preview Image

### Actual behavior

throws an error

### Steps to reproduce

Use remote storage with low Qualilty Preview Images enabled

I guess it doesn't work with remote storages yet properly?

[code]

[2022-04-14 11:15] dkarlovi opened #11912 "[Bug]: pimcore-install doesn't use own --env parameter"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce

Described above.

Note that the param is documented in help
[code]

[2022-04-14 11:18] dkarlovi commented on #11912
Somewhat related to #11247 maybe.

[2022-04-14 12:13] matthiashamacher commented on #11912
Even though it is documented in the help it is intended that it does not work. At least as I understand the comment in the installer: https://github.com/pimcore/pimcore/issues/10317#issuecomment-938034045

[2022-04-14 12:25] dkarlovi commented on #11912
In that case, the command shouldn't expose the parameter, it should remove it.

Currently it accepts the parameter but ignores it, meaning you can easily trash your `dev` database because you ran it with `--env test` instead of `APP_ENV=test`.

[2022-04-14 13:31] dkarlovi opened #11914 "[Bug]: \Pimcore\Model\Asset\Image\Thumbnail::getPath doesn't account for pimcore.assets.frontend_prefixes"
### Expected behavior

[code]

produces a valid `<img/>` tag with
[code]

defined.

### Actual behavior

Currently, the defined prefix is not used, the `<img/>` tag points to a broken URL.

### Steps to reproduce

1. Setup a remove filesystem and define a thumbnail prefix as described above
2. upload an image and echo `\Pimcore\Model\Asset\Image\Thumbnail::getImageTag()`, it will not use the prefi

[2022-04-14 14:30] matthiashamacher commented on #11912
I agree, but I don't think there is a possibility to remove that as it comes from Symfony and is by default in all commands...

[2022-04-14 14:39] dkarlovi commented on #11912
IMO since [the kernel environment is configured from the command directly](https://github.com/pimcore/pimcore/blob/d124b16a837567ed9b7ff010fdeff6e82e9bfaf3/bin/pimcore-install#L58), I see no reason why the environment wouldn't be read correctly.

I don't see any reason why these would result in any sort of a difference:

[code]

If changing the environment is not supported (again, I don't see why

[2022-04-14 22:35] kingjia90 commented on #11823
the `save, publish and close` it's just a save with a callback to the .close(), therefore there are nothing in particular to differenciate it from the "usual" manual save and close, it is just one fewer click.
https://github.com/pimcore/pimcore/blob/d124b16a837567ed9b7ff010fdeff6e82e9bfaf3/bundles/AdminBundle/Resources/public/js/pimcore/object/object.js#L663-L672

Since the `postSaveObject` is fir

[2022-04-15 08:17] simonkey opened #11917 "[Bug]: Blocks in localizedfields with image advanced causes infiniteloop / out-of-memory-Error"
### Expected behavior

It should be possible to have (multiple) localizedfields with blocks containing text, (advanced) images and so on.

### Actual behavior

If a dataobject has localized fields with blocks in it and one of this block contains an image advanced field it's possible to save the object - sometimes it fails already at this step.

But if it's opened again, it takes a very long time a

[2022-04-15 08:45] mcop1 commented on #9078
@alexgaal any chance you had the time to look into this?

[2022-04-15 09:03] mcop1 opened #11918 "[Bug]: Preview doesn´t get updated, after reapplying Content Master Document"
### Expected behavior

Update preview

### Actual behavior

Preview doesn´t get updated

### Steps to reproduce

1.) Create a new page
2.) Apply Content Master Document in settings
3.) Overwrite one of the inherited fields
4.) Check preview tab -> preview should be fine
5.) Reapply Content Master Document
6.) Check and compare edit / preview tab

[2022-04-15 09:38] brusch commented on #11645
Fixed by #11862

[2022-04-15 09:38] #11645 closed, assigned to nobody

[2022-04-15 09:41] brusch commented on #11912
@dkarlovi @matthiashamacher The following code
https://github.com/pimcore/demo/blob/c7ba7363f5da083bcdc80c35e947f7da602e2936/bin/console#L36-L43
needs to be considered here:
https://github.com/pimcore/pimcore/blob/54ff7a47658ddbbaa66281cd48957e378ae54cd9/bin/pimcore-install#L58

Then this should work - can someone put that into a PR? 🤗 Thanks in advance!

[2022-04-15 09:48] brusch commented on #11914
For me this works just as expected ... using the demo I've the following code/configs:

[code]

[code]

Output is:
[code]

[2022-04-15 09:48] #11914 closed, assigned to nobody

[2022-04-15 13:00] kingjia90 commented on #11823
@timwiechers i've made a PR, so you will be able to do as expected by changing this
[code]
This PR also opens to other combinations like a post save event listener that "cancels" the closing action, by turning `object.willClose = false;'.

[2022-04-16 03:56] QuarkWave opened #11920 "[Bug]: User - Update - Error - Array to string conversion"
### Expected behavior

Being able to Update an User

### Actual behavior

Create a new user is OK
but updating an existing one rises a "Warning: Array to string conversion" error.
It seems that this problem started with the 10.3.x versions

Or maybe it s just me ?

I tried on my 3 servers and get the error with versions 10.3.4 and 10.3.5
but it s still working with the 10.2.3

### Steps to reprodu

[2022-04-17 11:57] #10636 closed, assigned to nobody

[2022-04-19 07:11] timwiechers commented on #11823
@kingjia90 Thanks a lot 👍

[2022-04-19 07:34] luabui commented on #11457
Can you please reopen this bug? Step to reproduce on pimcore demo site (I tested on [pimcore ](https://demo.pimcore.com/admin) 10.3.5)
- Open an object
- Close the parent node in the object tree (DataObject tree - the News folder)
- Press "Delete" button on the opened object
- Javascript exception: Uncaught TypeError: Cannot read properties of null (reading 'addCls')
    at pimcore.elementservice.

[2022-04-19 10:24] alexanderkroneis commented on #9078
No, not yet. Maybe I'll be able to take a look into it after this week since we have a really tensed schedule at the moment and this is not a priority of ours as well. 😄

[2022-04-19 14:59] dpfaffenbauer opened #11927 "[Bug]: Authentication is closing session when its not supposed to"
### Expected behavior

`Authentication::authenticateSession($request);` should find the current Admin User in the Session

### Actual behavior

`Authentication::authenticateSession($request);` finds the current user, but it uses `AdminSessionHandler::useSessionAttributeBag` which runs `writeClose` closing the current session and therefore hindering Symfony from sending the right newly, generated a

[2022-04-20 04:08] piyushshukla599 opened #11929 "Cookie based Injection[Bug]:"
### Expected behavior

The application allows img tag & script attribute in "Name field"  which is  attackers can perform " Cookies based XSS bug "

### Actual behavior

check video poc = https://drive.google.com/file/d/1uu0JR8OZU1j8Xr-utaimPWhYHOkuPtep/view?usp=sharing

screenshot poc = https://drive.google.com/file/d/1M9wYhpElPmTLGOU-ZNX01ZFAuMuVFVGZ/view?usp=sharing

### Steps to reproduce

1.L

[2022-04-20 08:12] fashxp commented on #11929
Thx for sharing the information.

**For future, please consider our [security policy](https://github.com/pimcore/pimcore/security/policy) and don't create public issues about security topics!**

Besides that, it doesn't affect Pimcore itself, but the Pimcore website.

[2022-04-20 08:12] #11929 closed

[2022-04-20 10:20] piyushshukla599 commented on #11929
Thank you!  But it means I can disclose this bug publicly right ?

On Wed, Apr 20, 2022, 1:43 PM Christian Fasching ***@***.***>
wrote:

[2022-04-20 13:07] tebeso opened #11936 "[Bug]: Cant stop command"
### Expected behavior

We wanted to import some data. Via SSH, we connected to the server. The client computer crashed and now we have this:

pimcore@pimcore:/var/www/html/pimcore$ php /var/www/html/pimcore/bin/console datahub:data-importer:process-queue-parallel --processes=50
ERROR: The command is already running.

I couldnt find anything how to stop this. I assume, there is some lock file or so

[2022-04-20 13:23] tebeso commented on #11936
Edit: just saw, there is a key in the lock_keys table. Deleted it and it worked again. Maybe could be documented somewhere.

[2022-04-21 06:54] #11861 closed, assigned to nobody

[2022-04-21 07:53] #6906 closed

[2022-04-21 08:43] aryaantony92 commented on #11457
Fixed by #11933

[2022-04-21 08:43] #11457 closed, assigned to mcop1

[2022-04-21 09:30] brusch commented on #11242
@passioneight exactly 🤗
But i think we should provide a more generic way of how to add the site info to a preview link.
I'm thinking of a trait ... something like that:

[code]

That can then be used in the custom preview generator:
[code]

WDYT?

[2022-04-21 09:49] aryaantony92 commented on #11920
Fixed by #11935

[2022-04-21 09:49] #11920 closed, assigned to dvesh3

[2022-04-21 11:43] mysliwietzflorian opened #11941 "[Bug]: Index Field Selection - last change in the current dev branch introduced backward compatibility break"
### Expected behavior

Follow up to #11861.

In the PR #11895, the NormalizerInterface is implemented for IndexFieldSelections.

I used an array to normalize the relevant properties from the data object. With the help of a backup from before a PCX update, I noticed that the `ObjectData\IndexFieldSelection` object was used before PCX for serialization (which is not a best practice I suppose).

So i

[2022-04-21 12:46] simonkey opened #11943 "[Bug]: Failing permission check with double quotes in object-name"
### Expected behavior

Show every allowed object in list view if the permission is given. A double quote should be escaped in the permission check.

### Actual behavior

If the user is not an admin a permission check is done in the DataObjectController (Line 175, `EXISTS(SELECT list FROM users_workspaces_object uwo WHERE userId IN (...`). If the `objects.o_path` or `objects.o_key` contains a doubl

[2022-04-21 17:02] passioneight commented on #11242
@brusch looks good to me. Although, I wonder if we should add a generic `PreviewGenerator` instead, while we are at it:

The `PreviewGenerator` can be used by default as soon as a link generator is provided. It will automatically add a `Site` dropdown, as well as a `locale` dropdown if - and only if - more than one `Site`/locale is available, respectively.

Whenever there's a need for customizatio

[2022-04-22 07:45] mcop1 commented on #11748
Resolved by #11939

[2022-04-22 07:45] #11748 closed, assigned to kingjia90

[2022-04-22 08:34] ServiceWebLG opened #11949 "[Feature]: Add ManyToManyRelation type to function addMetadata"
### Feature description

Hello devs,
We are under Pimcore Enterprise and we install Enterprise Metadata Bundle.
With a command, we want to add programmatically objects coming from the PIM in a ManyToManyRelation type field.
But apparently this is not possible because authorized fields type in the AddMetadata function are "$type can be "asset", "checkbox", "date", "document", "input", "object", "se

[2022-04-22 09:47] mcop1 commented on #11837
Resolved by #11942

[2022-04-22 09:47] #11837 closed, assigned to kingjia90

[2022-04-22 13:34] brusch commented on #11909
For me it works like a charm, tested with MinIO.
Tested with the demo:
[code]

[2022-04-22 13:40] brusch commented on #11909
Also tested again with AWS S3, again, works like a charm (used `10.x` branch).

[2022-04-25 06:43] NiklasBr commented on #7219
This is still relevant

[2022-04-25 08:55] aryaantony92 commented on #11592
Fixed by #11907

[2022-04-25 08:55] #11592 closed, assigned to nobody

[2022-04-25 11:23] aryaantony92 commented on #11883
Fixed by #11934

[2022-04-25 11:23] #11883 closed, assigned to dvesh3

[2022-04-25 11:32] pdchaudhary opened #11958 "[Bug]: Memory Leak issue when generating QR code in pimcore document preview tab."
### Expected behavior

it should generate qr code in pimcore document preview.

### Actual behavior

It is not generating QR code and throwing 500 error.

### Steps to reproduce

-  Open document in admin
-  Go to preview tab
-  Click on QR code
-  Download QR code
-  And it is throwing "Allowed memory size of 134217728 bytes exhausted (tried to allocate 63138913 bytes) in /var/www/html/vendor/end

[2022-04-25 12:42] brusch commented on #11912
Fixed by #11921

[2022-04-25 12:42] #11912 closed, assigned to brusch

[2022-04-25 13:30] #10771 closed, assigned to mcop1

[2022-04-25 19:49] ctippler commented on #6381
@aarongerig / @dvesh3  - I guess this issue can be close - https://github.com/pimcore/pimcore/issues/6381 should fix this.

[2022-04-25 20:09] aarongerig commented on #6381
@ckogler-elements Which PR do you mean? You linked this same issue in your comment.

[2022-04-25 21:25] ctippler commented on #6381
@aarongerig - Sorry - i ment this one https://github.com/pimcore/pimcore/pull/11845 - brusch cherry picked it to v10.3

[2022-04-26 06:30] passioneight opened #11964 "[Bug]: pimcore_link not considering anchor in editmode"
### Expected behavior

When using anchor links, the actual `<a>`-tag is rendered in the backend, like so:

[code]

### Actual behavior

A `span`-tag is rendered:

[code]

Culprit: https://github.com/pimcore/pimcore/blob/8d95cd16764355faa3106df6c1956041f4d69075/bundles/AdminBundle/Resources/public/js/pimcore/document/editables/link.js#L107

### Steps to reproduce

1. Create a document
2. Add a `pim

[2022-04-26 07:38] aarongerig commented on #6381
@ckogler-elements Ah, perfect. Tested it on the official demo and it works now. Closing the issue then – thank you!

[2022-04-26 07:38] #6381 closed

[2022-04-26 08:53] brusch commented on #11909
@dpfaffenbauer any more insights on that? Thanks!

[2022-04-26 08:56] brusch commented on #11242
@passioneight sounds good to me! Looking forward to the PR 😊

[2022-04-26 08:58] #11888 closed, assigned to kingjia90

[2022-04-26 08:59] #11822 closed, assigned to kingjia90

[2022-04-26 10:10] #11716 closed, assigned to nobody

[2022-04-26 10:54] #11943 closed, assigned to kingjia90

[2022-04-26 11:01] NiklasBr commented on #4572
Yup, still happening on 10.3.5

[2022-04-26 11:36] #11623 closed, assigned to nobody

[2022-04-26 11:47] #11881 closed, assigned to kingjia90

[2022-04-26 13:58] mcop1 commented on #11941
@mysliwietzflorian good catch, thank you! I created a pr that should resolve the problem. We already did it that way for other datatypes, e.g. https://github.com/pimcore/pimcore/pull/10130

Could you please check if this resolves your problems? Would be appreciated.

Thanks again

[2022-04-26 14:16] dvesh3 opened #11973 "[DataObject] Support convertTo on InputQuantityValue"
### Improvement description

please see https://github.com/pimcore/pimcore/pull/11968

[2022-04-26 15:28] fashxp commented on #6383
We did some improvements there, see https://github.com/pimcore/pimcore/pull/11899#issuecomment-1109904675

Closing for now, but we are of course open for further improvement ideas. Please create new tickets or even better PRs.

[2022-04-26 15:28] #6383 closed

[2022-04-27 06:50] dpfaffenbauer commented on #11909
@brusch Interesting, might be that it happens when the asset doesn't exist on the storage but in the Pimcore DB?

[2022-04-27 07:32] #11823 closed, assigned to kingjia90

[2022-04-27 07:34] brusch commented on #11909
@brusch might be, ... but if this is the case, I'd say this doesn't need to be covered by Pimcore. I'm closing this for now.

[2022-04-27 07:34] #11909 closed, assigned to brusch

[2022-04-27 08:18] brusch commented on #11941
Fixed by #11972

[2022-04-27 08:18] #11941 closed, assigned to mcop1

[2022-04-27 09:18] Ken-vdE opened #11984 "[Bug]: When generating a localized view, the fallback language is used if its a checkbox and its value is false"
### Expected behavior

Say we have an object with a localized checkbox field `enabled`. We also have a set of languages with fallbacks, e.g. `de_AT` with a fallback to `de`.

When I set the `enabled` value to `false` (or `0`) within an objects `de_AT`, and to `true` (or `1`) within `de`, the returned value (from the database view) should be `0`.
So when I run something like this:
[code]
it should

[2022-04-27 09:54] #11562 closed, assigned to nobody

[2022-04-27 10:06] #11340 closed, assigned to mcop1

[2022-04-27 11:13] kkirsz opened #11986 "[Bug]: Grid Option window: top border hidden"
### Expected behavior

The window borders are always inside the browser and visible.

### Actual behavior

When dragging top border, the top border is hidden under the browser. User can't drag it back.

### Steps to reproduce

This defect only impacts usability. Click Grid Option.
![01](https://user-images.githubusercontent.com/26323830/165504967-8bc9bc79-8e55-471c-a67c-05d43cd9d078.jpg)
Drag the

[2022-04-27 11:42] dpfaffenbauer commented on #8532
just as reference for google cloud: https://cloud.google.com/storage/docs/access-control/signed-urls

[2022-04-27 11:44] brusch commented on #11958
Works for me like a charm, also on our public demo (demo.pimcore.fun).

[2022-04-27 11:44] #11958 closed, assigned to nobody

[2022-04-27 11:44] brusch commented on #11958
Probably your mem-limit is just too low.

[2022-04-27 12:25] dvesh3 opened #11987 "[Documents] Not possible to save documents"
### Expected behavior

Documents should be saved

### Actual behavior

throwing exception Doctrine\DBAL\Connection::fetchOne(): Argument #2 ($params) must be of type array, null given

### Steps to reproduce

1. Open Document
2. Click save / save & publish.

[2022-04-27 12:25] #11904 closed, assigned to nobody

[2022-04-27 12:33] dvesh3 commented on #11987
Regression of https://github.com/pimcore/pimcore/pull/11931/files#diff-48235de7b392a4ff9ed273062d750e2732a5b1f8355cd76109abf4c5538a6c45R1085

[2022-04-27 12:47] blankse commented on #11987
@dvesh3 Fix https://github.com/pimcore/pimcore/pull/11988 the error?

[2022-04-27 13:08] dvesh3 commented on #11987
@blankse yes, but `\Pimcore\Db:fetch..` method doesn't expect null params...

[2022-04-27 13:20] blankse commented on #11987
Yes, I've thought about deprecating all values except arrays. It should always be possible to specify an array here.

[2022-04-27 13:45] #11987 closed, assigned to nobody

[2022-04-28 06:53] pdchaudhary commented on #11958
![image](https://user-images.githubusercontent.com/30948231/165694131-89757939-efe1-4c5d-8b6f-1eca3b97c212.png)
@brusch Yes, it is working after increasing mem-limit but you can check on above image. it is reproducible on the pimcore demo.

[2022-04-28 06:55] passioneight commented on #11242
@brusch great, I'll try to find some time soon.

[2022-04-28 06:59] GAL-GC opened #11992 "[Bug]: Keyboard shortcut to save causes error within folders"
### Expected behavior

When pressing the shortcut to save (ctrl + s), it should save (here the folder).

However, a popup is then visible, saying, that save was not successful. If I manually click the save button, it works fine and no error message is visible.

![image](https://user-images.githubusercontent.com/91726275/165694688-e15b2caf-8845-45ba-b285-d005507c512a.png)

### Actual behavior

![im

[2022-04-28 07:31] GALCF opened #11993 "[Bug]: Objectbrick unique field breaks relations"
### Expected behavior

When trying to save objectbrick data in a unique field for object 1 with the same value as another objectbrick data entry for object 2, an error gets thrown.

### Actual behavior

When trying to save objectbrick data in a unique field for object 1 with the same value as another objectbrick data entry for object 2, the entry gets updated and saved to object 2. object1 does no

[2022-04-28 08:14] NiklasBr opened #11994 "[Bug]: Predefined Metadata: Attempted to call an undefined method named "marshal" of class ClassDefinition\Data\Textarea"
### Expected behavior

(we do not have access to the Enterprise repository, therefore adding the bug report here, feel free to move it)

It should be possible to add and edit and use predefined metadata fields of type "textarea".

### Actual behavior

![image](https://user-images.githubusercontent.com/279826/165708313-15125ed1-e60c-4e9f-82da-bcf79622218d.png)

[code]

### Steps to reproduce

1. Ha

[2022-04-28 14:09] swina opened #11997 "[Bug]: getThumbnail() returns a path with the image id included in the path in staging server (live)"
### Expected behavior

Using in local environment / staging environment :

`getImage()->getThumbnail()->getPath();`

returns a path like :

`_thumbnail_prefix_url/_thumbnail_path_/_thumbnail_file_name_`

for example:

`https://myserver.com/assets/images/image-thumb__2953__slider_image/my_image.jpg`

### Actual behavior

In staging environment (live server) returns :

`_thumbnail_prefix_url_/_thumb

[2022-04-28 14:22] brusch commented on #11997
You have most probably different Pimcore Versions in use.

See also upgrade notes: https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/Upgrade_Notes/index.html#page_10-4-0

[2022-04-28 14:43] NiklasBr opened #11998 "[Bug]: 10.3.6 QuickSearch exception for non-admin users"
### Expected behavior

QuickSearch should work for all users.

### Actual behavior

Left side: Admin user
Right side: User with limited permissions
![image](https://user-images.githubusercontent.com/279826/165778926-3eccc82c-9219-4927-b202-ef9978582bf8.png)

[code]

### Steps to reproduce

1. Search for something as admin
2. Log in as a different user
3. Search for anything as the limited user.

(

[2022-04-28 15:09] NiklasBr commented on #11998
Possible regression of https://github.com/pimcore/pimcore/commit/fae3a865b21ec55ddc6845dde13f001a633a3232?

[2022-04-29 07:52] fashxp commented on #11994
can you please describe the steps to reproduce more in detail?
the screen you showed should not be possible, because as soon as you activate the enterprise metadata bundle, you don't have access to the standard predefined asset metadata anymore.

[2022-04-29 08:07] SaschaHowe commented on #11081
Hey,

I think it's the `Ext.Tooltip` with `showDelay > 0`
It happens everywhere that thing is used. We notice it mostly on the image editable.

No idea how this can be fixed without upstream fix from ExtJS or removing the `showDelay`

Greetings,

[2022-04-29 08:08] LosHawlos opened #12002 "[Bug]: Undefined array key "dontCheckEnabled""
### Expected behavior

Areabricks can be enabled/disabled without showing errors in the Website

### Actual behavior

When an Areabrick is used inside a pimcore_areablock, and the Areabrick the later gets disabled using Tools / Bundles&Bricks the following error is shown on the website:

[code]

### Steps to reproduce

Tested on Pimcore Version 10.4.0

- Add an Areabrick into an Areablock and save

[2022-04-29 08:09] LosHawlos commented on #12002
I forgot to mention: The error is only shown when APP_DEBUG is set to true.
With APP_DEBUG=false no error is visible.

[2022-04-29 08:12] NiklasBr commented on #11994
Nothing fancy I think, this is the first time using it. Executed `composer require pimcore/asset-metadata-class-definitions` (got `v1.2` which by the way is still marked as "dev" in the docs), then installed the bundle and enabled it in the admin UI. Followed by a `bin/console cache:clear` with Pimcore 10.3.6.

[2022-04-29 08:18] fashxp commented on #11994
did you reload admin interface?

[2022-04-29 08:24] NiklasBr commented on #11994
Yes

[2022-04-29 09:03] ghost opened #12004 "[Bug]: trim null in Document/Page"
### Expected behavior

Service can perform Service::copyRecursive from Document/Page

### Actual behavior

Crash on perform Service::copyRecursive from Document/Page

Service.php#164
[code]

Page.php#174
[code]

and trim can not handle null values, also phpdoc say it can not receive null as prettyUrl.

### Steps to reproduce

We had this issue, by recreating database for testing szenarios.

Fix?:

[2022-04-29 10:13] brusch commented on #12002
Fixed by #12003

[2022-04-29 10:13] #12002 closed, assigned to brusch

[2022-04-29 10:57] SaschaHowe opened #12005 "[Bug]: Grouped Area Brick List not scrollable"
### Expected behavior

Be able to scroll the grouped area brick list and access all bricks without scrolling the whole page

### Actual behavior

When having a grouped brick list, the brick lis is not scrollable under all conditions.
Looks like if the interaction with the list happens far enough at the top of the current page, the list is scrollable
However this is almost always not the case and l

[2022-04-29 11:40] ghost commented on #12004
It looks like the Dao in Testszenario will also trigger this issue.

Affected
* prettyUrl
* targetGroupIds

[code]

[2022-04-29 11:42] NiklasBr commented on #10549
I don't know if this is intended behaviour or not, just that it seems odd to me.

[2022-05-02 07:49] dvesh3 commented on #11282
Fixed by #11916

[2022-05-02 07:49] #11282 closed, assigned to dvesh3

[2022-05-02 07:53] mcop1 opened #12007 "[Bug]: advancedManyToManyRelations: Saving changes not possible"
### Expected behavior

Saving changes should work

### Actual behavior

Error message when adding a new relation:
![image](https://user-images.githubusercontent.com/89011527/166201954-9fcf04a8-93b1-428e-92d6-4e5d07971800.png)

Sometimes I even had the problem that my changes (on existing relations) weren´t saved properly.

### Steps to reproduce

1.) Add advanced many to many relation to data obje

[2022-05-02 08:53] blankse commented on #12004
@galdp I created 2 PRs for this. Can you test it?

[2022-05-02 09:42] brusch opened #12010 "[Bug]: PHPStan failing on 10.x"
### Expected behavior

Should not fail.

### Actual behavior

Failing 😊

### Steps to reproduce

See https://github.com/pimcore/pimcore/runs/6255058093?check_suite_focus=true#step:8:26

[2022-05-02 09:43] blankse commented on #12010
@brusch Is already fixed in 10.4 branch. You need to merge it to 10.x
https://github.com/pimcore/pimcore/pull/12000

[2022-05-02 09:47] #12010 closed, assigned to nobody

[2022-05-02 09:48] brusch commented on #12010
@blankse ah, thanks for the hint - I did compare the branches but it seems my local fetch didn't work and I didn't notice 🤗

[2022-05-02 09:58] brusch commented on #11081
@SaschaHowe Thanks for your feedback, do you know where `ExtJs.Tooltip` with `showDelay > 0` is used?

[2022-05-02 10:13] kingjia90 commented on #12007
the problem is caused by this PR
https://github.com/pimcore/pimcore/pull/11942/files

[2022-05-02 10:14] SaschaHowe commented on #11081
Hey,

first of all, sry it's called `Ext.Tooltip` not `ExtJs.Tooltip`. May bad.

For Example here: https://github.com/pimcore/pimcore/blob/10.x/bundles/AdminBundle/Resources/public/js/pimcore/document/edit/startup.js#L172

This is what is creating page jumping for us in our web (or in the demo application) You hover over an Image Editable and scroll down before the second Tooltip is show (there ar

[2022-05-02 11:19] #11998 closed, assigned to kingjia90

[2022-05-02 12:33] aryaantony92 commented on #11687
Could you please provide the complete logs regarding the deprecation error messages in PHP 8.1 ?

[2022-05-02 13:10] blankse commented on #11285
@eliasfellner @passioneight I had the same issue and I created a PR. Can you test it? #12012

[2022-05-02 14:37] #10856 closed, assigned to dvesh3

[2022-05-02 14:47] brusch commented on #10740
@BlackbitNeueMedien any new findings here? Thanks for a quick feedback! 😊

[2022-05-02 15:20] brusch commented on #10740
Tried now several things, also the non-existent custom logo, but still now chance to reproduce that 🤔

[2022-05-02 15:30] brusch commented on #10740
Got one scenario ... you're logged in and you open /admin/login/lostpassword in another tab.

[2022-05-02 15:57] dvesh3 commented on #11917
@simonkey not able to reproduce. are you using any event listener on save or load?

[2022-05-02 17:21] jdreesen commented on #10912
I'm working on this. Will provide a PR soon.

[2022-05-03 06:33] arn1ex opened #12016 "[Bug]: an object on the same level can't be moved under other object as a child, if the other object has't children"
### Expected behavior

you can move object under another object.

### Actual behavior

An error occurring  as soon as you try to drag an object under other object
![pimcorebug](https://user-images.githubusercontent.com/104794370/166412477-72483232-ba46-4099-b5d4-9bdfd1e9e10d.PNG)

### Steps to reproduce

- Go to the Pimcore demo and create a new object. No need to be published, just save.
- Create

[2022-05-03 09:08] dvesh3 commented on #12004
Fixed by #12008 & #12009

[2022-05-03 09:08] #12004 closed, assigned to dvesh3

[2022-05-03 09:45] dvesh3 commented on #11994
@NiklasBr As Christian said, It is not possible to set predefined Asset metadata once you enable the bundle (see below):
![image](https://user-images.githubusercontent.com/5137917/166432728-08e97d28-9229-4c04-959c-80a6388e60d2.png)

Could you please share the correct steps to reproduce the issue? thanks!

[2022-05-03 10:02] NiklasBr commented on #11994
@dvesh3 These are *literally* the steps done, nothing less, nothing more. There are not a lot of things which are ambiguous here, I don't understand what else you need?

1. In your terminal run: `composer require pimcore/asset-metadata-class-definitions`
2. In your terminal navigate to the Pimcore root directory, then run the command: `bin/console pimcore:bundle:enable PimcoreAssetMetadataClassDef

[2022-05-03 10:05] dvesh3 commented on #11994
Sorry, not reproducible. please feel free to come up with a PR to fix the issue then we can reopen it. thanks!

[2022-05-03 10:05] #11994 closed, assigned to dvesh3

[2022-05-03 10:09] NiklasBr commented on #11994
WTF kind of response is that?

[2022-05-03 10:09] BlackbitDevs commented on #10740
Sorry, did not have time to analyse this further but it still is a problem and it also happens when you only use Pimcore in one browser tab.

[2022-05-03 10:11] dvesh3 commented on #11994
A sensible one 😉

[2022-05-03 11:08] simonkey commented on #11917
@dvesh3 I've tried my test setup in the pimcore demo (https://demo.pimcore.com/) and I could reproduce the issue. If the system has a lot of memory, it takes more images per language to reproduce the error. On the demo page at least two languages need 6 or more images (Testsetup: 2 languages with 6 images, one with 3 images).
It's important to close the data object. On reopening the dataobject the

[2022-05-03 12:15] ghost commented on #12004
@blankse Tests passing, thanks

[2022-05-03 13:29] passioneight commented on #11285
@blankse thanks, I can verify that the toolbar is now available and everything works as expected.

[2022-05-04 07:34] antonio-masotti opened #12024 "[Bug]: updateAction (UserController - AdminBundle)"
### Expected behavior

Admins should be able to create and modify the Users Entities.

### Actual behavior

The updateAction in `bundles/AdminBundle/Controller/Admin/UserController.php` tries to retrieve the User by executing `$user = User\UserRole::getById((int)$request->get('id'));` This fails every time, since the request contains the UserId and not the userRoleId.

The bug seems to have been i

[2022-05-04 07:34] antonio-masotti commented on #12024
@patrickbitzer FYI

[2022-05-04 12:33] GALCF commented on #12016
Regression of https://github.com/pimcore/pimcore/pull/11908 ?

[2022-05-04 14:33] Brainshaker95 commented on #11316
@brusch With this PR, the issue of #8818 pops up again. LQIP do not load the content of src attribute with srcset present.

[2022-05-05 10:10] GALCF commented on #11997
@brusch I have the exact same problem with the current version (10.4.0). The problem only occurs when an asset ist located directly underneath the asset root and not in a separate folder. This is also reproducible in the demo. Just move a used image to the root folder and set a name without spaces / special characters. The image will not work in frontend.

[2022-05-05 12:14] fashxp commented on #11664
**needs to wait until Pimcore 11**
- codeception 5 is not released yet
- cannot upgrade without BC break
  - namespace of test class changed `Codeception\TestCase\Test` --> `Codeception\Test\Unit` ??
  - some signature changes

#### TODOs:
- [ ] Update to correct parent class in https://github.com/pimcore/pimcore/blob/10.x/tests/_support/Test/TestCase.php#L18
- [ ] Add additional abstract methods

[2022-05-05 14:03] kjkooistra-youwe opened #12038 "[Bug]: options provider multiselect object context missing"
### Expected behavior

When retrieving options for a multiselect field from an options provider a data object is set in `$context['object']` when loading the field in a grid: `$context['purpose'] === 'gridconfig'`.

### Actual behavior

The `$context['object']` value is null. This prevents you from retrieving options dynamically based the value of another field. It does work for regular select fie

[2022-05-05 15:05] schmidt-travixmedia opened #12039 "[Bug]: Type of uploaded csv files is 'unknown' instead of 'text' in Pimcore X"
### Expected behavior

In Assets, uploaded csv files should have value `text (MIME: application/csv)` in the info modal (field 'Type'); Only then

`$file instanceof \Pimcore\Model\Asset\Text`

is true.

### Actual behavior

File `vendor/pimcore/pimcore/models/Asset.php`

[code]

Type check is done by:
[code]

In Pimcore 6.9, $mimeType for csv-files has value `text/csv`.
In Pimcore X, $mimetype for

[2022-05-05 15:08] fashxp commented on #12039
are you using s3 as storage?

probably related: https://github.com/pimcore/pimcore/pull/11402

[2022-05-05 15:17] schmidt-travixmedia commented on #12039
Hi,
no, we do not override the default definitions. So our assets are stored locally in '%kernel.project_dir%/public/var/assets'.

[2022-05-05 19:58] kingjia90 opened #12040 "[Bug][EcommerceFramework]: Voucher Token Manager Tab, inline Javascript not executed due CSP"
### Expected behavior

No Content Security Policy or JS related errors during Voucher Generation

### Actual behavior

![image](https://user-images.githubusercontent.com/6014195/167015233-5dcb11be-9f75-4d81-9493-fd699c89290a.png)

### Steps to reproduce

Create a new Voucher Series
Switch to `Voucher Details` tab after filling the required fields

Problem is caused by inline JS here:
https://githu

[2022-05-06 07:55] #11964 closed, assigned to kingjia90

[2022-05-06 08:30] brusch commented on #11316
@Brainshaker95 can you please create a new issue for that, or even better a PR fixing the issue? Thanks a lot in advance!

[2022-05-06 09:22] brusch commented on #11997
@GALCF Thanks for the detailed info, I've just reopened the issue.
As you can reproduce the issue on your side, would it be possible for your to provide us a PR fixing the issue?
Thanks a lot!

[2022-05-06 09:25] ascheider opened #12043 "Advanced Many-To-Many Relation duplicate entries in object, if fallback languages defined"
### Expected behavior

I want to assign files depending on language and have the relation only once.

### Actual behavior

Currently if you defines Advanced Many-To-Many Relation inside localized fields and use fallback languages, the relation will be created twice in the object in fallback languages.
I created screen capture: https://www.dropbox.com/s/47eevn9ib6ewesj/screen-capture_relation.webm?

[2022-05-06 09:30] robertSt7 opened #12044 "[Improvement]: link - display message if mandatory field is empty"
### Improvement description

display an error message, when the "Save" button was clicked and none of the three following attributes were set:

- Path
- Parameters
- Anchor

[2022-05-06 09:36] Brainshaker95 opened #12045 "[Bug]: LQIP are not loaded when img tag has a srcset attribute"
### Expected behavior

The srcset attribute should not be set, when lowQualityPlaceholder is set

### Actual behavior

The srcset attribute is set and so the lowQualityPlaceholder in the src attribute is ignored.

### Steps to reproduce

Add an image with the thumbnail configuration `lowQualityPlaceholder: true`

[2022-05-06 09:52] GALCF commented on #11997
@brusch Done, but I'm not sure if there are any edge-cases that break because of this prefix replacement. I tested root and non-root image thumbnails, and they seem to work

[2022-05-06 10:14] Brainshaker95 commented on #11316
#12045

[2022-05-06 11:05] eciosk opened #12051 "[Bug]: Object with special character as first letter can't be found via "Show in tree". Object is not listed in the created directory."
### Expected behavior

1. When clicking "Show in tree" button the current object is highlighted in the tree.
2. Opening directory with objects show object on list.

### Actual behavior

1. After clicking "Show in tree" the object is not found and view shows the last page of all objects in the tree.
2. Missing object in the list of all objects from particular directory.

### Steps to reproduce

1.

[2022-05-06 12:36] brusch commented on #11316
@Brainshaker95 Thanks a lot! 👍

[2022-05-06 12:40] dkarlovi opened #12052 "[Feature]: VIPS image adapter"
### Feature description

Implement the image adapter using https://github.com/libvips/php-vips

In our test (a non-Pimcore app), we migrated from ImageMagick to VIPS and gotten around 50% speed improvement, with IIRC 30% memory reduction on average.

[2022-05-06 12:41] brusch commented on #12044
Not sure about this, if a link is not configured as mandatory it should be possible to leave it empty, right?

[2022-05-06 12:51] brusch commented on #12052
@dkarlovi Actually we had already the same idea and we also did an PoC a couple of years ago, see #969  and https://github.com/pimcore/pimcore/blob/1ce4e02a516439bc9ab3e7ca24b551b458631034/pimcore/lib/Pimcore/Image/Adapter/Vips.php

To be honest, I can't remember why we finally skipped the initiative, but since this is already quite some time ago, I'd give it another try.

Can you provide a PR for

[2022-05-06 12:56] brusch commented on #12040
See also #12013 which fixes already similar regressions from #11447
So doing `<script {{ pimcore_csp.getNonceHtmlAttribute()|raw }}>` should fix the issue:
https://github.com/pimcore/pimcore/pull/12013/files#diff-8916ae3f42cad275ad7968f389db77a5b51a22b8fef6c778634b2a11402b2cecR54

[2022-05-06 13:00] brusch commented on #12005
@SaschaHowe can you maybe provide a PR for this issue? Thanks in advance!

[2022-05-06 13:02] brusch commented on #11986
@kkirsz can you maybe provide a PR fixing the issue? Thanks in advance!

[2022-05-06 13:07] brusch commented on #11799
@dkarlovi can you maybe provide us a PR for this issue? Thanks in advance 🤗

[2022-05-06 13:08] dkarlovi commented on #12052
@brusch I think there's quite a bit of progress in the library since 2016.

Looking at your reference to Imagine VIPS implementation, maybe a better approach would be actually to implement an "Imagine Adapter" which could then in turn handle VIPS? It would be a chain of adapters, but allowing for more flexibility.

[2022-05-06 13:27] brusch commented on #12052
@dkarlovi
ad php-vips: I'd assume so 😊
implementation: sounds good! Maybe we start with a PoC/draft PR first, there we can discuss details, but so far it sounds like a promising solution to me.
Maybe this chain shouldn't just consider the available libraries, but also the source and target image format, e.g. even GD is in most cases much faster than Imagick ...

[2022-05-06 13:45] dkarlovi opened #12055 "[Bug]: Pimcore serving deferred thumbnail URL even though the thumbnail exists (Azure Storage used)"
### Expected behavior

I have assets set up like this:

[code]

And it works, the files get created in the correct, expected place, etc.

The issue is, the `\Pimcore\Model\Asset\Image\Thumbnail::getPath` seems to return a deferred URL instead of the storage (static file, with the frontend prefix) quite often, even though the image exists on the remote storage (using Azure Blob Storage).

What's mo

[2022-05-06 13:57] brusch commented on #12055
@dkarlovi are you using latest `10.4.0`? Do you have any further information on that, because we need a reproducible case in order to check the issue. Even better would be of course a PR fixing the issue 🤗 Thanks!

[2022-05-06 13:58] dkarlovi commented on #12055
I know, I'm currently step debugging through the code and checking what's going on in regards to #11702. :) I'll update this issue with more finding or close it if PEBKAC.

[2022-05-06 15:26] dkarlovi commented on #12055
@brusch see #12056.

[2022-05-06 15:42] dkarlovi opened #12057 "[Bug]: \Pimcore\Model\Asset\Thumbnail\ImageThumbnailTrait::getDimensions is reading dimensions from file every time"
### Expected behavior

With a remote storage, reading remote files just to find out the thumbnail width / height is suboptimal. The asset cache could cache these values.

### Actual behavior

The values are read from the file which is pulled from remote storage.

### Steps to reproduce

1. have a remote storage for thumbnails set up
2. call `\Pimcore\Twig\Extension\ImageThumbnailExtension::getImag

[2022-05-07 16:50] SpicySpaceman opened #12060 "[Bug]: Composite indices failing to save for relation data type"
### Expected behavior

It should be possible to also create composite indices on relation data types like Many-To-One.

### Actual behavior

Currently it is not possible to create such composite keys. An error message like ```An exception occurred while executing 'ALTER TABLE `object_query_test` ADD INDEX `c_test` (test1_id,test2_id);': SQLSTATE[42000]: Syntax error or access violation: 1072 Key c

[2022-05-08 20:02] bitver opened #12062 "[Bug]: There is no active transaction when opening [Document] Link"
### Expected behavior

Opened document

### Actual behavior

Getting error when trying to open link which refferes to Data Object
`Status: 500 | Internal Server Error
URL: /admin/link/get-data-by-id
Message: There is no active transaction.
Trace:
in /var/www/*/vendor/doctrine/dbal/lib/Doctrine/DBAL/ConnectionException.php:23
#0 /var/www/*/vendor/doctrine/dbal/lib/Doctrine/DBAL/Connection.php(2001)

[2022-05-09 06:44] kjkooistra-youwe commented on #12038
Update: it actually makes sense for the data object to not be available when retrieving the grid config (purpose 'gridconfig'), since it requests generic options. The grid proxy (purpose 'gridview') retrieves options per data object specifically. Unfortunately this doesn't appear to work for multiselect fields.

[2022-05-09 07:21] mcop1 commented on #8917
* Move variables to Abstractelement and include setter + getter methods
	* Attention: Properties have a "o_" prefix in AbstractObject class, e.g. https://github.com/pimcore/pimcore/blob/244af0cf550f85b360f243cd44e6771768e5b7f1/models/DataObject/AbstractObject.php#L173
	* properties
		* Be careful, methods are not exactly the same, because of the cache key. Could be passed as an argument, e.g.
			h

[2022-05-09 07:31] dvesh3 commented on #10952
please see, if you are facing the issue https://github.com/pimcore/pimcore/pull/12041#discussion_r867312266

[2022-05-09 07:54] brusch commented on #12057
Sounds like a very good idea.
Mime-type should be fine as it is, as it doesn't require access to the file, it just uses the file extension see:
https://github.com/pimcore/pimcore/blob/90a603647ae074be3b99b545b8246a4a59244fdd/models/Asset/Thumbnail/ImageThumbnailTrait.php#L274

But `width`, `height` and `filesize` makes sense.
Would you create a PR for that? 😊

[2022-05-09 08:38] kingjia90 commented on #12016
Confirming that.
Thank you for reporting!

[2022-05-09 09:00] dkarlovi opened #12065 "[Feature]: generate a Doctrine migration when running pimcore:deploy:classes-rebuild"
### Feature description

With `PIMCORE_CLASS_DEFINITION_WRITABLE=0` (which should IMO be configurable from Pimcore Symfony config, not just via env var, but that's for [another issue](https://github.com/pimcore/pimcore/issues/12066)), the developer is running the command on the dev environment to update all the class files to commit. When deploying, the command is meant to be run to update the dat

[2022-05-09 09:09] dkarlovi opened #12066 "[Feature]: make configuration storage locations configurable via Pimcore's Symfony config tree"
### Feature description

Currently, [the config storage location tweaks are available via env vars](https://pimcore.com/docs/pimcore/current/Development_Documentation/Deployment/Configuration_Environments.html#page_Configuration-Storage-Locations-Fallbacks).

This, to me, feels counter-intuitive because this configuration is quite central to Pimcore's behaviour, it should be manageable app-wide (m

[2022-05-09 09:12] dkarlovi commented on #12057
@brusch do you have a rough idea when 10.5 will be released, I'll try to do it before.

[2022-05-09 09:17] brusch commented on #12057
@dkarlovi I don't expect it to be finished before mid of June - but of course the earlier we get the PR the better it is, as we also need some time for reviewing and testing 🤗

[2022-05-09 10:08] #11834 closed, assigned to nobody

[2022-05-09 10:14] alexej-d opened #12068 "[Bug]: getenv not returning variables defined in .env anymore (possible regression)"
### Expected behavior

getenv should return variables from .env- and .env.local files.

### Actual behavior

Calling getenv anywhere with a variable name of a variable that only exists in an env file returns false, even though $_ENV returns the correct value.

### Steps to reproduce

1. Add a line like this to your .env file: `NODE_ENV=development`
2. Call `getenv('NODE_ENV')` anywhere you like.
3

[2022-05-09 11:41] brusch commented on #12068
We're not using `usePutEnv()` because of the following reason:

So you should use either `$_ENV` or `$_SERVER` to access the values defined in `.env`.

[2022-05-09 11:41] #12068 closed, assigned to nobody

[2022-05-09 12:34] alexej-d commented on #12068
That's fine with me, but is there any mention of it in the upgrade docs? As far as I am concerned this is a breaking change... @brusch

[2022-05-09 12:40] brusch commented on #12068
This has not changed within v10 as far as I've seen.

[2022-05-09 12:59] alexej-d commented on #12068
@brusch i had no problems using getenv in 10.2.6 the way I mentioned as far as I can tell. Today I tried Pimcore 10.4 for the first time and getenv's behaviour changed.

[2022-05-09 13:06] brusch commented on #12068
@alexej-d see status of `10.0.0`: https://github.com/pimcore/pimcore/blob/v10.0.0/lib/Bootstrap.php#L150

[2022-05-09 13:10] alexej-d commented on #12068
@brusch sorry, you are right, I used docker-compose for env management, that's why I did not notice the change from 6.9. Still, shouldn't that be mentioned in the upgrade notes for Pimcore X?

[2022-05-09 14:15] dvesh3 commented on #12040
Fixed by #12054

[2022-05-09 14:15] #12040 closed, assigned to kingjia90

[2022-05-09 14:35] #12007 closed, assigned to kingjia90

[2022-05-09 15:21] pimcore-galilee opened #12073 "[Bug]: [Data Objects] ReverseManyToManyObjectRelation no longer supports reverse relations from ManyToOneRelation field"
### Expected behavior

[Data Objects] ReverseManyToManyObjectRelation supports reverse relations from ManyToOneRelation field

### Actual behavior

When saving an object which contains a reverse relation to a field which is a ManyToOne Relation, we get the following error message : Validation failed: Invalid non owner object relation to object [1167] :
Timestamp: Mon May 09 2022 17:17:49 GMT+0200

[2022-05-09 15:50] fashxp commented on #12073
probably related? https://github.com/pimcore/pimcore/issues/12007

[2022-05-09 16:04] pimcore-galilee commented on #12073
Dear Fashxp, I am not sure at all since class creation works fine 100%.
This is a server response that is throwing the exception.
    protected function allowObjectRelation($object)
    {
        //only relations of owner type are allowed
        $ownerClass = DataObject\ClassDefinition::getByName($this->getOwnerClassName());
        if ($ownerClass instanceof DataObject\ClassDefinition && $object

[2022-05-10 06:22] mcop1 commented on #12039
@schmidt-travixmedia I tried to reproduce the problem, but I couldn´t do it. I added an simple csv file to pimcore 10.4 and checked the Info dialog
![image](https://user-images.githubusercontent.com/89011527/167561448-59d9a694-0926-4f50-93d2-f4168534fdf3.png)

Could you please upload the file you are testing with?

[2022-05-10 07:30] mcop1 commented on #12043
@ascheider thanks for creating such a detailed issue, but unfortunately I can´t reproduce the problem.

I imported your class, created a data object and added an asset for every language.
After that I remove the asset from "German", since it is my default language, add any other asset again and save. After reload I still have one item in each language only
![image](https://user-images.githubuserco

[2022-05-10 07:32] aryaantony92 commented on #12062
@bitver  I just reproduced the mentioned scenario.
i.e I have

1. Created a Link
2. Dragged a DataObject to the path attribute.
3. Closed the Link
4. Reopened the Link

But I didn't get the error. And the link was opened.

Could you please tell me whether there are any special cases for the test ?

[2022-05-10 07:47] dvesh3 commented on #11285
Fixed by #12012

[2022-05-10 07:47] #11285 closed, assigned to dvesh3

[2022-05-10 08:05] ascheider commented on #12043
@mcop1
Hey, thank you for checking. I still can reproduce the issue on my machine. The bug appear salso if i change the award name in 'de' language.
PHP Version 8.0.1
Db Version: Server version: 5.5.5-10.5.11-MariaDB-1:10.5.11+maria~focal mariadb.org binary distribution
I will try to debug the issue deeper, maybe i will find something

[2022-05-10 08:56] fashxp opened #12076 "[Bug][Permissions][Elements] IsAllowed does not consider main permissions but only workspace permissions"
### Expected behavior

When user does not have permission for `objects`, `assets` and `documents` it must not be able to access the corresponding elements, even it if has workspaces configured.

### Actual behavior

User has access to elements as soon as there is a workspace configured - regardless the main permissions.

### Steps to reproduce

- Create user with object workspace, but not assign i

[2022-05-10 08:58] fashxp opened #12077 "[Improvement][Permissions][Elements] Add check if listing of parent element isAllowed in treeGetChildsByIdAction of element controllers"
Add check if listing of parent element isAllowed in treeGetChildsByIdAction of element controllers for double check, if listing of element is allowed at all.
Add something like
[code]

- [ ] DataObject
- [ ] Asset
- [ ] Document

[2022-05-10 09:18] dominik-horb-umg opened #12079 "[Improvement]: Allow Pimcore to work in `<iframe>` (e. g. for Cypress.io integration tests)"
### Improvement description

For our custom Pimcore code we are trying to automate some integration tests with Cypress.io, which runs Pimcore inside an `<iframe>`. This currently fails with errors like the following: `
(uncaught exception)
TypeError: Cannot read properties of undefined (reading 'settings')`.

This is caused by the `t` JS translation function of Pimcore using `parent.pimcore` in: h

[2022-05-10 09:18] dominik-horb-umg opened #15697 "[Improvement]: Allow Pimcore to work in `<iframe>` (e. g. for Cypress.io integration tests)"
### Improvement description

For our custom Pimcore code we are trying to automate some integration tests with Cypress.io, which runs Pimcore inside an `<iframe>`. This currently fails with errors like the following: `
(uncaught exception)
TypeError: Cannot read properties of undefined (reading 'settings')`.

This is caused by the `t` JS translation function of Pimcore using `parent.pimcore` in: h

[2022-05-10 09:25] dominik-horb-umg commented on #15697
Forgot to mention that there is a workaround for Cypress by setting the configuration `"experimentalSourceRewriting": true`. Since this is an experimental feature, it doesn't feel too comfortable to rely on it.

When looking at the errors shown in the closed https://github.com/pimcore/pimcore/issues/1287 I'm also not sure that the problem we found is the only issue blocking iFrame loading, but sho

[2022-05-10 09:57] fashxp commented on #12077
obsolete due to [onKernelControllerEvent](https://github.com/pimcore/pimcore/blob/10.x/bundles/AdminBundle/Controller/Admin/DataObject/DataObjectController.php#L2086) method

[2022-05-10 09:57] #12077 closed, assigned to nobody

[2022-05-10 10:04] #11984 closed, assigned to dvesh3

[2022-05-10 10:46] fashxp opened #12082 "[Docs] Ecommerce framework yaml not working"
### Discussed in https://github.com/pimcore/pimcore/discussions/12001

<div type='discussions-op-text'>

<sup>Originally posted by **langert** April 28, 2022</sup>
Is there a working example for ecommerce framework?

Using
bin/console config:dump-reference pimcore_ecommerce_framework
generates a yaml that causes different errors:

`noShipping:          { price_calculator: { factory_id: PriceCalcul

[2022-05-10 11:01] foxgreek opened #12083 "[Improvement][E-Commerce]: Add folder structure to pricing rules overview"
### Improvement description

We are planning to use the pricing rules for individual distributors. So we will have more than 50000 rules.

For performance reasons and usability, is it possible to add the folder structure from the user management to the pricing rules overview?

Or do you recommend another approaches for individual pricing rules?

Thanks a lot!

[2022-05-10 11:50] GAL-GC opened #12086 "[Bug]: Some image thumbnail transformations no longer work"
### Expected behavior

When i define a thumbnail configuration for my image, some transformations no longer work.

For example, I create a new thumbnail, with a transformation "Cover" and define their the specific configuration. As soon as I save and deliver the asset with my thumbnail configuration to the frontend, I get an `image-thumb__1__thumbnail/myasset.png` path for example. The path is the

[2022-05-10 11:55] #12024 closed, assigned to nobody

[2022-05-10 12:19] mcop1 commented on #12043
That would be highly appreciated, thank you for your efforts!

[2022-05-10 12:33] dkarlovi opened #12087 "[Bug]: \Pimcore\Translation\Translator doesn't implement \Symfony\Component\HttpKernel\CacheWarmer\WarmableInterface"
### Expected behavior

Since the Pimcore translator decorates Symfony's Translator, it should at least proxy its `warmUp()` process to ensure the translations get warmed up when Symfony's cache is being warmed.

### Actual behavior

Translations are not warmed with the rest of the cache.

### Steps to reproduce

Run `bin/console cache:warmup -e prod`, you should have `var/cache/prod/translations`,

[2022-05-10 13:47] #11997 closed, assigned to brusch

[2022-05-10 14:36] kingjia90 opened #12134 "[Bug]: Custom Views are not working"
### Expected behavior

custom view working

### Actual behavior

the folder show nothing even though it has a plus icon and content
![image](https://user-images.githubusercontent.com/6014195/167654260-e1eb43d6-95a6-4a73-a4bd-3913afc95ba6.png)

It is very similar to some permissions problem that i've recently fixed, but it is unrelated to that.

### Steps to reproduce

log into demo and use a persp

[2022-05-10 15:02] kingjia90 commented on #12051
May i ask you which version of Pimcore are you using? I am unable to reproduce it on the latest.
I guess it is more related to permissions (that got recently fixed), it doesn't seem caused by the special characters.

Just to double-check:
- could you manually navigate to the location of that file in the folder tree view?
- are the `list` permission enabled (for that file or any parent folder)? it

[2022-05-10 16:00] dkarlovi commented on #12057
Illustration of the problem, 80% of the runtime was spent on fetching width / height for 9 images on the page.
![Untitled-profile-Blackfire](https://user-images.githubusercontent.com/209225/167671998-230bc116-440c-4c44-9004-45075efedcfa.png)

[2022-05-10 19:46] #11993 closed, assigned to kingjia90

[2022-05-10 20:43] kingjia90 commented on #12073
Narrowed down a little bit, it seems caused by this [load()](https://github.com/pimcore/pimcore/pull/10242/files#diff-2b30de942edd58bfcbda8ca04a54619d65bcb861da86cfe7cd22699570bee8d3R192-R212) in this PR #10242.
By commeting it out or rename the method, it doesn't throw the error anymore.

[2022-05-11 06:26] mcop1 commented on #11992
https://github.com/pimcore/pimcore/pull/12025 fixes the error message
https://github.com/pimcore/pimcore/pull/12050 fixes the difference in clicking the save button and pressing CTRL+S

[2022-05-11 06:26] #11992 closed, assigned to mcop1

[2022-05-11 08:45] dvesh3 commented on #11918
Seems like an edge case as you would simply flush the values with bin icon:
![image](https://user-images.githubusercontent.com/5137917/167808351-99ce742b-aeba-4896-829b-010d94bfe7d1.png)
on editmode instead of reapplying the content master document without saving values.

[2022-05-11 09:11] dvesh3 commented on #12016
Fixed by #12072

[2022-05-11 09:11] #12016 closed, assigned to kingjia90

[2022-05-11 09:14] dvesh3 opened #12089 "Do not show expand/collapse children on leaf element"
### Expected behavior

This button is not supposed to appear on elements that have no children (leaf)
image
![image](https://user-images.githubusercontent.com/5137917/167814710-5a679d1c-23af-470a-bae3-4024bd185c1d.png)

### Actual behavior

The button appears

### Steps to reproduce

1. Right click on leaf (no children) tree item.
2. Go to Advanced -> Collapse Children

Related to https://github.c

[2022-05-11 09:16] brusch commented on #11927
Fixed by #12022

[2022-05-11 10:24] dpfaffenbauer commented on #11927
💪

[2022-05-11 11:19] #11081 closed, assigned to mcop1, robertSt7

[2022-05-11 13:11] brusch opened #12094 "[Task]: Move specific functionalities into bundles to keep the core leaner"
| Functionality     | Package Name                    | Notes                                          | Own Git Repo / Package |
|-------------------|---------------------------------|------------------------------------------------| ---- |
| Custom Reports  | pimcore/custom-reports-bundle   |                                                | ❌
| Glossary          | pimcore/glossary-bundle

[2022-05-11 13:21] bitver commented on #12062
@aryaantony92 It's very strange and I can't reproduce issue locally, but getting error stabely on production server.
`vendor/pimcore/pimcore/bundles/AdminBundle/Controller/Admin/Document/LinkController.php:61`
if I add `$link->setProperties(null);` in line 61 then issue is gone.

Could you help me, How can I figure out what the problem is when `$link` object in server suddenly has `$properties` wh

[2022-05-11 13:22] tom2796 opened #12096 "[Bug]: Shared Translations in admin mode not opening"
### Expected behavior

The shared translations in the admin mode are opening as usual.

### Actual behavior

Pop up opens, with error message, that translations are not configuared.
![image](https://user-images.githubusercontent.com/105366530/167857337-7f3a4d75-51d8-4b99-a736-7a497e0def34.png)

Further a console error appears:
_Error: Duplicate component id "translation_column_website_de"_
![image

[2022-05-11 13:56] alexmf23 opened #12098 "[Bug]: Cannot save user settings / OPCache error"
### Expected behavior

I wanted to create a new user but couldnt set password nor save settings.

### Actual behavior

I create the user, I set a password ( i get Save. successfully ) but the user password wont set. ( If i use CLI to reset password for the created user than it works - using cli )

Also I see now that in PHP OPcache Status i get an error:
<img width="1900" alt="Screenshot 2022-05-1

[2022-05-11 14:39] dvesh3 commented on #11917
@simonkey Hi, this doesn't seem easy to reproduce at my end. Could you please provide a PR? thanks!

Tip: try reverting these changes https://github.com/pimcore/pimcore/pull/11762 if it works, then we have to re-consider the childs reference used in block data class.

[2022-05-11 18:55] blankse commented on #12098
Should be fixed in 10.4.1

[2022-05-11 19:05] #12098 closed, assigned to nobody

[2022-05-12 01:26] bitver commented on #12062
Issue has gone with [10.4.1]. Idk what issue was related.
Can be closed, thanks a lot.

[2022-05-12 01:26] #12062 closed, assigned to aryaantony92

[2022-05-12 06:43] dpfaffenbauer opened #12101 "[Bug]: Cleanup FC and Bricks Stores on lower-case DB Servers"
Pimcore's cleanup tasks checks for tables like 'object_collection_%' and 'object_brick_%',  extrudes the brick/collection name from that and checks if the brick/collection in Pimcore exists. That doesn't work with Database Servers that are lower-case by default. Pimcore then logs "Fieldcollection 'coreshoptaxitem' not found. Please check table object_collection_coreshoptaxitem_cs_order_item".

Pim

[2022-05-12 07:32] sheckler31 opened #12103 "[Bug]: Perspective Editor unexpected behavior"
### Expected behavior

Ability to create perspectives and custom views, and assign different content to each view.

### Actual behavior

When trying to create a new perspective and adding custom views to it:
- Perspective is created, but the custom views in the new perspective are not shown as they should.
- Sometimes the folder itself is not showing at all, sometimes the folder structure is showi

[2022-05-12 07:32] sheckler31 opened #12149 "[Bug]: Perspective Editor unexpected behavior"
### Expected behavior

Ability to create perspectives and custom views, and assign different content to each view.

### Actual behavior

When trying to create a new perspective and adding custom views to it:
- Perspective is created, but the custom views in the new perspective are not shown as they should.
- Sometimes the folder itself is not showing at all, sometimes the folder structure is showi

[2022-05-12 07:57] brusch commented on #12149
moved to the right repo.

[2022-05-12 09:10] mcop1 commented on #9078
1.) getDataForEditMode, which handles the default values, cancels out at this line, because there is no data set.
https://github.com/pimcore/pimcore/blob/b2f37a652b19637bf3c260de7333197d087ba2ac/models/DataObject/ClassDefinition/Data/Fieldcollections.php#L127
2.) What are the expectations? Assuming I have an existing object and add a new FieldCollection, I would expect the default values to be set

[2022-05-12 10:19] dvesh3 commented on #11662
Seems like we have to wait until authenticator based security is used by default, as version 6 of `scheb/2fa` bundle will not work with old authentication system.

**Notes from the 2fa-bundle:** "_Symfony 5.4 will be supported as a migration path, but only authenticator security. If you try using Symfony 5.4 and the old security system, there will be an error_"

Throws exception with old authentic

[2022-05-12 11:58] #11663 closed, assigned to mcop1

[2022-05-12 12:11] mhgtlc opened #12107 "[Bug]: Variants tab is empty"
### Expected behavior

POST request to `/admin/variants/get-variants` does return results

### Actual behavior

POST request to `/admin/variants/get-variants` does not return results

### Steps to reproduce
Pimcore 10.4.1

1. Add variant for an object
2. Variant is created
3. Open variants tab of parent object
4. No variant is shown

[2022-05-12 12:42] dkarlovi commented on #12094
Related #11105.

[2022-05-12 13:31] matthiashamacher opened #12111 "[Bug]: Login as user does not work with custom entrypoint"
### Expected behavior

When copying the login as user link and opening the link in a new browser, you should be login as that user regardless of the admin entry point

### Actual behavior

If you have configured a custom admin entry point you get a 404 error as you cannot access the /admin route without being redirected from the custom entry point route

### Steps to reproduce

1. Configure a cust

[2022-05-12 13:42] brusch opened #12112 "[Improvement]: Add more methods to ElementInterface"
### Improvement description

Such as `setParentId()` `getParentId()`, `setParent()` ...

[2022-05-12 14:26] BentBr commented on #12039
Hey Folks,

We have the same issue :(

The local development setup does work fine (docker-compose with container pimcore/pimcore:PHP8.1-fpm), but on our servers it's not working.
All servers do run php8.1 / php8.0 and libs like phpfileinfo or exiftools-perl are installed and active.

I found out that the problem is the faulty entry in the database:
![image](https://user-images.githubusercontent.co

[2022-05-12 18:43] eciosk commented on #12051
@kingjia90
I use version 10.3.2.

Before I created the ticked I also tried to duplicate this behaviour on official Pimcore demo (https://demo.pimcore.com/admin/login?perspective=PIM) on the latest version but there was another problem. I can't even  show the list of objects from any directory. Tried this on many different browsers (also on private cart). On Pimcore demo "Show in tree" also doesn't

[2022-05-13 05:55] schmidt-travixmedia commented on #12039
In the meantime I have new findings: with a colleague and me it is exactly the other way around as with GitHub user "BentBr". In our local Docker environment (pimcore/pimcore:PHP8.0-apache) csv files with a file size larger than about 600 bytes get the type "unknown", below ~600 bytes "text". In the database table "assets", files over 600 bytes then have the value "application/csv" in column "mime

[2022-05-13 07:16] passioneight opened #12115 "Remove Pimcore\Log\Simple from docs"
### Improvement description

`Pimcore\Log\Simple` is marked as `@internal`, yet the documentation states that [one can use it for logging](https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/Logging.html#page_Writing-your-own-log-files):

![image](https://user-images.githubusercontent.com/57256630/168231096-cc8db225-4c68-438b-bb50-a2f0cdba2e19.png)

[2022-05-13 07:40] fszenborn commented on #10743
@dvesh3 I will update the documentation for the feature soon. I have been working on it already and I have also small fixes for issues with filtering that I observed during testing.

[2022-05-13 08:44] kingjia90 commented on #12051
@eciosk Thank you for the info! Knowing that, then I would say that is not directly related to the changes that i am aware of.

The demo problem(#12134) you mention is known and will be fixed ASAP.
In the meantime, it should work with the [Default ](https://demo.pimcore.com/admin/login?perspective=default)perspective, as the demo problem is only affecting the custom view in custom perspectives.  P

[2022-05-13 09:32] akno77 opened #12117 "[Bug]: getImageThumbnail doesn't work for documents (PDF etc.) if no thumbnail name is given but thumbnail config"
### Expected behavior

Calling Method pdfAsset.getImageThumbnail() in Twig with no thumnail name given, but thumbnail config retuns the PDF Thumbnail:

`{{ pdfAsset.getImageThumbnail({height: 290}) }}`

### Actual behavior

The return value is empty. This worked before one of the last updates....

### Steps to reproduce

Call getImageThumbnail on a PDF asset with thumbnail width/height config give

[2022-05-13 09:41] brusch commented on #12117
The processing is done in the background, please ensure your maintenance cron is running correctly.

[2022-05-13 11:14] BentBr commented on #12039
I can confirm @schmidt-travixmedia:

- With pimcore/pimcore:PHP8.0-apache it's not working locally
- With pimcore/pimcore:PHP8.1-fpm it is

On Production:
I found out it's only PHP8.0 which is not working here for some reason.
This is regular PHP with Apache Server.

-> **Fix:** Upgrade to php 8.1

[2022-05-13 12:11] akno77 commented on #12117
@brusch The cron/supervisor is setup and image thumbnails work. But only document thumbnails not...

[2022-05-13 12:12] akno77 commented on #12117
In the backend asset list the document thumbnails are generated

[2022-05-13 15:30] dvesh3 commented on #11247
When application tests are run without prefix `APP_ENV=test`, then `Bootstrap::prepareEnvVariables` loads the environment vars using default path `root/.env`, ignoring the the test env file defined in `codeception.dist.yml`. We can utilize the new config from https://github.com/pimcore/pimcore/pull/12099 to skip loading `.env` file in case of tests, so that the one in `codeception.dist.yml` is onl

[2022-05-16 06:58] fashxp commented on #11918
but isn't that also the case when applying a different master document?

[2022-05-16 07:10] #11752 closed, assigned to mcop1

[2022-05-16 08:10] mcop1 commented on #12039
As this seems to fix the problem I will close this issue for now. If there is anything new or anything to add, feel free to reopen it.
Best regards

[2022-05-16 08:10] #12039 closed, assigned to mcop1

[2022-05-16 08:30] dvesh3 commented on #11918
yes, that's a valid case. It causes problem with draft versions(autosave) only.

[2022-05-16 08:59] #12083 closed, assigned to nobody

[2022-05-16 10:10] andi-schlosser commented on #11917
We have exactly the same issue but instead of the image element we use the video element.
We using Pimcore 10.4.0 (but was also a problem with 10.3.x).

Reverting the changes from #11762 does not fix the issue.

When open an object the `\Pimcore\Bundle\AdminBundle\Controller\Admin\DataObject\DataObjectController::getAction` action gets called.
This function then tries to get the data for the objec

[2022-05-16 11:27] puecher opened #12129 "[Feature]: Search Documents: Search within Site"
### Feature description

Working with Sites it could be useful to add a dropdown near "All Types" like "All Sites" where you can search within a Site.

For example:

![grafik](https://user-images.githubusercontent.com/3795812/168582431-55e3c367-55fc-4bc1-a5ee-b6d119541add.png)

[2022-05-16 11:29] kingjia90 commented on #12051
I've tried on 10.3.2 and still cannot reproduce it.

Could you please click on the `Info` button (near Show in tree) and check the `path` there actually exists and is valid?

[2022-05-16 13:02] Warshoow opened #12131 "[Bug]: SimpleRestAPi - filter does not work"
### Expected behavior

Hi,
So, based on the documentation on the SimpleRestApi bundle, and the syntax provided here :

[Documentation SimpleRestApi filtering](https://pimcore.com/docs/data-hub-simple-rest/current/Filtering.html)
[Syntax for filtered request](https://restdb.io/docs/querying-with-the-api)

By making my request with a filter with my parameter on which I want to filter, I'm supposed t

[2022-05-16 19:13] kingjia90 commented on #12134
After a further look, It seems that in the Demo the custom view parameters saved in the setting store are in a sequential array, which skips this part that explode and flips the array because `is_array` is true
eg. `id:5`
[code]

https://github.com/pimcore/pimcore/blob/50bd9ade67fbd0f6a50975fb388e0dd8762150ab/lib/CustomView/Config.php#L91-L99
https://github.com/pimcore/pimcore/blob/50bd9ade67fbd0f

[2022-05-17 07:57] dvesh3 commented on #11918
Fixed by #12128

[2022-05-17 07:57] #11918 closed, assigned to dvesh3

[2022-05-17 11:36] #12134 closed, assigned to kingjia90

[2022-05-17 13:08] dvesh3 opened #12138 "[Bug]: User - not possible to update password anymore in Admin Interface"
### Expected behavior

User password should be updated

### Actual behavior

User password not updated

### Steps to reproduce

- Add new user or open existing user.
- Set new password
- Save User
- Use new password to login

[2022-05-17 13:09] dvesh3 commented on #12138
Regression of #11961

[2022-05-17 13:33] blankse commented on #12138
Should be already fixed in 10.4.1
See https://github.com/pimcore/pimcore/issues/12024 and https://github.com/pimcore/pimcore/pull/12026

[2022-05-17 14:10] dvesh3 commented on #12138
yes, you are right. thanks!

[2022-05-17 14:10] #12138 closed, assigned to nobody

[2022-05-18 01:32] mrpdean opened #12145 "[Bug]: SQL error when getting listing count while using addFieldCollection with setGroupBy"
### Expected behavior

The listing count would be returned without causing an SQL error

### Actual behavior

The following exception is thrown:

`SQLSTATE[42S21]: Column already exists: 1060 Duplicate column name 'o_id'`

### Steps to reproduce

Create a very simple listing query which uses both _addFieldCollection_ and _setGroupBy_ and then try to get the count.

[code]

Commenting out either th

[2022-05-18 01:41] #12145 closed, assigned to nobody

[2022-05-18 11:31] #11661 closed, assigned to kingjia90

[2022-05-18 13:34] fashxp commented on #12117
just tested it on the demo based on our docker images ... works for me.

[2022-05-18 13:34] #12117 closed, assigned to fashxp

[2022-05-18 13:35] fashxp commented on #12117
if problem still persists on your end, would be great if you can debug it further and provide more information or even a PR.

thx...

[2022-05-18 14:46] GAL-GC opened #12151 "[Bug]: Exception when going to navigation properties"
### Expected behavior

When creating or editing a document, I want to set navigation settings, for example the document language or exclude it from navigation.

### Actual behavior

It happened, that an exception occured, when I went to Navigation & properties tab.

[code]

### Steps to reproduce

Unfortunately it doesn't seem to happen every time, but it occured already a few times, when I create

[2022-05-18 14:49] GAL-GC opened #12152 "[Bug]: Method call not properly checked on DAO Listing"
### Expected behavior

If I use editables or dataobjects and edit them, there should be no uncaught exception.

### Actual behavior

I got this error:

[code]

### Steps to reproduce

Unfortunately I couldn't find out, when this happend, but when this happens, the only way to get rid of it, is to restore the database.

[2022-05-18 15:36] dvesh3 commented on #11917
@simonkey @andi-schlosser please try this PR https://github.com/pimcore/pimcore/pull/12153 if it fixes the issue for you. thanks!

[2022-05-18 16:11] andi-schlosser commented on #11917
@dvesh3 Yes, this PR fixes the issue. Thank you very much!

[2022-05-19 04:54] olifrieda opened #12160 "[Bug]: new static() in abstract class"
### Expected behavior

`$printDocument = Document\PrintAbstract::getById((int) $request->get('id'));` ends up with a valid object assigned.

### Actual behavior

Status check for PDF generate returns an error.

### Steps to reproduce

Generate a PDF using the web2print default controller. The process will be started but the status check returns an error at the end, that it is not possible to insta

[2022-05-19 05:39] blankse commented on #12160
@olifrieda Is fixed in https://github.com/pimcore/pimcore/pull/12104

[2022-05-19 05:52] olifrieda commented on #12160
@blankse ... but not released yet. So it is still there. Thank you for reporting.

[2022-05-19 07:40] dvesh3 commented on #12160
Fixed by #12104

[2022-05-19 07:40] #12160 closed, assigned to nobody

[2022-05-19 07:51] #6782 closed

[2022-05-19 08:40] HeicoSindelItShapes opened #15552 "[Bug]: Changes after prod deployment not possible (save=disabled)"
### Expected behavior

The Data-Importer-Jobs are defined in our Test-Env (env=dev).
After "deploy" the project to prod (repo-update) the configuration should be able to change (at least to change some relations)

### Actual behavior

after the deployment the job, which are created in Test-System are listed and could be opened and i can edit the fields but i can not save them because the "save"-Bu

[2022-05-19 09:24] kingjia90 opened #12165 "[Bug]: Loading problem, potentially FOSjJsRouting"
### Discussed in https://github.com/pimcore/pimcore/discussions/12122

<div type='discussions-op-text'>

<sup>Originally posted by **Hbitvof** May 15, 2022</sup>
Hi,

I have a strange issue that occured after updating from 6.9 to 10.x. Every day when first starting Pimcore the site is not loading, after refreshing Pimcore is loading.

The first time I get these errors:

![image](https://user-image

[2022-05-19 09:26] kingjia90 commented on #12165
I am also facing this problem, it would be gone by just reloading again, so i have no idea on how to reproduce it but it seem happening on the first time loading the page.

![image](https://user-images.githubusercontent.com/6014195/169260841-45f8c276-1280-469d-a1ac-d081f0f12190.png)

[2022-05-19 09:51] kingjia90 commented on #12165
I was able to reproduce the same JS error by making `expose` to false, https://github.com/pimcore/pimcore/blob/01e01e6da5cf9baf910a7832e930dec941a4253f/bundles/AdminBundle/Resources/config/pimcore/routing.yaml#L34

so my first guess would be that there' some problem loading the routing.yaml only under certain "first time loading" circumstances where the cache is not warmed up

[2022-05-19 09:51] ARY112 commented on #9173
@iibs, What change u made exactly in composer.
I am facing the same issue after upgrading to version 10.
In Pimcore version 6.9 ,my bundles were in src folder and in composer autoload  "": ["src/"], was used so all bundles were getting registered  without any issue and respective services from were running .

After migration to Pimcore 10 , my bundles are not registered bcz of composer autoload ch

[2022-05-19 10:00] mcop1 commented on #12086
@GAL-GC sorry, I am not able to reproduce the issue. I created 3 thumbnail configurations (cover, grayscale, scalebyheight) and called getThumbNail for each of them in a controller action:

[code]

This returns the following:
![image](https://user-images.githubusercontent.com/89011527/169267367-a18571bf-7bdb-40c7-88bb-9b5c388bd53a.png)

When I open one of the urls the corresponding thumbnail gets

[2022-05-19 11:35] fashxp commented on #15552
related to https://pimcore.com/docs/pimcore/current/Development_Documentation/Deployment/Configuration_Environments.html

once a configuration is configured in yaml file, it cannot be updated in production environment.

[2022-05-19 11:37] dmaerzendorfer opened #12166 "[Bug]: Admin cannot delete Translation Key"
### Expected behavior

A user with admin privileges can do everything. Including deleting Translation Keys.

### Actual behavior

A user with admin privileges is not able to delete Translation Keys.

### Steps to reproduce

https://user-images.githubusercontent.com/19265816/169284186-cd647742-17d9-4e1a-bc81-5f076b274092.mp4

If a user has a role assigned which limits the access to the shared trans

[2022-05-19 11:50] HeicoSindelItShapes commented on #15552
that means i have to change for this case the PIMCORE_WRITE_TARGET_DATA_HUB from "settings-store" to "symfony-config"?

[2022-05-19 11:58] HeicoSindelItShapes commented on #15552
but at the end is explained that if i want to allow changes in Prod i have to set the TARGET... to settings-store.
is there maybe for the data-importer a revalidation-command what i could execute as it is mentioned for the thumbnail-example
or could you provide a config, what i can use for creating jobs on non-prod, deploy them to prod and edit them there

[2022-05-19 12:27] mcop1 commented on #12101
I would suggest the following:

1.) Add a new method `Classdefinition\Dao::getNameByIdIgnoreCase()`, which executes the corresponding SQL statement with table and id in lower case.
2.) Add a new method `ClassDefinition::getNameByIdIgnoreCase()`, which calls the method mentioned in 1.). But this method **won´t** add the ClassDefinition to the runtime cache.
3.) Substitute `ClassDefinition::getNameB

[2022-05-19 13:51] dkarlovi opened #12168 "[Bug]: Localizedfield DAO improperly checks the DBMS error message"
### Expected behavior

The missing table is properly detected, for example by inspecting the error code provided by MySQL.

### Actual behavior

When using the Localizedfield DAO, it will check for the error message, if it contains the string `exist`, it will assume that means the table doesn't exists and try to create it, possibly creating another error (because the table actually exists).

https

[2022-05-19 14:40] jdreesen commented on #8917
Maybe you should remove those `Resolves #8917` from the PR's ;)

[2022-05-19 15:43] dvesh3 commented on #12082
Fixed by #12148

[2022-05-19 15:43] #12082 closed, assigned to dvesh3

[2022-05-19 16:17] aashan10 commented on #8917
@jdreesen I had no idea merging the prs would close the issue 😆 Will stop using that now

[2022-05-19 18:47] aashan10 commented on #8917
- moving methods related to `getChildren`, `setChildren`, `hasChildren`, `getSiblings` and `hasSiblings` will cause breaking changes because of different number of parameters in method signature within `AbstractObject` and `Document`/`Asset` classes
- moving `getChildrenSortBy` and `setChildrenSortBy` doesn't seem logical since these methods are not present in `Asset` and `Document` classes
- movi

[2022-05-20 07:36] simonkey commented on #11917
@dvesh3 Could also confirm, that the PR the issue fixes. Thanks :)

[2022-05-20 09:16] breakone opened #12174 "[Bug]: Backend DataObject and Asset Export with multiple Pods (Kubernetes)"
### Expected behavior

Use File Storage for exports of [DataObjects](https://github.com/pimcore/pimcore/blob/10.x/bundles/AdminBundle/Controller/Admin/DataObject/DataObjectHelperController.php) and [Assets](https://github.com/pimcore/pimcore/blob/10.x/bundles/AdminBundle/Controller/Admin/Asset/AssetHelperController.php) via backend grid view to get a **full** export of a list.

### Actual behavior

[2022-05-20 10:12] PGBrandi opened #12176 "[Bug]: Disable unsaved content warning no working"
### Expected behavior

When the box is not checked it should alert the user if there are not saved changes when closing the tab.

### Actual behavior

It just saves the content and closes the tab.

### Steps to reproduce

- Uncheck "Disable unsaved content warning"
- Save user
- Change something in a document
- Close the tab without saving
- It just saves the content without asking first
![image](

[2022-05-20 10:50] dvesh3 commented on #12176
It happens because you have [Auto Save](https://pimcore.com/docs/pimcore/current/Development_Documentation/Tools_and_Features/Auto_Save_Drafts.html) enabled, which saves the draft data on close.

[2022-05-20 11:02] aryaantony92 commented on #12107
Fixed by #12169

[2022-05-20 11:02] #12107 closed, assigned to aryaantony92

[2022-05-20 11:07] PGBrandi commented on #12176
Makes absolutely sense. Would be nice if the correlation between these two settings could be found on the documentation page you linked. Would prevent some confusion in the future. Anyway, thanks for the clarification. :)

[2022-05-20 15:03] antonio-masotti commented on #12166
I don't quite get the problem:

- your user is not an admin as the title here suggests
- if the user has permissions over the translations, he can (at least in Pimcore 10.4.1 where I tested) delete the translations. This user is not an admin for example but has the permission to modify the translations:

![image](https://user-images.githubusercontent.com/91308510/169556201-3254e36b-3369-4231-8be8-

[2022-05-21 08:34] Hbitvof commented on #6918
This problem is still not fixed. We run the latest version of Pimcore and still the same problem when scrolling down:

![image](https://user-images.githubusercontent.com/41229269/169643312-b7a774fa-864e-4e6d-bca1-acc4aa2933c3.png)

[2022-05-21 08:35] Hbitvof opened #12181 "[Bug]: Grid rows not equal in Grid View"
### Expected behavior

See https://github.com/pimcore/pimcore/issues/6918

### Actual behavior

See https://github.com/pimcore/pimcore/issues/6918

### Steps to reproduce

See https://github.com/pimcore/pimcore/issues/6918

[2022-05-22 09:43] passioneight commented on #12151
I can confirm this behaviour. For me, it was independent of any properties. After a language was set for the document, the error disappeared.

### Steps to reproduce
1. Open the `Home` (i.e., Document with ID 1)
2. Try saving.

[2022-05-23 06:18] dmaerzendorfer commented on #12166
Yes, at first the user was not an admin.

I just gave him permissions to view German and English translations. This worked as intended, his view was limited and he could not delete any keys.

However, afterwards I gave the user admin privileges. Then the "shared Translations" Section in the user-settings also vanished (since its not needed, he sees everything anyway?). On logging in with the now a

[2022-05-23 09:07] Hbitvof opened #12184 "[Bug]: Filter is missing on Published column in Grid view"
### Expected behavior

In Pimcore 6.x it was possible to filter on published state, in Pimcore 10.x this filter is missing.

### Actual behavior

Filter is missing

### Steps to reproduce

Compare version 6.x with version 10.x

[2022-05-23 09:11] dvesh3 commented on #12184
Sorry, not a valid issue.
![image](https://user-images.githubusercontent.com/5137917/169785489-be6939fc-ff88-401d-9f84-d52def785c50.png)

[2022-05-23 09:11] #12184 closed, assigned to nobody

[2022-05-23 09:17] Hbitvof commented on #12184
Maybe this is related to migrating 6.x to 10.x? I don't have the filter option for this column:

![image](https://user-images.githubusercontent.com/41229269/169786703-e862fa5f-7eb1-4786-9be0-0a46667d6c40.png)

And I do have the filter for other column:

![image](https://user-images.githubusercontent.com/41229269/169786846-9b47dc6d-8146-4d9a-85e8-91d8e188b276.png)

[2022-05-23 09:23] akno77 commented on #12117
@fashxp Did you test it with explizit height property?

`{{ pdfAsset.getImageThumbnail({height: 290}) }}`

This doesn't work for me. If I pass a Thumbnail Config name it works.

[2022-05-23 09:24] dvesh3 commented on #12184
@Hbitvof It is not a migration issue. In your case, the published column is **locked**, so the filtering is disabled by ExtJS.

[2022-05-23 09:27] Hbitvof commented on #12184
You are right when the column is unlocked the filter is back. This behaviour was different in 6.x, for this reason I thought this was a bug, my apologies.

[2022-05-23 09:38] mysliwietzflorian opened #12185 "[Improvement]: Generate return types for setters in data objects"
### Improvement description

We noticed, that the return type in the generated setter methods of the data objects is missing. Is this on purpose?
Otherwise, I would suggest adding that, if it's possible and does not create any problems with the class overrides.
(e.g.: `public function setSeries(?string $series): self {...}`)

Example of the current state (from the Pimcore demo):

[code]

[2022-05-23 10:01] fashxp commented on #12185
this is a Pimcore 11 thing... would be a BC break

[2022-05-23 11:42] fashxp commented on #11687
closed due to inactivity. please come back, if they still occur with more insights. thx.

[2022-05-23 11:42] #11687 closed, assigned to aryaantony92

[2022-05-23 12:10] tacman opened #12187 "[Feature]: Support latest Doctrine packages"
### Feature description

It's not possible to install this in a new Symfony project using the default installation (for Symfony), because by default Symfony uses the latest doctrine packages.

I think this is as simple as allowing doctrine/dbal: ^2||^3, and the same for doctrine/persistence.

To reproduce:

[code]

[code]

[2022-05-23 12:13] fashxp commented on #12152
can you please share a bit more information to reproduce it?
like what classes, what attributes? etc.?

[2022-05-23 13:09] fashxp commented on #12187
duplicate https://github.com/pimcore/pimcore/issues/10613

[2022-05-23 13:09] #12187 closed, assigned to nobody

[2022-05-23 13:29] blankse commented on #12168
@dkarlovi I created a PR: https://github.com/pimcore/pimcore/pull/12188
Can you test it?

[2022-05-23 15:14] kingjia90 commented on #12051
@eciosk Just a kind reminder, do you have any updates on this? In case, you can also use the [demo.pimcore.fun ](https://demo.pimcore.fun/admin) (user/pass are ~both `admin`~  `admin` /`demo`), it's working there as the problem you also mentioned in the custom views is in progress and affects only `.com` Enterprise one.

[2022-05-24 06:10] RuudvdvNB commented on #11660
This also happens when using Router to generate the URL in PHP so it's not only an issue in Twig. The following generate works fine when a document is published, but when a document is unpublished it returns the same error.

[code]

I tried following the generate method, looks like it happens this happens in `\Pimcore\Routing\Dynamic\DocumentRouteHandler::handleDirectRouteDocument`. There is a val