[2021-08-17 15:22] weisswurstkanone commented on #9058
Fixed the db dump for the demo instance.

[2021-08-17 15:22] #9058 closed

[2021-08-17 17:42] nosovk commented on #9976
https://github.com/pimcore/skeleton/blob/10.x/docker-compose.yml
but yes, official image depends on apach, not nginx.

[2021-08-18 08:30] kumar2112 opened #10064 "[Bug]: Pimcore X Bug"
### Expected behavior

Should Take On Login Page

### Actual behavior

![image](https://user-images.githubusercontent.com/12470739/129865815-df46ff0f-2ef4-470d-b84f-c7d1a598c9ef.png)

### Steps to reproduce

Steps
1. Execute the command "COMPOSER_MEMORY_LIMIT=-1 composer update"
2. Browse the login page in browser throwing below error.

`Symfony\Component\Translation\MessageCatalogue::addCatalogue

[2021-08-18 08:32] kumar2112 commented on #10064
If i am trying to rebuild the classes it shows.

![image](https://user-images.githubusercontent.com/12470739/129865684-acdb19a4-dde5-4c4f-8320-a90ae30fcd21.png)

[2021-08-18 09:08] brusch commented on #10064
@kumar2112 This seems to be specific to your setup -> moving it over to Discussions ...

[2021-08-18 09:08] #10064 closed, assigned to nobody

[2021-08-18 15:07] akno77 opened #10077 "[Bug]: v10.0.9 => v10.1.0: Asset:getById Exception (data cache problem)"
### Expected behavior

`pimcore/lib/Cache/Core/CoreCacheHandler::load()` returns object

### Actual behavior

`pimcore/lib/Cache/Core/CoreCacheHandler::load()` returns string:

`O:26:"Pimcore\Model\Asset\Folder":20:{s:7:"*type";s:6:"folder";s:5:"*id";i:1;s:11:"*parentId";i:0;s:11:"*filename";s:0:"";s:7:"*path";s:1:"/";s:11:"*mimetype";N;s:15:"*creationDate";i:1608725592;s:19:"*modificationDate";i:

[2021-08-18 15:08] akno77 commented on #10077
See also my initial discussion post: #10075

[2021-08-18 15:35] brusch commented on #10077
Obviously there's a step missing in the upgrade guide, just added it in #10078

[2021-08-18 15:35] #10077 closed, assigned to nobody

[2021-08-18 16:07] akno77 commented on #10077
@brusch I alreday cleared all caches multiple times with the same result. Are you sure the missing `$data = unserialize($data);` is correct?

[2021-08-18 17:16] brusch commented on #10077
@akno77 yes, because serialization is now completely handled by Symfony Cache, see #9227 (both serialize() and unserialize() we're removed).

[2021-08-18 19:42] akno77 commented on #10077
@brusch It is very strange... If I clear "All Caches (Symfony + Data)" via the CMS and reload the CMS I get the Exception. If I clea the cache and call the URL which causes the Exception (http://localhost/admin/asset/tree-get-root?_dc=1629292560809&id=1&view=&elementType=asset) I get the correct JSON response. And If I reload the CMS afterwards everything works correct.

If I then again clear  "Al

[2021-08-18 23:56] akno77 commented on #9991
I have a similar problem under Pimcore 10.1.1 (10.0.9 works correct):

1. I have a Data Object Class `Article `with an options provider Class (`DropdownMultiSelectOptionsProvider`) which uses another Data Object Class `Dropdown`
2. If I run the command `pimcore:deployment:classes-rebuild -c -vv` it fails for the `Article` Class with:

[code]
It is a fatal error and no other classes are rebuild aft

[2021-08-19 07:23] akno77 commented on #10077
@brusch I think it has sth. do with our infrastructure and shared db between dev/int server. I couldn't verify it final because I got to another problem when deployen to the int server which is similar to the #9991 bug...

[2021-08-19 07:57] brusch commented on #10077
@akno77 ok, thanks for the feedback - I'd suggest to not use the default doctrine caching adapter, but redis instead 😉

[2021-08-19 08:55] elements-team opened #10083 "[Bug]: template engine bundle man kann bei $this->inc keine params mitgeben"
### Expected behavior

$this->inc( $page->getCustomSetting('subnavSnippet')->getId(), [ 'pages' => $page ] )

### Actual behavior

Fehler in der Navigation:

$this->inc( $page->getCustomSetting('subnavSnippet')->getId(), [ 'pages' => $page ] )

man kann bei $this->inc keine params mitgeben (also pages wird nicht in das include snippet übergeben)

Wurde durch die template engine bundle ausgelöst.

[2021-08-19 08:56] fashxp commented on #10083
please create issues in english

[2021-08-19 09:44] elements-team opened #10086 "[Bug]: SVG image blurred"
### Expected behavior

SVG image thumbs are sharp

### Actual behavior

SVG image thumbnails are all blurred.

### Steps to reproduce

Go to pimcore Demo:
https://demo.pimcore.com/admin/login/deeplink?document_151_page

Go to the snippet:
https://demo.pimcore.com/admin/login/deeplink?document_166_snippet
and change the image (need to override) to this svg: https://demo.pimcore.com/admin/login/deep

[2021-08-19 11:17] weisswurstkanone opened #10089 "Width issue with multiselect field"
### Expected behavior

Width of class definition should be respected.

### Actual behavior

Width setting gets ignored.

### Steps to reproduce

- Create new class with select and multiselect field
- Set width to something arbitrary on both of the fields
- Create a new object
- Width gets respected for the select but not for the multiselect

Codewise it looks fine but maybe a 3rd party issue?

May

[2021-08-19 11:20] weisswurstkanone commented on #10089
@blankse could you please have a look ? 🙇

[2021-08-19 14:45] fashxp opened #10093 "[Improvement]: Align workflow marking store configuration with symfony"
### Improvement description

followup of https://github.com/pimcore/pimcore/issues/9525 and https://github.com/pimcore/pimcore/pull/10092

check if we can align marking store configuration more with symfony again
see also https://github.com/symfony/symfony/blob/5.4/UPGRADE-5.0.md#workflow

[2021-08-20 07:02] blankse commented on #10089
@weisswurstkanone Yes the MultiSelect has always the width of the longest value. The width is only for the component around it. This behavior was also before #6899
Maybe a other option can be set? (e. g. columnWidth?)
https://docs.sencha.com/extjs/7.4.0/classic/Ext.ux.form.MultiSelect.html

[2021-08-20 07:39] fashxp opened #10100 "[Discussion][Improvement]: Global switch for storage location of configurations"
### Improvement description

followup to https://github.com/pimcore/pimcore/pull/9882

Right now, storage location can be defined via env-variables for each setting separately (e.g. `PIMCORE_WRITE_TARGET_IMAGE_THUMBNAILS=settings-store`).
It might be useful, to have an additional global configuration (e.g. `PIMCORE_WRITE_TARGET=settings-store`) which can be overwritten with the specific ones.

Use

[2021-08-20 07:42] fashxp opened #10102 "[Improvement]: Don't mark PimcoreLocationAwareConfigDao as internal"
### Improvement description

...as it also should be possible for bundles to use it

[2021-08-20 08:25] brusch commented on #9330
This also fixes #6987

[2021-08-20 08:29] brusch commented on #9860
Duplicates #2914 ( a bit more generic approach that would solve your case as well).
A PR fixing #2914 would be welcome 😊

[2021-08-20 08:29] #9860 closed, assigned to nobody

[2021-08-20 08:47] weisswurstkanone commented on #10089
Hello @blankse , After reading the docs I doubt that columnWidth would work.

Would it make sense to investigate this further by diving into the Ext code ? From the config options I don't see a real difference compared to the dropdown.

Btw, just one observation: This is from 6.9 😄

![image](https://user-images.githubusercontent.com/6142086/130206996-e70e7823-360a-4af7-9080-8738c4865d2b.png)

[2021-08-20 10:02] blankse commented on #10089
@weisswurstkanone I created an PR.
The multiselect seems to have problems with css width.
So it is related to #6899  😄

[2021-08-20 11:19] valentin- opened #10109 "[Bug]: Error saving brick with cropped image: __clone method called on non-object"
### Expected behavior

Use "select specific area of image" using image editable and save it.

### Actual behavior

When saving the document an error appears.

`__clone method called on non-object
Server threw exception - could not perform action. Please reload the admin interface and try again.`

![image](https://user-images.githubusercontent.com/90033/130225018-14eface3-2ec7-41c9-8ae6-8ebc64a55bb

[2021-08-23 04:09] dvesh3 commented on #10050
Fixed by #10053

[2021-08-23 04:09] #10050 closed, assigned to nobody

[2021-08-23 07:15] dvesh3 commented on #10083
please create an issue on repo https://github.com/pimcore/php-templating-engine-bundle in English. thanks!

[2021-08-23 07:15] #10083 closed, assigned to nobody

[2021-08-23 08:07] Wael-Hamdan opened #10117 "[Bug]: Slow asset creation using Datahub or 500 internal server error"
### Expected behavior

Create asset in a reasonable time.

### Actual behavior

Asset creation using Datahub takes 4s instead of a few milliseconds when using drag and drop of asset to upload asset in Pimcore directly.

Sometimes, the asset creation in Datahub fails and a 500 internal error message is received.

### Steps to reproduce

Convert image to bytes and encode it to base64 then send a mut

[2021-08-23 08:08] Wael-Hamdan commented on #10117
Hi,
Maybe datahub is not adapted to upsert GBs of high quality images to pimcore. Is there any other alternative to datahub for this usecase ?

[2021-08-23 08:09] #10117 closed, assigned to nobody

[2021-08-23 10:18] weisswurstkanone commented on #10089
fixed via #10107

[2021-08-23 10:18] #10089 closed, assigned to nobody

[2021-08-23 12:28] weisswurstkanone commented on #10120
Hello @RandomIAm Not sure how copying content is anyhow GraphQL related. I woill move this to a discussion now. Maybe you find some time to investigate this further.

[2021-08-23 12:28] #10120 closed

[2021-08-23 12:36] weisswurstkanone commented on #8131
@emanmagni , for
a) yes there is a reason because the way how the data gets persisted is completely different
b) for the regex I do not really see a reason as far as I can remember

Do you  wanna create a PR for b) ?

[2021-08-23 12:50] weisswurstkanone commented on #8159
Already fixed via https://github.com/pimcore/pimcore/issues/9865

[2021-08-23 12:50] #8159 closed

[2021-08-23 12:56] emanmagni commented on #8131
@weisswurstkanone Did you mean to tag the OP? @emimontesdeoca

[2021-08-23 13:23] weisswurstkanone commented on #8131
I meant to bring the regex back to life for classification store.

[2021-08-23 13:48] simonkey opened #10123 "[Bug]: Image thumbnail media queries not working / overwritten"
### Expected behavior

Define a media in the backend e.g. `(min-width: 576px)` and the output in the frontend should be `(min-width: 576px)`.

### Actual behavior

On the first save the media query is saved as expected. In the frontend and after a reload / re-open of the config in the backend the media query string is changed. The dash (`-`) is replaced by an underscore. So the correct media query

[2021-08-23 14:26] #10123 closed, assigned to nobody

[2021-08-23 14:37] brusch commented on #10005
Fix is already in #10116 (was not merged because because it's a breaking change - keeping it open wouldn't work because of the target branch).

[2021-08-23 15:23] NiklasBr commented on #10005
I think this is incorrect reasoning @brusch. It's not prudent to use semver as a kind of shield just to avoid fixing a bug which introduced incorrect behaviour. By their very nature *all bugfixes* changes behaviour, otherwise nothing can be fixed. Especially as the unfixed behaviour has security implications which should not be left unfixed.

[2021-08-23 15:30] brusch commented on #10005
Well, if this change would break the setup of an important client of you where then confidential data get's exposed, you'd probably see it different 😉
The thing is ... even if we classify it as a bug, it has been always there and was not introduced with new functionality or bug fixes, so someone might rely on that behavior.

Personally I don't care 🤷‍♂️ - semver (or in general safe upgrades) was r

[2021-08-23 15:48] NiklasBr commented on #10005
SemVer *specifically* provides means to make fixes to incorrectly implemented API:s, so I don't see why that is an issue to begin with. The *current, unfixed* bug is probably classified as `Medium4 - 6.95.2 CVSS:3.0/AV:L/AC:L/PR:L/UI:N/S:C/C:L/I:N/A:L` from what I can tell in the report.

[2021-08-23 17:31] brusch commented on #10005
Yep, I know,  that's why I wrote "safe upgrades" 😉 From a Semver point of view, this fix is probably fine.

As I said, I personally don't mind, but I'm also aware of the past and that told me a different story 😉

Please feel free to continue the discussion,  if the majority of the community thinks this patch is fine, I'm also fine with that (but don't blame it on the Pimcore crew later on 😉).

[2021-08-24 04:54] dvesh3 commented on #10109
sorry, not able to reproduce it with image advanced type.

[2021-08-24 06:09] dpfaffenbauer commented on #10005
I would be careful with such changes. It might just be a small bug-fix, but it definitely is one you would oversee on upgrades. maybe some sort of feature switch or configuration might solve it.

[2021-08-24 06:29] NiklasBr commented on #10005
@brusch I will wrap up more info the security issues with the current solution before I go any further (will send an email), and as a tangent, things like this would be *so much* easier to have a discussion about if the intended behaviour was documented.

[2021-08-24 09:38] tecbird opened #10131 "[Bug]: Pimcore 10.1.x - Grid loses focus after row cell editing"
### Expected behavior

After editing a row in a grid, with real store changes, the row should not loses its focus.
So after doing store change the keyboard up/down navigation on grid is working as expected to select next row for editing

### Actual behavior

Currently after a cell in a row was changed, the focus is lost and keyboard up/down navigation is not working anymore.

### Steps to reproduc

[2021-08-25 04:35] dvesh3 opened #10137 "Custom Views breaking after update 6.9.6"
### Discussed in https://github.com/pimcore/pimcore/discussions/10136

<div type='discussions-op-text'>

<sup>Originally posted by **justbane** August 25, 2021</sup>
Hello,

We recently updated a client site v6.9.6 of Pimcore. All went fime except for a strange DB error we get when anyone uses some customviews we have in a Perspective.

Here is the error that happens on login when loading the pers

[2021-08-25 04:35] dvesh3 commented on #10137
Reproducible on latest version 10.1.1

[2021-08-25 08:37] brusch commented on #9525
Fixed by #10092

[2021-08-25 08:37] #9525 closed, assigned to nobody

[2021-08-25 09:17] brusch commented on #10137
Fixed by #10138

[2021-08-25 09:17] #10137 closed, assigned to nobody

[2021-08-25 09:31] brusch commented on #10102
Fixed by #10139

[2021-08-25 09:31] #10102 closed, assigned to nobody

[2021-08-25 09:53] brusch commented on #10017
@mackrais can you reproduce this behavior using latest version of 10 as well? Thanks for your feedback!

[2021-08-25 09:55] brusch commented on #9991
@roland4432 @akno77 can maybe someone provide a PR for that? Thanks a lot in advance!

[2021-08-25 09:57] brusch commented on #9980
@shaselboeck @Blackbam can maybe someone who experiences the issue have a look into it? Thanks a lot!

[2021-08-25 10:00] brusch commented on #9956
Closed due to inactivity. Please feel free to continue the discussion or provide the missing information on this issue, we'll then reopen it if necessary. Thanks a lot!

[2021-08-25 10:00] #9956 closed, assigned to nobody

[2021-08-25 10:01] brusch commented on #9951
Closed due to inactivity. Please feel free to continue the discussion or provide the missing information on this issue, we'll then reopen it if necessary. Thanks a lot!

[2021-08-25 10:01] #9951 closed, assigned to nobody

[2021-08-25 10:03] brusch commented on #9949
@Fahl-Design Thanks for sharing your ideas, however I'd rather prefer decompressing all versions in preparation of the upgrade.

[2021-08-25 10:07] #10109 closed, assigned to nobody

[2021-08-25 10:11] roland4432 commented on #9991
@brusch Can do sir. Would you be fine with just reordering the build mechanism to create all Listings first and then the DataObjects? Might already do the trick

[2021-08-25 10:13] brusch commented on #9991
@roland4432 yep, let's try that first! Thanks!

[2021-08-25 10:19] Blackbam commented on #9980
Will soon try to do the update again and try to provide more details.

[2021-08-25 10:23] brusch commented on #9949
Documented by #10149

[2021-08-25 10:23] #9949 closed, assigned to nobody

[2021-08-25 12:21] EqualString commented on #10005
@brusch I think that the @dpfaffenbauer solution with configuration could work just fine. What if we leave default behavior as it is, but we make an optional config.yaml param which "turns" @dturopoli  #10116 fix on?

[2021-08-25 12:24] brusch commented on #10005
@EqualString would be fine for me. Additionally I'd trigger a deprecation message in case the old behavior get's triggered (incl. upgrade note in docs).

[2021-08-25 13:32] mediafant opened #10152 "[Bug]: Video Vimeo and Dailymotion not work"
### Expected behavior

At Video-Output from Object Youtube works, but vimeo and dailymotion-ids produce an error

On the demopage at
 https://demo.pimcore.com/admin/login/deeplink?object_1121_object
i insert vimeolink, but the whole eventpages didn't work at:
https://demo.pimcore.com/en/Events

Also the documentation:
https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Objec

[2021-08-25 13:44] brusch commented on #10152
@mediafant Thanks for reporting the issue - since we're quite busy and you have already debugged the issue, would it be possible for you to provide us the fixes as a PR? Thanks a lot!

[2021-08-26 07:55] passioneight opened #10160 "[Improvement]: Consistently use transactional queries"
### Improvement description

Transactional queries are **not** used consistently.

For example, when looking at the following method you'll find that there is a `insert` statement, but not as a transactional query - yet, there are 2 `update` queries **as** transactional queries:
https://github.com/pimcore/pimcore/blob/7efe8331d012641a6aca0e500bd280e0363d01bf/bundles/EcommerceFrameworkBundle/IndexS

[2021-08-26 10:16] Blackbam opened #10164 "[Improvement]: Read-only fields for the Advanced Many-to-Many object relation which can only be edited via PHP API (not users)"
### Improvement description

With advanced Many-to-Many object relations we have certain use cases where it would be useful to have read-only fields. This is currently not possible (it can be implemented with EventListeners but this is quite cumbersome). I guess this improvement would be quite easy to implement.

![many-to-many-sample](https://user-images.githubusercontent.com/1703552/130945052-45

[2021-08-26 11:47] passioneight commented on #10160
This one also seems to be a candidate for change:

https://github.com/pimcore/pimcore/blob/c94cc8c3f359c46b9b7df9e7b741866162e06efd/models/DataObject/ClassDefinition/Data/Relations/AbstractRelations.php#L120-L131

[2021-08-27 06:16] EqualString commented on #10005
@brusch new fix is applied here #10163 , can you check it? Also, what exactly do you mean by "triggering deprecation message" since "new" (fixed) slug behaviour can be switched on by configuration in .yaml, while we left "old" behaviour by default?

[2021-08-27 07:22] roland4432 commented on #9991
Hello @brusch,

there is a very simple solution, that I could offer, but wanna talk about that first.
When saving classes from definition files, the method _preSave_ will be called when a multiselect field is filled via optionProvider.

IMHO this is not necessary, when creating the the classes via console command.
So.. the easiest and fastest solution (but maybe not your preferred one) could look

[2021-08-27 07:59] brusch commented on #10005
@EqualString Thanks a lot!
I'd change the default behavior with the next major release and remove the config switch again. So for that we'd need to trigger a deprecation message in case you're accessing the "old" behavior, so that someone gets aware of the upcoming change in Pimcore 11. Can you please add that to  #10163  Thanks a lot!

[2021-08-27 08:30] brusch commented on #9991
I'm afraid that this has the potential to break other things, because it could be also a different command running on CLI doing a class definition save.
I think we need to tackle this in the data-type class somehow.

[2021-08-27 08:32] roland4432 commented on #9991
Alrighty then. I would stick to the original plan and change the order of the building process.
I'll keep you updated :)

[2021-08-27 09:04] matthiashamacher opened #10179 "[Bug]: Object Bricks default value generator not working"
### Expected behavior

In Objects Bricks, there is the possibility to set a default value generator for input fields. That generator should generate a new default value when an object brick is added.

### Actual behavior

The default value is not generated and the field is empty. Even saving and reloading is not possible as then it is an update action and no default value will be generated.

### S

[2021-08-27 09:37] weisswurstkanone opened #10180 "Configuration Improvements - add writeable checks"
### Improvement description

follow-up for #9330

isWriteable should also be checked on the server-side.

Needs discussion first on which level this should be done
- controller
- API

[2021-08-27 10:01] EqualString commented on #10005
@brusch Deprecation message added to #10163, can you check it now?

[2021-08-27 16:08] kumar2112 opened #10187 "[Feature]: Add multiple record in one save"
### Feature description

I am writing a csv import bundle . Here i  have to save record one by one is there any way so can inserrt/multiple record in one save

[2021-08-30 05:26] dvesh3 commented on #10152
@mediafant the page you are referring to specifically uses Youtube example **https://github.com/pimcore/demo/blob/beb4a68c76351f17a6f048b30f71899da66be0a3/templates/default/events.html.twig#L94.** could you please share a generic reproducible scenario? thanks!

[2021-08-30 05:32] #10187 closed, assigned to nobody

[2021-08-30 08:28] roland4432 commented on #9991
See  #10192 for a better way to handle this, than just reordering stuff and make more loop actions

[2021-08-30 13:40] BlackbitDevs opened #10195 "LTS repository sync error after every commit"
### Expected behavior

No message sent

### Actual behavior

After every commit to a repo which is base for a pull request I get an email "LTS repository sync: All jobs have failed", see e.g. https://github.com/BlackbitNeueMedien/pimcore/actions/runs/1182365113

### Steps to reproduce

Create PR, commit something to the source branch.

[2021-08-31 05:41] #8446 closed

[2021-08-31 07:34] dvesh3 opened #10205 "Save and close not working in pimcore 10"
### Discussed in https://github.com/pimcore/pimcore/discussions/10204

<div type='discussions-op-text'>

<sup>Originally posted by **shubhangi92** August 31, 2021</sup>
Hi ,

I am getting js error in pimcore 10 for save and close.

Thanks
Shubhangi</div>

[2021-08-31 08:07] brusch commented on #10195
a342c8d5b7bc18e4a63a92c9e6cd18d1fa1aa826 should fix the behavior 😊

[2021-08-31 08:08] #10195 closed, assigned to brusch

[2021-08-31 09:05] jeykodev commented on #7337
We have the exact same problem in 6.8.4 and it seems, that it is still present in the latest Pimcore X Version. We traced down the issue to this line:

https://github.com/pimcore/pimcore/blob/6ce64f4ada34bbcc27e0aba4a7677100e0048e46/lib/Translation/Escaper/Xliff12Escaper.php#L119

Is `asXML()` really necessary? As already mentioned [here](https://www.php.net/manual/en/simplexmlelement.asxml.php#11

[2021-08-31 15:25] MyZik opened #10208 "[Bug]: Custom Report filter takes a wrong field by JOIN's"
### Expected behavior

Custom Report should filter the data and take the field from query field correctly.

### Actual behavior

Actually I have created on the demo project a Custom Report that will show me all cars with their manufacturers. As you see, I have a `name` field in `object_query_CAR` (Cars) and `object_store_MA` (Manufacturers) tables. Then I have created the filter for manufacturer n

[2021-09-01 05:44] dvesh3 commented on #10205
Fixed by #10207

[2021-09-01 05:44] #10205 closed, assigned to nobody

[2021-09-01 05:45] dvesh3 commented on #10152
🏓 @mediafant

[2021-09-01 06:36] mediafant commented on #10152
@dvesh3 - don't understand - youtube works. But vimeo-links and dailymotion-links didn't work. So I changed pimcore-code so it works.
 But there is also a problem on pimcore-demo-page at:
 https://demo.pimcore.com/en/Events
 Buttons "More Details" didn't work

[2021-09-01 06:52] dvesh3 commented on #10152
I mean is it reproducible with `{{ pimcore_video('sample_video'}}` on frontend template?

this is a separate issue and fixed with commit https://github.com/pimcore/demo/commit/1c0c1d0f0fe2fc5234f3ece442f9c14746c8d6e9

[2021-09-01 11:22] brusch commented on #9973
Fixed by #10130

[2021-09-01 11:22] #9973 closed, assigned to dvesh3

[2021-09-01 18:46] markus-moser commented on #9727
This is a big problem in projects with massive amounts if objects. I tried to use CTE but in my first tests the performance was not better then the like. This is a problem which is very hard to be solved (without something like elasticsearch in the background...) but it's a major topic when Pimcore wants to be ready for PIM systems with hundrets of thousands or even millions of products. At the mo

[2021-09-01 19:33] markus-moser commented on #9727
Just as a reference the CTE I tried:

[code]

Unfortunately it slower then the like pendant on the same folder:

[code]

The "distinct o_classId" is just one example. I tried several other constallations too but the like always was faster then the CTE.

[2021-09-01 20:46] andreas-gruenwald commented on #9727
I also did some analysis based on the original query:

[code]

-> 7.9 seconds for 661.000 data objects

Without ``order by o_id`` it's just 0.266 sec:

[code]

Is it an option to ignore the default order by clause and get rid of it?
However, the ``count`` query is still slow...

[2021-09-02 11:41] #6814 closed

[2021-09-02 14:42] rjankiew opened #10226 "[Bug]: not possible to download test/ directory using composer"
### Expected behavior

When using composer, tests/ directory should be downloaded.

### Actual behavior
In version 10.1.2, however, it is not, even when using `composer update --prefer-source`. There is no mention of any alternate way of downloading this files using composer.

This is due to [this commit](https://github.com/pimcore/pimcore/commit/3429f5c173fa0576169f93182fea725db5f02b55) excluding

[2021-09-02 14:59] jdreesen commented on #10226
Why should it be downloaded?

[2021-09-02 15:25] jdreesen commented on #10226
I just tried installing Pimcore with `composer create-project pimcore/skeleton source-test --prefer-source` and Composer downloaded the `tests` folder like it should:
![grafik](https://user-images.githubusercontent.com/424602/131871810-7f49ebb4-fb0f-4917-8179-40dc392977bd.png)

---

In an existing (dist) installation, you must add
[code]
to your `composer.json` file and delete your `vendor/pimcore

[2021-09-02 15:52] markus-moser commented on #9727
Maybe Pimcore should introduce some kind of closure table where all parent IDs are stored in a normalized way.

[2021-09-02 20:38] rubanooo opened #10228 "[Bug]: Saving cache does not take the enabled or cli status into account"
### Expected behavior

When disabling the cache it should also stop saving items into the cache. This can cause a lot of overhead when running scripts with large amounts of data because of the unserialization of objects.

### Actual behavior

When calling `Pimcore\Cache::disable()` cache items are still being saved, while loading cache items are disabled

Code for loading items from the cache:
htt

[2021-09-03 06:25] brusch commented on #10226
@jdreesen thanks a lot for clarifying! 🙏

[2021-09-03 06:25] #10226 closed, assigned to nobody

[2021-09-03 08:26] flopes89 opened #10232 "[Bug]: config_test in Bundles is ignored when running function tests"
### Expected behavior

`config_test.yml` file in `/src/MyBundle/Resources/config` should be read so the parameter overwrites apply when bootstrapping services

### Actual behavior

`config_test.yml` file is ignored - only defaults in `config.yml` are read

### Steps to reproduce

I have a Bundle that also contains `Resources/config/config_test.yml` files to overwrite some parameters during testing

[2021-09-03 09:55] jdreesen commented on #10232
Are you sure the environment is set to `test` when running the tests?

[2021-09-03 10:04] #10005 closed, assigned to nobody

[2021-09-03 10:11] jdreesen commented on #9330
Is this already completely done? It seems it was automatically closed by mistake.

[2021-09-03 11:26] flopes89 commented on #10232
I'm using this `tests/_bootstrap.php` file:

[code]

and executing the tests with `$ php vendor/bin/codecept run function -c tests/codeception.dist.yml`

Is there a way to debug the config load? Unfortunately, when I try to debug into my services, all the config values are already written to cache and taken from there literally, so the resolution happens before it even reaches my tests

[2021-09-03 12:18] thgross opened #10238 "[Bug]: Fallback language not used in shared translations"
### Expected behavior

shared translations use the fallback language for keys without translation.

### Actual behavior

pimcore shows the translation key instead of the fallback language.

### Steps to reproduce

1. log into https://demo.pimcore.com/admin
2. In system settings, set the fallback language for "German" to "en"
3. In Shared Translations, search for the Key "general.buy" an remove the

[2021-09-03 15:56] piotrecky opened #10239 "Cannot assign Pimcore\Model\Element\ElementDescriptor to property Pimcore\Model\DataObject\Objectbrick::$object"
### Expected behavior

Pimcore cannot write and read the object with object bricks

### Actual behavior

PHP Fatal error:  Uncaught TypeError: Cannot assign Pimcore\Model\Element\ElementDescriptor to property Pimcore\Model\DataObject\Objectbrick::$object of type ?Pimcore\Model\DataObject\Concrete in /var/www/vendor/myclabs/deep-copy/src/DeepCopy/DeepCopy.php:253
Stack trace:
#0 /var/www/vendor/myc

[2021-09-04 09:53] Tsuba commented on #5361
Hello dears, I'm currently working on Pimcore 6.7 and I get same problems as mentionned about memory leak. Is it something which is fixed in next versions of Pimcore ?

[2021-09-06 04:22] dvesh3 commented on #10239
@piotrecky sorry, not able to reproduce the issue. please provide more specific steps to reproduce (like what elements to use inside object brick) and Pimcore version. thanks!

[2021-09-06 07:30] akno77 commented on #9991
Is a fix planned for 10.1.3? Because currently our automated deployment doesn't work anymore with this bug!

[2021-09-06 07:32] roland4432 commented on #9991
@akno77: My PR is merged (should therefore be released with 10.1.3) and this ticket can be closed @dvesh3 or @brusch. Thx

Check #10192 for reference.

[2021-09-06 07:38] brusch commented on #9991
Fixed by #10192

[2021-09-06 07:38] #9991 closed, assigned to nobody

[2021-09-06 08:12] brusch commented on #10232
Pimcore/Symfony is not loading the config any longer from `config_ENV.yml`.
See Symfony flex structure: https://symfony.com/doc/current/setup/flex.html

Just fixed the wrong info in our docs: 8c4bea08777ebb19c8ae17dcc08a33afc2ad93b2

[2021-09-06 08:12] #10232 closed, assigned to nobody

[2021-09-06 09:57] piotrecky commented on #10239
on pimcore demo no errors are visible  - the prod environment variable is probably set. Pimcore 10.1.2, redis on.

[2021-09-06 10:37] brusch commented on #9169
Fixed by #9171

[2021-09-06 10:37] #9169 closed, assigned to brusch

[2021-09-06 10:38] brusch opened #10245 "[Feature]: Custom Asset Types"
### Feature description

It should be possible to add custom asset types, just as you could do for documents.

[2021-09-06 10:40] #10033 closed, assigned to brusch

[2021-09-06 10:40] brusch commented on #10245
See also #2270

[2021-09-06 10:44] brusch commented on #3009
@ascheider is this still an issue in Pimcore X?

[2021-09-06 10:50] brusch commented on #2945
Thanks a lot for sharing your ideas. However, since this is quite a special interest use-case, we're not gonna work on that anytime soon. Please feel free to continue the discussion here.
Thanks for your understanding.

[2021-09-06 10:50] #2945 closed

[2021-09-06 11:07] flopes89 commented on #10232
@brusch Thanks for the update! I switched to the `packages/` structure and it works as expected.

However, the same problem is also present when I'm trying to overwrite the database used for functional tests.

It seems parameters defined in `/config/packages/test/config.yml` are being overwritten by `/config/local/database.yml`

This causes my functional test to overwrite the database that's being

[2021-09-06 11:57] piotrecky commented on #9460
I have the same problem with objectbricks.

<b>Fatal error</b>:  Uncaught TypeError: Cannot assign Pimcore\Model\Element\ElementDescriptor to property Pimcore\Model\DataObject\Objectbrick::$object of type ?Pimcore\Model\DataObject\Concrete in /var/www/vendor/myclabs/deep-copy/src/DeepCopy/DeepCopy.php:252
Stack trace:
#0 /var/www/vendor/myclabs/deep-copy/src/DeepCopy/DeepCopy.php(252): ReflectionP

[2021-09-06 12:47] blankse opened #10247 "[Bug]: Relation in EditableDialogBox is cut off"
### Expected behavior

The editable should visible completely

### Actual behavior

The editable is cut off

### Steps to reproduce

Pimcore Demo
- Add relation editable to Blockquote
[code]
- Display DialogBox:
![image](https://user-images.githubusercontent.com/998558/132219768-bb901ae1-997f-4c49-9ca5-53b696528852.png)

[2021-09-06 14:46] jantomicky opened #10251 "[Bug]: Warning in edit mode when using pimcore_cache"
### Expected behavior

Using `pimcore_cache` does not produce a warning when working in document edit mode.

### Actual behavior

When `pimcore_cache` is used as the [template extensions documentation](https://pimcore.com/docs/pimcore/current/Development_Documentation/MVC/Template/Template_Extensions/index.html#page_Example) suggests, a warning shows up in edit mode:

[code]

![Screenshot 2021-09-

[2021-09-06 15:41] piotrecky commented on #10239
I have the analysis progress. When I disable cache in CoreCacheHandler everything works fine. The problem is likely to be in the marshalForCache method

[2021-09-06 16:09] iidaloiki opened #10252 "[Bug]: Cannot upload SVG Asset"
### Expected behavior

SVG can be added as any other asset.

### Actual behavior

Upload modal freezes due to error in asset upload. In network tab, request /add-asset seems to return HTTP 500 with following error:

### Steps to reproduce

Try to upload an SVG file into assets in Pimcore Admin.

[2021-09-06 17:03] MyZik opened #10255 "[Bug]: Mandatory check for image gallery doesn't work"
### Expected behavior

An error should be thrown if mandatory gallery field is empty

### Actual behavior

A mandatory check for gallery field is ignored

### Steps to reproduce

1. Create a new Gallery-field in your data object and mark them as mandatory
2. Create a new data object and don't fill the gallery field:

<img width="1670" alt="Bildschirmfoto 2021-09-06 um 19 02 34" src="https://user-i

[2021-09-06 19:56] piotrecky commented on #10239
reproduce steps:

1. Install demo from https://github.com/pimcore/demo
2. Create class "testobject" with objectbricks data component
3. Create Objectbrick "testbrick" with block data component "parameters" and one input inside block
4. Set testbrick allowed class to testobject
5. Create object with complete data and save.
6. Reopen object and see to console:

<b>Fatal error</b>:  Uncaught TypeErro

[2021-09-07 07:55] dvesh3 commented on #10251
Fixed by #10256

[2021-09-07 07:55] #10251 closed, assigned to dvesh3

[2021-09-07 08:30] brusch commented on #10252
@iibs actually I'm not able to reproduce the issue.
Can you please confirm that you're able to reproduce the issue on out demo instance:
https://github.com/pimcore/pimcore#demo-community-edition

If you're able to reproduce it, please also share the used SVG file.
Thanks!

[2021-09-07 09:34] iidaloiki commented on #10252
Hi,

It seems that the issue is fixed in some minor version. On demo (v.10.1.2) it works fine, so I updated my local environment and seems to work as well. Closing the issue.

[2021-09-07 09:34] #10252 closed, assigned to nobody

[2021-09-07 09:45] brusch commented on #10255
fixed by #10263

[2021-09-07 09:45] #10255 closed, assigned to nobody

[2021-09-08 06:44] #10051 closed, assigned to nobody

[2021-09-08 07:28] ramundomario commented on #2914
it would be nice to be able to configure video adapters as well.
Use Case: Making Video Thumbnails with [AWS Elemental MediaConvert.](https://aws.amazon.com/mediaconvert/?nc1=h_ls)

[2021-09-08 08:16] dpfahlbusch opened #10272 "[Bug]: Create object via advanced-many-to-many-object-relation, creates duplicated entry"
### Expected behavior

An object will be created and assigned

### Actual behavior

The object is created and is added twice

### Steps to reproduce

1.  Go to current demo
2. Add a advanced-many-to-many-object relation to car class
3. Create object via this relation
4. It will be added twice

[2021-09-08 08:28] brusch commented on #10238
Fixed by #10241

[2021-09-08 08:28] #10238 closed, assigned to dvesh3

[2021-09-08 13:15] dpfahlbusch commented on #5067
Is this still a thing? @solverat

[2021-09-08 13:28] dpfahlbusch opened #10273 "Sorter in initial sorting of classificationstore groups in collections not considered"
### Expected behavior

Sorter is considered in initial sorting of groups in collections

### Actual behavior

Sorter is not considered in initial sorting, but after reload.
Initial sorting is via interal id

### Steps to reproduce

1. Go to current demo
2. Create Classification Store
3. Create collection and some groups
4. Add groups to collection and define sorter
5. Add classification store to o

[2021-09-09 04:44] dvesh3 commented on #10057
Fixed by #10240

[2021-09-09 04:44] #10057 closed, assigned to nobody

[2021-09-09 07:45] dvesh3 commented on #10247
Fixed by #10269

[2021-09-09 07:45] #10247 closed, assigned to nobody

[2021-09-09 08:06] brusch commented on #10228
Fixed by #10277

[2021-09-09 08:06] #10228 closed, assigned to dvesh3

[2021-09-09 08:07] brusch commented on #10272
Fixed by #10280

[2021-09-09 08:07] #10272 closed, assigned to nobody

[2021-09-09 10:45] langert commented on #1667
@brusch do you have an idea how can I get the formated date via the php Api in pimcore x ?
With
`$document->getEditable('date')->getDate()`
I can get the carbon date object. But this is noct formated localized and shows
`2021-08-31 22:00:00`
instead of
`2021-09-01 00:00:00`
as selected in editmode with format (d.m.Y)

[2021-09-09 11:23] NiklasBr commented on #1667
@langert try the `->locale()` method, for example:

[code]

https://carbon.nesbot.com/docs/#api-localization

[2021-09-09 12:00] jdevries14 opened #10285 "[Bug]: Table in data object does not use the table config"
### Expected behavior

When you create a table config and create a new data object it should use it such as:

**Config**
<img width="1256" alt="Screenshot 2021-09-09 at 13 59 24" src="https://user-images.githubusercontent.com/44669189/132681804-434d1d9c-c6a8-482c-9d50-1df705c3cccc.png">

**Behavior**
<img width="1507" alt="Screenshot 2021-09-09 at 13 59 35" src="https://user-images.githubuserconte

[2021-09-09 12:10] langert commented on #1667
@NiklasBr unfortunatley same result - missing 2 hours
may this be a bug, based on [https://github.com/pimcore/pimcore/pull/9933](url) ?

[2021-09-09 12:22] jdreesen commented on #1667
It depends on your server-side timezone

[2021-09-09 12:29] langert commented on #1667
@jdreesen you are right. Adjuting the the default timezone in php.ini leads to the correct ouput

[2021-09-10 05:31] dvesh3 commented on #10285
Fixed by #10290

[2021-09-10 05:31] #10285 closed, assigned to nobody

[2021-09-10 05:34] #10208 closed, assigned to nobody

[2021-09-10 09:47] mcop1 opened #10297 "[Bug]: Using "consent" data type can result in unused notes entries"
### Expected behavior

Do not create additonal notes for drafts

### Actual behavior

When the content of a "consent" checkbox changes, an additional note will be saved to the database. This not just only happens, when the object is saved, but also for drafts. If you delete the draft afterwards, the note still remains.

### Steps to reproduce

1.) Create new object containinig "consent" data objec

[2021-09-10 09:48] JochenCal opened #10298 "[Bug]: CacheKey for Classification Store KeyConfig not removed on delete"
### Expected behavior

CacheKey will be removed when KeyConfig is deleted

### Actual behavior

CacheKey still exists after KeyConfig is deleted

### Steps to reproduce

- Generate a KeyConfig using PHP Api and save it
- Delete this KeyConfig
- Generate a new KeyConfig with same name as before
- Use KeyConfig::getByName() to retrieve the KeyConfig
- Cached KeyConfig that should have been deleted w

[2021-09-10 10:04] mcop1 commented on #10006
See follow up issue #10297 10297

[2021-09-10 10:16] JochenCal commented on #10298
In additon when having a look at KeyConfig::getByName() the cache value is always returned due to line ~164:
`$config = Cache::load($cacheKey);`

[2021-09-12 08:03] HaaseIT opened #10306 "[Feature]: Tag-Administration doesn't have events"
### Feature description

As stated in the title, the tags administration doen't currently have any events (onSave, onDelete, ...)

I will be more than happy to supply a pullrequest, on which branch should I base it on, current minor or upcoming minor?

[2021-09-13 07:26] fashxp commented on #10306
please base it on 10.1 branch

[2021-09-13 07:28] HaaseIT commented on #10306
I'll put it on 10.2 then propably, I won't have it finished by wednesday.

[2021-09-13 07:31] fashxp commented on #10306
I doubt that we can make the 10.2 this Wednesday, so it will postponed for another 2 weeks I guess.

[2021-09-13 07:37] HaaseIT commented on #10306
I just found, this has already been added in 2020-09, see: #5368 - I am closing this.

[2021-09-13 07:37] #10306 closed, assigned to nobody

[2021-09-13 07:37] fashxp commented on #10306
haha :-)

[2021-09-13 08:06] jeykodev opened #10307 "[Bug]: EditableDialogBox - images / relations broken"
### Expected behavior

Fields of type `image`, `relation` or `renderlet` in an AreaBrick with an editable dialog box should be rendered correctly, so users can fill in data and get a preview without problems.

### Actual behavior

When using the mentioned fields, the view is broken:

![image](https://user-images.githubusercontent.com/10532676/133045992-f35974df-3d90-4a98-91e4-fa05e7667639.png)

Fo

[2021-09-13 08:55] brusch commented on #8374
see also #6371

[2021-09-13 09:52] weisswurstkanone commented on #10298
@JochenCal could you please provide a PR ?

[2021-09-13 15:10] weisswurstkanone commented on #10273
fixed via #10296

[2021-09-13 15:10] #10273 closed, assigned to nobody

[2021-09-13 23:53] langert commented on #4162
@madhu6759 could you solve this problem? Same issue here, but only in deployment. Where are the system settings saved?

[2021-09-14 10:24] dpfahlbusch commented on #10298
maybe this is related https://github.com/pimcore/pimcore/issues/9348 ?

[2021-09-14 10:56] weisswurstkanone commented on #10298
@dpfahlbusch yes, good point!

https://github.com/pimcore/pimcore/issues/10298 is more a caching topic.
So for @JochenCal , could you just kick it out by name and id for now. I guess we need a discussion how to proceed with this disabled flag in the long term.

[2021-09-14 12:36] matthiashamacher opened #10317 "[Installer]: Installer does not use given mysql settings"
### Expected behavior

Pimcore Installer uses database configuration given by the environment variables or parameters when installing the tables and data. Also, it should use the configuration of the given environment which is not the case.

### Actual behavior

The installer uses configured database from the config-Files. Additionally, it always uses the general configuration not the config speci

[2021-09-14 12:39] aclDeveloper commented on #10239
We are experiencing similar behavior when adding Blocks to Object Bricks. There also occurs an exception in the DeepCopy library.

[code]

![image](https://user-images.githubusercontent.com/20439617/133258845-6f273806-3bfa-4478-8689-41ad8a84ca44.png)

Placing Blocks into **Field Collections** does not result in any errors.

[2021-09-14 13:45] blankse opened #10318 "[Bug]: Scheduled Tasks"
### Expected behavior

Can save a schedule task

### Actual behavior

Can not save a schedule task

### Steps to reproduce

1. Open https://demo.pimcore.fun/admin/login/deeplink?object_765_object
2. Save a new draft
3. Go to the Schedule tab and create a new item
4. Save only schedule tasks
5. Reload

[2021-09-14 14:45] blankse commented on #10318
@weisswurstkanone Seems to be a regression of https://github.com/pimcore/pimcore/pull/8452

[2021-09-15 07:12] dpfaffenbauer commented on #9810
@brusch I am happy to help here if you still need help

[2021-09-15 07:41] fashxp opened #10321 "[Symfony 6] Check return type preparations"
### Improvement description

see also https://wouterj.nl/2021/09/symfony-6-native-typing
also:
https://symfony.com/blog/preparing-your-apps-and-bundles-for-symfony-6

[2021-09-15 08:13] brusch commented on #9810
@dpfaffenbauer yes, that would be very nice. Any particular topic you have in mind to start with?

[2021-09-15 08:23] brusch commented on #9984
Fixed by #10310

[2021-09-15 08:23] #9984 closed, assigned to mcop1

[2021-09-15 09:04] aweichler opened #10323 "[Bug]: JS error in user settings"
### Expected behavior

A click on a user should open the user in the user settings.
I am on the latest Pimcore 10 Version.

### Actual behavior

There is a javascript error in user settings, when open a user.
The error is in [Line 501](https://github.com/pimcore/pimcore/blob/ddc570a88760762da3f3f460c0fe9b381ad4d1f0/bundles/AdminBundle/Resources/public/js/pimcore/settings/user/user/settings.js#L501

[2021-09-15 09:22] akno77 commented on #9991
I still get this error with Pimcore 10.1.3 using the console command `pimcore:deployment:classes-rebuild`:

[code]

[2021-09-15 09:29] roland4432 commented on #9991
@akno77  I wonder how line 713 in the MultiSelect.php file could bubble that error up to your Optionsprovider since it should handle the error right in the catch part.

Mind sharing your DropdownMultiSelectOptionsProvider? Or at least the lines from around line 30?

[2021-09-15 09:47] akno77 commented on #9991
@roland4432 Here is the code part until line 36:

[code]

[2021-09-15 09:58] roland4432 commented on #9991
You are right. I used a not sufficient enough way to catch errors with my PR. Let me fix this and make a PR real quick.

In the meantime this will help you:

[code]

[2021-09-15 11:48] dpfaffenbauer commented on #9810
@brusch I would start with moving stuff from runInBackground to a Messenger Queue. The queue would be just a doctrine handler

[2021-09-15 12:03] brusch commented on #9810
@dpfaffenbauer sounds good! Yes, our plan was also to use the doctrine handler.

[2021-09-15 12:56] cmann90 opened #10327 "[Bug]: Search exception when data object with classification store data exists"
### Expected behavior

Have data objects with classification store data and use search without an error occurring.

### Actual behavior

Once a data object is created which contains classification store data the search will throw an exception until all data objects with classification store data are deleted:
![image](https://user-images.githubusercontent.com/68635243/133435828-068ced67-9823-45e1-a

[2021-09-15 18:37] blankse commented on #10318
Fixed by #10320

[2021-09-15 18:37] #10318 closed, assigned to nobody

[2021-09-15 19:39] shades3002 opened #10330 "[Feature]: the connection limit that the apikey has"
### Feature description

There is no where to modify the connection limit that the apikey has, an apikey brings a default limit that cannot be modified

[2021-09-16 07:15] #10330 closed, assigned to nobody

[2021-09-16 07:15] brusch commented on #10330
Are you talking about the DataHub? There's no API key in the Pimcore core anymore 😉

[2021-09-16 08:19] mcop1 commented on #10323
Hello @aweichler ,
I am sorry, but we can´t reproduce the issue on our end of the side. Could you please give us a step by step guide of what exactly you are doing?

Best regards and thank you for your efforts

[2021-09-16 12:10] shades3002 commented on #10330
unfortunately no, I'm using an older version of pimcore, but nowhere do I
find how to increase the limit of simultaneous connections by ApiKey. If
you can guide me, I appreciate it.

On Thu, Sep 16, 2021 at 3:16 AM Bernhard Rusch ***@***.***>
wrote:

--
*Ing. Carlos Gutierrez*
Software developer
mobile:  +58 (424) 7444224 <+58+(424)+7444224>
site:  www.carlosgutierrez.dev
email:  ***@***.***
skype

[2021-09-16 12:34] brusch commented on #10330
I'd do that on webserver (Apache/Nginx level), this should be possible I guess.
If not, the only way would be to use Symfony's `kernel.request` event.

[2021-09-16 12:46] shades3002 commented on #10330
I am not very sure I understand what you are telling me, the issue is that
I am using a third party integration bundle and everything works fine, but
when I use the apikey in more than 10 simultaneous connections if I add a
connection 11, that new connection does not work only the previous ones, to
add a new connection I must create a new user and generate a new apikey to
allow me to connect. But,

[2021-09-16 13:39] mcop1 opened #10339 "Error message when trying to save a data object with empty mandatory fields"
### Expected behavior

No error message, but standard validation dialog should be shown:
![image](https://user-images.githubusercontent.com/89011527/133621895-695426de-da46-439b-b829-ea808a04c5fd.png)

### Actual behavior

Error Message:

![image](https://user-images.githubusercontent.com/89011527/133621954-81ec574f-ad5f-434c-8b09-8c47040a6aa6.png)

### Steps to reproduce

Only happens with classi

[2021-09-16 15:15] ckemptner opened #10342 "[Bug]: Styling of Collapsible"
### Expected behavior

Users can clearly see that an item can be collapsed.

### Actual behavior

Icon is white on grey background > Hard to see.
![image](https://user-images.githubusercontent.com/13643455/133638583-fa8e51dc-a13c-4af2-ae9c-2b39bb7cd49a.png)

### Steps to reproduce

Create a an object with a collapsible element.

[2021-09-16 15:27] fashxp commented on #10342
what collapsible?

[2021-09-16 15:29] ckemptner commented on #10342
![image](https://user-images.githubusercontent.com/13643455/133640837-e2b64a78-092f-453f-9f17-5677115d1090.png)

[2021-09-17 08:03] brusch opened #10344 "[Improvement]: Leverage the new Symfony Runtime component"
### Improvement description

See:

https://symfony.com/doc/current/components/runtime.html
https://github.com/symfony/recipes/blob/master/symfony/framework-bundle/5.3/public/index.php

[2021-09-17 08:11] brusch opened #10345 "[Symfony] Do not use Session deprecated features"
### Improvement description

`\Symfony\Component\HttpFoundation\Session\Attribute\NamespacedAttributeBag` has been deprecated.
We need to provide our own implementation.

See: https://symfony.com/doc/current/session.html#basic-usage

[2021-09-17 08:21] brusch opened #10346 "[Improvement]: Change default behavior of fallback documents"
### Improvement description

related to #10005 and #10163

It's actually about removing the config option `allow_processing_unpublished_fallback_document` and changing the default behavior.

[2021-09-19 15:32] langert commented on #10345
Because of the deprecated info, adapting the example of the docs, I simply struggle trying to register a non namespaced AttributeBag in my 10.1 bundle.
"Cannot register a bag when the session is already started.".

I get this Exception when I try to set any value to the bag.

`$this->session->getBag('my_name')->set('myparam', 'value#)`

Where/when do I have to register the AttributeBag to be befor

[2021-09-20 08:39] fashxp opened #10354 "[Bug][SentMails] Do not appear in sent mails of mail document"
### Expected behavior

do appear in sent mails list of mail document

![image](https://user-images.githubusercontent.com/8792145/133975806-cb43a654-1b2a-429c-8624-f320882b45e9.png)

### Actual behavior

only appear in global list

### Steps to reproduce

send document mail... e.g. for demo
[code]

[2021-09-20 09:51] thgross opened #10357 "[Bug]: Assets: Clicking on image in preview grid does not open image"
### Expected behavior

Clicking on any image in the preview tab of any assets folder opens the image.

This worked in pimcore 10.1.2. It no longer works in 10.1.3,

### Actual behavior

When clicking on image in the preview grid of any assets folder, nothing happens

### Steps to reproduce

1. Log into https://demo.pimcore.com/admin/
2. In Assets, open any asset folder
3. click on any image on the

[2021-09-20 11:37] akno77 commented on #4184
I have the same request and `noText` doesn't work for me either.

[2021-09-20 12:59] jdreesen commented on #4184
Would love to be able to disable these fields in `Link` fields of data objects, too. The popup looks the same for them.

[2021-09-20 15:06] NiklasBr opened #10359 "[Bug]: E-Commerce Framework cannot be installed without DE langauge configured"
### Expected behavior

To be able to install E-Commerce Framework without enabling the German language

### Actual behavior

https://github.com/pimcore/pimcore/blob/4550a053fac47a1d2c0406bf15c9799ef078bbb7/bundles/EcommerceFrameworkBundle/Tools/Installer.php#L178

Throws an error: `Warning: Undefined array key "de"`

### Steps to reproduce

In System Settings the following languages are enabled:

[2021-09-21 05:34] brusch commented on #10180
fixed by #10328

[2021-09-21 05:34] #10180 closed, assigned to nobody

[2021-09-21 05:36] brusch commented on #9779
Fixed by #10126

[2021-09-21 05:36] #9779 closed, assigned to nobody

[2021-09-21 05:37] #10357 closed, assigned to brusch

[2021-09-21 05:47] brusch commented on #6987
This is covered by #9330
See also: https://github.com/pimcore/pimcore/blob/984e323a3842cbca77b6a36096ff3fbd3cd7bc62/doc/Development_Documentation/21_Deployment/03_Configuration_Environments.md#configuration-storage-locations--fallbacks

[2021-09-21 05:47] #6987 closed

[2021-09-21 06:11] brusch commented on #6371
See also #10329

[2021-09-21 07:27] brusch commented on #9547
Just similar what we do with emails:

https://github.com/pimcore/pimcore/blob/43b0963dd9ff7d0faff39db339fd0c15ad324a50/lib/Mail.php#L651

[2021-09-21 07:30] brusch commented on #7717
We need to investigate how Flysystem deals with that, since this has changed in in Pimcore X.

[2021-09-21 07:55] MosiiAUT commented on #10318
Is there a possibility to include this fix in Pimcore 6?

[2021-09-21 07:56] brusch commented on #10318
@MosiiAUT unfortunately no, as support for P6 has been ended already (except enterprise customers who have access to LTS).

[2021-09-21 09:28] gjorgic opened #10365 "[Bug]: Object Scheduled Tasks"
### Expected behavior

When you create schedule task on some object and reload this object, you expect to see same information you enter in form

### Actual behavior

After creation schedule task, entry is stored into database, but after reloading object, server return empty object for created task in array scheduledTasks and grid can not show real information

### Steps to reproduce

1. Go to pub

[2021-09-21 09:35] gjorgic commented on #10365
I try implement `JsonSerializable` on `Pimcore\Model\Schedule\Task`, and i got response, and everything is (_almost_) fine, but i'm not sure is that good approach because in that case i have trouble with time and probably with timezone (_e.g. if i chose 1:30, after reloading object i see 2:30_)

[2021-09-21 10:02] blankse commented on #10365
@gjorgic I create a PR. Can you test it?

[2021-09-21 12:08] gjorgic commented on #10365
Hi @blankse  now i can see details in grid, but there is issue with time; each time when i save and reload object, time is increased

![image](https://user-images.githubusercontent.com/3842488/134167551-63fe6cb2-9a9b-4245-a932-92f92b4ace75.png)

After saving and reloading i see this

![image](https://user-images.githubusercontent.com/3842488/134167622-72fe2853-72bc-4e1d-a910-f2a797c0f9ba.png)

[2021-09-21 12:31] CiLLiTxBanger opened #10368 "[Bug]: Video-Types throw error in debugmode but work in prod"
### Expected behavior

Videos get rendered and displayed OR don't produce an error which freezes the document.

### Actual behavior

BE document stuck in "Please Wait"

### Steps to reproduce

1. Insert random Video Content Area
2. Change Type to 'dailymotion'
3. insert random Video ID (eg.: x84cbm1)
4. When in debugmode you get an error
When in prod-mode, the video gets displayed

I tested in Pim

[2021-09-21 14:09] dpfaffenbauer commented on #6371
- Search Backend Data

[2021-09-21 14:20] dpfaffenbauer commented on #6371
- Cache::shutdown maybe?

[2021-09-22 04:50] aweichler commented on #10323
I tried to figure out why this is happening. I have 2 project. At one project there is no issue and in an other there is the issue.
In Firefox 92.0 i got the following errors / output:
I changed the [code](https://github.com/pimcore/pimcore/blob/ddc570a88760762da3f3f460c0fe9b381ad4d1f0/bundles/AdminBundle/Resources/public/js/pimcore/settings/user/user/settings.js#L495) to following:
![code](https:

[2021-09-22 06:58] blankse commented on #6371
- System thumbnail generation (See https://github.com/pimcore/pimcore/pull/10300)

[2021-09-22 07:05] weisswurstkanone opened #10371 "[Class Definition] Missing horizontal scroller"
### Expected behavior

There should be a horizontal scrollbar

### Actual behavior

Scrollbar missing. No way to open the dropdown for example.

![image](https://user-images.githubusercontent.com/6142086/134297910-315d2e5e-70b2-480c-84fe-d2379c74bf2a.png)

### Steps to reproduce

Open class editor on small screen

[2021-09-22 07:53] gilsys opened #10373 "[Bug]: Pimcore\Composer::clearCache reports an [ErrorException] Array to string conversion"
### Expected behavior

After composer update or require, pimcore executes
"pimcore-scripts": [
      "Pimcore\\Composer::clearCache",
      "Pimcore\\Composer::installAssets"
]

It should execute the scripts without any problem.

### Actual behavior

After composer update or require, it shows an exception (also on a fresh install)

X packages you are using are looking for funding.
Use the `compose

[2021-09-22 07:53] SaschaHowe opened #10374 "[Bug]: Asset -> Custom Meta Data -> Data loss on save when changes result in same name+language"
### Expected behavior

When changing Meta Properties, the final state of the table should be what is saved.

Starting here:
<img width="639" alt="Screenshot 2021-09-22 at 09 43 36" src="https://user-images.githubusercontent.com/340244/134303174-d2429bfa-e95f-4ab3-9a57-f607f2a1f096.png">
and changing the Fields in any order to end here
<img width="594" alt="Screenshot 2021-09-22 at 09 47 08" src="h

[2021-09-22 08:23] dvesh3 commented on #10368
Fixed by #10370

[2021-09-22 08:23] #10368 closed, assigned to nobody

[2021-09-22 08:23] dvesh3 commented on #10152
Fixed by #10370

[2021-09-22 08:23] #10152 closed, assigned to nobody

[2021-09-22 08:39] dvesh3 commented on #10327
Fixed by #10334

[2021-09-22 08:39] #10327 closed, assigned to mcop1

[2021-09-22 09:31] dvesh3 commented on #10359
@NiklasBr how it is related to languages selected in System settings since `EcommerceFrameworkBundle\Tools\Installer::installTranslations()` is responsible for importing admin translations (https://github.com/pimcore/pimcore/blob/10.x/bundles/EcommerceFrameworkBundle/Tools/Installer.php#L382) and German is always there from CoreBundle.

[2021-09-22 10:53] weisswurstkanone commented on #8089
I think that is not that easy as it sounds (compared to an update).

"Delete" also kills the children and grandchildren etc, snowball effect literally.
So there is no way to do this in an atomic way and restore them if some piece in the process fails.

Nevertheless, I would proceed as suggested as it would be a good improvement.

@brusch Wdyt ?

[2021-09-22 11:05] dvesh3 commented on #10354
Regression of https://github.com/pimcore/pimcore/pull/9838

[2021-09-22 11:07] brusch commented on #8089
@weisswurstkanone agree, please proceed

[2021-09-22 12:31] aclDeveloper opened #10380 "[Bug]: Batch Edit All raises Exception with active filters and Object Bricks"
### Expected behavior

Pimcore 10.1.3
Also verified in 6.8.12, 10.x-dev

- Configure a grid with some custom columns from an object brick
- Filter the grid
- Click any column and select "Batch Edit All"
- All filtered records get updated

### Actual behavior

- Configure a grid with some custom columns from an object brick
- Filter the grid
- Click any column and select "Batch Edit All"
- /admin/o

[2021-09-22 12:37] aclDeveloper commented on #10380
This is the debug output:

![image](https://user-images.githubusercontent.com/20439617/134344508-5164f683-809d-4e57-b464-4123e0e30a90.png)

The referenced columns are not available in the base table and a join to the corresponding object_brick_... table is missing.

[2021-09-22 12:59] NiklasBr commented on #10359
That was just a guess, I could not figure out why it crashed on that language and the system language was a likely candidate.

[2021-09-22 13:47] brusch opened #10382 "[Improvement]: Migrate \Pimcore\Model\Asset\Image\Thumbnail\Config\Dao::autoClearTempFiles to messagebus"
### Improvement description

Replace Console::runPhpScriptInBackground() by using the messagebus, see also: #10329

[2021-09-22 14:18] #10382 closed, assigned to brusch

[2021-09-23 06:47] NiklasBr commented on #10359
@dvesh3 Whatever the reason, it prevents us from installing the framework bundle:
![image](https://user-images.githubusercontent.com/279826/134464983-807e096f-75d0-4e32-aa95-9142649efe4f.png)

[2021-09-23 07:49] dvesh3 commented on #10359
@NiklasBr could you please share stack trace? thanks!

[2021-09-23 07:53] mcop1 commented on #10006
Fixed by PR #10006

[2021-09-23 07:53] #10006 closed, assigned to mcop1

[2021-09-23 08:00] dvesh3 commented on #10380
Fixed by #10388

[2021-09-23 08:00] #10380 closed, assigned to nobody

[2021-09-23 08:49] NiklasBr commented on #10359
Details in the admin UI:
[code]

[2021-09-23 08:53] NiklasBr commented on #10359
Odd thing here is that the file [admin-translations/init.csv](https://github.com/pimcore/pimcore/blob/10.x/bundles/EcommerceFrameworkBundle/Resources/install/admin-translations/init.csv)  might be malformed

[2021-09-23 09:22] NiklasBr commented on #10359
Changing [line break](https://datatracker.ietf.org/doc/html/rfc4180) from `LF` to `CRLF` seems to work. Maybe `importTranslationsFromFile()` should replace any non-escaped `LF` with `CRLF`?

[2021-09-23 10:11] jdevries14 commented on #10285
@dvesh3 did this fix break it? check https://github.com/pimcore/pimcore/discussions/10396 please, it happened after this fix was merged

[2021-09-23 10:29] weisswurstkanone opened #10397 "Object bricks - allowed classes"
### Improvement description

Classes should be alphabetically sorted - and maybe filtered - if there is no brick field then not even display it.

![image](https://user-images.githubusercontent.com/6142086/134492281-24396371-3f70-4a22-be06-d3e4467e36cd.png)

[2021-09-23 10:30] fashxp opened #10398 "[Bug][Predefined Document Types] Creating multiple predefined document types in one process"
### Expected behavior

all predefined document types are created, useful for example for installers of bundles

### Actual behavior

only last document type is created
... probably due to number increment trait does not consider newly created configs

### Steps to reproduce

[code]

[2021-09-23 10:59] weisswurstkanone opened #10399 "When using table in object brick whole pimcore crashes"
### Expected behavior

there shouldn't be an exception

### Actual behavior

see #10396

### Steps to reproduce

as described in see #10396

[2021-09-23 12:40] weisswurstkanone opened #10403 "[Configuration Improvements] cklich on checkbox shouldn't trigger any updates"
### Expected behavior

click on checkbox, there shouldn't be any network activity

### Actual behavior

request is sent even if grayed out

### Steps to reproduce

make it not writeable and click on inhteritable checkbox in predefined properties for example.

other candidates: doc types

[2021-09-23 13:40] mcop1 commented on #10339
Fixed by PR #10372

[2021-09-23 13:40] #10339 closed, assigned to weisswurstkanone

[2021-09-23 14:40] dvesh3 opened #10405 "When using table in object brick whole pimcore crashes"
### Discussed in https://github.com/pimcore/pimcore/discussions/10396

<div type='discussions-op-text'>

<sup>Originally posted by **jdevries14** September 23, 2021</sup>
<img width="1137" alt="Screenshot 2021-09-23 at 12 05 50" src="https://user-images.githubusercontent.com/44669189/134489450-2f2fc003-a8af-4600-9480-7172a29d3ba7.png">

This is my current object brick, and when selecting the objec

[2021-09-23 14:56] dvesh3 commented on #10405
duplicate of #10399

[2021-09-23 14:56] #10405 closed, assigned to nobody

[2021-09-23 14:56] dvesh3 commented on #10399
Fixed by #10400

[2021-09-23 14:56] #10399 closed, assigned to nobody

[2021-09-23 15:06] dvesh3 commented on #10285
@jdevries14 yes, thanks for reporting. now fixed by #10400

[2021-09-23 15:58] dvesh3 commented on #10359
@NiklasBr yes, I would do fix it in `importTranslationsFromFile()`. please provide a PR with suggested fix. thanks!

[2021-09-24 06:22] NiklasBr commented on #10359
@dvesh3 I am unable to, which is why I created this issue.

[2021-09-24 06:42] #7717 closed

[2021-09-24 07:44] #10403 closed, assigned to mcop1

[2021-09-24 08:29] dpfahlbusch commented on #1002
Is this still a thing?

[2021-09-24 08:54] dvesh3 commented on #10365
Fixed by #10367

[2021-09-24 08:54] #10365 closed, assigned to nobody

[2021-09-24 08:56] dvesh3 commented on #10359
Fixed by #10407

[2021-09-24 13:16] fashxp commented on #1002
For sure, any contributions are welcome :-)

[2021-09-24 13:52] NiklasBr commented on #10359
@dvesh3 the patch did not work to resolve the installation error, it seems the [CSV still does not validate](https://github.com/pimcore/pimcore/blob/c7c6da7818ba4234533a58ea4d22ec103281dd6c/bundles/EcommerceFrameworkBundle/Resources/install/admin-translations/init.csv):

[2021-09-27 07:54] Brainshaker95 opened #10415 "[Bug]: Scheduled Block Change Listener not firing"
### Expected behavior

The change listener on the date input of a scheduled block should fire.

### Actual behavior

When changing the date inputs value of a scheduled block the change listener isn't fired

### Steps to reproduce

* Go to the Pimcore demo and add the "time-slider-featurette" to a page.
* Set a marker for a specific date and time
* Change the date to another one

In this case, the

[2021-09-27 08:33] brusch commented on #8374
Closed in favor of #8374

[2021-09-27 08:33] #8374 closed

[2021-09-27 09:11] brusch commented on #10354
Fixed by #10378

[2021-09-27 09:11] #10354 closed, assigned to dvesh3

[2021-09-27 09:33] dvesh3 commented on #10359
@NiklasBr could you please check if this PR https://github.com/pimcore/pimcore/pull/10416 fixes the issue? thanks!

[2021-09-27 09:49] NiklasBr commented on #10359
Same problem in the local environment:
![image](https://user-images.githubusercontent.com/279826/134886098-5f0029dc-67cb-475a-a462-7e0cf4238218.png)

And GitHub still complains about the file:

[2021-09-27 10:15] rberneder opened #10417 "[Bug][Document\Editable\Video]: Pimcore toolbox vs. inline video breaks edit behaviour"
### Expected behavior

A video shall be output via ```{{ pimcore_video('video') }}``` in editmode directly in document (desired to be "read-only"), but edited in Pimcore toolbox config dialog.

### Actual behavior

When the video already has an asset as content, and the toolbox gets opened (for example to empty the video), the edit button at the top right corner of the video editable is not shown.

[2021-09-27 11:21] NiklasBr commented on #10359
Further stepping through the errors this is closer to where it breaks:

![image](https://user-images.githubusercontent.com/279826/134898684-929810f6-3908-4aaa-a8e5-6e34328e52a7.png)

And on the next step we see where the error happens:
![image](https://user-images.githubusercontent.com/279826/134898775-5d0338c5-af47-4f10-8f95-8f64460856d1.png)

[2021-09-27 11:31] NiklasBr commented on #10359
Some other translations appear to have all languages in comparison:
![image](https://user-images.githubusercontent.com/279826/134900160-3bb8f957-9b42-4102-9959-33d2e0afc322.png)

[2021-09-27 11:42] abhishekceon opened #10418 "[Bug]: Shortcut Keys permission issue."
### Expected behavior

If the user/role has permission to do anything then only related to that action short-cut keys should work.

### Actual behavior

Even User/Role don't have permission to that specific action still user is able to do action through shortcut keys.

### Steps to reproduce

We are experiencing a problem with the key binding section of the Pimcore User section. Even if the user d

[2021-09-27 11:52] dvesh3 commented on #10359
@NiklasBr I believe calling `$t->hasTranslation($key)` before getTranslation should fix the issue. could you please give it a try?
like:
[code]
and change else part to just use `$currentTranslation` var.

[2021-09-27 12:00] dvesh3 commented on #10417
@rberneder As mentioned in the steps, you are using same name `"video"` for both editables, which is wrong as editables in dialog box are just like editables in the template.

Please see statement in the documentation:
"_The editables in the dialog are just normal editables, there's not difference to editables which are defined via the template. So can either use them as well in the template or ac

[2021-09-27 12:09] NiklasBr commented on #10359
@dvesh3 I think that worked 👍

[2021-09-27 12:13] rberneder commented on #10417
Thanks for your reply. However here is why this is still an issue for me:
Video editables are either rendered as ```<video>``` or ```<iframe>```, which is done by Pimcore automatically. This is very convenient.

If I want to edit the video in the toolbox and preview it in "default" document editmode, I would have to implement the HTML output logic myself, which is cumbersome and redundant. I could

[2021-09-27 12:25] dvesh3 commented on #10359
please review https://github.com/pimcore/pimcore/pull/10416

[2021-09-27 13:27] abhishekceon commented on #10418
@brusch  I have not mentioned the Pimcore version. I have checked this issue on Pimcore version 6.6.11.

[2021-09-27 13:28] brusch commented on #10417
Please provide a PR that would improve the behavior - from our side there's no priority on that. Thanks for your understanding 😊

[2021-09-27 13:34] brusch commented on #10418
@abhishekceon Thanks for coming back on this - I'm afraid nothing really relevant change there since this version - so I'd assume it's still an issue in Pimcore 10.

[2021-09-27 13:45] NiklasBr commented on #10359
✔️ have verified that installation now works, translations gets added and no errors happens.

[2021-09-27 13:47] dvesh3 commented on #10359
Thanks @NiklasBr

[2021-09-27 13:47] dvesh3 commented on #10359
Fixed by #10416

[2021-09-27 13:47] #10359 closed, assigned to dvesh3

[2021-09-27 14:20] abhisheksingh-pimcore opened #10422 "[Feature]:Login/logout history log."
### Feature description

Logon/logout history log should be the default feature. I have not found anywhere the login log details in Pimcore.

[2021-09-27 14:56] NiklasBr commented on #10422
Can you achieve this with the `usagelog.log` [file](https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/Logging.html#page_usagelog-log "Link to docs")? It should contain lines like:

[code]

[2021-09-27 15:49] Navino16 opened #10424 "[Bug]: Not editable fields are editable after page reload"
### Expected behavior

Not editable fields must stay not editable after browser page reload.

For example, here the field "product name" is not editable:
![image](https://user-images.githubusercontent.com/22234867/134941011-f74d2903-039f-4ef5-a1e1-c8fba33af3de.png)

This issue have been tested on Chrome and Firefox on pimcore v10.1.3 and pimcore v10.1.x-dev (pimcore demo website)

### Actual behav

[2021-09-27 18:38] abhishekceon commented on #10422
@NiklasBr  We can't achieve login log history for the specific users through this userlog.log. In this log there are lots of things, parsing this file for getting log history for the specific user, I don't think is a good idea.

We should have this feature inbuild through tables so that any individual can see their own login history after login and the admin can see anyone's login history for any

[2021-09-27 21:02] CountZero1981 opened #10427 "[Bug]: CleanupBrickTables maintenance task does not recognize bricks with capitalization in name"
### Expected behavior

CleanupBrickTables runs smoothly, without any errors.

### Actual behavior

I've managed to reproduce the problem from #5824.
Our devops used [this manual](https://github.com/pimcore/pimcore/edit/10.x/doc/Development_Documentation/23_Installation_and_Upgrade/03_System_Setup_and_Hosting/05_DB_Setup.md) and added lower_case_table_names=1 in accordance with it.
Unfortunately, h

[2021-09-28 06:25] jonathantyar opened #10431 "[Bug]: Restore folder with file inside it throws error when pimcore S3 filesystem"
### Expected behavior

The restore folder on recycle should working fine as the same when using local filesystems

### Actual behavior

![image](https://user-images.githubusercontent.com/19704585/135034223-017e77a7-d20c-4e3b-ae59-bd38b7cff218.png)
returning this popup when trying to restore the folder
`
Timestamp: Tue Sep 28 2021 13:21:36 GMT+0700 (Western Indonesia Time)
Status: 500 | Internal Se

[2021-09-28 07:16] brusch commented on #10422
Thanks a lot for sharing your ideas. However, since this is quite a special interest use-case, we're not gonna work on that anytime soon. Please feel free to continue the discussion here.
Thanks for your understanding.

@abhishekceon would be a perfect candidate for an optional bundle - should be quite easy to implement as the necessary events are already there.

[2021-09-28 07:16] #10422 closed, assigned to nobody

[2021-09-28 08:21] dvesh3 commented on #10424
Related to https://github.com/pimcore/pimcore/pull/10079

[2021-09-28 10:32] dvesh3 commented on #10431
Sorry, cannot reproduce the issue. what is your folder structure?

[2021-09-28 11:03] dvesh3 commented on #7337
Closing it as not reproducible on Pimcore X.
![image](https://user-images.githubusercontent.com/5137917/135075189-e7206e1a-a3a9-4f7c-a836-1bff260de0d3.png)
![image](https://user-images.githubusercontent.com/5137917/135075310-c2d04eb4-8375-444f-b71d-dde33f410392.png)

[2021-09-28 11:03] #7337 closed

[2021-09-28 13:55] jdreesen commented on #6371
I think this was closed by mistake from #10423.

[2021-09-28 13:59] #8149 closed

[2021-09-28 14:10] brusch commented on #6371
@dvesh3 Version delete see: #9755

[2021-09-28 14:41] dvesh3 commented on #10424
Fixed by #10433

[2021-09-28 14:41] #10424 closed, assigned to nobody

[2021-09-29 02:35] jonathantyar commented on #10431
![image](https://user-images.githubusercontent.com/19704585/135193281-a1318269-05d7-4d26-9b17-78a2e29e8680.png)
@dvesh3 thanks for the response, the folder structure is something like this, the problem only occur when there's an image inside the folder, am i missing some additional tools? https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/System_Setup_and_H

[2021-09-29 06:57] dvesh3 commented on #10431
@jonathantyar I tried with image inside the folder but couldn't reproduce the issue. It is more seems like the file permissions issue. please verify if you have correct permissions on `/var` folder https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/System_Setup_and_Hosting/File_Permissions.html

[2021-09-29 07:05] HaaseIT opened #10443 "[Bug]: Required fields in Blocks fail serverside check"
### Expected behavior

In more complex sites, validating required fields within block elements fails.

This is checked in:
vendor/pimcore/pimcore/models/Document/PageSnippet.php:664

Here, we get the list of used editable names. The issue is that, for some block elements, a non-existing ediable name is added with the number of 1000000

I have come so far, as to see, this is added in:
vendor/pimcor

[2021-09-29 07:10] HaaseIT commented on #10443
![EditableNameEvent](https://user-images.githubusercontent.com/7584444/135220130-054aeb00-7215-47a6-8247-53dab982a307.png)
![editableNames](https://user-images.githubusercontent.com/7584444/135220133-70983332-03fb-4625-9470-d015cc937e8c.png)
![pageEditables](https://user-images.githubusercontent.com/7584444/135220135-2b27db0c-9dc8-4bdf-93cb-0e60d2628750.png)

[2021-09-29 07:17] jonathantyar commented on #10431
@dvesh3
could you please check the permission? already run the command that pimcore provided

![image](https://user-images.githubusercontent.com/19704585/135220253-6579ff59-a276-4333-95bb-f687838b66da.png)
public folder

![image](https://user-images.githubusercontent.com/19704585/135221048-636a5177-f4d8-445a-9546-4fe1afbc9a78.png)
root folder

[2021-09-29 07:47] HaaseIT commented on #10443
Also interesing, in:
vendor/pimcore/pimcore/models/Document/Editable.php
the block stage_image actually comes up twice in debug, so, the .1 and the .1000000 are actually seen as seperate blocks.
![editableIndexFirst](https://user-images.githubusercontent.com/7584444/135225451-89de3cad-3b57-4245-ab3a-ce7a49655250.png)
![editableIndexSecond](https://user-images.githubusercontent.com/7584444/13522545

[2021-09-29 08:37] HaaseIT commented on #10443
Another observation:

When I debug the twig template, the content of the for loop is always run twice:

[code]

When I set a breakpoint in the {% set foo = 1 %} line, it is caught twice when saving the document.

[2021-09-29 09:19] kanevbg opened #10449 "BC Support: please provide the Pimcore's PHP Templating plugin to the comunnity."
### Improvement description

It is not cool to leave the community without that bridge when you have it as it makes the upgrade **of the CORE** harder as it is big BC. This in result will lower the upgraded installations significantly I believe, and this is bad for the core and the pimcore community as whole. Please consider to make it available for the community.

[2021-09-29 09:34] brusch commented on #10449
Sorry, first of all this is not the right place -> moved to Discussions.
Second, as every product we have to evolve as well and so we did. Actually, if you take it exactly, it was Symfony's decision to drop PHPEngine support 😉

Anyway, we are aware that this is a huge change, therefore we did this as part of a major release and for our enterprise-grade customers we're offering the PhpEngine as par

[2021-09-29 09:35] #10449 closed, assigned to nobody

[2021-09-29 09:36] weisswurstkanone commented on #10418
If I see it correctly there was a change in 6.8.12. See https://github.com/pimcore/pimcore/pull/8504

[2021-09-29 12:23] HaaseIT commented on #10443
So, to me it looks, as if serverside validation of pages is broken, whenever pimcore_block() is used.

Nobody notices though, since this is usually not done, because the request usually has the missingRequiredEditable parameter in POST data.

For some reason, on some of my prod pages this parameter is not sent with the request, hence I encounter this issue.

I do wonder, why is this usually omitte

[2021-09-29 12:46] HaaseIT commented on #10443
One more thing, the missbehaving pages have all been created in Pimcore 6.9, new pages skip serverside validation.

In table: documents_page, column: missingRequiredEditable
6.9 pages have NULL
10.1 pages have 0

One (null) triggers serverside validation, the other not.

[2021-09-29 12:56] HaaseIT commented on #10443
Since I don't know the motives for how this is done, I cannot really come up with a fix here. Maybe if I had a quick chat/talk with someone who knows the motives, I could make a PR to fix this.

@brusch  or one of your colleagues, maybe you could have a quick chat with you?

[2021-09-29 13:43] #10418 closed, assigned to weisswurstkanone

[2021-09-29 14:25] puecher opened #10459 "[Bug]: User with only List and View permissions can not see Documents Editables"
### Expected behavior

![grafik](https://user-images.githubusercontent.com/3795812/135287767-c699d8cb-ae2e-440d-8a3a-b5133878e078.png)

### Actual behavior

![grafik](https://user-images.githubusercontent.com/3795812/135287821-eba1cee4-5b50-4d56-8348-fc5c9e2a699f.png)

### Steps to reproduce

Login as a normal user with List and View permissions, open a Document and click on Preview. Same behavior

[2021-09-30 02:16] jonathantyar commented on #10431
@dvesh3 if it's because permission issue, why other file besides image can be restored? like mp4 and zip

[2021-09-30 06:25] jonathantyar commented on #10431
@dvesh3 seems problem with our s3 iam roles, since using local flysystem only for recyclebin seems working fine, closing this issue. thank you

[2021-09-30 06:25] #10431 closed, assigned to nobody

[2021-09-30 10:41] thgross opened #10465 "[Bug]: System Settings / Debug: Mail is only sent to the last address in the comma-separated list"
### Expected behavior

In Debug Mode, mails should be sent to every address that is configured under System Settings / Debug / Debug Email Addresses (CSV).

Also, debug mails should not be send to cc- or bcc-recipients.

### Actual behavior

In Debug Mode, mails are only sent to the last address in the list.
The mail is sent to cc- and bcc-recipients.

### Steps to reproduce

1. in "System Setting

[2021-09-30 11:31] apokalipscke opened #10467 "[Improvement]: Update Screenshot(s)"
### Improvement description

https://github.com/pimcore/pimcore/blob/9a5b9adef0889af8fdade11ff3254ff80c47dd6a/doc/Development_Documentation/19_Development_Tools_and_Details/25_Email_Framework/README.md#L59

Among other screenshots, this one also contains errors. The screenshot seems to be quite old and contains incorrect information.

In this example the way placeholders (variables) are specified

[2021-09-30 11:34] brusch commented on #10467
@apokalipscke if you could contribute on this, that would be very nice 😉 PRs are quite simple and help us a lot in getting further. Thanks in advance! 😊

[2021-09-30 11:35] matthiashamacher opened #10468 "[Bug]: Options Provider slow down open process of object"
### Expected behavior

Objects open within a reasonable timespan regardless of the configuration.

### Actual behavior

Opening an object takes more than 20 seconds when multiple option providers are configured and result in many possible options.

### For context
We previously had problems with option providers because they make the opening process much slower. Therefore we implemented caching in

[2021-09-30 11:38] brusch commented on #10468
Would be nice if you could debug this and provide a fix as a PR - since that's quite hard for us to reproduce and you have an actual case running 😊 Thanks!

[2021-09-30 12:06] NiklasBr commented on #10468
Agree that it is not optimal, it appears that the OptionProvider is called at least twice, sometimes more, for each field on opening an object. We partially worked around it with a static option:

[code]

[2021-09-30 18:17] solverat opened #10474 "[Bug]: Wrong Content In Editable Dialog Box"
### Expected behavior

A correct editable dialog should open, even after replacing the brick at the same index.

### Actual behavior

First placed brick dialog config shows up, even if I'm replacing it.

### Steps to reproduce

Screen Capture
![](http://g.recordit.co/3pC4wqZZaJ.gif)

[2021-09-30 21:09] Yivan opened #10475 "[Feature]: Running grid export on cli"
### Feature description

Hello,

Having the possibility to trigger grid export form cli command would be a nice addition to fill the missing export feature with open-source capabilities (please see here for more details: https://github.com/pimcore/data-importer/issues/98).

There is already a partner extension which provides this possibility : https://github.com/DivanteLtd/pimcore-scheduled-export

[2021-10-01 05:00] kumar2112 opened #10476 "[Bug]: Pimcore Email Template Is Not Working. Showing Memory Leakage"
### Expected behavior

I have created a mail template and and set some parameter which are replaced in mail template . All things are set .
`        $params=['name'=>'Praveen'];
        $mail = new \Pimcore\Mail();
        $mail->to('praveen.jha@credencys.com');
        $mail->setDocument("/Emails/test");
        $mail->setParams($params);
        $mail->send();`
Above is my code  Below is my  Tem

[2021-10-01 06:42] fashxp commented on #10475
we would love to merge PRs for that.

[2021-10-01 06:53] michaelclaesson opened #10477 "[Bug]: Versions data can not be properly restored"
### Expected behavior

When I have two or more versions of an asset I'm expecting to be able to both preview the version (if an image) or publish the older one. I'm also expecting the versions to have different file data.

### Actual behavior

Right now it displays the same image when previewing and if I try to publish an older version of an image I get an error message and if it's a PDF file the

[2021-10-01 08:17] milesimarco commented on #10373
Same problem here with XAMPP on Windows, PHP version `8.0.9`

[2021-10-01 08:21] brusch commented on #10373
We're not officially supporting Windows, however of course we'd merge a PR that fixes the issue.
Thanks for your understanding & looking forward to a PR.

Please also consider #10201 which tried already to fix that.

[2021-10-01 08:21] #10373 closed, assigned to nobody

[2021-10-01 09:35] #9755 closed, assigned to dvesh3

[2021-10-01 09:38] dvesh3 commented on #10476
@kumar2112 what makes you think that there's a memory leakage in `Document\Service::render`? sorry, i'm missing the point here.

[2021-10-01 09:40] #10459 closed, assigned to nobody

[2021-10-01 09:41] dvesh3 commented on #10476
please check if you are not the using the `defaultAction` for email document, which might then lead to circular reference.

[2021-10-01 09:59] kumar2112 commented on #10476
I think $content is holding a value out of limit. . you can use dum before or after the $content

[2021-10-01 10:02] kumar2112 commented on #10476
I have also checked the default mail

[2021-10-01 11:28] MarcW09 opened #10482 "[Feature]: Batch Edit for Selects with OptionsProvider"
### Feature description

Hello, we have noticed, that we cant batch edit select fields with a defined Options Provider Class like normal select fields with static options. Is it because of the dynamic options or are there other reasons?
Batch edit option for normal selects:
![normal_select](https://user-images.githubusercontent.com/91049331/135612300-5974058e-8a6f-40dc-9671-ffbe94025dce.png)
No ba

[2021-10-01 13:53] fashxp opened #10483 "[Bug][DataObject][Search] Filter for object brick attributes does not work"
### Expected behavior

can filter for object brick attributes in search grid

![image](https://user-images.githubusercontent.com/8792145/135631680-b90e6305-b196-4e40-9c60-d0de71ee3bb9.png)

### Actual behavior

Error message: e.g.

[code]

### Steps to reproduce

- Open Search Dialog
- Select data object class with object bricks, e.g. Cars class
- Add object bricks fied to grid via grid configurat

[2021-10-02 12:04] skoch98 commented on #10482
This already works. You need to return true on the "hasStaticOptions" method:
See: https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Data_Types/Dynamic_Select_Types.html

But be careful the Option-Provider returns options based on the object context.

For exmaple:
Let's assume we have an option provider to output HP/PS values of a car.
The car with the manuf

[2021-10-02 14:25] matthiashamacher commented on #10468
Yeah, that's why we implemented caching. But since version 10.1.3 it doesn't seem to work anymore.

My current guess is that it is because of this change: https://github.com/pimcore/pimcore/pull/10277 but I will have a closer look at it next week.

[2021-10-04 06:27] #10482 closed, assigned to nobody

[2021-10-04 08:00] brusch commented on #8197
We've decided to implement this feature in a bundle, all necessary core changes have been made (#9816), so I'll close this ticket here.

[2021-10-04 08:00] #8197 closed

[2021-10-04 08:04] brusch commented on #6371
Alright, seems we are done here for now 😊🎉 (more to come 😉)

[2021-10-04 08:04] #6371 closed

[2021-10-04 09:41] #10398 closed, assigned to brusch

[2021-10-04 09:46] brusch commented on #10483
Fixed by #10490

[2021-10-04 09:46] #10483 closed, assigned to nobody

[2021-10-04 09:46] Ibrahim1238 commented on #6068
you have to change your CURRENT_USER to be root or your right user name  in the database

[2021-10-04 10:06] brusch commented on #10476
Would be nice if you could debug this and provide a fix as a PR - as we're not able to reproduce this issue on our side - thanks 😊

[2021-10-04 10:06] #10476 closed, assigned to nobody

[2021-10-04 10:10] brusch commented on #10468
Yes, I think @NiklasBr proposed solution is best in that case, but I'd say this should be up to the developer to decide whether the options should be cached or not.

[2021-10-04 10:11] brusch commented on #10465
Fixed by #10494

[2021-10-04 10:11] #10465 closed, assigned to nobody

[2021-10-04 10:16] brusch commented on #10239
Fixed by #10319

[2021-10-04 10:16] #10239 closed, assigned to weisswurstkanone

[2021-10-04 10:55] matthiashamacher commented on #10468
@brusch Why did you close the issue?
I totally agree that it should be the decision of the developer what to do, but as we already use caching and it does not work anymore since 10.1.3 there is obviously a bug. Therefore this is still an open topic.

[2021-10-04 11:57] brusch commented on #10468
Can't see any issues with the cache, at least it's not reproducible for me.
So from our side we not going to further work on this. I can reopen it, but we'd have to wait for a PR then.

[2021-10-04 12:07] M-Ali-Aziz commented on #6068
Thanks for your reply @Ibrahim1238
Could you please explain more how do you mean by changing the CURRENT_USER to be root !?
I mean to get the redirection work!

[2021-10-04 12:20] Ibrahim1238 commented on #6068
**first you have to clear the cache and load the page Strg + F5**  for your dump maybe the user for some segments 'plugin_cmf_segment_assignment' has been changed
where you store your data base you have **only xampp or aws or azure ....**

[2021-10-04 12:42] M-Ali-Aziz commented on #6068
I'm not using CMF in this project !!
Any way I'll clear the cache and load the page late and test.
Thank you!

[2021-10-04 12:46] Ibrahim1238 commented on #6068
your welcome

[2021-10-04 12:55] ckemptner opened #10498 "Country not displayed in grid view of data objects"
### Expected behavior

Country displayed

### Actual behavior

![image](https://user-images.githubusercontent.com/13643455/135855156-ab4bc4bb-8346-472a-bf12-512732864866.png)

### Steps to reproduce

Go into the demo, add a country field to object class, open grid view

[2021-10-04 23:47] MagPim commented on #5361
Same question…

[2021-10-05 07:16] NiklasBr commented on #5361
No, it has not improved in Pimcore X, `doctrine/dbal` is still at 2.x which is the affected version:

https://github.com/pimcore/pimcore/blob/e105061a46008e091dd61bf361ee6079b9d95a71/composer.json#L55

Symfony is compatible with 3.x, see for example:

https://github.com/symfony/cache/blob/945bcebfef0aeef105de61843dd14105633ae38f/composer.json#L37

https://github.com/symfony/lock/blob/a78fda52b1b6f

[2021-10-05 07:20] fashxp commented on #5361
see https://github.com/pimcore/pimcore/pull/8618

[2021-10-05 07:56] MagPim commented on #5361
Thanks for your reponse, even though I don't like it...

[2021-10-05 07:58] brusch commented on #5361
@MagPim well yes, we neither, but you can help the guys at Doctrine to speed things up 😉

[2021-10-05 08:39] abhisheksingh-pimcore opened #10501 "[Bug]: Same action "Save" behaving differently through "Button Click" and through Shortcut keys."
### Expected behavior

The same action should get fired even we are doing it through "Button Click" or through "Shortcut-Keys".

### Actual behavior

Different actions get fired for "Save" through  "Button Click" and "Shortcut-Keys".

### Steps to reproduce

Hi All,

I am facing one issue. When I tried to save an object through "**_Button click_**" it fires the event  "**_Save?task=version_**".

!

[2021-10-05 08:52] dpfaffenbauer commented on #5361
@brusch doctrine/orm 2.10 is now compatible with dbal 3: https://github.com/doctrine/orm/releases/tag/2.10.0

[2021-10-05 09:03] brusch commented on #5361
That's nice, but doesn't help ... `doctrine/migrations` is still not compatible with `3.0`.

[2021-10-05 09:07] dvesh3 commented on #10498
Fixed by #10499

[2021-10-05 09:07] #10498 closed, assigned to weisswurstkanone

[2021-10-05 09:17] dpfaffenbauer commented on #5361
🤭  s**t. Will further monitor the progress of migrations and let you know once they update too.

[2021-10-05 09:28] brusch commented on #5361
See also doctrine/migrations#1198

[2021-10-05 11:24] matthiashamacher commented on #10501
@abhisheksingh-pimcore I just tested it myself and actually I think this is the correct and intended way.

If you have the object not published yet and use the shortcut it sends unpublish which creates a new version but does not publish the object. If you have published the object and save it sends publish because otherwise it will create a new version but does not publish that version. As this is

[2021-10-05 12:23] abhisheksingh-pimcore commented on #10501
@matthiashamacher  "**_Save"_** and "**_Save and Publish_**" buttons are different. I am talking about only the "**_Save_**" button.

Either product is published/unpublished, when we click on "**_Save Button_**" it fires  "**_Save?task=version_**".

In shortcut-keys it says "Ctrl S" is for Save, when we click "Ctrl S" it should also fire the "**_Save?task=version_**".

[2021-10-05 12:56] MaximilianZschock opened #10503 "[Bug]: DAM - select a saved grid configuration does not work in File-ListView (Dropdown menu)"
### Expected behavior

After selecting a folder [DAM/Assets] and switch the view to "List", I want to change the grid configuration to a saved view.

### Actual behavior

![select_saved_grid_view](https://user-images.githubusercontent.com/70199060/136025178-ff893c95-d9d5-4776-b25f-9fb7a906e7b7.png)

The user is not able to select saved "Grid Options".

### Steps to reproduce

1. Select a folder
2.

[2021-10-05 13:35] solverat opened #10504 "[Bug]: Global Twig Variable "editmode" does not exist."
### Expected behavior

Rendering partials should always be possible.

### Actual behavior

If you're using the delegated templating engine before the `KernelEvents::CONTROLLER` state, additional renderings will fail (if variable `editmode` is given).

### Steps to reproduce

Stupid example but easy to reproduce: Use this class, create any object and try to save:

![image](https://user-images.githu

[2021-10-05 13:38] solverat commented on #10504
Of course, this also counts for the global variable "document".

[2021-10-05 13:43] brusch commented on #10504
Well, this variables are not available at this point .. so what to do?
I'd say just not use them in this context ...

[2021-10-05 13:49] solverat commented on #10504
"not use them in this context": In my example, the exception occurs while rendering the email template, which is definitely allowed to use variables like `editmode` or `document`. You then should say "It is not possible to render partials before any controller dispatches" which is a difficult statement, but that's my personal opinion of course.

[2021-10-05 14:15] brusch commented on #10504
Well, PRs "fixing" that without any side-effects (see the reason why it's currently implemented as it is) are always welcome 😉 I just wanted to share that this is currently by design as it's not that easy and that we're not gonna work on that anytime soon.

[2021-10-05 14:21] dpfaffenbauer commented on #10504
maybe `KernelEvents::REQUEST` could resolve it? that is the first event triggered by symfony. controller event would be the next.

[2021-10-05 14:32] brusch commented on #10504
That's where it was before ... with other issues, e.g. see: #5905 and some other things ... can't find them right now. But like I said, not that easy and kind of a chicken or the egg problem. The current implementation is kind of a "least pain" solution, even if it has it's drawbacks.

In this particular case it could help to check the status of the templating engine and do the emailing later on,

[2021-10-05 14:37] brusch commented on #10474
Fixed by #10497

[2021-10-05 14:37] #10474 closed, assigned to dvesh3

[2021-10-05 14:41] brusch commented on #10504
A kind of a hacky way would be to add the global variables already with some default values on `KernelEvents::REQUEST` and then override them on controller - not nice, but would solve this particular issue.

[2021-10-05 14:57] blankse commented on #10504
You can use also a service as global variable: https://symfony.com/doc/current/templating/global_variables.html#referencing-services

So you can create an global Pimcore Object, but than the templates must call `pimcore.document`, `pimcore.editmode`. Maybe an idea for Pimcore 11 or additionally.

[2021-10-05 15:01] brusch commented on #10504
I'll quickly create a PR with the hacky way, maybe someone can test it in detail.

[2021-10-05 15:09] NiklasBr opened #10506 "[Bug]: Manual pimcore_areablock() broken when in pimcore_block()"
### Expected behavior

When working with the following structure:

[code]
We expect the loop to work. This was working in Pimcore 6.9.

### Actual behavior

It throws an error:

### Steps to reproduce

This does no longer work:

[code]

But this does:

[code]

[2021-10-05 15:09] brusch commented on #10504
Here we go ...
@solverat can you please check & confirm #10505 thanks!

[2021-10-05 15:19] brusch commented on #10504
@blankse service: yep, nice idea - would make things a lot easier and elegant.

[2021-10-05 17:05] matthiashamacher commented on #10501
@abhisheksingh-pimcore Yeah I understand but if you have already published you have no single save button, therefore publish is ok. And if the object is not yet published "CRTL + S" will result in "save?task=unpublish" which only additionally set published to false which is no problem as it is not yet published.

**Published**
![CleanShot 2021-10-05 at 18 54 29@2x](https://user-images.githubuserco

[2021-10-06 06:38] matthiashamacher commented on #10468
I looked at this issue and found the change which causes the long loading time. It is this PR #10241 which is a fix for #10238
After some debugging, I found out that it is caused because now there is the possibility that `$translationTerm` is empty when adding to the catalogue (https://github.com/pimcore/pimcore/blob/10.x/lib/Translation/Translator.php#L224). As soon as I change to the following e

[2021-10-06 06:45] #10506 closed, assigned to nobody

[2021-10-06 06:46] NiklasBr commented on #10506
Turns out it *probably* was the Pimcore 6 code which was the culprit. It created bad data in the database which in turn triggered the error in Pimcore X.

[2021-10-06 08:09] dvesh3 commented on #10503
Fixed by #10507

[2021-10-06 08:09] #10503 closed, assigned to nobody

[2021-10-06 08:49] roland4432 commented on #10048
Your suggestion to go with
[code]

is already live, but the endless loading is still not fixed by this.

https://user-images.githubusercontent.com/16651237/136170541-3e1a4afe-cbe6-44d9-aad4-34c6dcf72bc4.mp4

Sadly, I cannot recreate the bug in my local dev system, since I get this error:

![image](https://user-images.githubusercontent.com/16651237/136170717-ba4873c9-1539-4019-9bc4-35e7bf0a55c4.png

[2021-10-06 09:06] abhisheksingh-pimcore commented on #10501
@matthiashamacher that is my concern. If the product is unpublished clicking on the "Save" button and "Shortcut-key" for saving "Ctrl-S" should fire the same action "Save?task=version".

In the case of **_published_** also If you will see/click on the arrow icon on "**_Save & publish_**" button it will open the menu and in this menu, you will find the save menu and once click on that manu, that wi

[2021-10-06 09:24] #1452 closed

[2021-10-06 11:17] dpfahlbusch opened #10517 "[Bug]: Sorter for groups in classificationstore is still not considered"
### Expected behavior

Groups are sorted via sorter

### Actual behavior

Groups are sorted via internal id

### Steps to reproduce

1. Go to demo.pimcore.fun
2. Create ClassificationStore, add groups and keys with sorters
3. Add Group to an object
4. Groups is sorted via sorter
5. Save and reload object
6. Groups are sorted via internal id

[2021-10-06 13:25] ghost commented on #5007
Hi @brusch , yes we can reproduce the same behaviour with v10.1.1
We would appreciate it very much if you could put this issue onto the agenda

![image](https://user-images.githubusercontent.com/68632142/136211086-8f9c8c82-a09d-4694-891f-3aa9a32df9a7.png)

![pimcore_video_preview](https://user-images.githubusercontent.com/68632142/136210925-8367d80e-e0e0-499e-acd3-5abfb7dc7133.png)

[2021-10-06 14:23] #10371 closed, assigned to nobody

[2021-10-06 15:56] matthiashamacher commented on #10501
@abhisheksingh-pimcore Yeah you are right. I haven't thought about the other shortcuts regarding publish and unpublish. I've created a PR that changes the logic so `save?task=version` is triggered.

[2021-10-06 17:38] matthiashamacher commented on #10008
@LarissaBl I cannot reproduce the issue in the demo. Does the issue still exist in the newest version?

[2021-10-07 07:39] brusch commented on #5007
@Silverado2791 have you tried #8335 and #8377 ? Or just go on `10.1.x-dev` - Thanks!

[2021-10-07 08:47] danielerne opened #10524 "[Improvement]: Default Value for Bool in Advanced ManyToMany Relation Column"
### Improvement description

Currently it is not possible to set a pre checked Bool value in an Advanced ManyToMany Relation.

[2021-10-07 12:34] jdreesen commented on #9330
Aaand it's closed again without being completely done :wink:

[2021-10-07 12:44] brusch commented on #9330
@jdreesen 😁 Thanks

[2021-10-07 12:52] brusch commented on #10501
The original intention was that `Ctrl+S` is a shorthand for the main save action in the UI, so whatever is the green button get's triggered by `Ctrl+S` as well, so that it saves the data, but doesn't change the status of the element.
I think we should keep that as it is and don't change that within a minor version, I'd assume most user would expect that behavior when saving an element.

[2021-10-07 12:52] #10501 closed, assigned to nobody

[2021-10-07 13:50] brusch commented on #8089
#9758 needs to be solved first. The thing is that children are getting deleted as well during the transaction, which can't be atomic in the current implementation:
https://github.com/pimcore/pimcore/blob/5f9c86682639403f22475bf5dc11758d962ba9fd/models/Asset.php#L1005
https://github.com/pimcore/pimcore/blob/c6263b315cb06e75037e9484aeed9635cf8feb6d/models/Document.php#L766
https://github.com/pimcore

[2021-10-07 14:02] brusch commented on #7790
Done by referenced PRs above.

[2021-10-07 17:40] NiklasBr opened #10530 "[Bug]: Server file explorer does not expand to full height"
### Expected behavior

Content should expand to use the full height of the available view-port.

### Actual behavior

![image](https://user-images.githubusercontent.com/279826/136435835-5a848051-87cf-4f40-b240-80cb07a4e2ca.png)

### Steps to reproduce

Open any file in *Server File Explorer*

[2021-10-07 18:09] matthiashamacher commented on #10317
After some debugging and looking into the installer I found the [following comment](https://github.com/pimcore/pimcore/blob/10.x/bundles/InstallBundle/Installer.php#L375) which explains why this is not working:
[code]

Setting the environment via APP_ENV works as expected:
`APP_ENV=test ./vendor/bin/pimcore-install`

[2021-10-07 18:09] #10317 closed, assigned to nobody

[2021-10-08 08:17] NiklasBr opened #10533 "[Bug]: Unrecognized option "webp_auto_support" under "pimcore.assets.image.thumbnails"."
### Expected behavior

Following [the documentation](https://pimcore.com/docs/pimcore/current/Development_Documentation/Assets/Working_with_Thumbnails/Image_Thumbnails.html#page_WebP-Support) we should not have WebP images generated by the server.

### Actual behavior

We get the following Symfony error:

### Steps to reproduce

In `config.yaml` set:
[code]

[2021-10-08 08:30] jerem-eng opened #10534 "[Bug]: assets versionning doesn't work"
### Expected behavior

Hello,

i'm on pimcore version 10.1.4 and i have some trouble with the assets versionning.

i upload an asset picture.

then i draw on this image and save.

this will be create a new version of the assets and i will be able to navigate between my two versions of assets
 one is the original asset and the second is the original with a draw.

then i will be able to publish an o

[2021-10-08 08:43] dvesh3 commented on #10534
duplicate of #10477

[2021-10-08 08:43] #10534 closed, assigned to nobody

[2021-10-08 08:50] fashxp commented on #10468
@dvesh3 maybe you have an idea?

[2021-10-08 08:53] dvesh3 opened #10535 "Remove ChildsCompatibilityTrait"
### Improvement description

Related to https://github.com/pimcore/pimcore/pull/10527

[2021-10-08 09:25] brusch commented on #10533
@NiklasBr this config option was removed in #7661 because it wasn't necessary anymore.
As the docs say, this config option was just about the `<img>` tag:

So if the `Accept` header did have `webp` in it, Pimcore delivered the `<img>` tags with `WebP` otherwise the original configured format.

[code]

But we can think about configuring the available image formats if format is `auto`.
Especially as

[2021-10-08 09:30] NiklasBr commented on #10533
You did not mention this in the upgrade docs or the change logs. Why? Webp is not possible for us to use at the moment because the Imagemagick delegate/transforms have too many bugs so we need to disable it on the server level.

[2021-10-08 09:38] brusch commented on #10533
@NiklasBr you right, I've just noticed that as well. I'm sorry, I've probably totally missed that one - I'm only human 🤷‍♂️

[2021-10-08 09:45] brusch commented on #10533
@NiklasBr here's the promised fix for the format support check: #10537 maybe this helps you with your issue.

[2021-10-08 09:55] NiklasBr commented on #10533
Testing it now

[2021-10-08 10:31] dvesh3 commented on #10468
@matthiashamacher Hi, could you please share your OptionsProvider implementation? It seems that you are using translator for option keys along with some caching, so we need to replicate the same scenario to debug the issue. thanks!

[2021-10-08 10:39] brusch commented on #10533
@NiklasBr btw. which kind of bugs you're facing? I'm not really aware of any major issues with WebP and Imagick - thanks for sharing.

[2021-10-08 10:46] NiklasBr commented on #10533
We are configuring ImageMagick 7 with: `./configure --enable-shared --with-tiff=yes --without-webp` (see https://github.com/ImageMagick/ImageMagick/blob/7df9e19ff93984991b768f763aaeb661ed07c43a/configure.ac#L2797) and `Thumbnail::supportsFormat('webp')` still reports `true` here. Maybe need to do something else?

We have experienced two issues:

- JPEGs and TIFFs which are smaller than the `@2x` m

[2021-10-08 10:47] brusch commented on #10533
@NiklasBr hmm, interesting, it's also still listed in `phpinfo()` I'd assume, right?
Please also check your `delegates.xml` and remove all `webp` related entries.

[2021-10-08 11:49] NiklasBr commented on #10533
`[Pimcore\Image\Adapter\Imagick::checkFormatSupport()](https://github.com/pimcore/pimcore/blob/10.x/lib/Image/Adapter/Imagick.php)` succeeds in writing a valid WEBP image (at least it starts with `RIFF` before its binary data) despite the above and below configuration.

[code]

[code]

[2021-10-08 11:56] brusch commented on #10533
@NiklasBr what about the `delegates.xml`? Is `webp` binary installed on the system?

[2021-10-08 13:42] matthiashamacher commented on #10468
@dvesh3 Sure thing. You can find the cache service and an options provider in the following gist: https://gist.github.com/matthiashamacher/3e03541b7b04bbb12c7cf285256cc401
All other options providers are built the same just querying different tables and fields. We aren't using direct translator calls in the option provider, but the [calls come from the javascript](https://github.com/pimcore/pimcor

[2021-10-08 14:42] ascheider commented on #3736
@brusch it seems the relations are still not lazy loadable in localized fields, right?

[2021-10-11 08:11] brusch commented on #10504
Fixed by #10505

[2021-10-11 08:11] #10504 closed, assigned to nobody

[2021-10-11 08:13] dvesh3 commented on #10530
Fixed by #10546

[2021-10-11 08:13] #10530 closed, assigned to dvesh3

[2021-10-11 08:15] #10533 closed, assigned to nobody

[2021-10-11 09:04] NiklasBr opened #10549 "[Bug]: Verbose pimcore:thumbnails:image with >1 process generates the same thumbnail/log twice?"
### Expected behavior

Any time more than one process is executed each process should not duplicate the other process' work and should instead process its own data.

E.g. splitting the list [1,2,3,4,5,6,7] on two processes each process should get about half: [1,2,3,4] to one and [5,6,7] to the other. Either this split is not happening properly or (more likely) the verbose logging output does not t

[2021-10-11 10:06] seybsen commented on #1006
Where to vote for this feature?

[2021-10-11 12:28] solverat opened #10550 "[Bug]: Mail Issues"
### Expected behavior

Mail exception handling works properly. Correct newsletter mailer in test mode has been defined.

### Actual behavior

The opposite of the expected behavior...

### Steps to reproduce

## Wrong exception management
This array never gets populated (btw a count() > 0 would be the nicer approach to check against population)
https://github.com/pimcore/pimcore/blob/2e71f2ac4eb74c

[2021-10-11 13:30] ascheererEberbach commented on #10048
Hi Roland,

did you test FFMPEG on the command-line of your local system?
When I had >your< error, FFMPEG was also killed on the command-line because of a memory-limit which was too small.
After setting it to 1GB locally, I was confrontend with the described one :).
On the server, we have about 4GB memory-limit.

Greetings

Alice

[2021-10-11 13:57] Brainshaker95 commented on #10415
Can someone confirm that this is indeed a bug and if my fix is viable? I would glady add a PR if someone acknowledges this issue.

[2021-10-11 14:35] brusch commented on #10533
@NiklasBr #10554 should solve your use-case.

[2021-10-11 15:02] ascheererEberbach commented on #10048
Hi Roland,

look in the var/log-folder. Are there some files with FFMPEG in the name? Take the code inside and paste it to your command-line. Then you have the command which is sent by Pimcore to FFMPEG via PHP. If there aren't files, you have to get the FFMPEG-Adapter to log the command.
It this command gets killed on the command-line, you have to increase the memory-limit.

Grretings

Alice

[2021-10-12 07:13] dvesh3 commented on #10443
@HaaseIT thanks for your findings!

`block:1000000` entries are generated for handling block editables without reload on documents as these gets parsed in javascript on rendering editables in editmode (see here https://github.com/pimcore/pimcore/blob/10.x/bundles/AdminBundle/Resources/public/js/pimcore/document/editables/block.js#L269-L289).

I tried reproducing the issue by creating documents in

[2021-10-12 07:16] HaaseIT commented on #10443
Dear Divesh,
as written further above, this only happens with documents migrated from pimcore 6.9, which have NULL in the DB as well as in the serialized object in the versions.

To reproduce, you need to change the fields value in both locations.

[2021-10-12 07:32] #9928 closed, assigned to nobody

[2021-10-12 08:06] dvesh3 commented on #10550
Fixed by #10556

[2021-10-12 08:06] #10550 closed, assigned to nobody

[2021-10-12 08:44] #9782 closed, assigned to brusch

[2021-10-12 12:01] NiklasBr opened #10565 "Missing languages in Admin Translation in Pimcore X"
### Expected behavior

After upgrading from 6.9.6 to 10.1.4 _at minimum_ all languages configured in System settings, and probably generally _all_ langaugse, should be available in *Admin Translations*

### Actual behavior

Some languages are missing:

![image](https://user-images.githubusercontent.com/279826/136952155-43326a74-8b97-4b94-a3cf-c603eb9e66dd.png)
![image](https://user-images.githubus

[2021-10-12 12:22] brusch commented on #10565
Why should a frontend language (system settings) be available as a admin/backend language?

[2021-10-12 12:25] NiklasBr commented on #10565
Because the top-most field in the fieldset says "Default language in the admin interface", suggesting that this has something to do with the admin backend language. Is that not correct?

[2021-10-12 12:31] brusch commented on #10565
But there you can only select from languages which are available for the admin interface, so basically those: https://github.com/pimcore/pimcore/tree/10.x/bundles/CoreBundle/Resources/translations

Maybe we need a divider in between the 2 language settings (frontend/admin) to better separate them 🤔

[2021-10-12 12:36] NiklasBr commented on #10565
Where did they go though? Was it a conscious decision to remove them? Can't see any mention that some languages were removed in Pimcore X in [the upgrade notes](https://pimcore.com/docs/pimcore/current/Development_Documentation/Installation_and_Upgrade/Updating_Pimcore/V6_to_V10.html).

[2021-10-12 12:43] brusch commented on #10565
As far as I'm aware this has been always the case:
Admin translations: only admin languages (used to translate labels, ...)
Shared translations: only frontend languages (used in the application)

[2021-10-12 12:46] NiklasBr commented on #10565
Oh well, I suppose we can import the languages from poeditor.com to see them again. Were they supposed to have survived the upgrade?

[2021-10-12 12:58] brusch commented on #10565
Here you can find how admin languages are being loaded:
https://github.com/pimcore/pimcore/blob/cd098f897bc36c415a18d471844e56753c86b7a6/lib/Tool/Admin.php#L55

[2021-10-12 13:06] MosiiAUT opened #10569 "[Bug]: [Document] Inherited video-editable (iframe/youtube) can't be overwritten"
### Expected behavior

- Inherited document with video-editable (filled with youtube-id) on it
- option to overwrite the video editable

### Actual behavior

- Inherited document with video-editable (filled with youtube-id) on it
- no interaction with video-editable possible, due to div-overlay with class "pimcore_iframe_mask"

### Steps to reproduce

- Create a template with a video-editable
- fi

[2021-10-12 13:07] MyZik opened #10570 "[Bug] [DataObject]: CSS width for a number field doesn't work for new classes"
### Expected behavior

Field width for a number should work

### Actual behavior

If we define the new class with a number field with a pre-defined CSS width, it doesn't work

### Steps to reproduce

1. Create a new class (ex. Currency)
2. Added a Number field(-s) to your class definition and give them a CSS width (ex. 80)
3. Create a new data object.
![Bildschirmfoto 2021-10-12 um 15 01 49](https

[2021-10-12 13:12] brusch commented on #10565
Hopefully clarified by #10568 😊

[2021-10-12 13:12] #10565 closed, assigned to nobody

[2021-10-12 13:19] brusch commented on #10477
Fixed by #10562

[2021-10-12 13:19] #10477 closed, assigned to dvesh3

[2021-10-12 15:51] dvesh3 commented on #10569
sorry, not able to reproduce the other issue.

[2021-10-13 06:14] matthiashamacher commented on #10468
@dvesh3 Any updates on this?

[2021-10-13 07:50] MercuryKojo opened #10578 "[Bug]: Editing a link in WYSIYWG field where the link was an object link does not work"
### Expected behavior

href of link should change

### Actual behavior

old href of object persists

### Steps to reproduce

1. highlight a text in a wysiwyg and drag an object that has a linkgenerator in its class definition and save -> link to the object is displayed correctly
2. edit this link to for example https://www.google.com and save -> link still points to the object

[2021-10-13 07:55] dvesh3 commented on #10468
@matthiashamacher Sorry, didn't get a chance to look at it, since we are preparing for Core and bundle releases scheduled for today. I will check this week or next.

[2021-10-13 07:57] #9547 closed, assigned to dvesh3

[2021-10-13 08:30] dpfahlbusch commented on #10517
There was an previous issue #10273 , maybe @dturopoli you have an idea?

[2021-10-13 09:22] mick340 opened #10579 "[Feature]: dataobject preLoad event"
### Feature description

![Screenshot 2021-10-13 at 11 26 33](https://user-images.githubusercontent.com/8590308/137106266-049a2f2b-26bc-476c-bb62-cd862c2dd148.png)

Is it possible to add a preLoad DataObjectEvent where you can perform logic on your data object before it is shown in the UI?

We try to populate certain values in our DataObject depending on DataObjects that have a relationship.

Exam

[2021-10-13 09:40] danielwierden commented on #10579
Having the same issue here, are there any plans to fix this?

[2021-10-13 10:16] dvesh3 commented on #10569
Fixed by #10572

[2021-10-13 10:16] #10569 closed, assigned to nobody

[2021-10-13 10:37] dturopoli commented on #10517
@dpfahlbusch I think that there was a misunderstanding, my fix only fixed sorting of keys inside a group.

[2021-10-13 12:47] akno77 opened #10584 "[Bug]: Snippet publish fails with required input fields"
### Expected behavior

If you have a snippet template with a required input field like

`{{ pimcore_input('test', {'required': true}) }}`

save & publish is successfull with filled out input.

### Actual behavior

An Exception is thrown:

_**Prevented publishing document - missing values for required editables**_

This error seems to occur only on the first "Save & Publish". If you have the input

[2021-10-13 12:59] #9330 closed, assigned to mcop1

[2021-10-13 13:01] jdreesen commented on #9330
<h3>:partying_face:</h3>

[2021-10-13 13:03] dpfahlbusch commented on #10517
Seems like the problem is that `this.activeGroups` in `bundles/AdminBundle/Resources/public/js/pimcore/object/tags/classificationstore.js` is an object instead of an array, so it always sorts the keys.
Maybe someone has a good idea :)

[2021-10-13 13:47] jdreesen commented on #10579
Another use case where a notification that an object was loaded would be useful is when you want to tag your responses with the objects used to build the page (in an HTTP cache like varnish), so that you can  ban the pages later on when one of the object changes, so the cache gets invalidated and rebuilt with fresh data.

[2021-10-13 14:46] dpfahlbusch opened #10587 "[Bug]: Undefined array_key"
### Expected behavior

Pimcore works

### Actual behavior

Pimcore doesnt work

### Steps to reproduce

1. Install plain pimcore 10.2
2. Open pimcore
3. Error, Undefined array_key 'default'

[2021-10-14 06:58] GaneshKandu opened #10590 "Warning: Undefined array key "avif" | Pimcore 10.2.0"
### Expected behavior

Pimcore install works

### Actual behavior

![OnPaste 20211014-122009](https://user-images.githubusercontent.com/12833130/137266556-d1de7f03-cc78-4883-8c20-715b2eab2b07.png)

Getting this issue while installing pimcore 10.2.0 on this command ``./vendor/bin/pimcore-install``

in file ``vendor\pimcore\pimcore\lib\Image\Adapter\GD.php`` line no 421

setting error_reporting  to

[2021-10-14 07:09] roland4432 commented on #10048
Hi,

thank you for the hint. The files in the var/tmp folder are created (<hash>.mp4), but there is no logging in the /var/log/[prod/dev].log. So the command is running and the files are created. Though, the error with the missing templates persist. Therefore I don't think it has something to do with memory limits in my local development system (The dev stage is running with a total of 4GB RAM, my

[2021-10-14 07:18] Humb3l commented on #9980
Are there any new findings on this topic?

[2021-10-14 07:23] Blackbam commented on #9980
@Humb3l Well I have solved it by overriding the class TranslationDebugListener with an empty class doing nothing:

This is my services.yaml:

[code]

This is of course not a solution to the problem, it is a hack which eliminates the debug listener essentially.

[2021-10-14 07:30] brusch commented on #10590
fixed by #10592

[2021-10-14 07:30] #10590 closed, assigned to brusch

[2021-10-14 07:33] Humb3l commented on #9980
@Blackbam

Ah okay, I have actually tried that as well. However, I run into an 'Symfony/Contracts/Translation/TranslatorInterface Service or alias has been removed ' error after logging in.

Have you stumbled across the same error?

[2021-10-14 07:38] mick340 opened #10593 "[Bug]: Reverse Object Relation not working for object bricks"
### Expected behavior

When using object bricks with a many to many relationship (we call it product group) inside a dataobject i expect to use a reverse object relation in  another data object (product) to show all product groups where the product is linked to.

### Actual behavior

When adding a reverse relation to the dataobject (product) it wont give me a option to select the correct owner fie

[2021-10-14 07:45] dvesh3 commented on #10587
Fixed by #10591

[2021-10-14 07:45] #10587 closed, assigned to nobody

[2021-10-14 07:45] sys4cad opened #10594 "[Bug]: Warning: Undefined array key "default" when accessing admin page"
### Expected behavior

admin UI

### Actual behavior

Just after completing Skeleton Package  installation.
( i.e. COMPOSER_MEMORY_LIMIT=-1 composer create-project pimcore/skeleton my-project )

I got follwing error when accessing /admin and put the correct password of admin user.
I've noticed that default [] [] is passed and followig lines got exeption.
`$config = $masterConfig[$name];`

Warning:

[2021-10-14 07:47] dvesh3 commented on #10594
duplicate https://github.com/pimcore/pimcore/issues/10587

[2021-10-14 07:47] #10594 closed, assigned to nobody

[2021-10-14 07:53] Blackbam commented on #9980
@Humb3l Nope - nothing like this.

My overriden class looks like this:

[code]

[2021-10-14 08:15] ascheider commented on #3009
@brusch i think not anymore. could not reproduce withe the current version. I guess you can close the issue

[2021-10-14 08:25] #3009 closed

[2021-10-14 08:25] brusch commented on #3009
@ascheider alright, thanks for your feedback!

[2021-10-14 08:29] NiklasBr opened #10596 "[Bug]: Hide/show button lacks status"
### Expected behavior

Clicking on the strike-through'd eye should toggle the buttons status (and and preferably there should also be a tooltip describing what it does).

### Actual behavior

Clicking on it works in that it will hide/show the brick once the content is saved, but it has no status indicator if it is actually on or off.

### Steps to reproduce

Click the eye in the button bar:
![imag

[2021-10-14 09:50] passioneight opened #10600 "[Bug]: Incorrect collation in column"
### Expected behavior

`SELECT * FROM object_url_slugs WHERE slug = '🐌';` will not cause any errors.

### Actual behavior

`SELECT * FROM object_url_slugs WHERE slug = '🐌';` causes `pimcore.ERROR: PDOException: SQLSTATE[HY000]: General error: 1267 Illegal mix of collations (utf8_bin,IMPLICIT) and (utf8mb4_general_ci,COERCIBLE) for operation '='`.

Relates to:
- https://github.com/pimcore/pimcore/i

[2021-10-14 10:20] solverat commented on #10345
@langert besides that your struggle is unrelated to this ticket: you need to register your bag via `pimcore.session.configurator` tag.

[code]

[code]

But I would suggest using the `$request->getSession()` method instead.

[2021-10-14 10:29] bitfactory-timon-vandermeulen opened #10601 "[Bug]: Cache breaks URL in Block Element"
### Expected behavior

We have a snippet comtaining multiple block elements which in case contain a link to another page. When you add a link to a page the link is defined as:

/[SITE_NAME]/nl/discover

On the frontend of the website the URL is then printed out as such:

/nl/discover

This depends on the site settings of which the main domain (or additional domain) should be the same as the visiti

[2021-10-14 10:32] milesimarco opened #10602 "[Bug]: Dynamic Text Labels - Twig mode"
### Expected behavior

Ref. "Dynamic Text Labels" doc page: [https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Layout_Elements/Dynamic_Text_Labels.html](pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Layout_Elements/Dynamic_Text_Labels.html)

Example from doc page:
![image](https://user-images.githubusercontent.com/3340185/

[2021-10-14 11:02] NikitchenkoSergey opened #10603 "[Bug]: Calculated Value: UI very small label width"
### Expected behavior

Label must have 100px width.

### Actual behavior

After create Calculated Value field in Data Object class Label has style="padding-right:5px;width:5px;"
Bug exists on  https://demo.pimcore.fun/admin/ : need create Panel in Car class, and create new Calculated Value field. ()
I check its on 10.2.1 and 10.0.9 - bug everywhere. Change field width or styles has no affect on la

[2021-10-14 11:12] dvesh3 commented on #10602
@milesimarco Hi, please make sure you enable source editing mode before writing any Twig syntax in html editor:
![image](https://user-images.githubusercontent.com/5137917/137306719-074dc59a-4a34-4a48-80bf-b7d8b59cebeb.png)

[2021-10-14 11:38] dvesh3 commented on #10602
Improved documentation with source edit mode example https://github.com/pimcore/pimcore/commit/ee87b2aae150cab3bf4ce98be7f3a2fbac8dc49b

[2021-10-14 11:38] #10602 closed, assigned to nobody

[2021-10-14 12:11] milesimarco commented on #10602
Still not working, already tried it.

![image](https://user-images.githubusercontent.com/3340185/137314401-8e99651e-180d-494a-976c-c3e4585317c4.png)

![image](https://user-images.githubusercontent.com/3340185/137314486-7ae10b77-1d01-4c86-8008-27405e5a4ec3.png)

(Ps. The documentation example image shows a wysiwyg editor)

[2021-10-14 13:00] NiklasBr opened #10604 "[Bug]: Domain input for URL Slug is hidden since Pimcore X"
### Expected behavior

All fields should be visible in the Ext JS interface.

### Actual behavior

The domain-specific URL Slug field (and its button is hidden:
![image](https://user-images.githubusercontent.com/279826/137320821-9510356f-2ef9-440f-86e2-f6d96fe98fe7.png)
![image](https://user-images.githubusercontent.com/279826/137321189-7be993c0-9f4c-4742-bd7c-8910f83b6239.png)

By manually adjust

[2021-10-14 13:03] nexus23 commented on #9980
I had the same problem
pimcore 10.0.8 to 10.2.1
the routine of _composer update_
adds some Symfony\Bundle in
config/bundles.php
why?
i deleted them and cache:clear
et voilá

[2021-10-14 13:13] dvesh3 commented on #10602
@milesimarco Please note this feature is introduced in version 10.2, so if you are using older then Twig syntax will not work. Could you please confirm if you are on latest version 10.2.0 or 102.1?

[2021-10-14 16:26] dpfaffenbauer opened #10608 "[Bug]: Install Static Route with two % since 10.2"
### Expected behavior

Static Routes containing two % sign that are installed via API don't work anymore. The Problem is that % is a reserved "keyword" for resolving dynamic parameters like env vars.  Installed route should look like (note that % is escaped with another %):

[code]

Resulting in following error:

[code]

### Actual behavior

[code]

### Steps to reproduce

[code]

[2021-10-14 16:27] dpfaffenbauer commented on #10608
Also I think that the definition name could and should be the route name. Route Names are unique anyway.... therefore it could be the identifier within the symfony config

[2021-10-15 01:13] sys4cad commented on #10594
@dvesh3  thanks a lot!

[2021-10-15 06:49] NikitchenkoSergey commented on #10603
Understood. If set Label width in Panel settings its works fine. I think this is not obvious behavior. It might be worth making the default width 100 for Calculated Value label.

[2021-10-15 07:27] dvesh3 commented on #9980
@Blackbam @Humb3l  @nexus23 @shaselboeck could any of you confirm if this PR https://github.com/pimcore/pimcore/pull/10612 fixes the issue? thanks!

[2021-10-15 07:39] brusch opened #10613 "[Improvement]: Doctrine DBAL v3"
Should fix #5361 as well.
Consider discussion here: #10648

See also: #12917

[2021-10-15 07:43] brusch opened #10614 "[Improvement]: Use package-manager (npm, ...) to install frontend dependencies"
3rd party frontend dependencies should be installed using npm and packed by [Encore](https://symfony.com/doc/current/frontend/encore/installation.html).

This includes all libraries **EXCEPT** ExtJS, because installing this via npm requires a registration at Sencha and is not very convenient.

Examples:
- Ace
- leaflet
- minipaint
- vrview
- Bootstrap (Ecommerce Bundle)

See also: #10606

[2021-10-15 08:09] dvesh3 commented on #10608
@dpfaffenbauer sorry, not able to reproduce with steps provided:
[code]
![image](https://user-images.githubusercontent.com/5137917/137452861-668ad20b-b6e6-468c-aa65-c4ce9e7b8001.png)

![image](https://user-images.githubusercontent.com/5137917/137454086-7cf7cd0e-d837-40bd-88d0-64c342764ba0.png)

[2021-10-15 08:15] solverat commented on #10608
%_locale is recognized by symfony that's why your simple example is working. just checkout your own examples from the documentation, they won't work anymore: https://pimcore.com/docs/pimcore/current/Development_Documentation/MVC/Routing_and_URLs/Custom_Routes.html

[2021-10-15 08:24] dpfaffenbauer commented on #10608
@dvesh3 my example is not right. It happens when you have two % signs in the config like:

[code]

Everything between the % signs is tried to be matched as parameter.

[2021-10-15 08:29] dvesh3 commented on #10608
@dpfaffenbauer I got the point now. thanks!

There could be routes with same name for multiple sites, so route name is not unique in that case.

It is still possible to set Id from API e.g., `$route->setId('coreshop_partial_cart_add');`.

[2021-10-15 08:33] brusch commented on #10608
Regarding the definition name, actually we can't use the name here, as it is possible to use the same route name for different sites 😉

[2021-10-15 08:51] fashxp opened #10615 "[Bug][Assets][Document] Don't try to recalculate page count if it failed once"
### Expected behavior

Try calculate page count just once, enter in failed state if not possible.

### Actual behavior

Calculates page count every time.

Can result in endless loop of messages if another listener tries to calculate image previews.

### Steps to reproduce

- Add asset update listener that calculates image previews
- Add document asset and make sure page count calculation fails (e.

[2021-10-15 08:51] fashxp commented on #10615
fixed via e47bbb9

[2021-10-15 08:52] #10615 closed, assigned to nobody

[2021-10-15 09:13] dpfaffenbauer commented on #10608
@dvesh3 @brusch didn't know that, thought they were unique. but good to know. Other than that, PR is done #10617

[2021-10-15 11:49] dvesh3 commented on #10603
Regression of https://github.com/pimcore/pimcore/pull/6895

[2021-10-15 12:39] CountZero1981 opened #10620 "[Bug]: Open a DataObject Version(created on Pimcore 6.9) with ObjectBricks throws error"
### Expected behavior

I should be able to open a DataObject version with ObjectBricks, created in an old version of Pimcore.

### Actual behavior

When I'm trying to open a DataObject Version with ObjectBricks, created in an old version of Pimcore, I'm getting an error:
`Cannot assign null to property Pimcore\Model\DataObject\Objectbrick\Data\AbstractData::$doDelete of type bool`
After investigat

[2021-10-15 13:20] dvesh3 commented on #10608
Fixed by #10617

[2021-10-15 13:20] #10608 closed, assigned to nobody

[2021-10-15 13:31] dvesh3 commented on #10600
@passioneight Thanks a lot for your findings. Since you already know the solution, why not provide a PR 😉

[2021-10-16 11:29] goetas commented on #10613
FYI, 3.3.0 has been released

[2021-10-16 13:31] brusch commented on #10613
@goetas thanks a lot 👍

[2021-10-16 18:09] solverat commented on #10608
In my tests, I cannot create and use static routes dynamically anymore. They also won't get deleted from the file system via functional tests. I need to do some more debugging though...

[2021-10-17 12:14] solverat opened #10624 "[Bug]: Configuration Properties Cache Issue"
### Expected behavior

Creating & using config properties on the fly.

### Actual behavior

Instant created configuration flags are not available in same request.

### Steps to reproduce

Example static route (happend in some of our functional tests):

[code]
![image](https://user-images.githubusercontent.com/700119/137626705-e7035a55-3ad3-4a4c-b1ba-842cde0e6f15.png)

[2021-10-18 05:30] dpfaffenbauer commented on #10624
I don't see that as a problem honestly. It is the same behaviour as it is with Symfony Routes or any Symfony Configuration. Only issue: it is a BC break to how it worked with 10.0.

[2021-10-18 07:15] solverat commented on #10624
While this is absolutely true, and I would agree to ignore this, these properties (we're not only talking about routes, this affects every`LocationAwareConfigRepository` configuration [each configuration node in `var/config`]) are editable in backend and so this **may** could lead to funny side effects or at least to misinterpretation/wrong handling on dev side. I'm going to close this for now.

[2021-10-18 07:15] #10624 closed, assigned to nobody

[2021-10-18 07:16] brusch commented on #10624
@solverat you could switch to `settings-store` backend for your tests, see:
https://github.com/pimcore/pimcore/blob/10.x/tests/_bootstrap.php#L30

[2021-10-18 09:01] MagPim opened #10628 "[Bug]: Server file explorer does not display sources correctly"
### Expected behavior

Each opened file should display the complete content of the code;

### Actual behavior

The first opened file works correctly. When other files are opened after, they only display the first line <?php

### Steps to reproduce

On demo.pimcore.fun, use the server file explorer and open more than one file
![image](https://user-images.githubusercontent.com/39189262/137701057-c48

[2021-10-18 09:09] akno77 commented on #2958
Any news about this feature request?

[2021-10-18 09:48] dvesh3 commented on #10628
Regression of https://github.com/pimcore/pimcore/pull/10546

[2021-10-18 10:33] NiklasBr commented on #10604
@dvesh3 this can be reproduced on the demo site as well by adding additional sites with domains:

![image](https://user-images.githubusercontent.com/279826/137714915-afe62321-3ead-4245-a407-0b4281fa57da.png)

[2021-10-18 10:39] emanmagni opened #10632 "[Bug]: UI throwing error when a perspective has a space inside its name"
### Expected behavior

When you have a perspective with a space inside its name, you should be able to use and navigate the UI as before.

### Actual behavior

After updating to Pimcore 10.2, if a perspective has a space inside its name, the UI throws the following error:

`Uncaught Error: Invalid component "itemId": "pimcore_menu_file_perspective_My Perspective"`

Probably caused by #10126, as HT

[2021-10-18 11:45] alexanderkroneis opened #10636 "[Feature]: Multiple Assets / Documents / Objects / ... on Website Settings"
### Feature description

Hi,

I am developing a automatic synchronisation bundle for SharePoint for a customer of ours at the moment and we would like to specify multiple folders in our assets structure which should be synchronized against SharePoint. We tried to solve this via website settings and as we finally implemented all the functionality we saw that it is not possible to inject multiple as

[2021-10-18 12:28] gobindpimcore opened #10637 "[Bug]: pagination not working correctly on Search Key windows of classification."
### Expected behavior

 Pagination should work as it is working without searching any keyword.

if we are passing any keywords in 'searchfilter' total number always getting zero.

/admin/classificationstore/search-relations?_dc=1634552003519&storeId=10&searchfilter=a&page=1&start=1&limit=25

![paginationSearchKEY](https://user-images.githubusercontent.com/67306595/137729506-0aaf0ee1-3aa6-4f25-84b1

[2021-10-18 13:20] Blackbam commented on #9980
@dvesh3 Unfortunatly not for me, still need the fix I described above.

@nexus23 Can you please specify which bundle you think is responsible for the issue? Or did you remove all bundles from the Symfony\Bundle namespace? For me it does not seem to change anything.

[2021-10-18 13:47] dvesh3 commented on #10604
Fixed by #10638

[2021-10-18 13:50] brusch commented on #5361
Dependency issues are solved, anyone willing to work on that?

[2021-10-18 13:56] dpfaffenbauer commented on #5361
I can start with it ;)

[2021-10-18 13:57] brusch commented on #5361
@dpfaffenbauer cool, thanks a lot! 👍

[2021-10-18 14:05] fashxp opened #10639 "[Improvement]: Feedback about messeges in messenger queue"
### Improvement description

to know how many messages are in the queue ... to get a feeling for how long you might need to wait for a message to be processed

[2021-10-18 20:15] laurenz-glueck opened #10643 "[Bug]: Documentation not working - 403 Forbidden error"
### Expected behavior

Not sure if you are already aware of this issue (I didn't found a Github issue for that) but when I opening the official Pimcore documentation at [https://pimcore.com/docs/pimcore/current](https://pimcore.com/docs/pimcore/current) there should be no "403 Forbidden" error - I guess 😜

### Actual behavior

I'm getting a 403 Forbidden error (testet on different browsers and WiF

[2021-10-18 20:18] fashxp commented on #10643
should work again. thx for reporting

[2021-10-18 20:18] #10643 closed, assigned to nobody

[2021-10-18 20:19] laurenz-glueck commented on #10643
@fashxp Thanks for the fast reaction! It's working again 👍🏼

[2021-10-19 06:59] HeicoSindelItShapes opened #10645 "No preview for office-files (.xls(x), .doc(x)) [Bug]:"
### Expected behavior

After uploading office-files and running maintenance job a preview should be possible

### Actual behavior

Only Custom Metadata, Probs, ... are shown - for both xls and xlsx

### Steps to reproduce

Upload a Excel File to a folder in assets - wait at least 5 mins (for the maintenance job) and try to "open" the file

[2021-10-19 08:03] brusch commented on #10645
For me it works just fine ... tested with latest `10.2`.

[2021-10-19 08:03] #10645 closed, assigned to nobody

[2021-10-19 08:06] SaschaHowe commented on #6196
Hey,

same also happens for Documents. When you link in a document to a different document that is unpublished, the link is not visible in the wysiwyg editor. Once the target is published the link appears.

Greetings,

[2021-10-19 08:19] dvesh3 commented on #7083
Closing it as not reproducible anymore on latest version 10.2.1. thanks!

[2021-10-19 08:19] #7083 closed

[2021-10-19 08:35] dvesh3 commented on #9980
@Blackbam I would just revert the constructor property promotion changes then to fix it https://github.com/pimcore/pimcore/pull/9912/files#diff-72bf4c4040dea3191f620fd46fb82b6f7332e017c8084dfe6f8c56412e58e279

could please check reverting it fixes the issue? thanks!

[2021-10-19 08:37] dvesh3 commented on #10603
Fixed by #10619

[2021-10-19 08:37] #10603 closed, assigned to nobody

[2021-10-19 08:38] Maxara commented on #10048
Hello @brusch this is also not working in the official demo.

[2021-10-19 08:42] brusch commented on #10048
@Maxara see #10629

[2021-10-19 08:56] Blackbam commented on #9980
@dvesh3 Very unlikely to make a different as those are only syntactical? I furthermore did them in my local - not dockerized - Pimcore development installation, the problem we are talking about here has been arising since v10.1.0 after downloading dependencies to the customers projects.

As my fix works it must be related to that translations class and it only seems to hapen in dev mode.

[2021-10-19 09:40] #10415 closed, assigned to nobody

[2021-10-19 10:09] brusch commented on #10620
Resolved by #10642

[2021-10-19 10:09] #10620 closed, assigned to nobody

[2021-10-19 10:10] brusch commented on #10628
Fixed by #10635

[2021-10-19 10:10] #10628 closed, assigned to nobody

[2021-10-19 12:13] dvesh3 commented on #10443
@HaaseIT sorry, could not reproduce the issue with `missingRequiredFields` => NULL in db & version:
[code]

DB:
![image](https://user-images.githubusercontent.com/5137917/137906283-96a10649-bdd7-495f-9714-d42f0350d480.png)
Version:
![image](https://user-images.githubusercontent.com/5137917/137906573-1558673d-ce78-4938-b924-c3440989f078.png)

API publish save:
[code]
![image](https://user-images.gi

[2021-10-19 12:18] HaaseIT commented on #10443
What do you mean, you cant reproduce?

You just posted screenshots of the problem.

All required fields are filled but on trying to publish the document, this exception is thrown.

Want to have a quick chat/talk? We are connected on linkedin.

[2021-10-19 12:21] dvesh3 commented on #10443
In my case, required fields are not completely filled.

[2021-10-19 12:22] HaaseIT commented on #10443
Well, in my case they are.

Then this exception is thrown, because it tries to validate element #1000000

[2021-10-19 13:14] brusch commented on #10632
Fixed by #10633

[2021-10-19 13:14] #10632 closed, assigned to nobody

[2021-10-19 13:39] fashxp opened #10649 "[Improvement][Thumbnails] Add option to upload files for overlay directly"
### Improvement description

or assign an asset...

without the need for placing a file on the server.

[2021-10-19 13:49] fashxp opened #10650 "[Bug][Search] Contrast on tags panel collapse icon"
### Expected behavior

properly visible icon

### Actual behavior

![image](https://user-images.githubusercontent.com/8792145/137923506-88f1e54a-ac2f-4f83-97a3-19ae990212f0.png)

### Steps to reproduce

open search dialog

[2021-10-19 13:54] roland4432 opened #10651 "[RFC]: enable the DAO Layer to improve performance when saving / deleting / updating large quantities of data"
### Improvement description

I am thinking for something like extending the DAO layer to accept more data. Just like doctrine already does.

So the current situation is:

[code]

Idea:

[code]

Just a rough idea, that really speeds things up. Still, there are a lot of improvements. Instead of just calling multiple queries, these could of course be optimized with multi-insert, -updates and -deletes

[2021-10-19 14:15] dvesh3 commented on #10048
Fixed by #10629

[2021-10-19 14:15] #10048 closed, assigned to nobody

[2021-10-19 14:44] dpfaffenbauer commented on #10651
Not the badest of ideas. But I think it would be even better if Pimcore introduces some sort of EntityManager that handles exactly that.

[2021-10-19 14:47] roland4432 commented on #10651
The well known entity manager from doctrine is the example for this. I tried to make changes to existing classes as little as possible.

But yeah. Introducing a layer in between the DAO and the database would be a very clean solution.

Anyways... I wanted to also check with @brusch or @dvesh3 if someone is already working on this. Else I'd starting working on a draft for this.

[2021-10-19 15:02] brusch opened #10654 "[Improvement]: Use foreign keys for `ON DELETE` whenever possible"
### Improvement description

- [x] `assets_metadata.cid` ( #11072 )
- [x] `documents_*` tables (#11236)
- [ ] ~~`edit_lock.cid/ctype`~~ not possible as reference is based on multiple tables
- [ ] ~~`dependencies` (source & target - if possible)~~
- [ ] ~~`element_workflow_state.cid/ctype`~~
- [x] `gridconfig_favourites` (#11219)
...

I'd go for a PR for each entity to make reviewing easier.

[2021-10-19 15:11] brusch commented on #10397
Resolved by #10516

[2021-10-19 15:11] #10397 closed, assigned to nobody

[2021-10-19 15:46] dpfaffenbauer commented on #10651
EntityManager could be quite simple. Basically you introduce a new class as service which you "persist" the entites to, with flush, you write all changes into the database.

Only issue is: How would it resolve dependencies? Object A is child of Object B, so Object B needs to be persisted before Object A.

[2021-10-19 16:24] MagPim opened #10655 "[Bug]: Regression with web2print : no pdf gets generated for print documents"
### Expected behavior

Generate & preview pdf documents for a print document or container should produce a pdf, which ever the tool used (PDFreactor, WkHtmlToPdf...)

### Actual behavior

The progression bar remains to 0% and nothing gets generated.
![image](https://user-images.githubusercontent.com/39189262/137951671-9ca19cfc-1870-43e1-af4d-1693fdd054ae.png)

### Steps to reproduce

Problem is fo

[2021-10-20 06:50] brusch commented on #10655
@MagPim is the maintenance process running properly?
The generation of PDFs is now done in a messenger worker, which is automatically started by `bin/console pimcore:maintenance`. However we recommend to run the workers seperately, see:
https://pimcore.com/docs/pimcore/current/Development_Documentation/Getting_Started/Installation.html#page_5-Maintenance-Cron-Job

Regarding demo: our public demo i

[2021-10-20 08:09] brusch commented on #10650
Fixed by #10660

[2021-10-20 08:09] #10650 closed, assigned to brusch

[2021-10-20 08:32] NiklasBr opened #10661 "[Bug]: Cannot view/restore versions of Objects with Classification Stores"
### Expected behavior

When clicking on the *Versions* tab on DataObjects it should be possible to view and restore from versions created prior to Pimcore X which contains Classification Stores.

### Actual behavior

[code]

![image](https://user-images.githubusercontent.com/279826/138054399-4607b73c-77ba-4c57-9a59-c59496027504.png)

### Steps to reproduce

Save a version in Pimcore 6.9.6
Upgrade

[2021-10-20 09:02] brusch opened #10662 "[Improvement]: Change `type` column of `object_relations_*` tables to `enum`"
### Improvement description

for smaller footprint ...

[2021-10-20 09:12] brusch opened #10663 "Remove `method_exists()` BC-layer on Editables"
### Improvement description

Follow up to #10607

[2021-10-20 09:43] #10443 closed, assigned to dvesh3

[2021-10-20 09:43] NiklasBr commented on #10661
@dvesh3 it's really hard to do since the debug flag was removed from System settings (unclear why, do you know?), so I cannot do it quickly. Will attempt to do it elsewhere.

But I found *another issue* with versions and Classification Stores just now, versions created in Pimcore 10.1.5 cannot be viewed in 10.1.5 either:

![image](https://user-images.githubusercontent.com/279826/138069770-d60d8482

[2021-10-20 09:56] ghost commented on #5007
hi @brusch , thank you. Video preview runs as expected with v10.1.5 and S3 storage. But currently there seems a preview issue with v10.2.1

Reproduced on https://demo.pimcore.com

![grafik](https://user-images.githubusercontent.com/68632142/138071728-82124a91-271a-48aa-a589-9e938c113cda.png)

[2021-10-20 10:02] brusch commented on #5007
@Silverado2791 fixed by #10629

Please note, that video transcoding has been moved to message queue in `10.2`, so it's now done via the maintenance job or by `messenger:consume`. This however isn't yet set up on our demos, that's why video transcoding is currently NOT working in our public demo.

[2021-10-20 10:47] dvesh3 commented on #10661
@NiklasBr I had a look at the version file(uploaded in description). The root cause is that your version files are still referencing to old App class namespace "AppBundle\\.." and Upgrade to Pimcore X requires you change App namespace to "App\\.."

![image](https://user-images.githubusercontent.com/5137917/138078708-4322e249-e0c7-430f-97c6-02889a13ed68.png)

So you have update your version files t

[2021-10-20 10:50] dvesh3 commented on #10661
could you please try this on latest version 10.2.2?

[2021-10-20 12:03] roland4432 commented on #10651
The same way it is implemented right now. Check dependencies in the information from Class A, do a dirty check on related Class B, check if there needs something to be persisted, do so (or prepare the statement for it) and carry on.

This way you will end up with a statement pool having the right order to be executed.

WDYT?

[2021-10-20 12:22] dpfaffenbauer commented on #10651
Nothing like that is implemented now.... Pimcore just checks if the entity you want to persist right now is dirty. that's it.

[2021-10-20 12:57] NiklasBr commented on #10661
Can't try on 10.2 yet because of these changes:

This requires changes to our production environment we have not yet have time to test.

[2021-10-20 12:57] NiklasBr commented on #10661
Is there a migration available?

[2021-10-20 13:20] HaaseIT commented on #10614
NPM/Yarn is not actually needed for this. You could add this without BC breaking issues I guess with:

https://github.com/oomphinc/composer-installers-extender

All you need to do is include tha package and some config for it in the compoer.json:

[code]

On another note, not really fitting this issue, but why not bundle symfony encore for js/scss compression?

[2021-10-20 14:37] MagPim commented on #10655
Thanks a lot for this response @brusch, I indeed did not set up maintenance on the system where I performed the tests.
I just did but unfortunately, I still have the same issue. I wil nevertheless investigate a little more...

[2021-10-20 14:46] dvesh3 commented on #10661
Sorry, no migration is available at the moment for migrating versions.

[2021-10-20 15:26] NiklasBr commented on #10661
When will it be available? This is a pretty big issue at the moment. The namespace had to be changed. I mean, look at your own code which we copied followed according to the guide:

https://github.com/pimcore/demo/blob/58e03bcdb5de55aa981f53b3e9c1b428dbe0fbc4/config/ecommerce/base-ecommerce.yaml#L5-L10

Data losses like this **must** be clearly spelled out in the upgrade documentation!

[2021-10-20 17:46] fashxp commented on #10651
not on our short-term roadmap yet, so any contributions are welcome :-)

[2021-10-21 07:33] dvesh3 commented on #10661
I have updated the Pimcore X upgrade notes with the point that you should migrate your versions on Pimcore 6.9 to new namespaces if you wish to carry forward these on Pimcore X. https://github.com/pimcore/pimcore/commit/e9ec707bec9ba020a3aced8b321607ce42f83b58

You can adapt and use this migration script https://gist.github.com/weisswurstkanone/a63f733fe58930778f41c695f862724a#file-migrate_element

[2021-10-21 07:46] NiklasBr commented on #10661
The upgrade notes does not make it look like optional:

[2021-10-21 07:51] dvesh3 commented on #10661
yes, if you want to use Symfony Flex 😉

[2021-10-21 08:07] NiklasBr commented on #10661
This does not sound like it is in any way optional:

![image](https://user-images.githubusercontent.com/279826/138237114-e39d3dd5-61df-4c38-b289-4993de11f7e9.png)

[2021-10-21 08:17] roland4432 commented on #10651
So my friends.. I have run some benchmarks and tests. This data is pretty much not sufficient to show any real statistics and what nots, but I think you get a pretty good idea of how things evolve around a rework of the current persistence layer.
I tried my best to give you some numbers on batch runs with # of thousands of objects to create. The object itself only has 1 field to not benchmark sett

[2021-10-21 08:42] brusch commented on #10661
Yes, sorry, the optional note is missing in the docs, we'll fix that.

[2021-10-22 05:45] AlekMosingiewicz opened #10671 "[Bug]: /vendor/pimcore/tests folder disappears after upgrading to newest version"
### Expected behavior

/vendor/pimcore/pimcore/tests remains, so that local integration tests that rely on the /vendor/pimcore/pimcore/tests/_support/Util/Autoloader.php class pass.

### Actual behavior

/vendor/pimcore/pimcore/tests/ folder disappears entirely

### Steps to reproduce

run the following command with Pimcore v.10.1.1 installed:
`composer require pimcore/data-importer --with-all-dep

[2021-10-22 05:55] dpfaffenbauer commented on #10671
why would you need to have the pimcore tests?

[2021-10-22 06:10] brusch commented on #10671
See #10226

[2021-10-22 06:10] #10671 closed, assigned to nobody

[2021-10-22 10:02] HeicoSindelItShapes commented on #10645
I have updated the system from 10.0.8 to 10.2.2 - and it's still not working - also the maintenance jobs are configured as discribed; also reinstalled the libreoffice modules as discribed - any other ideas?

[2021-10-22 10:58] brusch commented on #10645
System requirements are all marked as ok?

[2021-10-22 11:00] HeicoSindelItShapes commented on #10645
![image](https://user-images.githubusercontent.com/92674413/138443067-275feda3-9b8c-4110-b365-cb833dbdb2d7.png)

[2021-10-22 11:02] brusch commented on #10645
That looks good ... hmm, yeah well, no real idea then. 🤔

[2021-10-22 11:27] HeicoSindelItShapes commented on #10645
<html>
<body>

Couldn't convert document to PDF: /_Internal Files/SAP-FIles/Categories_reduced.xlsx with the command: ''/usr/bin/soffice' '--headless' '--nologo' '--nofirststartwizard' '-env:UserInstallation=file:///var/www/pimcorex/var/tmp/libreoffice' '--norestore' '--convert-to' 'pdf:writer_web_pdf_Export' '--outdir' '/var/www/pimcorex/var/tmp' '/var/www/pimcorex/public/var/assets/_Internal Fil

[2021-10-22 11:35] brusch commented on #10645
Run the command manually and see what LibreOffice has to say ...

[2021-10-22 12:05] HeicoSindelItShapes commented on #10645
it was a permission problem - i have to check what changes the "ownership" sometimes... thx

[2021-10-22 20:07] fashxp opened #10676 "[Bug][Workflow Notification] Default html mail sent as text mail"
### Expected behavior

html mail sent as html mail

### Actual behavior

sent as text mail

![image](https://user-images.githubusercontent.com/8792145/138516502-ee23e17b-0509-4a58-91cd-45ff255d1248.png)

### Steps to reproduce

create workflow with mail notification for a transition

[2021-10-25 07:36] brusch opened #10679 "[Improvement]: Use Chome Headless to generate Page Previews"
### Improvement description

instead of wkhtmltoimage.

wkhtmltoimage however should be still supported (to be removed in PXI)

Example command:

[code]

we should check for `chromium` first and then for `chrome`.

Could be just integrated here:
https://github.com/pimcore/pimcore/blob/2f18a0f26380c56b609d937b40d2050c8d1a3e1a/lib/Image/HtmlToImage.php#L59

An also in the requirements check as an op

[2021-10-25 10:09] fashxp opened #10682 "[Improvement][Site] Add Permission to create/edit/delete site"
### Improvement description

right now, this is only allowed for admins, see
https://github.com/pimcore/pimcore/blob/32e81d2b5b88262184236a6933e181b6cbd75b8f/bundles/AdminBundle/Resources/public/js/pimcore/document/tree.js#L790

[2021-10-25 12:05] fashxp opened #10683 "[Bug] Clear cache for symfony environments - hide environments ending with ~"
### Expected behavior

do not break pimcore toolbar

### Actual behavior

breaks toolbar if there is an environment with ~

### Steps to reproduce

create environment with ~ ... happens sometime when clearing cache

[2021-10-25 15:38] dvesh3 commented on #10596
Fixed by #10672

[2021-10-25 15:38] #10596 closed, assigned to nobody

[2021-10-26 09:40] mick340 opened #10692 "[Bug]: Searching dataobjects not working"
### Expected behavior

When searching for dataobjects i expect to get results for the search query

### Actual behavior

Never getting response.

### Steps to reproduce

1. Upgrade pimcore to V10.2.2
2. search for dataobjects, this could be done from linking dataobjects by a many-to-many object relationship.
3. Get no results

This worked before i upgraded to Pimcore V10.2.1

As you can see, no se

[2021-10-26 09:44] damijank opened #10693 "[Improvement]: Check CSRF token for write requests only"
### Improvement description

The HEAD operation should not be checked for a CSRF token.

Some external software, we've encountered the issue with Excel, makes HEAD requests to embedded links. Our client uses Excel for some internal documents, and embeds deeplinks into their sheets. Our Sentry is lit up with exception reports over CSRF token issues: `Detected CSRF Attack! Do not do evil things with

[2021-10-26 10:07] NiklasBr commented on #10692
Does it work if you run the `bin/console pimcore:search-backend-reindex` command first?

[2021-10-26 10:17] mick340 commented on #10692
Yes this is the fix. Thank you

[2021-10-26 14:46] damijank opened #10697 "[Bug]: Close Admin on session expired"
### Expected behavior

When the session expires, the Admin interface should be closed and the Login form shoud be displayed.

### Actual behavior

When the session expires, the Admin interface repeatedly pops-up a modal `Access Denied!` stating
`You don't have sufficient permissions to open the element or perform the desired action.`

### Steps to reproduce

1. Log into Admin interface in first ta

[2021-10-26 14:54] NiklasBr opened #10698 "[Bug]: Grid/list selection looks like every other is selected"
### Expected behavior

All selected items in a grid/list view should have the same highlight colour.

### Actual behavior

Only the small checkbox on the left indicates every second selected item. This is especially "treacherous" for the first or last item selected (the ones in-between can be more easily assumed to be selected):

![image](https://user-images.githubusercontent.com/279826/138905129-

[2021-10-26 14:57] NiklasBr opened #10699 "[Bug]: Grid/list view fails to become scrollable due to img lazy-loading"
### Expected behavior

When opening a grid/list view and it should be possible to scroll all the way down.

### Actual behavior

It appears that the lazy-loading of images interfere with how ExtJS calculates the content height.

### Steps to reproduce

Navigate assets in list view:
![image](https://user-images.githubusercontent.com/279826/138905583-a467b24e-f88a-4042-9fb2-e5ed5d747419.png)

[2021-10-26 15:12] damijank opened #10700 "[Bug]: Refresh CSRF token in Admin on session change (and logged in again)"
### Expected behavior

When the session changes, the Admin interface should detect it and react properly, i.e. by refreshing the CSRF token.

### Actual behavior

When the session changes, the already open Admin interface remains defunct for any WRITE operations, but does not detect it until an actual WRITE operation is being executed.

### Steps to reproduce

1. Log into Admin interface in first

[2021-10-27 07:40] dvesh3 commented on #10676
Fixed by #10704

[2021-10-27 07:40] #10676 closed, assigned to dvesh3

[2021-10-27 08:39] Navino16 commented on #10692
Hi,
We encounter the exact same issue with Pimcore V10.2.2 ...
Running the command fix it but if we have to run this command after each deployment that will be annoying.
Any way to fix it definitively ?

Thanks

[2021-10-27 09:27] dvesh3 commented on #10086
Fixed by #10668

[2021-10-27 09:27] #10086 closed, assigned to nobody

[2021-10-27 09:41] dvesh3 commented on #10693
Fixed by #10694

[2021-10-27 09:41] #10693 closed, assigned to nobody

[2021-10-27 10:02] fashxp opened #10706 "[Bug][Docs] Update docs for perspectives and custom views"
### Expected behavior

current code samples with yaml files

### Actual behavior

old php config files

### Steps to reproduce

see https://pimcore.com/docs/pimcore/current/Development_Documentation/Tools_and_Features/Perspectives.html and https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Class_Settings/Custom_Views.html

[2021-10-27 10:03] fashxp commented on #10692
is you maintenance running and working?

[2021-10-27 10:47] lmeazza opened #10708 "[Bug]: Can't open DWG file"
### Expected behavior

- Open an asset with dwg extension. (DEBUG MODE)

### Actual behavior

- Can't open an asset with dwg extension without any error. ( Error appears only in debug mode)

### Steps to reproduce

- Set Debug mode on.
- Load an asset with dwg extension.
- Open an asset with dwg extension.
![STEP_1](https://user-images.githubusercontent.com/63634753/139051343-9622a180-4d33-4b87-bc

[2021-10-27 11:37] NiklasBr commented on #10692
@fashxp We just encountered the same issue when installing 10.2.2, had to manually trigger a re-index. There is something not entirely working here, but unclear what.

[2021-10-27 12:58] fashxp opened #10710 "[Improvement]: Implement DataObject::getByKey"
### Improvement description

analog to all the other DataObject::getBy* methods

will solve https://github.com/pimcore/data-importer/issues/104

[2021-10-27 14:42] brusch commented on #10708
Ficed by #10711

[2021-10-27 14:42] #10708 closed, assigned to nobody

[2021-10-28 06:27] NiklasBr opened #10714 "[Bug]: In 10.2 pimcore:maintenance no longer excludes excludedJobs"
### Expected behavior

The command `bin/console maintenance --excludedJobs=logmaintenance,cleanuplogfiles,imageoptimize` should not do any of the following:
- logmaintenance
- cleanuplogfiles
- imageoptimize

### Actual behavior

They are all being executed anyway

### Steps to reproduce

Run the command in 10.1:
 - All the above jobs are excluded as expected

Run the command in 10.2:
- All jobs a

[2021-10-28 07:31] dvesh3 opened #10716 "[Bug]: Assets - opening .zip file causes infinite requests"
### Expected behavior

Zip Asset should be open

### Actual behavior

Infinite requests on opening zip asset and asset doesn't open
![image](https://user-images.githubusercontent.com/5137917/139207853-5fef272c-6151-4045-824a-2907c58e1065.png)

### Steps to reproduce

Steps:
Upload & Open a zip file in Admin interface

[2021-10-28 07:53] dvesh3 commented on #10716
Regression of https://github.com/pimcore/pimcore/pull/9700

[2021-10-28 08:39] NiklasBr commented on #10661
Will the fix be in 10.2.4 @brusch?

[2021-10-28 08:46] brusch commented on #10661
@NiklasBr as @dvesh3 mentioned above, I also don't think it makes sense to integrate a generic fix for that. I'm wondering if that would be even possible.
The only thing we're going to do from our side is updating the docs accordingly.

[2021-10-28 08:55] dpfaffenbauer commented on #10661
Guess you could still use AppBundle, Symfony doesn't forbid that.

[2021-10-28 08:56] brusch commented on #10661
That's probably the most easiest fix.

[2021-10-28 09:21] NiklasBr commented on #10661
Really, because the linked Symfony docs says that it is a *must*?

So what do we do about the tens of thousands of version files now created with `App` as the namespace because we trusted your documentation to be correct? A documentation that *still demands* that we use `App` as namespace despite your comments in this thread.

[2021-10-28 09:27] brusch commented on #10661
https://symfony.com/doc/current/setup/flex.html#flex-customize-paths

So you could still use `src/AppBundle` along with `src/App`. That's mostly about autoloading, where Composer takes care of.

[2021-10-28 09:33] NiklasBr commented on #10661
If we do that, what do you expect us to tell our customer about data loss from following your documentation? Lose all version data for the year prior to Pimcore X or all version data for the half year after Pimcore X? This really strains the credibility of Pimcore as a stable and viable platform in their eyes.

[2021-10-28 09:42] brusch commented on #10661
Another solution that comes to my mind ... use `class_alias()` to map to the old FQCN.

Create `src/class-aliases.php` with e.g. the following content:
[code]

then include that file in your `composer.json`:

[code]

disclaimer: not tested, but should work in theory and easy to test 😉

Regarding your latest answer:
Well ... we referenced the Symfony docs here to keep things simple, the docs are no

[2021-10-28 09:50] NiklasBr commented on #10661
Which had steps to follow and was clear about the required namespace change:

Were in the process of acquiring the enterprise license. But at the time, yes.

[2021-10-28 09:51] brusch commented on #10661
@NiklasBr what do you think about the quick fix above? 😊

[2021-10-28 09:51] dvesh3 commented on #10714
Sorry, not able to reproduce on 10.2.3:
![image](https://user-images.githubusercontent.com/5137917/139232396-a894c3ba-4dab-4320-844e-bdfdbc4e0a6a.png)

[2021-10-28 09:54] NiklasBr commented on #10661
Promising idea, I will test it.

[2021-10-28 09:56] brusch commented on #10661
Please let us know if this fixes the issue, we could then update the docs accordingly (a PR of course would be very nice 😉).

[2021-10-28 10:17] NiklasBr commented on #10714
This happens with the command above.
[code]

[2021-10-28 11:57] #10682 closed, assigned to nobody

[2021-10-28 13:24] dpfaffenbauer commented on #10661
A solution for this in the long-term would be to change how serialization works. I think it would be much better to use something like Symfony Serializer to serialize and deserialize the data into a json or xml format. that way it does not depend on the resource heavy DeepClone and also not on any Class Names.

[2021-10-28 13:25] brusch commented on #10661
@dpfaffenbauer absolutely!

[2021-10-28 13:26] dpfaffenbauer commented on #10714
@NiklasBr I think the problem here is that these tasks got added by either the regular maintenance cron job or some where from inside Pimcore. The Maintenance Command now uses Symfony Messenger to handle this stuff, messenger doesn't care which tasks should be skipped and which not, it just executes what still in the queue.

[2021-10-28 14:32] sevarozh opened #10724 "[Bug]: Auto save for object folders"
### Expected behavior

do not run auto-save for types not supporting versions

### Actual behavior

auto save also uses folders.
https://github.com/pimcore/pimcore/blob/10.x/bundles/AdminBundle/Resources/public/js/pimcore/element/abstract.js:220
`        //do not run auto-save for types not supporting versions
        let nonVersionTypes = ['link', 'hardlink', 'folder'];
        if (this.data.type

[2021-10-28 19:35] janlucaklees opened #10729 "[Bug]: Academy: "Data Importer'" not accepting correct answers"
### Expected behavior

On the 7th question of the Pimcore Juniour Certificate, "**What can be achieved with transformation pipelines and out-of-the-box operators?**", on the Data Importer exam. I choose these options:

- [x] Simple text transformations
- [x] Importing assets from remote locations
- [x] Load existing assets and data object based on ID, path or attributes.
- [ ] Transform data to nu

[2021-10-29 06:03] dpfaffenbauer commented on #10729
Right answer is:
 - Transform data to number fields
 - Importing assets from remote locations
 - Simple text transformations
 - Load existing assets and data objects based on ID, path or attributes

[2021-10-29 07:20] dvesh3 commented on #10724
Fixed by #10726

[2021-10-29 07:20] #10724 closed, assigned to nobody

[2021-10-29 07:27] matthiashamacher commented on #10468
@dvesh3 Any updates?

[2021-10-29 07:29] NiklasBr commented on #10714
@dpfaffenbauer do you know how these gets added to the queue? I can't find anything on https://pimcore.com/docs

[2021-10-29 07:56] dvesh3 commented on #10468
Sorry, not yet. I have assigned this to next bugfix milestone, so that i don't forget to check it 😉

[2021-10-29 08:05] dpfaffenbauer commented on #10714
with the maintenance command

[2021-10-29 08:12] NiklasBr commented on #10714
We added `imageoptimize` to `--excludedJobs` about a year ago because it was too slow on an `m5.large` instance and started throwing similar timeout errors. Moving to a larger instance did not help a lot, so it has stayed excluded. Is there something we are missing here? How do we prevent them from being added by the maintenance job?

[2021-10-29 08:13] dvesh3 commented on #10714
We moved Image Optimizer from Maintenance tasks to Symfony Messenger (Is the plan to move other task slowly to Messenger) https://github.com/pimcore/pimcore/pull/10461

and that is the reason for Niklas, the job is not skipped anymore as it is dispatched here https://github.com/pimcore/pimcore/pull/10461/files#diff-16840b1fd40929e8fda46a67eae733c84fc71dc91da6a38097ba58b5da0c321cR406-R407 and serve

[2021-10-29 08:28] NiklasBr commented on #10714
Thanks @dvesh3

[2021-10-29 08:34] #10729 closed, assigned to nobody

[2021-10-29 09:17] brusch commented on #10661
@NiklasBr did it worked?

[2021-10-29 09:58] danielczestki commented on #10710
@fashxp is there a plan for add getByKey method in the near time. I need it very much :)
Is it possible to add it to 6.9 PimCore too ?

[2021-10-29 10:22] brusch commented on #10710
See #10712

[2021-10-29 10:51] danielczestki commented on #10710
@brusch #10712 merge is for 10.X not 6.9

[2021-10-29 10:57] brusch commented on #10710
@danielczestki 6.9 is end of life.

[2021-10-29 10:57] NiklasBr commented on #10661
@brusch class aliases seem to work, cannot get past the Classification Store errors:

[code]

[2021-10-29 11:04] danielczestki commented on #10710
Yes I know but I need it in 6.9 ? What should I do then ? @brusch
Using local composer patches ? will it work with pimcore  ?

[2021-10-29 13:24] #10683 closed, assigned to brusch

[2021-11-01 05:33] MansoorAliBabar commented on #2809
thank you so much Avatar
Josef Aichhorn it was big problem for to handle but thanks to your help it was sorted

[2021-11-02 07:01] jremmurd opened #10738 "[Improvement]: Make maintenance jobs lock expiry configurable"
### Improvement description

Currently the lock expires after a fixed amount of 24h. Especially the version cleanup job in dev environments may take longer. It would be great, if the expiry was configurable.

https://github.com/pimcore/pimcore/blob/10.x/lib/Maintenance/Executor.php#L67

[2021-11-02 08:50] BlackbitDevs opened #10740 "[Bug]: Prevent HTTP 403 after inactivity in backend / Automatic logout"
### Expected behavior

Sometimes the CSRF token gets invalid while you are in Pimcore backend, all `GET` requests still work but all `POST`, `PUT`, `DELETE` requests fail with the message `You don't have sufficient permissions to open the element or perform the desired action.`.
The cause is that the CSRF token gets rewritten for whatever reason. The session is still valid as reloading the Pimcore

[2021-11-02 10:32] dvesh3 opened #10743 "[Docs] Add user documentation for filter by relation feature for DataObjects grids"
### Improvement description

Related to https://github.com/pimcore/pimcore/pull/10022

[2021-11-02 10:40] melissakittl opened #10744 "[Bug]: Inherited areablock combined with Area Editable Dialog Settings"
### Expected behavior

When overriding the area editable dialog settings, only the settings from the current area are overwritten.
In the best way, it should be possible to overwrite each setting of the editable dialog, like all the editables, which are directly within the area.
![image](https://user-images.githubusercontent.com/23357021/139831535-250046ce-836e-4ca0-8917-3a039b1f50e6.png)

### Act

[2021-11-02 11:36] passioneight commented on #5416
+1 for this feature. Which milestone can we expect?

[2021-11-02 14:44] rjankiew opened #10747 "[Bug]: Disappearing/duplicated relations when using the same relation field name in class and objectbrick definitions"
### Expected behavior

Relations are added, and do not change on subsequent saves.

### Actual behavior

Relations disappear (on the pimcore demo), or get duplicated (on my local installation -> that can also lead to "Passing relations multiple times not allowed anymore" error).

### Steps to reproduce

1. Go to pimcore demo
2. Open up "car" object class definition
3. Add localized field, and insi

[2021-11-02 15:13] mick340 opened #10748 "[Bug]: Pimcore not installing, database credentials not stored"
### Expected behavior

When running pimcore install i expect to install pimcore

### Actual behavior

Pimocre is not installing because of Step 6/11 database setup

### Steps to reproduce

I have created a `acceptatie` user to connect to database `pimcore` @ `localhost`

As you below i can connect with the database using tableplus (connection trough ssh)

![Screenshot 2021-11-02 at 16 01 54](https

[2021-11-03 08:45] brusch commented on #10748
I think you have already a database-config in place that causes the issue.
The option `--ignore-existing-config` is just not overriding existing config, but doesn't mean it's not loading it.

[2021-11-03 08:45] #10748 closed, assigned to nobody

[2021-11-03 08:51] brusch commented on #10740
I'd add a custom header to the response if the CSRF token is invalid and then do a check and redirect here:
https://github.com/pimcore/pimcore/blob/b7cf6da36c28e59ff224b7807e35f630057e8bd0/bundles/AdminBundle/Resources/public/js/pimcore/startup.js#L232

and the custom header here:
https://github.com/pimcore/pimcore/blob/0a4f27dbecc3829041569846aec535959fa349bc/bundles/AdminBundle/Security/CsrfProt

[2021-11-03 09:00] BlackbitDevs commented on #10740
Redirect to where? You mean reexecute the request with the correct CSRF token?

[2021-11-03 09:02] brusch commented on #10740
Ah sorry, I meant, destroy the session and redirect to login screen.

[2021-11-03 09:46] BlackbitDevs commented on #10740
The problem in our case is that the user IS still logged in. When I simply refresh the page, I do not have to login again. It is just the CSRF token which is not valid anymore but I currently do not have an idea why the token changes (not reproducable but happens from time to time when working in Pimcore backend). But as https://talk.pimcore.org/t/strange-csrf-behaviour-with-csrf-double-session/33

[2021-11-03 10:09] brusch commented on #10740
Yes, so my proposal is:
1. add a custom header to the request exception here:  https://github.com/pimcore/pimcore/blob/b7cf6da36c28e59ff224b7807e35f630057e8bd0/bundles/AdminBundle/Resources/public/js/pimcore/startup.js#L232 so that we can check whether the `403` comes from the CSRF listener or not
2. Check for the custom header here: https://github.com/pimcore/pimcore/blob/0a4f27dbecc3829041569846

[2021-11-03 10:09] valentin- opened #10753 "[Bug]: Links having long URLs not editable in data objects"
### Expected behavior

Edit links as expected

### Actual behavior

As the buttons are positioned using js, they get cut off when used long URLs:

![image](https://user-images.githubusercontent.com/90033/140041618-409a461e-82c0-4044-aedc-d4c50787719a.png)

Replaced by a shorter URL:

![image](https://user-images.githubusercontent.com/90033/140041690-e939d5a1-e60e-43e5-a14a-757bfcaa00fd.png)

### S

[2021-11-03 10:25] NiklasBr opened #10754 "[Bug]: Classification store inheritance is broken"
### Expected behavior

According to [the docs](https://pimcore.com/docs/pimcore/current/Development_Documentation/Objects/Object_Classes/Data_Types/Classification_Store.html#page_Inheritance) a variant should be able to inherit data from a parent object.

### Actual behavior

Certain fields appear to not inherit properly using the standard getters *OR* the documentation is missing.

### Steps to r

[2021-11-03 11:04] BlackbitDevs commented on #10740
I still have a problem to understand your proposal ;-)
What do you mean with `add a custom header to the request exception`? We cannot add a header to an exception. Do you mean adding a header to the 403 response in https://github.com/pimcore/pimcore/blob/0a4f27dbecc3829041569846aec535959fa349bc/bundles/AdminBundle/Security/CsrfProtectionHandler.php#L68
And then check in https://github.com/pimcore

[2021-11-03 13:35] brusch commented on #10753
Fixed by #10756

[2021-11-03 13:35] #10753 closed, assigned to nobody

[2021-11-03 13:37] brusch commented on #10600
Fixed by #10723

[2021-11-03 13:37] #10600 closed, assigned to nobody

[2021-11-03 14:14] MagPim opened #10757 "[Bug]: Various issues on Perspective Editor"
### Expected behavior

We should create views and be able to add them on the left or right panel in the perspective editor.

### Actual behavior

![image](https://user-images.githubusercontent.com/39189262/140075842-13b81ce1-40f0-408f-a6bf-3fd5e03a2132.png)

I can only add documents, no asset, objects or custom views. Everytime I try, I get the message seen in the image.

### Steps to reproduce

E

[2021-11-03 14:44] valentin- opened #10759 "[Bug]: ExtensionManagerController NullOutput error"
### Expected behavior

-

### Actual behavior

I've installed CoreShop in a Pimcore 10.2 project. Opening the Bundles & bricks page throws an error.

[code]

$output is type hinted as BufferedOutput, but it looks like it can also return a NullOutput, which doesn't provide the fetch() method. I'm not sure if this is an install error and "should not happen", but it would be better to check the $outp

[2021-11-03 15:06] NiklasBr commented on #10740
Something is indeed problematic with the CSRF tokens, for example, even tough I am fully logged in and can edit things in the regular admin UI I get the following error trying to change language in Adminer:
![image](https://user-images.githubusercontent.com/279826/140068293-93fd8319-d91e-4586-9a36-48415220a61d.png)

Forcing redirect/logout in this context seems wrong.

[2021-11-03 15:23] NiklasBr commented on #10754
I found some more info, it appears that the values will not be made available because they are default values:

![image](https://user-images.githubusercontent.com/279826/140089664-709c1967-233d-4526-9e26-dbb80f510e65.png)

"Short Circuit Current 1s" has been manually edited with a `0` value, the other three inputs at the bottom have `0` as the default value.
![image](https://user-images.githubuser

[2021-11-03 15:58] dpfaffenbauer commented on #10759
CoreShop Installer returns `NullOutput` for `Pimcore\Extension\Bundle\Installer\InstallerInterface` cause Pimcore allows it. It worked fine for Pimcore pre X and should also work for Pimcore >= X.

[2021-11-04 10:06] #10759 closed, assigned to nobody

[2021-11-04 10:10] brusch commented on #10740
@NiklasBr Adminer seems to be a different issue directly in Adminer 😊

[2021-11-04 14:43] #9629 closed, assigned to nobody

[2021-11-04 15:19] iidaloiki commented on #10655
@brusch Maintenance function throws following error:

Removing from transport after 3 retries.
Error: "No handler for message "Pimcore\Messenger\GenerateWeb2PrintPdfMessage"."
[
  "message" => Pimcore\Messenger\GenerateWeb2PrintPdfMessage^ { …},
  "class" => "Pimcore\Messenger\GenerateWeb2PrintPdfMessage",
  "retryCount" => 3,
  "error" => "No handler for message "Pimcore\Messenger\GenerateWeb2Pri

[2021-11-04 15:25] blankse commented on #10655
@iibs @brusch Seems there is the "messenger.message_handler" tag in the definition missing. I created an PR. Can you test it?

[2021-11-04 18:44] iidaloiki commented on #10655
@blankse That seemed to fix it for me at least. Thank you very much ☺️

[2021-11-05 07:30] brusch commented on #10655
Fixed by #10765

[2021-11-05 07:30] #10655 closed, assigned to nobody

[2021-11-05 08:15] jdreesen commented on #9980
I don't think this should be closed yet, as #10612 doesn't seem to be the real fix.

[2021-11-05 08:27] brusch commented on #9980
@jdreesen thanks for the hint - this was closed automatically by GitHub because  #10612 was merged 😊

[2021-11-05 09:08] brusch commented on #10679
Added to docker images by https://github.com/pimcore/docker/pull/67

[2021-11-05 09:09] brusch commented on #10649
I'd go for assigning an asset, because this doesn't need an extra storage...

[2021-11-05 10:10] brusch opened #10770 "[Improvement]: Move page preview generation to message queue"
### Improvement description

It's currently done via a the UI: route `pimcore_admin_document_page_generatescreenshot`

[2021-11-05 10:13] brusch opened #10771 "[Improvement]: Message queue asset handler should also generate preview images for videos and office documents"
### Improvement description

see title

[2021-11-05 11:48] blankse commented on #10307
I have also this problem. In the console only get this. Hard to debug:
![image](https://user-images.githubusercontent.com/998558/140505532-c16fa678-26d8-403b-9a87-d52436f9f865.png)

Seems to be if I set a width property.
Example in the demo:

1. Add a relation to Blockquote Areabrick
[code]

2. Add a Blockquote Areabrick to a document and open dialog box:
![image](https://user-images.githubusercon

[2021-11-07 09:41] rahulrkr08 opened #10776 "[Bug]: unkown property type: select"
### Expected behavior

Return data object properties along with select type parameters.

### Actual behavior

Returns error `unkown property type: select`

### Steps to reproduce

- Create predefined property with type as `select
- Attach it with any object
- Query to datahub for properties

[code]

[2021-11-08 08:29] aweichler opened #10779 "[Bug]: many to one relation values are not saved"
### Expected behavior

I drop an object to an many to one relation at an objectbrick in another object.
When I save and reload the relation field is filled.

### Actual behavior

After save and reload the relation field is empty.

### Steps to reproduce

I put a class "Test" in the zip file with an objectbrick "TestBrick". The relation field "car" accepts an object of class "Car" from the pimcore

[2021-11-08 11:27] dvesh3 commented on #10754
Fixed by #10772

[2021-11-08 11:27] #10754 closed, assigned to nobody

[2021-11-09 11:11] wskorodecki opened #10786 "[Bug]: TypeError when trying to validate inherited localized value in objectbrick from parent with no brick"
### Expected behavior

Missing value should not be inherited because there is nothing to inherit as the parent object has no ObjectBrick of the same type.

### Actual behavior

PHP throws a TypeError because $parentContainer becomes NULL due to missing ObjectBrick in parent object.
See: https://github.com/pimcore/pimcore/blob/d0b5dc0d78392ee2d4012d228214901fd1080076/models/DataObject/Localizedfiel

[2021-11-09 16:43] milesimarco commented on #8147
Same problem here: the inclusion of reverse relations in the copy seems a legit and expected behaviour. Any updates about go/no-go decision?

[2021-11-10 10:10] brusch commented on #10716
Fixed by #10720

[2021-11-10 10:10] #10716 closed, assigned to nobody

[2021-11-10 11:12] brusch commented on #10692
Just did a test:
1. create an object with a unique key
2. searched for the unique key using main menu -> search -> data objects
3. result is displayed

Could it be that `bin/console pimcore:maintenance` is not running properly in your case?
See also #10423 - we've moved the indexing to the messenger queue.

[2021-11-10 12:02] NiklasBr commented on #10692
This works as well, but that's not the problem I encountered (and I think others including @mick340 experienced). It was that the backend search was cleared when updating to 10.2.2 (in my case from 10.1.5) and never appeared to be repopulated with data. Any save event added *that specific* object to the backend index, but the index was otherwise empty.

[2021-11-10 12:26] brusch commented on #10692
Interesting, couldn't find any code in the migrations that would clear the search index 🤔

[2021-11-10 13:37] mick340 commented on #10692
Indeed, i still have the issue on V10.2.3. After editing or creating new data objects the search index is cleared and the updated data objects cannot be searched.

[2021-11-10 13:48] brusch commented on #10692
Strange, I really can't reproduce the behavior ... can you maybe debug this? The indexing of the backend search is quite simple, so shouldn't be too hard.
First it would be interesting where the data get's cleared, so if you disable the maintenance script and update a data object, you should see if the index was cleared already, if not you could run the maintenance and check again.

Thanks

[2021-11-11 06:00] sys4cad opened #10806 "[Bug]: titles and selection values are enclosed by "+ sign""
### Expected behavior

title values are displayed with value as it is.

### Actual behavior

title values are enclosed by + sign

### Steps to reproduce

pimcore 10.2.1
![image](https://user-images.githubusercontent.com/9436271/141245631-08c25105-a4af-4aa8-a3b2-92c519ed7205.png)

![image](https://user-images.githubusercontent.com/9436271/141245724-830f00d9-89d9-4aa6-bf71-b7e8764eda0c.png)

As you

[2021-11-11 07:05] matthiashamacher commented on #10806
It seems that you have enabled debug translations. https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/Magic_Parameters.html#page_pimcore-_-debug-_-translations

When that is enabled the translations keys are enclosed by a +: https://github.com/pimcore/pimcore/blob/10.x/bundles/AdminBundle/Resources/public/js/pimcore/functions.js#L75

[2021-11-11 07:21] ckemptner opened #10807 "[Bug]: Outdated link to community forum in composer file"
### Expected behavior

![image](https://user-images.githubusercontent.com/13643455/141255267-1d26aa73-cd2c-4acb-a438-cf46da3e3786.png)

### Actual behavior

Please change it to https://github.com/pimcore/pimcore/discussions

### Steps to reproduce

Thanks!

[2021-11-11 07:26] woellundwoell opened #10809 "[Bug]: No switch of decimal separator in backend GUI (works under 6.9)"
### Expected behavior

Decimal separator switches according to the selected language of the logged in user for all number inputs (number, quantity value, etc.).

### Actual behavior

Decimal separator is always the same: "."
The entry of a comma character is allowed but all data following it will be truncated. Only the first "." sign is treated as decimal separator

### Steps to reproduce

- Log i

[2021-11-11 07:40] blankse commented on #10807
Fixed by https://github.com/pimcore/pimcore/pull/10808

[2021-11-11 08:06] sys4cad commented on #10806
Thanks a millon~ @matthiashamacher

root cause was following setting ( Settings > SystemSettings > Debug )
* I checked this option when set email transport test and didn't know what it mentions even it clearly mentions + translations :)

![image](https://user-images.githubusercontent.com/9436271/141260684-3dfc21e3-40d7-4da4-829a-3cca81b54f22.png)

Please close this issue

[2021-11-11 08:07] #10806 closed, assigned to nobody

[2021-11-11 09:08] woellundwoell opened #10813 "[Bug]: custom reports not createable/modifyable with "app_debug=false""
### Expected behavior

* custom reports are createable/modifyable with app_debug=false

### Actual behavior

* custom reports are not createable/modifyable with app_debug=false (only with app_debug=true)

### Steps to reproduce

* set app_debug=false
* check custom report section: add button is greyed out and save button for existing c.report is greyed out (also in demo system)

I traced this issu

[2021-11-11 15:21] Zamralik opened #10816 "[Feature]: Thumbnail transformation "Cover without Crop" and "Crop (Focal Point Support)""
### Feature description

Contain will make a thumbnail smaller than the width/height dimensions.
Cover will crop the protruding axis.
Crop uses a x/y offset but do not support focal point.

By having the 2 steps of cover available separately, it would give more flexibility in thumbnail configuration.

In some cases of responsive display, it would be better if there was a "Cover without Crop". The

[2021-11-11 17:49] #10807 closed, assigned to nobody

[2021-11-12 08:00] brusch commented on #10816
"contain" is exactly doing what you're describing.
You can't do "cover" without cropping or deforming the image, e.g. source image is 4000x3000 pixels, target thumbnail should have exactly 300x200 pixels, so you need to either crop the image, add transparent frames or deform it to get exactly 300x200.

[2021-11-12 08:00] #10816 closed, assigned to nobody

[2021-11-12 08:06] brusch opened #10819 "[Bug]: Document\DocType::$staticGeneratorEnabled should be `bool`"
### Expected behavior

Document\DocType::$staticGeneratorEnabled is boolean.

### Actual behavior

Document\DocType::$staticGeneratorEnabled is integer

### Steps to reproduce

just needs to be fixed.

[2021-11-12 12:01] breakone commented on #6885
just came across that in 6.6 and it was fixed with X: https://github.com/pimcore/pimcore/pull/7247.

[2021-11-12 12:23] solverat commented on #10467
@brusch Why has this been closed? The docs are still wrong: https://github.com/pimcore/pimcore/blob/10.2/doc/Development_Documentation/19_Development_Tools_and_Details/25_Email_Framework/README.md

BTW: What are the recommendations for editors if they want to define some dynamic fields in their email templates eg. wysiwyg editors (like "Hello {{ name }}")?

[2021-11-12 13:23] brusch commented on #10467
Must have been by mistake, sorry 😊
Yes for dynamic fields you can use Twig, as described.

[2021-11-12 13:23] brusch commented on #10467
Btw. PRs are still welcome 😉

[2021-11-12 16:13] Zamralik commented on #10816
@brusch, It doesn't.
If you have a 4000x3000 image and do "cover without crop" set for 300x200, you would end with a 300x225 thumbnail.
Using "contain", you would end with a 267x200 thumbnail.

There is no way to achieve this result with existing transformations unless you do the computation manually in the code itself.

[2021-11-12 17:12] Blackbam opened #10828 "[Bug][Improvement]: Pimcores Authentication built on deprecated Symfony components?"
### Expected behavior

Trying to implement a Pimcore-independent user login built on Symfonys most recent authentication mechanism should be possible following the official documentation: https://symfony.com/doc/current/components/security/authentication.html

### Actual behavior

Trying to implement Symfonys most recent Authentication system I am getting the following error:

`Unrecognized option

[2021-11-12 17:36] dvesh3 commented on #10828
Yes, the plan is to migrate to new authentication mechanism on Pimcore X without breaking existing implementations https://github.com/pimcore/pimcore/issues/8195#issuecomment-785065966 otherwise it will be a topic for Pimcore 11.

[2021-11-12 21:21] noelhunter opened #10830 "[Bug]:"
### Expected behavior

Opening Customers menu item on clean install of Pimcore/demo,  visible at https://demo.pimcore.fun

### Actual behavior

Declaration of App\Model\Customer::getProfilingConsent() must be compatible with CustomerManagementFrameworkBundle\Model\AbstractCustomer::getProfilingConsent(): ?Pimcore\Model\DataObject\Data\Consent in /var/www/my-project/src/Model/Customer.php

### Step

[2021-11-14 11:52] ckemptner opened #10832 "[Improvement]: Show Public URL for documents in backend"
### Improvement description

Similar as we already have it for assets.
![image](https://user-images.githubusercontent.com/13643455/141679521-f8cc6c2b-fc92-4298-a6b7-dc35f26009fb.png)

Would be helpful in some situations to quickly retrieve the URL of a document (without having to open it in the frontend).

Should also consider pretty URLs & sites.

[2021-11-15 11:19] brusch commented on #10584
Fixed by #10836

[2021-11-15 11:19] #10584 closed, assigned to nobody

[2021-11-15 12:51] NiklasBr commented on #10698
The zebra striping is also a bit broken on the Email log page:
![image](https://user-images.githubusercontent.com/279826/141785146-393625e5-e858-4404-bf0d-a80f3706a2cd.png)

[2021-11-15 14:44] rberneder commented on #10004
Unfortunately there is still a similar issue when sorting for a translation-column (e.g. German) @dvesh3 & @brusch.
If you list all translation keys in the demo installation, and sort them by German, all other language translations disappear.
Should I write a new issue for that?

[2021-11-16 14:24] #10832 closed, assigned to nobody

[2021-11-16 15:42] NiklasBr opened #10841 "[Bug]: AssetDocumentConversionTask deleted"
### Expected behavior

[According to the documentation](https://pimcore.com/docs/pimcore/current/Development_Documentation/Assets/Working_with_Thumbnails/Document_Thumbnails.html) PDF:s and other files should have thumbnails being generated though the maintenance tasks.

### Actual behavior

It appears it is a regression of #10425 and #10390

### Steps to reproduce

1. Upload a PDF file
2. Wait fo

[2021-11-17 12:41] xlttj opened #10847 "[Bug]: Static Routes not ordered by priority as of 10.2.0"
### Expected behavior

Static routes should be ordered by the closure method defined in https://github.com/pimcore/pimcore/blob/10.2/lib/Routing/Staticroute/Router.php#L323

### Actual behavior

Static routes are nor ordered by priority before they are processed in https://github.com/pimcore/pimcore/blob/10.2/lib/Routing/Staticroute/Router.php#L246

The code in https://github.com/pimcore/pimcore/b

[2021-11-17 13:07] dvesh3 opened #10850 "[Tests] Unmark internal: KernelTestCase & WebTestCase class"
### Improvement description

As these classes can be extended in tests as explained in the docs https://pimcore.com/docs/pimcore/current/Development_Documentation/Development_Tools_and_Details/Testing/Application_Testing.html#page_Bootstrapping-Pimcore

[2021-11-17 17:18] brusch commented on #10850
Fixed by #10851

[2021-11-17 17:18] #10850 closed, assigned to nobody

[2021-11-18 07:54] sys4cad opened #10855 "[Bug]: imported data converted by HTML char"
### Expected behavior

' " should be maintain as it is.

### Actual behavior

some characters are converted HTML char format as following

![image](https://user-images.githubusercontent.com/9436271/142374247-85f3ee03-dfd0-49e6-a522-bac27118a3d2.png)

single quote char(') is converted  by &#39;

### Steps to reproduce

import data by datahub graphql service.

[2021-11-18 07:58] solverat opened #10856 "[Feature]: Use new authenticator-based Security System"
### Feature description

A new Security was introduced in Symfony 5.1, which will eventually replace security in Symfony 6.0.

[code]

Not sure if this is a pimcore XI thing or if it's a good idea to switch over withing X for more freedom in current deprecation logs.

[2021-11-18 08:29] dvesh3 commented on #10856
Yes, this is on our list to check if it can still be supported on Pimcore X (without a BC break).

[2021-11-18 08:31] dvesh3 commented on #10786
Fixed by #10820

[2021-11-18 08:31] #10786 closed, assigned to nobody

[2021-11-18 09:28] #10662 closed, assigned to dvesh3

[2021-11-19 09:22] shlingok opened #10863 "[Bug]: I can't find the submenu for customer"
### Expected behavior

10.x-dev version

### Actual behavior

10.x-dev version

### Steps to reproduce

10.x-dev version

[2021-11-19 09:42] dvesh3 commented on #10863
sorry, cannot reproduce
![image](https://user-images.githubusercontent.com/5137917/142601186-0981637e-5060-489e-a658-a2e8e31b7d71.png)

[2021-11-19 09:42] #10863 closed, assigned to nobody

[2021-11-19 21:41] jansarmir opened #10868 "[Bug]: VoucherService fails at isReserved"
### Expected behavior

Cannot add token to cart

### Actual behavior

after calling $cart->addVoucherToken with existing token, with no token in cart, operation fails

https://github.com/pimcore/pimcore/blob/91531281537b7cc8307682517fa9cc03aa617e4f/bundles/EcommerceFrameworkBundle/VoucherService/Token/Dao.php#L62

Fails when $reservation === NULL

### Steps to reproduce

Create token, add to cart,

[2021-11-20 11:34] jansarmir opened #10869 "[Bug]: Cant create new VoucherTokenTypeSingle"
### Expected behavior

After saving **OnlineShopVoucherSeries** and clicking on **Voucher Detail** i should see Manager and Statistics

### Actual behavior

Clicking on **Voucher Detail** for new **OnlineShopVoucherSeries** without tokens, we got error

### Steps to reproduce

Create **OnlineShopVoucherSeries** with **VoucherTokenTypeSingle** and click on **Voucher Detail**

[2021-11-22 02:39] shlingok commented on #10863
![image](https://user-images.githubusercontent.com/6915649/142793070-c25b31ec-45e9-47c4-b2b6-fb054e59b77a.png)
Click no response, and do not see those submenus

[2021-11-22 07:18] blankse commented on #10863
Did you test it without browser extensions? I recently had similar problems with an extension.

[2021-11-22 10:46] brusch commented on #10869
![image](https://user-images.githubusercontent.com/142037/142847955-2449af3a-2325-4471-8be2-4344127c7a76.png)

[2021-11-22 10:55] brusch commented on #10828
Duplicates #10856

[2021-11-22 10:55] #10828 closed, assigned to nobody

[2021-11-22 10:55] brusch commented on #10856
See also #10828 and https://github.com/pimcore/pimcore/issues/8195#issuecomment-785065966

[2021-11-22 10:59] brusch commented on #10813
That's intentional.
Configs are written to Symfony Config files ( `yaml`), which are only getting revalidated in debug mode. So if you're changing configs in production you won't see any update, because the config isn't getting updated.

If you'd like to allow changes in production, switch to the alternate `settings-store` config storage.
You can do so by adding the following to your `.env` or jus

[2021-11-22 10:59] #10813 closed, assigned to nobody

[2021-11-22 12:46] brusch commented on #10869
Fixed by #10876

[2021-11-22 12:46] #10869 closed, assigned to nobody

[2021-11-22 16:17] matthiashamacher commented on #3389
Not reproducible anymore. Please close.

[2021-11-22 16:21] matthiashamacher commented on #3392
Not reproducible anymore. Please close.

[2021-11-22 16:32] #3389 closed

[2021-11-22 16:32] brusch commented on #3389
@matthiashamacher thanks a lot for checking! 🙏

[2021-11-22 16:33] brusch commented on #3392
Thanks for the feedback!

[2021-11-22 16:33] #3392 closed

[2021-11-23 09:00] dvesh3 commented on #10863
@shlingok Please check console for errors.

@blankse do you know which extension?

[2021-11-23 09:02] blankse commented on #10863
KeePassXC-Browser, but is fixed in the new version.

[2021-11-23 09:36] dvesh3 commented on #10813
@brusch I think docs should be updated. https://github.com/pimcore/pimcore/commit/9c40205ab2e8e2272b84f39284b9726e21f72dac

[2021-11-23 11:20] brusch commented on #10813
@dvesh3 thanks for updating!

[2021-11-23 12:08] ctippler opened #10884 "[Improvement]: Elasticsearch - remove "indexType""
### Improvement description

Currently the Elasticsearch Index works with indexTypes.
As long as dont specify a custom indexType or you name it "_doc" it works.

Currently ES 7 shows a warning that "types" won't be supported anymore in ES8.
![image](https://user-images.githubusercontent.com/8791970/143021329-a39a5395-f59b-4eb1-8aa3-5256fd3ea4f0.png)

Therefore the indexType should be removed. With

[2021-11-23 12:21] dvesh3 commented on #10847
Fixed by #10879

[2021-11-23 12:21] #10847 closed, assigned to mcop1

[2021-11-24 05:48] brusch commented on #10868
fixed by #10881

[2021-11-24 05:48] #10868 closed, assigned to nobody

[2021-11-24 07:11] dezaidamalek opened #10886 "[Bug]: Unable to upload data object using Data Importer"
### Expected behavior

Data from .xslx sheet (which is already uploaded into Asset) is supposed to be uploaded as data object.

### Actual behavior

Data from .xslx sheet (which is already uploaded into Asset) is not uploaded once manual execution is triggered.

![data importer](https://user-images.githubusercontent.com/45670306/142992917-89af83aa-c066-481f-bfd5-711c1368c752.png)

### Steps to rep